m-youtubeMigration__transferStatus {
  display: block;
  @include m-theme() {
    border-bottom: 1px solid themed($m-borderColor--primary);
  }

  .m-youtubeMigration__transferStatusWrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 18px 0;
    font-size: 15px;
    line-height: 17px;
  }
  .m-youtubeMigration__transferStats {
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
    div {
      display: inline-block;
      margin-right: 3px;
    }
    span {
      font-weight: 500;
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
    }
  }
  a {
    text-align: right;
    font-weight: 400;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    @include m-theme() {
      color: themed($m-link);
    }
  }
}
