<div class="m-youtubeMigration__transferStatusWrapper" *ngIf="init">
  <div class="m-youtubeMigration__transferStats">
    <div>
      <span>{{ dailyLimit }}</span
      >/day limit ·
    </div>
    <div>
      <div>
        <span>{{ counts.queued }}</span> queued ·
      </div>
      <!-- <div>
        <span>{{ counts.transferring }}</span> transferring
      </div> -->
    </div>
  </div>
  <a
    (click)="transferAllVideos()"
    [ngClass]="{
      'm-youtubeMigration__transferAll--active':
        (importingAllVideos$ | async) || transferringAll
    }"
    ><ng-container *ngIf="!(importingAllVideo$ | async) && !transferringAll"
      >Transfer all videos</ng-container
    >
    <ng-container *ngIf="(importingAllVideos$ | async) || transferringAll"
      >Transferring</ng-container
    ></a
  >
</div>
