@import 'defaults.scss';

:host {
  position: relative;

  .m-boostOfferTarget__input {
    width: 100%;
    border-radius: 2px;
    outline: none;
    padding: 10px 20px;
    font-size: 16px;

    @include m-theme() {
      color: themed($m-textColor--primary);
      border: 1px solid themed($m-borderColor--primary);
      background-color: themed($m-bgColor--primary);
    }
  }

  .m-boostOfferTarget__matchesList {
    position: absolute;
    top: 57px;
    padding: unset;
    width: calc(100% - 2px);

    @include m-theme() {
      border: 1px solid themed($m-borderColor--primary);
      background-color: themed($m-bgColor--secondary);
    }

    > * + * {
      @include m-theme() {
        border-top: 1px solid themed($m-borderColor--primary);
      }
    }

    .m-boostOfferTarget__matchesListItem {
      list-style: none;
      padding: 10px;
      cursor: pointer;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      &:hover {
        @include m-theme() {
          background-color: themed($m-bgColor--primary);
        }
      }

      .m-boostOfferTarget__matchesListAvatar {
        border-radius: 50%;
        width: 35px;
        height: 35px;
        margin-right: 10px;
      }

      .m-boostOfferTarget__matchesListText {
        font-size: 16px;
        font-weight: 400;
        max-width: 40%;
        text-overflow: ellipsis;
        overflow-x: hidden;

        &.m-boostOfferTarget__matchesListText--primary {
          @include m-theme() {
            color: themed($m-textColor--primary);
          }
        }

        &.m-boostOfferTarget__matchesListText--secondary {
          @include m-theme() {
            color: themed($m-textColor--secondary);
          }
        }
      }
    }
  }

  .m-boostOfferTarget__title {
    font-size: 16px;
    line-height: 1.375;
    font-weight: 400;
    margin: 0 0 10px 0;

    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }
}
