<div class="m-pro-user-menu m-dropdown">
  <a class="m-pro-user-menu__Anchor" (click)="toggleMenu()"><i class="material-icons">menu</i></a>

  <ul class="m-dropdown__list m-pro-user-menu__dropdown mdl-shadow--3dp" [hidden]="!isOpen">
      <li
        class="m-dropdownList__item m-pro-user-menuDropdown__item"
        (click)="closeMenu()"
      >
        <a [routerLink]="['/pro', channel.username, 'feed']" routerLinkActive="active" i18n>Feed</a>
      </li>

      <li
        class="m-dropdownList__item m-pro-user-menuDropdown__item"
        (click)="closeMenu()"
      >
        <a [routerLink]="linkTo('videos', query)" routerLinkActive="active" i18n>Videos</a>
      </li>

      <li
        class="m-dropdownList__item m-pro-user-menuDropdown__item"
        (click)="closeMenu()"
      >
        <a [routerLink]="linkTo('images', query)" routerLinkActive="active" i18n>Images</a>
      </li>

      <li
        class="m-dropdownList__item m-pro-user-menuDropdown__item"
        (click)="closeMenu()"
      >
        <a [routerLink]="linkTo('articles', query)" routerLinkActive="active" i18n>Articles</a>
      </li>

      <li
        class="m-dropdownList__item m-pro-user-menuDropdown__item"
        (click)="closeMenu()"
      >
        <a [routerLink]="linkTo('groups', query)" routerLinkActive="active" i18n>Groups</a>
      </li>

      <li
        class="m-dropdownList__item m-pro-user-menuDropdown__item"
        (click)="closeMenu()"
      >
        <a [routerLink]="['/pro', channel.username, 'donate']" routerLinkActive="active">Donate</a>
      </li>
  </ul>
</div>

<div class="minds-bg-overlay" (click)="closeMenu()" [hidden]="!isOpen"></div>
