@import 'themes';

.m-commentPoster__limit {
  font-size: 10px;
  color: $grey-600;
  padding: 12px 0;
  cursor: default;
}

.m-commentPoster__limit--maxed {
  @include m-theme() {
    color: themed($m-red);
  }
}

.m-commentPosterLimit__inputed {
  font-weight: 600;
}

.m-comment--poster {
  padding: 8px 12px 12px 12px;
}
