@import 'defaults.scss';

:host {
  // ******************************************
  // ** ACTIVITY V2 DEFAULT **
  // ******************************************

  m-activity &,
  m-activity__modal & {
    .m-commentPoster__form {
      ::ng-deep minds-textarea {
        .m-placeholder {
          @include body2Regular;
        }
      }
    }

    .m-commentPoster--nested {
      padding-left: 0;
    }

    .m-comments--start-conversation-label {
      display: none;
    }
  }

  // ******************************************
  // ******************************************
  // ******************************************
  // ** DEFAULT **
  // ******************************************
  // ******************************************
  // ******************************************

  position: relative;

  scroll-margin: 10vh;

  .m-commentPoster__popupWrapper {
    position: absolute;
    width: 100%;
    bottom: 130%;
    @include z-index(tooltip);
  }
}
