@import 'themes';

.m-commentPoster__limit {
  font-size: 10px;
  color: $grey-600;
  padding: 8px 0;
  cursor: default;
}

.m-commentPoster__limit--maxed {
  @include m-theme() {
    color: themed($m-red);
  }
}

.m-commentPosterLimit__inputed {
  font-weight: 600;
}

.m-comment--poster {
  padding: 8px 12px 12px 12px;
}

.m-commentPoster__top {
  .m-comment--poster {
    padding: 0 12px 8px 12px;

    .minds-body {
      min-height: unset;
    }
  }
}

.m-matureButton__img--selected {
  filter: invert(33%) sepia(25%) saturate(5343%) hue-rotate(342deg)
    brightness(100%) contrast(92%);
}

.m-attachmentButton__img--selected {
  filter: invert(65%) sepia(100%) saturate(429%) hue-rotate(355deg)
    brightness(103%) contrast(102%);
}
