.m-token--onboarding--completed-buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -4px;
  .m-btn {
    margin: 4px;
    height: 20px;
  }

  a {
    text-decoration: none;
  }
}

.m-token--onboarding--video {
  text-align: center;

  img {
    height: 100%;
    margin: 0 auto;
  }
}
