<div class="m-token--onboarding--slide m-border">
  <div class="m-token--onboarding--column">
    <h2>You’re all setup and ready to go!</h2>

    <p class="m-token--onboarding--subtext">
      Great, you have successfully configured your wallet to receive rewards and
      OnChain & OffChain payments.
    </p>
    <p class="m-token--onboarding--subtext">
      To learn more about tokens and crypto, visit the <b>Tokens 101</b> section
      below at any time where you can find tutorials, videos and an FAQ.
    </p>

    <div class="m-token--onboarding--completed-buttons">
      <a class="m-btn m-btn--slim" routerLink="/wallet/tokens/101"
        >More on Rewards</a
      >
      <a class="m-btn m-btn--slim" routerLink="/wire">Learn Wire</a>
      <a class="m-btn m-btn--slim" routerLink="/boost">Learn Boost</a>
    </div>
  </div>

  <div class="m-token--onboarding--column m-layout--column">
    <div class="m-token--onboarding--video m-border">
      <img src="/assets/logos/bulb.svg" />
    </div>
    <div class="m-layout--spacer"></div>

    <div class="m-layout--row">
      <div class="m-layout--spacer"></div>
      <button class="m-btn m-btn--slim m-btn--action" (click)="complete()">
        Complete
      </button>
    </div>
  </div>
</div>
