m-youtubeMigration__dashboard {
  .m-tabs__container {
    margin: 10px 0 !important;
    padding: 0 !important;
    .m-tabs__tab {
      a {
        padding: 10px 0 !important;
      }
      &:first-child {
        a {
          margin-left: 0 !important;
        }
      }
    }
  }
}
