<m-settingsV2__header>
  <div class="m-settingsV2__headerLabel">
    <span i18n="@@SETTINGS__ACCOUNT__AUTOPLAY__LABEL">Autoplay Videos</span>
  </div>
  <div
    class="m-settingsV2__desc"
    i18n="@@AUTOPLAY_VIDEOS__CONTROL_AUTOPLAY_INFORMATION"
  >
    Control whether videos in your feed play automatically.
    <ng-container *ngIf="!isPlus"
      ><br /><br />This feature is only available to Plus users.
      <a class="m-form__upgradeLink" routerLink="/plus" *ngIf="!isPlus"
        >Upgrade to Plus</a
      ></ng-container
    >
  </div>
</m-settingsV2__header>

<form *ngIf="form" [formGroup]="form" class="m-formLayout--buttonRight">
  <div class="m-form__fieldsContainer">
    <div class="m-form__field--checkbox stretchedField">
      <div class="m-form__row--input">
        <label
          for="autoplay_videos"
          class="m-form__customInputWrapper__checkbox"
          [ngClass]="{ readonly: !isPlus }"
        >
          <ng-container i18n="@@AUTOPLAY_VIDEOS__ENABLE_VIDEO_AUTOPLAY"
            >Enable video autoplay</ng-container
          >
          <input
            type="checkbox"
            id="autoplay_videos"
            name="autoplay_videos"
            formControlName="autoplay_videos"
            class="form-control"
            data-ref="m-settingsAutoplay__checkbox--videos"
            [readonly]="inProgress || !init || !isPlus"
          />
          <span class="m-form__customInput__checkbox"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="m-form__buttonsContainer">
    <m-button
      color="blue"
      [disabled]="!canSubmit()"
      [saving]="inProgress"
      (onAction)="submit()"
      i18n="@@AUTOPLAY_VIDEOS__UPDATE_PREFERENCE"
    >
      Update Preference
    </m-button>
  </div>
</form>
