<div class="mdl-card__title" [routerLink]="linksTo">
  <h2 class="mdl-card__title-text" style="text-transform:capitalize" [ngSwitch]="type">
    <ng-template ngSwitchCase="image" i18n="@@M__FEATURE__IMAGE_PLURAL">Images</ng-template>
    <ng-template ngSwitchCase="video" i18n="@@M__FEATURE__VIDEO_PLURAL">Videos</ng-template>
    <ng-template ngSwitchCase="blog" i18n="@@M__FEATURE__BLOG_PLURAL">Blogs</ng-template>
    <ng-template ngSwitchDefault>{{ type }}</ng-template>
  </h2>
</div>

<div class="mdl-card__supporting-text mdl-color-text--grey-600 minds-channel-media-sidebard" style="min-height:0;" *ngIf="type != 'blog'">
  <a *ngFor="let object of items"
    [routerLink]="['/media', object.guid]"
    [ngClass]="{ 'm-mature-module-thumbnail': attachment.shouldBeBlurred(object) }"
    >
    <span class="m-thumb-image" [ngStyle]="{'background-image': 'url(' + object.thumbnail_src + ')'}"></span>
    <i class="material-icons">explicit</i>
  </a>
</div>

<div *ngIf="type == 'blog'" style="min-height:0;">
  <minds-card [object]="blog" *ngFor="let blog of items" class="mdl-card" style="border-radius:0;"></minds-card>
</div>
<div class="mdl-spinner mdl-js-spinner is-active minds-channel-sidebar-loader" [mdl] [hidden]="!inProgress"></div>

<ng-content></ng-content>
