@import 'defaults.scss';

:host {
  // Used only to display in storybook
  .m-avatar__wrapper & {
    .minds-avatar {
      background-position: center center;
      background-size: cover;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      max-width: none;
      margin: 0;
    }
  }
}

.m-topbar__top--minimalLightMode :host .minds-avatar {
  border: 1px solid color-by-theme($m-borderColor--primary, 'light');
  background-color: color-by-theme($m-bgColor--primary, 'light');
}
