<div
  class="minds-avatar m-avatar__wrapper"
  [ngStyle]="{ 'background-image': 'url(' + (getSrc() | async) + ')' }"
>
  <img
    *ngIf="!(userAvatarService.src$ | async)"
    src="{{ cdnAssetsUrl }}assets/avatars/blue/default-large.png"
    class="mdl-shadow--4dp"
  />
  <div *ngIf="editing" class="overlay">
    <i class="material-icons">{{ icon }}</i>
    <ng-container *ngIf="showPrompt">
      <span
        *ngIf="userAvatarService.src$ | async"
        i18n="@@COMMON__AVATAR__CHANGE"
        >Change avatar</span
      >
      <span
        *ngIf="!(userAvatarService.src$ | async)"
        |}}
        i18n="@@COMMON__AVATAR__ADD"
        >Add an avatar</span
      >
    </ng-container>
  </div>
  <input *ngIf="editing" type="file" #file (change)="add($event)" />
</div>
