@import 'defaults.scss';

:host {
  display: block;
  border-radius: $m-borderRadius !important;

  @include m-theme() {
    background-color: themed($m-bgColor--primary);
  }

  ::ng-deep m-activity {
    margin: 0;
    margin-bottom: 0 !important;
    border: 0 !important;
  }
}
