@import 'defaults.scss';

:host {
  > div {
    padding: 20px;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    font-weight: 300;

    @include m-theme() {
      background-color: themed($m-bgColor--secondary);
    }
  }
  a {
    cursor: pointer;
    text-decoration: none;
    font-weight: 300;
    @include m-theme() {
      color: themed($m-blue);
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
