@import "defaults";

.m-pages{
  h1{
    margin-top:0;
  }
  font-family: Lato, Helvetica, Arial, sans-serif;

  p, li{
    font-size:16px;
    color: #6a6a6a;
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 16px;
  }
}
