.m-media--images--list{
  display: flex;
  flex-direction: row;
  flex-wrap: row;
  flex-flow: row wrap;
  //background: #FFF;
  max-width: 1280px;
  margin: auto;

  m-media--images--tile {
    //flex: auto;
    margin: 2px;
    flex-basis: 316px;

    //1:1 ration default (square)
    max-width: 316px;
    max-height: 316px;
    overflow: hidden;
  }
}
