<div class="mdl-grid m-admin-payouts" style="max-width:600px">
  <div class="m-note">
    <ng-container
      >Users can be banned for monetizing on the dropdown in their
      profile.</ng-container
    >
  </div>

  <div
    *ngFor="let payout of payouts; let i = index"
    class="mdl-cell mdl-cell--12-col"
  >
    <div class="mdl-card mdl-shadow--4dp m-payout">
      <div class="m-payout-meta">
        <p class="m-user" *ngIf="payout.userObj">
          <a [routerLink]="['/', payout.userObj.username]" target="_blank">
            <img
              [src]="
                '/icon/' +
                payout.userObj.guid +
                '/tiny/' +
                payout.userObj.icontime
              "
              alt=""
            />
            {{ payout.userObj.username }}
          </a>
        </p>
        <p class="m-date">{{ payout.ts * 1000 | date: 'medium' }}</p>
      </div>

      <div class="m-payout-cta" *ngIf="reviewing !== i">
        <m-button color="blue" (onAction)="review(i)" [saving]="inProgress">
          Review
        </m-button>
      </div>
      <div class="m-payout-cta" *ngIf="reviewing === i">
        <m-button color="blue" (onAction)="pay(i)" [saving]="inProgress">
          Pay
        </m-button>

        <m-button (onAction)="review(null)" [saving]="inProgress">
          Cancel
        </m-button>
      </div>
    </div>
  </div>

  <infinite-scroll
    distance="25%"
    (load)="load()"
    [moreData]="moreData"
    [inProgress]="inProgress"
  >
  </infinite-scroll>
</div>
