<div class="m-skale__communityPool" [formGroup]="form">
  <div class="m-skale__inputAmountContainer">
    <h6>Deposit ETH to fund withdrawals</h6>
    <input
      type="number"
      class="m-input"
      [(ngModel)]="amount"
      placeholder="Enter amount"
      formControlName="amount"
    />
    <div class="m-skale__depositedAmount">
      Deposited: {{ (communityPoolBalance | number) ?? 0 }} ETH
    </div>
  </div>

  <div class="m-skale__buttonContainer">
    <m-button
      color="primary"
      (onAction)="withdrawCommunityPool()"
      [disabled]="!form.valid"
      >Withdraw</m-button
    >
    <m-button color="primary" (onAction)="depositCommunityPool()"
      >Deposit</m-button
    >
  </div>
</div>
