<ng-container *ngIf="visible">
  <m-sidebarWidget [titleText]="title">
    <div class="m-sidebarWidget__body">
      <m-loadingSpinner
        *ngIf="!entityGuid"
        [inProgress]="inProgress$ | async"
      ></m-loadingSpinner>
      <ul>
        <ng-container *ngIf="entityGuid; else forYou">
          <li
            *ngFor="let tag of activityRelated$ | async | slice: 0:limit"
            class="m-discoveryTrends__trend"
          >
            <ng-container
              [ngTemplateOutlet]="tagTemplate"
              [ngTemplateOutletContext]="{ tag: tag }"
            ></ng-container>
          </li>
        </ng-container>
        <ng-template #forYou>
          <li
            *ngFor="let tag of trending$ | async | slice: 0:limit"
            class="m-discoveryTrends__trend"
          >
            <ng-container
              [ngTemplateOutlet]="tagTemplate"
              [ngTemplateOutletContext]="{ tag: tag }"
            ></ng-container>
          </li>
        </ng-template>
      </ul>
    </div>
    <m-button
      class="m-sidebarWidget__seeMore"
      (onAction)="seeMore()"
      size="small"
      stretch="true"
      [solid]="true"
      *ngIf="limit === 5 && !(inProgress$ | async) && !entityGuid"
      i18n="@@COMMON__SEE_MORE__ACTION"
      data-ref="sidebar-tags-more"
      >See more</m-button
    >
  </m-sidebarWidget>

  <ng-template #tagTemplate let-tag="tag">
    <ng-container>
      <a
        [routerLink]="parentPath + '/search'"
        [queryParams]="{ q: '#' + tag.value, f: 'top', t: 'all' }"
        data-ref="sidebar-tags-tag"
      >
        <div>
          <h4>#{{ tag.value }}</h4>
          <div
            class="m-discoveryTrendListItem__supportingText--below"
            *ngIf="tag.posts_count"
          >
            <span i18n="@@DISCOVERY_SIDEBAR_TAGS__X_POSTS"
              >{{ tag.posts_count }} posts</span
            >
          </div>
        </div>
      </a>
      <m-discovery__tagButton [tag]="tag"></m-discovery__tagButton>
    </ng-container>
  </ng-template>
</ng-container>
