@import 'defaults.scss';

:host {
  m-web3-modal {
    ::ng-deep {
      m-modal {
        @include z-index(modal--stackable);
        display: block;
        position: unset;

        .m-web3Modal {
          max-width: 800px !important;
        }
      }
    }
  }

  & > ::ng-deep m-chatIcon {
    @media screen and (min-width: $max-mobile + 1) {
      display: none;
    }
  }

  @media screen and (max-width: $max-mobile) {
    m-notificationToaster {
      display: none;
    }
  }
}
