m-sidebar--navigation {
  display: contents;

  &.m-sidebarNavigation--opened {
    .m-sidebarNavigation__overlay {
      z-index: 999998;

      @include m-theme() {
        background-color: rgba(themed($m-grey-700), 0.2);
      }
    }

    .m-sidebarNavigation.m-sidebarNavigation--slide {
      transform: translateX(316px);
    }
  }

  .m-sidebarNavigation__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: transparent;
    transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    &.m-sidebarNavigation--opened {
      z-index: 999998;
      @include m-theme() {
        background-color: rgba(themed($m-grey-700), 0.2);
      }
    }
  }

  .m-sidebarNavigation__user {
    a {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 17px;
      line-height: 44px;
      text-decoration: none;
      cursor: pointer;

      @include m-theme() {
        color: themed($m-textColor--secondary);
      }

      &:hover {
        @include m-theme() {
          color: themed($m-black);
        }
      }

      img {
        width: 26px;
        height: 26px;
        border-radius: 50%;

        margin-right: 28px;
      }
    }
  }

  .m-sidebarNavigation {
    grid-area: nav;

    padding-top: 8px !important;
    padding-left: 33.3%;
    min-width: 0;
    box-sizing: border-box;

    @include m-theme() {
      background-color: themed($m-body-bg);
      border-right: 1px solid themed($m-grey-400);
    }

    .m-sidebarNavigation__top {
      display: none;
    }

    &.m-sidebarNavigation--slide {
      position: fixed;
      top: 0;
      bottom: 0;
      left: -316px;
      width: 316px;
      max-width: 79vw;
      z-index: 999999;
      padding: 0;

      transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

      //&.m-sidebarNavigation--opened {
      //  transform: translateX(316px);
      //}

      .m-sidebarNavigation__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        box-sizing: border-box;

        height: 65px;

        padding: 0 24px;

        @include m-theme() {
          border-bottom: 1px solid themed($m-borderColor--primary);
        }

        a > img {
          height: 36px;
          cursor: pointer;
        }

        i.material-icons {
          cursor: pointer;
          @include m-theme() {
            color: themed($m-textColor--secondary);
          }
        }
      }

      .m-sidebarNavigation__user {
        padding: 37px 35px 0;
      }

      ul {
        padding: 0 35px 0;

        .m-sidebarNavigation__item {
          margin: 4px 0;
        }

        &.m-groupSidebarMarkers__list {
          padding: 0 35px 35px !important;
        }
      }

      h5 {
        padding: 0 35px;
      }
    }

    nav {
      //min-height: 100vh;
      //height: 100%;
    }

    ul {
      list-style: none;
      padding: 0;
    }
  }

  .m-sidebarNavigation__item {
    display: flex;
    //flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto', Helvetica, sans-serif;
    margin: 15px 0;
    font-weight: bold;

    font-size: 17px;
    line-height: 44px;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }

    &.m-sidebarNavigation__item--active {
      font-weight: bold;
      @include m-theme() {
        color: themed($m-black);
      }
    }

    m-tooltip {
      i.material-icons,
      img {
        margin-right: 30px;
      }
    }
  }
}
