<nav class="m-sidebar--navigation">
  <ul>
    <li>
      <a
        class="m-sidebar--navigation--item"
        [routerLink]="['/newsfeed']"
        [routerLinkActive]="'m-sidebar--navigation--item-active'"
        [title]="'Newsfeed'"
      >
        <i class="material-icons">check</i>

        <span class="m-sidebar--navigation--text" i18n>Newsfeed</span>
      </a>
    </li>

    <li>
      <a
        class="m-sidebar--navigation--item"
        [routerLink]="['/newsfeed/global/top']"
        [routerLinkActive]="'m-sidebar--navigation--item-active'"
        [title]="'Discover'"
      >
        <i class="material-icons">check</i>

        <span class="m-sidebar--navigation--text" i18n>Discover</span>
      </a>
    </li>

    <li>
      <a
        class="m-sidebar--navigation--item"
        [routerLink]="['/wallet']"
        [routerLinkActive]="'m-sidebar--navigation--item-active'"
        [title]="'Wallet'"
      >
        <i class="material-icons">check</i>

        <span class="m-sidebar--navigation--text" i18n>Wallet</span>
      </a>
    </li>

    <li>
      <a
        class="m-sidebar--navigation--item"
        [routerLink]="['/' + user.username]"
        [routerLinkActive]="'m-sidebar--navigation--item-active'"
        [title]="'Profile'"
      >
        <i class="material-icons">check</i>

        <span class="m-sidebar--navigation--text" i18n>Profile</span>
      </a>
    </li>

    <li>
      <a
        class="m-sidebar--navigation--item"
        [routerLink]="['/analytics']"
        [routerLinkActive]="'m-sidebar--navigation--item-active'"
        [title]="'Analytics'"
      >
        <i class="material-icons">check</i>

        <span class="m-sidebar--navigation--text" i18n>Analytics</span>
      </a>
    </li>

    <li>
      <a
        class="m-sidebar--navigation--item"
        [routerLink]="['/settings']"
        [routerLinkActive]="'m-sidebar--navigation--item-active'"
        [title]="'Settings'"
      >
        <i class="material-icons">check</i>

        <span class="m-sidebar--navigation--text" i18n>Settings</span>
      </a>
    </li>
  </ul>
</nav>
<h5 i18n>
  Groups
</h5>
<ng-template dynamic-host></ng-template>
