.m-blogTags__container {
  display: flex;
  flex-direction: column;

  .m-blogTags__selectedContainer {
    display: flex;
    justify-content: start;
    margin-bottom: 16px;
    flex-wrap: wrap;

    .m-blogTags__selectedTag {
      display: flex;
      align-items: center;
      margin-right: 8px;
      font-size: 12pt;
      border-radius: 16px;
      padding: 4px 12px;
      margin: 4px;
      cursor: pointer;

      @include m-theme() {
        border: 1px solid themed($m-borderColor--primary);
      }

      i {
        font-size: 12pt;
        margin-left: 4px;
      }
    }
  }

  .m-blogTags__inputLabel {
    margin-bottom: 4px;

    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  .m-blogTags__input {
    border-radius: 2px;
    padding: 8px;
    max-width: 50%;
    @media screen and (max-width: $min-desktop) {
      width: 100%;
    }

    @include m-theme() {
      color: themed($m-textColor--primary);
      border: 1px solid themed($m-borderColor--primary);
    }
  }
}
