<m-settingsV2__header>
  <div class="m-settingsV2__headerLabel">
    <span i18n="@@SETTINGS__OTHER__LEAVE__DELETE__LABEL">Delete Account</span>
  </div>
  <div
    class="m-settingsV2__desc"
    i18n="@@SETTINGS__OTHER__LEAVE__DELETE__DESCRIPTION"
  >
    Warning: This is not reversible and will result in permanent loss of your
    channel and all of your data. Your channel will not be recoverable.
  </div>

  <div class="m-settingsV2__desc" *ngIf="isTenant">
    Please note that this action only deletes/deactivates your account on this
    specific app. If you wish to take further action, such as canceling an
    external paid subscription, please contact the network administrator for
    assistance.
  </div>
</m-settingsV2__header>

<form *ngIf="form" [formGroup]="form" class="m-formLayout--buttonLeft">
  <div class="m-form__fieldsContainer">
    <div class="m-form__field--checkbox stretchedField">
      <div class="m-form__row--input">
        <m-formInput__checkbox
          formControlName="understood"
          class="form-control"
          i18n="@@SETTINGS_V2_DELETE_ACCOUNT__I_UNDERSTAND"
        >
          I understand and wish to continue.
        </m-formInput__checkbox>
      </div>
    </div>
  </div>
  <div class="m-form__buttonsContainer">
    <m-button
      [disabled]="!canSubmit()"
      [saving]="inProgress"
      color="red"
      (onAction)="submit()"
      i18n="@@SETTINGS_V2_DELETE_ACCOUNT__DELETE_ACCOUNT"
    >
      Delete Account
    </m-button>
  </div>
</form>
