@import 'defaults.scss';

:host {
  display: flex;
  flex-flow: column nowrap;
  padding: $minds-padding * 4;

  .m-twoFactorSecret__title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 40px;
    cursor: default;

    @include m-theme() {
      color: themed($m-textColor--primary);
    }
  }

  .m-twoFactorSecret__code {
    font-family: Courier, monospace;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;

    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }
}
