<ng-template #isEditingSaveButtonTemplate>
  <ng-container *ngIf="amountDue > 0; else isEditingSaveButtonTemplateNoPayment" i18n>Pay and Update</ng-container>
  <ng-template #isEditingSaveButtonTemplateNoPayment><ng-container i18n>Save</ng-container></ng-template>
</ng-template>

<div class="m-page--section m-border">
  <div class="m-page--section-button-bar">
    <h1>
      <ng-container *ngIf="!isEditing; else titleIsEditing" i18n>New Campaign</ng-container>
      <ng-template #titleIsEditing i18n>Edit Campaign</ng-template>
    </h1>

    <div class="m-page--section-button-bar--buttons">
      <button class="m-btn m-btn--slim m-btn--action" [disabled]="!canSubmit() || inProgress">
        <ng-container *ngIf="!isEditing; else isEditingSaveButtonTemplate" i18n>Pay and Create</ng-container>
      </button>
    </div>
  </div>

  <form class="m-form" (ngSubmit)="submit()" *ngIf="!isEditing || campaign">
    <div class="m-form--field">
      <label class="m-form--field-label" for="boost-creator__name">
        <span i18n>Name</span>
        <m-tooltip icon="help" i18n>TBD</m-tooltip>
      </label>

      <input
        id="boost-creator__name"
        type="text"
        name="name"
        [ngModel]="campaign.name"
        (ngModelChange)="campaign.name = $event; triggerPreview()"
      >
    </div>

    <div class="m-form--field">
      <label class="m-form--field-label">
        <span i18n>Type</span>
        <m-tooltip icon="help" i18n>TBD</m-tooltip>
      </label>

      <ng-container *ngFor="let type of types">
        <label
          class="m-form--selector m-btn m-btn--slim m-btn--action"
          [class.m-btn--inactive]="type.id !== campaign.type"
          [class.m-btn--disabled]="type.disabled"
          [class.m-btn--readonly]="isEditing"
          [for]="'type__' + type.id"
          [tabindex]="!type.disabled ? 0 : -1"
          (keydown.space)="campaign.type = type.id; triggerPreview()"
        >
          <input
            type="radio"
            [id]="'type__' + type.id"
            [value]="type.id"
            [checked]="type.id === campaign.type"
            [disabled]="isEditing || type.disabled"
            (change)="campaign.type = type.id; triggerPreview()"
            name="type"
          >

          <span>{{type.label}}</span>
        </label>
      </ng-container>
    </div>

    <div class="m-form--field">
      <label class="m-form--field-label" [ngSwitch]="campaign.type">
        <ng-container *ngSwitchCase="'newsfeed'">
          <span i18n>Posts</span>
          <m-tooltip icon="help" i18n>TBD</m-tooltip>
        </ng-container>

        <ng-container *ngSwitchCase="'content'">
          <span i18n>Content</span>
          <m-tooltip icon="help" i18n>TBD</m-tooltip>
        </ng-container>

        <ng-container *ngSwitchCase="'banner'">
          <span i18n>Banner</span>
          <m-tooltip icon="help" i18n>TBD</m-tooltip>
        </ng-container>

        <ng-container *ngSwitchCase="'video'">
          <span i18n>Video</span>
          <m-tooltip icon="help" i18n>TBD</m-tooltip>
        </ng-container>
      </label>

      <m-boost-campaigns-creator--content-selector
        *ngIf="campaign.type === 'newsfeed' || campaign.type === 'content'"
        [type]="campaign.type"
        [content]="campaign.entity_urns"
        (contentChange)="campaign.entity_urns = $event; triggerPreview()"
        [readonly]="isEditing"
      ></m-boost-campaigns-creator--content-selector>
    </div>

    <div class="m-form--field">
      <label class="m-form--field-label">
        <span i18n>Targeting</span>
        <m-tooltip icon="help" i18n>TBD</m-tooltip>
      </label>

      <div class="m-form--read-only-value">
        <span class="m-form--edit-tag-badges">
          <span
            *ngFor="let hashtag of campaign.hashtags"
            class="m-form--tag-badge"
          >#{{hashtag}}</span>

          <span *ngIf="!campaign.hashtags || !campaign.hashtags.length">&nbsp;</span>
        </span>

        <m-hashtags-selector
          buttonClass="m-boost-campaigns-creator--hashtag-selector-button"
          [useContent]="true"
          [tags]="campaign.hashtags"
          (tagsAdded)="onTagsAdded($event); triggerPreview()"
          (tagsRemoved)="onTagsRemoved($event); triggerPreview()"
        >
          <i class="material-icons">check</i>
        </m-hashtags-selector>
      </div>
    </div>

    <div class="m-form--fieldset">
      <div class="m-form--field">
        <label for="boost-creator__start" class="m-form--field-label">
          <span i18n>Start</span>
          <m-tooltip icon="help" i18n>TBD</m-tooltip>
        </label>

        <div
          class="m-date-selector--input"
          mdl-datetime-picker
          [date]="campaign.start"
          (dateChange)="onStartDateChange($event); triggerPreview()"
        >
          <input id="boost-creator__start" type="text" placeholder="Now" i18n [value]="campaign.start | date:'MMM dd'" readonly>
          <i class="material-icons">keyboard_arrow_down</i>
        </div>
      </div>

      <div class="m-form--field">
        <label for="boost-creator__end" class="m-form--field-label">
          <span i18n>End</span>
          <m-tooltip icon="help" i18n>TBD</m-tooltip>
        </label>

        <div
          class="m-date-selector--input"
          mdl-datetime-picker [date]="campaign.end"
          (dateChange)="onEndDateChange($event); triggerPreview()"
        >
          <input id="boost-creator__end" type="text" placeholder="End of times" i18n [value]="campaign.end | date:'MMM dd'" readonly>
          <i class="material-icons">keyboard_arrow_down</i>
        </div>
      </div>
    </div>

    <div class="m-form--field">
      <label class="m-form--field-label" for="boost-creator__budget">
        <span i18n>Budget</span>
        <m-tooltip icon="help" i18n>TBD</m-tooltip>
      </label>

      <div class="m-form--composite-input">
        <input
          id="boost-creator__budget"
          type="number"
          name="budget"
          [ngModel]="campaign.budget"
          (ngModelChange)="campaign.budget = $event; triggerPreview()"
        >

        <span>TOKENS</span>
      </div>
    </div>

    <div class="m-form--field">
      <label class="m-form--field-label">
        <span i18n>Impressions</span>
        <m-tooltip icon="help" i18n>TBD</m-tooltip>
      </label>

      <div class="m-form--read-only-value">
        <span>
          {{campaign.impressions | number}}

          <m-tooltip icon="warning" *ngIf="preview?.cannot_fulfill_daily" i18n>
            There might be issues trying to fulfill the impressions per day
            goal for this campaign.
          </m-tooltip>
        </span>
      </div>
    </div>

    <div class="m-form--field">
      <button type="submit" class="m-btn m-btn--slim m-btn--action" [disabled]="!canSubmit() || inProgress">
        <ng-container *ngIf="!isEditing; else isEditingSaveButtonTemplate" i18n>Pay and Create</ng-container>
      </button>

      <div class="m-form--spinner" *ngIf="inProgress">
        <div class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
      </div>

      <div class="m-form--error" *ngIf="currentError && !inProgress">{{currentError}}</div>
    </div>

    <div class="m-form--field" *ngIf="canCancel()">
      <button
        type="button"
        (click)="cancel($event);"
        class="m-btn m-btn--slim m-btn--destructive"
        [disabled]="inProgress"
      >Cancel Campaign</button>
    </div>
  </form>
</div>

<div class="m-border m-error" *ngIf="isEditing && !campaign && currentError">
  {{currentError}}
</div>
