.minds-banner {
  position: relative;
  overflow: hidden;
  height: 300px;

  &.m-banner--img-cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include m-theme() {
      background-color: themed($m-grey-800);
    }
  }

  div.minds-banner-img {
    width: 100%;
    position: relative;
    height: inherit;
    background-position: 0, 0;
    background-size: cover;
    background-repeat: no-repeat;
    @include m-theme() {
      background-color: themed($m-grey-800);
    }

    &.m-banner--img-cover {
      background-position: center;
    }
  }

  img.minds-banner-img {
    width: 100%;
    min-width: 100%;
    position: relative;
    height: auto;
  }

  @media screen and (max-width: $min-tablet) {
    & {
      max-height: 180px;
    }
    .minds-banner-img {
      min-width: 100%;
      height: 100%;
      background-position: 0 0 !important;
    }
  }

  img {
    width: 100%;
    min-width: 2000px;
    position: relative;
  }
  .minds-banner-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include m-theme() {
      background: linear-gradient(
        rgba(themed($m-black), 0),
        rgba(themed($m-black), 0.6)
      );
    }
  }

  &.minds-banner-editing {
    img {
      cursor: move;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      /* align-items: center; */
      /* display: flex; */
      text-align: center;
      padding-top: 116px;
      cursor: pointer;
      @include m-theme() {
        color: themed($m-white);
        background-color: rgba(themed($m-black), 0.3);
      }

      i {
        font-size: 62px;
        width: 100%;
      }
      span {
        font-weight: 200;
        padding: $minds-padding * 2;
        display: block;
      }
      em {
        font-style: normal;
        font-size: 0.8em;
        opacity: 0.65;
      }
    }
    .minds-banner-overlay {
      height: 60px;
      bottom: 0;
      top: initial;
      @include m-theme() {
        background-color: rgba(themed($m-black), 0.6);
      }
    }
    .add-button {
      display: none;
    }
    .save-bar {
      position: absolute;
      width: 100%;
      bottom: 0;
      right: 0;
      padding: $minds-padding $minds-padding * 2;
      display: flex;
      align-items: flex-end;
      -webkit-align-item: flex-end;
      flex-direction: row;
      @include m-theme() {
        background-color: rgba(themed($m-black), 0.5);
      }

      p {
        margin: 0;
        padding: 4px 16px;
        @include m-theme() {
          color: themed($m-white);
        }
      }
      .minds-button-edit {
        padding: 0 $minds-padding;

        & > button {
          @include m-theme() {
            color: themed($m-white);
          }

          &:hover {
            @include m-theme() {
              color: themed($m-white);
            }
          }
        }
      }
    }
    input[type='file'] {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
}
