<div class="m-boost--marketing">

  <div class="m-boost--marketing-header">
    <h1>Boost</h1>
    <h3>Boost your channel or content to gain more views and reach new audiences</h3>

    <div class="m-boost--overlay"></div>
  </div>

  <div class="m-boost--marketing-contents mdl-grid mdl-grid--no-spacing mdl-color-text--blue-grey-600" *ngIf="false">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
      <h2>BOOST</h2>
      <span>Boost your content across the Minds network for expanded reach and gain more views in exchange for dollars, points, or Tokens. Target your boosts by category to locate like minded consumers.</span>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
      <h2>PRIORITY BOOST</h2>
      <span>Send your Boost to the front of the line with Priority Boost, but the cost per view is at least twice (surge pricing may be in effect). Priority boost is available for cash purchase only.</span>
    </div>
  </div>
  <div class="m-boost--marketing-contents m-boost--marketing-contents--breakdown mdl-grid mdl-grid--no-spacing mdl-color-text--blue-grey-600" *ngIf="false">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
      <h2>Newsfeed Boost</h2>
      <span>Boost your content across the Minds network for expanded reach and gain more views in exchange for dollars, points, or Tokens. Target your boosts by category to locate like minded consumers.</span>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
      <h2>SIDEBAR BOOST</h2>
      <span>Boost your channel, video, image or blog to the sidebar with points, USD, or Tokens.  Your content will display on sidebars across Minds for all channels to see. Sidebar boosts are launched from the boost button on the content page or your channel card. Sidebar views are not counted on the post view counter.</span>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
      <h2>CHANNEL BOOST</h2>
      <span>Boost your content peer to peer and target specific channel communities with your content. Send or receive offers for a guaranteed Remind in exchange for points, USD, or Tokens.</span>
    </div>
  </div>

  <div class="m-boost--marketing-faq mdl-color-text--blue-grey-600">
    <m-faq category="boost"></m-faq>
  </div>

</div>

<m-footer></m-footer>
