m-walletBalance--tokens {
  display: block;
  max-width: 700px;
  > * {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }
  .m-walletBalance--tokens__equationWrapper {
    display: flex;
    justify-content: space-between;
  }
  .m-walletBalance--tokens__equationLeft {
    display: flex;
    flex-flow: row wrap;
    @media screen and (max-width: $max-mobile) {
      max-width: 56px;
    }
  }
  .m-walletBalance--tokens__buyButtonWrapper {
    margin-top: 6px;
  }
  .m-walletBalance--tokens__balanceTitle {
    position: relative;
    m-tooltip {
      position: relative;
      margin-left: 4px;
      vertical-align: top;

      .m-tooltip {
        margin: 0;
      }
    }
    .m-tooltip--bubble {
      bottom: 18px;
      margin-left: 12px;
      min-width: 100px;
    }
  }
  .m-walletBalance--tokens__balanceWrapper--subtotal:last-child {
    .m-walletBalance--tokens__balanceTitle {
      .m-tooltip--bubble {
        position: absolute;
        right: -24px;
      }
    }
  }
  .m-walletBalance--tokens__balanceWrapper--total {
    margin-right: 22px;
    .m-walletBalance--tokens__balanceTitle {
      font-size: 16px;
      line-height: 21px;
      @media screen and (max-width: $max-mobile) {
        max-width: 56px;
      }
    }
    .m-walletBalance--tokens__balanceValWrapper {
      margin-top: 3px;
    }
    .m-walletBalance--tokens__balanceVal--int {
      font-size: 24px;
      line-height: 32px;
    }
    .m-walletBalance--tokens__balanceVal--frac {
      font-size: 17px;
      line-height: 23px;
    }
  }

  .m-walletBalance--tokens__balanceWrapper--subtotal {
    margin-top: 4px;
    .m-walletBalance--tokens__balanceTitle {
      min-width: 72px;
    }
    .m-walletBalance--tokens__balanceValWrapper {
      font-size: 13px;
      line-height: 18px;
    }
    .m-walletBalance--tokens__balanceVal--int {
      font-size: 16px;
      line-height: 21px;
    }
    .m-walletBalance--tokens__balanceVal--frac {
      font-size: 13px;
      line-height: 18px;
    }
    a {
      display: inline-block;
      margin-top: 14px;
      font-size: 14px;
      line-height: 19px;
    }
  }
  .m-walletBalance--tokens__balanceValWrapper {
    font-weight: 500;
    margin-top: 4px;
  }
  .m-walletBalance--tokens__balanceVal--int {
    @include m-theme() {
      color: themed($m-textColor--primary);
    }
  }

  .m-walletBalance--tokens__equationSymbol {
    // align-self: center;
    // margin-bottom: 10px;
    margin-top: 12px;
    font-size: 20px;
    line-height: 23px;
  }

  a:not(.m-walletBalance--tokens__buyButtonWrapper) {
    font-weight: 300;
    text-decoration: underline;
    cursor: pointer;

    @media screen and (max-width: 1000px) {
      max-width: 70px;
    }
  }

  .m-walletBalance--tokens__payout {
    font-size: 14px;
    line-height: 19px;
    margin-top: 42px;
    > div {
      display: inline-block;
      margin-bottom: 2px;
      &:first-child {
        margin-right: 4px;
      }
    }
  }
  .m-walletBalance--tokens__payoutEstimate {
    font-weight: 500;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }
  .m-walletBalance--tokens__learnMore {
    font-size: 12px;
    line-height: 19px;
    margin-top: 24px;
  }

  m-button {
    min-width: 140px;
    button.m-button {
      height: 35px;
      max-height: 35px;
      min-width: 140px;
      min-height: 0;
    }
    .m-button__status--unsaved {
      line-height: 15px;
    }
  }

  @media screen and (max-width: 800px) {
    .m-walletBalance--tokens__equationLeft {
      flex-direction: column;
    }

    .m-walletBalance--tokens__balanceWrapper--total {
      margin-bottom: 16px;
      margin-right: 0;
    }
  }

  @media screen and (max-width: $max-mobile) {
    .m-walletBalance--tokens__payout {
      display: none;
    }
  }
}
