@import 'defaults.scss';

:host {
  .m-walletBalance__address--connect {
    display: inline-block;
    cursor: pointer;
  }

  ::ng-deep .m-walletBalance__address {
    div[class*='m-walletBalanceAddress__inner'] {
      display: inline-block;
      vertical-align: middle;
      line-height: 40px;

      > * {
        vertical-align: middle;
      }

      > span {
        font-weight: 500;
      }
      m-tooltip {
        .m-tooltip {
          margin-left: 10px;
        }
        i {
          font-size: 16px;
          @include m-theme() {
            color: themed($m-textColor--primary);
          }
        }
      }
    }
    .m-walletBalanceAddress__inner--connect {
      cursor: pointer;
    }
  }
}
