<ng-container *ngIf="!(loading$ | async); else loadingSpinnerTemplate">
  <m-networkAdminConsole__bookMeeting></m-networkAdminConsole__bookMeeting>

  <h4
    class="m-networkAdminConsole__title"
    i18n="@@NETWORK_ADMIN_CONSOLE_GENERAL__NETWORK_DETAILS"
  >
    Network details
  </h4>

  <form [formGroup]="formGroup" class="m-networkAdminConsole__form">
    <!-- Network name input -->
    <div class="m-networkAdminConsole__formInputContainer">
      <label
        class="m-networkAdminConsole__formLabel"
        i18n="@@NETWORK_ADMIN_CONSOLE_GENERAL__NETWORK_NAME_LABEL"
        for="networkName"
        >Network name</label
      >
      <input
        class="m-networkAdminConsole__formTextInput"
        id="networkName"
        formControlName="networkName"
        placeholder="Network name"
        autocomplete="off"
        data-ref="network-admin-general-network-name-input"
      />
      <div class="m-networkAdminConsole__formErrorWrapper">
        <m-formError
          *ngIf="networkNameFormControl && networkNameFormControl.dirty"
          [errors]="networkNameFormControl?.errors"
        >
        </m-formError>
      </div>
    </div>

    <!-- Submit button -->
    <m-button
      *ngIf="{
        inProgress: savingInProgress$ | async
      } as buttonTemplateVariables"
      class="m-networkAdminGeneral__saveButton"
      color="blue"
      size="large"
      [disabled]="
        !formGroup.valid ||
        !formGroup.dirty ||
        buttonTemplateVariables.inProgress
      "
      [saving]="buttonTemplateVariables.inProgress"
      [solid]="false"
      (onAction)="onSubmit()"
      ><ng-container i18n="@@NETWORK_ADMIN_CONSOLE_GENERAL__SAVE_NETWORK_NAME"
        >Save network name</ng-container
      ></m-button
    >
  </form>

  <m-networkAdminConsole__landingPageDescription></m-networkAdminConsole__landingPageDescription>
  <m-networkAdminConsole__enableLandingPageToggle></m-networkAdminConsole__enableLandingPageToggle>

  <ng-container *ngIf="tenantId !== 2101">
    <m-networkAdminConsole__enableWalledGardenToggle></m-networkAdminConsole__enableWalledGardenToggle>
    <m-networkAdminConsole__federationSettings></m-networkAdminConsole__federationSettings>
  </ng-container>

  <m-networkAdminConsole__digestEmailSettings></m-networkAdminConsole__digestEmailSettings>
  <m-networkAdminConsole__configSettingsToggle
    title="Welcome email"
    toggleText="Welcome email"
    description="Automatically send an email to people who join your network that informs them about featured groups and membership options on your network."
    fieldName="welcomeEmailEnabled"
  ></m-networkAdminConsole__configSettingsToggle>
  <m-networkAdminConsole__replyEmailSettings></m-networkAdminConsole__replyEmailSettings>

  <!-- Featured channels and groups section. -->
  <m-networkAdminConsole__featured></m-networkAdminConsole__featured>
</ng-container>
<ng-template #loadingSpinnerTemplate>
  <m-loadingSpinner [inProgress]="true"></m-loadingSpinner>
</ng-template>
