@import 'defaults.scss';

@mixin horizontalPadding {
  padding-left: $spacing8;
  padding-right: $spacing8;
}

:host {
  padding: 0 $spacing8 $spacing7 $spacing8;
  display: flex;
  flex-flow: column nowrap;

  &.m-networkAdminConsole__container--noHorizontalPadding {
    padding-left: unset;
    padding-right: unset;
  }

  .m-networkAdminConsole__title {
    margin-top: 0;
    @include heading4Regular;
  }

  .m-networkAdminConsole__subtitle {
    margin-top: $spacing1;

    @include body2Medium;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  .m-networkAdminConsole__form {
    // standard input.
    .m-networkAdminConsole__formInputContainer {
      display: flex;
      flex-flow: column nowrap;
      padding: $spacing4 0;

      .m-networkAdminConsole__formLabel {
        margin-bottom: 4px;
        @include body1Regular;
      }

      .m-networkAdminConsole__formLabel--secondary {
        margin-bottom: 4px;

        @include body3Regular;
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }

      .m-networkAdminConsole__formTextInput {
        padding: $spacing3 $spacing4;
        max-width: 475px;
        border-radius: 3px;
        outline: none;
        @include body1Regular;

        @include m-theme() {
          color: themed($m-textColor--primary);
          background-color: themed($m-bgColor--primary);
          border: 1px solid themed($m-borderColor--primary);
        }
      }

      .m-networkAdminConsole__formTextAreaInput {
        padding: $spacing3 $spacing4;
        border-radius: 3px;
        outline: none;
        @include body1Regular;

        @include m-theme() {
          color: themed($m-textColor--primary);
          background-color: themed($m-bgColor--primary);
          border: 1px solid themed($m-borderColor--primary);
        }
      }

      .m-networkAdminConsole__formErrorWrapper {
        min-height: $spacing10;
      }
    }

    // radio button.
    .m-networkAdminConsole__radioButtonInput {
      height: 24px;
      width: 24px;
      vertical-align: middle;
      opacity: 0;
      position: absolute;

      @include m-theme() {
        accent-color: themed($m-action);
      }
    }

    .m-networkAdminConsole__radioFieldset--horizontal {
      display: flex;
      flex-flow: row wrap;
      padding: $spacing4 0;

      .m-networkAdminConsole__radioButtonInputContainer {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        margin-right: $spacing4;

        .m-networkAdminConsole__radioButtonLabel {
          margin-left: $spacing2;

          @include body1Regular;
          @include m-theme() {
            color: themed($m-textColor--primary);
          }
        }

        .m-networkAdminConsole__radioButtonInput,
        .m-networkAdminConsole__radioButtonInputLabel--hidden {
          display: inline-block;
          vertical-align: middle;
          margin: 5px;
          cursor: pointer;
        }

        .m-networkAdminConsole__radioButtonInput
          + .m-networkAdminConsole__radioButtonInputLabel--hidden:before {
          content: '';
          border-radius: 50%;
          display: inline-block;
          text-align: center;
          vertical-align: middle;
          width: 24px;
          height: 24px;

          @include m-theme() {
            background: themed($m-bgColor--primary);
            border: 1px solid themed($m-borderColor--primary);
          }
        }

        .m-networkAdminConsole__radioButtonInput:checked
          + .m-networkAdminConsole__radioButtonInputLabel--hidden:before {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          content: '\ef4a';
          font-family: 'Material Icons';
          border: 1px solid unset;

          @include m-theme() {
            color: themed($m-action);
            border: 1px solid themed($m-action);
          }
        }
      }
    }
  }

  .m-tabs__container {
    overflow-x: auto;
    padding: 0 $spacing8;

    .m-tabs__tab {
      a {
        padding: $spacing2 0;

        @include body1Medium;
        &.m-tabs__tab--selected {
          border-width: 5px;
        }
      }
    }
  }

  // ************************************
  // Policy Forms
  // ************************************
  .m-networkAdminConsolePolicyForm__wrapper {
    padding: $spacing7 $spacing8 !important;
    max-width: 860px;
    @media screen and (min-width: $min-desktop) {
      padding-right: $spacing32;
    }

    .m-networkAdminConsole__title {
      margin-bottom: unset;
    }

    .m-networkAdminConsole__subtitle {
      margin: $spacing1 0 $spacing4 0;

      @include m-theme() {
        color: themed($m-textColor--secondary);
      }

      a {
        @include m-theme() {
          color: themed($m-action);
        }
      }
    }
  }
}
