.m-token-101 {

  .m-btn--action {
    text-decoration: none;

    @media screen and (max-width: 720px) {
      display: block;
    }
  }

  h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    margin: 16px 0;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
  }

  .m-token-101--section {
    padding-bottom: 8px;
  }

  m-wallet-token--chart {
    margin: 32px 0;
    display: block;
  }

}