@import 'defaults.scss';
@import '../../../stylesheets/console.component.ng.scss';

:host {
  padding-bottom: 0;

  .m-networkAdminEnableLandingPage__title {
    @include heading4Regular;
    margin: 0 0 $spacing1 0;
  }

  .m-networkAdminEnableLandingPage__body {
    margin-bottom: $spacing8;
    margin-right: $spacing2;

    @include body1Regular;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  .m-networkAdminEnableLandingPage__toggleContainer {
    display: flex;
    align-items: center;

    .m-networkAdminEnableLandingPage__toggle {
      margin-right: $spacing4;
    }

    .m-networkAdminEnableLandingPage__toggleText {
      @include body1Regular;
    }
  }
}
