@import 'defaults.scss';
@import '../../../common/layout/layout.scss';

$smallScreenWidth: 720px;

:host {
  .m-festivalBanner {
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    @include z-index(toast);

    @include m-theme() {
      background-color: themed($m-bgColor--primaryInverted);
    }

    .m-festivalBanner__container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;
      margin: 0 60px;

      @media screen and (max-width: 400px) {
        margin: 0 20px;
      }

      .m-festivalBanner__container--left {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: $layoutSidebarFullWidth;

        .m-festivalBanner__logo {
          width: 120px;
          margin-bottom: 10px;

          @include unselectable;
        }
      }

      .m-festivalBanner__container--center {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: $layoutMainFullWidth;

        .m-festivalBanner__text {
          font-weight: 500;
          font-size: 18px;
          line-height: 1.222;

          @include m-theme() {
            color: themed($m-textColor--secondaryInverted);
          }

          @include unselectable;

          @media screen and (max-width: $smallScreenWidth) {
            display: none;
          }
        }
      }

      .m-festivalBanner__container--right {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;
        width: $layoutRightFullWidth;

        // overriding button theming as m-button does not yet work well with inverted background colors.
        ::ng-deep m-button {
          display: flex;
          flex-direction: column;
          justify-content: center;

          button {
            @include unselectable;
            @include m-theme() {
              color: themed($m-textColor--primaryInverted) !important;
            }
            &:hover {
              @include m-theme() {
                background-color: themed(
                  $m-bgColor--btnHoverLightAlways
                ) !important;
              }
            }

            .m-festivalBannerButtonText__smallScreen {
              display: none;
            }

            @media screen and (max-width: $smallScreenWidth) {
              .m-festivalBannerButtonText__bigScreen {
                display: none;
              }
              .m-festivalBannerButtonText__smallScreen {
                display: inline-block;
              }
            }
          }
        }
      }
    }

    .m-festivalBanner__closeButton {
      position: absolute;
      top: 0;
      right: 0;
      margin: 30px;
      cursor: pointer;

      @media screen and (max-width: $max-mobile) {
        margin: 30px 20px;
      }

      @media screen and (max-width: 400px) {
        margin: 5px;
      }

      @include unselectable;
      @include m-theme() {
        color: themed($m-textColor--primaryInverted);
      }
    }
  }
}
