<div class="m-festivalBanner" *ngIf="shouldShow()">
  <i class="m-festivalBanner__closeButton material-icons" (click)="dismiss()"
    >close</i
  >
  <div class="m-festivalBanner__container">
    <div class="m-festivalBanner__container--left">
      <img
        class="m-festivalBanner__logo m-festivalBanner__logo--largeScreen"
        [src]="largeLogoUrl | async"
      />
      <img
        class="m-festivalBanner__logo m-festivalBanner__logo--smallScreen"
        [src]="cdnAssetsUrl + 'assets/logos/bulb.svg'"
      />
    </div>
    <div class="m-festivalBanner__container--center">
      <span class="m-festivalBanner__text">
        Minds LIVESTREAM Tonight at 7pm ET with Tulsi Gabbard, Tim Pool, Cornel
        West and more!&nbsp;</span
      >
      <m-button [color]="'blue'" [size]="'small'" (onAction)="buyTickets()">
        <span>Buy LIVESTREAM tickets!</span>
      </m-button>
    </div>
    <div class="m-festivalBanner__container--right">
      <m-button [color]="'blue'" (onAction)="buyTickets()">
        <span>Buy tickets</span>
      </m-button>
    </div>
  </div>
</div>
