m-checkout--blockchain {
  display: block;
  font-family: 'Lato', sans-serif;
  padding: $minds-padding * 2;
}

.m-checkout--blockchain--title {
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px;
  font-weight: 300;
}

.m-checkout--blockchain--refresh {
  cursor: pointer;
  color: #aaaaaa !important;
  vertical-align: text-top;
  font-size: 1em;
  position: relative;
  top: 0.1em;
}

.m-checkout--blockchain--wallet-selector {
  margin-top: $minds-padding * 2;

  .m-checkout--blockchain--refresh {
    color: inherit !important;
  }

  .m-blockchain--wallet-selector--item {
    border: 1px solid #aaa;
    border-radius: 4px;
  }
}
