.m-paywall-button{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.m-paywall-splash{
  text-align: center;
  padding: 16px;

  i{
    width: 100%;
    font-size: 84px;
  }
}
