<!-- Header -->
<m-settingsV2__header (backPress)="onBackPress()">
  <div class="m-settingsV2__headerLabel">
    <span i18n="@@SETTINGS__SECURITY__2FA__LABEL"
      >Two-factor Authentication</span
    >
  </div>
  <div class="m-settingsV2__desc" [ngSwitch]="activePanel$ | async">
    <ng-container
      *ngSwitchCase="'root'"
      i18n="@@SETTINGS__SECURITY__2FA__ADDS_SECURITY_DESC"
    >
      Two-factor authentication adds an extra layer of security to your account.
      In addition to your username and password, you'll need to enter a code
      that we'll send you via text or an app on your phone.
    </ng-container>
    <ng-container
      *ngSwitchCase="'password'"
      i18n="@@SETTINGS__SECURITY__2FA__CONFIRM_ACCOUNT_PASSWORD"
    >
      Please confirm your account password to continue.
    </ng-container>
  </div>
</m-settingsV2__header>

<!-- Panels -->
<ng-container [ngSwitch]="(activePanel$ | async)?.panel">
  <m-settings__twoFactorRoot *ngSwitchCase="'root'"></m-settings__twoFactorRoot>
  <m-twoFactor__passwordConfirm
    *ngSwitchCase="'password'"
  ></m-twoFactor__passwordConfirm>
  <m-twoFactor__recoveryCode
    *ngSwitchCase="'recovery-code'"
  ></m-twoFactor__recoveryCode>
  <m-twoFactor__connectApp
    *ngSwitchCase="'app-connect'"
  ></m-twoFactor__connectApp>
  <m-twoFactor__confirmDisable--totp
    *ngSwitchCase="'disable'"
  ></m-twoFactor__confirmDisable--totp>
  <m-twoFactor__confirmDisable--sms
    *ngSwitchCase="'sms'"
  ></m-twoFactor__confirmDisable--sms>
</ng-container>
