@import 'defaults.scss';

:host {
  display: flex;
  flex-direction: row;
  &:not(.m-activity__ownerBlock--minimalMode) {
    padding-bottom: $spacing3;
  }

  // *********************************
  // ** HAS AVATAR **
  // *********************************
  &.m-activity__ownerBlock--hasAvatar {
    align-items: center;
    .m-activity__ownerBlock {
      width: calc(100% - $spacing16);
    }
  }

  // *********************************
  // ** GROUP CONTEXT **
  // *********************************
  &.m-activity__ownerBlock--groupContext {
    &:not(.m-activity__ownerBlock--minimalMode) {
      .m-activity__ownerBlock {
        align-items: flex-start;
      }
    }
    .m-activityOwnerBlock__avatar {
      padding-right: 0.75rem;
    }
  }
  // *********************************
  // ** MINIMAL MODE **
  // *********************************

  &.m-activity__ownerBlock--minimalMode {
    padding-left: $spacing4;
    padding-right: $spacing2;
    padding-top: $spacing2;
    padding-bottom: $spacing2;

    &.m-activity__ownerBlock--quoteOrRemind {
      // Use a bit more room when there is a remind icon overlaying avatar
      .m-activity__ownerBlock {
        margin-left: $spacing2;
      }
    }
  }

  // *********************************
  // ** MODAL **
  // *********************************
  m-activity__modal & {
    padding: 20px $activitySpacing--modal 0;

    a.m-activityOwnerBlock__secondaryName {
      margin-left: 0;
    }
  }
  // *********************************
  // ** SIDEBAR BOOST **
  // *********************************
  .m-activity--isSidebarBoost & {
    padding: $activitySpacing--minimalMode;

    .m-activityOwnerBlockPermalink__text {
      padding: 0;
    }

    .m-activityOwnerBlock__dot {
      display: none;
    }
  }

  // *********************************
  // *********************************
  // *********************************
  // ** DEFAULT **
  // *********************************
  // *********************************
  // *********************************
  .m-activity__ownerBlock {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;

    &.m-activity__ownerBlock--hasSecondRow {
      align-items: flex-start;
    }

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .m-activityOwnerBlock__topRow {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }

  .m-activityOwnerBlockTopRow__leftSide {
    display: flex;
    flex-direction: column;

    a.m-activityOwnerBlock__primaryName {
      @include m-theme() {
        color: themed($m-textColor--primary);
      }

      span {
        @include body1Bold;
      }

      &:hover {
        .m-activityOwnerBlock__remindIcon {
          text-decoration: none;
        }
      }
    }
  }

  .m-activityOwnerBlockTopRow__rightSide {
    display: flex;
    align-items: center;

    ::ng-deep m-activity__badges {
      // Aligns icon badges with text badges
      display: flex;
    }

    ::ng-deep m-paywallBadge .m-paywallBadge {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  .m-activityOwnerBlock__secondRow {
    display: flex;
    align-items: center;
    margin-top: $spacing1;
    width: 100%;

    .m-activityOwnerBlock__secondaryName {
      display: inline-block;
      margin-left: 0;

      span {
        @include body3Medium;
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }
    }
    ::ng-deep .m-activityPermalink__wrapper .m-activityPermalink__text {
      // body3Regular override
      font-size: 0.75rem !important;
      line-height: 1.063rem !important;
      letter-spacing: 0.011em !important;
    }
  }

  ::ng-deep {
    .m-activityOwnerBlock__avatar {
      align-self: center;
      padding-right: $spacing2;
      position: relative;
    }
  }

  .m-activityOwnerBlock__dot {
    padding: 0 $spacing1;
    @include body2Regular;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  .m-activityOwnerBlock__remindIcon {
    font-size: 18px;
    vertical-align: middle;
    @include m-theme() {
      color: themed($m-blue);
    }
  }

  ::ng-deep m-activity__views {
    @media screen and (max-width: $max-mobile) {
      display: none;
    }
  }

  // *********************************
  // ** FLEX STRUCTURAL CLASSES **
  // *********************************
  .m-activityOwnerBlock__spacer {
    flex: 1;
  }

  .m-activityOwnerBlock__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .m-activityOwnerBlock__truncate {
    white-space: nowrap;
    overflow: hidden;
  }
  .m-activityOwnerBlock__ellipsis {
    text-overflow: ellipsis;
  }

  ::ng-deep .m-activityOwnerBlock__fixedWidth {
    white-space: nowrap;

    > div {
      display: inline-block;
    }
  }

  .m-activityOwnerBlock__nameAndBadge {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
}
