<div class="m-activity__ownerBlock m-legible">
  <!-- AVATAR  -->
  <div
    *ngIf="showAvatar"
    class="m-activityOwnerBlock__avatar m-activityOwnerBlock m-activityOwnerBlock__fixedWidth"
  >
    <m-activity__avatar
      [entity]="entity"
      [wasQuoted]="wasQuoted"
    ></m-activity__avatar>
  </div>
  <!-- NAME COLUMN-->
  <div class="m-activityOwnerBlock__column m-activityOwnerBlock__truncate">
    <!-- First row: Primary name -->
    <a
      class="m-activityOwnerBlock__primaryName m-activityOwnerBlock__truncate"
      [routerLink]="primaryUrl"
    >
      <span [title]="primaryName">{{ primaryName }}</span>
      <ng-container
        *ngIf="!showUsernameInSecondRow"
        [ngTemplateOutlet]="channelBadges"
      ></ng-container>
    </a>
    <!-- Second row: -->
    <div class="m-activityOwnerBlockColumn__secondRowWrapper">
      <!-- Secondary name  -->
      <a
        *ngIf="showUsernameInSecondRow"
        [routerLink]="['/', username]"
        class="m-activityOwnerBlock__secondaryName m-activityOwnerBlock__truncate"
      >
        <span [title]="secondaryName">{{ secondaryName }}</span>
        <ng-container [ngTemplateOutlet]="channelBadges"></ng-container>
      </a>
      <!-- Permalink -->
      <ng-container *ngIf="showPermalink">
        <ng-container *ngTemplateOutlet="dot"></ng-container>
        <m-activity__permalink
          class="m-activityOwnerBlock__fixedWidth"
          [wasQuoted]="wasQuoted"
        ></m-activity__permalink>
      </ng-container>
      <!-- Subscribe button (for channels) -->
      <ng-container *ngIf="showSubscribeButton">
        <ng-container
          *ngIf="!isMinimalMode"
          [ngTemplateOutlet]="dot"
        ></ng-container>
        <m-subscribeButton
          [user]="owner"
          [sized]="true"
          [displayAsButton]="false"
          labelType="pastTense"
        ></m-subscribeButton>
      </ng-container>
      <!-- Join button (for groups) -->
      <ng-container *ngIf="showJoinButton">
        <ng-container
          *ngIf="!isMinimalMode"
          [ngTemplateOutlet]="dot"
        ></ng-container>
        <m-group__membershipButton
          [group]="group"
          [displayAsButton]="false"
          labelType="pastTense"
        ></m-group__membershipButton>
      </ng-container>
    </div>
  </div>
  <!-- SPACER -->
  <div *ngIf="showSpacer" class="m-activityOwnerBlock__spacer"></div>
  <!-- RIGHT SIDE: anything after the spacer -->
  <div class="m-activityOwnerBlock__rightSide">
    <!-- BADGES -->
    <m-activity__badges
      *ngIf="showBadges"
      class="m-activityOwnerBlock__fixedWidth"
    ></m-activity__badges>
    <!-- VIEWS -->
    <m-activity__views
      *ngIf="showViews"
      class="m-activityOwnerBlock__fixedWidth"
    ></m-activity__views>
    <!-- MENU -->
    <m-activity__menu
      (deleted)="deleted.emit()"
      *ngIf="showMenu"
      class="m-activityOwnerBlock__fixedWidth"
    ></m-activity__menu>
  </div>
</div>

<!-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  -->
<!-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  -->
<!-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  -->
<!-- TEMPLATES -->
<!-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  -->
<!-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  -->
<!-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  -->

<!-- ---------------------------- -->
<!-- CHANNEL BADGES -->
<!-- ---------------------------- -->
<ng-template #channelBadges>
  <m-channel--badges
    class="m-channel--badges-activity m-activityOwnerBlockPrimaryName__badges m-activityOwnerBlock__fixedWidth"
    [user]="owner"
    badges="[ 'admin', 'verified' ]"
  ></m-channel--badges>
</ng-template>
<!-- ---------------------------- -->
<!-- SEPARATOR DOT -->
<!-- ---------------------------- -->
<ng-template #dot>
  <span class="m-activityOwnerBlock__dot m-activityOwnerBlock__fixedWidth"
    >·</span
  ></ng-template
>
