<div class="m-dropdown--v2">
  <button
    class="m-activityRemindButton__icon"
    [class.has-reminded]="hasReminded"
    (click)="onButtonClick($event)"
  >
    <i class="material-icons">repeat</i>

    <span
      class="minds-counter"
      *ngIf="!service.displayOptions.showInteractions && (count$ | async) > 0"
      >{{ count$ | async }}</span
    >
  </button>

  <ul class="m-dropdown__list" *ngIf="isOpened$ | async">
    <ng-container *ngIf="hasReminded; else remindOptions">
      <li class="m-dropdownList__item" (click)="onUndoRemind($event)">
        <i class="material-icons">repeat</i><span>Undo Remind</span>
      </li>
    </ng-container>
    <ng-template #remindOptions>
      <li class="m-dropdownList__item" (click)="onRemindClick($event)">
        <i class="material-icons">repeat</i><span>Remind</span>
      </li>
      <li class="m-dropdownList__item" (click)="onQuotePostClick($event)">
        <i class="material-icons">create</i><span>Quote post</span>
      </li>
    </ng-template>
  </ul>
</div>

<div
  class="m-bgOverlay--v2"
  (click)="isOpened$.next(false)"
  *ngIf="isOpened$ | async"
></div>
