<m-dropdownMenu [menu]="dropdownMenu" m-clientMeta>
  <button
    class="m-activityRemindButton__icon"
    [class.has-reminded]="hasReminded"
  >
    <i class="material-icons">repeat</i>
    <span
      class="minds-counter"
      *ngIf="!service.displayOptions.showInteractions && (count$ | async) > 0"
      >{{ count$ | async }}</span
    >
  </button>
</m-dropdownMenu>

<ng-template #dropdownMenu>
  <ul>
    <ng-container *ngIf="hasReminded; else remindOptions">
      <m-dropdownMenu__item (click)="onUndoRemind($event)" icon="repeat">
        <span>Undo Remind</span>
      </m-dropdownMenu__item>
    </ng-container>
    <ng-template #remindOptions>
      <m-dropdownMenu__item (click)="onRemindClick($event)" icon="repeat">
        <span>Remind</span>
      </m-dropdownMenu__item>
      <m-dropdownMenu__item
        (click)="onQuotePostClick($event)"
        icon="create"
        [m-clientMeta]="getClientMetaDetails(service.entity$.getValue())"
      >
        <span>Quote post</span>
      </m-dropdownMenu__item>
      <m-dropdownMenu__item
        (click)="onGroupShareClick($event)"
        icon="group"
        data-ref="remind-button-group-share"
        [m-clientMeta]="getClientMetaDetails(service.entity$.getValue())"
      >
        <span i18n="@@REMIND_BUTTON__GROUP_SHARE">Group share</span>
      </m-dropdownMenu__item>
    </ng-template>
  </ul>
</ng-template>
