@import 'defaults.scss';

:host {
  position: relative;

  .m-activity__remindButton--noPermission {
    opacity: 0.5;
    cursor: default !important;
  }

  .m-dropdown--v2 {
    z-index: 4;
  }

  ::ng-deep .m-activityRemindButton__icon {
    padding: 0;
    border: 0;
    appearance: none;
    background: transparent;
    margin: 0;

    > * {
      vertical-align: middle;
    }
    .minds-counter {
      padding-right: 0;
    }
  }

  // Override disabled item styling so transition isn't jarring
  ::ng-deep
    .m-dropdownMenu__item--disabled
    [class*='m-dropdownMenuItem__text'] {
    @include m-theme() {
      color: themed($m-textColor--primary) !important;
    }
  }
}
