@import 'defaults.scss';

:host {
  position: relative;
  .m-dropdown--v2 {
    z-index: 4;
  }

  ::ng-deep .m-activityRemindButton__icon {
    padding: 0;
    border: 0;
    appearance: none;
    background: transparent;
    margin: 0;

    > * {
      vertical-align: middle;
    }
    .minds-counter {
      padding-right: 0;
    }
  }
}
