@import 'defaults.scss';

:host {
  margin: 20px 40px;
  display: flex;
  flex-flow: column nowrap;

  @media screen and (max-width: 710px) {
    width: auto;
  }

  .m-onboardingPhone__formContainer {
    display: flex;
    width: 100%;

    @media (max-width: $max-mobile) {
      flex-direction: column;
    }

    .m-onboardingPhone__leftContainer {
      display: flex;
      flex-flow: column nowrap;
      min-width: 60%;

      .m-onboardingPhone__labelContainer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .m-onboardingPhone__label {
          font-size: 16px;
          font-weight: 400;
          display: block;
          margin-bottom: 10px;

          @include m-theme() {
            color: themed($m-textColor--primary);
          }
        }

        .m-onboardingPhone__label--tertiaryColor {
          @include m-theme() {
            color: themed($m-textColor--tertiary);
          }
        }
      }

      .m-onboardingPhone__numberContainer {
        display: flex;
        flex-flow: row wrap;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
      }

      .m-onboardingPhone__numberInput {
        outline: none !important;
        margin: 0;

        @media (max-width: $max-mobile) {
          margin-bottom: $minds-margin * 2;
        }

        @include m-theme() {
          background-color: themed($m-bgColor--primary);
          color: themed($m-textColor--primary);
          border: 1px solid themed($m-borderColor--primary);

          &:focus {
            border-color: themed($m-blue);
          }

          /** phone number input has a nested input field */
          ::ng-deep input {
            color: themed($m-textColor--primary);
          }
        }

        &.m-onboardingPhone__codeInput {
          font-size: 16px;
          padding: 15px;
          max-height: 50%;
        }
      }
    }

    .m-onboardingPhone__submitButtonContainer {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      margin-left: 20px;
    }

    .m-onboardingPhone__allowFriendFindingContainer {
      display: flex;
      margin: 16px 0;

      .m-onboardingPhone__allowFriendFindingSpan {
        display: flex;
        margin-left: 10px;
        font-size: 15px;
        font-weight: 400px;

        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }
    }
  }

  .m-onboardingPhone__notice {
    margin-bottom: 32px;
    font-size: 15px;

    @include m-theme() {
      color: themed($m-textColor--primary);
    }
  }

  .m-onboardingPhone__footnoteSpan {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 22px;

    @include m-theme() {
      color: themed($m-textColor--tertiary);
    }

    .m-onboardingPhone__footnoteSpan--link {
      text-decoration: underline;
      cursor: pointer;

      @include m-theme() {
        color: themed($m-blue);
      }
    }
  }

  .m-onboardingPhone__footnoteSpan--mediumFont {
    font-size: 15px;
  }
}
