<button
  class="m-shadowboxSubmitButton"
  type="submit"
  [disabled]="disabled"
  [ngClass]="{
    saving: saving,
    green: color === 'green',
    grey: color === 'grey',
    red: color === 'red'
  }"
>
  <div
    *ngIf="!saving"
    class="m-shadowboxSubmitButton__status--unsaved"
    #buttonTextContainer
  >
    <ng-content></ng-content>
  </div>
  <div
    *ngIf="saving"
    class="m-shadowboxSubmitButton__status--saving"
    [style.width]="buttonTextWidth + 'px'"
  >
    <span></span>
    <span></span>
    <span></span>
  </div>
</button>
