
<div class="m-page">
  <div class="m-page--sidebar">
    <div class="m-page--sidebar--navigation">
      <a class="m-page--sidebar--navigation--item"
        [routerLink]="'/boost/console/' + type + '/history' + (type === 'offers' ? '/inbox' : '')"
        routerLinkActive="m-page--sidebar--navigation--item-active"
        >
        <i class="material-icons">history</i>
        <span i18n="@@BOOST__CONSOLE__TYPES__HISTORY">History</span>
      </a>

      <a class="m-page--sidebar--navigation--item"
        [routerLink]="'/boost/console/' + type + '/create'"
        routerLinkActive="m-page--sidebar--navigation--item-active"
        >
          <i class="material-icons">add_circle</i>
          <span i18n="@@BOOST__CONSOLE__TYPES__CREATE_BOOST">Create a Boost</span>
      </a>
    </div>
  </div>

  <div class="m-page--main">

    <router-outlet></router-outlet>

  </div>
</div>
