@import 'defaults.scss';

:host {
  .m-modalV2__inner {
    .m-modalV2__header {
      .m-assignRoles__title {
        @include heading3Bold;
        margin: 0 0 $spacing7 0;
      }

      .m-assignRoles__subtitle {
        @include body1Regular;
        margin-bottom: $spacing2;
      }
    }

    .m-modalV2__body {
      overflow-y: visible;
    }
  }
}
