<ul class="m-boost--creator-selector"
  [class.m-boost--creator-selector--has-selection]="boost.currency"
>
  <li class="m-boost--creator-selector--small"
    (click)="setBoostCurrency('onchain')"
    [class.m-boost--creator-selector--highlight]="!boost.currency || boost.currency == 'onchain'"
  >
    <i class="material-icons m-boost--creator--payment-method--icon">check_circle</i>
    <h5>
      <span>OnChain</span>
      <m-tooltip icon="help">
        Onchain payments will be published to the public blockchain. You may utilize Metamask or another address. These purchases require a Gas fee.
      </m-tooltip>
    </h5>

    <span class="m-boost--creator-selector--description m-boost--creator-selector--description--small" i18n="@@M__COMMON__BALANCE_VALUE">
      <m-tooltip anchor="left">
        <span m-tooltip--anchor class="m-boost--creator-selector--hoverable">Balance</span>

        <ng-container *ngIf="!balances.isReceiverOnchain; else receiverOnchainTooltip">
          This balance is for the {{ balances.onChainAddress | addressExcerpt:true }} wallet that is
          currently active in your Ethereum interface.
        </ng-container>
        <ng-template #receiverOnchainTooltip>
          This balance is for the {{ balances.onChainAddress | addressExcerpt:true }} wallet that is
          currently set up as the receiver wallet for your channel.
        </ng-template>
      </m-tooltip>:

      <ng-container>
        <ng-container *ngIf="balances.onchain !== null; else loadingOnchainBalance">
          {{ balances.onchain | token:18 | number }}
        </ng-container>

        <ng-template #loadingOnchainBalance>&hellip;</ng-template>
      </ng-container>
    </span>

    <span class="m-boost--creator-selector--selected-label" i18n="@@M__COMMON__SELECTED">Selected</span>
  </li>

  <li class="m-boost--creator-selector--small"
    (click)="setBoostCurrency('offchain')"
    [class.m-boost--creator-selector--highlight]="!boost.currency || boost.currency == 'offchain'"
  >
    <i class="material-icons m-boost--creator--payment-method--icon">donut_large</i>
    <h5>
      <span i18n="@@M__COMMON__OFFCHAIN_LABEL">OffChain</span>
      <m-tooltip icon="help">
        Offchain payments will not be published to the blockchain and are only usable for transactions up to 5,000 views.
      </m-tooltip>
    </h5>

    <span class="m-boost--creator-selector--description m-boost--creator-selector--description--small" i18n="@@M__COMMON__BALANCE_VALUE">
      <m-tooltip anchor="left">
        <span m-tooltip--anchor class="m-boost--creator-selector--hoverable">Balance</span>

        This balance is for your Minds.com OffChain wallet. 
        Transactions made from this address will not appear on the blockchain.
      </m-tooltip>:

      <ng-container>
        <ng-container *ngIf="balances.offchain !== null; else loadingOffchainBalance">
          {{ balances.offchain | token:18 | number }}
        </ng-container>

        <ng-template #loadingOffchainBalance>&hellip;</ng-template>
      </ng-container>
    </span>

    <span class="m-boost--creator-selector--selected-label" i18n="@@M__COMMON__SELECTED">Selected</span>
  </li>

  <li class="m-boost--creator-selector--small"
    *ngIf="boost.type !== 'p2p'"
    (click)="setBoostCurrency('usd')"
    [class.m-boost--creator-selector--highlight]="!boost.currency || boost.currency == 'usd'"
  >
    <i class="material-icons m-boost--creator--payment-method--icon">credit_card</i>
    <h5>
      <span i18n="@@BOOST__CREATOR__CC_SELECTOR">Credit Card</span>
      <m-tooltip icon="help" anchor="right">
        Credit cards may be used to boost, though we recommend first purchasing tokens in order to access a discount.
      </m-tooltip>
    </h5>

    <span class="m-boost--creator-selector--description m-boost--creator-selector--description--small" i18n="@@M__COMMON__SELECT_MONEY">
      Don't have Tokens? No problem.
    </span>

    <span class="m-boost--creator-selector--selected-label" i18n="@@M__COMMON__SELECTED">Selected</span>
  </li>

  <li class="m-layout--spacer"
    *ngIf="boost.type === 'p2p'"
  ></li>
</ul>
