<div class="m-walletProEarnings__earnings">
  <m-dropdownSelector
    [filter]="filter"
    [inlineLabel]="true"
    (selectionMade)="filterSelected($event)"
  >
  </m-dropdownSelector>
</div>

<m-loadingSpinner [inProgress]="inProgress"></m-loadingSpinner>

<div class="m-walletTokenEarnings__accordion" *ngIf="!inProgress">
  <table>
    <!------------------------------
    !! Labels !!
    ------------------------------->
    <thead>
      <tr class="labels">
        <td></td>
        <td>Total</td>
        <td></td>
      </tr>
    </thead>

    <!------------------------------
    !! Total !!
    ------------------------------->
    <tbody>
      <tr class="total">
        <td>Total</td>
        <td>
          <m-wallet__currencyValue
            [value]="
              currencyType === 'tokens'
                ? (earningsTotal$ | async | token)
                : (earningsTotal$ | async)
            "
            [currency]="currencyType"
          ></m-wallet__currencyValue>
        </td>
        <td></td>
      </tr>
    </tbody>

    <ng-container *ngFor="let earningsGroup of earnings$ | async">
      <tbody>
        <tr
          class="m-walletTokenEarnings__header"
          (click)="toggleRow(earningsGroup.id)"
        >
          <td>{{ getFriendlyLabel(earningsGroup.id) }}</td>
          <td>
            <m-wallet__currencyValue
              [value]="
                currencyType === 'tokens'
                  ? (earningsGroup.amount_tokens | token)
                  : earningsGroup.amount_usd
              "
              [currency]="currencyType"
            ></m-wallet__currencyValue>
          </td>
          <td>
            <ng-container
              *ngTemplateOutlet="
                expandArrow;
                context: { rowId: earningsGroup.id }
              "
            ></ng-container>
          </td>
        </tr>
      </tbody>

      <tbody
        class="m-walletTokenEarnings__expanded"
        *ngIf="shouldExpandRow(earningsGroup.id)"
      >
        <tr *ngFor="let item of earningsGroup.items">
          <td>
            {{ getFriendlyLabel(item.id) }}
          </td>
          <td colspan="2">
            <m-wallet__currencyValue
              [value]="
                currencyType === 'tokens'
                  ? (item.amount_tokens | token)
                  : item.amount_usd
              "
              [currency]="currencyType"
            ></m-wallet__currencyValue>
          </td>
        </tr>
      </tbody>
    </ng-container>
  </table>
</div>

<!-- Reusable row arrow -->
<ng-template #expandArrow let-rowId="rowId">
  <i class="material-icons">{{
    !shouldExpandRow(rowId) ? 'expand_less' : 'expand_more'
  }}</i>
</ng-template>
