<m-dropdown #channelModeDropdown class="m-channel-mode-selector--dropdown">
  <label *ngIf="user.mode === channelModes.PUBLIC">
    <i class="material-icons m-dropdown--label-icon">public</i>
    <span>Public</span>
    <i class="material-icons m-dropdown--label-icon" *ngIf="enabled"
      >keyboard_arrow_down</i
    >
  </label>
  <label *ngIf="user.mode === channelModes.MODERATED">
    <i class="material-icons m-dropdown--label-icon">person_add</i>
    <span>Moderated</span>
    <i class="material-icons m-dropdown--label-icon" *ngIf="enabled"
      >keyboard_arrow_down</i
    >
  </label>
  <label *ngIf="user.mode === channelModes.CLOSED">
    <i class="material-icons m-dropdown--label-icon">lock</i>
    <span>Closed</span>
    <i class="material-icons m-dropdown--label-icon" *ngIf="enabled"
      >keyboard_arrow_down</i
    >
  </label>
  <ul class="m-dropdown--list">
    <li
      class="m-dropdown--list--item"
      [class.m-dropdown--list--item--selected]="
        user.mode === channelModes.PUBLIC
      "
      (click)="setChannelMode(channelModes.PUBLIC)"
    >
      <i class="material-icons m-dropdown--label-icon">public</i>
      <span>Public</span>
    </li>
    <li
      class="m-dropdown--list--item"
      [class.m-dropdown--list--item--selected]="
        user.mode === channelModes.MODERATED
      "
      (click)="setChannelMode(channelModes.MODERATED)"
    >
      <i class="material-icons m-dropdown--label-icon">person_add</i>
      <span>Moderated</span>
    </li>
    <li
      class="m-dropdown--list--item"
      [class.m-dropdown--list--item--selected]="
        user.mode === channelModes.CLOSED
      "
      (click)="setChannelMode(channelModes.CLOSED)"
    >
      <i class="material-icons m-dropdown--label-icon">lock</i>
      <span>Closed</span>
    </li>
  </ul>
</m-dropdown>
