m-channel-mode-selector {
  padding: 16px 4px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;

  .m-dropdown--label-container {
    text-align: center;

    span {
      vertical-align: middle;
    }
  }

  .m-dropdown--label-icon {
    margin-right: 4px;
  }

  .m-sort-selector--item-label-icon {
    font-size: 18px;
    margin-right: 4px;
  }

  .m-dropdown--list--item {
    cursor: pointer;
  }
}
