@import 'defaults.scss';

@mixin horizontalPadding {
  padding-left: $spacing6;
  padding-right: $spacing6;
  box-sizing: border-box;
}

:host {
  display: block;
  max-height: 100%;
  width: 100%;
  margin: $spacing4 0;
  overflow-y: auto;
  @include hide-scrollbar;

  .m-chatRequestsList__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: $spacing4;
    margin-bottom: $spacing4;
    padding: 0 $spacing6;
    box-sizing: border-box;

    @include horizontalPadding;

    i {
      font-size: 24px;
      cursor: pointer;
    }

    .m-chatRequestsList__title {
      @include heading3Bold;
      margin: unset;
    }
  }

  .m-chatRequestsList__noRequestsContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: $spacing8 0;
    gap: $spacing6;
    @include horizontalPadding;

    .m-chatRequestsList__noRequestsIcon {
      font-size: 20px;
      padding: 10px;
      border-radius: 50%;
      cursor: pointer;

      @include m-theme() {
        background-color: themed($m-borderColor--primary);
      }
    }

    .m-chatRequestsList__noRequestsText {
      @include body3Medium;
      margin-bottom: 0;
    }
  }
}
