<div class="m-upgrades__buyTokens">
  <div class="">
    <h2>Buy Tokens</h2>

    <p>
      Expand your reach with Boost and support your favorite channels with Wire.
    </p>

    <p>
      <a>Learn more about tokens</a>
    </p>

    <div class="">
      <div class="">
        <label for="m-upgradesBuyTokens__amount">$</label>
        <input type="number" name="amount" id="m-upgradesBuyTokens__amount" />
      </div>

      <div>
        ?? tokens = ?????? page views
      </div>

      <div class="">
        <button class="">Buy Tokens</button>
      </div>
    </div>
  </div>

  <div class=""></div>
</div>
