<ng-template #buyTokensRateTpl>
  32 tokens = 32,000 page views
</ng-template>

<div class="m-upgrades__buyTokens">
  <div class="m-upgradesBuyTokens__wrapper">
    <div class="m-upgradesBuyTokens__body">
      <h2>Buy Tokens</h2>

      <p class="m-upgradesBuyTokens__description">
        Expand your reach with Boost and support your favorite channels with
        Wire.
      </p>

      <p>
        <a routerLink="/token">Learn more about tokens</a>
      </p>
    </div>

    <div class="m-upgradesBuyTokens__form">
      <div class="upgradesBuyTokens__amount" style="visibility: hidden;">
        <label for="m-upgradesBuyTokens__amountInput">$</label>
        <input
          type="number"
          name="amount"
          id="m-upgradesBuyTokens__amountInput"
        />
      </div>

      <div class="upgradesBuyTokens__rate">
        <ng-container *ngTemplateOutlet="buyTokensRateTpl"></ng-container>
      </div>

      <div class="upgradesBuyTokens__action">
        <button
          class="mf-button"
          (click)="navigateToTokensPage(); $event.preventDefault()"
        >
          Buy Tokens
        </button>
      </div>
    </div>

    <div class="m-upgradesBuyTokens__overflownRate">
      <ng-container *ngTemplateOutlet="buyTokensRateTpl"></ng-container>
    </div>
  </div>
</div>
