m-upgrades {
  display: block;

  @include m-theme() {
    background: themed($m-white);
  }
}

.m-upgrades {
  max-width: ((12 * 72px) + (11 * 20px));
  margin: 0 auto;

  section.m-upgrades__grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(12, 1fr);

    @for $i from 1 through 12 {
      .m-upgrades__gridColumn--#{$i} {
        grid-column: auto / span $i;
      }
    }
  }

  .m-upgrades__separator {
    width: 100%;
    height: 0;
    margin: 40px 0;
    border-top: 1px solid;

    @include m-theme() {
      border-color: themed($m-grey-50);
    }
  }

  .m-upgrades__button {
    display: inline-block;
    padding: 14px 32px;
    font-size: 18px;
    line-height: 24px;
    border: 1px solid;
    border-radius: 2px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;

    @include m-theme() {
      background: themed($m-blue);
      color: themed($m-white-always);
      border-color: themed($m-blue);
    }

    &.m-upgrades__button--hollow {
      @include m-theme() {
        background: themed($m-white);
        color: themed($m-black);
        border-color: themed($m-blue);
      }
    }
  }
}

.m-upgrades {
  @include m-theme() {
    background: themed($m-white);
    color: themed($m-grey-800);
  }

  h1,
  h2,
  h3,
  p,
  ul {
    font-family: Roboto, sans-serif;
  }

  .m-upgrades__mainFeatures {
    padding-bottom: 75px;
  }

  h1 {
    font-size: 48px;
    font-weight: 900;
    line-height: 53px;
    padding-right: 35px;
    margin: 0 0 26px 0;
  }

  p {
    font-size: 16px;
    line-height: 23px;

    &.m-upgrades__description {
      margin-bottom: 36px;

      @include m-theme() {
        color: themed($m-grey-200);
      }
    }
  }

  ul {
    &.m-upgrades__features {
      margin-bottom: 45px;

      li {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 19px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .m-upgrades__featuredIn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      font-size: 14px;

      @include m-theme() {
        color: themed($m-grey-200);
      }

      img {
        width: 55px;
        height: 55px;
        object-fit: contain;
      }

      &.m-upgrades__featuredInItem--big {
        img {
          width: 96px;
          height: 96px;
        }
      }
    }
  }
}
