<div class="m-upgrades__upgradeOptions">
  <div class="m-upgradesUpgradeOptions__header">
    <h2>Upgrade Options</h2>

    <div class="m-upgradesUpgradeOptionsHeader__toggleContainer">
      <div class="m-upgradesUpgradeOptionsHeader__toggle">
        <span i18n="currency|@@COMMON__USD">USD</span>
        <span
          ><m-toggle
            [(mModel)]="currency"
            (mModelChange)="setCurrency($event)"
            leftValue="usd"
            rightValue="tokens"
          ></m-toggle
        ></span>
        <span i18n="currency|@@COMMON__TOKENS">Tokens</span>
      </div>
      <div
        class="m-upgradesUpgradeOptionsHeader__toggle"
        [ngClass]="{
          'm-upgradesUpgradeOptionsHeader__toggle--hidden': currency !== 'usd'
        }"
      >
        <span i18n="@@COMMON__YEARLY">Yearly</span>
        <span
          ><m-toggle
            [(mModel)]="interval"
            leftValue="yearly"
            rightValue="monthly"
          ></m-toggle
        ></span>
        <span i18n="@@COMMON__MONTHLY__TITLECASE">Monthly</span>
      </div>
    </div>
  </div>

  <div class="m-upgradesUpgradeOptions__plans">
    <div
      class="
        m-upgradesUpgradeOptionsPlan__row
        m-upgradesUpgradeOptionsPlan__row--first
      "
    >
      <h3 i18n="@@UPGRADE_OPTIONS__PLUS">Minds+</h3>

      <p
        class="m-upgradesUpgradeOptionsPlan__targetAudience"
        i18n="@@UPGRADE_OPTIONS__IDEAL_MINDS_USERS"
      >
        Ideal for all Minds Users
      </p>
    </div>

    <div class="m-upgradesUpgradeOptionsPlan__row">
      <p
        class="m-upgradesUpgradeOptionsPlan__description"
        i18n="@@UPGRADE_OPTIONS__UPGRADE_CHANNEL_INFO"
      >
        Unlock the first community-powered streaming service and earn revenue.
      </p>
    </div>

    <div class="m-upgradesUpgradeOptionsPlan__row">
      <ul>
        <li i18n="@@UPGRADE_OPTIONS__ACCESS_EXCLUSIVE_CONTENT">
          Access exclusive Minds+ content
        </li>
        <li i18n="@@UPGRADE_OPTIONS__VERIFY_YOUR_CHANNEL">
          Verify your channel
        </li>

        <li i18n="@@UPGRADE_OPTIONS__HIDE_BOOSTS">Hide boosted content</li>
      </ul>
    </div>

    <div
      class="
        m-upgradesUpgradeOptionsPlan__row
        m-upgradesUpgradeOptionsPlan__row--last
      "
    >
      <p>
        <a
          class="m-upgradesUpgradeOptionsPlan__moreInfo"
          routerLink="/plus"
          i18n="@@UPGRADE_OPTIONS__MORE_INFO"
        >
          More info
        </a>
      </p>
      <ng-container *ngIf="currency === 'usd'">
        <p
          class="m-upgradesUpgradeOptionsPlan__pricing"
          i18n="@@UPGRADE_OPTIONS__PER_MONTH"
        >
          <span>{{ plusPricing.amount }}</span> per month
        </p>

        <p
          class="m-upgradesUpgradeOptionsPlan__offer"
          *ngIf="plusPricing.offerFrom"
          i18n="@@UPGRADE_OPTIONS__PER_MONTH"
        >
          <span>{{ plusPricing.offerFrom }}</span> per month
        </p>
      </ng-container>
      <ng-container *ngIf="currency === 'tokens'">
        <p class="m-upgradesUpgradeOptionsPlan__pricing">
          <span i18n="@@UPGRADES_PLUS_SUBSCRIPTION__MINDS_AMOUNT">
            <span>{{ plusPricing.amount | number }}</span> MINDS
          </span>
        </p>
        <p class="m-upgradesUpgradeOptionsPlan__intervalDesc">
          <span i18n="@@UPGRADES__LIFETIME_MEMBERSHIP">
            Lifetime membership!
          </span>
        </p>
      </ng-container>
    </div>

    <div class="m-upgradesUpgradeOptionsPlan__row">
      <a
        routerLink="/plus"
        [queryParams]="intervalCurrencyQueryParams"
        data-ref="m-upgradeOptions__upgrade-to-plus-button"
        i18n="@@COMMON__UPGRADE_TO_PLUS"
        ><m-button
          color="blue"
          class="m-upgradesUpgradeOptionsPlan__action"
          *ngIf="!session.getLoggedInUser()?.plus"
        >
          Upgrade to Minds+
        </m-button></a
      >
    </div>

    <div
      class="
        m-upgradesUpgradeOptionsPlan__row
        m-upgradesUpgradeOptionsPlan__row--first
      "
    >
      <h3 i18n="@@COMMON__PRO">Pro</h3>

      <p
        class="m-upgradesUpgradeOptionsPlan__targetAudience"
        i18n="@@UPGRADE_OPTIONS__FOR_INDEPENDANT_CREATORS"
      >
        For independent content creators
      </p>
    </div>

    <div class="m-upgradesUpgradeOptionsPlan__row">
      <p
        class="m-upgradesUpgradeOptionsPlan__description"
        i18n="@@UPGRADE_OPTIONS__ULTIMATE_PLATFORM"
      >
        The ultimate platform for independent creators and brands.
      </p>
    </div>

    <div class="m-upgradesUpgradeOptionsPlan__row">
      <ul>
        <li i18n="@@UPGRADE_OPTIONS__GET_PAID_WORK">Get paid for your work</li>

        <li i18n="@@UPGRADE_OPTIONS__BUILD_OWN_CUSTOM_SITE">
          Build your own custom website
        </li>

        <li i18n="@@UPGRADE_OPTIONS__PROFESSIONAL_MEDIA_TOOLS">
          Professional media tools
        </li>
      </ul>
    </div>

    <div
      class="
        m-upgradesUpgradeOptionsPlan__row
        m-upgradesUpgradeOptionsPlan__row--last
      "
    >
      <p>
        <a
          class="m-upgradesUpgradeOptionsPlan__moreInfo"
          routerLink="/pro"
          i18n="@@COMMON__MORE_INFO"
        >
          More info
        </a>
        <a
          class="m-upgradesUpgradeOptionsPlan__moreInfo"
          [routerLink]="[
            '/pro/' + session.getLoggedInUser().username + '/settings'
          ]"
          i18n="@@COMMON__TRY_PRO"
          *ngIf="session.getLoggedInUser()"
          style="padding-left: 16px"
        >
          Try Pro
        </a>
      </p>
      <ng-container *ngIf="currency === 'usd'">
        <p
          class="m-upgradesUpgradeOptionsPlan__pricing"
          i18n="@@COMMON__PER_MONTH"
        >
          <span>{{ proPricing.amount }}</span> per month
        </p>
        <p
          class="m-upgradesUpgradeOptionsPlan__offer"
          *ngIf="proPricing.offerFrom"
          i18n="@@COMMON__PER_MONTH"
        >
          <span>{{ proPricing.offerFrom }}</span> per month
        </p>
      </ng-container>
      <ng-container *ngIf="currency === 'tokens'">
        <p class="m-upgradesUpgradeOptionsPlan__pricing">
          <span i18n="@@UPGRADES_PRO_SUBSCRIPTION__MINDS_AMOUNT">
            <span>{{ proPricing.amount | number }}</span> MINDS
          </span>
        </p>
        <p class="m-upgradesUpgradeOptionsPlan__intervalDesc">
          <span i18n="@@UPGRADES__LIFETIME_MEMBERSHIP">
            Lifetime membership!
          </span>
        </p>
      </ng-container>
    </div>

    <div class="m-upgradesUpgradeOptionsPlan__row">
      <a
        routerLink="/pro"
        [queryParams]="intervalCurrencyQueryParams"
        data-ref="m-upgradeOptions__upgrade-to-pro-button"
        i18n="@@COMMON__UPGRADE_TO_PRO"
      >
        <m-button
          color="blue"
          class="m-upgradesUpgradeOptionsPlan__action"
          *ngIf="!session.getLoggedInUser()?.pro"
        >
          Upgrade to Pro
        </m-button></a
      >
    </div>

    <div
      class="
        m-upgradesUpgradeOptionsPlan__row
        m-upgradesUpgradeOptionsPlan__row--first
      "
    >
      <h3 i18n="@@UPGRADE_OPTIONS__NODE">Node</h3>

      <p
        class="m-upgradesUpgradeOptionsPlan__targetAudience"
        i18n="@@UPGRADE_OPTIONS__NEXT_LEVEL_CREATORS"
      >
        For next-level content creators
      </p>
    </div>

    <div class="m-upgradesUpgradeOptionsPlan__row">
      <p
        class="m-upgradesUpgradeOptionsPlan__description"
        i18n="@@UPGRADE_OPTIONS__LAUNCH_OWN_NETWORK"
      >
        Launch your own white-labeled social network and mobile app.
      </p>
    </div>

    <div class="m-upgradesUpgradeOptionsPlan__row">
      <ul>
        <li i18n="@@UPGRADE_OPTIONS__WHITE_LABEL_MOBILE_AND_WEB">
          White-labeled web + mobile app
        </li>

        <li i18n="@@UPGRADE_OPTIONS__CUSTOM_DOMAIN_AND_BRAND">
          Custom domain and brand
        </li>

        <li i18n="@@UPGRADE_OPTIONS__INDEPENDANT_FROM_MINDS">
          Independent from Minds
        </li>
      </ul>
    </div>

    <div
      class="
        m-upgradesUpgradeOptionsPlan__row
        m-upgradesUpgradeOptionsPlan__row--last
      "
    >
      <p>
        <a
          class="m-upgradesUpgradeOptionsPlan__moreInfo"
          routerLink="/nodes"
          i18n="@@UPGRADE_OPTIONS__MORE_INFO"
        >
          More info
        </a>
      </p>
      <p
        class="m-upgradesUpgradeOptionsPlan__pricing"
        i18n="@@UPGRADE_OPTIONS__CONTACT_US_PRICING"
      >
        Contact us for pricing
      </p>
    </div>

    <div class="m-upgradesUpgradeOptionsPlan__row">
      <a
        routerLink="/nodes"
        data-ref="m-upgradeOptions__contact-us-nodes-button"
        i18n="@@COMMON__CONTACT_US"
        ><m-button color="blue" class="m-upgradesUpgradeOptionsPlan__action">
          Join waitlist
        </m-button></a
      >
    </div>
  </div>
</div>
