<m-marketing class="m-upgrades" pageTitle="Upgrade your account" i18n-pageTitle>
  <div class="m-marketing__main m-marketing__section--style-1">
    <div class="m-marketing__wrapper">
      <h1 class="m-marketing--title__bigger-title" i18n>
        Upgrade you Minds experience
      </h1>

      <p class="m-marketing__description" i18n>
        Minds offers a unique range of powerful upgrades that will supercharge
        your Minds experience.
      </p>

      <ul class="m-marketing__points">
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Aliquam eveniet impedit maiores sapiente.</li>
        <li>Aperiam laudantium nemo non soluta.</li>
      </ul>

      <a
        class="mf-button mf-button--hollow m-marketing--hideMobile"
        (click)="upgradeNow(); $event.preventDefault()"
        i18n
      >
        Upgrade now
      </a>
    </div>
  </div>

  <div class="m-marketing__extras">
    <div class="mf-jumpAnchor" #upgradeOptionsAnchor></div>
    <m-upgrades__upgradeOptions></m-upgrades__upgradeOptions>
  </div>

  <div class="m-marketing__extras">
    <m-upgrades__buyTokens></m-upgrades__buyTokens>
  </div>
</m-marketing>
