.m-token--onboarding--onchain-selections {
  overflow: visible;
  margin-top: 32px;

  @media screen and (max-width: $max-mobile) {
    flex-wrap: wrap;
  }

  li {
    min-width: 350px;

    &:nth-of-type(1) {
      min-width: 230px;
    }

    img.metamask {
      width: 86px;
      margin-bottom: 8px;
    }

    i {
      font-size: 88px !important;
      display: block;
    }

    .m-token--onboarding--onchain-selections--buttons {
      display: flex;
      align-items: center;
      padding-top: 16px;

      span {
        font-size: 11px;
        padding: 0 8px;
        @include m-theme() {
          color: themed($m-grey-800);
        }
      }

      .m-token--onboarding--onchain-selections--buttons-input {
        appearance: none;
        flex-grow: 1;
        margin-right: 16px;
        padding: 6px 8px;
        border-radius: 4px;
        font-family: 'Jost', sans-serif;
        font-size: 15px;
        letter-spacing: -0.001em;
        font-weight: 300;
        @include m-theme() {
          border: 1px solid themed($m-borderColor--primary);
        }
      }

      span.m-token--onboarding--onchain-selections--buttons-input {
        display: inline-block;
        white-space: nowrap;
      }

      .mdl-spinner {
        flex-shrink: 0;
        flex-grow: 0;
        margin-left: 16px;
      }
    }
  }
}

.m-token--onboarding-setup-options {
  z-index: 10;
}
