@import 'defaults';

m-newsfeed {
  grid-area: content / span 2;
  min-width: 0;
}

.m-newsfeed-footer {
  .m-footer-nav {
    justify-content: flex-start;
  }

  .copyright {
    text-transform: uppercase;
    font-size: 11px;
    padding: 0 8px;
    font-weight: 600;
  }
}

.m-grid .m-newsfeed.mdl-grid {
  margin: unset;
}
.m-newsfeed {
  max-width: 1280px;
  flex-wrap: nowrap;
  padding-top: 0;

  @media screen and (max-width: 480px) {
    padding: 0;
  }

  .mdl-cell {
    margin-top: 0;
  }

  .m-newsfeed--logged-out {
    margin: 0 auto;
  }

  .m-newsfeedSidebar__header {
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    padding: 0 8px;
    @include m-theme() {
      color: themed($m-textColor--primary);
    }
  }
}

.minds-newsfeed-sidebar-button {
  //padding-bottom: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .m-buypoints-tag {
    font-size: 11px;
    font-weight: 600;
    padding-left: 8px;
  }

  > i {
    &.material-icons {
      vertical-align: middle;
      position: relative;
      //top: -0.1em;
      margin-right: 0.2em;
    }

    &.m-newsfeed-sidebar-button--close {
      float: right;
    }
  }
}

.m-newsfeed-boost-promo {
  padding: 12px 16px;
  font-weight: bold;
  //text-transform: uppercase;
  i {
    vertical-align: middle;
    padding-right: 12px;
  }
}

.m-invite-link {
  cursor: pointer;
}

.m-newsfeed--boost-header {
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 3px;
  @include m-theme() {
    color: themed($m-blue);
    border: 1px solid themed($m-blue);
  }

  span {
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'Jost', Helvetica, Sans-serif;
    cursor: default;
  }

  m-tooltip {
    vertical-align: middle;
    margin-left: 8px;

    i {
      font-size: 16px;
    }
  }
}

.m-newsfeed-message {
  display: block;
  padding: 12px 16px;
  margin-bottom: $minds-padding;
  text-align: center;
  cursor: pointer;
  text-decoration: inherit;

  i {
    vertical-align: middle;
    padding-right: 12px;
  }
}

.mdl-card.m-newsfeed__CompactHashtagSelector {
  background-color: transparent !important;
  overflow: visible;
}

.m-newsfeed__sidebar .minds-usercard-block .avatar img {
  object-fit: cover;
}

.m-newsfeed__inner {
  m-publisherRecommendations {
    @include m-theme() {
      border-top: 1px solid themed($m-borderColor--primary);
    }
  }
}

.m-theme__2020 .m-newsfeed {
  .m-pageLayout__pane--right {
    padding-right: 0;
  }
  .m-newsfeed__sidebar {
    max-width: initial;
    padding: 20px 0 20px 40px;
  }

  m-suggestions__sidebar > m-sidebarWidget {
    margin-bottom: 20px;
  }
}
