@import 'defaults.scss';

// ojm figure out why there's a gap and it shoudl be 1099
$layoutMax2ColWidth: '1039px';

:host {
  .m-newsfeed {
    &:not(.m-newsfeed--activityV2) {
      ::ng-deep m-activity {
        margin-bottom: $spacing5;
      }
    }
    &.m-newsfeed--activityV2 {
      .m-newsfeed--feed {
        @media screen and (min-width: $max-mobile) and (max-width: $layoutMax2ColWidth) {
          @include borderRight;
        }
      }

      ::ng-deep m-activity {
        border: none !important;
      }
    }
    // ojm look at latest posts (guest mode) ,
    // .m-newsfeed__inner
    // padding should be 0
  }

  ::ng-deep {
    m-composer {
      margin-bottom: 0px !important;
      border: none !important;
      border-radius: 0;
      @include m-theme() {
        border-bottom: 4px solid themed($m-borderColor--primary) !important;
      }

      .m-composerBase__container {
        padding-left: $spacing4;
        width: auto;
      }
    }
  }
}
