m-settings--billing-subscriptions{
}
.m-settings--billing-subscriptions{
  margin-top: 16px;
  overflow: visible;

  ul, li{
    list-style: none;
    cursor: default;
    padding: 0;
  }


  .m-settings--billing-subscriptions--subscription-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Roboto';
    border: 1px solid #DDD;
    margin: 16px;
    border-radius: 3px;

    > *{
      padding:8px;
    }

    .m-settings--billing-subscriptions--subscription-item-select{
      flex:auto;
      text-align:right;
      color: #888;
      cursor:  pointer;
    }

  }
}
