.filterableChartWrapper {
  padding: 0;
  width: 100%;
}
.tableWrapper {
  font-size: 13px;
  font-weight: 400;
  @include m-theme() {
    color: themed($m-grey-800);
  }
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 48px;
    &.header {
      @include m-theme() {
        border-bottom: 1px solid themed($m-grey-50);
        color: themed($m-grey-200);
      }
      .col {
        flex: 1 1 0;
        &.first {
          flex: 4 1 0;
        }
      }
    }
    .col {
      flex: 1 1 0;
      &.entity {
        flex: 4 1 0;
        // @include m-theme() {
        //   border-right: 1px solid themed($m-grey-50);
        // }
        a {
          font-weight: 400;
          text-decoration: none;
        }
        .entityTitle {
          display: flex;
          align-items: center;

          i {
            font-size: 13px;
            display: none;
          }
          a,
          i {
            @include m-theme() {
              color: themed($m-grey-800);
            }
          }
        }
        .entityDetails {
          display: flex;
          justify-content: space-between;
          @include m-theme() {
            color: themed($m-grey-200);
          }
          a {
            @include m-theme() {
              color: themed($m-grey-200);
            }
          }
        }
      }
    }
  }
  .body {
    .row {
      &:hover {
        @include m-theme() {
          background-color: rgba(themed($m-blue-grey-50), 0.5);
        }
        .entityTitle i {
          display: inline-block;
        }
      }
    }
  }
}
