<div class="spinnerContainer">
  <div
    class="mdl-spinner mdl-js-spinner is-active"
    [mdl]
    [hidden]="!loading"
  ></div>
</div>
<div class="tableWrapper" [hidden]="loading">
  <div class="header row">
    <div
      *ngFor="let col of visualisation.columns; let first = first"
      [ngClass]="{
        first: first
      }"
      class="cell"
    >
      {{ col.label }}
    </div>
  </div>
  <div class="body">
    <ng-container *ngFor="let row of reformattedBuckets">
      <a class="row" [routerLink]="row.entity.route">
        <div class="entity cell" *ngIf="row.entity">
          <div class="entityTitle">
            <span>{{ row.entity.title }}</span>
            <i class="material-icons">open_in_new</i>
          </div>
          <div class="entityDetails">
            <span class="usernameWrapper">
              <a [routerLink]="'/' + row.entity.name"
                >@{{ row.entity.username }}</a
              >
            </span>
            <span *ngIf="!isMobile">{{ row.entity.type | titlecase }}</span>
            <span *ngIf="!isMobile"
              >Published {{ row.entity.time_created * 1000 | date }}</span
            >
          </div>
        </div>
        <div class="valuesContainer">
          <ng-container *ngFor="let value of row.values">
            <div class="value cell">{{ value | abbr }}</div>
          </ng-container>
        </div>
      </a>
    </ng-container>
  </div>
</div>
