.m-analytics__tableWrapper {
  font-size: 13px;
  font-weight: 400;
  @include m-theme() {
    color: themed($m-grey-800);
  }
  a {
    text-decoration: none;
    font-weight: normal;
    @include m-theme() {
      color: themed($m-grey-800);
    }
  }
  [class*='m-analytics__row'] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    &.m-analytics__row--header {
      @include m-theme() {
        border-bottom: 1px solid themed($m-grey-50);
        color: themed($m-grey-200);
      }
      .m-analytics__col--entity {
        flex-direction: row;
        align-items: flex-end;
      }
      .m-analytics__col--values {
        .m-analytics__subCol--value {
          align-items: flex-end;
        }
      }
    }
    &.m-analytics__row--data {
      &:hover {
        @include m-theme() {
          background-color: rgba(themed($m-blue-grey-50), 0.5);
        }
        .m-analytics__col--entity .m-analytics__entityTitle i {
          display: inline-block;
        }
      }
      .m-analytics__col--entity {
        @include m-theme() {
          border-right: 1px solid themed($m-grey-50);
        }
      }

      [class*='m-analytics__col'],
      [class*='m-analytics__col'] * {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      // .m-analytics__subCol--value  {
      //   align-items: center;
      // }
    }
    .m-analytics__cell {
      display: flex;
      overflow: hidden;
      white-space: nowrap;
      height: 50px;
      padding: 8px 8px 8px 0;
    }

    .m-analytics__col--entity {
      flex-direction: column;
      padding-left: 24px;
      // flex-basis: 20vw;

      .m-analytics__usernameWrapper a {
        font-weight: 400;
        text-decoration: none;
      }
      .m-analytics__entityTitle {
        display: flex;
        > * {
          display: inline-block;
          max-width: 200px;
        }

        i {
          font-size: 12px;
          margin: 3px 0 0 3px;
          display: none;
          @include m-theme() {
            color: themed($m-grey-800);
          }
        }
      }
      .m-analytics__entityDetails {
        display: inline;
        @include m-theme() {
          color: themed($m-grey-200);
        }
        > * {
          margin-right: $minds-margin;
        }
        .m-analytics__usernameWrapper {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        a {
          @include m-theme() {
            color: themed($m-grey-300);
          }
        }
      }
    }
    .m-analytics__col--values {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      .m-analytics__subCol--value {
        flex: 1 1 16vw;

        &:first-of-type {
          padding-left: 24px;
        }
        &:last-of-type {
          padding-right: 16px;
        }
      }
    }
  }
}

.m-analytics__col--entity {
  flex: 2 3 0;
}
.m-analytics__col--values {
  flex: 1 2 0;
}
// MOBILE /////////////////////
.m-analytics__tableWrapper.isMobile {
  .m-analytics__col--entity {
    flex: 1 3 0;
  }
  .m-analytics__col--values {
    flex: 2 1 0;
  }

  .m-analytics__row--header {
    border: none !important;
  }
  .m-analytics__row--data {
    .m-analytics__col--entity.m-analytics__cell {
      border: none !important;
    }
  }
}
///////////////////////////@at-root  @media screen and (max-width: 800px) {

// @media screen and (max-width: 910px) {
//   .m-referrals-dashboard__row.m-referrals-dashboard__headerRow {
//     span {
//       white-space: normal !important;
//       max-width: 35px;
//     }
//     .m-referrals-dashboard__registerCol,
//     .m-referrals-dashboard__rewardsCol {
//       align-items: flex-start !important;
//     }
//     .m-referrals-dashboard__rewardsCol span {
//       max-width: 46px;
//     }
//   }
//   .m-referrals-dashboard__cell.m-referrals-dashboard__rewardsCol {
//     flex: 2 3 0;

//     .m-referrals-dashboard__pingButtonContainer button {
//       padding: 8px;

//       span {
//         display: none;
//       }
//     }
//   }
// }

//   .m-referrals-dashboard__cell.m-referrals-dashboard__registerCol {
//     display: none;
//   }
//   .m-referrals-dashboard__userCol {
//     min-width: 100px;
//   }
//   .m-referrals-dashboard__statusCol {
//     min-width: 60px;
//   }
//   .m-referrals-dashboard__rewardsCol {
//     max-width: 75px;
//   }
// }
