<div class="tableWrapper" [hidden]="loading" [ngClass]="{ isMobile: isMobile }">
  <div class="row--header">
    <div *ngFor="let col of columns | slice: 0:1" class="col--entity cell">
      {{ col.label }}
    </div>
    <div class="col--values">
      <ng-container *ngFor="let col of columns | slice: 1">
        <div class="subCol--value cell">{{ col.label }}</div>
      </ng-container>
    </div>
  </div>
  <ng-container *ngFor="let row of reformattedBuckets">
    <a class="row--data" [routerLink]="row.entity.route">
      <div class="col--entity cell" *ngIf="row.entity">
        <div class="entityTitle">
          <span>{{ row.entity.title }}</span>
          <i class="material-icons">open_in_new</i>
        </div>
        <div class="entityDetails">
          <span class="usernameWrapper">
            <a [routerLink]="'/' + row.entity.name"
              >@{{ row.entity.username }}</a
            >
          </span>
          <span *ngIf="!isMobile">{{ row.entity.type | titlecase }}</span>
          <span *ngIf="!isMobile"
            >Published {{ row.entity.time_created * 1000 | date }}</span
          >
        </div>
      </div>
      <div class="col--values">
        <ng-container *ngFor="let value of row.values">
          <div class="subCol--value cell">{{ value | abbr }}</div>
        </ng-container>
      </div>
    </a>
  </ng-container>
</div>
