<m-dropdownMenu
  triggerClass="m-walletTokensDropdown__menuButton"
  menuClass="m-walletTokensDropdown__menu"
  [anchorPosition]="{ top: '0', left: '0' }"
  [menu]="menu"
>
  <m-icon iconId="more_vert"></m-icon>
</m-dropdownMenu>

<ng-template #menu>
  <ul>
    <m-dropdownMenu__item
      label="Token analytics"
      routerLink="/analytics/dashboard/token"
    >
    </m-dropdownMenu__item>
    <m-dropdownMenu__item
      (click)="onTransferTokensClick($event)"
      label="Transfer On-chain"
    >
    </m-dropdownMenu__item>
    <m-dropdownMenu__item
      (click)="onPurchaseTokensClick($event)"
      label="Purchase tokens"
    >
    </m-dropdownMenu__item>
    <m-dropdownMenu__item
      *ngIf="address$ | async"
      (click)="copyAddressToClipboard($event)"
      label="Copy address to clipboard"
    >
    </m-dropdownMenu__item>
    <m-dropdownMenu__item
      *ngIf="canDisconnect$ | async"
      (click)="onDisconnectClick($event)"
      label="Disconnect Wallet"
    >
    </m-dropdownMenu__item>
  </ul>

  <span #addressEl class="m-walletTokensDropdown__copyToClipboardContent">{{
    address$ | async
  }}</span>
</ng-template>
