<m-modal [open]="open" (closed)="close()">
  <div class="m-web3-modal-body">
    <div
      class="m-web3-modal__provider-wrapper"
      *ngFor="let provider of providers"
      (click)="provider.onClick()"
    >
      <div class="m-web3-modal__provider-container">
        <div class="m-web3-modal__provider-icon">
          <img [src]="provider.logo" [alt]="provider.logo" />
        </div>
        <div class="m-web3-modal__provider-name">
          {{ provider.name }}
        </div>
        <div class="m-web3-modal__provider-description">
          {{ provider.description }}
        </div>
      </div>
    </div>
  </div>
</m-modal>
