.m-admin-reports--comment-note {
  text-align: center;
  padding: $minds-padding;
  font-size: 12px;

  a {
    text-decoration: none;
    font-weight: 300;
    @include m-theme() {
      color: themed($m-grey-300);
    }
  }
}

.m-admin-reports--tab-spacer {
  display: inline-block;
  height: 0;
  width: $minds-padding * 3;
}

.m-report-meta {
  @include m-theme() {
    color: themed($m-blue-grey-500);
  }
}
