<div class="m-blockchain--marketing--countdown">
  <div class="m-blockchain--marketing--countdown--col">
    <span>{{ days }}</span>
    <label>DAYS</label>
  </div>
  <div class="m-blockchain--marketing--countdown--col">
    <span>{{ hours }}</span>
    <label>hours</label>
  </div>
  <div class="m-blockchain--marketing--countdown--col">
    <span>{{ minutes }}</span>
    <label>Minutes</label>
  </div>
  <div class="m-blockchain--marketing--countdown--col">
    <span>{{ seconds }}</span>
    <label>Seconds</label>
  </div>
</div>
