<div class="m-marketing">

  <div class="m-marketing--header">
    <div class="m-marketing--background-video">
      <video autoplay muted loop *ngIf="!videoError; else spaceImage">
        <source [src]="minds.cdn_assets_url + 'assets/videos/space-1/space-1.mp4'" type="video/mp4" (error)="onSourceError()">
      </video>
      <ng-template #spaceImage>
        <img [src]="minds.cdn_assets_url + 'assets/marketing/space-1.png'">
      </ng-template>
    </div>

    <div class="m-marketing--header-inner">

      <h1>The Minds Token</h1>
      <h3>
        A decentralized, transparent and autonomous social networking solution.
      </h3>

      <div class="m-marketing--action-button">
        <button class="mdl-button mdl-button--colored mdl-color--green"
          (click)="downloadWhitepaper()"
        >Read the Whitepaper</button>
      </div>
    </div>

    <div class="m-marketing--overlay"></div>
  </div>

  <div class="m-marketing--contents m-layout--row m-blockchain--marketing--logo-and-video">
    <div class="m-blockchain--marketing--logo-and-video--logo">
      <img [src]="minds.cdn_assets_url + 'assets/logos/bulb.svg'" />
    </div>
    <div class="m-blockchain--marketing--video">
      <iframe 
        src="https://www.youtube.com/embed/ScMzIvxBSi4?rel=0&amp;showinfo=0" 
        frameborder="0"
        gesture="media"
        allow="encrypted-media"
        allowfullscreen
        width="480"
        height="280"
        ></iframe>
    </div>
  </div>

  <div class="m-marketing--hero m-blockchain--marketing--balloon">
    <div class="m-marketing--background-video">
      <img [src]="minds.cdn_assets_url + 'assets/photos/balloon.jpg'">
    </div>

    <div class="m-marketing--hero-inner">
      <h2>Traditional social networks are exploiting you with secret algorithms, surveillance and demonetization.</h2>
    </div>
  </div>

  <div class="m-marketing--statement">
    <h2>Minds is taking a different approach.</h2>
  </div>

  <div class="m-marketing--contents m-layout--row">
  
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
      <i class="material-icons mdl-color-text--blue-grey-700">accessibility</i>

      <h2>Freedom</h2>

      <span>
        Open source. Transparent. Encrypted. Decentralized. Maximized free speech.
      </span>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
      <i class="material-icons mdl-color-text--blue-grey-700">trending_up</i>

      <h2>Reach</h2>

      <span>
        No restrictive algorithms. No surveillance. 100% organic reach.
      </span>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
      <i class="material-icons mdl-color-text--blue-grey-700">stars</i>

      <h2>Rewards</h2>

      <span>
        Earn crypto for contributing to the network. Exchange it for viral reach and rewards.
      </span>
    </div>

  </div>

  <div class="m-marketing--statement">
    <h2>We are continuing to steadily grow</h2>
  </div>

  <div class="m-marketing--section m-blockchain--marketing--bullets">
    <div class="m-marketing--lr">
      <div class="m-marketing--lr--left m-marketing--lr--text">
        <h3>Wire: Decentralized Payments</h3>

        <ul>
          <li>Eliminate the middleman and any risk of demonetization or censorship</li>
          <li>Autonomously own the relationships with your supporters</li>
          <li>Sell subscriptions for exclusive content or rewards. Earn tips or donations</li>
        </ul>
      </div>

      <div class="m-marketing--lr--right m-marketing--lr--image">
        <img [src]="minds.cdn_assets_url + 'assets/screenshots/mobile-wire.png'" />
      </div>
    </div>

    <div class="m-marketing--lr">
      <div class="m-marketing--lr--left m-marketing--lr--image">
        <img [src]="minds.cdn_assets_url + 'assets/screenshots/mobile-boost.png'" />
      </div>

      <div class="m-marketing--lr--right m-marketing--lr--text">
        <h3>Boost: The Ad Network</h3>

        <ul>
          <li>Exchange tokens for advertising views on the network or with a specific channel</li>
          <li>Full transparency and auditability for all paid advertising campaigns on the blockchain</li>
          <li>You control the content and ads you see or don’t see with an opt-in system</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="m-marketing--contents mdl-grid mdl-grid--no-spacing m-marketing--contents--middle">
    <div class="mdl-cell mdl-cell--12-col">
      <h2>The Press</h2>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet m-blockchain--marketing--press-logo">
      <a href="#">
        <img [src]="minds.cdn_assets_url + 'assets/marketing/cryptobriefing_logo.png'" alt="">
      </a>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet m-blockchain--marketing--press-logo">
      <a href="#">
        <img [src]="minds.cdn_assets_url + 'assets/marketing/sfc_logo.png'" alt="">
      </a>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet m-blockchain--marketing--press-logo">
      <a href="#">
        <img [src]="minds.cdn_assets_url + 'assets/marketing/observer_logo.png'" alt="">
      </a>
    </div>
  </div>

  <div class="m-marketing--responsive-hero-image m-marketing--responsive-hero-image--bottom">
    <img [src]="minds.cdn_assets_url + 'assets/marketing/international-space-station-1776401_1920.jpg'" alt="">
  </div>

  <div class="m-marketing--contents mdl-grid mdl-grid--no-spacing m-blockchain--marketing-people">
    <div class="mdl-cell mdl-cell--12-col">
      <h2>The Team</h2>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/100000000000000341/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Bill Ottman
      </span>

      <span class="m-blockchain--marketing-person-title">
        Co-founder &amp; CEO
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/100000000000000063/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Mark Harding
      </span>

      <span class="m-blockchain--marketing-person-title">
        Co-founder &amp; CTO
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/100000000000000134/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        John Ottman
      </span>

      <span class="m-blockchain--marketing-person-title">
        Co-founder &amp; Chairman
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/100000000000001111/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Jack Ottman
      </span>

      <span class="m-blockchain--marketing-person-title">
        COO
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/458262421140672512/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Peter Schwartz
      </span>

      <span class="m-blockchain--marketing-person-title">
        CFO
      </span>
    </div>

  </div>

  <div class="m-marketing--contents mdl-grid mdl-grid--no-spacing m-blockchain--marketing-people m-blockchain--marketing-people--more">

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/508276211659579407/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Emiliano Balbuena
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/747562985026756623/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Nicolás Cesarini
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/714469159613767694/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Marcelo Rivera
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/773311697292107790/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Martin Santangelo
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/270962885465739264/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Andy Culp
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/100000000000191224/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Nicholas Lewis
      </span>
    </div>

  </div>

  <div class="m-marketing--contents mdl-grid mdl-grid--no-spacing m-blockchain--marketing-people m-blockchain--marketing-people--more">
    <div class="mdl-cell mdl-cell--12-col">
      <h2>Advisory Board</h2>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/kari/large')"
      ></div>
      <span class="m-blockchain--marketing-person-name">
        Kari Larsen
      </span>

      <span class="m-blockchain--marketing-person-title">
        <a href="https://www.reedsmith.com/en" target="_blank">Reedsmith LLP</a>
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/gabe/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Gabriel Abed
      </span>

      <span class="m-blockchain--marketing-person-title">
        <a href="https://bitt.com" target="_blank">bitt.com</a>
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/gabe/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Jason Tyra
      </span>

      <span class="m-blockchain--marketing-person-title">
        <a href="https://www.tyracpa.com/" target="_blank">Tyra CPA</a>
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/sai/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Sai Gundavelli
      </span>

      <span class="m-blockchain--marketing-person-title">
        <a href="https://www.solix.com/" target="_blank">Solix</a>
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/mglaw/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Robert Griffitts
      </span>

      <span class="m-blockchain--marketing-person-title">
        <a href="http://www.mg-law.com/" target="_blank">MG Law</a>
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/tuan/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Tuan Anh Nguyen
      </span>

      <span class="m-blockchain--marketing-person-title">
        <a href="http://bostonglobalforum.org/" target="_blank">Boston Global Forum</a>
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/veena/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Veena Gundavelli
      </span>

      <span class="m-blockchain--marketing-person-title">
        <a href="http://www.emagia.com/" target="_blank">Emagia</a>
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/364859896568483840/large')"
      ></div>
  
      <span class="m-blockchain--marketing-person-name">
        Daniel Pinchbeck
      </span>

      <span class="m-blockchain--marketing-person-title">
        <a href="http://www.pinchbeck.io/" target="_blank">Pinchbeck.io</a>
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/459118566831042560/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Terrence Koeman
      </span>

      <span class="m-blockchain--marketing-person-title">
        <a href="https://openinternetfoundation.net" target="_blank">Open Internet Foundation</a>
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/782036635658231826/large')"
      ></div>
    
      <span class="m-blockchain--marketing-person-name">
        Faizan Khan
      </span>

      <span class="m-blockchain--marketing-person-title">
        <a href="https://visary.capital" target="_blank">Visary Capital</a>
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet"> 
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/469824199200874510/large')"
      ></div>
  
      <span class="m-blockchain--marketing-person-name">
        Douglas Rushkoff
      </span>

      <span class="m-blockchain--marketing-person-title">
        <a href="http://www.rushkoff.com/" target="_blank">Rushkoff.com</a>
      </span>
    </div>

  </div>

</div>

<m-footer></m-footer>