@import 'defaults.scss';

:host {
  padding: 40px;
  border-radius: 5px;

  @include z-index(body);
  @include m-theme() {
    color: themed($m-textColor--primary);
    background-color: themed($m-bgColor--secondary);
  }

  .m-confirmationModal__textWrapper {
    display: flex;
    flex-flow: column nowrap;

    .m-confirmationModal__title {
      @include heading2Medium;
      margin-top: unset;
    }

    .m-confirmationModal__text {
      @include body1Regular;
      margin-right: 80px;
    }
  }
  .m-confirmationModal__buttonWrapper {
    margin-top: $minds-margin * 4;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .m-confirmationModal__cancelButton {
      margin: 0 10px;
    }

    .m-confirmationModal__confirmButton {
      margin: 0 10px;
    }
  }
}
