@import 'defaults.scss';

:host {
  display: flex;
  flex-flow: column nowrap;

  h3.m-groupMembersList__title {
    margin: $spacing2 0;
    @include body1Bold;
  }

  .m-groupMembersList__searchWrapper {
    display: flex;
    align-items: center;
    padding: 0 $spacing5;

    @include m-theme() {
      border-bottom: 1px solid themed($m-borderColor--primary);
      color: themed($m-textColor--primary);
    }

    @media screen and (max-width: $max-mobile) {
      padding: 0 $spacing4;
    }

    i {
      font-size: 20px;
      margin-right: $spacing2;

      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }
    input {
      padding: $spacing6 0;
      width: 100%;
      appearance: none;
      background: transparent;
      border: none;
      outline: none;
      overflow: hidden;

      @media screen and (max-width: $max-mobile) {
        padding: $spacing4 0;
      }

      &::placeholder {
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }
    }

    input,
    input::placeholder {
      font-size: 16px;
    }
  }

  ::ng-deep m-publisherCard {
    .m-publisherCard {
      @include m-theme() {
        border: none !important;
        border-bottom: 1px solid themed($m-borderColor--primary) !important;
      }
      .m-publisherCard__inner {
        overflow: visible !important; // So we can see the dropdown menu
      }
    }
  }

  .m-groupMembersList__noMembersSpan {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: $spacing14 0;
    height: 100vh;

    @include unselectable;
    @include heading4Bold;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  .m-groupMembersList__compactMember {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin-top: $spacing2;

    .m-groupMembersListCompactMember__ownerBadge {
      i {
        font-size: $spacing4;
        margin-left: 6px;
      }
    }

    .m-groupMembersListCompactMember__name {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      width: calc(100% - $spacing9);

      a {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
        font-size: 15px;
        line-height: 20px;
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }
    }
  }
  .m-groupMembersList__seeMore {
    cursor: pointer;
    display: inline-block;
    text-align: right;
    margin-top: $spacing4;
    @include body2Medium;
    @include m-theme() {
      color: themed($m-textColor--tertiary);
    }
  }
}
