<div
  class="m-activityModal__overlayContainer"
  *ngIf="
    entity &&
    (service.overlayVisible$ | async) &&
    (activityService.shouldShowContent$ | async)
  "
  @mediumFade
>
  <div
    class="m-activityModal__overlayTitleWrapper"
    *ngIf="
      entity.activity_type !== 'rich-embed' && entity.activity_type !== 'quote'
    "
  >
    <!-- FULLSCREEN -->
    <span
      class="m-activityModal__overlayTitle m-activityModal__overlayTitle--fullscreen"
      *ngIf="service.isFullscreen$ | async"
    >
      <a
        [routerLink]="['/', entity.ownerObj.username]"
        (click)="$event.stopPropagation()"
      >
        <img class="avatar" [src]="avatarUrl" class="mdl-shadow--2dp" />
        <span title="{{ entity.ownerObj.name }}">{{
          entity.ownerObj.name
        }}</span>
      </a>
      <div class="m-activityModal__overlayTitleSeparator"></div>
      <a
        [routerLink]="activityService.canonicalUrl$ | async"
        (click)="$event.stopPropagation()"
        >{{ title }}</a
      >
    </span>
  </div>
  <!-- FULLSCREEN BUTTON -->
  <div class="m-activityModal__fullscreenButtonWrapper">
    <div
      class="m-activityModal__fullscreenButton"
      (click)="service.toggleFullscreen()"
      (mouseenter)="service.fullscreenHovering$.next(true)"
      (mouseleave)="service.fullscreenHovering$.next(false)"
      [class.m-activityModal__fullscreenButton--hovering]="
        service.fullscreenHovering$ | async
      "
    >
      <i
        *ngIf="!(service.isFullscreen$ | async)"
        class="material-icons m-activityModal__fullscreenIcon--enable"
        >fullscreen</i
      >
      <i
        *ngIf="service.isFullscreen$ | async"
        class="material-icons m-activityModal__fullscreenIcon--disable"
        >fullscreen_exit</i
      >
    </div>
  </div>
</div>
