<div class="m-tabs__container">
  <div class="m-tabs__tab">
    <a
      *ngIf="shouldShowForYouTab()"
      (click)="onTabClick(feedAlgorithm.forYou)"
      [class.m-tabs__tab--selected]="
        (activeTab$ | async) === feedAlgorithm.forYou
      "
      data-ref="newsfeed-tab-link-for-you"
      i18n="@@NEWSFEED_TAGS__FOR_YOU"
      >For You</a
    >
  </div>
  <div class="m-tabs__tab">
    <a
      (click)="onTabClick(feedAlgorithm.top)"
      [class.m-tabs__tab--selected]="(activeTab$ | async) === feedAlgorithm.top"
      data-ref="newsfeed-tab-top"
      i18n="@@NEWSFEED_TAGS__TOP"
      >Top</a
    >
  </div>
  <div class="m-tabs__tab">
    <a
      (click)="onTabClick(feedAlgorithm.latest)"
      [class.m-tabs__tab--selected]="
        (activeTab$ | async) === feedAlgorithm.latest
      "
      data-ref="newsfeed-tab-link-latest"
      i18n="@@NEWSFEED_TAGS__LATEST"
      >Latest</a
    >
  </div>
</div>
