.m-wire-console--hero{
  border-radius: 3px;
  background: #4690DF;
  color: #FFF;

  .m-wire-console--hero-header{
    display: flex;
    flex-direction:row;
    align-items: center;
    padding-right: 32px;
  }

  h2 {
    margin: 0;
    padding: 16px 32px;
    font-weight: 400;
    flex: 1;
  }
  p{
    margin:0;
    padding: 0 32px;
    font-family: 'Roboto';
  }

  m-date-selector {
    color: white;
    font-size: 25px;
    justify-content: flex-end;
    margin: 0px 30px;
    display: flex;
    div {
      background-color: rgba(255, 255, 255, 0.1);
      border: none;
      color: white;
    }
    input {
      color: white;
      font-size: 25px;
      width: 250px;
    }
  }
}

.m-wire-console--options {
  padding: $minds-padding * 2;
  margin-top: $minds-padding;
  border-radius: 4px;
  background: #ffffff;

  .m-wire-console--options-toggle {
    text-align: right;
  }
}

.m-wire-console--rewards {
  background: #FFF;
}