@import 'defaults.scss';

:host {
  @media screen and (max-width: $min-tablet) {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
  }

  .m-wireCreator {
    width: 778px;
    max-width: 100%;

    @media screen and (max-width: $min-tablet) {
      flex: 1;
      width: 100%;

      m-wireCreator__form {
        flex: 1;
      }
    }
  }
}
