@import 'defaults.scss';

@media screen and (max-width: $max-mobile) {
  .m-blog--title {
    font-size: 32px;
  }
  .medium-insert-embeds {
    max-width: 100%;
    margin: 0;
  }
  .m-blog--footer {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.m-blog--footer {
  margin-bottom: 50px;
}

.m-share-buttons {
  cursor: pointer;
  padding-right: 8px;
  @include m-theme() {
    color: themed($m-green-light);
  }
}
.minds-blog-body {
  figcaption {
    word-break: break-word;
    padding: 0.6em;
    max-width: 100%;
    text-align: center;

    @include m-theme() {
      background-color: themed($m-white);
      color: themed($m-black);

      &:focus {
        background-color: themed($m-bgColor--tertiary);
      }
    }
  }

  table {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-spacing: 0;

    tbody {
      max-width: 100%;
      overflow: hidden;
    }

    td,
    th {
      padding: 8px 16px;

      @include m-theme() {
        border: 1px solid themed($m-borderColor--primary);
      }
    }

    th {
      font-weight: 900;
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
    }
    td {
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }
  }
}
