<div class="m-wire--creator">
  <div class="m-wire--creator--header">
    <h2 class="m-wire-creator--header-svg">
      <i class="ion-icon ion-flash"></i>
      <span i18n="@@M__FEATURE__WIRE">Wire</span>
    </h2>

    <div class="m-wire--creator--header-text">
      <div class="m-wire--avatar">
        <a [routerLink]="['/', owner.username]">
          <img [src]="minds.cdn_url + 'icon/' + owner.guid + '/medium/' + owner.icontime" class="mdl-shadow--2dp"/>
        </a>
      </div>

      <p class="m-wire-creator--subtext" i18n="@@WIRE__CREATOR__WIRE_NOTICE_TOKENS">
        Support <span>@</span>{{owner.username}} by sending them tokens. Once you send them the amount listed in the tiers, you can receive rewards if they are offered. Otherwise, it's a donation.
      </p>
    </div>
  </div>

  <m-wire--creator-rewards
    [rewards]="owner?.wire_rewards"
    [type]="tokens"
    [amount]="wire.amount"
    (selectAmount)="setAmount($event)"
    [channel]="owner"
    [sums]="sums"
  ></m-wire--creator-rewards>

  <section class="m-wire--creator-section-row">
    <!-- Amount -->
    <section class="m-wire--creator-section">
      <h3 class="m-wire--creator-section-title--small">
        <ng-container i18n="@@WIRE__CREATOR__AMOUNT_TITLE_HOW_MANY_TOKENS">
          How many tokens do you want to send?
        </ng-container>
      </h3>

      <div class="m-wire--creator-wide-input m-wire--creator--amount"
        [class.m-wire--creator-wide-input--reading]="!editingAmount"
      >
        <input type="text"
          class="m-wire--creator-wide-input--edit"
          [ngModel]="wire.amount | number"
          (ngModelChange)="setAmount($event)"
          (blur)="amountEditorBlur()"
          (keydown.enter)="amountEditorBlur()"
          (keydown.esc)="amountEditorBlur()"
          #amountEditor
        />

        <span class="m-wire--creator-wide-input--label"
          (click)="amountEditorFocus()"
        >
          <ng-container i18n="tokens input|@@M__COMMON__TOKENS_INPUT">Tokens</ng-container>
        </span>
      </div>

      <div class="m-wire--creator-wide-input--cost" hidden>
        <span class="m-wire--creator-wide-input--cost-label-value">
          <span class="m-wire--creator-wide-input--cost-label">Cost</span>

          <span class="m-wire--creator-wide-input--cost-value" i18n>
            <span *ngIf="tokenRate">{{ getTokenAmountRate(wire.amount) | currency:'USD':'symbol-narrow' }}</span>
            <span *ngIf="!tokenRate">&hellip;</span>
          </span>
        </span>

        <span class="m-wire--creator-wide-input--cost-currency" i18n>
          USD
        </span>
      </div>

      <div class="m-wire--creator--recurring">
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="wire-recurring-1" [mdlSwitch] [toggled]="wire.recurring">
          <input
            type="checkbox" id="wire-recurring-1" class="mdl-checkbox__input"
            [ngModel]="wire.recurring"
            (ngModelChange)="toggleRecurring()"
          >

          <span class="mdl-checkbox__label" i18n="@@WIRE__CREATOR__REPEAT_TRANSACTION_MONTHLY">Repeat this transaction monthly.</span>
        </label>
      </div>
    </section>

    <!-- Payment Method -->
    <section class="m-wire--creator-section m-wire--creator-payment-section">
      <h3 class="m-wire--creator-section-title--small" i18n="@@WIRE__CREATOR__WIRE_TYPE_TITLE">Payment Method</h3>

      <ul class="m-wire--creator-selector"
        [class.m-wire--creator-selector--has-selection]="wire.payloadType"
      >
        <li
          (click)="setPayloadType('onchain')"
          [class.m-wire--creator-selector--highlight]="!wire.payloadType || wire.payloadType === 'onchain'"
        >
          <div class="m-wire--creator-selector-type">
            <i class="material-icons">check_circle</i>
            <h5>
              <span i18n="@@M__COMMON__ONCHAIN">OnChain</span>
              <m-tooltip icon="help">
                Onchain payments will be published to the public blockchain.
                You may utilize Metamask or another address. These purchases require
                a Gas fee.
              </m-tooltip>
            </h5>
    
            <span class="m-wire--creator-selector-subtext">
              <m-tooltip anchor="left">
                <span m-tooltip--anchor class="m-boost--creator-selector--hoverable" i18n="@@M__COMMON__BALANCE">Balance</span>

                <ng-container *ngIf="!balances.isReceiverOnchain; else receiverOnchainTooltip">
                  This balance is for the {{ balances.onChainAddress | addressExcerpt:true }} wallet that is
                  currently active in your Ethereum interface.
                </ng-container>
                <ng-template #receiverOnchainTooltip>
                  This balance is for the {{ balances.onChainAddress | addressExcerpt:true }} wallet that is
                  currently set up as the receiver wallet for your channel.
                </ng-template>
              </m-tooltip>:

              <ng-container *ngIf="balances.onchain !== null; else loadingOnchainBalance">
                {{ balances.onchain | token:18 | number }}
              </ng-container>

              <ng-template #loadingOnchainBalance>&hellip;</ng-template>
            </span>

          </div>
          <span class="m-wire--creator-selector--selected-label" i18n="@@M__COMMON__SELECTED">Selected</span>
        </li>

        <li
          (click)="setPayloadType('offchain')"
          [class.m-wire--creator-selector--highlight]="!wire.payloadType || wire.payloadType === 'offchain'"
        >
          <div class="m-wire--creator-selector-type">
            <i class="material-icons">donut_large</i>
            <h5>
              <span i18n="@@M__COMMON__OFFCHAIN">OffChain</span>
              <m-tooltip icon="help">
                Offchain payments will not be published to the blockchain
                and are limited to 100 tokens a day.
              </m-tooltip>
            </h5>

            <span class="m-wire--creator-selector-subtext">
              <m-tooltip anchor="left">
                <span m-tooltip--anchor class="m-boost--creator-selector--hoverable" i18n="@@M__COMMON__BALANCE">Balance</span>

                This balance is for your Minds.com OffChain wallet. Transactions
                made from this address will not appear on the blockchain.
              </m-tooltip>:

              <ng-container *ngIf="balances.onchain !== null; else loadingOnchainBalance">
                {{ balances.offchain | token:18 | number }}
              </ng-container>

              <ng-template #loadingOnchainBalance>&hellip;</ng-template>
            </span>

          </div>
          <span class="m-wire--creator-selector--selected-label" i18n="@@M__COMMON__SELECTED">Selected</span>
        </li>

        <li
          *mIfFeature="'blockchain_creditcard'; else spacer"
          (click)="setPayloadType('creditcard')"
          [class.m-wire--creator-selector--highlight]="!wire.payloadType || wire.payloadType === 'creditcard'"
        >
          <div class="m-wire--creator-selector-type">
            <i class="material-icons">credit_card</i>
            <h5 i18n="@@M__COMMON__USD">
              <span>Credit Card</span>
              <m-tooltip icon="help">
                Credit cards may be used to wire, though we recommend first purchasing tokens in order to access a discount.
                Recipients will receive the token value.
              </m-tooltip>
            </h5>

            <span class="m-wire--creator-selector-subtext" i18n="@@M__WIRE_CREATOR__DONT_HAVE_TOKENS">
              Don't have Tokens? No problem.
            </span>
          </div>
          <span class="m-wire--creator-selector--selected-label" i18n="@@M__COMMON__SELECTED">Selected</span>
        </li>
        <ng-template #spacer>
            <li class="m-layout--spacer"></li>
        </ng-template>
      </ul>

      <div class="m-wire--creator-payment" *ngIf="wire?.payloadType === 'creditcard'">
        <minds-payments-stripe-checkout *ngIf="!wire?.payload?.token; else paymentAttached"
          (inputed)="setCreditCardNoncePayload($event)"
          [useMDLStyling]="false"
        ></minds-payments-stripe-checkout>

        <ng-template #paymentAttached>
          <div class="m-wire--creator-payment-attached">
            <i class="material-icons">check_circle</i>
            <span><ng-container i18n="@@M__COMMON__PAYMENT_ATTACHED">Your payment is attached.</ng-container> <b (click)="wire.payload = null" i18n="@@M__ACTION__CHANGE">Change</b></span>
          </div>
        </ng-template>
      </div>
    </section>

  </section>

  <!-- Submit -->
  <section class="m-wire--creator-section m-wire--creator-section--last"
    (mouseenter)="showErrors()"
  >

    <div class="m-wire--creator--submit">
      <button class="m-wire--creator-button"
        [disabled]="!canSubmit() || inProgress || success || criticalError"
        (click)="submit()"
        i18n="@@WIRE__CREATOR__SEND_ACTION"
      >SEND</button>

      <div *ngIf="inProgress" class="m-wire--creator--submit-label mdl-spinner mdl-js-spinner is-active" [mdl]></div>

      <div *ngIf="!inProgress && success" class="m-wire--creator--submit-label">
        <i class="material-icons">check</i>
        <span i18n="@@WIRE__CREATOR__WIRED_NOTICE">Wired!</span>
      </div>

      <div *ngIf="!inProgress && !!error" class="m-wire--creator--submit-error">
        <i class="material-icons">close</i>
        <span>{{ error }}</span>
      </div>
    </div>
  </section>
</div>
