<div
  class="mdl-textfield mdl-js-textfield m-pro__searchBox"
  [ngClass]="{ hasQuery: query }"
>
  <input
    [ngModel]="query"
    (ngModelChange)="queryChange.emit($event)"
    id="search"
    autocomplete="off"
    class="mdl-textfield__input ng-pristine ng-valid ng-touched"
    type="text"
    (keyup.enter)="onSearch.emit()"
    placeholder="Search"
  />
  <i class="material-icons clear" (click)="onClearSearch.emit()">close</i>
  <label class="mdl-textfield__label" for="search"></label>
</div>
