<div class="mdl-textfield mdl-js-textfield m-pro__searchBox">
  <i class="material-icons search">search</i>
  <input
    [ngModel]="query"
    (ngModelChange)="queryChange.emit($event)"
    id="search"
    autocomplete="off"
    class="mdl-textfield__input ng-pristine ng-valid ng-touched"
    type="text"
    (keyup.enter)="onSearch.emit()"
  />
  <ng-container *ngIf="query">
    <i class="material-icons clear" (click)="onClearSearch.emit()">close</i>
  </ng-container>
  <label class="mdl-textfield__label" for="search"></label>
</div>
