<table
  class="m-wire-channel--rewards"
  [ngClass]="['m-wire-channel--rewards-' + type]"
  [class.m-wire-channel--rewards--is-editing]="editing"
  cellspacing="0"
  cellspacing="0"
>
  <tr
    *ngFor="let reward of rewards; let i = index"
    (click)="openWireModal(reward)"
  >
    <td [class.m-border]="editing">
      <label *ngIf="editing">Threshold</label>
      <div class="m-wire-channel--reward-amount">
        <span *ngIf="!editing && type == 'money'"
          >{{ reward.amount || 0 | currency: 'USD':true:'1.0-0' }}+</span
        >
        <span *ngIf="!editing && type == 'points'"
          >{{ reward.amount || 0 | number }}+</span
        >

        <ng-container *ngIf="!editing && type == 'tokens'">
          <span i18n="@@WIRE__CHANNEL__TABLE__AMOUNT_OR_OVER_LABEL"
            >{{ reward.amount || 0 | number: '1.0-4' }} Tokens or Over</span
          >
        </ng-container>

        <ng-container *ngIf="editing && type == 'money'">$</ng-container>
        <input
          type="number"
          *ngIf="editing"
          [ngModel]="reward.amount"
          (ngModelChange)="setAmount(i, $event)"
          [placeholder]="getAmountPlaceholder()"
          class="m-input"
        />
        <ng-container *ngIf="type == 'points'" i18n="@@M__COMMON__POINTS_SUFFIX"
          >points</ng-container
        >
        <span *ngIf="editing && type == 'tokens'">Tokens or Over</span>

        <div class="m-wire-channel--reward-send-wire" *ngIf="!editing">
          <i class="ion-icon ion-flash"></i>
        </div>
      </div>

      <div class="m-wire-channel--reward-description">
        <p *ngIf="!editing">{{ reward.description }}</p>
        <ng-container *ngIf="editing">
          <label>Description</label>
          <textarea
            *ngIf="editing"
            [ngModel]="reward.description"
            (ngModelChange)="setDescription(i, $event)"
            class="m-border"
            [autoGrow]
            placeholder="Describe the reward"
            i18n-placeholder="@@WIRE__CHANNEL__TABLE__REWARD_PLACEHOLDER"
          >
          </textarea>
        </ng-container>
      </div>
    </td>
  </tr>
</table>

<div
  class="m-wire-channel--rewards--add-tier"
  *ngIf="session.getLoggedInUser().guid == channel.guid"
>
  <a (click)="addTier()" class="m-btn m-btn--action m-btn--slim">
    <i class="material-icons">playlist_add</i>
    <span i18n="@@WIRE__CHANNEL__TABLE__ADD_REWARD_ACTION">Add Reward</span>
  </a>
</div>
