<!-- ----------------------------------------->
<!-- METHOD: AFFILIATE -->
<!-- ----------------------------------------->
<div class="m-affiliatesDescription__method--affiliate">
  <span
    class="m-affiliatesDescriptionMethod__title"
    i18n="@@AFFILIATES_DESCRIPTION__AFFILIATE"
    >Affiliate</span
  >
  <div class="m-affiliatesDescriptionMethod__underline"></div>
  <p
    class="m-affiliatesDescriptionMethod__description"
    i18n="@@AFFILIATES_DESCRIPTION__AFFILIATE__DESCRIPTION"
  >
    Earn <span>45%</span> of all sales you refer for Boost, Fishnet+/Pro.
  </p>
</div>
<!-- ----------------------------------------->
<!-- BUTTON: REFER AND EARN -->
<!-- ----------------------------------------->
<m-button (onAction)="openShareModal('affiliate')" color="blue" solid="true"
  ><ng-container i18n="@@AFFILIATES__EARNINGS__REFER_AND_EARN"
    >Refer and earn</ng-container
  >
</m-button>
<!-- ----------------------------------------->
<!-- INVITE YOUR FRIEND -->
<!-- ----------------------------------------->
<span
  class="m-affiliatesDescriptionInvite__title"
  i18n="@@AFFILIATES__INVITE__TITLE"
>
  Invite your friend to Fishnet
</span>
<p
  class="m-affiliatesDescriptionInvite__description"
  i18n="@@AFFILIATES__INVITE__DESCRIPTION"
>
  Track rewards for friends that use your invite code to sign up on Fishnet.
  Earn for up to 1 year.
</p>

<!-- ----------------------------------------->
<!-- METHOD: AFFILIATE REFERRAL -->
<!-- ----------------------------------------->

<div class="m-affiliatesDescription__method--affiliateReferral">
  <span
    class="m-affiliatesDescriptionMethod__title"
    i18n="@@AFFILIATES_DESCRIPTION__AFFILIATE_REFERRAL"
    >Affiliate Referral</span
  >
  <div class="m-affiliatesDescriptionMethod__underline"></div>
  <p
    class="m-affiliatesDescriptionMethod__description"
    i18n="@@AFFILIATES_DESCRIPTION__AFFILIATE_REFERRAL__DESCRIPTION"
  >
    Earn <span>5%</span> of all of your affiliates’ earnings on their sales to
    others.
  </p>
</div>
<!-- ----------------------------------------->
<!-- METHOD: CREATOR REFERRAL -->
<!-- ----------------------------------------->
<div class="m-affiliatesDescription__method--creatorReferral">
  <span
    class="m-affiliatesDescriptionMethod__title"
    i18n="@@AFFILIATES_DESCRIPTION__CREATOR_REFERRAL"
    >Creator Referral</span
  >
  <div class="m-affiliatesDescriptionMethod__underline"></div>
  <p
    class="m-affiliatesDescriptionMethod__description"
    i18n="@@AFFILIATES_DESCRIPTION__CREATOR_REFERRAL__DESCRIPTION"
  >
    Earn <span>5%</span> of what any referred creator earns through features
    like Supermind, Memberships, and Tips.
  </p>
</div>
<!-- ----------------------------------------->
<!-- BUTTON: INVITE AND EARN -->
<!-- ----------------------------------------->
<m-button
  color="blue"
  (onAction)="openShareModal('referral')"
  class="m-affiliatesDescriptionInvite__button"
  ><ng-container i18n="@@AFFILIATES__INVITE__BUTTON"
    >Invite and earn</ng-container
  >
</m-button>
