// .m-sidebarMarkers__container,
// m-v2-topbar {
//   display: none;
// }

.page.isMobile m-analytics__menu {
  margin-right: -32px;
  flex: 0 1 0px;
}

m-analytics__menu {
  display: block;
  max-width: 160px;
  // ----------------------------------------
  // MOBILE

  .isMobile {
    .topbar {
      z-index: 99999;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 16px;
      text-align: center;
      @include m-theme() {
        background-color: themed($m-grey-100);
        color: themed($m-grey-800);
      }

      i {
        display: block;
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        @include m-theme() {
          background-color: themed($m-grey-100);
          color: themed($m-grey-700);
        }
      }
      .pageTitle {
        font-size: 20px;
        margin: 0;
      }
    }
    .overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      // display: none;
      background-color: transparent;
      transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      &.expanded {
        // display: block;
        z-index: 999998;
        @include m-theme() {
          background-color: rgba(themed($m-grey-700), 0.2);
        }
      }
    }
    .sidebar {
      z-index: 999999;
      position: fixed;
      top: 0;
      bottom: 0;
      left: -360px;
      transition: left 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      padding: 0 24px;
      width: 300px;
      max-width: 70%;

      @include m-theme() {
        background-color: themed($m-white);
      }
      &.expanded {
        left: 0;
      }
      .sidebarTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
          font-size: 20px;
          margin: 0;
        }
        i {
          font-size: 20px;
          @include m-theme() {
            color: themed($m-grey-200);
          }
        }
      }

      .profile {
        display: flex;
        text-decoration: none;
        margin: 24px 0;
        @include m-theme() {
          color: themed($m-grey-800);
        }
        .avatar {
          border-radius: 50%;
          margin-right: 16px;
        }
        .details {
          & > {
            padding: 8px 0;
          }
          .name {
            font-weight: bold;
          }
          .username {
            @include m-theme() {
              color: themed($m-grey-200);
            }
          }
          .subscribers {
            font-size: 11px;
            @include m-theme() {
              color: themed($m-grey-200);
            }
          }
        }
      }
    }
  }

  // ----------------------------------------

  padding: 16px 16px 16px 16px;
  flex: 1 1 0px;
  i {
    display: none;
  }
  .catContainer {
    cursor: pointer;
    .cat {
      a {
        display: block;
        padding: 6px 0;
        text-decoration: none;
        font-weight: 400;
        @include m-theme() {
          color: themed($m-grey-200);
        }
      }
      a.selected,
      &:hover a {
        @include m-theme() {
          color: themed($m-blue);
        }
      }
    }
  }
}
