<section class="menu" [ngClass]="{ isMobile: isMobile }">
  <div class="topbar" *ngIf="isMobile">
    <i class="material-icons" (click)="expanded = true">menu</i>
    <div class="pageTitle">
      Analytics
    </div>
  </div>
  <div
    class="overlay"
    [ngClass]="{ expanded: expanded }"
    (click)="expanded = false"
  ></div>
  <div class="sidebar" [ngClass]="{ expanded: expanded }">
    <a class="profile" *ngIf="isMobile" [routerLink]="['/', user.username]">
      <img
        class="avatar"
        [src]="minds.cdn_url + 'icon/' + user.guid + '/small/' + user.icontime"
      />
      <div class="details">
        <div class="name">{{ user.name }}</div>
        <!-- TODO: remove username once subscriberCount is working -->
        <div class="username">@{{ user.username }}</div>
        <!-- TODO: get subscriberCount -->
        <!-- <div class="subscribers">
          {{ user.subscribers_count | abbr }} subscribers
        </div> -->
      </div>
    </a>

    <div class="sidebarTitle">
      <h3>Analytics</h3>
      <i class="material-icons" *ngIf="isMobile" (click)="expanded = false"
        >keyboard_arrow_up</i
      >
    </div>

    <div class="catContainer">
      <!-- TODO: apply permissions from categories.default to cats sidebar -->
      <div class="cat" *ngFor="let cat of cats">
        <a
          (click)="expanded = false"
          [routerLink]="'../' + cat.id"
          routerLinkActive="selected"
          >{{ cat?.label }}</a
        >
      </div>
    </div>
  </div>
</section>
