<div class="m-settings--section m-layout--row m-border">
  <div [hidden]="!inProgress">
    <div class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
  </div>
  <div
    class="minds-error mdl-color--red mdl-color-text--white"
    [hidden]="!error"
  >
    {{ error }}
  </div>
  <div class="m-layout--spacer"></div>

  <button
    class="m-settings--emails--save m-btn  m-btn--slim m-btn--action"
    [disabled]="!canSubmit()"
    [hidden]="saved"
    (click)="save()"
  >
    <ng-container i18n="@@M__ACTION__SAVE">Save</ng-container>
  </button>
  <button class="m-settings--emails--save m-btn m-btn--slim" [hidden]="!saved">
    <ng-container i18n="@@M__COMMON__SAVED">Saved</ng-container>
  </button>
</div>

<div
  class="m-settings--section m-settings--emails--when-campaign m-border"
  *ngIf="!loading"
>
  <h4 i18n="@@SETTINGS__EMAIL__EMAIL_ADDRESS_TITLE">Email address</h4>

  <ul class="m-settings--emails-campaigns">
    <li class="m-settings--emails-campaigns--campaign">
      <input
        class="m-input"
        type="email"
        id="email"
        name="email"
        [(ngModel)]="email"
        (keyup)="change(); changeEmail()"
      />
    </li>

    <li class="m-settings--emails-campaigns__note" *ngIf="emailChanged" i18n>
      Note: If you change your email address, it will need to be confirmed
      again.
    </li>
  </ul>
</div>

<div
  class="m-settings--section m-settings--emails--when-campaign m-border"
  *ngIf="!loading"
>
  <h4 i18n="@@SETTINGS__EMAIL__EMAIL_ME_WHEN_TITLE">Email me when</h4>

  <ul class="m-settings--emails-campaigns">
    <li class="m-settings--emails-campaigns--campaign">
      <input
        type="checkbox"
        id="unread-notifications"
        name="unread-notifications"
        (click)="change()"
        [(ngModel)]="notifications.when.unread_notifications"
      />

      <label for="unread-notifications">
        <ng-container i18n="@@MINDS__SETTINGS__UNREAD_NOTIFICATIONS_LABEL">
          I have unread notifications
        </ng-container>
      </label>
    </li>
    <li class="m-settings--emails-campaigns--campaign">
      <input
        type="checkbox"
        id="wire-received"
        name="wire-received"
        (click)="change()"
        [(ngModel)]="notifications.when.wire_received"
      />

      <label for="wire-received">
        <ng-container i18n="@@MINDS__SETTINGS__WIRE_RECEIVED_LABEL">
          I receive a wire
        </ng-container>
      </label>
    </li>
    <li class="m-settings--emails-campaigns--campaign">
      <input
        type="checkbox"
        id="boost-completed"
        name="boost-completed"
        (click)="change()"
        [(ngModel)]="notifications.when.boost_completed"
      />

      <label for="boost-completed">
        <ng-container i18n="@@MINDS__SETTINGS__BOOST_COMPLETED_LABEL">
          My boost has been completed
        </ng-container>
      </label>
    </li>
  </ul>
</div>

<div
  class="m-settings--section m-settings--emails--with-campaign m-border"
  *ngIf="!loading"
>
  <h4 i18n="@@SETTINGS__EMAIL__EMAIL_ME_WITH">Email me with</h4>

  <ul class="m-settings--emails-campaigns">
    <li class="m-settings--emails-campaigns--campaign">
      <input
        type="checkbox"
        id="top-posts"
        name="top-posts"
        (click)="change()"
        [ngModel]="!!notifications.with.top_posts"
        (ngModelChange)="onTopPostsCheckboxChange($event)"
      />
      <label for="top-posts">
        <ng-container i18n="@@MINDS__SETTINGS__TOP_POSTS_LABEL">
          Top posts from my network
        </ng-container>
      </label>
      <br />
      <select
        id="top-posts-dropdown"
        name="top-posts"
        [disabled]="!notifications.with.top_posts"
        (click)="change()"
        [(ngModel)]="notifications.with.top_posts"
      >
        <option
          value="periodically"
          i18n="@@SETTINGS__EMAIL__PERIODICALLY_OPTION"
          >Periodically</option
        >
        <option value="daily" i18n="@@SETTINGS__EMAIL__DAILY_OPTION"
          >Daily</option
        >
        <option value="weekly" i18n="@@SETTINGS__EMAIL__WEEKLY_OPTION"
          >Weekly</option
        >
      </select>
    </li>
    <li class="m-settings--emails-campaigns--campaign">
      <input
        type="checkbox"
        id="channel-improvement-tips"
        name="channel-improvement-tips"
        (click)="change()"
        [(ngModel)]="notifications.with.channel_improvement_tips"
      />

      <label for="channel-improvement-tips">
        <ng-container i18n="@@MINDS__SETTINGS__TIPS_IMPROVE_CHANNEL_LABEL">
          Tips on how to improve my channel
        </ng-container>
      </label>
    </li>
    <li class="m-settings--emails-campaigns--campaign">
      <input
        type="checkbox"
        id="missed-since-login"
        name="missed-since-login"
        (click)="change()"
        [(ngModel)]="notifications.with.posts_missed_since_login"
      />

      <label for="missed-since-login">
        <ng-container
          i18n="@@MINDS__SETTINGS__SINCE_MISSED_SINCE_LAST_LOGIN_LABEL"
        >
          Things I've missed since my last login
        </ng-container>
      </label>
    </li>
    <li class="m-settings--emails-campaigns--campaign">
      <input
        type="checkbox"
        id="new-channels"
        name="new-channels"
        (click)="change()"
        [(ngModel)]="notifications.with.new_channels"
      />

      <label for="new-channels">
        <ng-container i18n="@@MINDS__SETTINGS__NEW_CHANNELS_LABEL">
          New channels to subscribe to
        </ng-container>
      </label>
    </li>
  </ul>
</div>

<div
  class="m-settings--section m-settings--emails--global-campaign m-border"
  *ngIf="!loading"
>
  <h4 i18n="@@SETTINGS__EMAIL__KEEP_ME_UPDATED_WITH_TITLE">
    Keep me updated with
  </h4>

  <ul class="m-settings--emails-campaigns">
    <li class="m-settings--emails-campaigns--campaign">
      <input
        type="checkbox"
        id="minds-news"
        name="minds-news"
        (click)="change()"
        [(ngModel)]="notifications.global.minds_news"
      />

      <label for="minds-news">
        <ng-container i18n="@@MINDS__SETTINGS__MINDS_NEWS_LABEL">
          News about new Minds products and features
        </ng-container>
      </label>
    </li>
    <li class="m-settings--emails-campaigns--campaign">
      <input
        type="checkbox"
        id="minds-tips"
        name="minds-tips"
        (click)="change()"
        [(ngModel)]="notifications.global.minds_tips"
      />

      <label for="minds-tips">
        <ng-container i18n="@@MINDS__SETTINGS__TIPS_ON_HOW_TO_USE_MINDS_LABEL">
          Tips on how to use Minds
        </ng-container>
      </label>
    </li>
    <li class="m-settings--emails-campaigns--campaign">
      <input
        type="checkbox"
        id="exclusive-promotions"
        name="exclusive-promotions"
        (click)="change()"
        [(ngModel)]="notifications.global.exclusive_promotions"
      />

      <label for="exclusive-promotions">
        <ng-container i18n="@@MINDS__SETTINGS__EXCLUSIVE_PROMOTIONS_LABEL">
          Exclusive promotions
        </ng-container>
      </label>
    </li>
  </ul>
</div>
