m-settings--emails {
  ul.m-settings--emails-campaigns {
    list-style: none;
    cursor: default;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;

    li.m-settings--emails-campaigns--campaign {
      display: flex;
      flex-direction: row;
      align-items: center;
      letter-spacing: 0.25px;
      font-family: 'Roboto', Helvetica, sans-serif;
      padding: 4px 0;

      &:first-child {
        margin-top: 0;
      }

      select {
        margin-left: 24px;
      }

      label {
        margin-left: 8px;
      }
    }

    .m-settings--emails-campaigns__note {
      font-size: 0.8em;
      line-height: 1;
      padding: 2px 8px 0;

      @include m-theme() {
        color: themed($m-grey-300);
      }
    }
  }
}
