<h4
  class="m-networkAdminMobile__title"
  i18n="@@NETWORK_ADMIN__APPEARANCE_NETWORK_ASSETS__TITLE"
>
  Appearance and network assets
</h4>
<p
  class="m-networkAdminMobile__subtitle"
  i18n="@@NETWORK_ADMIN__APPEARANCE_NETWORK_ASSETS__SUBTITLE"
>
  Your theme, color and uploaded assets will affect your preview demo.
</p>

<a
  class="m-networkAdminEditAppearance__link"
  [routerLink]="['/network/admin/customize']"
  i18n="@@NETWORK_ADMIN__APPEARANCE_NETWORK_ASSETS__EDIT_HERE"
  >Edit them here</a
>
