m-channelShopMemberships__edit {
  position: relative;
  display: block;
  width: 100%;
  max-width: 576px;
  margin: 40px;
  border-radius: 5px;
  box-sizing: border-box;

  @include m-theme() {
    background: themed($m-bgColor--secondary);
  }

  @media screen and (max-width: $max-mobile) {
    margin: 0;
    padding: 0;
    height: 100vh;
    border-radius: 0;
  }
}
