.m-token-rewards--ledger {
  .m-token-rewards--ledger--reward {
    background: #FFF;
    padding: 16px;
    margin-bottom: 8px;

    .m-token-rewards--ledger--reward-amount {
      font-size: 36px;
      line-height: 40px;
      font-weight: 800;

      .m-token-rewards--ledger--reward-amount--positive {
        color: green;
      }

      .m-token-rewards--ledger--reward-amount--negative {
        color: red;
      }
    }

    .m-token-rewards--ledger--reward-details {
      display: flex;
      align-items: center;
      color: #444;

      p {
        padding: 0;
        margin: 0;
      }

      i {
        font-size: 14px;
        margin-right: 8px;
      }

      .ts {
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        color: #444;
      }
    }
  }
}

.m-token-rewards--ledger-filters {
  display: flex;
  text-align: right;
  justify-content: flex-end;
  padding: 8px;
  margin-bottom: 8px;
  background: #FFF;

  m-date-selector {
    margin-left: 8px;
    display: flex;
  }

  &.m-token-rewards--ledger-filters--preview {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #999;
  }
}
