@import 'defaults.scss';

:host {
  display: block;
  max-height: 100%;
  width: 100%;
  margin: $spacing4 0;
  overflow-y: auto;
  @include hide-scrollbar;

  .m-chatRoomList__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing4;
    padding: 0 $spacing6;
    box-sizing: border-box;

    .m-chatRoomList__title {
      @include heading3Bold;
      margin: unset;
    }

    i {
      font-size: 24px;
      cursor: pointer;
    }
  }

  m-chat__actionCard {
    display: block;
    margin-top: $spacing8;
    padding: 0 $spacing6;
    box-sizing: border-box;
  }
}
