<div class="m-boostModalTabs__container">
  <div
    *ngIf="isCashExperimentActive()"
    class="m-boostModalTabs__tabContainer"
    (click)="nextTab('cash')"
    [class.m-boostModalTabs__tabContainer--active]="
      (activeTab$ | async) === 'cash'
    "
    data-ref="boost-modal-cash-tab"
  >
    <span class="m-boostModalTabs__tab" i18n="@@BOOST_MODAL__TABS__CASH">
      Cash
    </span>
  </div>
  <div
    class="m-boostModalTabs__tabContainer"
    (click)="nextTab('tokens')"
    [class.m-boostModalTabs__tabContainer--active]="
      (activeTab$ | async) === 'tokens'
    "
    data-ref="boost-modal-tokens-tab"
  >
    <span class="m-boostModalTabs__tab" i18n="@@BOOST_MODAL__TABS__TOKENS">
      Tokens
    </span>
  </div>
</div>

<div class="m-boostModal__mainPanel">
  <!-- Amount input and payment method selector - shown regardless of active tab -->
  <div class="m-boostModal__mainPanelInputContainer">
    <m-boostModal__amountInput
      class="m-boostModal__mainPanelInput"
    ></m-boostModal__amountInput>

    <m-boostModal__paymentMethodSelector
      class="m-boostModal__mainPanelInput"
    ></m-boostModal__paymentMethodSelector>
  </div>
  <!-- Content description -->
  <div class="m-boostModal__contentDescriptionContainer">
    <!-- Exterior switch varying depending on whether this is a channel or newsfeed boost -->
    <h1
      class="m-boostModal__tabTitle"
      [ngSwitch]="entityType$ | async"
      data-ref="boost-modal-tab-title"
    >
      <ng-container i18n="@@BOOST_MODAL__NEWSFEED_BOOST" *ngSwitchCase="'post'">
        Newsfeed
      </ng-container>
      <ng-container
        i18n="@@BOOST_MODAL__CHANNEL_BOOST_PREVIEW"
        *ngSwitchCase="'channel'"
      >
        Sidebar
      </ng-container>
      <ng-container
        i18n="@@BOOST_MODAL__CHANNEL_BOOST_PREVIEW"
        *ngSwitchCase="'blog'"
      >
        Sidebar
      </ng-container>
    </h1>

    <!-- Exterior switch varying depending on whether this is a channel or newsfeed boost -->
    <div
      class="m-boostModal__mainPanelDescription"
      data-ref="boost-modal-main-panel-description"
      [ngSwitch]="entityType$ | async"
    >
      <p
        *ngSwitchCase="'post'"
        i18n="@@BOOST_MODAL__CONTENT_WILL_APPEAR_ACROSS_SITE"
      >
        Your content will appear on newsfeeds across the site.
      </p>
      <p *ngSwitchCase="'channel'" i18n="@@BOOST_MODAL__ACROSS_THE_SIDEBAR">
        Your content will appear on the sidebar across the site.
      </p>
      <p *ngSwitchCase="'blog'" i18n="@@BOOST_MODAL__ACROSS_THE_SIDEBAR">
        Your content will appear on the sidebar across the site.
      </p>
      <span *ngSwitchCaseDefault i18n="@@BOOST_MODAL__BOOST_YOUR_CONTENT"
        >Boost your content</span
      >
    </div>
  </div>
</div>
