@import 'defaults.scss';

$collapse-width: 830px;

:host {
  .m-boostModal__boostChangingContainer {
    margin: $spacing10;

    @media screen and (max-width: $max-mobile) {
      margin: $spacing10 $spacing5;
    }

    .m-boostModal__boostChangingHeader {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin-bottom: $spacing2;

      i {
        font-size: 32px;
        margin-right: $spacing4;
      }

      h3 {
        margin: 0;
        @include heading3Bold;
      }
    }

    .m-boostModal__boostChangingBody {
      @include body3Regular;

      a {
        @include m-theme() {
          color: themed($m-blue);
        }
      }
    }
  }

  .m-boostModalTabs__container {
    display: flex;
    flex-flow: row nowrap;
    margin: 40px 40px 20px 40px;

    @media screen and (max-width: $max-mobile) {
      margin: 40px 20px 20px 20px;
    }
    @include m-theme() {
      border-bottom: 1px solid themed($m-borderColor--primary);
    }

    .m-boostModalTabs__tabContainer {
      font-size: 17px;
      font-weight: 500;
      margin-right: 20px;
      padding-bottom: 5px;
      cursor: pointer;

      &.m-boostModalTabs__tabContainer--active {
        @include m-theme() {
          border-bottom: 3px solid themed($m-blue);
          color: themed($m-textColor--primary);
        }
      }
    }
  }

  .m-boostModal__channelCardContainer {
    position: relative;
    height: 35vh;
    max-height: 600px;
    min-height: 250px;
    overflow-y: hidden;

    &:after {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      @include m-theme() {
        background: linear-gradient(
          180deg,
          rgba(themed($m-bgColor--primary), 0) 0%,
          rgba(themed($m-bgColor--primary), 1) 100%
        );
      }
    }
  }

  .m-boostModal__mainPanel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 40px 40px 20px 40px;

    @media screen and (max-width: $max-mobile) {
      margin: 40px 20px 20px 20px;
    }

    @media screen and (max-width: $collapse-width) {
      flex-flow: column-reverse;
    }

    .m-boostModal__mainPanelInputContainer {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: $collapse-width) {
        width: 504px;
      }

      .m-boostModal__mainPanelInput + * {
        margin-top: 30px;
        display: block;
      }
    }

    .m-boostModal__contentDescriptionContainer {
      width: 250px;
      padding-left: $spacing6;

      @media screen and (max-width: $collapse-width) {
        width: 100%;
        padding-left: 0;
      }

      .m-boostModal__mainPanelDescription {
        @media screen and (max-width: $collapse-width) {
          margin-bottom: 40px;
        }

        .m-boostModal__channelPreview {
          margin-bottom: 20px;
          display: block;
        }

        // TODO: Replace with newer cards.
        // Get rid of the ugly overrides.
        ::ng-deep minds-card {
          position: relative;

          .m-action-tabs-fixed {
            display: none; // hide thumbs up and down.
          }

          .m-title-block-with-actions {
            bottom: 5px; // adjust bottom for missing action buttons
          }

          .minds-blog-thumbnail {
            margin-bottom: 20px !important; // make container smaller
          }
        }
      }

      .m-boostModal__tabTitle {
        font-size: 18px;
        margin-top: unset;
        margin-bottom: 10px;
        font-weight: 700;

        @include m-theme() {
          color: themed($m-textColor--primary);
        }

        @media screen and (max-width: $collapse-width) {
          display: none;
        }
      }
    }
  }
}
