m-adminAnalytics {
  .mdl-card {
    min-height: 0;
    width: auto;

    .results {
      display: table;

      .row {
        flex: 1;
        padding: $minds-padding;
        @include m-theme() {
          border-bottom: 1px solid themed($m-grey-50);
        }

        > label {
          width: 60%;
          float: left;
        }
      }

      .cell {
        display: table-cell;
        flex: 1;
        @include m-theme() {
          border-right: 1px solid thelast_med($m-grey-50);
        }

        &:last-child {
          border-right: 0;
        }

        text-align: center;

        label {
          width: 100%;
          display: block;
        }
      }
    }
  }
}
