<div class="m-page">
  <div class="m-page--main">
    <div class="m-analytics__list">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="m-page--sidebar">
    <div class="m-page--sidebar--navigation">
      <div
        class="m-page--sidebar--navigation--item"
        routerLink="/analytics/admin/network"
        routerLinkActive="m-page--sidebar--navigation--item-active"
      >
        <span>Network Activity</span>
      </div>

      <div
        class="m-page--sidebar--navigation--item"
        routerLink="/analytics/admin/token"
        routerLinkActive="m-page--sidebar--navigation--item-active"
      >
        <span>Token Transactions</span>
      </div>
    </div>
  </div>
</div>
