<div
  class="m-marketing--section--subsection m-marketing--section--subsection--first"
  [hidden]="panels.newsfeed === false"
>
  <div class="m-marketing--section--subsection-container">
    <div
      class="m-marketing--section--subsection-left m-marketing--section--subsection-image"
    >
      <img [src]="cdnAssetsUrl + 'assets/screenshots/post.jpg'" />
    </div>
    <div
      class="m-marketing--section--subsection-right m-marketing--section--subsection-text"
    >
      <h5>Newsfeed</h5>
      <h2>Contribute</h2>
      <p>
        Create popular original content that receives upvotes, comments and
        reminds. Gain new subscribers. Refer your friends. Check-in. Develop
        code.
      </p>
    </div>
  </div>
</div>

<div
  class="m-marketing--section--subsection mdl-color--grey-50"
  [class.m-marketing--section--subsection--first]="panels.newsfeed === false"
>
  <div class="m-marketing--section--subsection-container">
    <div
      class="m-marketing--section--subsection-left m-marketing--section--subsection-text"
    >
      <h5>Rewards</h5>
      <h2>Earn tokens for your contributions</h2>
      <p>
        We reward you for the energy you put in, whether that is creating great
        content, being active or helping develop our code.
      </p>
    </div>
    <div
      class="m-marketing--section--subsection-right m-marketing--section--subsection-image"
    >
      <img [src]="cdnAssetsUrl + 'assets/screenshots/wallet.jpg'" />
    </div>
  </div>
</div>

<div
  class="m-marketing--section--subsection m-marketing--section--subsection--alt"
>
  <div class="m-marketing--section--subsection-container">
    <div
      class="m-marketing--section--subsection-left m-marketing--section--subsection-image"
    >
      <img [src]="cdnAssetsUrl + 'assets/screenshots/boost.jpg'" />
    </div>
    <div
      class="m-marketing--section--subsection-right m-marketing--section--subsection-text"
    >
      <h5>Boost</h5>
      <h2>Gain more views on your content</h2>
      <p>
        Exchange your tokens to promote your content to the full network or a
        specific channel’s audience. 1 token = 1000 views
      </p>
    </div>
  </div>
</div>

<div class="m-marketing--section--subsection mdl-color--grey-50">
  <div class="m-marketing--section--subsection-container">
    <div
      class="m-marketing--section--subsection-left m-marketing--section--subsection-text"
    >
      <h5>Wire</h5>
      <h2>Exchange tokens with other channels</h2>
      <p>
        Send tokens to other channels as a tip or in exchange for content
        subscriptions or custom rewards. No commission, no middleman.
      </p>
    </div>
    <div
      class="m-marketing--section--subsection-right m-marketing--section--subsection-image"
    >
      <img [src]="cdnAssetsUrl + 'assets/screenshots/wire.jpg'" />
    </div>
  </div>
</div>

<div
  class="m-marketing--section--subsection m-marketing--section--subsection--alt"
>
  <div class="m-marketing--section--subsection-container">
    <div
      class="m-marketing--section--subsection-left m-marketing--section--subsection-image"
      style="text-align:center"
    >
      <img [src]="cdnAssetsUrl + 'assets/logos/bulb.jpg'" />
    </div>
    <div
      class="m-marketing--section--subsection-right m-marketing--section--subsection-text"
    >
      <h5>Plus</h5>
      <h2>Unlock premium features for your channel</h2>
      <p>
        Hide all advertisements. Verify your channel. Access exclusive Minds
        content. Earn badges.
      </p>
    </div>
  </div>
</div>

<div class="m-marketing--section--subsection mdl-color--grey-50">
  <div class="m-marketing--section--subsection-container">
    <div
      class="m-marketing--section--subsection-left m-marketing--section--subsection-text"
    >
      <h5>Nodes</h5>
      <h2>Build your own custom social network</h2>
      <p>
        Leverage our free and open source code to launch your own customized
        social network.
      </p>
    </div>
    <div
      class="m-marketing--section--subsection-right m-marketing--section--subsection-image"
    >
      <img [src]="cdnAssetsUrl + 'assets/marketing/nodes.png'" />
    </div>
  </div>
</div>
