<div class="m-skaleFaucet__container">
  <div class="m-networkSwapBridge__amountContainer">
    <span class="m-networkSwapBridge__inputLabel">
      Claim skETH
      <m-tooltip class="m-networkSwapBridge__info" icon="help">
        skETH has <strong>NO MONETARY VALUE</strong> and never will. It serves
        as gas fees for your transactions on the SKALE network. It can be
        periodically claimed from our faucet to enable you to make transactions.
      </m-tooltip>
    </span>
    <div class="m-networkSwapBridge__inputBalances">
      Balance: {{ balance$ | async | number }} skETH
    </div>
  </div>

  <div class="m-networkSwapBridge__buttonContainer">
    <m-button color="blue" (onAction)="claim()">Claim skETH</m-button>
  </div>
</div>
