@import 'defaults.scss';

:host {
  padding: $spacing7 $spacing8 !important;
  max-width: 860px;

  .m-networkAdminConsole__title {
    margin-bottom: unset;
    @include heading3Medium;
  }

  .m-networkAdminConsole__subtitle {
    margin: $spacing1 0 $spacing4 0;

    @media screen and (min-width: $min-desktop) {
      padding-right: $spacing32;
    }

    @include body1Medium;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }

    a {
      @include m-theme() {
        color: themed($m-action);
      }
    }
  }

  .m-networkAdminConsole__form {
    .m-networkAdminConsole__formInputContainer {
      margin-bottom: $spacing4;

      @media screen and (min-width: $min-desktop) {
        margin-right: $spacing32;
      }

      .m-networkAdminConsole__formLabel {
        @include body1Regular;
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }

      .m-networkAdminConsole__formTextAreaInput {
        min-height: 296px;
        width: 100%;

        @media screen and (min-width: $min-desktop) {
          margin-right: $spacing32;
        }
      }
    }
  }
}
