@import 'defaults.scss';

:host {
  ::ng-deep {
    m-publisherCard {
      display: block;
      padding-top: $spacing5;
    }
  }

  .m-adsBoost__boostChannelButton {
    display: block;
    padding-top: $spacing8;
  }
}
