<div class="m-chatMemberListItem__leftContainer">
  <minds-avatar
    [object]="{ guid: memberEdge.node.guid, type: 'user' }"
    [routerLink]="'/' + memberEdge.node.username"
  ></minds-avatar>
  <div class="m-chatMemberListItem__nameContainer">
    <span
      class="m-chatMemberListItem__name"
      [title]="memberEdge.node.name"
      [routerLink]="'/' + memberEdge.node.username"
      >{{ memberEdge.node.name }}</span
    >
    <span
      class="m-chatMemberListItem__username"
      [title]="memberEdge.node.username"
      [routerLink]="'/' + memberEdge.node.username"
      >&#64;{{ memberEdge.node.username }}</span
    >
  </div>
</div>
<m-chatRoomMembersListItem__dropdown
  [memberEdge]="memberEdge"
  data-ref="data-minds-chat-member-list-item-dropdown"
></m-chatRoomMembersListItem__dropdown>
