<div
  style="transition: all 0.3s; overflow: hidden; flex: 1;"
  [style.height.px]="containerHeight$ | async"
  *ngIf="visible"
>
  <article
    (mResized)="onResized($event)"
    *ngIf="(recommendations$ | async).length"
  >
    <header *ngIf="!isOnboarding">
      <h3>
        {{ title }}
      </h3>
      <div>
        <a
          [routerLink]="['/discovery/suggestions/user']"
          [queryParams]="channelId && { u: channelId }"
          i18n="@@COMMON__SEE_MORE__ACTION"
          >See more</a
        >
        <m-dropdownMenu
          [menu]="dropdown"
          [anchorPosition]="{ top: '0', right: '0' }"
          *ngIf="dismissible"
        >
          <m-icon iconId="more_horiz" sizeFactor="1.5" rem="true"></m-icon>
        </m-dropdownMenu>
      </div>
    </header>
    <ul *ngIf="(recommendations$ | async).length">
      <li
        @listAnimation
        *ngFor="
          let channel of recommendations$
            | async
            | slice: 0:(listSize$ | async);
          let i = index
        "
        (mViewed)="trackView(channel, i + 1)"
      >
        <section>
          <a
            [routerLink]="getLink(channel)"
            class="m-channelRecommendation__avatarContainer"
          >
            <m-hovercard [publisher]="channel" [offset]="[0, 15]">
              <minds-avatar
                [object]="channel"
                [editMode]="false"
              ></minds-avatar>
            </m-hovercard>
          </a>
          <div class="m-channelRecommendation__contentContainer">
            <a
              [routerLink]="getLink(channel)"
              class="m-channelRecommendation__title"
            >
              <strong>{{ channel.name }}</strong>
              <m-channel--badges
                class="m-channel--badges-activity m-activityOwnerBlockPrimaryName__badges"
                [user]="channel"
                badges="[ 'admin', 'verified' ]"
              ></m-channel--badges>
            </a>
            <span
              class="m-channelRecommendation__description"
              [innerHtml]="channel.briefdescription | slice: 0:5000 | tags"
            ></span>
            <m-boostedFlag
              *ngIf="channel.boosted"
              text="Boosted Channel"
              size="small"
            ></m-boostedFlag>
          </div>
          <div class="m-channelRecommendation__subscribeContainer">
            <m-subscribeButton
              *ngIf="publisherType === 'user'"
              [user]="channel"
              [enableRecheck]="false"
              subscribedIcon="check"
              sized="true"
              iconOnly="true"
              (subscribed)="onSubscribed($event)"
              (unsubscribed)="onUnsubscribed($event)"
            ></m-subscribeButton>
            <m-group__membershipButton
              *ngIf="publisherType === 'group'"
              [group]="channel"
              iconOnly="true"
              isMemberIcon="check"
              color="blue"
              (onMembershipChange)="onGroupMembershipChange($event, channel)"
            ></m-group__membershipButton>
          </div>
        </section>
      </li>
    </ul>
  </article>
</div>

<ng-template #dropdown>
  <ul>
    <m-dropdownMenu__item (click)="dismiss()" icon="close">
      <span i18n="@@COMMON__REMOVE_FROM_FEED">Remove from feed</span>
    </m-dropdownMenu__item>
  </ul>
</ng-template>
