<div [hidden]="!data">
    <!-- Angular has svg problems... -->
    <svg viewBox="0,0,100,100" class="chart" style="height:100px; width:100px; margin: 0 auto; transform: rotate(90deg); background: #ddd; border-radius: 50%; display: block;">

        <circle *ngFor="let s of segments" r="25" cx="50" cy="50" [attr.stroke-dasharray]="s.array" [attr.stroke-dashoffset]="s.offset"
            class="pie" style="fill: transparent; stroke: #0074d9; stroke-width: 50px;" />

    </svg>
</div>
<div class="mdl-spinner mdl-js-spinner is-active" [hidden]="data"></div>