<div
  class="mdl-card__title m-channels--sorted-module__Title"
  [routerLink]="linksTo"
>
  <h2 class="mdl-card__title-text">{{ title }}</h2>
</div>

<ng-container [ngSwitch]="type">
  <div *ngSwitchCase="'blogs'" class="m-channels--sorted-module__BlogCards">
    <minds-card
      *ngFor="let entity of entities"
      class="mdl-card"
      [object]="entity"
    ></minds-card>
  </div>

  <div
    *ngSwitchDefault
    class="mdl-card__supporting-text m-channels--sorted-module__Tiles"
  >
    <a
      *ngFor="let entity of entities"
      [routerLink]="['/media', entity.guid]"
      [ngClass]="{ 'm-mature-module-thumbnail': shouldBeBlurred(entity) }"
    >
      <span
        class="m-channels--sorted-module__TileImage"
        [ngStyle]="{ 'background-image': getThumbnailSrcCssUrl(entity) }"
      ></span>

      <i class="material-icons">explicit</i>
    </a>
  </div>
</ng-container>

<div
  class="mdl-spinner mdl-js-spinner is-active minds-channel-sidebar-loader"
  [mdl]
  [hidden]="!inProgress"
></div>

<a
  class="mdl-card__supporting-text mdl-color-text--grey-600 m-channels--sorted-module__viewMore"
  [routerLink]="linksTo"
>
  <ng-container i18n>View More</ng-container>
</a>
