@import 'defaults.scss';

m-governance--proposal-detail {
  .m-pageLayout__pane--main {
    position: relative;
    padding: 30px;
    @media screen and (max-width: $max-mobile) {
      padding: 40px 24px;
    }
  }

  a {
    display: flex;
    align-items: center;
    @include m-theme() {
      color: themed($m-textColor--secondary) !important;
    }
  }

  i {
    margin-right: 15px;
    margin-left: -4px;
    @include m-theme() {
      color: themed($m-textColor--secondary) !important;
    }
  }
  
  .m-governance--proposal-detail {
    display: flex;
    @media screen and (max-width: $max-mobile) {
      display: grid;
    }

    .m-governance--proposal-detail-info {
      width: 100%;
      padding: 20px 20px;
      margin-right: 30px;
      margin-top: 20px;
      border-radius: 4px;
      box-sizing: border-box;
      height: fit-content;
      @media screen and (max-width: $max-mobile) {
        margin-top: 0px;
      }
      padding-bottom: 0px;
    }

    .m-governance--proposal-detail-results {
      @media screen and (max-width: $max-mobile) {
        margin-top: 30px;
      }
    }

    .m-governance--proposal-detail-options-row {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-top: 18px;
    }

    .m-governance--proposal-detail-title {
      padding-bottom: 8px;
      font-size: 16px;
      font-weight: 700;
    }

    .m-governance--proposal-detail-row {
      display: flex;
      justify-content: space-between;
      padding-top: 12px;
      cursor: default;

      m-icon {
        cursor: pointer;
      }
    }

    .m-governance--proposal-detail-vote {
      padding: 8px;
      justify-content: center;
      border: 1px solid;
      display: flex;
      cursor: pointer;
      &:hover {
        @include m-theme() {
          background-color: themed($m-bgColor--btnHover);
        }
      }
      border-radius: 21px;
      max-width: 100px;
      width: 100%;
    }

    .m-governance--proposal-detail-key {
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
      font-size: 14px;
      font-weight: 400;
      margin-top: 4px;
    }

    .m-governance--proposal-detail-value {
      align-items: center;
      display: flex;
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
      line-height: 18px;
    }

    .m-governance--proposal-detail-value-snapshot {
      align-items: center;
      display: flex;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .m-governance--proposal-detail-pointer {
      cursor: pointer;
    }

    .m-governance--proposal-detail-header {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 20px;
      line-height: 26px;
    }
    .m-governance__card-status {
      margin-bottom: 29px;
      display: flex;
      text-transform: capitalize;
    }

    .m-governance--proposal-detail-extra {
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }

    .m-governance--proposal-detail-body-title {
      h2,
      h1,
      h3,
      h4,
      h5 {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 0px;
        margin-top: 20px;
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }

      p {
        margin-bottom: 0px;
        @include m-theme() {
          color: themed($m-textColor--primary);
        }
        line-height: 18px;
      }
    }
    .m-governance--proposal-detail-progress {
      height: 8px;
      position: relative;
      background: #858586;
      border-radius: 25px;
      width: 100%;
    }

    .m-governance--proposal-detail-progress > span {
      display: block;
      height: 100%;
      border-radius: 20px;
      @include m-theme() {
        background-color: themed($m-blue);
      }
      position: relative;
      overflow: hidden;
    }
  }

  .m-governance__card-status {
    display: flex;
    text-transform: capitalize;
    margin-bottom: 4px;
  }

  .m-governance__card-status-text {
    font-weight: 500;
    font-size: 15px;
  }

  .m-governance__card-status-green {
    color: #64cb2f;
  }

  .m-governance__card-status-red {
    color: #e63535;
  }

  .m-governance__card-check {
    margin-right: 9px;
  }

  .m-governance__card-orange {
    color: #ffb200;
  }

  .m-governance--clock {
    margin-right: 9px;
    width: 15px;
    height: 15px;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  .m-governance--proposal-detail-column {
    flex: 1;
  }

  .m-governance--choices-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 34px;
  }

  .m-governance--choices-option {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
  }

  .m-governance--option-approve {
    border-color: #38a169 !important;
  }

  .m-governance--option-reject {
    border-color: #bf2c2c !important;
  }

  .m-governance--state-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    @include m-theme() {
      border-color: themed($m-borderColor--primary) !important;
    }
  }

  .m-governance--user-row {
    display: flex;
    align-items: center;
  }

  .m-governance--user {
    @include m-theme() {
      color: themed($m-textColor--primary);
    }
  }
  
}
