.m-web3-modal__body {
  box-sizing: border-box;
  padding: 40px 50px;
  max-height: 800px;
  overflow-y: auto;

  .m-web3-modal__body-title {
    font-size: 30px;
    font-weight: bold;
    margin: 0;

    @include m-theme() {
      color: themed($m-textColor--primary);
    }
  }

  .m-web3-modal__body-description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 0 32px 0;

    p {
      margin: 0;
    }
  }

  .m-web3-modal__body-description-gray {
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }
}

.m-web3-modal__provider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  width: 194px;
  height: 165px;
  margin: 0 20px 20px 20px;

  @include m-theme() {
    background-color: themed($m-bgColor--secondary);
  }

  @include m-theme() {
    border: 1px solid themed($m-borderColor--primary);
  }
}

.m-web3-modal__provider-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.m-web3-modal__provider-name {
  margin-top: 0.5em;
}

.m-web3-modal__provider-icon {
  width: 60px;
  height: 60px;
  display: flex;
  border-radius: 50%;
  overflow: visible;
  box-shadow: none;
  justify-content: center;
  align-items: center;
  & img {
    width: 100%;
    height: 100%;
  }
}
