.m-modalV2__inner {
  box-sizing: border-box;
  max-width: 805px !important; // Override m-modalV2__inner so that the modal fits 3 columns

  .m-web3ModalHeader__title {
    font-size: 30px;
    font-weight: 800;
    margin: 0;

    @include m-theme() {
      color: themed($m-textColor--primary);
    }
  }

  .m-web3ModalHeader__text {
    margin: 0;
    font-weight: 600;
    line-height: 22px;
    font-size: 16px;
  }

  .m-web3ModalHeader__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
  }

  .m-web3ModalHeader__text--gray {
    margin: 0;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }
}

.m-web3Modal__footer {
  height: 100px;
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: $min-tablet) {
    margin-top: -20px;
  }
}

.m-web3ModalFooter__text {
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  margin: 0;
  cursor: pointer;

  @include m-theme() {
    color: themed($m-textColor--primary);
  }
}

.m-web3Modal__body {
  overflow-y: auto !important; // m-modalV2__body so that the overflow is automax
  max-width: 628px;
}

.m-web3ModalBody__provider {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and (max-width: $m-grid-max-mobile) {
    justify-content: center;
  }
}

.m-web3ModalProvider__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  width: 194px;
  height: 165px;
  margin-bottom: 20px;

  @include m-theme() {
    background-color: themed($m-bgColor--secondary);
  }

  @include m-theme() {
    border: 1px solid themed($m-borderColor--primary);
  }
}

.m-web3ModalProviderBody__name {
  margin-top: 12px;
  font-weight: 600;
  font-size: 15px;

  @include m-theme() {
    color: 1px solid themed($m-borderColor--primary);
  }
}

.m-web3ModalProviderBody__icon {
  width: 60px;
  height: 60px;
  display: flex;
  border-radius: 50%;
  overflow: visible;
  box-shadow: none;
  justify-content: center;
  align-items: center;
  & img {
    width: 100%;
    height: 100%;
  }
}
