<div class="mf-jumpAnchor" #topAnchor></div>

<m-marketing class="m-pro__marketing" pageTitle="Minds Pro" i18n-pageTitle>
  <div class="m-marketing__main m-marketing__section--style-2">
    <div class="m-grid m-marketing__wrapper">
      <div class="m-grid__column-7 m-grid__column-12--mobile m-marketing__body">
        <h1 i18n>
          Minds Pro
        </h1>

        <h2 ngPreserveWhitespaces i18n>
          The ultimate platform for <em>creators and brands</em>
        </h2>

        <p class="m-marketing__description" i18n>
          Earn revenue for your content and upgrade your channel into an
          independent website with all the professional tools you need to do
          what you love.
        </p>

        <div class="m-proMarketing__subscription">
          <m-pro--subscription
            (onEnable)="goToSettings()"
          ></m-pro--subscription>
        </div>
      </div>

      <div
        class="m-grid__column-5 m-grid__column-12--mobile m-marketing__image"
      >
        <span>
          <img [src]="cdnAssetsUrl + 'assets/product-pages/pro/pro-1.jpg'" />
        </span>
      </div>
    </div>
  </div>

  <ng-container slot="2">
    <m-marketing__asFeaturedIn></m-marketing__asFeaturedIn>

    <!-- Section 2 -->

    <div class="m-marketing__section m-marketing__section--style-3">
      <div class="m-grid m-marketing__wrapper">
        <div
          class="m-grid__column-6 m-grid__column-12--mobile m-marketing__body"
        >
          <h2 i18n>Get paid for your work</h2>

          <p class="m-marketing__description" i18n>
            Receive tips and subscription payments in USD, Bitcoin, Ether or
            Minds Tokens. Earn money for driving pageviews, referring active
            users and sales.
          </p>

          <ul class="m-marketing__points">
            <li i18n>
              $1 for every 1,000 pageviews
            </li>

            <li i18n>
              $0.10 for every referred active user
            </li>

            <li i18n>
              25% commission on all referred sales
            </li>
          </ul>
        </div>
        <div
          class="m-grid__column-6 m-grid__column-12--mobile m-marketing__image"
        >
          <span>
            <img
              class="m-marketing__image--1"
              [src]="cdnAssetsUrl + 'assets/product-pages/pro/pro-2.jpg'"
            />

            <img
              class="m-marketing__image--2"
              [src]="cdnAssetsUrl + 'assets/product-pages/pro/pro-2-ux.png'"
            />
          </span>
        </div>
      </div>
    </div>

    <!-- Section 3 -->

    <div class="m-marketing__section m-marketing__section--style-4">
      <div class="m-grid m-marketing__wrapper">
        <div
          class="m-grid__column-6 m-grid__column-12--mobile m-marketing__body"
        >
          <h2 i18n>Build your own website</h2>

          <p class="m-marketing__description" i18n>
            Morph your channel into a full blown website with your own
            sub-domain or custom domain, logo, theme, categories and footer.
          </p>

          <ul class="m-marketing__points">
            <li i18n>
              Upload videos and photos
            </li>

            <li i18n>
              Publish blogs in an easy-to-use editor
            </li>

            <li i18n>
              Create your own groups
            </li>

            <li i18n>
              Track all of your analytics
            </li>
          </ul>
        </div>
        <div
          class="m-grid__column-6 m-grid__column-12--mobile m-marketing__image"
        >
          <span>
            <img
              class="m-marketing__image--1"
              [src]="cdnAssetsUrl + 'assets/product-pages/pro/pro-3.jpg'"
            />

            <img
              class="m-marketing__image--2"
              [src]="cdnAssetsUrl + 'assets/product-pages/pro/pro-3-ux.png'"
            />
          </span>
        </div>
      </div>
    </div>

    <!-- Section 4 -->

    <div class="m-marketing__section m-marketing__section--style-3">
      <div class="m-grid m-marketing__wrapper">
        <div
          class="m-grid__column-6 m-grid__column-12--mobile m-marketing__body"
        >
          <h2 i18n>Regain your freedom</h2>

          <p class="m-marketing__description" i18n>
            Tired of the manipulation and unfair treatment from traditional
            social networks?
          </p>

          <p class="m-marketing__description" i18n>
            Minds offers a fully transparent, privacy-focused platform with no
            bias, hidden algorithms or censorship.
          </p>
        </div>
        <div
          class="m-grid__column-6 m-grid__column-12--mobile m-marketing__image"
        >
          <span class="m-marketing__image--noUxSample">
            <img
              class="m-marketing__image--1"
              [src]="cdnAssetsUrl + 'assets/product-pages/pro/pro-4.jpg'"
            />
          </span>
        </div>
      </div>
    </div>

    <!-- Section 5 -->

    <div class="m-marketing__section m-marketing__section--style-4">
      <div class="m-grid m-marketing__wrapper">
        <div
          class="m-grid__column-6 m-grid__column-12--mobile m-marketing__body"
        >
          <h2 i18n>If we make money, you make money.</h2>

          <p class="m-marketing__description" i18n>
            Minds is initially putting $250,000 directly towards compensating
            Pro sites, initially without any ads.
          </p>

          <p class="m-marketing__description" i18n>
            In order for this program to continue, we need your help in growing
            both revenue and the Minds Token economy so that there is a constant
            source of funding.
          </p>
        </div>
        <div
          class="m-grid__column-6 m-grid__column-12--mobile m-marketing__image"
        >
          <span>
            <img
              class="m-marketing__image--1"
              [src]="cdnAssetsUrl + 'assets/product-pages/pro/pro-5.jpg'"
            />

            <img
              class="m-marketing__image--2"
              [src]="cdnAssetsUrl + 'assets/product-pages/pro/pro-5-ux.png'"
            />
          </span>
        </div>
      </div>
    </div>

    <!-- Final section -->

    <div class="m-marketing__section m-marketing__section--tail">
      <div class="m-grid m-marketing__wrapper">
        <div
          class="m-grid__column-12 m-grid__column-12--mobile m-marketing__body"
        >
          <h2 i18n>Other Pro features</h2>
        </div>
      </div>

      <div class="m-grid m-marketing__wrapper m-marketingSectionTail__table">
        <div
          class="m-grid__column-4 m-grid__column-12--mobile m-marketing__body"
        >
          <h3 i18n>Professional media</h3>

          <p class="m-marketing__description" i18n>
            Upload and share up to 500 GB of HD video and photography (1080p).
          </p>
        </div>

        <div
          class="m-grid__column-4 m-grid__column-12--mobile m-marketing__body"
        >
          <h3 i18n>Unlock all Plus features</h3>

          <p class="m-marketing__description" i18n>
            Turn off ads, verify your channel, earn a badge and access exclusive
            content.
          </p>
        </div>

        <div
          class="m-grid__column-4 m-grid__column-12--mobile m-marketing__body"
        >
          <h3 i18n>Expand your reach</h3>

          <p class="m-marketing__description" i18n>
            Get free promotion for your website and access millions of minds.
          </p>
        </div>
      </div>

      <div class="m-grid m-marketing__wrapper">
        <div
          class="m-grid__column-12 m-grid__column-12--mobile m-marketing__body m-marketing__body--extra"
        >
          <button class="mf-button mf-button--alt" (click)="scrollToTop()" i18n>
            Upgrade to Pro
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</m-marketing>
