<div class="m-marketing">
  <div class="m-marketing--hero">
    <div class="m-marketing--hero--video">
      <img [src]="minds.cdn_assets_url + 'assets/photos/fractal.jpg'">
    </div>

    <div class="m-marketing--hero--inner">
      <div class="m-marketing--hero--overlay"></div>

      <div class="m-marketing--hero--slogans">
        <h1 i18n>Minds Pro</h1>
        <h3 i18n>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cumque illo, impedit molestias numquam
          saepe sint voluptate.
        </h3>
      </div>

      <div class="m-marketing--hero--actions m-marketing--action-button">
        <!--<m-plus&#45;&#45;subscription></m-plus&#45;&#45;subscription>-->
      </div>
    </div>
  </div>
</div>

<m-footer></m-footer>
