@import 'defaults.scss';

:host {
  display: contents;

  ::ng-deep .m-modalV2__inner {
    max-width: 500px !important;
  }

  .m-buyTokensHeader__title {
    font-size: 26px;
    font-weight: 700;
    color: #ffffff;
  }

  .m-buyTokensBody__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }

  .m-buyTokensBody__termsCheck {
    margin-top: 20px;
    * {
      vertical-align: middle;
    }
    & > input {
      margin-left: 0;
      margin-right: 10px;
    }
    a {
      font-weight: inherit;
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
    }
  }

  .m-buyTokensBody__paymentMethod {
    margin-bottom: 20px;
  }

  .m-buyTokensBodyPaymentMethod__text {
    font-weight: 500;
    font-size: 16px;

    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  .m-buyTokensBody__estimate {
    display: block;
    margin: 20px 0;
    font-size: 15px;
    font-weight: 500;

    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  .m-buyTokensBody__estimate--primary {
    margin: 20px 0;

    @include m-theme() {
      color: themed($m-textColor--primary);
    }
  }

  .m-buyTokensBody__buttons {
    width: 100%;
    display: flex;
  }

  .m-buyTokensBodyTermsCheck__label {
    font-size: 15px;
  }

  .m-buyTokensFooter__learnMoreText {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  .m-buyTokensButtons__button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    -webkit-: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    border-style: solid;
    border-width: 1px;

    @include m-theme() {
      border-color: themed($m-borderColor--primary);
      color: themed($m-textColor--primary);
      background-color: themed($m-bgColor--primary);
    }

    &:first-child {
      border-right: 0 !important;
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-left: 0 !important;
      border-radius: 0 5px 5px 0;
    }

    &.m-buyTokensBody__button--selected {
      @include m-theme() {
        background-color: themed($m-bgColor--secondary);
      }
    }
  }

  .m-buyTokensBody__uniswapWarning {
    font-size: 15px;
    margin-top: 20px;
    display: block;
    border-radius: 5px;
    padding: 10px;

    @include m-theme() {
      color: themed($m-textColor--secondary);
      border: 1px solid themed($m-borderColor--primary);
    }

    i {
      font-size: 20px;
      line-height: 20px;
      vertical-align: middle;
      margin-right: 5px;
    }

    span {
      vertical-align: middle;
    }
  }
}
