.m-settingsBlockedChannels__Channel {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  padding: 8px;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
  }
}

.m-settingsBlockedChannelsChannel__Avatar {
  margin-right: 16px;

  img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.m-settingsBlockedChannelsChannel__Username {
  flex-grow: 1;
}
