@import "defaults";

.minds-homepage-banner{
  position:relative;
  min-height:200px;
  min-height:50vh;
  //height:200px;
  overflow:hidden;

  video{
    bottom:auto;
    top:-50px;
  }

  .overlay{
    background: rgba(0,0,0,0.3);

    @media screen and (min-width: $min-tablet){
      flex-direction:row !important;
      align-items:center;
    }

    .m-logo{
      display:none;
    }
    text-align:center;

    .m-homepage-grid{
      //max-width:990px;

      .m-homepage-titles{
        > * {
          padding-left:$minds-padding*2;
          text-transform:uppercase;
        }
        h1{
          margin: 0;
          font-size: 46px;
          font-weight: 300;
          line-height:100px;
          //padding-bottom:$minds-padding*2;
          //width:90%;
        }
        h3{
          font-size:24px;
          font-weight:300;
          margin:0;
          letter-spacing: 0.2em;
        //  width:90%;
        }
      }

      .m-homepage-signup{
        max-width:500px;
        margin:auto;

        minds-form-register{
          .mdl-card{
            background:transparent;
            padding:0;
          }
          .mdl-card__title{
            //color: #FFF !important;
            display:none;
          }
          .m-login-box input{
            border:0;
            border-radius:3px;
            background:rgba(255,255,255,0.1);
            color:#FFF;
            border:1px solid rgba(255,255,255,0.08);
            //box-shadow: 0 0 6px rgba(255,255,255,0.22);
          }
          .mdl-card__actions{
            flex-direction:row-reverse;;
            .m-register-tac{
              padding-right:16px;
            }
          }
        }

      }

    }


    @media (max-width: $max-mobile){
      .m-logo{
        display: inline-block;
        height: 100px;
        width:auto;
        margin: 16px;
      }
      .m-homepage-grid{
        .m-homepage-titles{
          h1{
            font-size: 32px;
            line-height:32px;
            //font-weight: 200;
            //margin:16px;
            padding:0;
            padding:0 $minds-padding*2;
          }
          h3{
            font-size:16px;
            //font-weight: 200;
            line-height:16px;
            padding:16px 16px 0;
          }
        }
      }

      .m-app-links {
        max-width:60%;
        margin:$minds-margin;
        a{
          flex:auto;
        }
      }
    }

  }
}

minds-homepage{
  section {
    height: 300px;
    align-items: center;
    justify-content: center;
    display:flex;
    //text-transform: uppercase;
    font-weight: 100;
    font-size: 41px;
  }

  .m-homepage-stream{
    max-width:1100px;
    padding:$minds-padding !important;
    h4{
      text-transform: uppercase;
      margin: 0 auto 0;
      font-size: 14px;
      max-width: 1280px;
      text-indent: 16px;
    }
    section{
      display:block;
      padding:$minds-padding*1.5;
      height:auto;

      minds-activity{
        width:100%;
      }
    }
  }

  .m-homepage-facts{
    height:auto;
    .mdl-grid{
      max-width:990px;

      .mdl-cell{
        padding: 0 $minds-padding*2;
        text-align: center;
      }
    }
    h3{
      text-transform: uppercase;
      margin:8px 0;
      font-size: 22px;
      line-height: 24px;
    }
    i{
      font-size:94px;
    }
  }

  .m-homepage-features{
    min-height: 186px;
    height:auto;
    padding: 26px 0;

    .mdl-grid{
      width:90%;
    }

    .mdl-cell{
      text-align: center;
      margin:16px auto;
      cursor: pointer;

      i{
        font-size:42px;
      }
      h3{
        font-size:12px;
        margin:8px 0;
        line-height:14px;
      }
    }

  }

  .m-homepage-featured{
    text-transform:uppercase;

    .m-horizontal-content-carousel{
      border-bottom:1px solid #EEE;
      display:block;
      height:auto;
      padding:$minds-padding*2;

      h4{
        margin: 8px auto 0;
        font-size: 14px;
        max-width: 1280px;
        text-indent: 8px;

        a{
          text-decoration:none;

          span{
            padding-left: 8px;
            //font-weight: 300;
            font-style: italic;
          }
        }
      }

      .m-contents{
        max-width:1280px;
        padding:0;
      }

      .m-title-block{
        text-transform:none;
      }
    }
  }

  .m-homepage-press {
    height: auto;

    .m-contents{
      margin: auto;
      text-align:center;


      div {
        display: inline-block;

        img {
          box-sizing: border-box;
          max-width: 100px;
          padding: 8px;
          filter:grayscale(91%) contrast(50%);
          transition: filter 0.5s linear;
          &:hover{
            filter:none;
          }

        }
      }
    }
  }

}

.m-app-links{

  padding:28px;
  height:auto;
  display: flex;
  flex-flow: row wrap;
  align-items:center;
  justify-content: center;

  a{
    flex:1;
    padding:8px;
    max-width: 172px;

    img{
      width:100%;
    }
  }

}

.m-footer{
  background:#333;
  padding:28px;
  height:150px;
  position:relative;
//  justify-content:flex-end;

  .copyright{
    position: absolute;
    bottom: 35px;
    left: 0;
    //right:35px;
    width: 100%;
    text-align: center;
    font-size: 11px;
    font-weight:bold;
  }

}
