@import "defaults";

.minds-homepage-banner{
  position:relative;
  height:100vh;
  overflow:hidden;

  .overlay{

    .m-logo{
      display:none;
    }
    text-align:center;

    h1{
      margin: 25vh 0 0;
      font-size: 100px;
      font-weight: 200;
      line-height:100px;
      padding-bottom:$minds-padding*2;
      width:90%;
    }
    h3{
      font-size:32px;
      font-weight:200;
      margin:0;
      width:90%;
    }

    .m-app-links{
      margin: auto;
      max-width: 496px;
      display: flex;
      flex-flow: row wrap;
      align-items:center;

      a{
        flex:1;
        padding:8px;

        img{
          width:100%;
        }
      }

    }


    @media (max-width: $max-mobile){
      .m-logo{
        display: inline-block;
        height: 100px;
        margin: 16px;
      }
      h1{
        font-size: 58px;
        line-height:58px;
        font-weight: 200;
        margin:16px;
        padding:0 $minds-padding*2;
      }
      h3{
        font-size:18px;
        font-weight: 200;
        line-height:20px;
        padding:0 $minds-padding*2;
      }

      .m-app-links {
        max-width:60%;
        margin:$minds-margin;
        a{
          flex:auto;
        }
      }
    }

  }
}

minds-homepage{
  section {
    height: 300px;
    align-items: center;
    justify-content: center;
    display:flex;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 41px;
  }

  .m-horizontal-content-carousel{
    border-bottom:1px solid #EEE;
    display:block;
    height:auto;
    padding:$minds-padding*2;

    h4{
      margin: 8px auto 0;
      font-size: 14px;
      max-width: 1280px;
      text-indent: 8px;

      a{
        text-decoration:none;

        span{
          padding-left: 8px;
          //font-weight: 300;
          font-style: italic;
        }
      }
    }

    .m-contents{
      max-width:1280px;
      padding:0;
    }

    .m-title-block{
      text-transform:none;
    }
  }
}


.m-footer{
  background:#333;
  padding:28px;
  height:150px;
  position:relative;
//  justify-content:flex-end;

  .copyright{
    position: absolute;
    bottom: 35px;
    left: 0;
    //right:35px;
    width: 100%;
    text-align: center;
    font-size: 11px;
    font-weight:bold;
  }

}
