<!-- <select>
  <option value="" disabled hidden
    ><i i18n="@@M__COMMON__COUNTRY">Country</i></option
  >
  <option *ngFor="let country of filteredCountries" [value]="country.code">{{
    country.name
  }}</option>
</select> -->

<!-- --------------------------------- -->
<!-- <div
  class="form-control m-countryInput__wrapper"
  (click)="showDropdown ? closeDropdown() : openDropdown()"
  [ngModel]="country"
  (ngModelChange)="country = $event; countryChange.next($event)"
>
  <div class="m-countryInput__selectedCountry">
    <div class="m-countryInput__selectedCountryName">
      {{ selectedCountry.name }}
    </div>
    <div class="m-countryInput__arrow" [ngClass]="{ up: showDropdown }"></div>
  </div>
  <ul
    class="m-countryInput__countryList dropdown"
    id="m-countryInput__countryList"
    #dropdown
    [hidden]="!showDropdown"
  >
    <li
      *ngFor="let country of filteredCountries; let i = index"
      class="m-countryInput__option"
      (click)="onCountrySelect(i)"
      [attr.data-index]="i"
      tabindex="0"
      (mouseenter)="onMouseEnter(i)"
      [ngClass]="{ focused: focusedCountryIndex === i }"
      #countryEl
    >
      <div class="m-countryInput__flagBox">
        <div class="m-countryInput__flag" [ngClass]="country.flagClass"></div>
      </div>
      <span class="m-countryInput__countryName">{{ country.name }}</span>
      <span
        class="m-countryInput__dialCode"
        [attr.data-minds]="country.dialCode"
      >
        +{{ country.dialCode }}
      </span>
    </li>
  </ul>

  <div
    class="m-countryInput__wrapper"
    [ngClass]="{
      dropdownShown: showDropdown,
      focused: showDropdown || inputFocused,
      invalid: invalid
    }"
    #wrapper
  >
    <m-countryInput__country
      [initCountryCode]="initCountryCode"
      [allowedCountries]="allowedCountries"
      (countrySelected)="countrySelected($event)"
      (toggledDropdown)="toggledDropdown($event)"
      [showDropdown]="showDropdown"
    ></m-countryInput__country> -->

<!-- <input
    type="tel"
    id="phone"
    autocomplete="off"
    placeholder="916-555-5555"
    (keypress)="onInputKeyPress($event)"
    [(ngModel)]="phoneNumber"
    (ngModelChange)="onPhoneNumberChange()"
    [placeholder]="selectedCountry.placeHolder"
    class="form-control m-countryInput__input"
    (click)="clickedInput($event)"
    (focusout)="inputFocused = false"
    #input
    required
    autofocus
  /> -->
<!-- </div>
</div> -->
