@import 'defaults.scss';

$layoutMax2ColWidth: '1040px';

:host {
  .m-pageLayout__container {
    @media screen and (max-width: $layoutMax2ColWidth) {
      padding: 0 !important;
    }
  }
  .m-pageLayout__pane--main {
    @media screen and (min-width: $max-mobile) and (max-width: $layoutMax2ColWidth) {
      @include borderRight;
    }
  }

  // Hide the border of the first feed item (activity) after the trends
  ::ng-deep {
    .m-discovery__trends + m-discovery__feedsList {
      m-discovery__feedItem {
        m-activity {
          border-bottom: none;
        }
        &:first-child {
          m-activity {
            border-top: none;
          }
        }
      }
    }
  }
}
