.m-blockchain--tde-buy {
  h2 {
    font-size: 30px;
  }

  p,
  h2 {
    margin: 0 0 ($minds-padding * 4);
  }
}

.m-blockchain--tde-buy--action {
  .material-icons {
    font-size: 16px;
    vertical-align: text-top;
  }

  font-weight: 200;
}

.m-blockchain--tde-buy--error {
  opacity: 0.85;
  font-weight: 400;
}

.m-blockchain--tde-buy--form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: $minds-padding * 4;

  .m-blockchain--tde-buy--field {
    flex: 1;
    display: flex;

    > span,
    > input {
      display: inline-block;
      font-family: Roboto, sans-serif;
      font-size: 24px;
      padding: 16px;
      line-height: 1.2;
      font-weight: 300;
      @include m-theme() {
        color: themed($m-grey-900);
      }
    }

    > input {
      width: auto;
      border: none;
      text-align: right;
      font-weight: 400;
      appearance: none;
      border-radius: 3px;
      flex: 1;
      @include m-theme() {
        background-color: rgba(themed($m-black), 0.1);
      }
    }

    m--crypto-token-symbol {
      font-size: 1.2em;

      .m--crypto-token-symbol--stroke {
        @include m-theme() {
          stroke: themed($m-grey-900);
        }
      }

      .m--crypto-token-symbol--fill {
        @include m-theme() {
          fill: themed($m-grey-900);
        }
      }
    }
  }
}

.m-blockchain--tde-buy-button {
  letter-spacing: 2.33px;
  appearance: none;
  padding: 8px 32px;
  background: none;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  cursor: pointer;
  @include m-theme() {
    color: themed($m-grey-700);
    border: 1px solid themed($m-grey-700);
  }

  &[disabled] {
    cursor: default;
    opacity: 0.35;
  }
}

.m-blockchain--tde-buy--error {
  @include m-theme() {
    color: themed($m-red);
  }
}
