@import 'defaults';

minds-admin {
  grid-area: content / span 2;
  min-width: 0;

  m-networkAdminConsole__excludedHashtagsList {
    @include m-theme() {
      border-top: 1px solid themed($m-borderColor--primary);
      border-right: 1px solid themed($m-borderColor--primary);
    }
  }
}

minds-admin-boosts {
  minds-button-comment {
    display: none !important;
  }

  .boost {
    width: auto;
    padding: 20px;
  }
}

.m-admin-pages {
  .m-admin-pages-path {
    padding: $minds-padding;
  }

  .m-admin-pages-link-path {
    padding: $minds-padding 0;

    .m-form-input {
      display: block;
      font-size: 16px;
      padding: 8px;
      width: 100%;
      margin-top: 0.35em;
    }
  }

  .m-form-actions {
    padding: $minds-padding 0;
  }
}

.m-admin-reports {
  .m-report {
    margin-bottom: $minds-padding * 2;
  }

  .m-no-reports {
    text-align: center;
  }

  .m-action-buttons {
    text-align: right;
    width: 100%;
    box-sizing: border-box;
  }

  .m-report-archive-button {
    float: left;
  }

  //

  minds-activity {
    &.mdl-shadow--2dp {
      box-shadow: none !important;
    }

    .tabs {
      display: none;
    }

    .impressions-tag {
      display: none;
    }

    .mdl-card__menu {
      display: none;
    }
  }

  //

  minds-comments {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;

    .minds-comment {
      padding: $minds-padding;

      .mdl-card__menu {
        display: none;
      }
    }
  }

  .m-report-meta {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    @include m-theme() {
      border-bottom: 2px solid themed($m-grey-100);
    }

    p {
      margin: 0 0 0.35em;

      span {
        font-weight: bold;
      }

      a {
        text-decoration: none;
      }
    }
  }
}

.m-admin-button--green {
  @include m-theme() {
    background-color: themed($m-green);
  }
}
.m-admin-button--green-dark {
  @include m-theme() {
    background-color: themed($m-green-dark);
  }
}
.m-admin-button--amber {
  @include m-theme() {
    background-color: themed($m-amber);
  }
}
.m-admin-button--amber-dark {
  @include m-theme() {
    background-color: themed($m-amber-dark);
  }
}
.m-admin-button--red {
  @include m-theme() {
    background-color: themed($m-red);
  }
}
