<p>migrated-videos works!</p>
<m-youtubeMigration__list></m-youtubeMigration__list>
<div class="m-youtubeMigration__notice">
  <p>No transferred videos</p>
</div>

<!-- FROM NEWSFEED/ACTIVITY/CONTENT -->
<!-- <div class="m-activityContent__media--video" #mediaEl *ngIf="isVideo">
  <div class="m-activityContent__fixedHeightSpacer"></div>
  <m-videoPlayer
    [guid]="videoGuid"
    [shouldPlayInModal]="true"
    [autoplay]="autoplayVideo"
    [allowAutoplayOnScroll]="allowAutoplayOnScroll"
    (mediaModalRequested)="onModalRequested($event)"
    [style.height]="videoHeight"
  ></m-videoPlayer>
  <div class="m-activityContent__fixedHeightSpacer"></div>
</div> -->
