<a [routerLink]="['/wallet']">
  <span class="mdl-color--blue-grey-500 mdl-color-text--white m-wallet-pop"
    [hidden]="!walletPopContent"
    [@foolishIn]="walletPopState"
    (@foolishIn.done)="walletPopContent = ''"
    #walletPop
    >{{ walletPopContent }}
  </span>
  <m-tooltip icon="account_balance" i18n="@@MINDS__WALLET__TOGGLE">
    Wallet
  </m-tooltip>
</a>

<!--<div class="m-wallet&#45;&#45;topbar-toggle-overlay" (click)="toggle()" *ngIf="toggled"></div>-->
<!--<m-wallet&#45;&#45;flyout (close)="toggle()" *ngIf="toggled"></m-wallet&#45;&#45;flyout>-->

