.m-wallet-tabsContainer {

  .m-wallet-tabsContainer-selectors {
    display: flex;    
    margin: 0;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;

    .m-wallet-tabsContainer-tab {
      float: left;
      font-weight: 400;
      font-size: 14pt;
      padding-right: $minds-padding * 3;
      border: none;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        @include m-theme(){
          color: themed($m-grey-100);        
        }
      }

      &:focus {
        outline:none !important;
      }
    }
  }
}
