.m-admin--verify-requests {
  .m-admin--verify-requests-info {
    padding: 16px;
    ul,
    li {
      margin: 0;
      padding: 0;
    }
  }

  .m-admin--verify-requests-cta {
    padding: 16px;
  }
}
