<div class="m-tabs__container">
  <div class="m-tabs__tab" *ngIf="isAdmin">
    <a
      [routerLink]="['/network/admin/general']"
      [routerLinkActive]="'m-tabs__tab--selected'"
      data-ref="network-admin-console-tab-general"
      i18n="@@NETWORK_ADMIN_CONSOLE__TAB_GENERAL"
      >General</a
    >
  </div>
  <div class="m-tabs__tab" *ngIf="isAdmin">
    <a
      [routerLink]="['/network/admin/domain']"
      [routerLinkActive]="'m-tabs__tab--selected'"
      data-ref="network-admin-console-tab-domain"
      i18n="@@NETWORK_ADMIN_CONSOLE__TAB_DOMAIN"
      >Domain</a
    >
  </div>
  <div class="m-tabs__tab" *ngIf="isAdmin">
    <a
      [routerLink]="['/network/admin/billing']"
      [routerLinkActive]="'m-tabs__tab--selected'"
      data-ref="network-admin-console-tab-billing"
      i18n="@@NETWORK_ADMIN_CONSOLE__TAB_BILLING"
      >Billing</a
    >
  </div>
  <div class="m-tabs__tab" *ngIf="isAdmin">
    <a
      [routerLink]="['/network/admin/invite']"
      [routerLinkActive]="'m-tabs__tab--selected'"
      data-ref="network-admin-console-tab-invite"
      i18n="@@COMMON__INVITE"
      >Invite</a
    >
  </div>
  <div class="m-tabs__tab" *ngIf="isAdmin">
    <a
      [routerLink]="['/network/admin/customize']"
      [routerLinkActive]="'m-tabs__tab--selected'"
      data-ref="network-admin-console-tab-customize"
      i18n="@@NETWORK_ADMIN_CONSOLE__TAB_CUSTOMIZE"
      >Customize</a
    >
  </div>
  <div class="m-tabs__tab" *ngIf="isAdmin">
    <a
      [routerLink]="['/network/admin/navigation']"
      [routerLinkActive]="'m-tabs__tab--selected'"
      data-ref="network-admin-console-tab-navigation"
      i18n="@@NETWORK_ADMIN_CONSOLE__TAB_NAVIGATION"
      >Navigation</a
    >
  </div>
  <div class="m-tabs__tab" *ngIf="isAdmin">
    <a
      [routerLink]="['/network/admin/roles']"
      [routerLinkActive]="'m-tabs__tab--selected'"
      data-ref="network-admin-console-tab-roles"
      i18n="@@NETWORK_ADMIN_CONSOLE__TAB_ROLES"
      >Roles</a
    >
  </div>
  <div class="m-tabs__tab" *ngIf="isAdmin">
    <a
      [routerLink]="['/network/admin/monetization']"
      [routerLinkActive]="'m-tabs__tab--selected'"
      data-ref="network-admin-console-tab-monetization"
      i18n="@@NETWORK_ADMIN_CONSOLE__TAB_MONETIZATION"
      >Monetization</a
    >
  </div>
  <div class="m-tabs__tab" *ngIf="isAdmin || permissions.canModerateContent()">
    <a
      [routerLink]="['/network/admin/moderation']"
      [routerLinkActive]="'m-tabs__tab--selected'"
      data-ref="network-admin-console-tab-moderation"
      i18n="@@NETWORK_ADMIN_CONSOLE__TAB_MODERATION"
      >Moderation</a
    >
  </div>
  <div class="m-tabs__tab" *ngIf="isAdmin">
    <a
      [routerLink]="['/network/admin/authentication']"
      [routerLinkActive]="'m-tabs__tab--selected'"
      data-ref="network-admin-console-tab-auth"
      i18n="@@NETWORK_ADMIN_CONSOLE__TAB_AUTH"
      >Signup / Login</a
    >
  </div>
  <div class="m-tabs__tab" *ngIf="isAdmin">
    <a
      [routerLink]="['/network/admin/mobile']"
      [routerLinkActive]="'m-tabs__tab--selected'"
      data-ref="network-admin-console-tab-mobile"
      i18n="@@NETWORK_ADMIN_CONSOLE__TAB_MOBILE"
      >Mobile</a
    >
  </div>
  <div class="m-tabs__tab" *ngIf="isAdmin">
    <a
      [routerLink]="['/network/admin/analytics']"
      [routerLinkActive]="'m-tabs__tab--selected'"
      data-ref="network-admin-console-tab-analytics"
      i18n="@@NETWORK_ADMIN_CONSOLE__TAB_ANALYTICS"
      >Analytics</a
    >
  </div>
</div>
