<h3
  class="m-networkAdminMonetization__title m-networkAdminMonetization__horizontalMargin"
  i18n="@@NETWORK_ADMIN_MONETIZATION__MONETIZATION_TITLE"
>
  Monetization
</h3>

<p
  class="m-networkAdminMonetization__description m-networkAdminMonetization__horizontalMargin"
  i18n="@@NETWORK_ADMIN_MONETIZATION__MANAGE_THE_WAY_YOU_MONETIZE"
>
  Manage the way you monetize content, memberships, and replies on your Network.
</p>

<m-networkAdminConsole__stripeCredentials
  class="m-networkAdminMonetization__horizontalMargin"
></m-networkAdminConsole__stripeCredentials>

<m-networkAdminMonetization__tabs></m-networkAdminMonetization__tabs>

<router-outlet></router-outlet>
