m-composer__monetizeV2__memberships {
  .m-form__row--label {
    display: flex;
    justify-content: space-between;
    a {
      display: inline-block;
      margin-left: 10px;
    }
  }
  .m-composerPopup__memberships__radioLabel {
    font-size: 16px;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
    > span {
      display: inline-flex;
      justify-content: space-between;
      &:first-child {
        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }
    }
  }
}
