<div class="m-composer__coverPhotoSelector">
  <ng-container *ngIf="!isExpanded; else expandedView">
    <button
      (click)="onExpandToggle($event)"
      class="m-composerCoverPhotoSelector__button"
    >
      <span>Change Cover Photo</span>
      <i class="material-icons">expand_less</i>
    </button>
  </ng-container>

  <ng-template #expandedView>
    <button
      (click)="onExpandToggle($event)"
      class="m-composerCoverPhotoSelector__button m-composerCoverPhotoSelector__button--expanded"
    >
      <span>Hide</span>
      <i class="material-icons">expand_more</i>
    </button>
    <div class="m-composerCoverPhotoSelector__container">
      <label>Upload</label>
      <ul class="m-composerCoverPhotoSelector__list">
        <li
          class="m-composerCoverPhotoSelectorList__item"
          [class.m-composerCoverPhotoSelectorList__item--selected]="filePreview"
        >
          <m-file-upload
            *ngIf="!filePreview"
            [wrapperClass]="[
              'm-composerCoverPhotoSelector__preview m-composerCoverPhotoSelector__preview--icon'
            ]"
            (onSelect)="onFileSelect($event)"
            accept="image/*"
            data-ref="upload-cover-photo-button"
            #fileUploadComponent
          >
            <i class="material-icons">publish</i>
          </m-file-upload>
          <div
            class="m-composerCoverPhotoSelector__preview"
            *ngIf="filePreview"
          >
            <i
              class="material-icons m-composerCoverPhotoSelector__delete"
              (click)="onRemoveFileClick($event)"
              >close</i
            >
            <img
              class="m-composerCoverPhotoSelector__preview"
              [src]="filePreview"
            />
          </div>
        </li>
      </ul>
    </div>
  </ng-template>
</div>
