<div class="m-dropdown--v2">
  <button
    id="dropdown-button"
    class="m-governance--proposal-detail-dropdown__button"
    (click)="onButtonClick($event)"
  >
    <i class="material-icons">more_horiz</i>
  </button>

  <ul
    class="m-dropdown__list"
    [hidden]="!isOpened"
    tabindex="1"
    id="share"
    (mouseout)="isOpened = false"
  >
    <li
      class="m-dropdownList__item"
      (click)="onOptionClick($event); openShareModal()"
      i18n="@@M__ACTION__VIEW"
    >
      Share
    </li>
    <li
      *ngIf="allowDelete"
      class="m-dropdownList__item"
      (click)="onOptionClick($event); deleteProposal()"
      i18n="@@M__ACTION__EDIT"
    >
      Delete proposal
    </li>
  </ul>
</div>
