<!-- <ng-container *ngIf="group" ojm> -->
<div class="m-pageLayout__container m-group__members">
  <div class="m-groupMembers__body" m-pageLayout__pane="main">
    <!-- ----------------------------------------- -->
    <!-- REVIEW QUEUE -->
    <!-- ----------------------------------------- -->
    <m-groups-profile__review></m-groups-profile__review>
  </div>
  <!-- ----------------------------------------- -->
  <!-- SIDEBAR  -->
  <!-- ----------------------------------------- -->
  <div class="m-groupFeed__sidebar" m-pageLayout__pane="right">
    <div class="m-pageLayoutPane__inner">
      OJM TODO: add list of moderators here??
    </div>
  </div>
</div>
<!-- </ng-container> -->
