.m-modalV2__header {
  padding: 40px 40px 0;
  .m-modalV2Header__title {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    @include m-theme() {
      color: themed($m-textColor--primary);
    }
  }
}

.m-modalV2__body {
  padding: 20px 40px;
}

.m-modalV2__toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;

  @include m-theme() {
    border-top: 1px solid themed($m-borderColor--primary);
  }

  m-button {
    font-size: 16px;
    line-height: 28px;
  }
}
