.m-monetization--analytics {
  .m-root-loader {
    margin-bottom: 1em;
  }

  .m-monetization--list {
    margin-top: $minds-padding * 2;

    table {
      width: 100%;
      table-layout: fixed;
      border: 0;
      
      th {
        font-family: Lato;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      .m-data-title {
        width: 45%;
      }

      td {
        font-weight: 300;

        a{
          color: #455a64;
          text-decoration: none;
          font-family: Helvetica;
          letter-spacing: 1px;
        }

        &.mdl-data-table__cell--non-numeric {
          white-space: normal;
        }
      }
    }
  }
}
