<div class="m-monetization--overview mdl-color--blue-500 mdl-color-text--white mdl-shadow--4dp">

  <div class="m-monetization--overview-volume">
    <i>$</i>{{net}}
    <label class="m-monetization--overview-label">Earnings</label>
  </div>
  <div class="m-monetization--overview-breakdown">
    <div class="m-monetization--overview-balance">
      <i>$</i>{{balance}}
      <label class="m-monetization--overview-label">Pending</label>
    </div>
    <div class="m-monetization--overview-payouts">
      <i>$</i>{{payouts}}
      <label class="m-monetization--overview-label">Paid out</label>
    </div>
  </div>
</div>
