<!-- -------------------------------------------- -->
<!--- ADDRESS - SETUP - ---------------------------->
<!-- -------------------------------------------- -->
<div class="m-walletSettings">
  <h2>Ether Address</h2>
  <div class="m-walletSecondaryText--desc">
    <p i18n="@@WALLETV2_SETTINGS_ETH__SAME_AS_ONCHAIN_TEXT">
      Your Ether address is the same as your on-chain address.<m-tooltip
        icon="help"
      >
        Why? On-chain tokens run on the Ethereum network and require Ether to
        send.
      </m-tooltip>
    </p>
    <p i18n="@@WALLETV2_SETTINGS_ETH__CHANGE_YOUR_ADDRESS">
      To view or change your address, go to
      <a [routerLink]="walletService.basePath + '/tokens/settings'"
        >token settings</a
      >.
    </p>
  </div>
  <div *ngIf="ethWallet.address" class="m-walletSettings--eth__balanceWrapper">
    <div>
      <p
        class="m-walletSettings--eth__balanceLabel m-walletSecondaryText--16"
        i18n="@@WALLETV2_SETTINGS_ETH__ETHER_TOTAL"
      >
        Ether total
      </p>
      <p class="m-walletSettings--eth__balanceVal">{{ ethWallet.balance }}</p>
    </div>
    <m-button
      routerLink="['/token', { purchaseEth: 'open' }]"
      i18n="@@WALLETV2_SETTINGS_ETH__BUY_ETHER"
    >
      Buy Ether
    </m-button>
  </div>
</div>
