<!-- ----------------------------------- -->
<!-- PAYWALL -->
<!-- ----------------------------------- -->
<ng-container *mIfFeature="'paywall-2020'">
  <ng-container *ngIf="!hideMedia">
    <m-activityV2__paywall
      *ngIf="service.shouldShowPaywall$ | async"
      [mediaHeight]="mediaHeight"
      class="isPaywall2020"
    ></m-activityV2__paywall
  ></ng-container>
</ng-container>
<!-- ----------------------------------- -->
<!-- TITLE / DESCRIPTION -->
<!-- ----------------------------------- -->
<ng-container *ngIf="!hideText">
  <div
    #mediaDescriptionEl
    class="m-activityContent__mediaDescription"
    m-read-more
    *ngIf="mediaDescription || mediaTitle"
    [maxHeightAllowed]="maxDescHeight"
    (click)="onMessageClick($event)"
  >
    <div class="m-activityContent__descriptionWrapper">
      <p
        [innerHtml]="mediaTitle | tags"
        class="m-activityContent__mediaTitle"
        [class.m-activityContent__mediaTitle--noDescription]="!mediaDescription"
        *ngIf="mediaTitle"
      ></p>
      <p
        *ngIf="mediaDescription && !hideMediaDescription"
        class="m-activityContent__mediaDescriptionText"
        [innerHtml]="mediaDescription | tags"
        [ngClass]="{
          'm-activityContentText--translated':
            service.displayOptions.showTranslation
        }"
      ></p>
      <m-read-more--button
        *ngIf="!(service.shouldShowPaywall$ | async); else teaserFadeout"
        [v2]="true"
        [showOnlyFadeout]="minimalMode"
        [redirectUrl]="getRedirectUrl()"
      ></m-read-more--button>
    </div>
    <!-- ----------------------------------- -->
    <!-- TRANSLATION (MEDIA POSTS) -->
    <!-- ----------------------------------- -->
    <ng-container *ngTemplateOutlet="translation"></ng-container>
  </div>
</ng-container>
<!-- ----------------------------------- -->
<!-- MESSAGE -->
<!-- ----------------------------------- -->
<ng-template #messageTemplate
  ><ng-container *ngIf="!hideText">
    <div class="m-activityContent__fixedHeightSpacer" *ngIf="isTextOnly"></div>
    <div
      #messageEl
      m-read-more
      class="m-activityContent__message"
      [class.m-activityContent__message--quote]="entity.remind_object"
      [class.m-activityContent__message--richEmbed]="isRichEmbed"
      [class.m-activityContent__message--isTextOnly]="isTextOnly"
      [class.m-activityContent__message--short]="shortStatus"
      [class.m-activityContent__message--medium]="mediumStatus"
      [maxHeightAllowed]="maxHeightAllowed || maxMessageHeight"
      *ngIf="message?.length >= 1"
      (click)="onMessageClick($event)"
    >
      <div
        class="m-activityContent__messageWrapper"
        [ngClass]="{
          'm-activityContentText--translated':
            service.displayOptions.showTranslation
        }"
      >
        <span [innerHtml]="message | tags | codeHighlight"></span>
        <m-read-more--button
          *ngIf="
            !(service.shouldShowPaywall$ | async) || isTextOnly;
            else teaserFadeout
          "
          [v2]="true"
          [showOnlyFadeout]="minimalMode"
          [redirectUrl]="getRedirectUrl()"
        ></m-read-more--button>
      </div>
      <!-- ----------------------------------- -->
      <!-- TRANSLATION (MESSAGE) -->
      <!-- ----------------------------------- -->
      <ng-container *ngTemplateOutlet="translation"></ng-container>
    </div>
    <div class="m-activityContent__fixedHeightSpacer" *ngIf="isTextOnly"></div>
  </ng-container>
</ng-template>
<!-- Message usually goes above rich-embed preview -->
<ng-container *ngIf="isMessageAbovePreview">
  <ng-container *ngTemplateOutlet="messageTemplate"></ng-container
></ng-container>
<!-- ----------------------------------- -->
<!-- RICH EMBED / BLOG -->
<!-- ----------------------------------- -->
<ng-container *ngIf="!hideMedia">
  <div class="m-activityContent__media--richEmbed" *ngIf="isRichEmbed">
    <div class="m-activityContent__fixedHeightSpacer"></div>
    <minds-rich-embed
      (mediaModalRequested)="onModalRequested($event)"
      [src]="entity"
      [maxheight]="isModal ? null : 320"
      [isModal]="isModal"
      [activityV2Feature]="true"
      [displayAsColumn]="
        service.displayOptions.minimalMode ||
        service.displayOptions.isModal ||
        service.displayOptions.showBoostRotatorButtons
      "
    >
    </minds-rich-embed>
    <div
      class="m-activityContent__fixedHeightSpacer"
      *ngIf="!mediaDescription"
    ></div>
  </div>
  <!-- ----------------------------------- -->
  <!-- Message goes below rich-embed preview in minimal mode and modal-->
  <ng-container *ngIf="!isMessageAbovePreview">
    <ng-container *ngTemplateOutlet="messageTemplate"></ng-container
  ></ng-container>
  <!-- ----------------------------------- -->
  <!-- VIDEO -->
  <!-- ----------------------------------- -->
  <div
    class="m-activityContent__media--video"
    #videoEl
    *ngIf="isVideo"
    [ngClass]="{
      isPaywall: service.shouldShowPaywall$ | async,
      'm-activityContent__media--video--modal': isModal
    }"
  >
    <div class="m-activityContent__fixedHeightSpacer"></div>

    <m-videoPlayer--scrollaware
      [guid]="videoGuid"
      [shouldPlayInModal]="!isModal"
      (mediaModalRequested)="onModalRequested($event)"
      [autoplay]="
        service.displayOptions.autoplayVideo &&
        !(service.shouldShowPaywall$ | async)
      "
      [style.height]="isModal ? null : videoHeight"
      [isModal]="isModal"
      [style.overflow]="videoHeight && !isModal ? 'hidden' : null"
    ></m-videoPlayer--scrollaware>

    <div class="m-activityContent__fixedHeightSpacer"></div>
  </div>
  <!-- ----------------------------------- -->
  <!-- IMAGE -->
  <!-- ----------------------------------- -->
  <div
    class="m-activityContent__media--image"
    #imageEl
    *ngIf="isImage"
    [ngClass]="{
      'm-activityContent__media--extraTallImage':
        extraTallImage && service.displayOptions.isFeed,
      'm-activityContent__media--extraWideImage':
        extraWideImage && service.displayOptions.isFeed
    }"
  >
    <ng-container *ngIf="!isModal; else image">
      <a
        class="m-activityContentMedia__link"
        [routerLink]="['/newsfeed', imageGuid]"
        (click)="onModalRequested($event)"
      >
        <div
          *ngIf="
            (extraTallImage || extraWideImage) && service.displayOptions.isFeed
          "
          class="m-activityContentMedia__expandIcon"
          (click)="onModalRequested($event)"
        >
          <m-icon iconId="crop_free" sizeFactor="25"></m-icon>
        </div>
        <ng-container [ngTemplateOutlet]="image"></ng-container
      ></a>
    </ng-container>

    <ng-template #image
      ><img
        [src]="imageUrl"
        (error)="onImageError($event)"
        (click)="onModalRequested($event)"
        [m-blurhash]="service.entity$ | async"
        [paywalled]="service.shouldShowPaywall$ | async"
        [style.object-fit]="
          (service.shouldShowPaywall$ | async) ? 'cover' : undefined
        "
        [style.height]="service.displayOptions.isModal ? imageHeight : 'auto'"
    /></ng-template>
  </div>
</ng-container>
<!-- ----------------------------------- -->
<!-- QUOTE -->
<!-- ----------------------------------- -->
<ng-container *ngIf="!hideMedia">
  <div
    *ngIf="service.isQuote$ | async"
    class="m-activityContent__quote"
    [class.m-activityContent__quote--hasMessage]="!!message"
  >
    <m-activityV2__quote
      [parentService]="service"
      [entity]="service.entity$ | async"
      [style.height]="quoteHeight"
      [style.max-height]="quoteHeight"
    >
    </m-activityV2__quote>
  </div>
</ng-container>
<!-- ----------------------------------- -->
<!-- REMIND DELETED NOTICE -->
<!-- ----------------------------------- -->
<div
  class="m-activityContent__remindDeletedNotice"
  *ngIf="(service.entity$ | async).remind_deleted"
>
  <i class="material-icons">info</i>
  <span
    >This reminded content is unavailable. It may have been deleted or you do
    not have permission to view it.</span
  >
</div>
<!-- ----------------------------------- -->
<!-- PERMALINK -->
<!-- ----------------------------------- -->
<m-activityV2__permalink
  *ngIf="showPermalink"
  class="m-activityContent__permalink"
></m-activityV2__permalink>
<!-- ----------------------------------- -->
<!-- TEMPLATE: TRANSLATION -->
<!-- ----------------------------------- -->
<ng-template #translation>
  <ng-container *mIfBrowser>
    <m-translate
      *ngIf="service.displayOptions.showTranslation"
      [open]="service.displayOptions.showTranslation"
      [entity]="entity"
      [translateEvent]="translateEvent"
      (onTranslate)="onTranslate($event)"
      (onTranslateError)="onTranslate($event)"
      [class.m-translate--minimalMode]="minimalMode"
      #translate
    ></m-translate>
  </ng-container>
</ng-template>
<!-- ----------------------------------- -->
<!-- TEMPLATE: TEASER FADEOUT -->
<!-- ----------------------------------- -->
<ng-template #teaserFadeout>
  <div class="m-activityContent__teaserFadeout" @fader></div
></ng-template>
