<div
  class="m-boostBudgetSelector__header"
  data-ref="boost-modal-v2-budget-tab-header"
>
  <div class="m-boostBudgetSelector__headerSection">
    <div class="m-boostBudgetSelector__headerSectionValue">
      <span>{{ amountText }} over {{ durationText }}</span>
    </div>
    <div class="m-boostBudgetSelector__headerSectionDescription">
      <span i18n="@@BOOST_MODAL_V2_BUDGET_TAB__TOTAL_SPEND">Total Spend</span>
    </div>
  </div>
  <div class="m-boostBudgetSelector__headerSection">
    <div class="m-boostBudgetSelector__headerSectionValue">
      <span> {{ (estimatedReachText$ | async) ?? '...' }} </span>
    </div>
    <div class="m-boostBudgetSelector__headerSectionDescription">
      <span i18n="@@BOOST_MODAL_V2_BUDGET_TAB__ESTIMATED_REACH"
        >Estimated views</span
      >
    </div>
  </div>
</div>
<div class="m-boostBudgetSelector__body">
  <form *ngIf="form" [formGroup]="form">
    <div
      class="m-boostBudgetSelector__inputContainer m-boostBudgetSelector__inputContainer--budget"
    >
      <label
        class="m-boostBudgetSelector__inputLabel"
        i18n="@@BOOST_MODAL_V2_BUDGET_TAB__DAILY_BUDGET"
        >Daily Budget</label
      >
      <div class="m-boostBudgetSelector__inputSliderRow">
        <div class="m-boostBudgetSelector__scaleLabel">
          {{ minDailyBudgetLabel }}
        </div>
        <m-formInput__sliderV2
          id="dailyBudget"
          formControlName="dailyBudget"
          [steps]="dailyBudgetSteps"
          [displayFormat]="currentDailyBudgetFormat"
          data-ref="boost-modal-v2-budget-tab-daily-budget-range-input"
        ></m-formInput__sliderV2>
        <div class="m-boostBudgetSelector__scaleLabel">
          {{ maxDailyBudgetLabel }}
        </div>
      </div>
    </div>
    <div
      class="m-boostBudgetSelector__inputContainer m-boostBudgetSelector__inputContainer--duration"
    >
      <label
        class="m-boostBudgetSelector__inputLabel"
        i18n="@@BOOST_MODAL_V2_BUDGET_TAB__DURATION"
        >Duration</label
      >
      <div class="m-boostBudgetSelector__inputSliderRow">
        <div class="m-boostBudgetSelector__scaleLabel">
          {{ minDuration }} day
        </div>
        <m-formInput__sliderV2
          id="duration"
          formControlName="duration"
          [max]="30"
          [min]="1"
          [step]="1"
          [displayFormat]="currentDurationFormat"
          data-ref="boost-modal-v2-budget-tab-duration-range-input"
        ></m-formInput__sliderV2>
        <div class="m-boostBudgetSelector__scaleLabel">
          {{ maxDuration }} days
        </div>
      </div>
    </div>
  </form>
</div>
