<div class="m-networkPending-container">
  <div class="mdl-grid m-networkPending-title__container">
    <span class="m-networkPending-title">
      Transfer amount
    </span>
    <span class="m-networkPending-subtitle"> {{ amount }} MINDS </span>
  </div>

  <div class="m-networkPending-wrapper">
    <div class="m-networkPending-stepper">
      <div
        id="step1"
        class="m-networkPending_stepper-item m-networkPending_step-complete m-networkPending_step-last-complete"
      >
        <i class="m-networkPending_stepper-circle">
          <i class="material-icons m-networkPending-approve">done</i>
        </i>
        <span class="m-networkPending_stepper-label">Initialized</span>
      </div>

      <div class="m-networkPending_stepper-connector" aria-hidden="true">
        <hr />
      </div>

      <div
        id="step2"
        class="m-networkPending_stepper-item m-networkPending_step-current"
      >
        <i class="m-networkPending_stepper-circle" *ngIf="proposalState <= 2"
          >&nbsp;</i
        >
        <i class="m-networkPending_stepper-circle" *ngIf="proposalState >= 3">
          <i
            class="material-icons"
            [class.m-networkPending-approve]="proposalState <= 2"
            >done</i
          >
        </i>
        <span class="m-networkPending_stepper-label">Withdraw</span>
      </div>

      <div class="m-networkPending_stepper-connector" aria-hidden="true">
        <hr />
      </div>

      <div
        id="step3"
        class="m-networkPending_stepper-item m-networkPending_step-last-complete"
      >
        <i class="m-networkPending_stepper-circle" *ngIf="proposalState <= 2"
          >&nbsp;</i
        >
        <i class="m-networkPending_stepper-circle" *ngIf="proposalState >= 3">
          <i class="material-icons m-networkPending-approve">done</i>
        </i>
        <span class="m-networkPending_stepper-label">Complete</span>
      </div>
    </div>
  </div>

  <div class="m-networkPending-image">
    <m-loadingSpinner
      [inProgress]="true"
      *ngIf="proposalState === 2"
    ></m-loadingSpinner>
    <i
      *ngIf="proposalState === 1 || proposalState === 0"
      class="material-icons m-networkPending-priority"
    >
      radio_button_unchecked
    </i>
    <i
      class="material-icons m-networkPending-priority"
      *ngIf="proposalState === 3"
    >
      check_circle
    </i>
  </div>

  <span class="m-networkPending-state">{{ getTitles() }} </span>
  <span class="m-networkPending-content">
    {{ getDescription() }}
  </span>

  <div class="m-networkPending-btn">
    <m-button
      color="primary"
      (onAction)="handleTransaction()"
      *ngIf="proposalState === 1"
    >
      Continue
    </m-button>
  </div>

  <a class="m-networkPending-link" [href]="txLink" *ngIf="proposalState === 3">
    View transaction
  </a>
</div>
