@import 'defaults.scss';

.plyr {
  display: block;
}

.plyr video {
  height: 100%;
}

.plyr--video.plyr--stopped {
  .plyr__controls {
    display: none;
  }

  .plyr__control {
    display: none;
  }
}

[class*='m-videoPlayer__notice'] {
  display: block;
  height: auto;
  line-height: normal;
  padding: 16px;
  position: absolute;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  // We don't use theme here because this component is used in
  // Embed mode and theming is not available there
  background: linear-gradient(rgba(#000, 0.5), rgba(#000, 0));
  color: #fff;
}

m-videoPlayer,
m-videoPlayer--scrollaware {
  display: block;
  position: relative;
  width: 100%;
}

.m-videoPlayer__placeholder {
  height: 330px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;

  @include m-theme() {
    background-color: themed($m-black-always);
  }

  i {
    opacity: 0.8;
    display: block;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    position: absolute;
    cursor: pointer;
    transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);

    border-radius: 5px;
    padding: 5px;
    transition: all 0.1s ease-in-out;

    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.75);

    &:hover {
      background: rgba(0, 0, 0, 0.65);
      color: rgba(255, 255, 255, 0.85);
    }
  }

  &:hover {
    i {
      opacity: 1;
    }
  }
}

.m-videoPlayer__placeholder--embedded {
  height: 100%;
}
