@import 'defaults.scss';

.m-tabs__container {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .m-tabs__tab a {
    white-space: nowrap;
  }

  m-discovery__settingsButton {
    ::ng-deep {
      i {
        @media screen and (max-width: $max-mobile) {
          margin-right: 10px;
        }
      }
    }
  }
}
