.m-wire-console--rewards {
  .m-wire-console--rewards--money, .m-wire-console--rewards--points, .m-wire-console--rewards--tokens {
    display: flex;
    align-items: center;
    justify-content: flex-start; //
    flex-wrap: wrap;
    justify-items: auto;
    margin-bottom: 30px;

    .m-wire-console--rewards--reward {
      margin: 5px 0;
      width: 230px;
      .m-wire-console--rewards-amount {
        font-size: 32px;
        letter-spacing: 1px;
        display: flex;
        align-items: center;

        .m-wire-console--rewards-amount--currency {
          flex-shrink:0;
          width: 22px;
        }

        input {
          //margin-left: 0;
          //margin-right: 12px;
          width: 150px;
          padding: 4px;
          //margin-left: 12px;
          //font-family: inherit;
          //font-size: inherit;
          //font-weight: inherit;
          //text-align: inherit;

          margin-right: 4px;
          font-size: 16px;
          font-weight: 600;
          border: 1px solid #ececec;
          border-radius: 3px;
          background-color: #eee;
        }

        span {
          font-size: 16px;
          color: #444;
          font-weight: 600;
          letter-spacing: 0.25px;
          text-transform: uppercase;
          flex: 1;
        }
      }

      .m-wire-console--rewards-description {
        padding: 8px 0;
        font-weight: 400;
        width: 150px;

        textarea {
          height: 40px;
          width: 100%;
          min-height: 51px;
          font-size: 11px;
          padding: 8px;
          font-weight: 500;
          color: #444;
          text-align: left !important;
        }
      }
    }
  }
  .m-wire-console--rewards--points {
    &>.m-wire-console--rewards--reward {
      width: 270px;
    }
  }
  .m-wire-console--rewards--add-tier a {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #444;
    padding: 16px;
  }
}