<div class="m-wire-console--rewards">
  <div class="m-wire-console--rewards--tokens">
    <div class="m-wire-console--rewards--reward" *ngFor="let reward of rewards; let i = index">
      <div class="m-wire-console--rewards-amount">
        <input type="number" [ngModel]="reward.amount" (ngModelChange)="setAmount(i, $event)" [placeholder]="1"/>
        <span i18n="@@WIRE__CONSOLE__REWARDS_TABLE__INPUTS__TOKENS_LABEL">Tokens</span>
      </div>
      <div class="m-wire-console--rewards-description">
        <textarea [ngModel]="reward.description" (ngModelChange)="setDescription(i, $event)" [autoGrow]
          placeholder="Describe the reward" i18n-placeholder="@@WIRE__CHANNEL__TABLE__REWARD_PLACEHOLDER"></textarea>
      </div>
    </div>

    <div class="m-wire-console--rewards--add-tier">
      <a (click)="addTier()">
        <i class="material-icons">playlist_add</i>
        <span i18n="@@WIRE__CHANNEL__TABLE__ADD_REWARD_ACTION">Add Reward</span>
      </a>
    </div>
  </div>
</div>
