<div
  class="m-modalV2__inner m-group__invite"
  *ngIf="service.group$ | async as group"
>
  <div class="m-modalV2__mobileTopBar m-modalV2__mobileTopBar--noBorder"></div>
  <div class="m-modalV2__header m-groupInvite__header">
    <h2
      class="m-modalV2Header__title"
      i18n="@@GROUP_INVITE__SEND_AN_INVITATION"
    >
      Send an invitation
    </h2>
  </div>
  <div class="m-groupInvite__verticalStretch">
    <form
      class="m-modalV2__body m-formWrapper m-groupInvite__form"
      [formGroup]="formGroup"
    >
      <p class="m-groupInvite__description" i18n="@@GROUP_INVITE__DESC">
        Invite a user who is subscribed to you to join this group.
      </p>

      <div class="m-form__fieldsContainer">
        <!------------------------>
        <!-- Select user      -->
        <!------------------------>
        <div class="m-form__field--text stretchedField">
          <div class="m-form__row--input">
            <m-formInput__autocompleteEntityInput
              class="m-addFeaturedEntity__input"
              id="user"
              name="user"
              formControlName="user"
              placeholder="@username"
              limit="6"
              [entityType]="AutoCompleteEntityTypeEnum.User"
              [allowEmpty]="true"
            ></m-formInput__autocompleteEntityInput>
          </div>
        </div>
      </div>
      <p class="m-groupInvite__note" *ngIf="isModerator(group)">
        Note: If the user was previously banned from the group, inviting them
        will lift the ban.
      </p>
    </form>
    <div class="m-modalV2__body m-groupInvite__footer">
      <div class="m-form__buttonsContainer m-groupInvite__buttonsContainer">
        <m-button
          type="button"
          color="blue"
          [disabled]="!canSubmit"
          [saving]="service.inProgress$ | async"
          (onAction)="onSubmit()"
          i18n="@@COMMON__SEND"
          data-ref="m-groupInvite__inviteButton"
          >Send</m-button
        >
      </div>
    </div>
  </div>
</div>

<m-modalCloseButton></m-modalCloseButton>
