<a routerLink="/groups/create" data-ref="find-groups-buttons-create-group"
  ><m-button color="blue"
    ><span i18n="@@FIND_GROUPS_BUTTONS__CREATE">Create</span
    ><span class="m-hideOnSmall">&nbsp;</span
    ><span class="m-hideOnSmall" i18n="@@COMMON__GROUP">group</span></m-button
  ></a
>
<a
  routerLink="/discovery/suggestions/group"
  data-ref="find-groups-buttons-discover-groups"
  ><m-button color="blue" solid="true"
    ><span i18n="@@FIND_GROUPS_BUTTONS__DISCOVER">Discover</span
    ><span class="m-hideOnSmall">&nbsp;</span
    ><span class="m-hideOnSmall" i18n="@@COMMON__GROUPS">groups</span></m-button
  ></a
>
