<div class="m-search--list">
  <div class="mdl-grid m-search--list-entities">
    <minds-card *ngFor="let entity of entities"
      class="mdl-cell"
      [class.mdl-cell--4-col]="entity.type == 'user' || entity.type == 'group' || entity.subtype == 'blog'"
      [class.mdl-cell--8-col]="entity.type == 'activity'"
      [class.mdl-cell--3-col]="entity.type != 'user' && entity.type != 'group' && entity.subtype != 'blog' && entity.type != 'activity'"
      hostClass="mdl-card mdl-color--white m-border m-search--entity"
      [object]="entity"
    ></minds-card>
  </div>
</div>
