<ng-container *ngIf="initialized$ | async; else loadingSpinnerTemplate">
  <h3>Memberships</h3>

  <m-starCard
    [title]="starCardTitleText"
    [description]="starCardDescriptionText$ | async"
  ></m-starCard>

  <div class="m-membershipPage__membershipCardsContainer">
    <m-membershipCard
      *ngFor="let membership of memberships$ | async"
      [name]="membership.membershipName"
      [description]="membership.membershipDescription"
      [priceInCents]="membership.membershipPriceInCents"
      [priceCurrencyCode]="membership.membershipPriceCurrency"
      [billingPeriod]="membership.membershipBillingPeriod"
      [pricingModel]="membership.membershipPricingModel"
      [isMember]="
        (membershipSubscriptionGuids$ | async)?.includes(
          membership.membershipGuid
        )
      "
      [inProgress]="navigationInProgress$ | async"
      (joinMembershipClick)="onJoinMembershipClick(membership)"
      (managePlanClick)="onManagePlanClick(membership)"
    ></m-membershipCard>
  </div>
</ng-container>

<ng-template #loadingSpinnerTemplate>
  <m-loadingSpinner [inProgress]="true"></m-loadingSpinner>
</ng-template>
