@import 'defaults.scss';

:host {
  .m-link-button {
    font-family: 'Roboto', sans-serif;
    position: relative;
    cursor: pointer;
    padding: 10px 20px;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 999px;
    outline: 0;
    font-weight: 500;
    background-clip: padding-box;
    white-space: nowrap;
    text-decoration: none;

    @include m-theme() {
      border: 1px solid themed($m-borderColor--primary);
      background-color: rgba(themed($m-black-always), 0);
    }

    ///////////////////////////////////////////////////

    &.m-link-button--xsmall,
    &.m-link-button--small {
      .m-link-button__text--saving {
        span {
          height: 6px !important;
          width: 6px !important;
          min-height: 6px !important;
          min-width: 6px !important;
        }
      }
    }
    ///////////////////////////////////////////////////

    // Extra Small

    &.m-link-button--xsmall {
      padding: 8px 13px;

      & > * {
        font-size: 14px;
        ::ng-deep i {
          font-size: 18px;
        }
      }
      &.m-link-button--saving {
        &:not(.m-link-button--iconOnly) {
          min-width: 70px;
        }
      }
    }

    // Small

    &.m-link-button--small {
      padding: 10px 20px;
      min-width: 80px;

      & > * {
        font-size: 16px;

        ::ng-deep i {
          font-size: 20px;
        }
      }
    }

    // Medium

    &.m-link-button--medium {
      padding: 12px 25px;
      min-width: 100px;

      & > * {
        font-size: 18px;

        ::ng-deep i {
          font-size: 22px;
        }
      }
    }

    // Large

    &.m-link-button--large {
      padding: 14px 30px;
      min-width: 110px;

      & > * {
        font-size: 20px;

        ::ng-deep i {
          font-size: 24px;
        }
      }
    }

    ///////////////////////////////////////////////////
    &:not(:disabled) {
      &:not(.m-link-button--overlay) {
        &:hover {
          @include m-theme() {
            background-color: themed($m-bgColor--btnHover);
          }
        }
        &:active {
          @include m-theme() {
            background-color: themed($m-bgColor--btnActive);
          }
        }
      }
      &.m-link-button--overlay {
        &:hover {
          @include m-theme() {
            background-color: rgba(themed($m-black-always), 0.7);
          }
        }
        &:active {
          @include m-theme() {
            background-color: rgba(themed($m-black-always), 0.9);
          }
        }
      }
    }

    ///////////////////////////////////////////////////
    &:disabled,
    &[disabled] {
      cursor: default !important;
      &:not(.m-link-button--saving) {
        opacity: 0.6;
      }
    }
    ///////////////////////////////////////////////////

    @media screen and (max-width: $max-mobile) {
      m-link-button {
        min-width: 50%;
      }
    }
  }
  ///////////////////////////////////////////////////

  &a {
    outline: 0;
  }
}
