.m-tagcloud{
  padding: $minds-padding;

  h3{
    padding: 8px;
    margin: 0;
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: capitalize;
  }
}

.m-tagcloud-tag {
  padding: $minds-padding;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 16px;
}
