<div class="m-toolbar">
  <div class="m-topbar--row">
    <div class="m-topbar--navigation m-topbar--navigation--text-only">

      <ng-container *ngIf="!container; else containerNav">  
        <a class="m-topbar--navigation--item"
          [class.m-topbar--navigation--item-active]="type == ''"
          [routerLink]="['/search', { q: q, type: '', ref: ref }]"
          i18n="@@SEARCH__TOP_TAB"
        >
          <span>Top</span>
          <m-tooltip icon="help" i18n="@@M__COMMON_TOPBAR_TOP_TOOLTIP">
            Top displays the top content on Minds
          </m-tooltip>
        </a>

        <a class="m-topbar--navigation--item"
          [class.m-topbar--navigation--item-active]="type == 'latest'"
          [routerLink]="['/search', { q: q, type: 'latest', ref: ref }]"
          i18n="@@SEARCH__LATEST_TAB"
        >
          <span>Latest</span>
          <m-tooltip icon="help" i18n="@@MINDS__SEARCH__TOPBAR__LATEST_TOOLTIP">
            Show newly created content first
          </m-tooltip>
        </a>

        <a class="m-topbar--navigation--item"
          [class.m-topbar--navigation--item-active]="type == 'user'"
          [routerLink]="['/search', { q: q, type: 'user', ref: ref }]"
          i18n="@@M__FEATURE__CHANNEL__PLURAL"
        >
          <span>Channels</span>
          <m-tooltip icon="help" i18n="@@MINDS__SEARCH__TOPBAR__CHANNELS_TOOLTIP">
            Show only channels
          </m-tooltip>
        </a>

        <a class="m-topbar--navigation--item"
          [class.m-topbar--navigation--item-active]="type == 'activity'"
          [routerLink]="['/search', { q: q, type: 'activity', ref: ref }]"
          i18n="@@M__FEATURE__POST_PLURAL"
        >
          <span>Posts</span>
          <m-tooltip icon="help" i18n="@@MINDS__SEARCH__TOPBAR__POSTS_TOOLTIP">
            Show only Posts
          </m-tooltip>
        </a>

        <a class="m-topbar--navigation--item"
          [class.m-topbar--navigation--item-active]="type == 'object:video'"
          [routerLink]="['/search', { q: q, type: 'object:video', ref: ref }]"
          i18n="@@M__FEATURE__VIDEO_PLURAL"
        >
          <span>Videos</span>
          <m-tooltip icon="help" i18n="@@MINDS__SEARCH__TOPBAR__VIDEOS_TOOLTIP">
            Show only videos
          </m-tooltip>
        </a>

        <a class="m-topbar--navigation--item"
          [class.m-topbar--navigation--item-active]="type == 'object:image'"
          [routerLink]="['/search', { q: q, type: 'object:image', ref: ref }]"
          i18n="@@M__FEATURE__IMAGE_PLURAL"
        >
          <span>Images</span>
          <m-tooltip icon="help" i18n="@@MINDS__SEARCH__TOPBAR__IMAGES_TOOLTIP">
            Show only images
          </m-tooltip>
        </a>

        <a class="m-topbar--navigation--item"
          [class.m-topbar--navigation--item-active]="type == 'object:blog'"
          [routerLink]="['/search', { q: q, type: 'object:blog', ref: ref }]"
          i18n="@@M__FEATURE__BLOG_PLURAL"
        >
          <span>Blogs</span>
          <m-tooltip icon="help" i18n="@@MINDS__SEARCH__TOPBAR__BLOGS_TOOLTIP">
            Show only blogs
          </m-tooltip>
        </a>

        <a class="m-topbar--navigation--item"
          [class.m-topbar--navigation--item-active]="type == 'group'"
          [routerLink]="['/search', { q: q, type: 'group', ref: ref }]"
          i18n="@@M__FEATURE__GROUP__PLURAL"
        >
          <span>Groups</span>
          <m-tooltip icon="help" i18n="@@MINDS__CHANNELS__TOPBAR__GROUPS_TOOLTIP">
            Show only groups
          </m-tooltip>
        </a>
      </ng-container>

      <ng-template #containerNav>
        <a class="m-topbar--navigation--item"
          [class.m-topbar--navigation--item-active]="type == ''"
          [routerLink]="['/search', { q: q, type: '', id: container, ref: ref }]"
          i18n="@@SEARCH__TOP_TAB"
        >
          <span>Top</span>
          <m-tooltip icon="help" i18n="@@M__COMMON_TOPBAR_TOP_TOOLTIP">
            Top displays the top content on Minds
          </m-tooltip>
        </a>

        <a class="m-topbar--navigation--item"
          [class.m-topbar--navigation--item-active]="type == 'latest'"
          [routerLink]="['/search', { q: q, type: 'latest', id: container, ref: ref }]"
          i18n="@@SEARCH__LATEST_TAB"
        >
          <span>Latest</span>
          <m-tooltip icon="help" i18n="@@MINDS__SEARCH__TOPBAR__LATEST_TOOLTIP">
            Show newly created content first
          </m-tooltip>
        </a>

        <a class="m-topbar--navigation--item"
          [class.m-topbar--navigation--item-active]="type == 'activity'"
          [routerLink]="['/search', { q: q, type: 'activity', id: container, ref: ref }]"
          i18n="@@M__FEATURE__POST_PLURAL"
        >
          <span>Posts</span>
          <m-tooltip icon="help" i18n="@@MINDS__SEARCH__TOPBAR__POSTS_TOOLTIP">
            Show only Posts
          </m-tooltip>
        </a>

        <a class="m-topbar--navigation--item"
          [class.m-topbar--navigation--item-active]="type == 'object:video'"
          [routerLink]="['/search', { q: q, type: 'object:video', id: container, ref: ref }]"
          i18n="@@M__FEATURE__VIDEO_PLURAL"
        >
          <span>Videos</span>
          <m-tooltip icon="help" i18n="@@MINDS__SEARCH__TOPBAR__VIDEOS_TOOLTIP">
            Show only videos
          </m-tooltip>
        </a>

        <a class="m-topbar--navigation--item"
          [class.m-topbar--navigation--item-active]="type == 'object:image'"
          [routerLink]="['/search', { q: q, type: 'object:image', id: container, ref: ref }]"
          i18n="@@M__FEATURE__IMAGE_PLURAL"
        >
          <span>Images</span>
          <m-tooltip icon="help" i18n="@@MINDS__SEARCH__TOPBAR__IMAGES_TOOLTIP">
            Show only images
          </m-tooltip>
        </a>

        <a class="m-topbar--navigation--item"
          [class.m-topbar--navigation--item-active]="type == 'object:blog'"
          [routerLink]="['/search', { q: q, type: 'object:blog', id: container, ref: ref }]"
          i18n="@@M__FEATURE__BLOG_PLURAL"
        >
          <span>Blogs</span>
          <m-tooltip icon="help" i18n="@@MINDS__SEARCH__TOPBAR__BLOGS_TOOLTIP">
            Show only blogs
          </m-tooltip>
        </a>
      </ng-template>

      <div class="m-topbar--navigation--item m-topbar--navigation--more" (click)="toggleOptions(); $event.stopPropagation()">
        <span><ng-container i18n="@@M__COMMON__OPTIONS">Options</ng-container></span>

        <ul class="minds-dropdown-menu" [hidden]="!optionsToggle">
          <li class="mdl-menu__item">
            <span i18n="@@M__COMMON__EXPLICIT">Explicit</span>

            <m-tooltip icon="help" i18n="@@SEARCH__EXPLICIT_TOOLTIP">
              Include explicit content (+18) search results
            </m-tooltip>

            <span class="m-dropdown--spacer"></span>

            <m-material--bound-switch
              [toggled]="mature"
              [disabled]="inProgress"
              (change)="toggleMature()"
            ></m-material--bound-switch>
          </li>

          <li class="mdl-menu__item">
            <span i18n="@@M__FEATURE__EXCLUSIVE">Exclusive</span>

            <m-tooltip icon="help" i18n="@@SEARCH__EXCLUSIVE_TOOLTIP">
              Include exclusive content in search results
            </m-tooltip>

            <span class="m-dropdown--spacer"></span>

            <m-material--bound-switch
              [toggled]="paywall"
              [disabled]="inProgress"
              (change)="togglePaywall()"
            ></m-material--bound-switch>
          </li>
        </ul>

      </div>

    </div>
  </div>
</div>

<ng-container *ngIf="searchType == 'hybrid'; else simpleList">
  <m-search--hybrid-list
    [entities]="hybridEntities"
  ></m-search--hybrid-list>
</ng-container>

<ng-template #simpleList>
  <m-search--simple-list
    [entities]="entities"
  ></m-search--simple-list>
</ng-template>

<infinite-scroll
  distance="25%"
  (load)="search(false)"
  [moreData]="moreData"
  [inProgress]="inProgress"
></infinite-scroll>
