@import '../../../../foundation/grid-values';

.m-marketing__main,
.m-marketing__section {
  &.m-marketing__section--tail {
    h2 {
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
      margin: 0 0 70px;

      @include m-theme() {
        color: themed($m-grey-300);
      }

      @media screen and (max-width: $m-grid-min-vp) {
        margin: 0 0 35px;
      }
    }

    .m-marketing__body {
      text-align: center;
      padding: 0 36px;

      @media screen and (max-width: $m-grid-min-vp) {
        margin-bottom: 45px;
      }

      h3 {
        margin: 0 0 24px;
        font-size: 24px;
        line-height: 32px;
        font-weight: 900;

        @media screen and (max-width: $m-grid-min-vp) {
          margin: 0 0 12px;
        }
      }

      p.m-marketing__description {
        font-size: 16px;
        line-height: 21px;

        @include m-theme() {
          color: themed($m-grey-300);
        }
      }

      &.m-marketing__body--extra {
        margin-top: 135px;

        @media screen and (max-width: $m-grid-min-vp) {
          margin-top: 0;
        }
      }
    }
  }
}
