<!-- <m-calendar
  class="m-composerSchedule__calendar"
  [date]="date"
  [minDate]="minDate"
  [maxDate]="date"
  (dateChange)="onDateChange($event)"
></m-calendar> -->

<div
  class="m-walletTokenEarnings__dateSelector"
  (click)="dateSelector.open($event)"
>
  <span class="m-walletTokenEarningsDateSelector__label">{{
    friendlyDate
  }}</span>
  <m-date-selector
    #dateSelector
    [date]="date"
    [max]="maxDate"
    [tooltipIcon]="'date_range'"
    [tooltipText]="'Select date'"
    [i18n]="'@@SCHEDULE__POST__DATE__SELECTOR__TOOLTIP'"
    (dateChange)="onDateChange($event)"
    hideInput="true"
  ></m-date-selector>
</div>

<!-- <div class="m-walletTokenEarnings__estimates">
  Today | Next payout | All-time earnings
</div> -->

<div class="m-walletTokenEarnings__accordion" *ngIf="data">
  <table>
    <!------------------------------
    !! Labels !!
    ------------------------------->
    <tr class="labels">
      <td></td>
      <td>Daily</td>
      <td>All-time</td>
      <td></td>
    </tr>

    <!------------------------------
    !! Total !!
    ------------------------------->
    <tr class="total">
      <td>Total</td>
      <td>
        <m-wallet__currencyValue
          [value]="total.daily"
          hideCurrency="true"
          currency="tokens"
        ></m-wallet__currencyValue>
      </td>
      <td>
        <m-wallet__currencyValue
          [value]="total.alltime"
          hideCurrency="true"
          currency="tokens"
        ></m-wallet__currencyValue>
      </td>
      <td></td>
    </tr>

    <!------------------------------
    !! Engagement !!
    ------------------------------->
    <tr>
      <td>Engagement</td>
      <td>
        <m-wallet__currencyValue
          [value]="data.engagement.token_amount"
          hideCurrency="true"
          currency="tokens"
        ></m-wallet__currencyValue>
      </td>
      <td>
        <m-wallet__currencyValue
          [value]="data.engagement.alltime_summary.token_amount"
          hideCurrency="true"
          currency="tokens"
        ></m-wallet__currencyValue>
      </td>
      <td><i class="material-icons">expand_more</i></td>
    </tr>

    <!-- <tr>
      <td colspan="5">
        <div class="m-walletTokenEarnings__expanded"></div>
      </td>
    </tr> -->

    <!------------------------------
    !! Holding !!
    ------------------------------->
    <tr>
      <td>Holding</td>
      <td>
        <m-wallet__currencyValue
          [value]="data.holding.token_amount"
          hideCurrency="true"
          currency="tokens"
        ></m-wallet__currencyValue>
      </td>
      <td>
        <m-wallet__currencyValue
          [value]="data.holding.alltime_summary.token_amount"
          hideCurrency="true"
          currency="tokens"
        ></m-wallet__currencyValue>
      </td>
      <td><i class="material-icons">expand_more</i></td>
    </tr>

    <!------------------------------
    !! Liquidity !!
    ------------------------------->
    <tr>
      <td>Liquidity</td>
      <td>
        <m-wallet__currencyValue
          [value]="data.liquidity.token_amount"
          hideCurrency="true"
          currency="tokens"
        ></m-wallet__currencyValue>
      </td>
      <td>
        <m-wallet__currencyValue
          [value]="data.liquidity.alltime_summary.token_amount"
          hideCurrency="true"
          currency="tokens"
        ></m-wallet__currencyValue>
      </td>
      <td><i class="material-icons">expand_more</i></td>
    </tr>
  </table>
</div>
