<div class="m-notice--message">
  <ng-container *ngIf="cookiesEnabled"
    >{{ siteTitle }} uses cookies to ensure you get the best experience. By
    continuing to use {{ siteTitle }} you agree to Minds privacy policy or you
    can <a (click)="toggleCookies(false)">opt-out</a>.</ng-container
  >

  <ng-container *ngIf="!cookiesEnabled"
    >You have disabled cookies from {{ siteTitle }} which limits your
    experience. Consider opting back in.</ng-container
  >
</div>
<ng-container *ngIf="cookiesEnabled">
  <button class="m-btn m-btn--slim" (click)="dismiss()">Ok</button>
</ng-container>

<ng-container *ngIf="!cookiesEnabled">
  <button class="m-btn m-btn--slim" (click)="toggleCookies(true)">
    Enable
  </button>
</ng-container>
