<div class="m-governance_body">
  <div
    [ngClass]="{
      'm-governance--row': router.url !== '/governance/create',
      'm-governance--row-detail': router.url === '/governance/create'
    }"
    *ngIf="isDetailScreen()"
  >
    <m-governance__tabs
      *ngIf="router.url !== '/governance/create'"
    ></m-governance__tabs>

    <button
      class="m-governance-button"
      (click)="goToCreate()"
      *ngIf="router.url !== '/governance/create' && this.hasToken() && !mobile"
      [disabled]="tokenBalance < 1"
    >
      Submit proposal
    </button>

    <button
      class="m-governance-button-icon"
      (click)="goToCreate()"
      *ngIf="router.url !== '/governance/create' && this.hasToken() && mobile"
      [disabled]=""
    >
      <i class="material-icons">note_add</i>
    </button>
  </div>

  <router-outlet></router-outlet>
</div>
