@import "defaults";

/**
 * Newsfeed and timelines
 */
 minds-newsfeed, minds-newsfeed-single, minds-channel, minds-groups-profile{

   

 }

 minds-newsfeed{
   minds-card-user{
     .minds-boost-button{
       font-size:13px;
       padding:8px 22px;
     }
   }
 }


.notifications-grid{
  .mdl-card{
    width:100%;
    min-height:0;
    padding:$minds-padding * 2;
    margin-bottom:$minds-margin*2;

    @include flex-display();
    @include flex-direction(row);

    .avatar{
      @include flex-display();
      @include flex-direction(column);

      img{
        border-radius: 3px;
        max-height:50px;
      }
    }

    .body{
      padding:0 $minds-padding*2;

      a{
        color:#333;
        text-decoration: none;
      }

      .pseudo-link{
        font-weight:bold;
      }

      p{
        padding:0;
        margin:0;
      }

      .ts{
        font-size:11px;
      }
    }
  }
}


.minds-video-thumbnail{
  cursor: pointer;

  span{
    color: #FFF;
    font-size: 72px;
    text-align: center;
    width: 100%;
  }
}

/**
 * Owner block
 */
.m-owner-block{
  padding:$minds-padding * 2;
  display:flex;

  .avatar{
    display:flex;
    flex-direction:column;

    img{
      border-radius: 3px;
      max-height:50px;
    }
  }

  .body{
    display:flex;
    flex-direction:column;
    flex:1;

    margin-left:$minds-margin * 2;
    margin-top:$minds-margin;
  }

  a {
    text-decoration:none;
    font-weight:500;
    color:#333;
  }

  span {
    color:#888;
    font-size:11px;
  }

  img {
    border-radius:3px;
  }
}

.search-users-list{
	position: absolute;
	margin-top: -60px;
	left: 8px;
	width: calc(100% - 16px);
	opacity:1;
	z-index:9;
}
.search-users-list > div{
	padding:8px;
	font-size:22px;
	font-weight:bold;
	text-align:left;
}
.search-users-list > div img{
	vertical-align: middle;
	border-radius:2px;
	box-shadow:0 0 3px #888;
	width:35px;
	height:35px;
	overflow:hidden;
	position:relative;
}
.search-results{

  .mdl-card{
    margin-bottom:$minds-margin;
    width:100%;
  }
}
