@import "../defaults.scss";

minds-sidebar-navigation{
  padding-top:0 !important;
  flex-direction: column;
  align-items: stretch;
  padding-top: 16px;

  //hack the overflow
  padding-right: 40px;
  width: calc(40px + 100%);
  height: 100%;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;

  nav.minds-navigation{
    padding-top:0 !important;
    display:flex;
    flex-flow: column nowrap;
    align-items: stretch;
    padding-top: 16px;

    .mdl-navigation__link{
      display: flex !important;
      flex-direction: column;
      align-items: center;
      font-weight: 700;
      padding: 24px 38px;
      font-weight:200;
      font-size:11px;
      text-transform: lowercase;
      font-family: 'Lato', 'Helvetica', sans-serif;
      border-bottom: 1px solid rgba(255,255,255,0.05);

      .material-icons {
        font-size: 26px;
        color: rgba(255, 255, 255, 0.56);
      }

      .counter{
        border-radius: 50%;
        padding: 4px 6px;
        line-height: 12px;
        font-size: 12px;
        font-weight: 600;
        position: absolute;
        text-align: center;
        display: inline-block;
        margin: -12px 5px;
      }
    }

    .mdl-navigation__link.subitem{
      padding:$minds-padding*1.5 38px;
      .material-icons {
        font-size: 24px;
      }
    }

  }

}

.m-content-sidebar-nav{

  .m-content-sidebar-nav-item{

    list-style:none;

    > a{
      display:block;
      text-decoration:none;
      text-transform:uppercase;
      padding:$minds-padding;
      cursor:pointer;

      &.is-active{
        border-left: 3px solid #ffca28;
      }

    }
  }
}


.m-footer-nav{
  display:flex;
  align-items:flex-start;
  justify-content:flex-start;
  flex-wrap:wrap;
  margin:0;
  padding:0;

  .m-footer-nav-item{

    list-style:none;

    > a{
      display:block;
      text-decoration:none;
      text-transform:uppercase;
      cursor:pointer;
      font-size:11px;
      padding:0 $minds-padding;
    }
  }
}
