<ul class="m-channel--badges">
  <li *ngIf="user.plus" routerLink="/plus">
    <i class="material-icons selected">add_circle_outline</i>
    <span>Plus</span>
  </li>

  <li *ngIf="user.verified || session.isAdmin()" (click)="verify()">
    <i class="material-icons mdl-color-text--blue-grey-800" [class.selected]="user.verified">verified_user</i>
    <span>Verified</span>
  </li>

  <li *ngIf="user.founder">
    <i class="material-icons selected">flight_takeoff</i>
    <span>Founder</span>
  </li>
</ul>
