@import 'defaults.scss';

:host {
  display: block;
  max-width: 780px;
  margin: $spacing8 $spacing8 $spacing16 $spacing8;

  .m-networkAdminConsole__settingsContainer {
    max-width: 556px;

    > * {
      margin-bottom: $spacing6;
    }
  }

  > *:last-child {
    margin-bottom: $spacing9 !important;
  }

  .m-networkBoostConfiguration__title {
    margin: unset;
    @include heading3Bold;
  }

  .m-networkBoostConfiguration__description {
    margin: unset;
    margin-bottom: $spacing6;

    @include body2Medium;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

}
