<h4
  class="m-networkBoostConfiguration__title"
  i18n="@@NETWORK_ADMIN_MONETIZATION__BOOST_AND_ADVERTISING"
>
  Boost and advertising
</h4>

<m-networkAdminConsole__enableBoostToggle></m-networkAdminConsole__enableBoostToggle>

<ng-container *ngIf="isBoostEnabled$ | async">
  <m-boostEmbedBuilder [@growShrink]></m-boostEmbedBuilder>

  <m-networkAdminConsole__createBoostLink
    *ngIf="isCustomHomepageEnabled$ | async"
    [@growShrink]
  ></m-networkAdminConsole__createBoostLink>
</ng-container>
