.m-revenue--ledger-table{
  table{
    width:100%;
    font-family: 'Roboto';
  }

  .m-revenue--ledger-header{
    th{
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }

  .m-revenue--ledger-row{
    td{
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    .m-revenue--ledger-amount{
      font-size: 26px;
    }

    .m-revenue--ledger-refunded{
      color: #888;
      border: 1px solid #eee;
      border-radius: 3px;
      font-size: 11px;
      display: inline-block;
      padding: 4px 8px;
      vertical-align: middle;
      margin-top: -6px;
      margin-right: 8px;

      > * {
        vertical-align: middle;
      }
      m-tooltip i{
        font-size:14px;
      }
    }
  }

}
