<div class="m-wire--marketing">

  <div class="m-wire--marketing-header">
    <h1>Wire</h1>
    <h3>Exchange points, dollars and Bitcoin directly with other channels on Minds</h3>

    <div class="m-wire--overlay"></div>
  </div>

  <div class="m-wire--marketing-contents mdl-grid mdl-grid--no-spacing mdl-color--blue-grey-600 mdl-color-text--white">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
      <i class="ion-icon ion-flash mdl-color-text--white"></i>
      <h2>Support Great Creators</h2>
      <span>Tap the Wire icon on channels or posts to send points, dollars or Bitcoin to your favorite content creators</span>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
      <i class="material-icons mdl-color-text--white">favorite</i>
      <h2>Reward your fans</h2>
      <span>Build custom reward tiers for your fans to subscribe to your products and services, in exchange for points dollars or Bitcoin.</span>
    </div>
  </div>

  <div class="m-wire--marketing-faq mdl-color-text--blue-grey-600">
    <m-faq question="What is Wire?">
      <p>
        The lightning bolt icon on your channel and all of your content allows you to receive dollars, points, or Bitcoin directly from other users on Minds.
        You will see how much every post has earned through Wire in the counter, located directly under the Wire icon.
      </p>
    </m-faq>
    <m-faq question="How do I Wire Someone?">
      <p>
        Click the lightning bolt icon on a Minds user’s channel or post to directly send them points, dollars, or Bitcoin.
      </p>
    </m-faq>
    <m-faq question="WHAT ARE REWARD TIERS?">
      <p>
        Earn subscription revenue on Minds by building custom reward tiers that enable your fans to Wire you dollars, points, or Bitcoin in exchange for your exclusive products and services.
      </p>
    </m-faq>
  </div>

</div>

<m-footer></m-footer>
