<div
  class="filterWrapper"
  [ngClass]="{ expanded: expanded }"
  (blur)="expanded = false"
>
  <div class="filterHeader" (click)="expanded = !expanded">
    <span class="filterLabel">{{ filter.label }}</span>
    <span class="option option--selected">
      <span>{{ selectedOption.label }}</span>
    </span>
    <i class="material-icons" *ngIf="!expanded"> keyboard_arrow_down</i>
    <i class="material-icons" *ngIf="expanded">keyboard_arrow_up</i>
  </div>
  <div class="unselectedOptionsContainer">
    <ng-container *ngFor="let option of filter.options">
      <div
        class="option"
        (click)="updateFilter(option)"
        [ngClass]="{
          unavailable: option.available === false
        }"
      >
        <span>{{ option.label }}</span>
      </div>
    </ng-container>
  </div>
</div>
