m-analytics__filter {
  position: relative;
  margin: 16px 16px 0 0;
  z-index: 2;
}

.filterHeader,
.unselectedOptionsContainer {
  padding: 10px 8px 8px 10px;
}

.filterWrapper {
  cursor: pointer;
  border-radius: 3px;
  // display: flex;
  // flex-direction: column;
  transition: border-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  @include m-theme() {
    background-color: themed($m-white);
    border: 1px solid themed($m-grey-100);
    color: rgba(themed($m-grey-200), 0.7);
  }
  &.dropUp {
    flex-direction: column-reverse;
  }
  &.expanded {
    @include m-theme() {
      border-color: themed($m-blue);
      box-shadow: 0px 1px 15px 0 rgba(themed($m-black), 0.1);
    }
    &:not(.dropUp) {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    .unselectedOptionsContainer {
      display: block;
    }

    .option {
      &:hover:not(.unavailable) {
        @include m-theme() {
          color: themed($m-grey-500);
        }
      }
    }
  }
  .row {
    display: flex;
  }
}
.option {
  border-radius: 3px;
  @include m-theme() {
    background-color: themed($m-white);
  }

  &.unavailable {
    text-decoration: line-through;
    @include m-theme() {
      color: themed($m-grey-50);
    }
  }
}

.filterHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  .filterLabel {
    margin-right: 10px;
  }
  i {
    flex-grow: 0;
  }
}
.option--selected {
  margin-right: 8px;
  @include m-theme() {
    color: themed($m-grey-500);
  }
}

.unselectedOptionsContainer {
  position: absolute;
  display: none;
  width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-sizing: border-box;
  left: 0px;
  @include m-theme() {
    border: 1px solid themed($m-blue);
    border-top: 1px solid themed($m-blue);
    background-color: themed($m-white);
  }
  .option {
    padding: 5px 0;
  }
}

.isMobile {
  .filterHeader {
    i {
      display: none;
    }
  }
}
