$rounded-top: 3px 3px 0 0;
$rounded-bottom: 0 0 3px 3px;

m-analytics__filter {
  position: relative;
  margin: 0 24px 36px 0;
  z-index: 2;
  display: block;
}
.m-analyticsFilter__labelWrapper {
  position: absolute;
  bottom: 115%;
  white-space: nowrap;
  @include m-theme() {
    color: themed($m-grey-300);
  }

  > * {
    display: inline-block;
  }

  .m-tooltip--bubble {
    letter-spacing: 1.2px;
    line-height: 16px;
    bottom: 110%;
    left: 0;
    width: 160px;
    @include m-theme() {
      color: themed($m-white);
      background-color: themed($m-blue);
    }
    > * {
      font-size: 11px;
      font-weight: 300;
      line-height: inherit;
      letter-spacing: inherit;
    }
    ul {
      padding-inline-start: 16px;
      margin-block-end: 4px;
      li {
        padding-bottom: 8px;
      }
    }
  }
}

.m-analyticsFilter__wrapper {
  cursor: pointer;

  &:focus {
    outline: 0;
  }
  > * {
    width: 180px;
    box-sizing: border-box;
  }
  .m-analyticsFilter__optionsContainer {
    padding: 8px 0;
    .m-analyticsFilter__option {
      transform: translateY(25%);
    }
  }

  &.expanded {
    @include m-theme() {
      box-shadow: 0px 1px 15px 0 rgba(themed($m-black), 0.15);
    }
    .m-analyticsFilter__header {
      @include m-theme() {
        border-color: themed($m-blue);
      }
    }
    .m-analyticsFilter__optionsContainer {
      display: block;
    }

    &:not(.dropUp) {
      .m-analyticsFilter__header {
        @include m-theme() {
          border-radius: $rounded-top;
        }
      }
      .m-analyticsFilter__optionsContainer {
        border-top: none;
        border-radius: $rounded-bottom;
      }
    }
    &.dropUp {
      .m-analyticsFilter__header {
        border-radius: $rounded-bottom;
      }
      .m-analyticsFilter__optionsContainer {
        bottom: 100%;
        border-radius: $rounded-top;
        border-bottom: none;
      }
    }
  }

  .m-analyticsFilter__header {
    position: relative;
    border-radius: 3px;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

    @include m-theme() {
      background-color: themed($m-white);
      color: themed($m-grey-300);
    }
    @include m-theme() {
      border: 1px solid themed($m-grey-100);
    }
    .m-analyticsFilter__label {
      margin-right: 10px;
    }
    i {
      flex-grow: 0;
      width: 24px;
      height: 24px;
    }
    .m-analyticsFilter__option--selected {
      @include m-theme() {
        color: themed($m-grey-500);
      }
    }
  }

  .m-analyticsFilter__optionsContainer {
    position: absolute;
    display: none;
    border-radius: 3px;
    left: 0px;
    transition: box-shadow 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    @include m-theme() {
      border: 1px solid themed($m-blue);
      border-top: 1px solid themed($m-blue);
      background-color: themed($m-white);
    }
  }

  .m-analyticsFilter__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    padding: 0 20px;
    &.m-analyticsFilter__header {
      padding-right: 10px;
    }
  }
  .m-analyticsFilter__option {
    display: inline-block;
    box-sizing: border-box;
    width: inherit;
    border-radius: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include m-theme() {
      color: themed($m-grey-300);
    }

    &.unavailable {
      text-decoration: line-through;
      @include m-theme() {
        color: themed($m-grey-50);
      }
    }
    &:hover:not(.unavailable) {
      @include m-theme() {
        color: themed($m-grey-600);
      }
    }
  }
}

@media screen and (max-width: $min-tablet) {
  m-analytics__filter {
    .m-analyticsFilter__labelWrapper {
      .m-tooltip--bubble {
        width: 120px;
      }
    }
    .m-analyticsFilter__wrapper {
      > * {
        width: 140px;
      }
    }
  }
}

@media screen and (max-width: $max-mobile) {
  m-analytics__filter {
    .m-analyticsFilter__wrapper {
      .m-analyticsFilter__header {
        i {
          display: none;
        }
      }
      .m-analyticsFilter__row {
        padding: 0 18px;
        height: 40px;
        &.m-analyticsFilter__header {
          padding-right: 10px;
        }
      }
      .m-analyticsFilter__option--selected {
        margin-right: 0;
      }
    }
  }
}
