m-analytics__filter {
  position: relative;
  margin: 16px 16px 0 0;
  z-index: 2;
}

.filterHeader,
.unselectedOptionsContainer {
  padding: 10px 18px;
}

.filterWrapper {
  cursor: pointer;
  border-radius: 3px;
  @include m-theme() {
    background-color: themed($m-white);
    border: 1px solid themed($m-grey-100);
    color: rgba(themed($m-grey-200), 0.7);
  }

  &.expanded {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    @include m-theme() {
      border-color: themed($m-blue);
    }
    .unselectedOptionsContainer {
      display: block;
    }
    .option {
      &:hover:not(.unavailable) {
        @include m-theme() {
          color: themed($m-grey-500);
        }
      }
    }
  }
}
.option {
  border-radius: 3px;
  @include m-theme() {
    background-color: themed($m-white);
  }

  &.unavailable {
    text-decoration: line-through;
    @include m-theme() {
      color: themed($m-grey-50);
    }
  }
}

.filterHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  .filterLabel {
    margin-right: 8px;
  }
  i {
    flex-grow: 0;
    margin-left: 8px;
  }
}
.option--selected {
  @include m-theme() {
    color: themed($m-grey-500);
  }
}

.unselectedOptionsContainer {
  position: absolute;
  display: none;
  width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-sizing: border-box;
  left: 0px;
  @include m-theme() {
    border: 1px solid themed($m-blue);
    border-top: 1px solid themed($m-blue);
    background-color: themed($m-white);
  }
  .option {
    padding: 4px 0;
  }
}

.isMobile {
  .filterHeader {
    i {
      display: none;
    }
  }
}
