@import 'defaults.scss';

:host {
  .m-suggestions__sidebar {
    h3 {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
      padding: 0 8px;
      @include m-theme() {
        color: themed($m-grey-800);
      }
    }
  }

  .m-suggestionsSidebar__empty {
    padding: 8px;
    font-size: 10px;
    @include m-theme() {
      color: themed($m-grey-400);
    }
  }

  .m-suggestionsSidebar__list {
    margin: 0;
    padding: 0;
    list-style: none;
    @include m-theme() {
      background-color: themed($m-bgColor--primary);
    }
  }

  .m-suggestionsSidebarList__item {
    // @include m-theme() {
    //   border-bottom: 1px solid themed($m-borderColor--primary);
    // }

    &:last-of-type {
      border-bottom: 0;
    }

    a {
      display: block;
      text-decoration: none;
      padding: 10px 0;
    }

    .m-suggestionsSidebarListItem__avatar {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-size: cover;
      display: inline-block;
      margin-right: 10px;
      vertical-align: middle;
      @include m-theme() {
        border: 1px solid themed($m-borderColor--primary);
      }
    }
    .m-suggestionsSidebarListItem__passBtn {
      @include m-theme() {
        color: themed($m-textColor--tertiary);
      }
    }

    .m-suggestionsSidebarListItem__body {
      display: inline-flex;
      vertical-align: middle;
      align-items: center;
      flex-direction: row;
      width: calc(100% - 50px);

      h4 {
        margin: 0;
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }
      > div {
        width: 100%;
        max-width: calc(100% - 52px);
      }
      > div > span {
        overflow: hidden;
        position: relative;
        display: block;
        text-overflow: ellipsis;
        font-size: 13px;
        line-height: 16px;
        white-space: nowrap;
        padding-right: 8px;
        font-weight: 400;
        @include m-theme() {
          color: themed($m-textColor--tertiary);
        }
      }
      > i {
        font-size: 13px;
        margin-right: 8px;
      }
      ::ng-deep .m-btn {
        height: 30px;
        width: 30px;
        padding: 0;
        font-size: 10px;
        letter-spacing: 1px;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;

        i {
          display: block;
          font-size: 16px;
          padding: 0;
          margin: 0;
        }
        span {
          display: none;
        }
      }
    }
  }

  .m-suggestionsSidebarList__item--group {
    .m-suggestionsSidebarListItem__avatar {
      vertical-align: top;
    }
    .m-suggestionsSidebarListItem__body {
      display: inline-block;
      flex-direction: unset;

      > div {
        width: 100%;
        max-width: unset;
      }
    }
  }
}
