<div
  class="m-sidebarWidget"
  [ngClass]="{
    'm-sidebarWidget__border--primary': borderColor === 'primary',
    'm-sidebarWidget__border--none': borderColor === 'none',
    'm-sidebarWidget__border--noBackgroundFill': !backgroundFill
  }"
>
  <h1 class="m-sidebarWidget__title">{{ titleText }}</h1>

  <div
    class="m-sidebarWidget__dismiss"
    *ngIf="dismissibleId"
    (click)="onDismissClick($event)"
  >
    <i class="material-icons">close</i>
  </div>

  <ng-content selector=".m-sidebarWidget__body"></ng-content>

  <ng-content selector=".m-sidebarWidget__seeMore"></ng-content>
</div>
