<div
  class="m-sidebarWidget"
  [ngClass]="{
    'm-sidebarWidget__border--primary': borderColor === 'primary'
  }"
>
  <ng-container [ngSwitch]="headerLevel">
    <h1 *ngSwitchCase="1" class="m-sidebarWidget__title">{{ title }}</h1>
    <h2 *ngSwitchDefault class="m-sidebarWidget__title">{{ title }}</h2>
  </ng-container>

  <div
    class="m-sidebarWidget__dismiss"
    *ngIf="dismissibleId"
    (click)="onDismissClick($event)"
  >
    <i class="material-icons">close</i>
  </div>

  <ng-content selector=".m-sidebarWidget__body"></ng-content>

  <ng-content selector=".m-sidebarWidget__seeMore"></ng-content>
</div>
