<ng-container [m-clientMeta]="{ medium: 'boost-rotator' }">
  <div
    *ngIf="!disabled"
    #rotatorEl
    class="m-newsfeed__boostRotator"
    [style.min-height]="height"
    [hidden]="!boosts.length"
  >
    <div
      *ngIf="boosts.length > 0 && !activityV2Feature"
      class="m-carousel__overflowScrollButton--left"
      (click)="prev()"
    >
      <i class="material-icons">chevron_left</i>
    </div>
    <ng-container *ngFor="let entity of boosts; let i = index">
      <m-activity
        @fastFade
        [entity]="entity"
        [displayOptions]="{
          showBoostRotatorButtons: true,
          showOnlyCommentsInput: false,
          showComments: false,
          fixedHeight: true,
          fixedHeightContainer: true,
          isFeed: true
        }"
        [attr.data-minds-activity-guid]="entity.guid"
        [slot]="i + 1"
        [canRecordAnalytics]="false"
        [style.visibility]="i === currentPosition ? 'visible' : 'hidden'"
        *ngIf="shouldRender(i)"
      ></m-activity>
    </ng-container>
    <div
      *ngIf="boosts.length > 0 && !activityV2Feature"
      class="m-carousel__overflowScrollButton--right"
      (click)="next()"
    >
      <i class="material-icons">chevron_right</i>
    </div>
  </div>
</ng-container>
