@import 'defaults.scss';

m-messenger {
  display: block;
  position: fixed;
  bottom: 0;
  right: 52px;
  @include z-index(messenger);

  @media screen and (max-width: $max-mobile) {
    display: none;
  }

  .m-messenger--conversations-wrappers {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
