<div
  *ngIf="!(deleteInProgress$ | async); else menuLoadingSpinnerTemplate"
  showOnHover
  [hoverSourceElement]="hoverSourceElement"
  [forceShow]="dropdownMenuShown"
  [reactToForceShowChange]="true"
  [floatUi]="dropdownMenuContent"
  [showOnStart]="false"
  [showTrigger]="'click'"
  [hideOnClickOutside]="true"
  [hideOnScroll]="false"
  [preventOverflow]="false"
  [placement]="'bottom'"
  (onShown)="onFloatUiShown()"
  (onHidden)="onFloatUiHidden()"
  #dropdownMenu
>
  <i
    *ngIf="!(deleteInProgress$ | async); else menuLoadingSpinnerTemplate"
    class="material-icons m-chatRoomMessageDropdown__icon"
    [ngClass]="{
      'm-chatRoomMessageDropdown__icon--menuShown': dropdownMenuShown
    }"
    >more_horiz</i
  >
</div>

<float-ui-content #dropdownMenuContent>
  <ul class="m-chatRoomMessageDropdown__dropdownList">
    <li
      *ngIf="!isMessageOwner"
      class="m-chatRoomMessageDropdown__dropdownListItem"
      (click)="onReportClick()"
      data-ref="data-minds-chat-report-message-button"
    >
      <span i18n="@@CHAT_ROOM__MESSAGE_DROPDOWN__REPORT_MESSAGE"
        >Report message</span
      >
    </li>
  </ul>
  <ul class="m-chatRoomMessageDropdown__dropdownList">
    <li
      *ngIf="isMessageOwner || (canModerate$ | async)"
      class="m-chatRoomMessageDropdown__dropdownListItem"
      (click)="onDeleteClick()"
      data-ref="data-minds-chat-delete-message-button"
    >
      <span i18n="@@CHAT_ROOM__MESSAGE_DROPDOWN__REPORT_MESSAGE"
        >Delete message</span
      >
    </li>
  </ul>
</float-ui-content>

<ng-template #menuLoadingSpinnerTemplate>
  <m-sizeableLoadingSpinner
    [inProgress]="true"
    spinnerHeight="20px"
    spinnerWidth="20px"
  ></m-sizeableLoadingSpinner>
</ng-template>
