<div class="m-marketing">

  <div class="m-marketing--header">
    <div class="m-marketing--background-video">
      <video autoplay muted loop *ngIf="!videoError; else spaceImage">
        <source [src]="minds.cdn_assets_url + 'assets/videos/space-1/space-1.mp4'" type="video/mp4" (error)="onSourceError()">
      </video>
      <ng-template #spaceImage>
        <img [src]="minds.cdn_assets_url + 'assets/videos/space-1/space-1.png'">
      </ng-template>
    </div>

    <div class="m-marketing--header-inner">

      <img [src]="minds.cdn_assets_url + 'assets/logos/logo-white.svg'" />

      <h1>Crypto Social Network</h1>

      <h3>{{ countDown$ | async }}</h3>

      <h4 [hidden]="session.isLoggedIn()">Pre-Register</h4>

      <div class="m-blockchain--marketing--preregister" [hidden]="session.isLoggedIn()">
        <minds-form-register></minds-form-register>
      </div>

      <div class="m-blockchain--marketing--preregister" [hidden]="!session.isLoggedIn()">

        <p>Thanks <span>@</span>{{ session.getLoggedInUser().username }}, we will keep you updated.</p>

      </div>

      <div class="m-marketing--action-button" *ngIf="false">
        <button class="mdl-button mdl-button--colored mdl-color--green"
          (click)="downloadWhitepaper()"
        >Read the Whitepaper</button>
      </div>
    </div>

    <div class="m-marketing--overlay"></div>
  </div>

</div>

<m-footer></m-footer>
