<div class="m-marketing">

  <div class="m-marketing--header">
    <div class="m-marketing--background-video">
      <video autoplay muted loop *ngIf="!videoError; else spaceImage">
        <source [src]="minds.cdn_url + '/assets/videos/space-1/space-1.mp4'" type="video/mp4" (error)="onSourceError()">
      </video>
      <ng-template #spaceImage>
        <img [src]="minds.cdn_url + '/assets/marketing/space-1.png'">
      </ng-template>
    </div>

    <div class="m-marketing--header-inner">

      <h1>The Minds Token</h1>
      <h3>
        We are an open source and decentralized platform where users earn crypto for contributions to the community.
        Our goal is to provide a new model for content creators to take back their Internet freedom, monetization and social reach.
      </h3>

      <div class="m-marketing--action-button">
        <button class="mdl-button mdl-button--colored mdl-color--green"
          (click)="downloadWhitepaper()"
        >Read the Whitepaper</button>
      </div>
    </div>

    <div class="m-marketing--overlay"></div>
  </div>

  <div class="m-marketing--contents mdl-grid mdl-grid--no-spacing">
    <div class="m-marketing--responsive-video m-marketing--responsive-video-21-9">
      <iframe src="https://www.youtube.com/embed/ScMzIvxBSi4?rel=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </div>
  </div>

  <div class="m-marketing--hero m-blockchain--marketing--balloon">
    <div class="m-marketing--background-video">
      <img [src]="minds.cdn_url + '/assets/photos/balloon.jpg'">
    </div>

    <div class="m-marketing--hero-inner">
      <h1>Building a contribution economy</h1>
      <h3>We are building the worlds leading open source social network where you are rewarded for your contributions, not exploited.</h3>
    </div>
  </div>

  <div class="m-marketing--contents mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
      <i class="ion-icon ion-flash mdl-color-text--blue-grey-700"></i>

      <h2>Wire</h2>

      <span>
          The peer-to-peer payment system empowers you
          to receive one-time or recurring revenue from your
          supporters as tips or in exchange for customizable
          premium subscriptions and services.
      </span>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
      <i class="material-icons mdl-color-text--blue-grey-700">trending_up</i>

      <h2>Boost</h2>

      <span>
        The surveillance-free ad network allows you to exchange your tokens for expanded reach and targeted promotion across the full Minds network.
      </span>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
      <i class="material-icons mdl-color-text--blue-grey-700">monetization_on</i>

      <h2>Rewards</h2>

      <span>
        The reward system enables you to earn tokens for your daily contributions to the network.
        Tokens can be used throughout the full network.
      </span>
    </div>
  </div>

  <div class="m-marketing--hero">
    <div class="m-marketing--background-video">
      <img [src]="minds.cdn_url + '/assets/photos/galaxy.jpg'">
    </div>

    <div class="m-marketing--hero-inner">
      <h1>Social networking on the blockchain</h1>
      <h3>
        Minds Tokens are platform agnostic and leverage the Ethereum blockchain to reduce fees,
        improve advertising transparency and provide autonomy for digital content creators.
      </h3>
    </div>

    <div class="m-marketing--overlay"></div>
  </div>

  <div class="m-marketing--contents m-layout--row">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
      <i class="material-icons mdl-color-text--blue-grey-700">people</i>

      <h2>Peer-to-Peer</h2>

      <span>
        Leveraging Minds tokens to limit fees to third-party payment providers and creates a truly peer-to-peer
        digital economy.
      </span>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
      <i class="material-icons mdl-color-text--blue-grey-700">lock</i>

      <h2>Transparency</h2>

      <span>
        All transactions will be stored in blockchain-based smart contracts to provide extreme transparency and an
        unbreakable ledger.
      </span>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
      <i class="material-icons mdl-color-text--blue-grey-700">account_balance_wallet</i>

      <h2>Autonomy</h2>

      <span>
        Smart contracts enable creators to autonomously own their relationships with their supporters.
      </span>
    </div>
  </div>

  <div class="m-marketing--contents mdl-grid mdl-grid--no-spacing m-marketing--contents--middle">
    <div class="mdl-cell mdl-cell--12-col">
      <h2>The Press</h2>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet m-blockchain--marketing--press-logo">
      <a href="#">
        <img [src]="minds.cdn_assets_url + 'assets/marketing/cryptobriefing_logo.png'" alt="">
      </a>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet m-blockchain--marketing--press-logo">
      <a href="#">
        <img [src]="minds.cdn_assets_url + 'assets/marketing/sfc_logo.png'" alt="">
      </a>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet m-blockchain--marketing--press-logo">
      <a href="#">
        <img [src]="minds.cdn_assets_url + 'assets/marketing/observer_logo.png'" alt="">
      </a>
    </div>
  </div>

  <div class="m-marketing--responsive-hero-image m-marketing--responsive-hero-image--bottom">
    <img [src]="minds.cdn_url + '/assets/marketing/international-space-station-1776401_1920.jpg'" alt="">
  </div>

  <div class="m-marketing--contents mdl-grid mdl-grid--no-spacing m-blockchain--marketing-people">
    <div class="mdl-cell mdl-cell--12-col">
      <h2>The Team</h2>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/100000000000000341/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Bill Ottman
      </span>

      <span class="m-blockchain--marketing-person-title">
        Co-founder &amp; CEO
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/100000000000000063/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Mark Harding
      </span>

      <span class="m-blockchain--marketing-person-title">
        Co-founder &amp; CTO
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/100000000000000134/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        John Ottman
      </span>

      <span class="m-blockchain--marketing-person-title">
        Co-founder &amp; Chairman
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/100000000000001111/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Jack Ottman
      </span>

      <span class="m-blockchain--marketing-person-title">
        COO
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/458262421140672512/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Peter Schwartz
      </span>

      <span class="m-blockchain--marketing-person-title">
        CFO
      </span>
    </div>

  </div>

  <div class="m-marketing--contents mdl-grid mdl-grid--no-spacing m-blockchain--marketing-people m-blockchain--marketing-people--more">

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/508276211659579407/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Emiliano Balbuena
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/747562985026756623/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Nicolás Cesarini
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/714469159613767694/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Marcelo Rivera
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/773311697292107790/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Martin Santangelo
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/270962885465739264/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Andy Culp
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/100000000000191224/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Nicholas Lewis
      </span>
    </div>

  </div>

  <div class="m-marketing--contents mdl-grid mdl-grid--no-spacing m-blockchain--marketing-people m-blockchain--marketing-people--more">
    <div class="mdl-cell mdl-cell--12-col">
      <h2>Advisory Board</h2>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/kari/large')"
      ></div>
      <span class="m-blockchain--marketing-person-name">
        Kari Larsen
      </span>

      <span class="m-blockchain--marketing-person-title">
        <a href="https://www.reedsmith.com/en" target="_blank">Reedsmith LLP</a>
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/gabe/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Gabriel Abed
      </span>

      <span class="m-blockchain--marketing-person-title">
        <a href="https://bitt.com" target="_blank">bitt.com</a>
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/gabe/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Jason Tyra
      </span>

      <span class="m-blockchain--marketing-person-title">
        <a href="https://www.tyracpa.com/" target="_blank">Tyra CPA</a>
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/sai/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Sai Gundavelli
      </span>

      <span class="m-blockchain--marketing-person-title">
        <a href="https://www.solix.com/" target="_blank">Solix</a>
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/mglaw/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Robert Griffitts
      </span>

      <span class="m-blockchain--marketing-person-title">
        <a href="http://www.mg-law.com/" target="_blank">MG Law</a>
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/tuan/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Tuan Anh Nguyen
      </span>

      <span class="m-blockchain--marketing-person-title">
        <a href="http://bostonglobalforum.org/" target="_blank">Boston Global Forum</a>
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/veena/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Veena Gundavelli
      </span>

      <span class="m-blockchain--marketing-person-title">
        <a href="http://www.emagia.com/" target="_blank">Emagia</a>
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/364859896568483840/large')"
      ></div>
  
      <span class="m-blockchain--marketing-person-name">
        Daniel Pinchbeck
      </span>

      <span class="m-blockchain--marketing-person-title">
        <a href="http://www.pinchbeck.io/" target="_blank">Pinchbeck.io</a>
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/459118566831042560/large')"
      ></div>

      <span class="m-blockchain--marketing-person-name">
        Terrence Koeman
      </span>

      <span class="m-blockchain--marketing-person-title">
        <a href="https://openinternetfoundation.net" target="_blank">Open Internet Foundation</a>
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/782036635658231826/large')"
      ></div>
    
      <span class="m-blockchain--marketing-person-name">
        Faizan Khan
      </span>

      <span class="m-blockchain--marketing-person-title">
        <a href="https://visary.capital" target="_blank">Visary Capital</a>
      </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet"> 
      <div class="m-blockchain--marketing-person-image" 
        style="background-image: url('https://minds.com/icon/469824199200874510/large')"
      ></div>
  
      <span class="m-blockchain--marketing-person-name">
        Douglas Rushkoff
      </span>

      <span class="m-blockchain--marketing-person-title">
        <a href="http://www.rushkoff.com/" target="_blank">Rushkoff.com</a>
      </span>
    </div>

  </div>

</div>

<m-footer></m-footer>
