.m-reportCreator__header h2{
  font-weight: 600;
  margin: 0;
  font-size: 36px;
}

.m-reportCreator__subjects{
  padding: 16px 0;
  list-style: none;
  margin: 0;

  .m-reportCreatorSubjects__subject{
    padding: 8px 16px;
    margin: 3px;
    display: inline-flex;
    /* width: 100%; */
    border: 1px solid #dadada;
    border-radius: 24px;
    font-weight: 600;
    /* background: #fafafa; */

    &.m-reportCreatorSubjects__subject--active {
      border-color: #4690D6;
      span {
        color: #4690D6;
      }
    }

    span, i {
      vertical-align: middle;
    }

    span {
      flex: 1;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      font-size: 16px;
      font-weight: 500;
      color: #555;
      cursor: pointer;
    }

    i {
      color: #888;
      display: none;
    }

    //&:last-child{
    //  border-bottom: none;
    //}
  }
}

.m-report__Creator {
  font-weight: 400;
  max-width: 900px;
  margin: auto;
  position: relative;
}

.m-report-creator--success, .m-report-creator--copyright, .m-report-creator--appeals {
  padding: 32px 0;

  p {
    font-size: 16px;
    letter-spacing: 1px;
  }
}

.m-report-creator--appeals {
  textarea {
    width: 100%;
    background: rgba(255,255,255,0.5);
    border: 1px solid #EEE;
    padding: 16px;
    font-size: 16px;
    letter-spacing: 1px;
  }
}

.m-reportCreator__submit, .m-report-creator--close {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .m-reportCreator__button {

    &[disabled] {
      cursor: default;
      opacity: 0.35;
    }
  }

  .m-report-creator--submit-label,
    .m-report-creator--submit-error {
      margin-left: $minds-padding;
      font-size: 16px;

      > span, > i {
      vertical-align: middle;
    }
  }

  .m-report-creator--submit-error {
    color: #ff0000;
    font-size: 12px;
    font-weight: 500;
  }

  .m-report-creator--section {
    padding: 16px 0;
    font-weight: 400;

    &.m-report-creator--section--last {
      margin-top: 8px;
    }
  }
}

.m-reportCreator__explicitReasons {
  p {
    font-size: 16px;
    margin: 16px 0 0;
  }
}