<m-wallet__earnings></m-wallet__earnings>

<ng-template #sectionHeader let-label="label" let-total$="total$">
  <div class="m-walletProEarnings__sectionHeader">
    <h3>
      <span>{{ getFriendlyLabel(label) }}</span>
      <span class="m-layout__spacer"></span>
      <span><b>$</b>{{ (total$ | async) / 100 | number: '1.2-2' }}</span>
    </h3>
  </div>
</ng-template>

<ng-template #itemEl let-item let-isHeader="isHeader">
  <tr class="m-walletProEarningsTable__item" [class.isHeader]="isHeader">
    <td class="m-walletProEarningsTableItem__cell--label">
      {{ getFriendlyLabel(item.id) }}
    </td>
    <td class="m-walletProEarningsTableItem__cell--amount">
      <b>$</b>{{ item.amount_cents / 100 | number: '1.2-2' }}
    </td>
  </tr>
</ng-template>
