@import "defaults";


minds-admin-analytics{

  .mdl-card{
    min-height:0;
    width:auto;

    .results{
      display:table;

      .row{
        flex:1;
        padding:$minds-padding;
        border-bottom:1px solid #EEE;

        > label{
         width:60%;
         float:left;
        }
      }
      .cell{
        display:table-cell;
        flex:1;
        border-right:1px solid #EEE;
        &:last-child{
          border-right:0;
        }
        text-align:center;

        label{
          width:100%;
          display:block;
        }
      }
    }
  }

}


minds-admin-boosts{

  .boost{
    width: auto;
    padding: 20px;
  }
}


.m-admin-pages{

  .m-admin-pages-path{
    padding:$minds-padding;
  }

  .m-admin-pages-link-path{
    padding:$minds-padding 0;

    .m-form-input {
      display: block;
      font-size: 16px;
      padding: 8px;
      width: 100%;
      margin-top: 0.35em;
    }
  }

  .m-form-actions{
    padding:$minds-padding 0;
  }

}
