<ng-container *ngIf="shouldShow$ | async">
  <m-sidebarWidget title="" dismissibleId="language-sidebar-2020">
    <div class="m-sidebarWidget__body">
      <p
        class="m-languageSidebarPrompt__text"
        i18n="@@LANGUAGE_SIDEBAR__PROMPT"
      >
        Did you know that Minds will soon be available in
        {{ languageName$ | async }}?
      </p>

      <m-button
        (onAction)="onClick($event)"
        [saving]="saving"
        data-cy="language-sidebar-prompt-button"
      >
        Change Language
      </m-button>
    </div>
  </m-sidebarWidget>
  <div class="m-spacer"></div>
</ng-container>
