.m-wallet-verifyMobile-container {
  padding-top: $minds-padding * 3;
  letter-spacing: 1.2px;
  margin: 0 25%;
  @media only screen and (max-width: $min-desktop) {
    margin: 0 15%;
  }
  @media only screen and (max-width: $min-tablet) {
    margin: 0 5%;
  }

  h1 {
    font-weight: 450;
    font-size: 21pt;
    letter-spacing: 2px;
    letter-spacing: 1.1px;
  }

  h2 {
    font-weight: 450;
    font-size: 18pt;
    letter-spacing: 2px;
    margin-bottom: 0px;
    letter-spacing: 1.1px;
  }

  p, span {
    letter-spacing: 1.1px;
    @include m-theme() {
      color: themed($m-grey-800);
    }
  }

  .m-wallet-verifyMobile-step {
    display: block;
    margin: 0 0 32 0;
  }

  .m-wallet-verifyMobile-enterNumberContainer {
    width: 100%;
    padding: ($minds-padding * 3) 0;
    margin-bottom: ($minds-padding * 3);
    flex-wrap: wrap;

    @include m-theme() {
      background-color: themed($m-grey-100);
    }
  
    .m-wallet-verifyMobile-codeSubmitButton {

    }

    .m-wallet-verifyMobile-codeInput {
      width: 40px;
      height: 40px;
      margin: 0 ($minds-padding * 1.5);
      font-size: large;
      text-align: center;
      @include m-theme() {
        border: 1px solid themed($m-grey-100);
      }
      @media only screen and (max-width: $min-tablet) {
        margin: 4px;
      }
    }

    .m-wallet-verifyMobile-header {
      padding: 0 5%
    }

    .m-wallet-verifyMobile-enterNumberForm {
      display: flex;
      justify-content: center;
      padding-top: $minds-padding;
      @media only screen and (max-width: $min-tablet) {
        flex-direction: column;
        align-items: center;   
      }
      
      m-phone-input {
        height: 50px;
        width: 60%;

        .m-phone-input--wrapper {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          margin-bottom: 0;
          width: 100%;
          
          input {
            height: 100%;
            width: 100%;
          }
        }

        .m-phone-input--selected-flag {
          height: 100%;
          @include m-theme() {
            border-right: 1px solid themed($m-grey-100);
          }
          .m-phone-input--dial-code {
            @include m-theme() {
              color: themed($m-grey-700);
            }
          }
        }

        input {
          letter-spacing: 1.5px;
          padding-left: $minds-padding;
          @include m-theme() {
            color: themed($m-grey-500);
          }
          border-radius: 6px;
        }

        .m-phone-input--country-list {
          position: unset;
          box-shadow: unset;
          border: unset;
          width: fit-content;
          position: absolute;
          @include m-theme() {
            border: 1px solid $m-grey-100;
          }
        }
      }
    }
  }
}

.m-wallet-verifyMobile-enterNumberForm--error {
  @include m-theme() {
    border: 1px solid themed($m-red);
  }
}

.m-wallet-verifyMobile-error {
  margin: 0 0 0 5%;
  @include m-theme() {
    color: themed($m-red) !important;
  }
  @media only screen and (max-width: $min-tablet) {
    text-align: center;
    margin-top: 8px;
  }
}

.m-flexCenter {
  display: flex;
  justify-content: center;
}

.m-wallet-verifyMobile-submitButton {
  width: 25%;
  border-radius: 6px;
  margin: 0 ($minds-padding * 2);
  border: none;
  letter-spacing: 1.5px;
  padding: ($minds-padding * 2);
  font-size: 10pt;
  @include m-theme() {
    background-color: themed($m-white);
    color: themed($m-grey-600);
  }
  @media only screen and (max-width: $min-tablet) {
    margin-top: 16px;
    width: 60%;  
  }
}
