.m-blogEditor {
  @include m-theme() {
    border-right: 1px solid themed($m-borderColor--primary);
  }

  .m-blogEditor__bannerImageContainer {
    img {
      width: 100%;
      height: calc((70vw) * 0.5625);
      max-height: 523px;
    }

    .m-blogEditor__bannerToolbar {
      position: absolute;
      right: 100px;
      top: 50px;
      display: flex;
      flex-direction: row;

      @media screen and (max-width: $min-desktop) {
        right: 50px;
        top: 30px;
      }

      & > i,
      .m-blodEditor__optionMenuIcon {
        font-size: 1.35em;
        border-radius: 50%;
        padding: 2px;
        min-width: 25px;
        min-height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 8px;
        cursor: pointer;

        @include m-theme() {
          background-color: themed($m-bgColor--primary);
          color: themed($m-textColor--primary);
        }
      }
    }
  }

  .m-blogEditor__container {
    padding: 50px 100px;
    @media screen and (max-width: $min-desktop) {
      padding: 30px 50px;
    }

    > * + * {
      margin-top: 36px;
    }

    .m-blogEditor__bannerContainer {
      display: flex;

      .m-blogEditor__bannerUploader {
        display: flex;
        align-items: center;

        @media screen and (max-width: $min-desktop) {
          display: block;
        }

        .m-blogEditor__bannerText {
          font-weight: bold;
          font-size: 12pt;
          padding-right: 12px;
          display: flex;
          align-items: center;

          i {
            margin-right: 4px;
          }

          @media screen and (max-width: $min-desktop) {
            margin-bottom: 4px;
          }

          .m-blogEditor__bannerUploadButton {
            background-color: unset;
            border: none;
            display: flex;
            align-items: center;
            padding: 0;
            cursor: pointer;
            @include m-theme() {
              color: themed($m-textColor--primary);
            }
          }
        }

        .m-blogEditor__bannerSizeText {
          @include m-theme() {
            color: themed($m-textColor--secondary);
          }
        }
      }

      .m-blogEditor__ellipsis {
        position: absolute;
        right: 100px;
        @media screen and (max-width: $min-desktop) {
          right: 50px;
        }
        m-blogEditor__dropdown {
          i {
            @include m-theme() {
              color: themed($m-textColor--primary);
            }
          }
        }
      }
    }

    .m-blogEditor__titleContainer {
      .m-blogEditor__titleInput {
        width: 100%;
        background: unset;
        @include m-theme() {
          color: themed($m-textColor--primary);
        }
        border: unset;
        font-size: 32px;
        font-weight: 500;
        outline: none;
      }
    }
  }
}
