<m-analytics__card
  [title]="'Token Sales'"
  [options]="['daily', 'monthly']"
  #card
>
  <div class="m-analytics__averages">
    <div class="m-analytics__average">
      <h6>Avg Sold Tokens</h6>
      <h5>{{ tokens | number: '1.0' }}</h5>
    </div>

    <div class="m-analytics__average">
      <h6>Avg Sales Tx</h6>
      <h5>{{ sales | number: '1.0' }}</h5>
    </div>
    <div class="m-analytics__average">
      <h6>Avg Token Buyers</h6>
      <h5>{{ buyers | number: '1.0' }}</h5>
    </div>
    <div class="m-analytics__average">
      <h6>Avg Eth Value</h6>
      <h5>{{ ethValue | number: '1.0' }}</h5>
    </div>
    <div class="m-analytics__average">
      <h6>Avg Eth/Usd Rate</h6>
      <h5>{{ ethUsdRate | number: '1.0' }}</h5>
    </div>
  </div>

  <div class="m-analytics__averages">
    <div class="m-analytics__average" *ngFor="let current of currentSales">
      <h6>Current {{ current.name }}</h6>
      <h5>{{ current.value | number: '1.0-0' }}</h5>
    </div>
  </div>

  <div class="m-analyticsCard__charts">
    <m-analyticscharts__tokensales
      [analytics]="'sales'"
      [timespan]="card.selectedOption"
      (loaded)="currentSales = $event"
    ></m-analyticscharts__tokensales>
  </div>

  <div class="m-analytics__averages">
    <div class="m-analytics__average" *ngFor="let current of currentRates">
      <h6>Current {{ current.name }}</h6>
      <h5>{{ current.value | number: '1.0-0' }}</h5>
    </div>
  </div>

  <div class="m-analyticsCard__charts">
    <m-analyticscharts__tokensales
      [analytics]="'rates'"
      [timespan]="card.selectedOption"
      (loaded)="currentRates = $event"
    ></m-analyticscharts__tokensales>
  </div>
</m-analytics__card>
