<!-- Splash image presentation -->
<h4
  class="m-networkAdminMobile__title"
  i18n="@@NETWORK_ADMIN__SPLASH_IMAGE_CONFIG__TITLE"
>
  Splash image presentation
</h4>
<p
  class="m-networkAdminMobile__subtitle"
  i18n="@@NETWORK_ADMIN__SPLASH_IMAGE_CONFIG__SUBTITLE"
>
  Determine how your splash screen image will display on a smartphone.
</p>
<p class="m-networkAdminSplashConfig__requiredFieldLabel">
  (<strong>*</strong>)&nbsp;<span
    i18n="@@NETWORK_ADMIN__SPLASH_IMAGE_CONFIG__REQUIRED_FIELD"
    >Required</span
  >
</p>
<form class="m-networkAdminSplashConfig__form">
  <m-networkAdminConsole__radioBox
    class="m-networkAdminSplashConfig__radioImageSelector"
    title="Contain"
    subtitle="Best for logos and icons"
    name="welcomeScreenSplashRadios"
    [value]="MobileSplashScreenTypeEnum.Contain"
    [saving]="setMobileConfigInProgress$ | async"
    [ngModel]="splashScreenType$ | async"
    (ngModelChange)="setSplashScreenType($event)"
  >
    <img
      ngSrc="./assets/tenant/mobile-screens/logo-contain.png"
      disableOptimizedSrcset
      width="120"
      height="208"
    />
  </m-networkAdminConsole__radioBox>
  <m-networkAdminConsole__radioBox
    class="m-networkAdminSplashConfig__radioImageSelector"
    title="Cover"
    subtitle="Best for background images or other decorative designs"
    name="welcomeScreenSplashRadios"
    [value]="MobileSplashScreenTypeEnum.Cover"
    [saving]="setMobileConfigInProgress$ | async"
    [ngModel]="splashScreenType$ | async"
    (ngModelChange)="setSplashScreenType($event)"
  >
    <img
      ngSrc="./assets/tenant/mobile-screens/logo-cover.png"
      disableOptimizedSrcset
      width="120"
      height="208"
    />
  </m-networkAdminConsole__radioBox>
</form>

<!-- Login screen -->
<h4
  class="m-networkAdminMobile__title"
  i18n="@@NETWORK_ADMIN__LOGIN_SCREEN_CONFIG__TITLE"
>
  Login screen
</h4>
<p class="m-networkAdminMobile__subtitle">
  <span i18n="@@NETWORK_ADMIN__LOGIN_SCREEN_CONFIG__SUBTITLE"
    >Determine the login screen logo on your mobile app.</span
  >
  <br />
  <strong i18n="@@NETWORK_ADMIN__LOGIN_SCREEN_CONFIG__FOOTNOTE">Note: </strong>
  <span i18n="@@NETWORK_ADMIN__LOGIN_SCREEN_CONFIG__MAY_NOTICE_SLIGHT_DIFFS"
    >The screens below are not completely representative of the app, you may
    notice slight differences.</span
  >
</p>
<p class="m-networkAdminSplashConfig__requiredFieldLabel">
  (<strong>*</strong>)&nbsp;<span
    i18n="@@NETWORK_ADMIN__LOGIN_SCREEN_CONFIG__REQUIRED_FIELD"
    >Required</span
  >
</p>
<form class="m-networkAdminSplashConfig__form">
  <m-networkAdminConsole__radioBox
    class="m-networkAdminSplashConfig__radioImageSelector"
    title="Square"
    subtitle="Square logo upload"
    name="loginScreenSplashRadios"
    [value]="MobileWelcomeScreenLogoTypeEnum.Square"
    [saving]="setMobileConfigInProgress$ | async"
    [ngModel]="welcomeScreenLogoType$ | async"
    (ngModelChange)="setWelcomeScreenType($event)"
  >
    <img
      ngSrc="./assets/tenant/mobile-screens/welcome-screen-square.png"
      disableOptimizedSrcset
      width="120"
      height="208"
    />
  </m-networkAdminConsole__radioBox>
  <m-networkAdminConsole__radioBox
    class="m-networkAdminSplashConfig__radioImageSelector"
    title="Horizontal"
    subtitle="Horizontal logo upload"
    name="loginScreenSplashRadios"
    [value]="MobileWelcomeScreenLogoTypeEnum.Horizontal"
    [saving]="setMobileConfigInProgress$ | async"
    [ngModel]="welcomeScreenLogoType$ | async"
    (ngModelChange)="setWelcomeScreenType($event)"
  >
    <img
      ngSrc="./assets/tenant/mobile-screens/welcome-screen-horizontal.png"
      disableOptimizedSrcset
      width="120"
      height="208"
    />
  </m-networkAdminConsole__radioBox>
</form>
