<m-settingsV2__header>
  <div
    class="m-settingsV2__headerLabel"
    i18n="@@SETTINGS__NOTIFICATIONS__EMAIL__LABEL"
  >
    Email Notifications
  </div>
  <div
    class="m-settingsV2__desc"
    i18n="@@SETTINGS__NOTIFICATIONS__EMAIL__DESCRIPTION"
  >
    Control what email notifications you receive, and when.
  </div>
</m-settingsV2__header>

<div *ngIf="!init" class="m-settingsV2__spinner">
  <div class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
</div>
<div *ngIf="init" class="m-formLayout--buttonRight">
  <div class="m-form__fieldsContainer">
    <div
      class="m-settingsV2__subheader"
      i18n="@@EMAIL_NOTIFICATIONS__EMAIL_ME_WHEN"
    >
      Email me when
    </div>
    <div class="m-form__field--checkbox">
      <div class="m-form__row--input">
        <label
          for="unread-notifications"
          class="m-form__customInputWrapper__checkbox"
        >
          <ng-container i18n="@@EMAIL_NOTIFICATIONS__HAVE_UNREAD_NOTIFICATIONS"
            >I have unread notifications</ng-container
          >
          <input
            type="checkbox"
            id="unread-notifications"
            name="unread-notifications"
            class="form-control"
            data-minds="unread-notifications"
            [readonly]="inProgress"
            (click)="change()"
            [(ngModel)]="notifications.when.unread_notifications"
          />
          <span class="m-form__customInput__checkbox"></span>
        </label>
      </div>
    </div>
    <div class="m-form__field--checkbox">
      <div class="m-form__row--input">
        <label for="wire-received" class="m-form__customInputWrapper__checkbox">
          <ng-container i18n="@@EMAIL_NOTIFICATIONS__RECEIVED_WIRE"
            >I receive a wire</ng-container
          >
          <input
            type="checkbox"
            id="wire-received"
            name="wire-received"
            class="form-control"
            data-minds="wire-received"
            [readonly]="inProgress"
            (click)="change()"
            [(ngModel)]="notifications.when.wire_received"
          />
          <span class="m-form__customInput__checkbox"></span>
        </label>
      </div>
    </div>
    <div class="m-form__field--checkbox">
      <div class="m-form__row--input">
        <label
          for="boost-completed"
          class="m-form__customInputWrapper__checkbox"
        >
          <ng-container i18n="@@EMAIL_NOTIFICATIONS__BOOST_BEEN_COMPLETED"
            >My boost has been completed</ng-container
          >
          <input
            type="checkbox"
            id="boost-completed"
            name="boost-completed"
            class="form-control"
            data-minds="boost-completed"
            [readonly]="inProgress"
            (click)="change()"
            [(ngModel)]="notifications.when.boost_completed"
          />
          <span class="m-form__customInput__checkbox"></span>
        </label>
      </div>
    </div>
    <div
      class="m-settingsV2__subheader"
      i18n="@@EMAIL_NOTIFICATIONS__EMAIL_ME_WITH"
    >
      Email me with
    </div>
    <div class="m-form__field--checkbox">
      <div class="m-form__row--input">
        <label for="top-posts" class="m-form__customInputWrapper__checkbox">
          <ng-container i18n="@@EMAIL_NOTIFICATIONS__TOP_POSTS_FROM_NETWORK"
            >Top posts from my network</ng-container
          >
          <input
            type="checkbox"
            id="top-posts"
            name="top-posts"
            class="form-control"
            data-minds="top-posts"
            [readonly]="inProgress"
            (click)="change()"
            [ngModel]="!!notifications.with.top_posts"
            (ngModelChange)="onTopPostsCheckboxChange($event)"
          />
          <span class="m-form__customInput__checkbox"></span>
        </label>
      </div>
    </div>
    <div class="m-form__field--checkbox">
      <div class="m-form__row--input">
        <label
          for="channel-improvement-tips"
          class="m-form__customInputWrapper__checkbox"
        >
          <ng-container i18n="@@EMAIL_NOTIFICATIONS__IMPROVE_CHANNEL_TIPS"
            >Tips on how to improve my channel</ng-container
          >
          <input
            type="checkbox"
            id="channel-improvement-tips"
            name="channel-improvement-tips"
            class="form-control"
            data-minds="channel-improvement-tips"
            [readonly]="inProgress"
            (click)="change()"
            [(ngModel)]="notifications.with.channel_improvement_tips"
          />
          <span class="m-form__customInput__checkbox"></span>
        </label>
      </div>
    </div>
    <div class="m-form__field--checkbox">
      <div class="m-form__row--input">
        <label
          for="missed-since-login"
          class="m-form__customInputWrapper__checkbox"
        >
          <ng-container i18n="@@EMAIL_NOTIFICATIONS__MISSED_SINCE_LAST_LOGIN"
            >Things I've missed since my last login</ng-container
          >
          <input
            type="checkbox"
            id="missed-since-login"
            name="missed-since-login"
            class="form-control"
            data-minds="missed-since-login"
            [readonly]="inProgress"
            (click)="change()"
            [(ngModel)]="notifications.with.posts_missed_since_login"
          />
          <span class="m-form__customInput__checkbox"></span>
        </label>
      </div>
    </div>
    <div class="m-form__field--checkbox">
      <div class="m-form__row--input">
        <label for="new_channels" class="m-form__customInputWrapper__checkbox">
          <ng-container i18n="@@EMAIL_NOTIFICATIONS__NEW_CHANNELS_SUB_TO"
            >New channels to subscribe to</ng-container
          >
          <input
            type="checkbox"
            id="new_channels"
            name="new_channels"
            class="form-control"
            data-minds="new_channels"
            [readonly]="inProgress"
            (click)="change()"
            [(ngModel)]="notifications.with.new_channels"
          />
          <span class="m-form__customInput__checkbox"></span>
        </label>
      </div>
    </div>

    <div
      class="m-settingsV2__subheader"
      i18n="@@EMAIL_NOTIFICATIONS__KEEP_ME_UPDATED_WITH"
    >
      Keep me updated with
    </div>
    <div class="m-form__field--checkbox">
      <div class="m-form__row--input">
        <label for="minds_news" class="m-form__customInputWrapper__checkbox">
          <ng-container
            i18n="@@EMAIL_NOTIFICATIONS__NEWS_ABOUT_NEW_MINDS_PRODUCTS"
            >News about new Minds products and features</ng-container
          >
          <input
            type="checkbox"
            id="minds_news"
            name="minds_news"
            class="form-control"
            data-minds="unread-notifications"
            [readonly]="inProgress"
            (click)="change()"
            [(ngModel)]="notifications.global.unread_notifications"
          />
          <span class="m-form__customInput__checkbox"></span>
        </label>
      </div>
    </div>
    <div class="m-form__field--checkbox">
      <div class="m-form__row--input">
        <label for="minds-tips" class="m-form__customInputWrapper__checkbox">
          <ng-container i18n="@@EMAIL_NOTIFICATIONS__MINDS_USAGE_TIPS"
            >Tips on how to use Minds</ng-container
          >
          <input
            type="checkbox"
            id="minds-tips"
            name="minds-tips"
            class="form-control"
            data-minds="minds-tips"
            [readonly]="inProgress"
            (click)="change()"
            [(ngModel)]="notifications.global.minds_tips"
          />
          <span class="m-form__customInput__checkbox"></span>
        </label>
      </div>
    </div>
    <div class="m-form__field--checkbox">
      <div class="m-form__row--input">
        <label
          for="exclusive-promotions"
          class="m-form__customInputWrapper__checkbox"
        >
          <ng-container i18n="@@EMAIL_NOTIFICATIONS__EXCLUSIVE_PROMOTIONS"
            >Exclusive promotions</ng-container
          >
          <input
            type="checkbox"
            id="exclusive-promotions"
            name="exclusive-promotions"
            class="form-control"
            data-minds="exclusive-promotions"
            [readonly]="inProgress"
            (click)="change()"
            [(ngModel)]="notifications.global.exclusive_promotions"
          />
          <span class="m-form__customInput__checkbox"></span>
        </label>
      </div>
    </div>
  </div>

  <div class="m-form__buttonsContainer">
    <m-button
      color="blue"
      [disabled]="!canSubmit()"
      [saving]="inProgress"
      (onAction)="submit()"
      i18n="@@EMAIL_NOTIFICATIONS__UPDATE_PREFERENCES"
    >
      Update Preferences
    </m-button>
  </div>
</div>
