<div class="m-grid m-marketing__asFeaturedIn">
  <div class="m-grid__column-2 m-marketingAsFeaturedIn__title" i18n>
    As featured in
  </div>

  <ul class="m-grid__column-10">
    <li class="m-marketingAsFeaturedIn__item--bigger">
      <img [src]="cdnAssetsUrl + 'assets/marketing/bbc.png'" alt="BBC" />
    </li>
    <li>
      <img
        [src]="cdnAssetsUrl + 'assets/marketing/foxnews.png'"
        alt="Fox News"
      />
    </li>
    <li>
      <img [src]="cdnAssetsUrl + 'assets/marketing/forbes.png'" alt="Forbes" />
    </li>
    <li>
      <img
        [src]="cdnAssetsUrl + 'assets/marketing/techcrunch.png'"
        alt="TechCrunch"
      />
    </li>
    <li>
      <img
        [src]="cdnAssetsUrl + 'assets/marketing/reuters.png'"
        alt="Reuters"
      />
    </li>
    <li>
      <img [src]="cdnAssetsUrl + 'assets/marketing/wired.png'" alt="Wired" />
    </li>
    <li>
      <img
        [src]="cdnAssetsUrl + 'assets/marketing/tjre.png'"
        alt="The Joe Rogan Experience"
      />
    </li>
  </ul>
</div>
