<div class="m-grid m-marketing__asFeaturedIn">
  <div class="m-grid__column-2 m-marketingAsFeaturedIn__title" i18n>
    As featured in
  </div>

  <ul class="m-grid__column-10">
    <li>
      <a
        href="https://www.wsj.com/articles/facebook-on-notice-as-vietnam-tightens-grip-on-social-media-11547036594"
        target="_blank"
      >
        <img
          [src]="cdnAssetsUrl + 'assets/marketing/wsj.png'"
          alt="The Wall Street Journal"
        />
      </a>
    </li>

    <li>
      <a
        href="https://www.wired.com/story/minds-anti-facebook/"
        target="_blank"
      >
        <img [src]="cdnAssetsUrl + 'assets/marketing/wired.png'" alt="Wired" />
      </a>
    </li>

    <li>
      <a
        href="https://techcrunch.com/2018/04/16/minds-aims-to-decentralize-the-social-network/"
        target="_blank"
      >
        <img
          [src]="cdnAssetsUrl + 'assets/marketing/techcrunch.png'"
          alt="TechCrunch"
        />
      </a>
    </li>

    <li>
      <a
        href="http://podcasts.joerogan.net/podcasts/bill-ottman"
        target="_blank"
      >
        <img
          [src]="cdnAssetsUrl + 'assets/marketing/tjre.png'"
          alt="The Joe Rogan Experience"
        />
      </a>
    </li>

    <li>
      <a
        href="https://www.foxnews.com/tech/alternate-social-media-squash-extremist-content-without-violating-first-amendment"
        target="_blank"
      >
        <img
          [src]="cdnAssetsUrl + 'assets/marketing/foxnews.png'"
          alt="Fox News"
        />
      </a>
    </li>

    <li>
      <a
        href="https://www.independent.co.uk/news/business/indyventure/minds-facebook-alternative-deletefacebook-social-network-data-a8475841.html"
        target="_blank"
      >
        <img
          [src]="cdnAssetsUrl + 'assets/marketing/press-logos/independent.png'"
          alt="Independent"
        />
      </a>
    </li>

    <li>
      <a
        href="https://www.reuters.com/article/us-vietnam-cyber-usa/u-s-lawmakers-urge-google-facebook-to-resist-vietnam-cybersecurity-law-idUSKBN1K7147"
        target="_blank"
      >
        <img
          [src]="cdnAssetsUrl + 'assets/marketing/reuters.png'"
          alt="Reuters"
        />
      </a>
    </li>

    <li>
      <a
        href="https://www.npr.org/2019/08/06/748810962/debate-over-policing-free-speech-intensifies-as-8chan-struggles-to-stay-online"
        target="_blank"
      >
        <img [src]="cdnAssetsUrl + 'assets/marketing/npr.png'" alt="npr" />
      </a>
    </li>
  </ul>
</div>
