<div class="m-wire-channel--overview mdl-grid mdl-shadow--2dp mdl-color--blue mdl-color-text--white">

  <div class="m-wire-channel--overview--overview-count mdl-cell mdl-cell--6-col">
    <span *ngIf="ready">{{ stats.count | number:'1.0-0' }}</span>
    <div class="m-wire-channel--overview--label">
      <label i18n="@@M__FEATURE__WIRE_PLURAL">Wires</label>
      <m-tooltip icon="help" i18n="@@WIRE__CHANNEL__OVERVIEW__WIRES_CARD_TOOLTIP">
      How many wires <span>@</span>{{channel.username}} has received in the last 30 days
      </m-tooltip>
    </div>
  </div>

  <div class="m-wire-channel--overview--overview-earnings mdl-cell mdl-cell--6-col">
    <span *ngIf="ready">{{ stats.tokens | token:18 | number:'1.0-0' }}</span>
    <div class="m-wire-channel--overview--label">
      <label i18n="@@M__FEATURE__TOKENS">Tokens</label>
      <m-tooltip icon="help" i18n="@@WIRE__CHANNEL__OVERVIEW__POINTS_CARD_TOOLTIP">
        This is <span>@</span>{{channel.username}}'s total volume (gross) of all Token wires received in the last 30 days
      </m-tooltip>
    </div>
  </div>

  <!-- <div class="m-wire-channel--overview--overview-average mdl-cell mdl-cell--6-col" *ngIf="session.getLoggedInUser().guid != channel.guid">
    <i>$</i><span *ngIf="ready">{{ stats.avg | number:'1.0-0' }}</span>
    <div class="m-wire-channel--overview--label">
      <label>Average</label>
      <m-tooltip icon="help">
        This is average amount received per wire
      </m-tooltip>
    </div>
  </div> -->

  <div class="m-wire-channel--overview--overview-walletlink mdl-cell mdl-cell--6-col" *ngIf="session.getLoggedInUser().guid == channel.guid">
    <div class="m-wire-channel--overview--label">
      <label [routerLink]="['/wallet/tokens/transactions', 'wire']" i18n="@@WIRE__CHANNEL__OVERVIEW__BREAKDOWN_LINK">See breakdown</label>
      <m-tooltip icon="help" i18n="@@WIRE__CHANNEL__OVERVIEW__BREAKDOWN_LINK_TOOLTIP">
        See a breakdown of all your Wires in your wallet 
      </m-tooltip>
    </div>
  </div>

  <div class="m-wire-channel--overview--overview-average mdl-cell mdl-cell--6-col" *ngIf="canWire()">
    <span *ngIf="ready">{{ stats.sent | token:18 | number:'1.0-4' }}</span>
    <div class="m-wire-channel--overview--label">
      <label i18n="@@WIRE__CHANNEL__OVERVIEW__YOU_SENT_CARD_LABEL">You Sent</label>
      <m-tooltip icon="help" i18n="@@WIRE__CHANNEL__OVERVIEW__YOU_SENT_CARD_TOOLTIP">
        This is the amount you have wired to {{channel.name}} in the last 30 days
      </m-tooltip>
    </div>
  </div>

</div>
