@import 'defaults.scss';

:host {
  // *********************************
  // ** MODAL **
  // *********************************
  m-activityV2__modal & {
    .m-dropdown--v2 {
      z-index: 5;
    }
    .m-postMenu__button {
      padding-right: 0;
      margin-right: -5px;
    }
  }

  // *********************************
  // *********************************
  // *********************************
  // ** DEFAULT **
  // *********************************
  // *********************************
  // *********************************

  position: relative;

  ::ng-deep .m-dropdown__list {
    top: 0;
    right: 0;
  }

  ::ng-deep .m-postMenu__button button,
  ::ng-deep .m-postMenu__button {
    padding-right: 0;
  }
}
