@import 'defaults.scss';

:host {
  position: relative;

  ::ng-deep .m-dropdown__list {
    top: 0;
    right: 0;
  }

  ::ng-deep m-postMenu--v2 {
    m-newsfeed--single & {
      position: absolute;

      top: -$spacing1;
      right: -$spacing6;
    }
  }
}
