<div class="m-token-contributions--ledger">
  <div class="m-token-contributions--ledger-filters m-border">
    <m-date-selector label="From:" [date]="startDate" (dateChange)="onStartDateChange($event)" dateFormat="shortDate"></m-date-selector>
    <m-date-selector label="To:" [date]="endDate" (dateChange)="onEndDateChange($event)" dateFormat="shortDate"></m-date-selector>
  </div>

  <table class="mdl-data-table mdl-js-data-table m-border" [mdl]>
    <thead>
      <tr class="m-token-contributions--ledger-header">
        <th class="mdl-data-table__cell--non-numeric m-data-title">Date</th>
        <th class="mdl-data-table__cell--non-numeric m-data-title">Metric</th>
        <th class="mdl-data-table__cell--non-numeric m-data-title">Amount</th>
        <th class="mdl-data-table__cell--non-numeric m-data-title">Score</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let contribution of contributions; let i = index" class="m-token-contributions--ledger-row">
        <td class="mdl-data-table__cell--non-numeric m-token-contributions--ledger-category">{{ contribution.timestamp | date:'mediumDate':'UTC' }}</td>
        <td class="mdl-data-table__cell--non-numeric m-token-contributions--ledger-category">{{ contribution.metric | uppercase }}</td>
        <td class="mdl-data-table__cell--non-numeric m-token-contributions--ledger-category">{{ contribution.amount | number }}</td>
        <td class="mdl-data-table__cell--non-numeric m-token-contributions--ledger-category">{{ contribution.score | token: 18 | number }}</td>
      </tr>

      <tr *ngIf="!contributions || !contributions.length" class="m-token-contributions--ledger-row m-wire-console--ledger-row-placeholder">
        <td colspan="4" class="m-token-contributions--ledger-row-notice">
          No contributions to show.
        </td>
      </tr>
    </tbody>
  </table>
</div>

<infinite-scroll
  distance="25%"
  (load)="load(false)"
  [moreData]="moreData"
  [inProgress]="inProgress">
</infinite-scroll>
