<ng-container *ngIf="initialized$ | async; else loadingSpinnerTemplate">
  <h3 *ngIf="showPageTitle$ | async">Memberships</h3>

  <m-starCard
    [title]="starCardTitleText"
    [description]="starCardDescriptionText$ | async"
    [hideStars]="true"
    [hideBorder]="true"
  ></m-starCard>

  <div class="m-membershipPage__membershipCardsContainer">
    <m-siteMembershipCard
      *ngFor="let membership of memberships$ | async"
      [name]="membership.membershipName"
      [description]="membership.membershipDescription"
      [priceInCents]="membership.membershipPriceInCents"
      [priceCurrencyCode]="membership.membershipPriceCurrency"
      [billingPeriod]="membership.membershipBillingPeriod"
      [pricingModel]="membership.membershipPricingModel"
    >
      <m-joinManageSiteMembershipButton
        [membershipGuid]="membership.membershipGuid"
      ></m-joinManageSiteMembershipButton>
    </m-siteMembershipCard>
  </div>
</ng-container>

<ng-template #loadingSpinnerTemplate>
  <m-loadingSpinner [inProgress]="true"></m-loadingSpinner>
</ng-template>
