@import 'defaults.scss';

:host {
  display: block;
  padding: $spacing6 $spacing12;
  box-sizing: border-box;

  @media screen and (max-width: $max-mobile) {
    padding: $spacing6 $spacing6;
  }

  h3 {
    @include heading3Bold;
    margin: unset;
  }

  m-starCard {
    margin: $spacing12 0;

    &.m-membershipsPage__starCard--compact {
      margin: $spacing4 0;
    }
  }

  .m-membershipsPage__membershipCardsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: $spacing9 $spacing15;

    m-siteMembershipCard {
      flex: 1 0 26%;
    }
  }

  .m-membershipsPage__modalButtonContainer {
    margin-top: $spacing10;
    width: 100%;

    @media screen and (max-width: $max-mobile) {
      padding-bottom: $spacing8;
    }
  }

  &.m-membershipsPage__modal {
    .m-membershipsPage__membershipCardsContainer {
      gap: $spacing4;
      overflow-y: auto;

      @media screen and (min-width: $max-mobile + 1) {
        max-height: 100%;
      }

      m-siteMembershipCard {
        min-width: 180px;
      }
    }
  }
}
