<ng-container *ngIf="initialized$ | async; else loadingSpinnerTemplate">
  <h3 *ngIf="showPageTitle$ | async">Memberships</h3>

  <m-starCard
    [class.m-membershipsPage__starCard--compact]="!showDismissActions"
    [title]="starCardTitleText"
    [description]="starCardDescriptionText$ | async"
    [hideStars]="true"
    [hideBorder]="true"
  ></m-starCard>

  <div class="m-membershipsPage__membershipCardsContainer m-scroll__thin">
    <m-siteMembershipCard
      *ngFor="let membership of memberships$ | async"
      [name]="membership.membershipName"
      [description]="membership.membershipDescription"
      [priceInCents]="membership.membershipPriceInCents"
      [priceCurrencyCode]="membership.membershipPriceCurrency"
      [billingPeriod]="membership.membershipBillingPeriod"
      [pricingModel]="membership.membershipPricingModel"
    >
      <m-joinManageSiteMembershipButton
        [membershipGuid]="membership.membershipGuid"
      ></m-joinManageSiteMembershipButton>
    </m-siteMembershipCard>
  </div>
</ng-container>

<div class="m-membershipsPage__modalButtonContainer" *ngIf="isModal">
  <m-button
    *ngIf="showDismissActions"
    [stretch]="true"
    (onAction)="onDismissIntent()"
    i18n="@@SITE_MEMBERSHIPS_PAGE__GET_LATER"
    >Get later</m-button
  >
</div>

<ng-template #loadingSpinnerTemplate>
  <m-loadingSpinner [inProgress]="true"></m-loadingSpinner>
</ng-template>

<m-modalCloseButton
  *ngIf="isModal && showDismissActions"
  class="noAbsolutePosition"
  data-ref="m-siteMemnbershipsPage__button--modalClose"
></m-modalCloseButton>
