<m-analytics__card [title]="'Withdraw'" [options]="['daily', 'monthly']" #card>
  <div class="m-analytics__averages">
    <div class="m-analytics__average">
      <h6>Avg Withdrawn Tokens</h6>
      <h5>{{ tokens | number: '1.0' }}</h5>
    </div>

    <div class="m-analytics__average">
      <h6>Avg Withdraw Transactions</h6>
      <h5>{{ transactions | number: '1.0' }}</h5>
    </div>
    <div class="m-analytics__average">
      <h6>Avg of Withdrawing Users</h6>
      <h5>{{ users | number: '1.0' }}</h5>
    </div>
  </div>

  <div class="m-analytics__averages">
    <div class="m-analytics__average" *ngFor="let current of currents">
      <h6>Current {{ current.name }}</h6>
      <h5>{{ current.value | number: '1.0-0' }}</h5>
    </div>
  </div>

  <div class="m-analyticsCard__charts">
    <m-analyticscharts__withdraw
      [timespan]="card.selectedOption"
      (loaded)="currents = $event"
    ></m-analyticscharts__withdraw>
  </div>
</m-analytics__card>
