m--tree {
  display: block;
  color: black;
  font-size: 14px;

  .m-tree--items {
    display: flex;
    align-items: baseline;

    .m-tree--items-icon {
      width: 10px;
      line-height: 10px;
      height: 10px;
      border: 1px solid black;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-right: 3px;

      cursor: pointer;
      user-select: none;
      font-size:16px;
    }

    .m-tree--items--label {
      flex-grow: 1;
      cursor: pointer;

      &:hover {
        background-color: 	#2196f3;
      }
    }
  }
}