@import 'defaults.scss';

:host {
  .m-group__about {
    display: flex;
    flex-flow: column nowrap;
  }
  // ojm make the vertical padding here sane
  // also only show the member preview padding when there are previews to show

  .m-groupAbout__section {
    @media screen and (max-width: $max-mobile) {
      padding: 0 $spacing5 $spacing2;
    }
  }

  .m-groupAbout__section--memberPreviews {
    display: block;
    margin-top: 0;
    margin-bottom: $spacing3;
    @media screen and (max-width: $max-mobile) {
      margin-top: $spacing4;
    }

    ::ng-deep m-userAggregator {
      flex-flow: row nowrap;
    }
  }

  .m-groupAbout__section--restrictions {
    @include unselectable;
    padding-bottom: 0;
    display: flex;
    gap: $spacing2;
    @media screen and (min-width: $max-mobile + 1) {
      padding-bottom: $spacing4;
    }
    .m-groupAbout__restriction {
      display: flex;
      align-items: center;
      @include body2Regular;
      @include m-theme() {
        color: themed($m-textColor--primary);
      }

      i {
        width: $spacing5;
        font-size: 20px;
        @include m-theme() {
          color: themed($m-textColor--secondary);
          padding-right: $spacing2;
        }
      }

      // OCD
      &.m-groupAbout__restriction--moderated {
        i {
          font-size: 19px;
        }
      }
    }
  }

  .m-groupAbout__section--desc {
    @include body2Regular;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }

    .m-groupAboutDesc__content {
      white-space: pre-line;
      word-break: break-word;
      max-width: 100%;
      max-height: 70vh;

      overflow-y: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
