<m-settingsV2__header>
  <div class="m-settingsV2__headerLabel">
    <span i18n="@@SETTINGS__PRO__THEME__LABEL">Theme</span>
  </div>
  <div class="m-settingsV2__desc" i18n="@@SETTINGS__PRO__THEME__DESCRIPTION">
    Set up your site's color theme.
    <a class="m-form__upgradeLink" routerLink="/pro" *ngIf="!isActive"
      >Upgrade to Pro</a
    >
  </div>
</m-settingsV2__header>

<form *ngIf="form" [formGroup]="form" class="m-formLayout--buttonRight">
  <div class="m-form__fieldsContainer">
    <div class="m-form__field--color hasValidationRow">
      <div class="m-form__row--label">
        <label for="text_color" i18n="@@PRO_THEME__TEXT_COLOR"
          >Text Color</label
        >
        <m-tooltip
          ><span m-tooltip--anchor>𝒊</span>
          <ng-container i18n="@@PRO_THEME__COLOR_OF_PRO_SITE_INFO"
            >The color of text on your Pro site</ng-container
          >
        </m-tooltip>
      </div>
      <div
        class="m-form__row--input"
        [ngClass]="{
          invalid: text_color.invalid
        }"
      >
        <input
          type="text"
          id="text_color"
          name="text_color"
          formControlName="text_color"
          #textColor
          data-ref="m-settingsV2ProTheme__textColor"
          [pattern]="hexPattern"
          class="form-control"
          required
          (ngModelChange)="updateColorPicker('text_color', textColor.value)"
        />
        <label
          for="text_color_picker"
          class="m-form__colorPreview"
          [ngStyle]="{
            backgroundColor: textColorPicker.value
          }"
          ><input
            class="form-control"
            type="color"
            id="text_color_picker"
            data-ref="m-settingsV2ProTheme__textColorPicker"
            formControlName="text_color_picker"
            #textColorPicker
            (ngModelChange)="
              updateColorText('text_color', textColorPicker.value)
            "
        /></label>
      </div>
      <div class="m-form__row--validation">
        <p
          *ngIf="text_color.hasError('pattern')"
          i18n="@@PRO_THEME__INVALID_HEX_CODE"
        >
          Invalid hex code
        </p>
        <p
          *ngIf="text_color.hasError('required')"
          i18n="@@PRO_THEME__TEXT_COLOR_REQUIRED"
        >
          Text color is required
        </p>
      </div>
    </div>

    <div class="m-form__field--color hasValidationRow">
      <div class="m-form__row--label">
        <label for="primary_color" i18n="@@PRO_THEME__ACCENT_COLOR"
          >Accent Color</label
        ><m-tooltip
          ><span m-tooltip--anchor>𝒊</span>
          <ng-container i18n="@@PRO_THEME__ACCENT_COLOR_INFO"
            >Links will become this color when you hover over them</ng-container
          >
        </m-tooltip>
      </div>
      <div
        class="m-form__row--input"
        [ngClass]="{
          invalid: primary_color.invalid
        }"
      >
        <input
          type="text"
          id="primary_color"
          name="primary_color"
          #primaryColor
          data-ref="m-settingsV2ProTheme__primaryColor"
          formControlName="primary_color"
          [pattern]="hexPattern"
          class="form-control"
          required
          (ngModelChange)="
            updateColorPicker('primary_color', primaryColor.value)
          "
        />
        <label
          for="primary_color_picker"
          class="m-form__colorPreview"
          [ngStyle]="{
            backgroundColor: primaryColorPicker.value
          }"
          ><input
            class="form-control"
            type="color"
            id="primary_color_picker"
            name="primary_color_picker"
            formControlName="primary_color_picker"
            #primaryColorPicker
            data-ref="m-settingsV2ProTheme__primaryColorPicker"
            (ngModelChange)="
              updateColorText('primary_color', primaryColorPicker.value)
            "
        /></label>
      </div>
      <div class="m-form__row--validation">
        <p
          *ngIf="primary_color.hasError('pattern')"
          i18n="@@PRO_THEME__INVALID_HEX_CODE"
        >
          Invalid hex code
        </p>
        <p
          *ngIf="primary_color.hasError('required')"
          i18n="@@PRO_THEME__LINK_COLOR_REQUIRED"
        >
          Link color is required
        </p>
      </div>
    </div>

    <div class="m-form__field--color hasValidationRow">
      <div class="m-form__row--label">
        <label
          for="plain_background_color"
          i18n="@@PRO_THEME__BACKGROUND_COLOR"
        >
          Background Color </label
        ><m-tooltip
          ><span m-tooltip--anchor>𝒊</span>
          <ng-container i18n="@@PRO_THEME__BACKGROUND_COLOR_INFO"
            >The background color of some elements on your site</ng-container
          >
        </m-tooltip>
      </div>
      <div
        class="m-form__row--input"
        [ngClass]="{
          invalid: plain_background_color.invalid
        }"
      >
        <input
          type="text"
          id="plain_background_color"
          name="plain_background_color"
          #plainBgColor
          data-ref="m-settingsV2ProTheme__plainBgColor"
          formControlName="plain_background_color"
          [pattern]="hexPattern"
          class="form-control"
          required
          (ngModelChange)="
            updateColorPicker('plain_background_color', plainBgColor.value)
          "
        />

        <label
          for="plain_background_color_picker"
          class="m-form__colorPreview"
          [ngStyle]="{
            backgroundColor: plainBgColorPicker.value
          }"
          ><input
            class="form-control"
            type="color"
            id="plain_background_color_picker"
            name="plain_background_color_picker"
            formControlName="plain_background_color_picker"
            #plainBgColorPicker
            data-ref="m-settingsV2ProTheme__plainBgColorPicker"
            (ngModelChange)="
              updateColorText(
                'plain_background_color',
                plainBgColorPicker.value
              )
            "
        /></label>
      </div>
      <div class="m-form__row--validation">
        <p
          *ngIf="plain_background_color.hasError('pattern')"
          i18n="@@PRO_THEME__INVALID_HEX_CODE"
        >
          Invalid hex code
        </p>
        <p
          *ngIf="plain_background_color.hasError('required')"
          i18n="@@PRO_THEME__BACKGROUND_COLOR_REQUIRED"
        >
          Background color is required
        </p>
      </div>
    </div>

    <div class="m-form__field--radio">
      <div class="m-form__row--label">
        <label i18n="@@PRO_THEME__COLOR_SCHEMA"> Color Schema </label>
      </div>
      <div class="m-form__row--input">
        <label
          for="scheme_light"
          class="m-form__customInputWrapper__radio"
          data-ref="m-settingsV2ProTheme__schemeLight"
        >
          <ng-container i18n="@@COMMON__LIGHT">Light</ng-container>
          <input
            type="radio"
            id="scheme_light"
            name="scheme"
            value="light"
            formControlName="scheme"
            class="form-control"
          />
          <span class="m-form__customInput__radio"></span>
        </label>
        <label
          for="scheme_dark"
          class="m-form__customInputWrapper__radio"
          data-ref="m-settingsV2ProTheme__schemeDark"
        >
          <ng-container i18n="@@COMMON__DARK">Dark</ng-container>
          <input
            type="radio"
            id="scheme_dark"
            name="scheme"
            value="dark"
            formControlName="scheme"
            class="form-control"
          />
          <span class="m-form__customInput__radio"></span>
        </label>
      </div>
    </div>

    <div class="m-form__field--radio">
      <div class="m-form__row--label">
        <label>
          <ng-container i18n="@@PRO_THEME__TILE_ASPECT_RATIOS"
            >Tiles Aspect Ratio</ng-container
          >
          <m-tooltip
            ><span m-tooltip--anchor>𝒊</span>
            <ng-container i18n="@@PRO_THEME__TILE_ASPECT_RATIOS_INFO"
              >The width-to-height ratio of tiles on your site</ng-container
            >
          </m-tooltip></label
        >
      </div>
      <div class="m-form__row--input">
        <ng-container *ngFor="let ratio of ratios">
          <label
            [for]="'tile_ratio_' + ratio"
            class="m-form__customInputWrapper__radio"
            >{{ ratio }}
            <input
              type="radio"
              [id]="'tile_ratio_' + ratio"
              name="tile_ratio"
              [value]="ratio"
              formControlName="tile_ratio"
              class="form-control"
              data-ref="m-settingsV2ProTheme__tileRatio"
            />
            <span class="m-form__customInput__radio"></span>
          </label>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="m-form__buttonsContainer">
    <m-button
      color="blue"
      [disabled]="!canSubmit()"
      [saving]="inProgress"
      (onAction)="submit()"
      i18n="@@PRO_THEME__SAVE_THEME"
    >
      Save Theme
    </m-button>
  </div>
</form>
