<div class="mdl-spinner mdl-js-spinner is-active" [mdl] *ngIf="!loaded"></div>
<div class="m-walletSettings" id="usdSettings" *ngIf="loaded">
  <ng-container *ngIf="!hasAccount">
    <div
      class="m-walletSettingsView--addAccount"
      *ngIf="!leftMonetization"
    >
      <p>Add your bank account details where monthly rewards are deposited</p>
      <m-shadowboxSubmitButton
        (click)="addBank()"
        [disabled]="inProgress"
        >Add your bank details</m-shadowboxSubmitButton
      >
    </div>
    <!-- <div class="m-walletSettingsView--leftAccount" *ngIf="leftMonetization">
      <p>
        You have left the monetization program. For security reasons, you can't
        join again.
      </p>
    </div> -->
  </ng-container>
  <ng-container *ngIf="hasAccount">
    <div class="m-walletSettingsView--accountSplash" *ngIf="!editing">

    </div>
    <div class="m-walletSettingsView--editing" *ngIf="editing"></div>

  </ng-container>

    <m-walletModal [showModal]="showModal" (closeModal)="showModal = false">
      <p>
        Are you sure you want to leave the monetization program? You can't undo
        this.
      </p>
      <p></p>
      <div class="m-walletSettings--usd__leaveModalButtons">
        <m-shadowboxSubmitButton [color]="grey" (click)="showModal = false"
          >Cancel</m-shadowboxSubmitButton
        >
        <m-shadowboxSubmitButton [color]="red" (click)="leaveMonetization()"
          >I'm sure</m-shadowboxSubmitButton
        >
      </div>
    </m-walletModal>
  </div>
</div>
