m-button--admin-actions {
  display: inline-block;
  position: relative;

  > span.minds-button-edit {
    display: inline-block;
  }

  .minds-dropdown-menu {
    right: auto;
    top: $minds-padding * 3;
    left: 0;
  }
}
