@import 'defaults.scss';

.m-messenger--encryption {
  input {
    -webkit-appearance: none;
    outline: none;
    border: 0;
    margin: 0;
    padding: 12px;
    width: 132px;
  }
  .mdl-button,
  button {
    padding: 0;
    font-size: 12px;
  }
  p.m-messenger--error {
    font-size: 11px;
    margin: 0;
    padding: 8px;
    font-weight: bold;
  }
  .m-messenger--encryption-setup-note {
    font-size: 11px;
    line-height: 1.35;
    margin: 0;
    padding: 8px 12px;
  }
  .m-messenger--encryption-setup-help {
    font-size: 11px;
    line-height: 1.35;
    margin: 0;
    padding: 8px 12px;
    @include m-theme() {
      color: themed($m-grey-700);
    }
  }
  .m-messenger--encryption-rekey {
    p {
      line-height: 11px;
      font-size: 10px;
      margin: 0;
      padding: $minds-padding;
    }
    a {
      cursor: pointer;
    }
    input {
      font-size: 12px;

      @include m-theme() {
        background-color: themed($m-bgColor--primary);
        color: themed($m-textColor--primary);
        border-top: 1px solid themed($m-borderColor--primary);
        border-right: 1px solid themed($m-borderColor--primary);
      }
    }
  }
}
