<div
  class="m-sidebarNavigation"
  [class.m-sidebarNavigation--slide]="layoutMode === 'phone'"
  (click)="onSidebarNavClick($event)"
>
  <nav>
    <div class="m-sidebarNavigation__top">
      <a
        routerLink="/"
        title="Home"
        i18n-title="@@COMMON__HOME"
        (click)="toggle()"
      >
        <img
          *ngIf="layoutMode !== 'phone'"
          [src]="cdnAssetsUrl + 'assets/logos/bulb.svg'"
        />
        <ng-container *ngIf="layoutMode === 'phone'">
          <img
            [ngClass]="{ 'm-sidebarNavigation__tenantLogo': isTenantNetwork }"
            [src]="getLogoSrc$(isDarkTheme ? 'dark' : 'light') | async"
          />
        </ng-container>
        <m-environmentFlag
          *ngIf="!isTenantNetwork"
          class="m-sidebarNavigation__environmentFlag"
        ></m-environmentFlag>
      </a>

      <i class="material-icons" (click)="toggle()">close</i>
    </div>

    <!-- Reorganised order variation -->
    <ul class="m-sidebarNavigation__list">
      <!-- ------------------------------------------ -->
      <!-- TENANTS ONLY (CUSTOM NAV)-->
      <!-- ------------------------------------------ -->
      <m-sidebar__customNavigationItems
        *mIfTenant="true"
        (itemClicked)="toggle()"
      ></m-sidebar__customNavigationItems>
      <!-- ------------------------------------------ -->
      <!-- MINDS ONLY -->
      <!-- ------------------------------------------ -->
      <ng-container *mIfTenant="false">
        <!-- Newsfeed -->
        <li
          class="m-sidebarNavigation__item"
          [routerLinkActive]="'m-sidebarNavigation__item--active'"
          *ngIf="user"
        >
          <a
            [routerLink]="['/newsfeed/subscriptions']"
            (click)="toggle()"
            data-ref="sidenav-newsfeed"
          >
            <div class="m-sidebarNavigationItem__hoverArea">
              <i class="material-icons">home</i>
              <span
                class="m-sidebarNavigationItem__text m-legible"
                i18n="@@COMMON__NEWSFEED"
                >Newsfeed</span
              >
            </div>
          </a>
        </li>

        <!-- Explore -->
        <li
          class="m-sidebarNavigation__item"
          [routerLinkActive]="'m-sidebarNavigation__item--active'"
          [routerLinkActiveOptions]="{
            exact: plusPageActive || (!user && isTenantNetwork)
          }"
        >
          <a
            [routerLink]="shouldBeDiscoveryHomepage() ? '/' : '/discovery'"
            (click)="toggle(); discoveryLinkClicked = true"
            data-ref="sidenav-discovery"
          >
            <div class="m-sidebarNavigationItem__hoverArea">
              <!-- <m-sidebarNavigation__newContentDot
                [discoveryLinkClicked]="discoveryLinkClicked"
              ></m-sidebarNavigation__newContentDot> -->
              <i class="material-icons m-sidebarNavigation__hashIcon">#</i>
              <span class="m-sidebarNavigationItem__text m-legible">
                <ng-container i18n="@@COMMON__EXPLORE">Explore</ng-container>
              </span>
            </div>
          </a>
        </li>

        <!-- Explore -->
        <li
          *ngIf="!isTenantNetwork"
          class="m-sidebarNavigation__item"
          [routerLinkActive]="'m-sidebarNavigation__item--active'"
        >
          <a
            routerLink="/search"
            [queryParams]="{ q: '', f: 'latest', t: 'audio' }"
            (click)="toggle()"
            data-ref="sidenav-audio"
          >
            <div class="m-sidebarNavigationItem__hoverArea">
              <i class="material-icons">headphones</i>
              <span class="m-sidebarNavigationItem__text m-legible">
                <ng-container i18n="@@COMMON__EXPLORE">Audio</ng-container>
              </span>
            </div>
          </a>
        </li>

        <!-- Chat -->
        <ng-container *ngIf="chatExperimentIsActive && !!user">
          <li
            class="m-sidebarNavigation__item m-sidebarNavigation__item--chat"
            [routerLinkActive]="'m-sidebarNavigation__item--active'"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a
              [routerLink]="['/chat']"
              (click)="toggle()"
              data-ref="sidenav-chat"
            >
              <div class="m-sidebarNavigationItem__hoverArea">
                <i class="material-icons" [class.showDot]="chatUnreadCount > 0"
                  >chat_bubble_outline</i
                >
                <span
                  class="m-sidebarNavigationItem__text m-legible"
                  i18n="@@COMMON__CHAT"
                  >Chat</span
                >
              </div>
            </a>
          </li>
        </ng-container>

        <!-- Boost -->
        <li
          class="m-sidebarNavigation__item m-sidebarNavigation__item--boost"
          [routerLinkActive]="'m-sidebarNavigation__item--active'"
          *ngIf="hasBoostPermission"
        >
          <a
            [routerLink]="['/boost/boost-console']"
            (click)="toggle()"
            data-ref="sidenav-boost"
          >
            <div class="m-sidebarNavigationItem__hoverArea">
              <i class="material-icons">trending_up</i>
              <span
                class="m-sidebarNavigationItem__text m-legible"
                i18n="@@COMMON__BOOST"
                >Boost</span
              >
            </div>
          </a>
        </li>

        <!-- Minds+ -->
        <li
          class="m-sidebarNavigation__item"
          [routerLinkActive]="'m-sidebarNavigation__item--active'"
          [routerLinkActiveOptions]="{ exact: !plusPageActive }"
        >
          <a
            routerLink="/discovery/plus/overview"
            (click)="toggle()"
            data-ref="sidenav-plus"
          >
            <div class="m-sidebarNavigationItem__hoverArea">
              <i class="material-icons">add_to_queue</i>
              <span
                class="m-sidebarNavigationItem__text m-legible"
                i18n="@@COMMON__MINDS+"
                >Minds+</span
              >
            </div>
          </a>
        </li>

        <!-- Supermind -->
        <li
          class="m-sidebarNavigation__item m-sidebarNavigation__item--supermind"
          [routerLinkActive]="'m-sidebarNavigation__item--active'"
        >
          <a
            routerLink="/supermind"
            (click)="toggle()"
            data-ref="sidenav-supermind"
          >
            <div class="m-sidebarNavigationItem__hoverArea">
              <i class="material-icons">tips_and_updates</i>
              <span
                class="m-sidebarNavigationItem__text m-legible"
                i18n="@@COMMON__SUPERMIND"
                >Supermind</span
              >
            </div>
          </a>
        </li>

        <!-- Wallet -->
        <li
          class="m-sidebarNavigation__item"
          [routerLinkActive]="'m-sidebarNavigation__item--active'"
          *ngIf="user"
        >
          <a
            [routerLink]="['/wallet']"
            (click)="toggle()"
            data-ref="sidenav-wallet"
          >
            <div class="m-sidebarNavigationItem__hoverArea">
              <i class="material-icons">account_balance</i>
              <span
                class="m-sidebarNavigationItem__text m-legible"
                i18n="@@COMMON__WALLET"
                >Wallet</span
              >
            </div>
          </a>
        </li>

        <!-- Groups -->
        <ng-container>
          <li
            class="m-sidebarNavigation__item m-sidebarNavigation__item--groups"
            [routerLinkActive]="'m-sidebarNavigation__item--active'"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a
              [routerLink]="['/groups/memberships']"
              (click)="toggle()"
              data-ref="sidenav-groups"
            >
              <div class="m-sidebarNavigationItem__hoverArea">
                <i class="material-icons">group</i>
                <span
                  class="m-sidebarNavigationItem__text m-legible"
                  i18n="@@COMMON__GROUPS"
                  >Groups</span
                >
              </div>
            </a>
          </li>
        </ng-container>

        <!-- Networks -->
        <li
          class="m-sidebarNavigation__item m-sidebarNavigation__item--networks"
          [routerLinkActive]="'m-sidebarNavigation__item--active'"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a
            [routerLink]="isLoggedIn() ? ['/networks'] : ['/about/networks']"
            (click)="toggle()"
            data-ref="sidenav-networks-list"
          >
            <div class="m-sidebarNavigationItem__hoverArea">
              <i class="material-icons">dashboard</i>
              <span
                class="m-sidebarNavigationItem__text m-legible"
                i18n="@@COMMON__NETWORKS"
                >Networks</span
              >
            </div>
          </a>
        </li>

        <!-- Upgrade -->
        <li
          *ngIf="user"
          class="m-sidebarNavigation__item m-sidebarNavigation__item--upgrade"
          [routerLinkActive]="'m-sidebarNavigation__item--active'"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a
            [routerLink]="['/upgrade']"
            (click)="toggle()"
            data-ref="sidenav-upgrade"
          >
            <div class="m-sidebarNavigationItem__hoverArea">
              <i class="material-icons">verified</i>
              <span
                class="m-sidebarNavigationItem__text m-legible"
                i18n="@@COMMON__UPGRADE"
                >Upgrade</span
              >
            </div>
          </a>
        </li>

        <!-- User's channel -->
        <li
          *ngIf="user"
          class="m-sidebarNavigation__item m-sidebarNavigation__item--user"
          [routerLinkActive]="'m-sidebarNavigation__item--active'"
        >
          <a
            [routerLink]="['/' + user.username]"
            (click)="toggle()"
            data-ref="sidenav-channel"
          >
            <div class="m-sidebarNavigationItem__hoverArea">
              <img
                [src]="cdnUrl + 'icon/' + user.guid + '/small/' + user.icontime"
                alt=""
              />
              <span class="m-sidebarNavigationItem__text m-legible">
                &#64;{{ user.username }}
              </span>
            </div>
          </a>
        </li>
      </ng-container>
      <!-- ------------------------------------------ -->
      <!-- END MINDS ONLY -->
      <!-- ------------------------------------------ -->

      <!-- Click event is handled by float-ui inside trigger component -->
      <m-sidebarMore__trigger (toggle)="onSidebarMoreToggle($event)">
        <li
          class="m-sidebarNavigation__item"
          [routerLinkActive]="'m-sidebarNavigation__item--active'"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a data-ref="sidenav-more">
            <div class="m-sidebarNavigationItem__hoverArea">
              <i
                #iconElement
                class="material-icons m-icon--more"
                m-tooltip--anchor
                >more_horiz</i
              >
              <span
                class="m-sidebarNavigationItem__text m-legible"
                i18n="@@COMMON__MORE"
                >More</span
              >
            </div>
          </a>
        </li>
      </m-sidebarMore__trigger>

      <!-- Compose button -->
      <li
        *ngIf="
          !permissionIntentsService.shouldHide(PermissionsEnum.CanCreatePost)
        "
        class="m-sidebarNavigation__item m-sidebarNavigation__item--compose"
        [routerLinkActive]="'m-sidebarNavigation__item--active'"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <!-- Which shows here is determined by media queries -->
        <m-button
          class="m-sidebarNavigation__composeButton--large"
          color="blue"
          solid="true"
          size="medium"
          (onAction)="openComposeModal()"
          data-ref="sidenav-composer"
          >Create</m-button
        >
        <m-button
          class="m-sidebarNavigation__composeButton--small"
          color="blue"
          solid="true"
          size="large"
          iconOnly="true"
          (onAction)="openComposeModal()"
          data-ref="sidenav-composer"
          >+</m-button
        >
      </li>
    </ul>
  </nav>
</div>

<div
  class="minds-bg-overlay m-sidebarNavigation__overlay"
  *ngIf="isOpened && layoutMode === 'phone'"
  (click)="toggle()"
></div>
