<div class="m-suggestions__sidebar">
  <h3 class="m-newsfeedSidebar__header">Suggested channels</h3>
  <span *ngIf="error && !inProgress" class="m-suggestionsSidebar__empty">
    {{ error }}
  </span>
  <span
    *ngIf="!error && !inProgress && !suggestions.length"
    class="m-suggestionsSidebar__empty"
  >
    You have no suggestions at this time
  </span>
  <ul class="m-suggestionsSidebar__list m-border" *ngIf="suggestions.length">
    <li
      *ngFor="let suggestion of suggestions"
      class="m-suggestionsSidebarList__item"
    >
      <a [routerLink]="['/', suggestion.entity.username]">
        <div
          class="m-suggestionsSidebarListItem__avatar"
          [style.background-image]="
            'url(' + cdnUrl + '/icon/' + suggestion.entity.guid + ')'
          "
        ></div>
        <div class="m-suggestionsSidebarListItem__body">
          <div [title]="suggestion.entity.briefdescription">
            <h4>{{ suggestion.entity.username }}</h4>
            <span>{{ suggestion.entity.briefdescription }}</span>
          </div>
          <div class="m-layout__spacer"></div>
          <i
            class="material-icons m-suggestionsSidebarListItem__passBtn"
            (click)="pass(suggestion, $event)"
            >close</i
          >
          <minds-button-subscribe
            [user]="suggestion.entity"
            (subscribed)="remove(suggestion)"
          ></minds-button-subscribe>
        </div>
      </a>
    </li>
  </ul>
  <div
    class="mdl-spinner mdl-js-spinner is-active"
    [mdl]
    [hidden]="!inProgress"
  ></div>
</div>
