@import 'defaults.scss';
// Not using color themes mix-in because everything
// is the same in both light mode and dark mode
:host {
  display: block;
  position: fixed;
  bottom: 0;
  left: 20px;
  max-width: 522px;
  width: 40%;
  @include z-index(popover--modal);
  @media screen and (max-width: $max-mobile) {
    width: 100%;
    left: 0;
  }
  .m-statusToast__toastsContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
  }
  .m-statusToasterContainer__spacer {
    height: 24px;
  }
  .m-statusToast__wrapper {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    border-radius: $m-borderRadius;
    color: #fff;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-height: 500px;
    p {
      flex-grow: 1;
      margin: 0;
      line-height: 15px;
      word-wrap: break-word;
      overflow: hidden;
    }
    &.m-statusToast__wrapper--unresolved {
      background-color: #d49538;
    }
    &.m-statusToast__wrapper--resolved {
      background-color: #5a91bb;
    }
  }
  .m-statusToaster__spacer {
    height: 16px;
  }
  [class*='m-statusToast__iconWrapper'] {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 15px;
    i {
      font-size: 20px;
    }
    &:not(.m-statusToast__iconWrapper--close) {
      align-self: stretch;
      min-width: 58px;
      i {
        color: #fff;
      }
    }
  }
  .m-statusToast__iconWrapper--close {
    cursor: pointer;
    align-self: start;
    margin-right: 15px;
    transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
    &:hover {
      transform: scale(1.1);
    }
    i {
      opacity: 0.8;
    }
  }
  .m-statusToast__details {
    flex-basis: 100%;
  }
  .m-statusToastDetails__title {
    font-size: 17px;
    line-height: 19px !important;
    font-weight: 500;
    margin: 18px 0 10px !important;
  }
  .m-statusToastDetails__desc {
    font-size: 15px;
    line-height: 17px;
    margin-bottom: 10px !important;
  }
  .m-statusToastDetails__updated {
    font-size: 13px;
    margin-bottom: 10px !important;
  }
  .m-statusToastDetails__link {
    margin-bottom: 15 !important;
    a {
      color: #fff !important;
      font-weight: 400;
      font-size: 14px;
    }
  }
  @media screen and (max-width: $max-mobile) {
    .m-statusToast__wrapper {
      border-radius: 0;
    }
    .m-statusToaster__spacer {
      height: 8;
    }
    .m-statusToastContainer__spacer {
      height: 0px;
    }
  }
}
