@import 'defaults.scss';

:host {
  .m-authModalProSiteHeader__channelBanner {
    position: relative;
    width: 100%;
    min-height: 75px;
    user-select: none;

    @media screen and (max-width: $max-mobile) {
      height: 100px;
    }

    .m-authModalProSiteHeaderChannelBanner__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: none no-repeat center center;
      background-size: cover;

      @include m-theme() {
        background-color: themed($m-bgColor--primary);
      }
    }
    .m-authModalProSiteHeaderChannelBanner__logo {
      position: relative;
      max-height: 75px;
      margin: 20px 40px;
    }
  }
}
