<div class="m-supermind__banner" *ngIf="entity">
  <div class="m-supermindBanner__text" *ngIf="displayName">
    <span>Get replies from creators like </span>
    <span class="m-supermindBannerText__bold">{{
      displayName | truncate: 20
    }}</span>
  </div>
  <m-supermind__button
    *ngIf="!supermindButtonExperiment"
    [entity]="entity"
    [iconOnly]="false"
    size="xsmall"
    data-ref="activity-large-supermind-action"
    class="m-supermindBanner__button"
  ></m-supermind__button>
</div>
