<div class="m-root-loader" *ngIf="statusInProgress">
  <div class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
</div>

<div *ngIf="loaded && isMerchant">

  <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-color-text--blue-grey-500" [hidden]="inProgress">
    <div class="mdl-card__supporting-text" *ngIf="status == 'pending'">
      <!-- i18n -->Thanks for monetizing your channel, we are currently reviewing your application. For now, checkout your <a [routerLink]="['/boosts/peer/inbox']">boost console</a> where you can advertise your content.<!-- /i18n -->
    </div>
    <div class="mdl-card__supporting-text" *ngIf="status == 'awaiting-document'">
      <p i18n>We need you to upload verification of your identity. Please provide us with photo ID.</p>
      <input type="file" #file name="identification"/>
      <button class="mdl-button mdl-button--colored" (click)="uploadDocument(file)" i18n>Upload</button>
    </div>
  </div>

  <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active" [hidden]="!inProgress"></div>

  <div class="minds-spacer-2x"></div>

  <!-- Exclusive content -->
  <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-color-text--blue-grey-500 m-merchant-plans-exclusive" *ngIf="status == 'active'">
    <div class="mdl-card__supporting-text">
      <p i18n>Monetizing will allow users to support you  monthly and see your monetized posts. Any post can be monetized by clicking the dollar icon in the status field before posting.</p>

      <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect is-checked" for="switch-1" [mdlSwitch] [toggled]="exclusive.enabled">
          <input type="checkbox" id="switch-1" class="mdl-switch__input" [(ngModel)]="exclusive.enabled" [mdl]>
        <span class="mdl-switch__label" i18n>Activate monthly support</span>
      </label>
    </div>
    <div class="mdl-grid m-merchant-plans-exclusive--inputs" *ngIf="exclusive.enabled">
      <div class="mdl-cell mdl-cell--12-col">
        <p>The below description and preview image is what your subscribers will see on your monetized posts until they become an investor.</p>
      </div>
      <div class="mdl-cell mdl-cell--12-col m-merchant-plans-exclusive--price">
        <label i18n>Monthly price</label>
        <span class="m-merchant-plans-exclusive--price-dolar mdl-color-text--green">$</span>
        <input class="mdl-color-text--green" type="number" min="1" placeholder="eg. 10" i18n-placeholder [(ngModel)]="exclusive.amount" (keyup)="exclusive.saved = false"/>
      </div>
      <div class="mdl-cell mdl-cell--12-col m-merchant-plans-exclusive--intro">
        <label i18n>Description</label>
        <input type="text" placeholder="eg. Support me to see my exclusive content and join me for a monthly video chat" [(ngModel)]="exclusive.intro" (keyup)="exclusive.saved = false"/>
      </div>
      <div class="mdl-cell mdl-cell--12-col m-merchant-plans-exclusive--preview">
        <label i18n>Preview</label>
        <input type="file" #preview name="preview" (change)="updatePreview(preview)"/>
        <button class="mdl-button mdl-button--colored" (click)="uploadPreview(preview)" i18n>Upload</button>

        <img [src]="preview.src || minds.cdn_url + 'fs/v1/paywall/preview/' + session.getLoggedInUser().guid + '/' + ts" />

      </div>

      <button class="mdl-button mdl-button--colored" (click)="saveExclusive()" [disabled]="exclusive.saving" *ngIf="!exclusive.saved && !exclusive.saving">Save</button>
       <button class="mdl-button mdl-button--colored" disabled="disabled" *ngIf="exclusive.saving">Saving...</button>
      <button class="mdl-button mdl-button--colored"  disabled="disabled" *ngIf="exclusive.saved">Saved</button>
    </div>
  </div>
  <!-- END: Exclusive content -->

</div>
