@import 'defaults.scss';

:host {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: $spacing14 $spacing18;
  box-sizing: border-box;
  overflow-x: hidden;

  .m-featureCarousel__carousel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    max-height: 100%;
    height: 100%;

    .m-featureCarousel__itemTitle {
      margin-top: unset;
      margin-bottom: $spacing24;
      text-align: center;
      @include heading3Bold;

      @include m-theme() {
        color: themed($m-bgColor--primary);
      }
    }

    .m-featureCarousel__itemImage {
      flex: 1;
      min-height: 0;
      max-height: 1400px;
      height: 100%;
      margin-bottom: $spacing24;

      @media screen and (max-height: 600px) {
        visibility: hidden;
      }
    }
  }

  .m-featureCarousel__itemSelector {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @include unselectable;

    &.m-featureCarousel__itemSelector--hidden {
      visibility: hidden;
    }

    .m-featureCarousel__itemSelectorArrow {
      font-size: 64px;
      cursor: pointer;

      @include m-theme() {
        color: themed($m-black-always);
      }

      &.m-featureCarousel__itemSelectorArrow--disabled {
        cursor: default;
        opacity: 25%;
      }
    }

    .m-featureCarousel__itemSelectorDot {
      height: 17px;
      width: 17px;
      border-radius: 50%;
      cursor: pointer;

      @include m-theme() {
        background-color: themed($m-black-always);
      }

      &.m-featureCarousel__itemSelectorDot--inactive {
        opacity: 25%;
      }
    }
  }
}
