<div class="m-wallet--balance m-border">
  <img [src]="minds.cdn_assets_url + 'assets/logos/bulb.svg'" class="m-wallet--balance--logo" />

  <ng-container *ngIf="!inProgress; else loading">
    <h2>{{ balance | token: 18 | number }}</h2>
  </ng-container>

  <ng-template #loading>
    <h2>...</h2>
  </ng-template>

  <h3>Tokens</h3>

  <div class="m-wallet--balance--addresses">

    <span *ngIf="addresses.length">Breakdown</span>

    <div class="m-wallet--balance--addresses-address" *ngFor="let address of addresses">
      
      <div class="m-wallet--balance--addresses-address-col">
        <label class="m-wallet--balance--addresses-address-label">
          <span>{{address.label}} Address</span>
          <m-tooltip icon="help" *ngIf="address.label == 'Receiver'">
            This is your public address which will receive Boost & Wire transactions via the blockchain.
            You can change this in Addresses.
          </m-tooltip>
          <m-tooltip icon="help" *ngIf="address.label == 'OffChain'">
            This is your offchain address where your rewards are deposited. These transaction will not appear on the blockchain.
          </m-tooltip>
          <m-tooltip icon="help" *ngIf="address.label == 'OnChain'">
            This is your currently active Web3/Metamask wallet. This address differs from what you have configured to receive Boost & Wires via the blockchain.
          </m-tooltip>
          <m-tooltip icon="help" *ngIf="address.label == 'OnChain & Receiver'">
            This is your currently active Web3/Metamask wallet and is also configured to receive Boost & Wires via the blockchain.
          </m-tooltip>
        </label>
        <span class="m-wallet--balance--addresses-address-address">
          {{address.address}}
        </span>
      </div>

      <div class="m-wallet--balance--addresses-address-col">
        <span class="m-wallet--balance--addresses-address-balance">
          {{address.balance | token:18 | number}}
        </span>
      </div>
  
    </div>
  </div>

  <div class="m-wallet--balance--testnet m-border">
    <p>Minds is currently running on the Rinkeby TestNet.</p>
    <p style="margin-top: 8px"><b>1 Token = 1000 Views</b></p>
  </div>

</div>
