<div class="m-page">
  <div class="m-page--sidebar">
    <m-wallet--tokens--balance-overview></m-wallet--tokens--balance-overview>

    <div class="m-page--sidebar--navigation">
      <a class="m-page--sidebar--navigation--item"
        routerLink="/wallet/tokens/rewards"
        routerLinkActive="m-page--sidebar--navigation--item-active">
        <i class="material-icons">stars</i>
        <span>Rewards</span>
      </a>

      <a class="m-page--sidebar--navigation--item"
        routerLink="/wallet/tokens/contributions"
        routerLinkActive="m-page--sidebar--navigation--item-active">
        <i class="material-icons">history</i>
        <span>Contributions</span>
      </a>

      <a class="m-page--sidebar--navigation--item"
        routerLink="/wallet/tokens/settings"
        routerLinkActive="m-page--sidebar--navigation--item-active">
        <i class="material-icons">settings</i>
        <span>Settings</span>
      </a>
    </div>
  </div>

  <div class="m-page--main">
    <router-outlet></router-outlet>
  </div>
</div>
