<div class="m-pageLayout__container m-group__feed">
  <div class="m-groupFeed__body" m-pageLayout__pane="main">
    <!-- ----------------------------------------- -->
    <!-- FEED  -->
    <!-- ----------------------------------------- -->
    <div class="m-groupFeed__list">
      <m-group-profile__feed v2="true"></m-group-profile__feed>
    </div>
  </div>
  <!-- ----------------------------------------- -->
  <!-- SIDEBAR  -->
  <!-- ----------------------------------------- -->
  <div class="m-groupFeed__sidebar" m-pageLayout__pane="right">
    <div class="m-pageLayoutPane__inner">
      <m-group__about></m-group__about>
    </div>
  </div>
</div>
