<div *ngIf="service.group$ | async" class="m-group">
  <m-explicit-overlay [entity]="service.group$ | async"></m-explicit-overlay>

  <m-group__header></m-group__header>

  <div class="m-group__toolbar">
    <div *ngIf="service.guid$ | async" class="m-group__tabs m-tabs__container">
      <div class="m-tabs__tab">
        <a
          [routerLink]="['/', 'group', service.guid$ | async, 'feed']"
          [class.m-tabs__tab--selected]="(service.view$ | async) === 'feed'"
          i18n="@@GROUP__TAB_LABEL__DISCUSSION"
          data-ref="m-groupToolbarTab--discussion"
          >Discussion</a
        >
      </div>

      <div class="m-tabs__tab" *ngIf="service.userHasAccess$ | async">
        <a
          [routerLink]="['/', 'group', service.guid$ | async, 'members']"
          [class.m-tabs__tab--selected]="(service.view$ | async) === 'members'"
          i18n="@@GROUP__TAB_LABEL__MEMBERS"
          data-ref="m-groupToolbarTab--members"
          >Members</a
        >
      </div>
      <!-- ojm todo -->
      <div class="m-tabs__tab" *ngIf="service.showReviewTab$ | async">
        <a
          [routerLink]="['/', 'group', service.guid$ | async, 'review']"
          [class.m-tabs__tab--selected]="(service.view$ | async) === 'review'"
          data-ref="m-groupToolbarTab--review"
          ><ng-container i18n="@@GROUP__TAB_LABEL__REVIEW"
            >Review
            <div
              *ngIf="(service.reviewCount$ | async) > 0"
              class="m-groupToolbarTab__statusDot"
            ></div></ng-container
        ></a>
      </div>
      <!-- ojm todo... don't need this whole tab?? put requests in Review? -->
      <div class="m-tabs__tab" *ngIf="service.showRequestsTab$ | async">
        <a
          [routerLink]="['/', 'group', service.guid$ | async, 'requests']"
          [class.m-tabs__tab--selected]="(service.view$ | async) === 'requests'"
          data-ref="m-groupToolbarTab--requests"
          ><ng-container i18n="@@GROUP__TAB_LABEL__REQUESTS"
            >Requests
            <div
              *ngIf="(service.requestCount$ | async) > 0"
              class="m-groupToolbarTab__statusDot"
            ></div></ng-container
        ></a>
      </div>
    </div>
    <div
      class="m-group__searchBtnWrapper"
      *ngIf="
        (service.view$ | async) === 'feed' && (service.userHasAccess$ | async)
      "
    >
      <a class="m-groupSearchBtn" (click)="openSearchModal($event)"
        ><i class="material-icons">search</i></a
      >
    </div>
  </div>
  <!-- ----------------------------------  -->
  <!-- VIEWS  -->
  <!-- ----------------------------------  -->
  <ng-container [ngSwitch]="service.view$ | async">
    <ng-container *ngSwitchCase="'members'">
      <m-group__members
        class="m-group__view--members"
        *ngIf="service.userHasAccess$ | async"
        [group]="service.group$ | async"
      ></m-group__members
    ></ng-container>
    <minds-groups-profile-requests
      class="m-group__view--requests"
      *ngSwitchCase="'requests'"
      [group]="service.group$ | async"
    ></minds-groups-profile-requests>
    <m-group__review
      class="m-group__view--review"
      *ngSwitchCase="'review'"
    ></m-group__review>
    <m-group__feed
      class="m-group__view--feed"
      [view]="view$ | async"
      *ngSwitchCase="'feed'"
    ></m-group__feed>
  </ng-container>
</div>
