<div *ngIf="service.group$ | async">
  <m-explicit-overlay [entity]="service.group$ | async"></m-explicit-overlay>
  <m-group__header></m-group__header>
  <div class="m-group__toolbar">
    <!-- ----------------------------------  -->
    <!-- TABS  -->
    <!-- ----------------------------------  -->
    <div *ngIf="service.guid$ | async" class="m-group__tabs m-tabs__container">
      <div class="m-tabs__tab">
        <a
          [routerLink]="['/', 'group', service.guid$ | async, 'latest']"
          [class.m-tabs__tab--selected]="(service.view$ | async) === 'latest'"
          i18n="@@GROUP__TAB_LABEL__LATEST"
          data-ref="m-groupToolbarTab--latest"
          >Catch me up</a
        >
      </div>
      <!-- <div class="m-tabs__tab">
        <a
          [routerLink]="['/', 'group', service.guid$ | async, 'top']"
          [class.m-tabs__tab--selected]="(service.view$ | async) === 'top'"
          i18n="@@GROUP__TAB_LABEL__TOP"
          data-ref="m-groupToolbarTab--top"
          >Top</a
        >
      </div> -->

      <div class="m-tabs__tab" *ngIf="service.canAccess$ | async">
        <a
          [routerLink]="['/', 'group', service.guid$ | async, 'members']"
          [class.m-tabs__tab--selected]="(service.view$ | async) === 'members'"
          i18n="@@GROUP__TAB_LABEL__MEMBERS"
          data-ref="m-groupToolbarTab--members"
          >Members</a
        >
      </div>
      <!-- <div class="m-tabs__tab" *ngIf="service.canReview$ | async">
        <a
          [routerLink]="['/', 'group', service.guid$ | async, 'review']"
          [class.m-tabs__tab--selected]="(service.view$ | async) === 'review'"
          data-ref="m-groupToolbarTab--review"
          ><ng-container i18n="@@GROUP__TAB_LABEL__REVIEW"
            >Review
            <span
              *ngIf="
                (service.reviewCount$ | async) > 0 ||
                (service.requestCount$ | async) > 0
              "
              class="m-groupTab__statusDot"
            ></span></ng-container
        ></a>
      </div> -->
      <div class="m-tabs__tab" *ngIf="service.showRequestsTab$ | async">
        <a
          [routerLink]="['/', 'group', service.guid$ | async, 'requests']"
          [class.m-tabs__tab--selected]="(service.view$ | async) === 'requests'"
          data-ref="m-groupToolbarTab--requests"
          ><ng-container i18n="@@GROUP__TAB_LABEL__REQUESTS"
            >Requests
            <span
              *ngIf="(service.requestCount$ | async) > 0"
              class="m-groupTab__statusDot"
            ></span></ng-container
        ></a>
      </div>
      <div class="m-tabs__tab">
        <a
          [routerLink]="['/', 'group', service.guid$ | async, 'ai']"
          [class.m-tabs__tab--selected]="(service.view$ | async) === 'ai'"
          data-ref="m-groupToolbarTab--ai"
          ><ng-container>Ask AI</ng-container></a
        >
      </div>
    </div>
    <!-- ----------------------------------  -->
    <!-- SEARCH ICON  -->
    <!-- ----------------------------------  -->
    <div
      class="m-group__searchBtnWrapper"
      *ngIf="
        ((service.view$ | async) === 'latest' ||
          (service.view$ | async) === 'top') &&
        (service.canAccess$ | async)
      "
    >
      <a class="m-groupSearchBtn" (click)="openSearchModal($event)"
        ><i class="material-icons">search</i></a
      >
    </div>
  </div>
  <!-- ----------------------------------  -->
  <!-- VIEWS  -->
  <!-- ----------------------------------  -->
  <!-- MEMBERS  -->
  <ng-container *ngIf="(service.view$ | async) === 'members'">
    <m-group__members *ngIf="service.canAccess$ | async"></m-group__members
  ></ng-container>
  <!-- ----------------------------------  -->
  <!-- REVIEW -->
  <ng-container *ngIf="(service.view$ | async) === 'review'">
    <m-group__review></m-group__review
  ></ng-container>
  <!-- ----------------------------------  -->
  <!-- FEEDS: LATEST / TOP  -->
  <m-group__feed
    *ngIf="
      (service.view$ | async) === 'top' || (service.view$ | async) === 'latest'
    "
  ></m-group__feed>
  <!-- ----------------------------------  -->
  <!-- AI  -->
  <ng-container *ngIf="(service.view$ | async) === 'ai'">
    <m-group__askAi></m-group__askAi>
  </ng-container>
  <!-- ----------------------------------  -->
</div>
