@import 'defaults.scss';

:host {
  .m-walletTokenEarnings__accordion table {
    tr td:nth-child(2) {
      width: auto;
    }

    tr td:nth-child(3) {
      @include mobile-only {
        display: default;
      }
    }
  }

  .m-walletTokenRewards__accordion table {
    tr td:nth-child(3) {
      @include mobile-only {
        display: none;
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse; /* Remove cell spacing */

    tr td:first-child {
      width: 45%;

      @include mobile-only {
        width: 60%;
      }
    }

    tr td:nth-child(2) {
      width: 20%;

      @include mobile-only {
        width: auto;
      }
    }

    tr td:nth-child(3) {
      width: 30%;
    }

    tr td:last-child {
      width: 25px !important;
    }

    .m-walletTokenEarnings__header {
      td {
        padding: 15px 0;

        .m-walletTokenEarnings__subheaderText {
          margin-top: $spacing1;
          margin-bottom: 0;
          padding-right: $spacing4;

          @include body3Regular;
          @include m-theme() {
            color: themed($m-textColor--secondary);
          }
        }
      }
      &:hover {
        cursor: pointer;
      }

      tr td:last-child {
        text-align: right;
      }
    }

    td {
      padding: 10px 0;
      vertical-align: middle;

      &:first-of-type {
        font-weight: 500;
        font-size: 17px;
        text-transform: capitalize;
        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }
    }

    .total td {
      border: 0 solid;
      @include m-theme() {
        border-color: themed($m-borderColor--primary);
        color: themed($m-textColor--primary);
      }
      border-top-width: 1px;
      border-bottom-width: 1px;
    }

    .labels {
      font-size: 15px;
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }
  }

  .m-walletTokenEarnings__expanded {
    @include m-theme() {
      background-color: themed($m-bgColor--btnHover);
    }

    tr:first-child td {
      padding-top: 30px;
    }

    tr:last-child td {
      padding-bottom: 30px;
    }

    td {
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
      &:first-of-type {
        font-weight: 400;
        font-size: 16px;
        padding: 0 20px 0 30px;
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }
      &:nth-of-type(2) {
        font-weight: 500;
      }
    }
    .m-walletTokenEarningsExpanded__summaryLabel {
      border-top: 20px solid transparent;
      td {
        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }
    }
    .m-walletTokenEarningsExpanded__contributionRow {
      td {
        &:nth-of-type(2) {
          font-weight: 400;
        }
        &:nth-of-type(3) {
          font-weight: 500;
        }
      }
    }
  }
}
