@import 'defaults.scss';

// Contains styles used for both forms - request and reset
:host {
  .m-resetPasswordModal__title,
  .m-form__fieldsContainer,
  .m-form__buttonsContainer {
    padding-left: $spacing10;
    padding-right: $spacing10;

    @media screen and (max-width: $max-mobile) {
      padding-left: $spacing5;
      padding-right: $spacing5;
    }
  }

  .m-resetPasswordModal__title {
    padding-top: $spacing11;
    margin: 0;
    @include heading3Bold;
  }

  .m-form__buttonsContainer {
    padding-bottom: $spacing6;
    padding-top: $spacing4;
    @include m-theme() {
      border-top: 1px solid themed($m-borderColor--primary);
    }
  }

  .m-resetPasswordForm__description,
  .m-form__row--label label {
    @include body1Regular;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  .m-resetPasswordForm__description {
    padding: $spacing8 0;
    margin: 0;

    @media screen and (max-width: $max-mobile) {
      padding: $spacing4 0;
    }
  }

  .m-form__field--text {
    margin-bottom: $spacing8;
  }
}
