@import 'defaults.scss';

// Contains styles used for both forms - request and reset
:host {
  .m-resetPasswordModal__title,
  .m-form__fieldsContainer,
  .m-form__buttonsContainer {
    padding-left: $spacing10;
    padding-right: $spacing10;

    @media screen and (max-width: $max-mobile) {
      padding-left: $spacing5;
      padding-right: $spacing5;
    }
  }

  .m-form__fieldsContainer {
    margin-bottom: 0 !important;
  }

  .m-resetPasswordModal__title {
    padding-top: $spacing11;
    margin: 0;
    @include heading3Bold;
  }

  .m-form__buttonsContainer {
    padding-bottom: $spacing6;
    padding-top: $spacing4;
    margin: 0 !important;
    @include m-theme() {
      border-top: 1px solid themed($m-borderColor--primary);
    }

    .m-resetPasswordFormButtonsContainer__loginLink {
      margin-top: $spacing2;

      a,
      span {
        @include body1Regular;
      }
      a {
        cursor: pointer;
        @include m-theme() {
          color: themed($m-action);
        }
      }
      span {
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }
    }
  }

  .m-resetPasswordForm--multipleButtons {
    .m-form__buttonsContainer {
      justify-content: space-between;
      align-items: center;
      width: auto;

      ::ng-deep m-button {
        width: auto !important;
      }
    }
  }

  .m-resetPasswordForm__description,
  .m-form__row--label label {
    @include body1Regular;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  .m-resetPasswordForm__description {
    padding: $spacing8 0;
    margin: 0;
  }

  .m-form__field--text {
    margin-bottom: $spacing8;
  }
}
