<m-analytics__card
  [title]="'Posts'"
  [options]="['hourly', 'daily', 'monthly']"
  #posts
>
  <div class="m-analytics__averages">
    <div class="m-analytics__average">
      <h6>Avg Posts</h6>
      <h5>{{ avgPosts | number: '1.0-0' }}</h5>
    </div>

    <div class="m-analytics__average">
      <h6>Avg Posting Users</h6>
      <h5>{{ avgPostingUsers | number: '1.0-0' }}</h5>
    </div>
  </div>

  <div class="m-analytics__averages">
    <div class="m-analytics__average" *ngFor="let current of currentPosts">
      <h6>Current {{ current.name }}</h6>
      <h5>{{ current.value | number: '1.0-0' }}</h5>
    </div>
  </div>

  <div class="m-analyticsCard__charts">
    <m-analyticscharts__posts
      [timespan]="posts.selectedOption"
      (loaded)="currentPosts = $event"
    ></m-analyticscharts__posts>
  </div>
</m-analytics__card>

<m-analytics__card
  [title]="'Comments'"
  [options]="['hourly', 'daily', 'monthly']"
  #comments
>
  <div class="m-analytics__averages">
    <div class="m-analytics__average">
      <h6>Avg Comments</h6>
      <h5>{{ avgComments | number: '1.0-0' }}</h5>
    </div>

    <div class="m-analytics__average">
      <h6>Avg Commenting Users</h6>
      <h5>{{ avgCommentingUsers | number: '1.0-0' }}</h5>
    </div>
  </div>

  <div class="m-analytics__averages">
    <div class="m-analytics__average" *ngFor="let current of currentComments">
      <h6>Current {{ current.name }}</h6>
      <h5>{{ current.value | number: '1.0-0' }}</h5>
    </div>
  </div>

  <div class="m-analyticsCard__charts">
    <m-analyticscharts__comments
      [timespan]="comments.selectedOption"
      (loaded)="currentComments = $event"
    ></m-analyticscharts__comments>
  </div>
</m-analytics__card>

<m-analytics__card
  [title]="'Votes'"
  [options]="['hourly', 'daily', 'monthly']"
  #votes
>
  <div class="m-analytics__averages">
    <div class="m-analytics__average">
      <h6>Avg Votes</h6>
      <h5>{{ avgVotes | number: '1.0-0' }}</h5>
    </div>

    <div class="m-analytics__average">
      <h6>Avg Voting Users</h6>
      <h5>{{ avgVotingUsers | number: '1.0-0' }}</h5>
    </div>
  </div>

  <div class="m-analytics__averages">
    <div class="m-analytics__average" *ngFor="let current of currentVotes">
      <h6>Current {{ current.name }}</h6>
      <h5>{{ current.value | number: '1.0-0' }}</h5>
    </div>
  </div>

  <div class="m-analyticsCard__charts">
    <m-analyticscharts__votes
      [timespan]="votes.selectedOption"
      (loaded)="currentVotes = $event"
    ></m-analyticscharts__votes>
  </div>
</m-analytics__card>

<m-analytics__card
  [title]="'Reminds'"
  [options]="['hourly', 'daily', 'monthly']"
  #reminds
>
  <div class="m-analytics__averages">
    <div class="m-analytics__average">
      <h6>Avg Reminds</h6>
      <h5>{{ avgReminds | number: '1.0-0' }}</h5>
    </div>

    <div class="m-analytics__average">
      <h6>Avg Reminding Users</h6>
      <h5>{{ avgRemindingUsers | number: '1.0-0' }}</h5>
    </div>
  </div>

  <div class="m-analytics__averages">
    <div class="m-analytics__average" *ngFor="let current of currentReminds">
      <h6>Current {{ current.name }}</h6>
      <h5>{{ current.value | number: '1.0-0' }}</h5>
    </div>
  </div>

  <div class="m-analyticsCard__charts">
    <m-analyticscharts__reminds
      [timespan]="reminds.selectedOption"
      (loaded)="currentReminds = $event"
    ></m-analyticscharts__reminds>
  </div>
</m-analytics__card>
