<ng-container *ngIf="!inProgress; else inProgressSpinner">
  <div>
    <div class="m-proSubscriptionPlan__toggleContainer">
      <div class="m-proSubscriptionPlan__toggle">
        <span i18n>Yearly</span>
        <span
          ><m-toggle
            [(mModel)]="interval"
            leftValue="yearly"
            rightValue="monthly"
          ></m-toggle
        ></span>
        <span i18n>Monthly</span>
      </div>

      <div class="m-proSubscriptionPlan__toggle">
        <span i18n>USD</span>
        <span
          ><m-toggle
            [(mModel)]="currency"
            leftValue="usd"
            rightValue="tokens"
          ></m-toggle
        ></span>
        <span i18n>Tokens</span>
      </div>
    </div>

    <div class="m-proSubscriptionPlan__pricing">
      <span class="m-proSubscriptionPlanPricing__amount" i18n>
        <span>{{ pricing.amount }}</span> per month
      </span>

      <span
        class="m-proSubscriptionPlanPricing__offer"
        *ngIf="pricing.offerFrom"
        i18n
      >
        {{ pricing.offerFrom }} per month
      </span>
    </div>

    <div>
      <ng-container *mIfFeature="'purchase-pro'; else comingSoon">
        <div class="m-proSubscription__button">
          <button
            class="mf-button mf-button--alt"
            [disabled]="active || inProgress || criticalError"
            (click)="enable()"
            i18n
          >
            Upgrade to Pro
          </button>
          <div class="m-proSubscription__alreadyAMemberNotice" *ngIf="active">
            <span>You're already a Pro member.</span>
            <a
              [routerLink]="[
                '/pro',
                session.getLoggedInUser().username,
                'settings',
                'subscription'
              ]"
            >
              Manage membership.
            </a>
          </div>
        </div>
        <button
          class="mf-button mf-button--alt"
          *ngIf="session.getLoggedInUser() && !active"
          [routerLink]="[
            '/pro/' + session.getLoggedInUser().username + '/settings'
          ]"
          i18n
        >
          Try Pro
        </button>
      </ng-container>
      <ng-template #comingSoon>
        <button class="mf-button mf-button--alt" i18n>
          Coming soon
        </button>
      </ng-template>
      <p class="m-marketing__subText">
        By purchasing PRO you agree to
        <a
          href="https://cdn-assets.minds.com/pro-terms-27-11-2019.pdf"
          target="_blank"
          >Terms &amp; Conditions</a
        >.
      </p>
    </div>
  </div>

  <span *ngIf="error" class="m-proSubscription__error">
    {{ error }}
  </span>
</ng-container>

<ng-template #inProgressSpinner>
  <div class="m-proSubscription__inProgress">
    <div class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
  </div>
</ng-template>
