<ng-container *ngIf="!inProgress; else inProgressSpinner">
  <div>
    <div class="m-proSubscriptionPlan__toggleContainer">
      <div class="m-proSubscriptionPlan__toggle">
        <span i18n="@@PRO_SUBSCRIPTION__USD">USD</span>
        <span
          ><m-toggle
            [mModel]="currency"
            (mModelChange)="setCurrency($event)"
            leftValue="usd"
            rightValue="tokens"
          ></m-toggle
        ></span>
        <span i18n="@@PRO_SUBSCRIPTION__TOKENS">Tokens</span>
      </div>
      <div
        class="m-proSubscriptionPlan__toggle"
        [ngClass]="{
          'm-proSubscriptionPlan__toggle--hidden': currency !== 'usd'
        }"
      >
        <span i18n="@@PRO_SUBSCRIPTION__YEARLY">Yearly</span>
        <span
          ><m-toggle
            [mModel]="interval"
            (mModelChange)="setInterval($event)"
            leftValue="yearly"
            rightValue="monthly"
          ></m-toggle
        ></span>
        <span i18n="@@PRO_SUBSCRIPTION__MONTHLY">Monthly</span>
      </div>
    </div>

    <div class="m-proSubscriptionPlan__pricing">
      <ng-container *ngIf="currency === 'usd'">
        <div>
          <span
            class="m-proSubscriptionPlanPricing__amount"
            i18n="@@PRO_SUBSCRIPTION__PER_MONTH"
          >
            <span>{{ pricing.amount }}</span> per month
          </span>

          <span
            class="m-proSubscriptionPlanPricing__offer"
            *ngIf="pricing.offerFrom"
            i18n="@@PRO_SUBSCRIPTION__PER_MONTH"
          >
            <span>{{ pricing.offerFrom }}</span> per month
          </span>
        </div>
        <div
          class="m-proSubscriptionPlanPricing__intervalDesc"
          *ngIf="interval === 'yearly'"
        >
          <span i18n="@@PRO_SUBSCRIPTION__BILLED_ANNUALLY">
            Billed annually at {{ pricing.annualAmount }}
          </span>
        </div></ng-container
      >
      <ng-container *ngIf="currency === 'tokens'">
        <div>
          <span
            class="m-proSubscriptionPlanPricing__amount"
            i18n="@@PRO_SUBSCRIPTION__MINDS_AMOUNT"
          >
            <span>{{ pricing.amount | number }}</span> MINDS
          </span>
        </div>
        <div class="m-proSubscriptionPlanPricing__intervalDesc">
          <span i18n="@@PRO_SUBSCRIPTION__LIFETIME_MEMBERSHIP">
            Lifetime membership!
          </span>
        </div>
      </ng-container>
    </div>

    <div class="m-proSubscription__buttonsContainer">
      <div class="m-proSubscription__button">
        <m-button
          color="blue"
          [disabled]="active || inProgress || criticalError"
          (onAction)="enable()"
        >
          <span i18n="@@PRO_SUBSCRIPTION__UPGRADE_TO_PRO">Upgrade to Pro</span>
        </m-button>
        <div class="m-proSubscriptionButton__notice" *ngIf="active">
          <span
            i18n="@@PRO_SUBSCRIPTION__DISABLED_BECAUSE_CANCELLED"
            *ngIf="!hasSubscription"
            >You still have Minds Pro until {{ expiryString }}.</span
          >
          <ng-container *ngIf="hasSubscription">
            <span i18n="@@PRO_SUBSCRIPTION__ALREADY_PRO_MEMBER"
              >You're already a Pro member.</span
            >
            <a
              [routerLink]="[
                '/settings',
                'pro_canary',
                session.getLoggedInUser().username,
                'cancel'
              ]"
              i18n="@@PRO_SUBSCRIPTION__MANAGE_MEMBERSHIP"
            >
              Manage membership.
            </a>
          </ng-container>
        </div>
      </div>
      <m-button color="blue" *ngIf="session.getLoggedInUser() && !active">
        <a
          [routerLink]="[
            '/pro/' + session.getLoggedInUser().username + '/settings'
          ]"
          i18n="@@PRO_SUBSCRIPTION__TRY_PRO"
          >Try Pro</a
        >
      </m-button>
    </div>
  </div>
</ng-container>

<ng-template #inProgressSpinner>
  <div class="m-proSubscription__inProgress">
    <div class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
  </div>
</ng-template>
