@import '../../../foundation/grid-values';
@import 'defaults.scss';

:host {
  .m-proSubscriptionPlan__toggleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 23px;

    @media screen and (max-width: $min-tablet) {
      justify-content: center;
      margin-bottom: 40px;
    }
  }

  .m-proSubscriptionPlan__toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    margin-right: 50px;

    @media screen and (max-width: $min-tablet) {
      margin-right: 30px;
    }

    &:last-child {
      margin-right: 0;
    }

    &.m-proSubscriptionPlan__toggle--hidden {
      visibility: hidden;
    }
  }

  .m-proSubscriptionPlan__pricing {
    margin-bottom: 24px;
    min-height: 55px;

    @media screen and (max-width: $min-tablet) {
      margin-bottom: 40px;
      text-align: center;
      min-height: 75px;
    }

    .m-proSubscriptionPlanPricing__amount {
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      line-height: 24px;

      @include m-theme() {
        color: themed($m-textColor--secondary);
      }

      @media screen and (max-width: $min-tablet) {
        display: block;
      }

      span {
        font-size: 24px;

        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }
    }

    .m-proSubscriptionPlanPricing__offer {
      display: inline-block;
      font-size: 14px;
      text-decoration: line-through;
      margin-left: 10px;

      @include m-theme() {
        color: themed($m-red);
      }

      @media screen and (max-width: $min-tablet) {
        display: block;
        margin-left: 0;
      }
    }

    .m-proSubscriptionPlanPricing__intervalDesc {
      font-size: 16px;
      line-height: 21px;
      margin-top: 8px;
      min-width: 170px;
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }
  }

  .m-proSubscription__buttonsContainer {
    margin-bottom: 50px;
    display: flex;

    @media screen and (max-width: $min-tablet) {
      align-items: center;
      flex-direction: column;
      ::ng-deep m-button {
        margin-right: 0 !important;
        margin-bottom: 10px !important;
      }
    }
  }

  .m-proSubscription__button {
    display: flex;
    align-items: center;

    m-button {
      margin-right: 0;
    }

    &:first-child {
      m-button {
        margin-right: 15px;
      }
    }
    @media screen and (max-width: $min-tablet) {
      flex-direction: column;

      button {
        margin-right: 0 !important;
      }

      .m-proSubscriptionButton__notice {
        margin-top: 20px;
        max-width: none;
      }
    }
  }
  .m-proSubscriptionButton__notice {
    max-width: 175px;
    line-height: 20px;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  .m-proSubscription__error {
    display: block;
    font-weight: bold;
    margin: 8px 0 0 5px;

    @include m-theme() {
      color: themed($m-red);
    }
  }

  .m-button {
    margin-bottom: $minds-margin;
    margin-right: 15px;
  }
}
