@import '../../../foundation/grid-values';

m-pro--subscription {
  .m-proSubscriptionPlan__toggleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 23px;

    @media screen and (max-width: $min-tablet) {
      justify-content: center;
      margin-bottom: 40px;
    }
  }

  .m-proSubscriptionPlan__toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }

  .m-proSubscriptionPlan__pricing {
    margin-bottom: 24px;

    @media screen and (max-width: $min-tablet) {
      margin-bottom: 40px;
      text-align: center;
    }

    .m-proSubscriptionPlanPricing__amount {
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      line-height: 24px;

      @include m-theme() {
        color: themed($m-grey-600);
      }

      @media screen and (max-width: $min-tablet) {
        display: block;
      }

      span {
        font-size: 24px;

        @include m-theme() {
          color: themed($m-black);
        }
      }
    }

    .m-proSubscriptionPlanPricing__offer {
      display: inline-block;
      font-size: 14px;
      text-decoration: line-through;
      margin-left: 10px;

      @include m-theme() {
        color: themed($m-red);
      }

      @media screen and (max-width: $min-tablet) {
        display: block;
        margin-left: 0;
      }
    }
  }

  .m-proSubscription__button {
    display: flex;

    .m-proSubscription__alreadyAMemberNotice {
      margin-left: 25px;
      display: flex;
      flex-direction: column;
    }
  }

  .m-proSubscription__error {
    display: block;
    font-weight: bold;
    margin: 8px 0 0 5px;

    @include m-theme() {
      color: themed($m-red);
    }
  }

  .mf-button {
    margin-bottom: $minds-margin;
    margin-right: $minds-margin;
  }
}
