<ng-container *ngIf="user && group">
  <m-modal
    [open]="kickPrompt"
    (closed)="emitClose()"
    class="m-group--kick-modal"
  >
    <div class="mdl-card__supporting-text">
      <p i18n="@@GROUPS__REMOVE_X_FROM_Y_CONFIRM__BOLD">
        Are you sure you want to remove <b>{{ user.username }}</b> from
        <b>{{ group.name }}</b
        >?
      </p>
      <p>
        <input type="checkbox" #ban />
        <ng-container i18n="@@M__COMMON__BAN_PERMANENTLY"
          >Ban permanently</ng-container
        >
      </p>
    </div>
    <div class="minds-modal-dialog-actions">
      <m-button
        (onAction)="kick(ban.checked)"
        color="blue"
        data-ref="data-minds-kick-modal-confirm"
      >
        <ng-container i18n="@@M__ACTION__CONFIRM">Confirm</ng-container>
      </m-button>
      <m-button (onAction)="emitClose()">
        <ng-container i18n="@@M__ACTION__CANCEL">Cancel</ng-container>
      </m-button>
    </div>
  </m-modal>

  <m-modal
    [open]="kickSuccess"
    (closed)="emitClose()"
    class="m-group--kick-modal"
  >
    <div class="mdl-card__supporting-text">
      <p i18n="@@GROUPS__PROFILE__FEED__USER_WAS_KICKED">
        User was kicked from {{ group.name }}.
      </p>
    </div>
    <div class="minds-modal-dialog-actions">
      <m-button (onAction)="emitClose()" data-ref="data-minds-kick-modal-okay">
        <ng-container i18n="@@GROUPS__PROFILE__FEED__OK_ACTION"
          >Okay</ng-container
        >
      </m-button>
    </div>
  </m-modal>
</ng-container>
