<div class="m-wire-console--overview">
 

  <div class="mdl-grid m-wire-console--overview-stat-type">
    <div class="m-wire-console--overview-count m-wire-console--overview-stat">
      <span>{{ stats.count | number:'1.0-0' }}</span>
      <div class="m-wire-console--label">
        <label i18n="@@M__FEATURE__WIRE_PLURAL">Wires</label>
        <m-tooltip icon="help" i18n="@@WIRE__CONSOLE__OVERVIEW__MONEY_WIRES_TOOLTIP">
          The total wires you have received
        </m-tooltip>
      </div>
    </div>
  
    <div class="m-wire-console--overview-earnings m-wire-console--overview-stat">
      <span>{{ stats.tokens | number:'1.0-6' }}</span>
      <div class="m-wire-console--label">
        <label i18n="@@M__COMMON__EARNINGS">Tokens</label>
        <m-tooltip icon="help" i18n="@@WIRE__CONSOLE__OVERVIEW__TOKENS_EARNINGS_TOOLTIP">
          The total in Tokens you have earned
        </m-tooltip>
      </div>
    </div>

    <div class="m-wire-console--overview-earnings m-wire-console--overview-stat">
      <i>$</i><span>{{ stats.money | number:'1.0-0' }}</span>
      <div class="m-wire-console--label">
        <label i18n="@@M__COMMON__EARNINGS">USD</label>
        <m-tooltip icon="help" i18n="@@WIRE__CONSOLE__OVERVIEW__MONEY_EARNINGS_TOOLTIP">
          The total in USD you have earned
        </m-tooltip>
      </div>
    </div>
  </div>

</div>
