@import 'defaults.scss';

:host {
  .m-composerPreview--richEmbed {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    height: 100%;
    user-select: none;

    .m-composerPreview--richEmbed__thumbnail {
      flex: 1;
      max-height: calc(100% - 84px);

      > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        max-height: 100%;
      }
    }

    .m-composerPreview--richEmbed__title {
      padding: 20px 21px 0;
      font-size: 15px;
      line-height: 20px;
      font-weight: 500;

      @include m-theme() {
        color: rgba(themed($m-textColor--primary), 0.75);
      }

      & {
        /*! autoprefixer: off */
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        overflow: hidden;
      }
    }

    .m-composerPreview--richEmbed__domain {
      padding: 0 21px 20px;
      font-size: 13px;
      line-height: 24px;
      font-weight: 400;

      @include m-theme() {
        color: themed($m-textColor--tertiary);
      }
    }
  }
}
