<form *ngIf="form" [formGroup]="form" class="m-formLayout--buttonRight">
  <div class="m-form__fieldsContainer">
    <div class="m-form__field--text stretchedField">
      <div class="m-form__row--label">
        <label for="name" i18n>Display Name</label>
        <m-tooltip [anchor]="tooltipAnchor">
          <span m-tooltip--anchor>𝒊</span>
          <ng-container i18n>
            Placeholder
          </ng-container>
        </m-tooltip>
      </div>
      <div
        class="m-form__row--input"
        [ngClass]="{
          invalid: (form.touched || form.dirty) && form.invalid
        }"
      >
        <input
          type="text"
          id="name"
          name="name"
          formControlName="name"
          class="form-control"
          [readonly]="inProgress || !init"
        />
      </div>
      <div class="m-form__row--validation">
        <p *ngIf="(form.touched || form.dirty) && form.invalid">
          Display name required.
        </p>
      </div>
    </div>
  </div>
  <div class="m-form__buttonsContainer">
    <m-shadowboxSubmitButton
      [disabled]="!canSubmit()"
      [saving]="inProgress"
      (click)="update()"
    >
      Save Display Name
    </m-shadowboxSubmitButton>
  </div>
</form>
