<form *ngIf="form" [formGroup]="form" class="m-formLayout--buttonRight">
  <div class="m-form__fieldsContainer">
    <div class="m-form__field--text stretchedField">
      <div class="m-form__row--label">
        <label for="name" i18n>Display Name</label>
      </div>
      <div class="m-form__row--input">
        <input
          type="text"
          id="name"
          name="name"
          formControlName="name"
          class="form-control"
          [readonly]="inProgress || !init"
        />
      </div>
      <div class="m-form__row--validation"></div>
    </div>
  </div>
  <div class="m-form__buttonsContainer">
    <m-shadowboxSubmitButton
      [disabled]="!canSubmit()"
      [saving]="inProgress"
      (click)="submit()"
    >
      Save Display Name
    </m-shadowboxSubmitButton>
  </div>
</form>
