<div class="mdl-spinner mdl-js-spinner is-active" [mdl] *ngIf="!loaded"></div>
<div class="m-walletSettings" *ngIf="loaded">
  <h4>Bank Information</h4>
  <!-- ONBOARDING FORM ------------------ -->
  <m-walletCashOnboarding
    *ngIf="view === 'onboardingForm'"
    [allowedCountries]="allowedCountries"
    (accountCreated)="getAccount(); checkAdditionalReqts()"
  ></m-walletCashOnboarding>
  <!-- ADDITIONAL REQUIREMENTS FORM ----------- -->
  <m-walletCashOnboardingExtras
    *ngIf="view === 'additionalReqtsForm'"
    (submittedRequirements)="getAccount(); checkAdditionalReqts()"
  ></m-walletCashOnboardingExtras>
  <!-- BANK FORM --------------------------- -->
  <m-walletBankForm
    *ngIf="view === 'bankForm'"
    [allowedCountries]="allowedCountries"
  ></m-walletBankForm>
  <!-- PENDING APPROVAL ----------------------- -->
  <div *ngIf="view === 'pendingApproval'"></div>
  <!-- ERROR ---------------------------------- -->
  <div *ngIf="view === 'error'">
    <p>{{ error }}</p>
  </div>
</div>
