<div class="mdl-spinner mdl-js-spinner is-active" [mdl] *ngIf="!loaded"></div>
<div class="m-walletSettings" *ngIf="loaded">
  <ng-container *ngIf="!account">
    <h2>Bank Information</h2>
    <p>Add your bank account details where rewards are deposited.</p>
    <div class="m-walletSettingsView--addAccount">
      <m-shadowboxSubmitButton (click)="createAccount()" [disabled]="inProgress"
        >Add your bank details</m-shadowboxSubmitButton
      >
    </div>
  </ng-container>
  <ng-container *ngIf="hasAccount">
    <div class="m-walletSettingsView--accountSplash" *ngIf="!editing">
      <div>
        <div>
          {{ payoutMethod.account.bank_name }}
        </div>
        <div>****{{ payoutMethod.account.last4 }}</div>

        <a (click)="edit()"> Update</a>
        <a (click)="removeBank()"> remove</a>
      </div>
      <m-shadowboxSubmitButton [color]="red" (click)="leaveMonetization()"
        >Leave Monetization Program</m-shadowboxSubmitButton
      >
    </div>
    <div class="m-walletSettingsView--editing" *ngIf="editing"></div>
  </ng-container>

  <m-walletModal [showModal]="showModal" (closeModal)="showModal = false">
    <p>
      Are you sure you want to leave the monetization program? You won't be able
      to rejoin again.
    </p>
    <p></p>
    <div class="m-walletSettings--cash__leaveModalButtons">
      <m-shadowboxSubmitButton [color]="grey" (click)="showModal = false"
        >Cancel</m-shadowboxSubmitButton
      >
      <m-shadowboxSubmitButton [color]="red" (click)="leaveMonetization()"
        >Leave Monetization Program</m-shadowboxSubmitButton
      >
    </div>
  </m-walletModal>
</div>
