// additional shared styles located in dashboard.component.scss
m-walletSettings--cash {
  .m-walletSettings {
    h4 {
      margin-bottom: 15px;
    }
  }

  .m-walletSettingsView--hasAccount__detailsWrapper {
    max-width: 460px;
    margin: 38px 0 59px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .m-walletSettingsView--hasAccount__bankWrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    flex: 3 0 auto;
    margin-bottom: 10px;
    span {
      margin-right: 8px;
    }
  }
  .m-walletSettingsView--hasAccount__linksContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    flex: 1 0 auto;
    max-width: 146px;
    a:last-child {
      margin-left: 28px;
    }
  }

  // FORM -------------------
  [class*='m-walletForm__field'] {
    margin-bottom: 19px;
  }

  .m-tooltip--bubble {
    right: 12px;
  }

  // TOS checkbox
  m-walletCashOnboarding {
    .m-walletForm__field--checkbox {
      margin-top: 100px;
    }
  }
}
