@import "defaults";

minds-form-register{

  form {
    overflow: visible !important;
  }

  .mdl-card__actions{
    display:flex;
    align-items:center;
  }

  .m-register-tac{
    font-size:11px;
    padding-left:$minds-padding*2;
  }

  .m-register--username-taken {
    position: absolute;
    right: 15px;
    top: 20px;
    color: red;
  }

  .m-register--username-available {
    position: absolute;
    right: 15px;
    top: 20px;
    color: green;
  }
}
