@import "defaults";

minds-form-register{

  form {
    overflow: visible !important;
  }

  .mdl-card__actions{
    display:flex;
    align-items:center;
  }

  .m-register-tac{
    font-size:11px;
    padding-left:$minds-padding*2;
  }

  //this is exactly the same as modal.scss
  .m-fb-register-button{

    background: #FFF;
    color: #3b5998;
    width: 170px;
    border: 0;
    cursor:pointer;
    text-transform: uppercase;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-left: 8px;
    border: 1px solid #3b5998;

    .m-social-icons-icon-inline{
      fill: #3b5998;
      vertical-align: middle;
      display: inline-block;
    }

    .m-signup-button-text{
      display: inline-block;
      vertical-align: middle;
      font-size: 9px;
      width: auto;
      max-width: calc(100% - 60px);
      letter-spacing: 0.1em;
      padding-left: 4px;
      font-weight:600;
    }

  }

  .m-register--username-taken {
    position: absolute;
    right: 15px;
    top: 20px;
    color: red;
  }

  .m-register--username-available {
    position: absolute;
    right: 15px;
    top: 20px;
    color: green;
  }
}
