@import 'defaults.scss';

:host {
  .m-marketing__emphasisSubtext {
    display: block;
    margin-bottom: 30px;
  }
  .m-marketing__engagementButtons {
    display: flex;
    flex-flow: row wrap;

    m-button {
      margin-bottom: 10px;
    }
  }
  .m-tokenMarketing__button--centered {
    display: flex;
    justify-content: center;
  }
}
