@import 'defaults';

m-homepage__v2 {
  .m-marketing__main {
    &.m-marketing__section--style-2 {
      .m-marketing__body {
        &::before {
          transform: translate(311px, -80px);
          clip-path: polygon(57% 0, 100% 0, 100% 15%, 18% 87%);
          bottom: -80px;

          @include m-theme() {
            background: themed($m-amber-medium);
          }
        }

        &::after {
          content: '';
          clip-path: polygon(0 46%, 100% 0, 100% 100%, 0 100%);
          background: #f5f6ff;

          position: absolute;
          bottom: -10px;
          left: -140px;
          height: 202px;
          right: -600px;

          z-index: -2;
        }

        @media screen and (max-width: $max-mobile) {
          &::before {
            transform: translate(161px, 205px);
          }

          &::after {
            left: 0;
            right: 0;
            bottom: -750px;
          }
        }
      }

      @media screen and (max-width: $max-mobile) {
        m-homepage__registerForm {
          margin: 30px 10px 50px;

          &::before {
            content: '';
            display: block;
            position: absolute;
            width: 393px;
            height: 193px;
            top: -66px;
            left: -144px;
            transform: translate(45px, 32px);
            background: url('<%= APP_CDN %>/assets/marketing/deco_2-straight.svg')
              no-repeat;
            z-index: -1;
          }
        }
      }
    }

    .m-marketing__image {
      span {
        &::before {
          content: initial !important;
        }

        .m-homepage__cellphone {
          //box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
          height: auto !important;
          object-fit: initial !important;
          width: 333px !important;
          transform: translateY(-25px);
        }
      }
    }
  }

  .m-homepage__appButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;

    margin-top: 50px;

    @media screen and(max-width: $m-grid-min-vp) {
      width: 100%;
      & > a:not(:first-child) {
        margin-left: 18px;
        justify-content: initial;
      }
    }

    & > a {
      width: 120px;
      height: 37px;

      img {
        width: 100%;
      }
    }
  }

  .m-homepage__yellowLine {
    display: inline-block;
    width: 55px;
    height: 5px;
    margin-bottom: 3px;
    @include m-theme() {
      background-color: themed($m-amber-medium);
    }
  }

  .m-homepage__joinMindsNow {
    max-width: 90%;

    @media screen and (max-width: $m-grid-min-vp) {
      max-width: 100%;
    }
  }

  .m-homepage__quotation {
    margin-top: 116px;
    margin-bottom: 161px;
  }

  .m-marketing__asFeaturedIn {
    margin-top: 45px;
  }

  h2,
  h3,
  .m-marketing__description {
    text-align: left !important;
  }
}

.m-homepage {
  margin-top: -52px;
}
