<a
  [routerLink]="
    trend.guid ? '/discovery/trend/' + trend.guid : '/discovery/search'
  "
  [queryParams]="{ q: !trend.guid ? '#' + trend.hashtag : null, f: 'top' }"
>
  <ng-container *ngIf="trend.title">
    <div>
      <h4>
        {{
          trend.title.length <= 200
            ? trend.title
            : trend.title.substr(0, 200) + '...'
        }}
      </h4>
      <span>{{ trend.volume }} discussing</span>
    </div>
    <img [src]="trend.entity.thumbnail_src" />
  </ng-container>
  <ng-container *ngIf="!trend.title">
    <div>
      <h4>#{{ trend.hashtag }}</h4>
      <span>{{ trend.volume }} posts</span>
    </div>
  </ng-container>
</a>
