@import "defaults";

minds-form-onboarding{

  max-height: 100vh;
  overflow: scroll;

  .mdl-grid{
    align-items:center;
    padding-top:38px;
  }

  .mdl-card__actions{
      text-align:center;
  }

  minds-avatar{
    margin: auto;
    display: block;
    width: 200px;
  }

  .m-onboarding-banner{
    position:relative;
    img{
      width:100%;
    }
    input[type=file]{
      opacity: 0;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }


  .m-onboarding-gender{
    font-size:11px;
  }

  label{
    font-weight: bold;
    text-transform: uppercase;
  }

  input{
    padding: 8px;
    width: 100%;
  }

  input[type=radio]{
    width:auto;
  }

}
