<div class="m-monetization--marketing">

  <div class="m-monetization--marketing-header">
    <h1>Monetization</h1>
    <h3>Start earning revenue on Minds by monetizing your channel</h3>

    <div class="m-monetization--marketing-action-button">
      <button class="mdl-button mdl-button--colored mdl-color--green" *ngIf="user && !isMonetized()" (click)="onboard()" [hidden]="showOnboardingForm">Click to Onboard</button>
      <button class="mdl-button mdl-button--colored mdl-color--green" *ngIf="!user" routerLink="/login">Click to Onboard</button>
      <button class="mdl-button mdl-button--colored mdl-color--green" *ngIf="isMonetized()" routerLink="/wallet/revenue">View Earnings</button>
    </div>
  </div>

  <m-monetization--onboarding *ngIf="showOnboardingForm" class="mdl-shadow--4dp" (completed)="onboardCompleted($event)"></m-monetization--onboarding>

  <div class="m-monetization--marketing-contents mdl-grid mdl-grid--no-spacing">

    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
      <i class="material-icons mdl-color-text--blue-grey-700">share</i>
      <h2>Affiliate</h2>
      <span>Earn 25% of the revenue Minds generates from your referrals</span>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
      <i class="material-icons mdl-color-text--blue-grey-700">vpn_key</i>
      <h2>Exclusive</h2>
      <span>Earn subscription revenue from your fans with exclusive content and services</span>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
      <img src="{{minds.cdn_assets_url}}assets/wire-icon.png" style="display: block; margin: 2px auto 20px; height: 60px;"/>
      <h2>Wire</h2>
      <span>Receive points, dollars, or Tokens directly from your fans as a reward for posting quality content</span>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
      <i class="material-icons mdl-color-text--blue-grey-700">trending_up</i>
      <h2>P2P Boost</h2>
      <span>Receive offers of points, dollars, or Tokens from other channels in exchange for sharing their posts to your audience</span>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
      <i class="material-icons mdl-color-text--blue-grey-700">bubble_chart</i>
      <h2>Insights</h2>
      <span>View analytics and breakdowns of your revenue</span>
    </div>

  </div>

  <div class="m-monetization--marketing-faq mdl-color-text--blue-grey-600">
    <m-faq category="monetization"></m-faq>
  </div>

  <m-monetization--terms class="mdl-shadow--2dp"></m-monetization--terms>


</div>

<m-footer></m-footer>
