<h1>Contact</h1>
<h3>General Enquiries and Support</h3>
<ul>
  <li>
    <p>
      <a href="https://support.minds.com/" target="_blank">Support Center</a>
    </p>
  </li>
  <li>
    <p>
      <a href="mailto:support@minds.zendesk.com">support@minds.zendesk.com</a>
    </p>
  </li>
</ul>
<h3>Press</h3>
<ul>
  <li>
    <p><a href="mailto:press@minds.com">press@minds.com</a></p>
  </li>
</ul>

<h3>Copyright and DMCA</h3>
<ul>
  <li>
    <p><a href="mailto:copyright@minds.com">copyright@minds.com</a></p>
  </li>
</ul>
<h3>Security and Vulnerabilities</h3>
<ul>
  <li>
    <p>
      <a href="mailto:security@minds.com">security@minds.com</a> (please do not
      contact this address with account issues)
    </p>
  </li>
</ul>
