.m-revenue--console-hero{
  padding-bottom: 32px;

  @media only screen and (max-width: 400px) {
    padding-bottom:0;
  }
}
.m-revenue--console-overview{
  padding: 64px 16px 32px 140px;
  margin: auto;
  max-width:990px;
  display:flex;
  align-items:center;
  font-family: 'Lato';

  @media only screen and (max-width: 400px) {
    padding:0;
    text-align: center;
  }

  i{
    font-style: normal;
    font-weight:100;
  }

  > div{
    font-size:48px;
    letter-spacing:2px;
    line-height:48px;
    flex:1;
    padding:8px 16px;
  }

  .m-revenue--console-label{
    display:block;

    > * {
      vertical-align:middle;
    }

    label{
      text-transform: uppercase;
      font-family: 'Lato';
      letter-spacing:1px;
      font-size:14px;
    }
    i{
      font-size: 16px;
      opacity: 0.5;
      cursor: pointer;
    }
  }

  .m-revenue--console-breakdown{
    flex: 1;
    letter-spacing: 2px;
    font-size: 16px;

    > * {
      padding: 4px 0;
    }
  }
}

m-monetization--graph{
  margin-bottom:32px;
}

.m-revenue--console-nav{
  padding: 0;
  text-align: center;
  text-transform: uppercase;

  display: flex;
  justify-content: center;

  @media only screen and (max-width: 400px) {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .m-revenue--console-nav-item {
    padding: 16px 32px;
    font-family: 'Lato';
    font-weight: 300;
    letter-spacing: 2px;
    cursor: pointer;

    @media only screen and (max-width: 400px) {
      flex: 1;
    }
  }
}

.m-revenue--console{

  m-revenue--ledger{
    display: block;
    max-width: 600px;
    margin: auto;

    table{
      width:100%;
    }
  }
}
h2.m-revenue--console-product-header{
  margin: 0;
  padding: 16px 16px 0;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
}
