m-proposal {
  display: block;
  position: relative;
  box-sizing: border-box;
  margin-top: 10px;

  &,
  &.m-border {
    border-radius: $m-borderRadius;
  }

  @include m-theme() {
    background: themed($m-bgColor--primary);
  }
}

.m-proposal--actions {
  @include m-theme() {
    color: themed($m-textColor--secondary);
  }
  font-size: 14px;
  cursor: pointer;
}

.m-proposal--actions-active {
  color: #38a169;
  font-size: 14px;
  cursor: pointer;
  text-transform: inherit;
}

.m-proposal--actions-pending {
  color: #bf8f33;
  font-size: 14px;
  cursor: pointer;
  text-transform: capitalize;
}

.m-proposal--actions-closed {
  @include m-theme() {
    color: themed($m-red);
  }
  font-size: 14px;
  cursor: pointer;
  text-transform: capitalize;
}

.m-proposal--row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  align-items: center;
  margin-top: 10px;
}

.m-proposal--row-title {
  display: flex;
  font-size: 16px;
  font-weight: bold;
}

.m-proposal--second-row {
  align-items: center;
  display: flex;
}

.m-proposal--proposal {
  margin-left: 6px;
  font-size: 13px;
}

.m-proposal--container {
  border: 1px solid;
  margin-bottom: 20px;
  border-radius: $m-borderRadius;
  padding: 27px 37px;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 11px #424a50;
    transform: translateY(-4px);
  }
  @media screen and (max-width: $max-mobile) {
    padding: 17px 28px;
  }
}

.m-proposal--container-blue {
  @include m-theme() {
    border-color: themed($m-link);
  }
}

.m-proposal--container-gray {
  @include m-theme() {
    border-color: themed($m-borderColor--primary) !important;
  }
}

.m-proposal--icon {
  @include m-theme() {
    color: themed($m-link);
  }
}

.m-proposal--fixedHeight {
  height: 750px;
  display: flex;
  flex-direction: column;
}

.m-proposal--fixedHeightContainer {
  height: 100%;
  width: 100%;
}

.m-proposal--voting-row {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.m-proposal--voting-row-open {
  display: grid;
  align-items: center;
  margin-top: 6px;
}

.m-proposal--clock {
  margin-right: 9px;
}

.m-proposal--details {
  @include m-theme() {
    color: themed($m-textColor--secondary);
  }
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  margin-top: 14px;
}

.m-proposal--details-container .test {
  position: relative;
}

.m-proposal--details-container .test::after {
  content: '';
  display: block;
  height: 25px;
  width: 100%;
  position: absolute;
  bottom: 0;
  @include m-theme() {
    background: rgba(240, 248, 255, 0)
      linear-gradient(
        to top,
        themed($m-bgColor--primary),
        rgba(255, 255, 255, 0)
      )
      repeat scroll 0 0; // for white
  }
}

.m-proposal--thumbnail {
  height: 30px;
  width: 30px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.m-proposal--thumbnail-small {
  height: 30px;
  width: 36px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.m-proposal--thumbnail-row {
  display: flex;
  margin-top: 14px;
  align-items: center;
  margin-bottom: 14px;
}

.m-proposal--users {
  margin-left: 16px;
  font-size: 14px;
  line-height: 18px;
}

.m-proposal--proposal-detail-progress {
  height: 8px;
  position: relative;
  @include m-theme() {
    background: themed($m-red) !important;
  }
  border-radius: 25px;
  width: 100%;
}

.m-proposal--proposal-detail-progress > span {
  display: block;
  height: 100%;
  border-radius: 20px;
  background-color: #38a169;
  position: relative;
  overflow: hidden;
}

.m-proposal--row-score {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.m-proposal--actions-results {
  @include m-theme() {
    color: themed($m-textColor--secondary);
  }
}

.m-proposal--row-limit {
  max-width: 476px;
}
