<ng-container>
  <div class="m-proposal--row" *ngIf="showHeader">
    <div class="m-proposal--second-row">
      <m-icon class="m-proposal--icon" from="custom" iconId="note"></m-icon>
      <span class="m-proposal--icon m-proposal--proposal">PROPOSAL</span>
    </div>

    <div class="m-proposal--second-row">
      <span class="m-proposal--actions">See more · &nbsp;</span>
      <span class="m-proposal--actions">Hide</span>
    </div>
  </div>
  <div
    class="m-proposal--container"
    [ngClass]="{
      'm-proposal--container-gray': !showHeader,
      'm-proposal--container-blue': showHeader
    }"
  >
    <div class="m-proposal--row-title">
      {{ proposal.title }}
    </div>
    <div class="m-proposal--voting-row">
      <div
        class="m-proposal--actions-active"
        *ngIf="proposal.state === 'active'"
      >
        Voting open
      </div>
      <div
        [ngClass]="{
          'm-proposal--actions-pending': proposal.state === 'pending',
          'm-proposal--actions-closed': proposal.state === 'closed'
        }"
        *ngIf="proposal.state !== 'active'"
      >
        {{ proposal.state }}
      </div>
      <div class="m-proposal--actions">
        &nbsp;· proposed by @fabiolalombardim
      </div>
    </div>

    <div class="m-proposal--details m-proposal--details-container">
      <p [ngClass]="{ test: isLong }">
        {{ proposal.body }}
      </p>
    </div>

    <div class="m-proposal--thumbnail-row" *ngIf="proposal.state !== 'pending'">
      <div class="m-proposal--thumbnail"></div>
      <div class="m-proposal--thumbnail"></div>
      <div class="m-proposal--thumbnail"></div>
      <div class="m-proposal--users">Sarah, Ted and Ada participated</div>
    </div>

    <div *ngIf="proposal.state !== 'pending'" class="m-proposal--row-limit">
      <div class="m-proposal--voting-row">
        <div class="m-proposal--proposal-detail-progress">
          <span [style.width]="accepted + '%'"></span>
        </div>
      </div>
      <div class="m-proposal--row-score">
        <div class="m-proposal--actions-results">{{ accepted }}% accepted</div>
        <div class="m-proposal--actions-results">{{ rejected }}% rejected</div>
      </div>
    </div>
  </div>
</ng-container>
