@import 'defaults';
@import 'themes';

.m-governance__card-container {
  padding: 25px 20px;
  margin-bottom: 20px;
  cursor: pointer;

  @include m-theme() {
    background-color: themed($m-bgColor--primary);
    border: 1px solid themed($m-borderColor--primary);
  }
  &:hover {
    box-shadow: 0 0 11px #424a50;
    transform: translateY(-4px);
    .m-governance__card-arrow-container {
      .m-governance__card-arrow-corner {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 32px;
        height: 32px;
        overflow: hidden;
        top: 0;
        right: 0px;
        border-radius: 0 0 0 32px;
        @include m-theme() {
          background-color: themed($m-blue);
          border-color: themed($m-blue);
        }
      }

      .m-governance__card-arrow {
        display: flex;
        margin-top: -4px;
        margin-right: -4px;
        color: white;
        font-family: courier, sans;
      }
    }
  }

  .m-governance__card-arrow-h2 {
    padding-left: 4px;
    margin: 0;

    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.25px;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 16px;
    margin-top: 6px;
  }
  .m-governance__card-arrow-container {
    .m-governance__card-arrow-corner {
      display: none;
    }

    .m-governance__card-arrow {
      display: none;
    }
  }

  .m-application-meta {
    .m-governance__card-status {
      display: flex;
      text-transform: capitalize;
      margin-bottom: 4px;
    }
  }

  .m-governance__card-status-text {
    font-weight: 500;
    font-size: 15px;
  }

  .m-governance__card-status-green {
    color: #64CB2F;
  }

  .m-governance__card-status-red {
    color: #e63535;
  }

  .m-governance__card-check {
    margin-right: 9px;
  }

  .m-governance__card-orange {
    color: #ffb200;
  }
}
