@import 'defaults.scss';

:host {
  position: relative;

  .m-composerToolbar__action--post {
    margin-top: -4px;

    ::ng-deep {
      .m-button {
        align-items: center;
      }
      .m-button__text--unsaved > * {
        font-size: 15px !important;
      }
    }
  }

  .m-composerToolbarAction__disabledOverlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: auto;
  }

  span.m-animation__shimmer--text,
  .m-animation__shimmer--icon {
    @include m-theme() {
      color: rgba(themed($m-black), 0.1);

      background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(themed($m-textColor--secondary)),
        to(themed($m-textColor--secondary)),
        color-stop(0.3, themed($m-blue)),
        color-stop(0.6, #4eb8ff),
        color-stop(0.8, themed($m-blue))
      );

      background-color: themed($m-textColor--secondary);
      background-size: 30px 150%;
      background-repeat: no-repeat;
      background-position: -100% 0;

      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-delay: 0.6s;

      -webkit-background-clip: text;
      -moz-background-clip: text;
    }
  }

  span.m-animation__shimmer--text {
    animation-name: shimmer--text;
  }

  .m-animation__shimmer--icon {
    animation-name: shimmer--icon;
    @media screen and (max-width: $max-mobile) {
      background: none;
      animation-name: shimmerPulse--icon;
    }
  }

  // ----------------------------- //
  @keyframes shimmer--text {
    0% {
      background-position: -100% 0;
    }

    21% {
      background-position: 300% 0;
    }
    100% {
      background-position: 300% 0;
    }
  }

  @keyframes shimmer--icon {
    0% {
      background-position: 150% 0;
    }
    12% {
      background-position: -150% 0;
    }
  }

  @keyframes shimmerPulse--icon {
    0% {
      transform: scale(1);
      background-position: 150% 0;
    }
    8% {
      transform: scale(1.15);
    }
    16% {
      transform: scale(1);
    }
    30% {
      background-position: -150% 0;
    }
  }

  .m-animation__shimmer--icon > * {
    @include m-theme() {
      color: rgba(themed($m-black), 0.1);

      background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(themed($m-textColor--secondary)),
        to(themed($m-textColor--secondary)),
        color-stop(0.3, themed($m-blue)),
        color-stop(0.6, #4eb8ff),
        color-stop(0.8, themed($m-blue))
      );
      background-color: themed($m-textColor--secondary);
      background-size: 30px 150%;
      background-repeat: no-repeat;
      background-position: -200% 0;
    }

    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 0.6s;
    @media screen and (max-width: $max-mobile) {
      background: none;
      animation-name: shimmerPulse--icon;
      animation-duration: 5s;
      animation-delay: 0.6s;
    }
  }

  .m-composerToolbarItem__label {
    display: none;
  }

  .composerToolbarItem__label--hidden {
    display: none;
  }

  ::ng-deep m-emojiPicker {
    .m-emojiPicker__icon {
      font-size: 20px;
    }
  }

  ::ng-deep m-button.m-composerToolbar__action--post {
    .m-button__text--saving {
      height: 100%;
      width: 100%;
    }
  }

  .m-composer__toolbar__left {
    display: flex;
    align-items: center;
    gap: $spacing6;
    flex: 1;
    height: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    margin-right: $spacing4;

    @media screen and (max-width: 400px) {
      gap: $spacing3;
      margin-right: $spacing2;
    }

    ::ng-deep m-emojiPicker popper-content {
      position: absolute;
    }

    .m-composerToolbar__item--fixedWidth {
      display: block;
      text-align: center;
      width: 20px;
    }
  }
}
