<m-modal [open]="open" (closed)="close()">
  <div [hidden]="errorlevel !== null" class="m-modal-confirm-body">
    <h5 class="m-modal-reasons--title">Specify a reason for the rejection</h5>

    <ul class="m-modal-reasons--reasons mdl-list">
      <li
        class="m-modal-reasons--reasons--reason mdl-list__item"
        [class.selected]="reason.code === boost.rejection_reason"
        *ngFor="let reason of reasons; let i = index"
        (click)="selectReason(reason)"
      >
        <span class="mdl-list__item-primary-content">{{ reason.label }}</span>
      </li>
    </ul>

    <div class="m-modal-confirm-buttons">
      <m-button
        class="mdl-button mdl-button--colored mdl-button--raised"
        [disabled]="boost.rejection_reason == -1"
        (onAction)="action()"
      >
        {{ yesButton }}
      </m-button>

      <m-button
        class="mdl-button mdl-button--raised m-modal-reasons--no-button"
        (onAction)="close()"
        *ngIf="noButton"
      >
        {{ noButton }}
      </m-button>
    </div>
  </div>

  <div
    [hidden]="errorlevel === null || errorlevel !== 0"
    class="m-modal-confirm-body"
  >
    <ng-content select="[confirm-success-message]"></ng-content>

    <div class="m-modal-confirm-buttons" *ngIf="dismissButton">
      <m-button (onAction)="close()">
        {{ dismissButton }}
      </m-button>
    </div>
  </div>

  <div
    [hidden]="errorlevel === null || errorlevel === 0"
    class="m-modal-confirm-body"
  >
    <ng-content select="[confirm-error-message]"></ng-content>

    <div class="m-modal-confirm-buttons" *ngIf="dismissButton">
      <m-button (onAction)="close()">
        {{ dismissButton }}
      </m-button>
    </div>
  </div>
</m-modal>
