<m-marketing
  class="m-aux__marketing m-aux__marketing--hasHero"
  [useFullWidth]="false"
>
  <div class="m-marketing__main">
    <div class="m-aux__hero">
      <div class="m-aux__heroInner">
        <h1 i18n="@@I18N__LOCALIZATION_TITLE">Localization</h1>
        <h3 i18n="@@I18N__LOCALIZATION_DESC">
          Help translate Minds into every global language
        </h3>
        <m-shadowboxSubmitButton
          ><a href="https://translate.minds.com/" target="_blank">
            <ng-container i18n="@@I18N__CONTRIBUTE_ACTION"
              >Contribute</ng-container
            ></a
          >
        </m-shadowboxSubmitButton>
      </div>
    </div>
  </div>
</m-marketing>
