.m-jobs--marketing {

  .m-marketing--hero {
    padding: 24px 0 !important;

    .m-marketing--hero--inner {
      padding: 52px;
      flex-wrap: wrap;
    }

  }

  .m-marketing--section--subsection--first .m-marketing--section--subsection-container {
    padding-top: 32px !important;
  }

  .m-marketing--hero--actions img {
    max-height: 250px;
  }

  @media screen and (max-width: 662px) {
    .m-marketing--hero--actions {
      flex-basis: 100% !important;
      margin-top: 16px;
    }
  }

  .m-marketing--hero--slogans h1 {
    font-size: 62px !important;
  }

  .m-job--marketing--list {
    padding-left: 24px;

    li {
      font-size: 16px;
      line-height: 2.5;
      color: #666;
    }
  }

}
