.m-blog--tile{
  //padding: 8px;
  height: 100%;
  background: #FFF;
  display: flex;
  cursor: pointer;
  flex-direction: column;

  .m-blog--tile-thumbnail {
    background-color:#444;
    background-position: center center; 
    background-size:cover;
    flex: 1;

    display: block;

    width: 100%;
    text-decoration: none;

    text-align: center;
    display: flex;
    align-items: center;

    span {
      color: #FFF;
      vertical-align: middle;
      width: 100%;
      font-size: 72px;
    }
  }

  .m-blog--tile-title {
    position: relative;
    label {
      font-weight: 800;
      font-family: 'Roboto';
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      font-size: 16px;
      letter-spacing: 0.25px;
      color: #444;
      padding: 12px 12px 0;

      cursor: pointer;
      display: block;
      //text-overflow: ellipsis;
      //white-space: nowrap;
      //overflow: hidden;
    }
    p {
      padding: 0 12px;
      margin: 0;
      color: #666;
      display: none;
    }
  }

  .m-inline-owner-block {
    display: inline-block;
    padding: 4px 12px 12px;

    a {
      text-decoration: none;
      font-family: Roboto;
      text-transform: uppercase;
      letter-spacing: 1.25px;
      font-size: 10px;
      font-weight: 600;
      font-family: Roboto;
    }
    img {
      border-radius: 50%;
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }
    span {
      font-family: Roboto;
      text-transform: uppercase;
      font-size: 10px;
      text-align: right;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      color: #888;
    }
  }

  m-safe-toggle {
    position: absolute;
    right: 12px;
    bottom: 12px;
  }

}