m-youtubeMigration__marketing {
  .m-marketing__main {
    h1 {
      white-space: nowrap;
    }
    h2 {
      em {
        &::after {
          top: 0.09em;
          right: -0.08em;
          bottom: 0.12em;
        }
      }
    }
  }

  .m-marketing__section--tail {
    button {
      margin: 45px 0;
    }
  }
}
