m-youtubeMigration__marketing {
  .m-marketing__main {
    h1 {
      white-space: nowrap;
    }
    h2 {
      em {
        &::after {
          top: 0.09em;
          right: -0.08em;
          bottom: 0.12em;
        }
      }
    }
  }

  .m-marketing__section--tail {
    button {
      margin: 45px 0;
    }
  }
  .m-marketing__section ul.m-marketing__points > li {
    font-size: 18px;
    line-height: 27px;

    @media screen and (min-width: 700px) and (max-width: $m-grid-min-vp) {
      font-size: 16px;
      line-height: 24px;
    }

    @media screen and (max-width: 700px) {
      font-size: 15px;
      line-height: 22px;
    }
  }
}
