<ng-container *ngIf="compact">
  <div class="m-hashtagsSidebarSelector__CompactList">
    <ul>
      <li *ngFor="let hashtag of hashtags">
        <a
          class="m-hashtagsSidebarSelectorCompactList__Label"
          [class.m-hashtagsSidebarSelectorCompactList__Label--visible]="
            !disabled && currentHashtag === hashtag.value
          "
          [title]="'#' + hashtag.value"
          (click)="hashtagVisibilityChange(hashtag)"
          >#{{ hashtag.value }}</a
        >
      </li>
    </ul>
    <div
      class="m-hashtagsSidebarSelectorCompactList__Overflow"
      (click)="toggleShowExtendedList()"
    >
      <i
        class="fa m-hashtagsSidebarSelectorCompactListOverflow__Arrow"
        [class.fa-chevron-down]="!showExtendedList"
        [class.fa-chevron-up]="showExtendedList"
      ></i>
    </div>
  </div>
</ng-container>

<div
  class="m-hashtags--sidebar-selector"
  *ngIf="!compact || showExtendedList"
  [class.m-hashtags--sidebar-selector--expanded]="compact && showExtendedList"
>
  <div class="m-hashtagsSidebarSelector__header">
    <h3 i18n="@@SIDEBAR_SELECTOR__PREFERRED">Preferred</h3>

    <span class="m-hashtagsSidebarSelector__SwitchComponent">
      <span
        *ngIf="disabled"
        class="m-hashtagsSidebarSelectorSwitchComponent__Overlay"
        (click)="switchAttempt.next()"
      ></span>
      <m-switch
        [(mModel)]="preferred"
        (change)="preferredChange()"
        [disabled]="disabled"
        labelPosition="left"
        i18n="@@SIDEBAR_SELECTOR__ON"
      >
        On
      </m-switch>
    </span>
  </div>

  <div class="m-hashtagsSidebarSelector__spinner" *ngIf="loading">
    <div
      class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"
      [mdl]
    ></div>
  </div>

  <div class="m-hashtagsSidebarSelector__list">
    <ul>
      <li *ngFor="let hashtag of visibleHashtags">
        <m-hashtagsSidebarSelector__item
          [currentHashtag]="currentHashtag"
          [hashtag]="hashtag"
          [disabled]="disabled"
          [preferred]="preferred"
          (hashtagVisibilityChange)="hashtagVisibilityChange($event)"
          (toggleHashtag)="toggleHashtag($event)"
        ></m-hashtagsSidebarSelector__item>
      </li>

      <li
        *ngIf="
          initialized && !disabled && (!hasBelowTheFoldHashtags || showAll)
        "
        class="m-hashtagsSidebarSelectorItem__input"
      >
        <input
          type="text"
          class="m-hashtagsSidebarSelectorList__addInput"
          (keydown)="detectChanges()"
          (keydown.enter)="addHashtag($event.target); $event.preventDefault()"
          (keydown.tab)="addHashtag($event.target); $event.preventDefault()"
          placeholder="#hashtag"
          i18n-placeholder="@@SIDEBAR_SELECTOR__HASH_HASHTAG"
          #newHashtagInput
        />

        <a
          class="m-hashtagsSidebarSelectorList__addButton"
          (click)="addHashtag(newHashtagInput)"
          title="Filter by this hashtag"
          i18n-title="@@SIDEBAR_SELECTOR__FILTER_BY_HASHTAG"
          [hidden]="!newHashtagInput.value"
          ><i class="material-icons">check</i></a
        >

        <a
          class="m-hashtagsSidebarSelectorList__addButton"
          (click)="resetAddHashtag(newHashtagInput)"
          [hidden]="!newHashtagInput.value"
          ><i class="material-icons">close</i></a
        >
      </li>

      <ng-container *ngIf="showSuggested">
        <div
          class="m-hashtagsSidebarSelector__header"
          *ngIf="!loading"
          style="margin-top: 12px;"
        >
          <h3>
            <ng-container *ngIf="showTrending; else showTrendingHeader"
              >Trending</ng-container
            >
            <ng-template #showTrendingHeader>Suggested</ng-template>
          </h3>

          <span
            (click)="toggleTrending()"
            class="m-hashtagsSidebarSelector__toggleTrending"
          >
            <ng-container *ngIf="showTrending; else showTrendingText"
              >Suggested</ng-container
            >
            <ng-template #showTrendingText>Trending</ng-template>
          </span>
        </div>

        <li *ngFor="let hashtag of moreHashtags">
          <m-hashtagsSidebarSelector__item
            [currentHashtag]="currentHashtag"
            [hashtag]="hashtag"
            [disabled]="disabled"
            [preferred]="preferred"
            (hashtagVisibilityChange)="hashtagVisibilityChange($event)"
            (toggleHashtag)="toggleHashtag($event)"
          ></m-hashtagsSidebarSelector__item>
        </li>
      </ng-container>
    </ul>

    <a
      (click)="toggleSuggested()"
      *ngIf="!loading"
      class="m-hashtagsSidebarSelector__showMoreLink"
    >
      <ng-container *ngIf="showSuggested; else showLabel" i18n="@@COMMON__HIDE"
        >Hide</ng-container
      >
      <ng-template #showLabel>
        <ng-container
          *ngIf="showTrending; else showSuggestedHiddenText"
          i18n="@@SIDEBAR_SELECTOR__SHOW_TRENDING"
          >Show trending</ng-container
        >
        <ng-template #showSuggestedHiddenText>
          <ng-container i18n="@@SIDEBAR_SELECTOR__SHOW_SUGGESTED"
            >Show suggested</ng-container
          >
        </ng-template>
      </ng-template>
    </a>
  </div>
</div>

<div
  class="minds-bg-overlay"
  (click)="closeExtendedList()"
  [hidden]="!showExtendedList"
></div>
