<div class="m-composerPopup__body m-composer__monetize">
  <div class="m-composerPopup__content m-formWrapper">
    <h3 class="m-composerPopup__title" i18n="@@COMMON__MONETIZE">Monetize</h3>

    <p class="m-composerPopup__text" i18n="@@COMPOSER__MONETIZE_POST">
      Monetize post by making it available to your users who support your
      channel.
    </p>

    <div class="m-composerPopup__field">
      <span class="m-composerPopup__label" i18n="@@COMPOSER__PAYWALL_SETTINGS"
        >Paywall status</span
      >

      <label
        class="m-composerPopup__trigger"
        [for]="inputId + '-enablePaywall'"
      >
        <input
          type="checkbox"
          [id]="inputId + '-enablePaywall'"
          [(ngModel)]="state.enabled"
          data-cy="monetize-enable-paywall"
        />
        <span i18n="@@COMPOSER__ENABLE_PAYWALL">Enable Paywall</span>
      </label>
    </div>

    <div [style.visibility]="state.enabled ? 'visible' : 'hidden'">
      <div *mIfFeature="'channels-shop'" class="m-form__field--select">
        <div class="m-form__row--input">
          <select
            *ngIf="supportTiers.list$ | async as supportTiersList"
            [compareWith]="byUrn"
            [ngModel]="state.supportTier"
            (ngModelChange)="selectSupportTier($event)"
          >
            <option [ngValue]="null" i18n="@@COMMON__CUSTOM">Custom</option>

            <option
              *ngFor="let supportTier of supportTiersList"
              [ngValue]="supportTier"
            >
              {{ supportTier.name }}
            </option>
          </select>
        </div>
      </div>

      <ng-container
        *ngIf="!state.supportTier || !features.has('channels-shop')"
      >
        <div
          class="m-form__fieldsContainer m-composerPopup__field m-composerMonetize__typeField"
        >
          <div class="m-form__field--radio">
            <div class="m-form__row--input">
              <label
                for="composer-v2-monetize-type-tokens"
                class="m-form__customInputWrapper__radio"
              >
                <ng-container i18n="@@COMMON__TOKENS">Tokens</ng-container>
                <input
                  type="radio"
                  id="composer-v2-monetize-type-tokens"
                  class="form-control"
                  [(ngModel)]="state.type"
                  [value]="'tokens'"
                />
                <span class="m-form__customInput__radio"></span>
              </label>

              <label
                for="composer-v2-monetize-type-usd"
                class="m-form__customInputWrapper__radio"
              >
                <ng-container i18n="@@COMPOSER__USD">USD</ng-container>
                <input
                  type="radio"
                  id="composer-v2-monetize-type-usd"
                  class="form-control"
                  [(ngModel)]="state.type"
                  [value]="'money'"
                />
                <span class="m-form__customInput__radio"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="m-composerPopup__field">
          <label [for]="inputId + '-amount'">
            <ng-container [ngSwitch]="state.type">
              <ng-container
                *ngSwitchCase="'tokens'"
                i18n="@@CHANNELS__MONETIZE__MIN_TOKENS_PER_MONTH"
                >Minimum Tokens/Month</ng-container
              >
              <ng-container
                *ngSwitchCase="'money'"
                i18n="@@CHANNELS__MONETIZE__MAX_TOKENS_PER_MONTH"
                >Minimum USD/Month</ng-container
              >
            </ng-container>

            <m-tooltip
              icon="info"
              i18n="@@COMPOSER__AMOUNT_REQUIRED_REQUIRED_ACCESS"
            >
              Amount required to access membership tier
            </m-tooltip>
          </label>

          <input
            [id]="inputId + '-amount'"
            type="number"
            [(ngModel)]="state.amount"
            data-cy="monetize-paywall-amount"
          />
        </div>
      </ng-container>
    </div>
  </div>

  <div class="m-composerPopup__action">
    <m-button
      class="m-composerPopup__save"
      [disabled]="state.enabled && state.amount <= 0"
      (onAction)="save()"
      data-cy="monetize-save-button"
      i18n="@@COMMON__SAVE"
    >
      Save
    </m-button>
  </div>
</div>
