@import 'defaults';

minds-textarea {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: $minds-padding;
  box-sizing: border-box;
  overflow: hidden;
  @include m-theme() {
    background-color: themed($m-bgColor--primary);
    border: 1px solid themed($m-borderColor--primary);
  }

  > .m-editor {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: inherit;
    min-height: 1.6em;

    outline: none;
    white-space: pre-wrap;
    word-wrap: anywhere;

    -webkit-user-modify: read-write-plaintext-only;
    -moz-user-modify: read-write;
    @include m-theme() {
      color: themed($m-textColor--primary);
    }

    &.m-editor-disabled {
      @include m-theme() {
        color: themed($m-textColor--tertiary);
      }
      -webkit-user-modify: initial;
      -moz-user-modify: initial;
    }

    &:focus + .m-placeholder {
      display: none;
    }
  }

  > .m-placeholder {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: inherit;
    width: 100%;

    @include m-theme() {
      color: themed($m-textColor--secondary);
    }

    pointer-events: none;
  }
}
