@import 'defaults.scss';
@import 'typography';
@import 'spacing';
@import '../../../common/layout/layout.scss';

$topbarHeight: 75px;

:host {
  margin-bottom: 0;

  > * {
    width: 100%;
  }

  &:not(.m-feedNoticeOutlet__container--topPosition) {
    border-bottom: unset !important;
  }
  &.m-feedNoticeOutlet__container--visible {
    display: flex;

    @include m-theme() {
      border-top: 1px solid themed($m-borderColor--primary);
      border-bottom: 1px solid themed($m-borderColor--primary);
    }
  }

  &.m-feedNoticeOutlet__container--sticky {
    position: sticky;
    top: $topbarHeight;
    @include z-index(messenger);
  }
}
