m-walletPhoneVerification {
  .m-walletModal__footnote {
    .m-walletPhoneVerification__formStatusCodeSent {
      margin-bottom: 6px;
      @include m-theme() {
        color: themed($m-grey-800);
      }
    }
  }

  m-phoneInput {
    .m-phoneInput__countryList {
      max-height: 124px;
    }
  }

  m-shadowboxSubmitButton {
    width: 147px;
    button {
      width: 100%;
    }
  }
  // TODOOJM tweak this so countryList max-height doesn't overflow
  @media screen and (max-width: 771px) {
    m-shadowboxSubmitButton {
      margin: 0 0 21px 0;
    }
    .stretchedField {
      .m-walletForm__row--label m-tooltip {
        .m-tooltip--bubble {
          right: 12px;
          width: 174px;
        }
      }
      [class*='m-walletForm__row'] {
        &:not(.m-phoneInput__wrapper) {
          flex-flow: row wrap;
          label,
          input {
            flex: 1 1 100%;
            max-width: 100%;
            &:not(.m-phoneInput__input) {
              min-width: 100%;
            }
          }
        }
      }
    }
    m-phoneInput {
      .m-phoneInput__countryList {
        max-height: 200px;
      }
    }
  }
}
