@import "defaults";

.m-card--large {
  padding: 24px;
  margin-bottom: 16px;
  @include m-theme(){
    background-color: themed($m-white);
  }

  h2 {
    font-size: 42px;
    margin: 0;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 42px;
    @include m-theme(){
      color: themed($m-grey-800);
    }
  }

  .m-card--subtext {
    font-size: 16px;
    line-height: 20px;
    margin: 8px 0 16px;
    padding: 0;
  }
}

minds-graph-line svg {
  @include m-theme(){
    stroke: themed($m-grey-500);
  }
}

minds-graph-pie svg {
  @include m-theme(){
    background-color: themed($m-grey-100);
  }

  circle {
    @include m-theme(){
      stroke: themed($m-blue-dark);
    }
  }
}

minds-button-thumbs-up a,
minds-button-thumbs-down a {
  @include m-theme(){
    color: themed($m-blue-grey-500);
  }
}