@import 'defaults.scss';
@import './shared.scss';

:host {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  border-radius: 0 !important;
  @include m-theme() {
    background: themed($m-bgColor--primary);
  }

  // ******************************************************
  // ** FEED **
  // ******************************************************

  &.m-activity--isFeed {
    padding-bottom: $spacing4;
    @include m-theme() {
      border-top: 1px solid themed($m-borderColor--primary);
    }

    .m-activity__top {
      padding-left: $feedAvatarSpacingLeft;
      padding-right: $feedSpacingRight;

      @media screen and (max-width: $max-mobile) {
        padding-left: $feedAvatarSpacingLeft--mobile;
        padding-right: $feedSpacingRight--mobile;
      }
    }
  }

  // ******************************************************
  // ** FIXED HEIGHT **
  // ******************************************************

  &.m-activity--fixedHeight {
    height: 650px; // ojm fixedHeight change?
    display: flex;
    flex-direction: row;

    ::ng-deep {
      m-activity__nsfwConsent {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }
    ::ng-deep m-activity__remind {
      display: flex;
      flex-direction: row;
      overflow: hidden;
    }
  }

  &.m-activity--fixedHeightContainer {
    height: 100%;
    width: 100%;
  }

  // ******************************************************
  // ** MINIMAL MODE **
  // ******************************************************

  &.m-activity--minimalMode {
    padding: 0;

    @include m-theme() {
      border: 1px solid themed($m-borderColor--primary) !important;
    }
    .m-activity__top {
      padding-top: 0;
    }

    ::ng-deep .m-activityContent--paywalledStatus {
      padding-top: 30px; //ojm
    }
    ::ng-deep .m-videoPlayer__placeholder i {
      font-size: 70px;
    }
  }

  // ******************************************************
  // ** MODAL **
  // ******************************************************

  m-activityV2__modal & {
    padding: 0;
    @media screen and (max-width: $max-mobile) {
      padding: 0;
    }
  }

  // ******************************************************
  // ** SIDEBAR BOOST **
  // ******************************************************

  m-ads-boost & {
    padding: $spacing5;
    .m-activity__rightColumn {
      width: 100%;
    }
  }

  // ******************************************************
  // ** SINGLE **
  // ******************************************************

  m-newsfeed--single & {
    padding: 0;
    @media screen and (max-width: $max-mobile) {
      padding: 0;
    }

    &:not(.m-activity--minimalMode) {
      .m-activity__top {
        padding-left: $singlePostAvatarSpacingLeft;
        padding-right: $singlePostSpacingRight;
        padding-top: $spacing4;
        padding-bottom: $spacing4;

        @media screen and (max-width: $max-mobile) {
          padding-left: $singlePostAvatarSpacingLeft--mobile;
          padding-right: $singlePostSpacingRight--mobile;
        }
      }
    }
  }

  // ******************************************************
  // ******************************************************
  // ******************************************************
  // ** DEFAULT **
  // ******************************************************
  // ******************************************************
  // ******************************************************

  .m-activity__top {
    display: flex;
    flex-direction: row;
    padding-top: $spacing4;
  }

  .m-activity__leftColumn,
  ::ng-deep m-activityV2__remind .m-activity__leftColumn {
    padding-right: $feedAvatarSpacingRight;
  }

  .m-activity__rightColumn,
  ::ng-deep m-activityV2__remind .m-activity__rightColumn {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .m-activity__flagRow {
    display: flex;
    flex-direction: row;
    padding-bottom: $spacing3;
    align-items: center;

    .m-activity__boostRotatorButtons {
      ::ng-deep m-icon {
        margin-right: $spacing2;
        i {
          cursor: pointer;
          @include heading2Regular;
        }
      }
    }
  }

  // ******************************************************
  // ** AVATAR **
  // ******************************************************

  .m-activity__avatar,
  ::ng-deep m-activityV2__remind .m-activity__avatar {
    padding-right: $feedAvatarSpacingRight;

    img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      object-fit: cover;
    }
  }

  .m-activityLeftColumn__spacer {
    height: $spacing8;
  }
}
