<div class="m-expansionPanel">
  <div class="m-expansionPanel__top">
    <ng-content select="[visibleAlways]"></ng-content>
    <div class="m-expansionPanelTop__toggle" (click)="toggleExpansion()">
      <i class="material-icons"
        ><ng-container *ngIf="!(expanded$ | async)">chevron_right</ng-container>
        <ng-container *ngIf="expanded$ | async">expand_more</ng-container></i
      >
    </div>
  </div>

  <div class="m-expansionPanel__bottom" *ngIf="expanded$ | async">
    <ng-content select="[visibleWhenExpanded]"></ng-content>
  </div>
</div>
