@import 'defaults.scss';

:host {
  .m-expansionPanel {
    display: flex;
    flex-flow: column nowrap;
  }

  .m-expansionPanel__top,
  .m-expansionPanel__bottom {
    padding: $spacing4;
  }

  .m-expansionPanel__top {
    cursor: pointer;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    > i {
      margin-left: $spacing2;
    }
  }

  .m-expansionPanel__bottom {
    overflow: hidden;
  }
}
