<div class="mf-jumpAnchor" #topAnchor></div>

<m-marketing class="m-pay__marketing" pageTitle="Minds Pay" i18n-pageTitle>
  <div class="m-marketing__main m-marketing__section--style-2">
    <div class="m-grid m-marketing__wrapper">
      <div class="m-grid__column-7 m-grid__column-12--mobile m-marketing__body">
        <h1 i18n>
          Minds Pay
        </h1>

        <h2 ngPreserveWhitespaces i18n>
          Send and receive payments in
          <em>USD, BTC, ETH and Tokens</em>
        </h2>

        <p class="m-marketing__description" i18n>
          Enable your supporters or friends to pay you in dollars or
          cryptocurrency. Get tips and monthly subscriptions for your content.
        </p>

        <div class="">
          <button
            class="mf-button mf-button--alt"
            (click)="action(); $event.preventDefault()"
            i18n
          >
            Monetize your channel
          </button>
        </div>
      </div>

      <div
        class="m-grid__column-5 m-grid__column-12--mobile m-marketing__image"
      >
        <span>
          <img [src]="cdnAssetsUrl + 'assets/product-pages/pay/pay-1.jpg'" />
        </span>
      </div>
    </div>
  </div>

  <ng-container slot="2">
    <m-marketing__asFeaturedIn></m-marketing__asFeaturedIn>

    <!-- Section 2 -->

    <div class="m-marketing__section m-marketing__section--style-3">
      <div class="m-grid m-marketing__wrapper">
        <div
          class="m-grid__column-6 m-grid__column-12--mobile m-marketing__body"
        >
          <h2 i18n>Multi-currency support</h2>

          <p class="m-marketing__description" i18n>
            Receive tips and subscription payments in USD, Bitcoin, Ether or
            Minds Tokens by linking your crypto addresses and bank account.
          </p>

          <p class="m-marketing__description" i18n>
            Manage your accounts and keep track of all of your transactions in
            your Minds Wallet.
          </p>
        </div>
        <div
          class="m-grid__column-6 m-grid__column-12--mobile m-marketing__image"
        >
          <span>
            <img
              class="m-marketing__image--1"
              [src]="cdnAssetsUrl + 'assets/product-pages/pay/pay-2.jpg'"
            />

            <img
              class="m-marketing__image--2"
              [src]="cdnAssetsUrl + 'assets/product-pages/pay/pay-2-ux.png'"
            />
          </span>
        </div>
      </div>
    </div>

    <!-- Section 3 -->

    <div class="m-marketing__section m-marketing__section--style-4">
      <div class="m-grid m-marketing__wrapper">
        <div
          class="m-grid__column-6 m-grid__column-12--mobile m-marketing__body"
        >
          <h2 i18n>Subscription Tiers</h2>

          <p class="m-marketing__description" i18n>
            Set up different subscription tiers to offer your fans in exchange
            for recurring monthly payments in USD or Minds Tokens (BTC and ETH
            not yet supported).
          </p>

          <p class="m-marketing__description" i18n>
            Post content behind paywalls that is only accessible to the
            subscription tiers you select.
          </p>

          <p class="m-marketing__description" i18n>
            Start building your own revenue streams today!
          </p>
        </div>
        <div
          class="m-grid__column-6 m-grid__column-12--mobile m-marketing__image"
        >
          <span>
            <img
              class="m-marketing__image--1"
              [src]="cdnAssetsUrl + 'assets/product-pages/pay/pay-3.jpg'"
            />

            <img
              class="m-marketing__image--2"
              [src]="cdnAssetsUrl + 'assets/product-pages/pay/pay-3-ux.png'"
            />
          </span>
        </div>
      </div>
    </div>

    <!-- Section 4 -->

    <div class="m-marketing__section m-marketing__section--style-3">
      <div class="m-grid m-marketing__wrapper">
        <div
          class="m-grid__column-6 m-grid__column-12--mobile m-marketing__body"
        >
          <h2 i18n>Tipping</h2>

          <p class="m-marketing__description" i18n>
            Every post on Minds has a button to send a tip to the author in
            Minds Tokens, USD, Bitcoin and Ether. Tipping is a great way to show
            your support for your favorite channels and allow them to keep
            creating!
          </p>
        </div>
        <div
          class="m-grid__column-6 m-grid__column-12--mobile m-marketing__image"
        >
          <span>
            <img
              class="m-marketing__image--1"
              [src]="cdnAssetsUrl + 'assets/product-pages/pay/pay-4.jpg'"
            />

            <img
              class="m-marketing__image--2"
              [src]="cdnAssetsUrl + 'assets/product-pages/pay/pay-4-ux.png'"
            />
          </span>
        </div>
      </div>
    </div>

    <!-- Final section -->

    <div class="m-marketing__section m-marketing__section--tail">
      <div class="m-grid m-marketing__wrapper">
        <div
          class="m-grid__column-12 m-grid__column-12--mobile m-marketing__body m-marketing__body--extra"
        >
          <button class="mf-button mf-button--alt" (click)="scrollToTop()" i18n>
            Monetize your channel
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</m-marketing>
