<div
  class="m-modalV2__inner m-channel__edit"
  *ngIf="service.channel$ | async as channel"
>
  <div class="m-modalV2__header m-channelEdit__header">
    <h2 class="m-modalV2Header__title" i18n>Edit Profile</h2>
    <a [routerLink]="getProSettingsRouterLink(channel)" ngPreserveWhitespaces>
      <ng-container i18n>Pro Settings</ng-container>
      <span>&rarr;</span>
    </a>
  </div>

  <form
    class="m-channelEdit__content m-formWrapper"
    (keydown.enter)="$event.preventDefault()"
  >
    <m-accordion class="m-accordionV2 m-formLayout--buttonRight">
      <m-accordion__pane
        class="m-channelEdit__imageryPane"
        headerTitle="Bio &amp; Imagery"
        i18n-headerTitle
      >
        <div
          class="m-channelEdit__imagery"
          [ngStyle]="{ backgroundImage: bannerAssetCssUrl$ | async }"
        >
          <label
            for="channel-v2-edit-banner"
            class="m-channelEditImagery__uploadTrigger m-channelEditImagery__uploadBanner"
          >
            <m-icon iconId="file_upload" [sizeFactor]="0"></m-icon>
            <input
              id="channel-v2-edit-banner"
              type="file"
              accept="image/*"
              (change)="uploadBanner(bannerFile)"
              #bannerFile
            />
          </label>

          <div
            class="m-channelEditImagery__avatar"
            [ngStyle]="{ backgroundImage: avatarAssetCssUrl$ | async }"
          >
            <label
              for="channel-v2-edit-avatar"
              class="m-channelEditImagery__uploadTrigger m-channelEditImagery__uploadAvatar"
            >
              <m-icon iconId="file_upload" [sizeFactor]="0"></m-icon>
              <input
                id="channel-v2-edit-avatar"
                type="file"
                accept="image/*"
                (change)="uploadAvatar(avatarFile)"
                #avatarFile
              />
            </label>
          </div>
        </div>

        <div class="m-form__fieldsContainer">
          <div class="m-form__row--label">
            <label i18n>Bio</label>
          </div>

          <div class="m-form__row--input m-channelEdit__bioInput">
            <textarea
              class="form-control"
              name="bio"
              [ngModel]="service.bio$ | async"
              (ngModelChange)="service.bio$.next($event)"
            ></textarea>
          </div>
        </div>

        <ng-container *ngTemplateOutlet="saveButton"></ng-container>
      </m-accordion__pane>

      <m-accordion__pane headerTitle="About Info" i18n-headerTitle>
        <div class="m-form__fieldsContainer">
          <div class="m-form__row--label">
            <label i18n>Display Name</label>
          </div>

          <div class="m-form__row--input">
            <input
              type="text"
              class="form-control"
              name="displayName"
              [ngModel]="service.displayName$ | async"
              (ngModelChange)="service.displayName$.next($event)"
            />
          </div>
        </div>

        <div class="m-form__fieldsContainer">
          <div class="m-form__row--label">
            <label i18n>Location</label>
          </div>

          <div class="m-form__row--input">
            <input
              type="text"
              class="form-control"
              name="location"
              [ngModel]="service.location$ | async"
              (ngModelChange)="service.location$.next($event)"
            />
          </div>
        </div>

        <div class="m-form__fieldsContainer">
          <div class="m-form__row--label">
            <label i18n>Date of birth</label>
          </div>

          <div class="m-form__row--input">
            <m-date__dropdowns
              [selectedDate]="service.dob$ | async"
              (selectedDateChange)="service.dob$.next($event)"
            ></m-date__dropdowns>

            <div class="m-channelEdit__innerField">
              <label
                for="channel-v2-edit-public-dob"
                class="m-form__customInputWrapper__checkbox"
                i18n
              >
                <input
                  type="checkbox"
                  id="channel-v2-edit-public-dob"
                  class="form-control"
                  name="publicDob"
                  [ngModel]="service.publicDob$ | async"
                  (ngModelChange)="service.publicDob$.next($event)"
                />

                <span class="m-form__customInput__checkbox"></span>

                <ng-container i18n>
                  Make my date of birth public
                </ng-container>
              </label>
            </div>
          </div>
        </div>

        <ng-container *ngTemplateOutlet="saveButton"></ng-container>
      </m-accordion__pane>

      <m-accordion__pane *ngIf="false" headerTitle="Hashtags" i18n-headerTitle>
        <ng-container *ngTemplateOutlet="saveButton"></ng-container>
      </m-accordion__pane>

      <m-accordion__pane
        *ngIf="false"
        headerTitle="Social Links"
        i18n-headerTitle
      >
        <ng-container *ngTemplateOutlet="saveButton"></ng-container>
      </m-accordion__pane>
    </m-accordion>

    <ng-template #saveButton>
      <div class="m-form__buttonsContainer m-channelEdit__buttonsContainer">
        <m-shadowboxSubmitButton
          type="button"
          [disabled]="false"
          [saving]="service.inProgress$ | async"
          (click)="onSubmit()"
        >
          Save
        </m-shadowboxSubmitButton>
      </div>
    </ng-template>
  </form>
</div>
