m-channel__edit {
  @media screen and (max-width: $max-mobile) {
    width: 100%;
  }
}

.m-modalV2__inner.m-channel__edit {
  width: 710px;
  max-width: 710px;

  @media screen and (max-width: $max-mobile) {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
}

.m-channel__edit {
  padding: 0 0 80px;

  @media screen and (max-width: $max-mobile) {
    padding: 0 0 20px;
  }

  .m-channelEdit__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px 30px;

    @media screen and (max-width: $max-mobile) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 20px;
    }

    a {
      font-size: 15px;
      line-height: 20px;
      text-decoration: none;

      @include m-theme() {
        color: themed($m-textColor--primary);
      }

      span {
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }
    }
  }

  .m-channelEdit__content {
    flex: 1;
  }

  .m-accordionPane__content > * + *,
  .m-accordionPane__innerContentContainer > * + * {
    margin-top: 20px;
  }

  .m-channelEdit__innerField {
    margin-top: 15px;
  }

  .m-channelEdit__buttonsContainer {
    margin-bottom: 0 !important;
  }

  .m-form__row--input {
    width: 65%;

    @media screen and (max-width: $max-mobile) {
      width: 100%;
    }

    input[type='text'],
    input[type='number'],
    input[type='password'],
    input[type='email'],
    textarea,
    select {
      width: 100%;
    }

    m-date__dropdowns {
      @media screen and (max-width: $max-mobile) {
        width: 100%;
        flex-direction: column;

        .m-dateDropdowns__selectWrapper {
          max-width: none;
          width: 100%;
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
