@import 'defaults.scss';

:host {
  .m-channelEdit__hashtagInput {
    button {
      cursor: pointer;
      font-size: 14px;
      line-height: 20px;
      font-weight: 300;
      border-radius: 2px;
      padding: 4px 12px;
      transition: all 0.3s ease;
      @include m-theme() {
        color: themed($m-textColor--primary);
        border: 1px solid themed($m-borderColor--primary);
        background-color: themed($m-bgColor--primary);
      }
      &:hover {
        @include m-theme() {
          background-color: themed($m-bgColor--btnHover);
        }
      }
    }
  }
}
