.m-channelEdit__hashtagInput {
  > * + * {
    margin-left: 10px;
  }

  m-hashtags__typeaheadInput {
    flex: 1;
  }
}

.m-channelEdit__hashtagList {
  list-style: none;
  margin: 0;
  padding: 0;

  .m-channelEditHashtagList__item {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0 10px 14px 0;
    padding: 5px 5px 5px 15px;
    border: 1px solid;
    border-radius: 19px;
    font-size: 14px;
    line-height: 19px;

    &:last-child {
      margin-right: 0;
    }

    @include m-theme() {
      color: themed($m-textColor--primary);
      border-color: themed($m-bgColor--secondary);
      background: themed($m-bgColor--secondary);
    }

    .m-channelEditHashtagListItem__remove {
      padding: 0 3px;
      cursor: pointer;

      @include m-theme() {
        color: rgba(themed($m-textColor--primary), 0.85);
      }
    }
  }
}
