@import 'defaults.scss';

:host {
  .m-channelEdit__socialLinkInput {
    > * + * {
      margin-left: 10px;
    }

    input {
      flex: 1;
    }
  }

  .m-channelEdit__socialLinkList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    gap: $spacing4;

    @media screen and (max-width: $max-mobile) {
      width: 100%;
    }

    .m-channelEditSocialLinkList__item {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding: $spacing2 $spacing3;
      border: 1px solid;
      border-radius: 19px;
      word-break: break-all;
      max-width: calc(65% - 8px);
      @media screen and (max-width: $max-mobile) {
        max-width: calc(100% - 20px);
      }

      span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      @include body2Medium;

      &:last-child {
        margin-right: 0;
      }

      @include m-theme() {
        color: themed($m-textColor--primary);
        border-color: themed($m-borderColor--primary);
        background: themed($m-bgColor--primary);
      }

      .m-channelEditSocialLinkListItem__remove {
        padding: 0 $spacing1 0 $spacing3;
        cursor: pointer;
        font-size: 18px;

        @include body2Medium;

        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }
    }
  }
}
