.m-carousel__wrapper {
  position: relative;

  .m-carousel__carousel {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;

    div + div {
      padding-left: 20px;
    }

    &:first-child {
      padding-left: 40px;
      @media screen and (max-width: $min-tablet) {
        padding-left: 20px;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .m-carousel__previousButton {
    position: absolute;
    z-index: 1000000; /* unfortunately necessary */
    cursor: pointer;
    border-radius: 50%;
    padding: 0;
    height: 30px;
    width: 30px;
    top: calc(50% - 24px); /* offset for button padding */
    left: -15px;
    @media screen and (max-width: $max-mobile) {
      right: 0;
    }
    @include m-theme() {
      color: themed($m-textColor--primary);
      background-color: themed($m-bgColor--secondary);
      border: 1px solid themed($m-borderColor--primary);
    }
  }

  .m-carousel__nextButton {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    border-radius: 50%;
    padding: 0;
    height: 30px;
    width: 30px;
    top: calc(50% - 24px); /* offset for button padding */
    right: -15px;
    @media screen and (max-width: $max-mobile) {
      right: 0;
    }
    @include m-theme() {
      color: themed($m-textColor--primary);
      background-color: themed($m-bgColor--secondary);
      border: 1px solid themed($m-borderColor--primary);
    }
  }
}
