<div
  class="m-boostModalAmount__container"
  [formGroup]="form"
  [ngClass]="{ isFocused: isFocused$ | async }"
>
  <!-- Views -->
  <div
    class="m-boostModalAmount__inputContainer m-boostModalAmount__viewsInput"
  >
    <label
      i18n="@@BOOST_MODAL__AMOUNT__VIEWS"
      for="impressions"
      #impressionsLabel
      >Views</label
    >
    <input
      #impressionsInput
      type="number"
      name="impressions"
      formControlName="impressions"
      data-ref="boost-modal-views-input"
    />
  </div>

  <!-- Currency Amount -->
  <div
    class="m-boostModalAmount__inputContainer m-boostModalAmount__currencyAmountInput"
  >
    <label for="currencyAmount" #currencyAmountLabel>
      <ng-container
        *ngIf="(activeTab$ | async) === 'cash'"
        i18n="@@BOOST_MODAL__AMOUNT__USD"
      >
        USD
      </ng-container>
      <ng-container
        *ngIf="(activeTab$ | async) === 'tokens'"
        i18n="@@BOOST_MODAL__AMOUNT__TOKENS"
      >
        Tokens
      </ng-container>
    </label>
    <input
      #currencyAmountInput
      type="number"
      name="currencyAmount"
      formControlName="currencyAmount"
      step="0.01"
      data-ref="boost-modal-currency-amount-input"
    />
  </div>
</div>

<span class="m-boostModalAmount__rates" data-ref="boost-modal-boost-rates-text">
  <ng-container *ngIf="(activeTab$ | async) === 'cash'">
    1 USD = {{ (impressionRates$ | async).cash }} views
  </ng-container>
  <ng-container *ngIf="(activeTab$ | async) === 'tokens'">
    1 token = {{ (impressionRates$ | async).tokens }} views
  </ng-container>
</span>

<div class="m-boostModalAmount--error" data-ref="boost-modal-amount-error">
  <span *ngIf="form?.controls.impressions?.errors?.max"
    >Sorry, you may only boost for a maximum of {{ maxImpressions }} views at
    once.</span
  >
  <span *ngIf="form?.controls.impressions?.errors?.min"
    >Sorry, you may only boost for a minimum of
    {{ minImpressions }} views.</span
  >
  <span
    *ngIf="
      form?.controls.currencyAmount?.errors?.min &&
      (activeTab$ | async) === 'offer'
    "
  >
    Sorry, you may only boost for a minimum of
    <ng-container *ngIf="(activeTab$ | async) === 'tokens'">
      {{ currencyAmount }} token{{ currencyAmount !== 1 ? 's' : null }}.
    </ng-container>
    <ng-container *ngIf="(activeTab$ | async) === 'cash'">
      {{ currencyAmount }} USD
    </ng-container>
  </span>
</div>
