@import 'defaults.scss';

:host {
  .m-boostModalAmount__container {
    display: flex;
    border-radius: 2px;

    &.isFocused {
      @include m-theme() {
        border: 1px solid themed($m-blue);
      }

      .m-boostModalAmount__inputContainer {
        border: unset !important;

        &.m-boostModalAmount__viewsInput {
          @include m-theme() {
            border-right: 1px solid themed($m-borderColor--primary) !important;
          }
        }
      }
    }

    .m-boostModalAmount__inputContainer {
      display: flex;
      max-width: 250px;
      position: relative;

      @media screen and (max-width: $min-tablet) {
        max-width: 49%;
      }

      @include m-theme() {
        border: 1px solid themed($m-borderColor--primary);
      }

      &.fullWidth {
        max-width: unset;
        width: 100%;
      }

      label {
        font-size: 14px;
        font-weight: 400;
        padding: 10px 10px 0 20px;
        position: absolute;
        top: 0;

        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */

        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }

      input {
        width: 100%;
        font-size: 22px;
        font-weight: 400;
        background: none;
        border: none;
        padding: 35px 0 10px 20px;

        &:focus {
          background: unset;
          border: unset;
          outline: none;
        }

        &:invalid {
          box-shadow: none;
        }

        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }

      &.m-boostModalAmount__viewsInput {
        border-right: unset !important;
        border-radius: 2px 0 0 2px;
      }

      &.m-boostModalAmount__currencyAmountInput {
        border-radius: 0 2px 2px 0;
      }
    }
  }

  .m-boostModalAmount--error {
    margin-top: $spacing4;
    font-weight: 500;
    min-height: 20px;

    @include m-theme() {
      color: themed($m-red);
    }
  }

  .m-boostModalAmount__rates {
    margin-top: $spacing4;
    font-weight: 400;
    display: flex;
    flex-flow: row wrap;
    justify-content: end;

    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }
}
