@import 'defaults';

minds-form-city-finder {
  .m-city-finder-list {
    position: fixed;
    padding: 12px;
    list-style: none;

    li {
      padding: 8px;
      cursor: pointer;
      @include m-theme() {
        border-bottom: 1px solid themed($m-borderColor--primary);
      }
    }
  }
}
