m-pro__hamburger-menu {
  position: relative;

  .m-proHamburgerMenu__menu {
    right: -110%;
    visibility: hidden;

    position: fixed;
    width: 95vw;
    z-index: 999999999;
    top: 0;
    bottom: 0;
    background: var(--m-pro--plain-background-color);
    color: var(--m-pro--text-color);
    box-sizing: border-box;
    transition: right 0.2s ease-in;
    overflow: auto;

    body.hamburger-menu--open & {
      right: 0;
      visibility: visible;
    }

    .m-proHamburgerMenu__close {
      position: absolute;
      top: 30px;
      right: 40px;
      padding: 8px;
      cursor: pointer;
    }

    > ul {
      padding: 0 16px;
      list-style: none;
      margin: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      box-sizing: border-box;

      > li {
        margin: 0;
        padding: 0;
        display: block;
        font-size: 18px;
        line-height: 1.25;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        &.m-proHamburgerMenu__linkWrapper {
          cursor: pointer;
        }
        &.m-proHamburgerMenu__logo {
          height: 100px;

          > img {
            max-width: 200px;
            max-height: 100%;
            object-fit: contain;
          }
        }

        &.m-proHamburgerMenu__subscribe {
          padding: 0 0 16px;
          text-align: center;

          .m-pro__subscribeButton {
            width: calc(100% - 32px);
            margin: 0;
          }
        }

        &.m-proHamburgerMenu__searchBox {
          > m-pro__searchbox {
            width: 100%;
            display: block;
            margin: 0 auto 16px;

            .mdl-textfield__input {
              border: 1px solid var(--m-pro--text-color);
              border-radius: 6px;
            }
          }
        }

        &.m-proHamburgerMenu__spacer {
          height: 0;
          border-top: 1px solid var(--m-pro--text-color);
          margin: 16px 0;
        }

        > a {
          font: inherit;
          text-decoration: none;
          padding: 12px 0;
          display: block;

          &.m-proHamburgerMenu__item--active {
            color: var(--m-pro--primary-color) !important;
          }
        }
      }
    }
  }

  .m-pro--channel-footer {
    display: block;
    padding: 0 16px;

    .m-proChannelFooter__socialItems {
      margin: 16px 0;
    }
  }
}

body.hamburger-menu--open {
  overflow: hidden;
}

.m-proHamburgerMenu__trigger {
  cursor: pointer;
}
