.m-pro--channel-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100px;
  color: var(--text-color);

  .m-pro--channel-footer--text {
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  a {
    text-decoration: none;
    padding: 0 16px;

    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  minds-button-user-dropdown {

    button.material-icons {
      border: none;
      color: var(--text-color) !important;
    }

    .minds-dropdown-menu {
      top: -100px;
      left: -130px;
    }
  }
}
