<div class="m-pro--channel-footer">
  <span class="m-pro--channel-footer--text">{{footerText}}</span>

  <div class="m-pro--channel-footer--social-profiles">
    <span *ngFor="let profile of footerSocialProfiles">
      <a *ngIf="profile.key && profile.value"
         [href]="getSocialProfileURL(profile.value)"
         rel="noopener noreferrer"
         target="_blank"
      ><i [ngClass]="[ getSocialProfileIconClass(profile) ]"></i></a>
    </span>
  </div>

  <a
    *ngFor="let link of footerLinks"
    class="m-pro--channel-footer--link"
    [href]="link.href"
  >{{link.title}}</a>

  <ng-container *ngIf="session.getLoggedInUser()">
    <span style="position: relative">
      <minds-button-user-dropdown [user]="user" *ngIf="session.getLoggedInUser().guid != user.guid"></minds-button-user-dropdown>
    </span>
  </ng-container>
</div>
