.m-pro--channel-footer {
  text-align: center;
  margin-bottom: 24px;
  color: var(--m-pro--text-color);

  > * {
    display: inline-block;
    margin: 8px 16px;
    vertical-align: middle;
  }

  .m-pro--channel-footer--text {
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  a {
    cursor: pointer;
    text-decoration: none;

    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  minds-button-user-dropdown {
    button.material-icons {
      border: none;
      color: var(--m-pro--text-color) !important;
    }

    .minds-dropdown-menu {
      top: -100px;
      left: -130px;
    }
  }
}
