.m-proChannelFooter {
  text-align: center;
  margin-bottom: 24px;
  color: var(--m-pro--text-color);

  .m-proChannelFooter__items {
    > * {
      display: inline-block;
      margin: 8px 16px;
      vertical-align: middle;
    }
    a.m-proChannelFooter__link {
      color: var(--m-pro--text-color);
      &:hover {
        color: var(--m-pro--primary-color);
      }
    }

    img {
      height: 24px;
      filter: grayscale(100%);
    }
  }

  .m-proChannelFooter__socialItems {
    margin-bottom: 8px;
    font-size: 1.5em;
  }

  .m-proChannelFooter__static {
    margin-bottom: 16px;

    .m-proChannelFooter__text {
      font-size: 19px;
      font-weight: 400;
    }
  }

  a {
    cursor: pointer;
    text-decoration: none;
    font-size: 19px;
    font-weight: 400;
  }
}
