.minds-header-row {

  @media screen and (max-width: 1175px){
    .m-boost-button-fat{
      display: none;
    }
  }

  .m-boost-button-fat{
    background: #FFF !important;
    border: 1px solid #4690D6;
    color: #4690D6 !important;
    box-shadow: none;
    margin-right: 16px;
  }
}
