m-walletDashboard {
  ////////////////////////////////////////////
  // COMMON //////////////////////////////////
  ////////////////////////////////////////////

  .m-wallet__spinner {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  m-shadowboxSubmitButton {
    box-sizing: border-box;
    display: block;
    // flex: 0 1 auto;
    // margin: 0 0 0 21px;

    .m-shadowboxSubmitButton {
      box-sizing: border-box;
      max-height: none;
      min-height: 42px;
      height: auto;
      min-width: 105px;
      font-weight: 300;
      padding: 7px 15px;
      font-size: 15px;
      line-height: 20px;
    }
  }

  .m-walletModal--confirmation {
    & > p {
      margin-top: none;
    }
  }
  ////////////////////////////////////////////
  // TEXT ////////////////////////////////////
  ////////////////////////////////////////////
  h2 {
    font-weight: 500px;
    font-size: 26px;
    line-height: 34px;
    margin: 0 0 17px 0;

    @include m-theme() {
      color: themed($m-textColor--primary);
    }
  }
  [class*='m-walletPrimaryText'] {
    font-size: 15px;
    line-height: 20px;

    @include m-theme() {
      color: themed($m-textColor--primary);
    }
  }

  [class*='m-walletTertiaryText'] {
    font-size: 14px;
    line-height: 19px;

    @include m-theme() {
      color: themed($m-textColor--tertiary);
    }
  }
  .m-walletTertiaryText--desc {
    margin-bottom: 40px;
  }
  .m-walletTertiaryText--label {
    margin-bottom: 13px;
  }
  .m-walletTertiaryText--backButton {
    margin-top: 40px;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: baseline;
    text-decoration: none !important;

    @include m-theme() {
      color: themed($m-textColor--tertiary);
    }
    &:hover {
      span {
        text-decoration: underline;
      }
    }
    i {
      font-size: 14px;
      font-weight: 300;
      margin-right: 10px;
    }
  }
  .m-walletTertiaryText--error {
    @include m-theme() {
      color: themed($m-red);
    }
  }

  ////////////////////////////////////////////
  // HEADER TABS /////////////////////////////
  ////////////////////////////////////////////
  m-pagelayout {
    @media screen and (max-width: $min-tablet) {
      padding-top: 36px;
    }
    @media screen and (max-width: $max-mobile) {
      padding-top: 24px;
    }
  }
  m-shadowboxHeader {
    min-height: 103px;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    @media screen and (max-width: $max-mobile) {
      min-height: 85px;
    }
  }
  .m-shadowboxHeader__wrapper {
    height: 103px;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    @media screen and (max-width: $max-mobile) {
      height: 85px;
    }
  }
  .m-shadowboxHeaderTab {
    width: 149px;
    min-height: 103px;
    max-height: 103px;
    line-height: 21px;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    @media screen and (max-width: $max-mobile) {
      width: 111px;
      min-height: 85px;
      max-height: 85px;
      padding: 13px 15px 15px 20px;
    }

    .m-shadowboxHeaderTab__label {
      margin-top: 6px;
      font-size: 18px;
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
      @media screen and (max-width: $max-mobile) {
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        @include m-theme() {
          color: themed($m-textColor--tertiary);
        }
      }
    }
    .m-shadowboxHeaderTab__value {
      font-weight: 300;
      font-size: 16px;
      @include m-theme() {
        color: themed($m-textColor--tertiary);
      }
      @media screen and (max-width: $max-mobile) {
        font-size: 17px;
        line-height: 23px;
        margin-top: 2px;
        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }
    }
  }

  ////////////////////////////////////////////
  // BALANCES  ///////////////////////////////
  ////////////////////////////////////////////
  .m-walletDashboardBalance__wrapper {
    margin: 50px 53px 34px 53px;
    @media screen and (max-width: $min-tablet) {
      margin: 50px 36px 34px 36px;
    }
    @media screen and (max-width: $max-mobile) {
      margin: 22px 24px 25px 24px;
    }
  }
  ////////////////////////////////////////////
  // VIEW TABS ///////////////////////////////
  ////////////////////////////////////////////

  .m-walletDashboardViews__tabsContainer {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 40px;
    @include m-theme() {
      border-bottom: 1px solid themed($m-borderColor--tertiary);
    }
    @media screen and (max-width: $min-tablet) {
      margin-left: 24px;
      margin-right: 24px;
    }
    @media screen and (max-width: $max-mobile) {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .m-walletDashboardViews__tab {
    cursor: pointer;
    padding: 13px 20px;
    margin: 0 13px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);

    @include m-theme() {
      color: themed($m-textColor--tertiary);
      border-bottom: 3px solid themed($m-white);
    }
    &.active {
      @include m-theme() {
        color: themed($m-textColor--primary);
        border-bottom: 3px solid themed($m-blue);
      }
    }
    &:hover {
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
    }
    @media screen and (max-width: $max-mobile) {
      padding: 10px 9px;
      margin: 0px 3px;
      &:first-child {
        margin-left: 16px;
      }
    }
  }

  ////////////////////////////////////////////
  // VIEWS ///////////////////////////////////
  ////////////////////////////////////////////
  .m-walletDashboardViews__viewsContainer {
    min-height: 550px;
    @media screen and (max-width: $max-mobile) {
      min-height: 0px;
    }
  }
  .m-walletDashboardViews__view {
    display: block;
    padding-bottom: 50px;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    margin: 50px 57px 0 57px;
    @media screen and (max-width: $min-tablet) {
      margin: 30px 24px 0 24px;
    }
    @media screen and (max-width: $max-mobile) {
      margin: 30px 16px 0 16px;
    }
  }
  m-walletChart {
    .m-walletDashboardViews__view {
      margin: 50px 0 0 0;
    }
    @media screen and (max-width: $min-tablet) {
      margin: 30px 0 0 0;
    }
  }

  ////////////////////////////////////////////
  // BUTTON LAYOUTS /////////////////////
  ////////////////////////////////////////////
  // [class*='m-walletForm__wrapper'] {

  // }
  .m-walletButtonLayout--buttonInline {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    @media screen and (max-width: $max-mobile) {
      .m-shadowboxSubmitButton {
        min-width: 100%;
      }
    }
  }
  .m-walletButtonLayout--buttonOffsetRight {
    //m-walletForm__wrapper
    // m-walletForm__fieldsContainer
    // m-shadowboxSubmitButton

    & ~ .m-walletTertiaryText--backButton {
      margin-top: 20px;
    }
  }

  ////////////////////////////////////////////
  // FORMS ///////////////////////////////////
  ////////////////////////////////////////////
  form {
    margin: 0;
    padding: 0;
  }

  .m-walletForm__fieldsContainer {
    flex: 1 1 auto;
  }

  .m-walletForm__buttonsContainer {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-evenly;
    margin-top: 10px;
    m-shadowboxSubmitButton {
      margin-top: 8px;
    }
  }

  [class*='m-walletForm__field'] {
    font-size: 15px;
    line-height: 20px;
    display: flex;
    flex-flow: column nowrap;
    m-tooltip {
      margin-left: 10px;
      .m-tooltip {
        margin: 0;
      }
      .m-tooltip--bubble {
        bottom: 18px;
        margin-left: 12px;
        font-weight: 400;
      }
    }
  }
  [class*='m-walletForm__row'] {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;

    &[class*='--label'] {
      font-size: 15px;
      line-height: 20px;
      margin: 0 0 13px 0;
      align-items: center;
      flex-flow: row nowrap;
      position: relative;
      @include m-theme() {
        color: themed($m-textColor--tertiary);
      }
    }
    &[class*='--validation'] {
      margin-top: 3px;
      min-height: 22px;
      p {
        font-size: 14px;
        line-height: 19px;
        margin: 0;
        font-weight: 300;
        @include m-theme() {
          color: themed($m-alert);
        }
      }
    }
  }
  .stretchedField {
    .m-walletForm__row--label m-tooltip {
      margin-left: -12px;
    }
    .m-walletForm__row--input {
      flex-flow: row nowrap;
      &.invalid {
        input,
        .m-phoneInput__wrapper {
          @include m-theme() {
            border-color: themed($m-alert) !important;
          }
        }
      }
    }
    .m-walletForm__row--validation {
      align-self: flex-end;
    }
    label,
    .m-walletForm__row--validation {
      flex: 1 1 auto;
      max-width: auto;
    }
    input {
      flex: 1 1 100%;
    }
  }
  input {
    outline: 0;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    width: 0;
    min-width: 0;
    padding: 10px 20px;
    border-radius: 2px;
    cursor: text;

    @include m-theme() {
      color: themed($m-grey-800);
    }
  }
  input:not(.m-phoneInput__input),
  .m-phoneInput__wrapper {
    border-radius: 2px;
    @include m-theme() {
      box-shadow: 0 1px 4px 0 rgba(themed($m-black), 0.1);
      border: 1px solid themed($m-borderColor--primary);
    }
    &:focus {
      &:not(:read-only) {
        @include m-theme() {
          border-color: themed($m-blue);
        }
      }
    }
  }

  m-phoneInput {
    margin-bottom: 0;
    .m-phoneInput__wrapper {
      width: 100%;
      min-width: 240px;
    }
  }

  .m-walletForm__field--checkbox {
    m-formInput__checkbox {
      .m-formInput__checkbox {
        span,
        label {
          font-size: 14px;
          line-height: 19px;
        }
      }
    }
  }
  //////////////////////////////////////////
  @media screen and (max-width: 500px) {
    // m-shadowboxSubmitButton {
    //   margin: 21px 0 0 0;
    // }
    .stretchedField {
      .m-walletForm__row--label m-tooltip {
        .m-tooltip--bubble {
          right: 12px;
        }
      }
      [class*='m-walletForm__row'] {
        flex-flow: row wrap;
        label,
        input {
          flex: 1 1 100%;
          min-width: 100%;
          max-width: 100%;
        }
        .m-phoneInput__input {
          min-width: 0;
        }
      }
    }
  }
  ////////////////////////////////////////////
  // SETTINGS ////////////////////////////////
  ////////////////////////////////////////////

  .m-walletSettings {
    a {
      text-decoration: underline;
      cursor: pointer;
      font-size: 14px;
      line-height: 19px;
    }

    .m-walletSettings__currentAddressContainer {
      display: flex;
      flex-flow: row wrap;
      font-size: 15px;
      line-height: 20px;

      div {
        margin: 0 18px 8px 0;
        word-wrap: break-word;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      a {
        display: inline-block;
        margin: 0;
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}
