<m-pageLayout [menu]="menu">
  <div class="m-walletDashboard" m-pageLayout__main *ngIf="currencies">
    <m-dashboardLayout>
      <ng-container m-dashboardLayout__header>
        <div>
          <h3>
            Your Wallet
          </h3>
        </div>
      </ng-container>

      <ng-container m-dashboardLayout__body>
        <m-shadowboxLayout>
          <m-shadowboxHeader__tabs
            class="m-shadowboxLayout__header"
            [tabs]="currencies"
            [activeTabId]="activeCurrencyId"
            [friendlyVals]="true"
            (tabChanged)="updateCurrency($event)"
          ></m-shadowboxHeader__tabs>

          <div class="m-shadowboxLayout__body">
            <div class="m-walletDashboardBalances__wrapper">
              <!-- TODOOJM: make m-walletPhoneVerification have another output for success -- then trigger formToastService -->
              <m-walletTokenOnboarding
                *ngIf="activeCurrencyId === 'tokens' && !onboardingComplete"
                (onboardingCompleted)="onboardingCompleted()"
                (scrollToTokenSettings)="scrollToTokenSettings()"
              ></m-walletTokenOnboarding>
              <m-walletBalance--tokens
                [wallet]="wallet"
                class="m-shadowboxLayout__body"
                *ngIf="activeCurrencyId === 'tokens'"
              ></m-walletBalance--tokens>
              <m-walletBalance--usd
                [wallet]="wallet"
                class="m-shadowboxLayout__body"
                *ngIf="activeCurrencyId === 'usd'"
              ></m-walletBalance--usd>
            </div>
            <div class="m-walletDashboardViews__wrapper">
              <div
                class="m-walletDashboardViews__tabsContainer"
                id="dashboardViewsTabs"
              >
                <div
                  class="m-walletDashboardViews__tab"
                  [ngClass]="{ active: view.id === activeViewId }"
                  *ngFor="let view of views[activeCurrencyId]"
                  (click)="updateView(view.id)"
                >
                  {{ view.label }}
                </div>
              </div>
              <div class="m-walletDashboardViews__viewsContainer">
                <m-walletChart
                  class="m-walletDashboardViews__view"
                  *ngIf="
                    activeCurrencyId === 'tokens' && activeViewId === 'overview'
                  "
                ></m-walletChart>
                <m-walletTransactionsTable
                  class="m-walletDashboardViews__view"
                  *ngIf="activeViewId === 'transactions'"
                ></m-walletTransactionsTable>
                <ng-container *ngIf="activeViewId === 'settings'">
                  <div class="m-walletDashboardSettings__wrapper">
                    <m-walletSettings--tokens
                      [wallet]="wallet"
                      class="m-walletDashboardViews__view"
                      *ngIf="activeCurrencyId === 'tokens'"
                    ></m-walletSettings--tokens>
                    <m-walletSettings--usd
                      class="m-walletDashboardViews__view"
                      *ngIf="activeCurrencyId === 'usd'"
                    ></m-walletSettings--usd>
                    <m-walletSettings--eth
                      class="m-walletDashboardViews__view"
                      *ngIf="activeCurrencyId === 'eth'"
                      (scrollToTokenSettings)="scrollToTokenSettings()"
                    ></m-walletSettings--eth>
                    <m-walletSettings--btc
                      class="m-walletDashboardViews__view"
                      *ngIf="activeCurrencyId === 'btc'"
                    ></m-walletSettings--btc>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </m-shadowboxLayout>
      </ng-container>
    </m-dashboardLayout>
  </div>
</m-pageLayout>
