m-walletDashboard {
  .m-shadowboxHeaderTab {
    line-height: 21px;
    .m-shadowboxHeaderTab__label {
      font-size: 18px;
      @include m-theme() {
        color: themed($m-grey-800);
      }
    }
    .m-shadowboxHeaderTab__value {
      font-weight: 300;
      font-size: 16px;
      @include m-theme() {
        color: themed($m-grey-300);
      }
    }
  }
  .m-walletDashboardViews__tabsContainer {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 40px;
    @include m-theme() {
      border-bottom: 1px solid themed($m-grey-100);
    }
  }
  .m-walletDashboardViews__tab {
    cursor: pointer;
    padding: 13px 20px;
    margin: 0 13px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    @include m-theme() {
      color: themed($m-grey-300);
      border-bottom: 3px solid themed($m-white);
    }
    &.active {
      @include m-theme() {
        color: themed($m-grey-800);
        border-bottom: 3px solid themed($m-blue);
      }
    }
    &:hover {
      @include m-theme() {
        color: themed($m-grey-800);
      }
    }
  }
  .m-walletDashboardViews__view {
    display: block;
    margin: 50px 57px 0 57px;
    padding-bottom: 50px;
  }
  m-shadowboxSubmitButton {
    .m-shadowboxSubmitButton {
      max-height: 35px;
      min-width: 0;
      min-height: 0;
      font-weight: 300;
      padding: 7px 15px;
      font-size: 15px;
      line-height: 20px;
    }
  }
}
