<m-pageLayout [menu]="menu">
  <div class="m-walletDashboard" m-pageLayout__main *ngIf="currencies">
    <m-dashboardLayout>
      <ng-container m-dashboardLayout__header>
        <div>
          <h3>
            Your Wallet
          </h3>
        </div>
      </ng-container>

      <ng-container m-dashboardLayout__body>
        <m-shadowboxLayout>
          <m-shadowboxHeader__tabs
            class="m-shadowboxLayout__header"
            [tabs]="currencies"
            [activeTabId]="activeCurrencyId"
            (tabChanged)="updateCurrency($event)"
          ></m-shadowboxHeader__tabs>

          <div class="m-shadowboxLayout__body">
            <m-walletBalance class="m-shadowboxLayout__body"></m-walletBalance>
            <m-topTabs
              [tabs]="topTabOptions"
              [activeTabId]="activeTabId"
              (tabChanged)="updateActiveTabId($event)"
            >
              <!-- <div class="m-walletDashboard__spinnerContainer" *ngIf="loading">
                <div class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
              </div> -->
              <m-walletChart
                topTab
                [activeCurrencyId]="activeCurrencyId"
                *ngIf="activeTabId === 'overview'"
              ></m-walletChart>
              <m-walletTransactionsTable
                topTab
                *ngIf="activeTabId === 'transactions'"
              ></m-walletTransactionsTable>
              <ng-container *ngIf="activeTabId === 'settings'">
                <m-walletSettings--tokens
                  topTab
                  *ngIf="activeCurrencyId === 'tokens'"
                ></m-walletSettings--tokens>
                <m-walletSettings--usd
                  topTab
                  *ngIf="activeCurrencyId === 'usd'"
                ></m-walletSettings--usd>
                <m-walletSettings--eth
                  topTab
                  *ngIf="activeCurrencyId === 'eth'"
                ></m-walletSettings--eth>
                <m-walletSettings--btc
                  topTab
                  *ngIf="activeCurrencyId === 'btc'"
                ></m-walletSettings--btc>
              </ng-container>
            </m-topTabs>
          </div>
        </m-shadowboxLayout>
      </ng-container>
    </m-dashboardLayout>
  </div>
</m-pageLayout>
