@import 'defaults';

m-settings {
  grid-area: content / span 2;
  min-width: 0;
}

.m-grid .m-settings--wrapper {
  margin: unset;
}

.m-settings--wrapper {
  max-width: 1280px;
  margin: auto;
}

.m-page--sidebar {
  i.ion-icon.ion-flash {
    width: 20px;
    padding-left: 4px;
  }
}

.m-settings--section {
  margin-bottom: 8px;
  padding: 16px;
  @include m-theme() {
    background-color: themed($m-white);
  }

  h4 {
    margin: 0;
    margin-bottom: 8px;
  }
}

.minds-settings-content {
  .mdl-card {
    margin-bottom: $minds-margin * 2;
    width: 100%;
    min-height: 0;
  }
}

.minds-settings-data-text-container {
  @include m-theme() {
    border-bottom: 1px solid rgba(themed($m-black), 0.12);
  }
}

.minds-settings-data-text {
  position: relative;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 20px 0;
  width: 200px;
}

ul.minds-settings--list {
  list-style: none;
  font-weight: 500;
  margin: 0;
  padding: 0;
  @include m-theme() {
    color: themed($m-grey-600);
  }

  li.minds-settings--list-item {
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    padding: 0 6px;

    &:not(.selected):hover {
      @include m-theme() {
        color: themed($m-grey-900);
      }
    }
  }
}

.m-settings--created-date {
  padding: 8px;
  @include m-theme() {
    color: themed($m-grey-400);
  }
}
