<h1>Terms of Service</h1>
<h2>The gist</h2>
<p>
  We (the people who work with Minds) create free and open source software and
  run the Minds.com social network. We would love for you to use it and help us
  evolve this document in the direction that best supports and protects Minds
  and its community. Public commentary and peer-review is encouraged via the
  <a routerLink="/groups/profile/100000000000000681/feed"
    >Help & Support Group</a
  >
  and also on <a target="_blank" href="https://gitlab.com/minds">Gitlab</a>. The
  Minds basic service of creating a channel or launching a presence on
  <a routerLink="/">Minds.com</a> is free. We also offer paid upgrades for
  advanced features and other commercial services.
</p>
<p>
  Minds software and services are designed to give you as much control and
  ownership over your social experience as possible and to encourage you to
  express yourself freely. However, be responsible in what you publish and use
  basic Internet safety procedures when posting. In particular, make sure that
  none of the prohibited items listed in the
  <a routerLink="/content-policy">Minds Content Policy</a>, as defined in
  Section 15, appear on your channel or get linked to/from your channel (things
  like spam, malware, viruses, or illegal content or serious threats of
  violence.)
</p>
<p>
  If you find content that is objectionable, then Unsubscribe, Block, Report or
  just swipe on by. Minds is an open, free and public commons where users
  respect the right to use free speech. Of course, you may find a violation of
  these Terms of Service as you traverse Minds, in which case please Report the
  channel from the Settings cog on the content or channel profile or by email to
  <a href="mailto:info@minds.com">info@minds.com</a>.
</p>
<p>
  (Note, we’ve decided to make the below Terms of Service available under a
  Creative Commons Attribution-Sharealike license, as Wordpress provided for us,
  which means you’re more than welcome to repurpose it for your own use. Just
  make sure to replace references to us with ones to you, and give an
  attribution link to Minds.com somewhere on your website.)
</p>
<p>
  Minds software and services are owned and operated by Minds, Inc. (“Minds”,
  “we” or “us”). Our software and services are offered subject to your
  acceptance without modification of these Terms of Service and all other
  operating rules, policies (including our
  <a routerLink="/p/privacy">Privacy Policy</a>) and procedures that may be
  published from time to time on this site by Minds, as well as the Terms of
  Sale of Minds Tokens (available at
  <a routerLink="/token">https://www.minds.com/token</a>) (collectively, these
  “Terms”). We may, from time to time, change or upgrade the Services (defined
  below), in whole or in part. You acknowledge that these Terms will apply to
  any such changes or upgrades.
</p>
<p>
  These Terms govern your access to and use of Minds Tokens in connection with
  the Minds social network, including
  <a routerLink="/">https://www.minds.com</a>,
  <a target="_blank" href="https://minds.org">www.minds.org</a>, and all other
  network sites under the Minds domain (“Minds Network”), the Minds Network, and
  Minds mobile applications and any other online services (collectively, the
  “Services”) provided by us or our legal affiliates, including any content,
  functionality, features and applications offered on or through the Services to
  you as a guest or registered user of the Services (each, a “User”).
</p>
<p>
  Please read these Terms carefully before you start to use our Services. By
  using any of the Services, you accept these Terms, which means that you are
  entering a legally binding contract with us. If you do not accept these Terms,
  or if you violate these Terms in any way, you may not be authorized to access
  or use the Services, and your Minds Tokens will be forfeited.
</p>
<p>
  You understand that we may change these Terms from time to time in our sole
  discretion and in accordance with Section 21 below. It is your responsibility
  to periodically check these Terms posted so that you are aware of any changes,
  as they are binding on you.
</p>
<h2>1. Your Minds Username and Channel</h2>
<p>
  1. Use of our Services requires a Minds username and channel. You are
  responsible for keeping your password secure. You affirm that you are either
  more than 18 years of age or possess legal parental or guardian consent to
  enter into these Terms & Conditions, and to comply with these Terms of Use. In
  any case, you affirm that you are over the age of 13 (“Minimum Age”), as the
  Website is not intended for children under 13.
</p>
<p>
  2. If you create a channel on the Minds platform, you are responsible for
  maintaining the security of your channel, and you are fully and solely
  responsible for all activities that occur therein.
</p>
<p>
  3. Minds reserves the right to reclaim any username that has not been active
  for one year or longer, violates any terms or conditions of these Terms or
  that was created for the sole purpose to resell to a verified user with that
  same name (a.k.a. Cybersquatting channels.)
</p>
<h2>2. Responsibility of Registered Users</h2>
<p>
  1. You acknowledge that you are solely responsible for all activity that
  occurs through your channel or username and all of your activity on the Minds
  Network. You acknowledge that you are solely responsible for keeping your
  account information (including your access credentials) secret and secure. You
  shall not sell, rent, lease, lend, transfer, license or assign your account,
  credentials, or any account rights. With the exception of people or businesses
  that are expressly authorized to create accounts on behalf of their employers
  or clients, Minds prohibits the creation of accounts on behalf of other
  persons or entities. Unless you are so authorized, you shall not create a
  Minds account on behalf of any other person or entity.
</p>
<p>2. You also acknowledge that:</p>
<p>
  a. You are solely responsible for your interaction with other Users of the
  Services, whether online or offline. You agree that Minds is not responsible
  or liable for the conduct of any User. Minds reserves the right, but has no
  obligation, to become involved in disputes between you and other Users.
</p>
<p>
  b. You shall not describe or assign keywords to your channel in a misleading
  or unlawful manner, including any manner which trades on the name or
  reputation of others. Minds reserves the right to change or remove any
  description or keyword that it considers unlawful or otherwise likely to cause
  Minds liability.
</p>
<p>
  c. You shall immediately notify Minds of any unauthorized uses of your
  username, account or channel, or of any other breaches of security by emailing
  <a href="mailto:security@minds.com">security@minds.com</a>.
</p>
<p>
  d. If you operate a channel, comment on a post, post material to Minds, post
  links or create (or allow any third party to create) or otherwise make
  material available by means of Minds, including any text, photo, video, audio,
  code or other work of authorship (any such material, “User Content”), you are
  entirely responsible for the content of, and any liability resulting from or
  relating to that User Content or your conduct.
</p>
<p>
  e. By using Minds, you represent and warrant that your User Content and
  conduct do not and will not violate these Terms (including our Content
  Policy), infringe the rights of any other person or entity (including
  intellectual property rights and privacy rights), or violate any applicable
  law, rule, or regulation as detailed in section 26.
</p>
<p>
  f. By submitting User Content to Minds, you grant Minds a perpetual,
  irrevocable, worldwide, royalty-free, and non-exclusive license to use,
  reproduce, modify, distribute, publish, process and adapt (each, a “Use”) your
  User Content for the purpose of providing the Services and promoting Minds and
  the Services, without any notice of, consent to or compensation for any such
  use, unless otherwise licensed by the User, through the Services.
</p>
<p>
  g. You grant other Users permission to share your User Content on other Minds
  channels and add their own User Content to it (e.g., to Remind your User
  Content).
</p>
<p>
  h. All User Content, that is not otherwise marked by the license owner, is
  licensed under the All Rights Reserved license.
</p>
<p>
  i. If you delete User Content, Minds will use reasonable efforts to remove it
  from the Minds Network, but you acknowledge that caching or references to the
  User Content may not be made immediately unavailable.
</p>
<p>
  j. By registering an account and making User Content available, you further
  represent and warrant that the user content does not violate the Minds Content
  Policy referenced in Section 15;
</p>
<p>
  k. Your use of the Services and User Content will not infringe the rights of
  any other party (including intellectual property rights and privacy rights) or
  violate any applicable law, rule, or regulation;
</p>
<p>
  l. Any Use by Minds of any User Content will not infringe the rights of any
  other party (including intellectual property rights and privacy rights) or
  violate any applicable law, rule, or regulation;
</p>
<p>
  m. If any other party has rights to intellectual property you incorporate into
  any User Content, you have either (i) received permission from such other to
  so incorporate such intellectual property into such User Content, including
  but not limited to any software, or (ii) secured from such other party a
  waiver as to all rights in or to such User Content;
</p>
<p>
  n. You have fully complied with any third-party licenses relating to all User
  Content and have done all things necessary to grant to Minds the license set
  forth under section 2(f) and to successfully grant to others any relevant
  rights under any such third-party licenses;
</p>
<p>
  o. You also give other Users permission to share your Content under the legal
  terms outlined in the license you select, whether Creative Commons, All Rights
  Reserved, or any other available license.
</p>
<p></p>
<h2>3. Prohibited Uses</h2>
<p>You shall not use or access any of the Services:</p>
<p>
  1. In any way that violates any applicable United States federal, state or
  local law, rule, or regulation (including, without limitation, any
  intellectual property laws or privacy laws or laws regarding sanctions, or the
  export of data or software to and from the United States or other countries);
</p>
<p>
  2. To post unlawful, infringing, or other content not allowed under these
  Terms.
</p>
<p>
  3. To impersonate, attempt to impersonate, or falsely imply that you are
  associated with Minds, another User, or any other person or entity;
</p>
<p>
  4. In any manner that could disable, alter, overburden, damage, or impair the
  Services or the Minds Network, or engage in any other conduct that restricts
  or interferes with any other party’s use, which, as determined by us, may harm
  Minds or Users of the Services or expose them to liability, including but not
  limited to transmitting any worms, viruses, spyware, malware or any other code
  of a destructive, malicious, intrusive, or disruptive nature intended to cause
  denial of service;
</p>
<p>
  5. To use, distribute, modify, create derivative works from, or copy the
  Services or any feature of the Services or any User account or Channel
  (including any User Content) in whole or in part, or decompile, reverse
  engineer, disassemble, attempt to derive the source code or underlying
  algorithms of the Services or any feature of the Services, except as may be
  permitted under any license applicable to the Services, which may be viewed at
  <a target="_blank" href="https://gitlab.com/minds">https://gitlab.com/minds</a
  >;
</p>
<p>
  6. To create accounts or access data (including User information) through
  unauthorized means, by using an automated device, caching, script, bot,
  spider, crawler or scraper or any such weaponized capability intended as a
  malware threat to Minds;
</p>
<p>
  7. To attempt to gain unauthorized access, or permit unauthorized access, to
  the Services or any feature of the Services (including any User account or
  channel) or any of our related systems or networks, or bypass any measures we
  take to restrict access to the Services or related systems or networks;
</p>
<p>
  8. To substantially replicate products or services offered by Minds in an
  impersonating manner, including by republishing Minds content or creating a
  separate publishing platform; or
</p>
<p>
  9. Without limiting any of the above representations or warranties or
  obligations, Minds reserves the right to, in Minds’ sole discretion, (i)
  reject or remove any User Content that, in Minds’ reasonable opinion, violates
  any term or condition of these Terms or policies of Minds or is in any way
  unlawful under Connecticut state law (ii) ban and remove any channel that, in
  Minds’ reasonable opinion, violates any term or condition of these Terms or
  policies of Minds or is in any way unlawful or (iii) terminate or deny access
  to and use of the Services to any person or entity whose use of Minds and its
  Services is unlawful.
</p>
<p>
  10. In the event a channel is banned due to the breach of these Terms, and the
  channel owner no longer has access to the channel, Minds will have no
  obligation to provide a refund of any kind including refund of any outstanding
  wallet amounts such as token balances or any amounts previously paid. Please
  direct any questions to <a href="mailto:info@minds.com">info@minds.com</a>.
</p>
<h2>4. HTTPS</h2>
<p>
  1. We support HTTPS and encrypt all sensitive information stored at rest on
  Minds.com, and we offer free HTTPS on all Minds.com sites by default. By
  signing up and using a custom domain or sub-domain on Minds.com, you authorize
  us to act on the domain name registrant’s behalf (by requesting the necessary
  certificates, for example) for the sole purpose of providing HTTPS on your
  site.
</p>
<h2>5. Domain Names</h2>
<p>
  1. Minds provides HTTPS on all subdomains. Minds allows custom domains through
  the Minds hosting service and reserves the right to require HTTPS before
  publishing such custom domains. Your use of the domain name is also subject to
  the policies of the Internet Corporation for Assigned Names and Numbers
  (“ICANN”).
</p>
<p>
  2. A summary of your rights and responsibilities as a domain name registrant
  under ICANN’s 2009 Registrar Accreditation Agreement can be found at:
  <a
    target="_blank"
    href="https://www.icann.org/resources/pages/benefits-2013-09-16-en"
    >https://www.icann.org/resources/pages/benefits-2013-09-16-en
  </a>
</p>
<p>
  3. You can learn more about domain name registration generally at:
  <a
    target="_blank"
    href="https://www.icann.org/resources/pages/educational-2012-02-25-en"
    >https://www.icann.org/resources/pages/educational-2012-02-25-en
  </a>
</p>
<h2>6. Intellectual Property Rights</h2>
<p>
  1. We grant you a limited, non-exclusive, non-sublicensable, non-transferable
  license to access and use the Services for lawful purposes in accordance with
  these Terms. The Services contain materials owned or licensed by Minds,
  including name, logo, source code and executable code, text, images,
  audio/visual works, icons and scripts and other intellectual property
  (collectively, “Minds Content”). Minds Content is protected by copyright,
  trademark, patent, trade secret and other laws, and, as between you and Minds,
  Minds owns and retains all rights in Minds Content and the Services.
</p>
<p>
  2. You shall not remove, alter or conceal any copyright, trademark, service
  mark or other proprietary rights notices incorporated in or accompanying Minds
  Content, and you shall not reproduce, modify, adapt, prepare derivative works
  based on, perform, display, publish, distribute, transmit, broadcast, sell,
  license or otherwise exploit any Minds Content or the Services, except as may
  be permitted by these Terms.
</p>
<p>
  3. You will own all intellectual property rights in User Content you create
  using the Services except to the extent they incorporate Minds Content or
  other intellectual property owned or licensed by Minds.
</p>
<p>
  4. Minds reserves the right to display attribution text or links in your
  channel footer or toolbar, denoting attribution to Minds. The toolbar may not
  be altered or removed. Attribution text or links may only be hidden if you are
  subscribed to an enhanced level of service that permits the User to do so.
</p>
<h2>7. Reporting Copyright Infringement, DMCA Policy and Other Violations</h2>
<p>
  1. Minds prohibits Users of our Services from submitting, uploading, posting
  or otherwise transmitting any materials that violate another person’s
  intellectual property rights. To report allegations of infringement, please
  contact Minds at copyright@minds.com.
</p>
<p>
  2. As Minds asks others to respect our intellectual property rights, we
  respect the intellectual property rights of others. If you believe that
  material located on or linked to by Minds violates your copyright, you are
  encouraged to notify Minds in accordance with Minds’ Digital Millennium
  Copyright Act (“DMCA”) Policy, available at
  <a routerLink="/p/dmca">https://www.minds.com/p/dmca</a>. Minds will respond
  to all such notices in accordance with applicable law. Minds will ban or
  terminate a channel’s access to and use of the Services if, under appropriate
  circumstances, that channel is determined to be a repeat copyright or
  intellectual property rights infringer. In the case of such ban or
  termination, Minds will have no obligation to provide access to any Services,
  Minds Tokens or any refund including any amounts previously paid to Minds.
</p>
<h2>8. Monitoring and Enforcement; Ban and Termination</h2>
<p>We have the right to:</p>
<p>
  1. Modify, ban or terminate the Services for any reason, without notice, at
  any time, and without liability to you;
</p>
<p>
  2. Refuse, terminate, or suspend your access to all or part of the Services
  for any or no reason, including, without limitation, any violation of these
  Terms; and
</p>
<p>3. Force forfeiture of any username for any reason.</p>
<p>
  4. Upon any such refusal, termination or suspension of your access to the
  Services, all licenses and other rights granted to you under these Terms will
  immediately cease, and any outstanding balance of OffChain Minds Tokens will
  be forfeited to Minds.
</p>
<h2>9. Linking to the Services</h2>
<p>
  1. You may link to our website homepage, provided you do so in a way that is
  fair and legal, but you must not establish a link in such a way as to suggest
  any form of association, approval, or endorsement on our part without our
  express written consent, which may be withheld for any reason or no reason in
  our sole discretion.
</p>
<p>
  2. You may use these features solely as they are provided by us, and must not
  otherwise: establish a link from any website that is not owned by you; cause
  the Services or portions of it to be displayed on, or appear to be displayed
  by, any other site (for example, scraping, framing, deep linking, or in-line
  linking); or take any action with respect to the Services that is inconsistent
  with these Terms.
</p>
<h2>10. Links on Minds Services</h2>
<p>
  1. If the Services contain links to other sites and resources provided by
  third parties, these links are provided for your convenience only. This
  includes links contained in advertisements, including banner advertisements
  and sponsored links. You acknowledge that we have no control over the contents
  of those sites or resources, and accept no responsibility, and we disclaim any
  liability, for them or for any loss or damage that may arise from your use of
  them. If you decide to access any of the third-party websites linked to our
  Services, you do so entirely at your own risk and subject to the terms and
  conditions of use for such websites.
</p>
<h2>11. Advertisements</h2>
<p>
  1. As a Minds channel, you agree that Minds
  <a routerLink="/boost">Boost</a> will inject advertised content into your
  newsfeed to satisfy the demand of Minds publishers. In addition, you agree
  that other Minds channels to which you are subscribed may Remind advertised
  content to your feed. Users may opt-out of Minds Boost by joining Minds
  <a routerLink="/plus">Plus</a>.
</p>
<h2>12. Services Content</h2>
<p>
  1. We may update our Services from time to time, but they will not necessarily
  be complete or up-to-date at any given time. Any of the material in the
  Services may be out of date at any given time, and we are under no obligation
  to update such material.
</p>
<p>
  2. You acknowledge that we may not always identify paid services, sponsored
  content, or commercial communications as such, except as may be required by
  applicable law.
</p>
<p>
  3. Although it is Minds’ intention for the Services to be available as much as
  possible, there will be occasions when the Services may be interrupted,
  including, without limitation, for scheduled or unscheduled maintenance or
  upgrades, for emergency repairs, or due to failure of telecommunications links
  and/or software or hardware.
</p>
<p>
  4. Minds reserves the right to remove any content from the Services that is
  deemed in violation of these Terms, without prior notice. Content removed from
  the Services may continue to be stored by Minds, including, without
  limitation, in order to comply with certain legal obligations, but may not be
  retrievable without a valid court order.
</p>
<h2>13. Geographic Restrictions</h2>
<p>
  1. Minds is based in the United States and provides its Services for use to
  persons located all over the world with the exception of those countries that
  are sanctioned by OFAC (<a
    target="_blank"
    href="https://www.treasury.gov/resource-center/sanctions/Programs/Pages/Programs.aspx"
    >https://www.treasury.gov/resource-center/sanctions/Programs/Pages/Programs.aspx</a
  >). Access to the Services may not be legal by certain persons or in certain
  countries. If you access the Services from outside the United States, you do
  so on your own initiative and are responsible for compliance with local laws,
  though these Terms are governed solely by United States law.
</p>
<h2>14. Payments and Renewals</h2>
<p>
  1. Minds offers optional paid services such as Minds Tokens, hosting,
  subscriptions, monetization, additional storage, bandwidth, Minds Plus, video
  transcoding, and Boost (any such services, an “Upgrade”). By accessing an
  Upgrade you agree to pay Minds the one time, monthly or annual subscription
  fees indicated for that service. Payments will be charged on a pre-pay basis
  on the day you sign up for an Upgrade and will cover the use of that service
  for a monthly or annual subscription period as indicated.
</p>
<p>
  a. <b>Automatic Renewal:</b> Unless you notify Minds before the beginning of
  the applicable subscription period that you want to cancel, your subscription
  or service will automatically renew, and you authorize us to collect the
  then-applicable annual or monthly subscription fee for such Upgrade (as well
  as any taxes) using any credit card or other payment mechanism we have on
  record for you. Upgrades can be cancelled at any time in User settings.
</p>
<p>
  b. <b>Refund Policy:</b> All sales of Minds tokens are final and
  non-refundable. Any disputes should be directed to
  <a href="mailto:info@minds.com">info@minds.com</a>.
</p>
<p>
  c. <b>Additional Users</b>: Minds will calculate your site’s hosting charge
  based on estimated hours of work and Monthly Active Users (MAU) calculated as
  the peak number of unique active users who have initiated at least one session
  over a one-month period.
</p>
<p>
  d. <b>Minds Services</b>: Consulting and support services are provided by
  Minds under the terms and conditions for each such service engagement. Please
  contact <a href="mailto:info@minds.com">info@minds.com</a> for more
  information.
</p>
<h2>15. Content Policy</h2>
<p>
  1. The Minds
  <a routerLink="/content-policy">Content Policy</a> (the "Content Policy"), as
  may be amended from time to time, is hereby incorporated by reference and made
  a part hereof in its entirety. Minds will notify users of any changes to the
  Content Policy through the notice section on
  <a routerLink="/">https://minds.com</a>.
</p>
<h2>16. Responsibility of Visitors</h2>
<p>
  1. Minds has not reviewed, and cannot review, all of the material, including
  computer software, posted to our website, and cannot therefore be responsible
  for that material’s content, use or effects. By operating our website, Minds
  does not represent or imply that it endorses the material there posted, or
  that it believes such material to be accurate, useful or non-harmful.
</p>
<p>
  2. You are responsible for taking precautions as necessary to protect yourself
  and your computer systems from viruses, worms, Trojan horses, and other
  harmful or destructive content.
</p>
<p>
  3. Our website may contain content posted by others that is offensive,
  indecent, or otherwise objectionable, as well as content containing technical
  inaccuracies, typographical mistakes, fake news, propaganda, satire, or other
  errors.
</p>
<p>
  4. Our Website may also contain material posted by others that violates the
  privacy or publicity rights, or infringes the intellectual property and other
  proprietary rights, of third parties, or the downloading, copying or use of
  which is subject to additional terms and conditions, stated or unstated.
</p>
<h2>17. Distribution of Minds Tokens</h2>
<p>
  1. Minds Tokens are sold by Minds pursuant to the Minds Tokens Terms of Sale
  (“Terms of Sale”) available at
  <a routerLink="/token">https://www.minds.com/token</a>. Users must review and
  agree to these Terms of Sale before purchasing Minds Tokens from Minds.
</p>
<p>
  2. Minds Tokens may also be distributed by Minds in connection with the
  Services, including, but not limited to, in the form of user rewards and
  developer rewards as provided in the Minds Whitepaper, or as may be set forth
  in other policies of Minds, as such may be adopted from time to time (“Other
  Policies”).
</p>
<p>
  3. Users that receive Minds Tokens from Minds acknowledge and agree that the
  Minds Tokens only entitle the owner to access and use certain aspects of the
  Minds Network and do not entitle the owner to any rights with respect to
  Minds, including but not limited to, ownership, voting rights or other rights.
  Users agree to use Minds Tokens in accordance with these Terms, the Terms of
  Sale, and such Other Policies, if any, and acknowledge and accept the Risk
  Disclosures set forth in the Terms of Sale (“Risk Disclosures”). Minds Tokens
  do not confer any rights other than rights relating to the provision and
  receipt of the Services described above, subject to limitations and conditions
  described in these Terms. Minds Tokens are not intended to be a virtual
  currency, security, derivative or any other kind of financial instrument.
</p>
<p>
  4. You are responsible for implementing reasonable measures for securing the
  wallet, vault or other storage mechanism you use to receive and hold Minds
  Tokens, including any requisite private key(s) or other credentials necessary
  to access such storage mechanism(s). If your private key(s) or other access
  credentials are lost, you acknowledge that you may lose access to your Minds
  Tokens, and that there is no recovery possible, and that Minds cannot recover
  them for you and is in no way responsible for any such losses. You will
  implement reasonable and appropriate measures designed to secure access to (i)
  any device connected with the email address associated with your account, (ii)
  private keys required to access any relevant Ethereum address, Wallet or your
  Minds Tokens, and (iii) your username, password and any other login or
  identifying credentials.
</p>
<p>5. By opting to receive Minds Tokens, you represent and warrant that:</p>
<p>
  a. You are agreeing to participate in the Minds Network in some manner, and
  understand that the ecosystem surrounding this project is not solely dependent
  upon the efforts of Minds, but by holders of Minds Tokens engaging with the
  Services;
</p>
<p>
  b. You are not a citizen or resident of a country that prohibits the ownership
  of Minds Tokens and/or access to or use of other aspects of the Services;
</p>
<p>
  c. You have sufficient understanding of cryptographic tokens, token storage
  mechanisms (such as token wallets), and blockchain technology to understand
  these Terms, the Services, and the risks and implications of purchasing or
  otherwise obtaining the Minds Tokens;
</p>
<p>
  d. You have read, understood and agreed to these Terms, the Terms of Sale
  (including the Risk Disclosures), and the Minds Whitepaper, and such Other
  Policies, if any, and will periodically check for updates to these documents
  which we provide through the Services including on our website (<a
    routerLink="/"
    >https://www.minds.com</a
  >) or other channels;
</p>
<p>
  e. You understand that the Minds Tokens confer only the right to access and
  use certain features of the Services and confer no other rights of any form or
  nature with respect to the Ethereum blockchain network or Minds, including,
  but not limited to, any voting, distribution, redemption, liquidation,
  property (including all forms of intellectual property), or other financial or
  legal rights;
</p>
<p>
  f. You understand that the features of the Services are subject to change at
  any time or may be unavailable or may have limited available at any time, with
  or without notice, and you acknowledge that your expectations regarding one or
  more features of the Services and/or Minds Tokens may not be met and that any
  failure to meet your expectations will not be deemed a breach of these Terms
  by Minds;
</p>
<p>
  g. You agree to promptly provide to Minds, upon request, proof of identity
  and/or source of funds and/or other documentation or other information that
  Minds may request from time to time in connection with Minds’ obligations
  under, and compliance with, applicable laws and regulations, including but not
  limited to anti-money laundering legislation, regulations or guidance and/or
  tax information reporting or withholding legislation, regulations or guidance,
  or any “Know Your Customer” requirements and policies;
</p>
<p>
  h. You are legally permitted to use software and contribute to the continued
  development of the Minds Network and the Services;
</p>
<p>
  i. You will comply with any applicable tax obligations in your jurisdiction
  arising from your ownership and use of Minds Tokens and by holding or using
  the Minds Tokens, and to the extent permitted by law, you agree not to hold
  any third party (including developers, auditors, contractors, or founders)
  liable for any tax liability associated with or arising from the creation,
  ownership or use of the Minds Tokens or any other action or transaction
  related to the Services;
</p>
<p>
  j. You acknowledge that the tax characterization of the Minds Tokens is
  uncertain, and that your use, purchase, or sale of Minds Tokens may result in
  adverse tax consequences to you, including withholding taxes, income taxes and
  tax reporting requirements, that new or future changes to United States, and
  non-United States tax laws could adversely affect you, Minds and/or Minds
  Tokens;
</p>
<p>
  k. You understand and acknowledge that regulators continue to provide guidance
  with respect to ambiguities in existing laws and regulations in the context of
  crypto token sales, that lawmakers and regulators are considering and may
  approve new laws and regulations that govern the offering of crypto tokens,
  and that it is possible that a government or regulatory agency will pursue
  Minds and require it to suspend or cease its business operations and the
  platform in light of new interpretation of existing laws or regulations, or
  passage of new laws and regulations;
</p>
<p>
  l. You are not obtaining Minds Tokens from countries or regions
  comprehensively sanctioned by the U.S. Office of Foreign Assets Control
  (“OFAC”), or on behalf of governments of these countries or regions, nor will
  you use the Minds Tokens to conduct or facilitate any transactions with
  persons or entities located in these countries or regions;
</p>
<p>
  m. You are not (i) a citizen or resident of a geographic area in which access
  to or use of the Services is prohibited by applicable law, decree, regulation,
  treaty, or administrative act, (ii) a citizen or resident of, or located in, a
  geographic area that is subject to U.S. or other applicable comprehensive
  country sanctions or embargoes, or (iii) an individual, or an individual
  employed by or associated with an entity, identified on the U.S. Department of
  Commerce’s Denied Persons, Unverified, or Entity List, the U.S. Department of
  Treasury’s Specially Designated Nationals or Blocked Persons or Foreign
  Sanctions Evaders Lists, or the U.S. Department of State’s Debarred Parties
  List. You will not use the Minds Tokens to conduct or facilitate any
  transactions with such persons described above. You agree that if your country
  of residence or other circumstances change such that the above representations
  are no longer accurate, that you will immediately cease using the Services. If
  you are registering to use the Services on behalf of a legal entity, you
  further represent and warrant that (i) such legal entity is duly organized and
  validly existing under the applicable laws of the jurisdiction of its
  organization, and (ii) you are duly authorized by such legal entity to act on
  its behalf and bind it to these Terms;
</p>
<p>
  n. You understand that Minds Tokens are a utility token not intended to be a
  digital currency, security, derivative or any other kind of financial
  instrument;
</p>
<p>
  o. You understand and acknowledge that these Terms shall not be construed as
  an invitation to the public to subscribe for any securities, and you
  understand and acknowledge that no actions of, or documentation issued by
  Minds, shall be construed as such;
</p>
<p>
  p. You understand that Minds is not registered with or licensed by any
  financial regulatory or securities authority. Accordingly, no financial
  regulatory or securities authority has passed upon the contents of these Terms
  or the merits of purchasing Minds Tokens, nor have these Terms been filed
  with, or reviewed by any financial regulatory or securities authority;
</p>
<p>q. You are of a sufficient age to legally obtain and use Minds Tokens;</p>
<p>
  r. You understand with regard to Minds Tokens, that we make no guarantees or
  representations that you will be able to resell, trade or exchange Minds
  Tokens, or as to their future value, or that Minds Tokens have or may have any
  uses outside the Minds Network. You further understand and acknowledge that we
  make no guarantees or representations as to any market liquidity of Minds
  Tokens, and you understand and acknowledge that the value of Minds Tokens over
  time may experience extreme volatility or depreciate in full;
</p>
<p>
  s. You understand that you bear the sole responsibility to determine if the
  creation, ownership or use of Minds Tokens, the potential appreciation or
  depreciation in the value of Minds Tokens over time, and the sale and purchase
  of Minds Tokens and/or any other action or transaction related to Minds Tokens
  or the Services have tax implications;
</p>
<p>
  t. You waive the right to participate in a class action lawsuit or a class
  wide arbitration against any entity or individual involved with the creation
  of Minds Tokens;
</p>
<p>
  u. You understand the creation of the Minds Token does not involve the
  purchase of shares or any equivalent in any existing or future public or
  private company, corporation or other entity in any jurisdiction;
</p>
<p>
  v. You understand that you have no right against any other party to request
  any refund of cryptocurrency exchanged for Minds Tokens under any
  circumstances; and
</p>
<p>
  w. You understand that you are not permitted to sell any Minds Tokens to any
  other User or other third party and that The Company is not responsible for
  any purported sale from a third party.
</p>
<h2>18. Promotions</h2>
<p>
  1. Minds may, from time to time, offer Minds Tokens through promotional means
  such as in Rewards. Rewards will be governed by their own set of terms and
  conditions and it is your responsibility to abide by such terms and
  conditions, however, in the event there is a conflict between any Reward terms
  and conditions and these Terms, these Terms shall control.
</p>
<p>
  2. NO PURCHASE SHALL BE NECESSARY TO PARTICIPATE IN ANY TOKEN REWARD PROGRAM.
</p>
<p>
  a. <b>Offers</b>. Minds reserves the right, in its sole discretion, to cancel
  or modify any Reward offer if fraud or other failure destroys the integrity of
  the offer. In addition, Minds reserves the right, in its sole discretion, to
  extend or modify the time period during which a reward offer is available.
  Minds does not assume any responsibility for incorrect or inaccurate capture
  of registration information, technical malfunctions, human or technical error,
  seeding or printing errors, lost/delayed/garbled data or transmissions,
  omission, interruption, deletion, defect, or failures of any telephone or
  computer line or network, computer equipment, software or any combination
  thereof. Registration materials that have been tampered with or altered are
  void. If, in our opinion, any offer is compromised or becomes technically
  corrupted in any way, electronically or otherwise, we reserve the right to
  cancel, terminate, or suspend the offer.
</p>
<p>
  b. <b>Restrictions</b>. There shall be no substitution, transfer or cash
  equivalent for Tokens received through any promotional offer, except that
  Minds may, at its sole discretion, substitute items or cash of comparable
  value as applicable. All expenses, transaction fees and costs associated with
  the acceptance or use of the Tokens that are not expressly specified herein,
  or in the Reward offer’s official rules, are your sole responsibility. All
  federal, state and local taxes (as applicable) are your sole responsibility.
</p>
<p>
  c. <b>Release from Liability for Rewards</b>. By accepting the Tokens received
  through any Rewards offer, you agree to hold harmless Minds, its parents,
  affiliates, subsidiaries, officers, directors, shareholders, agents, employees
  and all other associates (“Released Parties”) from and against any and all
  claims and liability arising out of your acceptance, transfer or use of the
  Tokens or acceptance of any Minds offers. You assume all liability for any
  injury or damage caused or claimed to be caused by accepting a Minds Reward
  offer or use, transfer or redemption of the Tokens. Information collected
  during registration will be used in accordance with these Terms and statements
  made in any promotional offer materials.
</p>
<p>
  CAUTION: ANY ATTEMPT BY ANY PERSON OR ENTITY TO DELIBERATELY DAMAGE ANY
  WEBSITE OR UNDERMINE THE LEGITIMATE OPERATION OF A MINDS REWARD OFFER IS A
  VIOLATION OF CRIMINAL AND CIVIL LAWS. SHOULD SUCH AN ATTEMPT BE MADE, THE
  RELEASED PARTIES RESERVE THE RIGHT TO SEEK DAMAGES FROM ANY SUCH PERSON OR
  ENTITY TO THE FULLEST EXTENT PERMITTED BY LAW.
</p>
<p>
  d. <b>Disputes</b>: You agree to abide and be bound by the dispute resolution
  requirements as set forth in these Terms and any additional dispute resolution
  requirements as outlined in a specific promotion’s official rules.
</p>
<h2>19. Restricted Use</h2>
<p>
  1. You may not use the Services or any associated API access to impersonate or
  attempt to impersonate Minds or any products or services offered by Minds; to
  falsely imply that you are associated with Minds, another User, or any other
  person or entity; or for any other fraudulent or misleading purpose. Any
  product or service created through any API of Minds must include a disclaimer
  that substantially sets forth that such product or service is not offered by
  Minds and that Minds does not condone sharing account credentials with any
  third party.
</p>
<p>
  2. Your use of the Services is at all times subject to these Terms and the
  terms and conditions of the GNU Affero General Public License v3.0
  (“AGPL-3.0”). If Minds believes, in its sole discretion, that you have
  violated or attempted to violate these Terms or the AGPL-3.0, your ability to
  use and access the Services may be temporarily or permanently revoked, with or
  without notice.
</p>
<p>
  3. You may not farm, automate voting chains, game, manipulate or spam the site
  in order to gain Minds tokens in an unfair or deceitful manner.
</p>
<h2>20. Minds Content Review Policy</h2>
<p>
  1. We have not reviewed, and cannot review, all of the material, including
  computer software, made available through the websites and webpages to which
  Minds.com links, and that link to Minds.com. Minds does not have any control
  over such other websites and is not responsible for their contents or their
  use. By linking to any such other website, Minds does not represent or imply
  that it endorses such website. You are responsible for taking precautions as
  necessary to protect yourself and your computer systems from viruses, worms,
  Trojan horses, and other harmful or destructive content. Minds disclaims any
  responsibility for any harm resulting from your use of such other websites and
  webpages.
</p>
<h2>21. Changes</h2>
<p>
  1. We may change or update the Services in whole or in part at any time and we
  reserve the right to change these Terms at any time. If we make changes to
  these Terms that are material, we will let you know by posting in the “Notice”
  section on the newsfeed of the web version of Minds, or by sending you an
  email or other communication. The notice will designate a reasonable period of
  time after which the changes to these Terms will take effect. If you disagree
  with our changes, then you should stop using the Services within the
  designated notice period. Your continued use of the Services indicates your
  acceptance of such changes, your continued use of the Services will be subject
  to these Terms, as changed. However, any dispute that arose before the changes
  shall be governed by the Terms (including the binding individual arbitration
  clause) that were in effect when the dispute arose.
</p>
<h2>22. Privacy Policy; Other Policies</h2>
<p>
  1. Your access to and use of the Services is at all times subject to our
  <a routerLink="/p/privacy">Privacy Policy</a> which addresses how we collect,
  use, share, and store your information. Your access to and use of the Services
  may be subject to one or more other policies adopted from time to time by
  Minds.
</p>
<p>
  2. If we adopt a new policy relating to the Services that is material, we will
  let you know by posting on one of our blogs, or by sending you an email or
  other communication before the new policy takes effect. The notice will
  designate a reasonable period of time after which such new policy will take
  effect. If you disagree with such new policy, then you should stop using the
  Services within the designated notice period. Your continued use of the
  Services indicates your acceptance of such new policy, and your continued use
  of the Services will be subject to such new policy.
</p>
<h2>23. Disclaimer of Warranties and Limitation of Liability</h2>
<p>
  1. YOU UNDERSTAND THAT WE CANNOT AND DO NOT GUARANTEE OR WARRANT THAT FILES
  AVAILABLE FOR DOWNLOADING FROM THE INTERNET OR THE SERVICES WILL BE FREE OF
  VIRUSES OR OTHER DESTRUCTIVE CODE. YOU ARE RESPONSIBLE FOR IMPLEMENTING
  SUFFICIENT PROCEDURES AND CHECKPOINTS TO SATISFY YOUR PARTICULAR REQUIREMENTS
  FOR ANTI-VIRUS PROTECTION AND ACCURACY OF DATA INPUT AND OUTPUT, AND FOR
  MAINTAINING A MEANS EXTERNAL TO OUR SITE FOR ANY RECONSTRUCTION OF ANY LOST
  DATA.
</p>
<p>
  2. VIOLATION OF THESE TERMS MAY, IN MINDS’ SOLE DISCRETION, RESULT IN
  TERMINATION OF YOUR ACCOUNT. YOU UNDERSTAND AND AGREE THAT MINDS CANNOT AND
  WILL NOT BE RESPONSIBLE FOR THE CONTENT POSTED ON THE SERVICES AND YOU USE THE
  SERVICES AT YOUR OWN RISK. IF YOU VIOLATE THE LETTER OR SPIRIT OF THESE TERMS,
  OR OTHERWISE CREATE RISK OR POSSIBLE LEGAL EXPOSURE FOR MINDS, WE CAN STOP
  PROVIDING ALL OR PART OF THE SERVICES TO YOU.
</p>
<p>
  3. TO THE FULLEST EXTENT PERMITTED BY THE APPLICABLE LAW, MINDS OFFERS THE
  SERVICES “AS-IS” AND MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND
  CONCERNING THE SERVICES, EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, INCLUDING,
  WITHOUT LIMITATION, WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A
  PARTICULAR PURPOSE, NON-INFRINGEMENT, OR COMPATIBILITY WITH ANY SOFTWARE OR
  HARDWARE.
</p>
<p>
  4. MINDS DOES NOT WARRANT THAT THE FUNCTIONS OR CONTENT CONTAINED ON THE
  SERVICES WILL BE AVAILABLE, UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE
  CORRECTED, OR THAT MINDS’ SERVERS ARE FREE OF VIRUSES OR OTHER HARMFUL
  COMPONENTS THROUGH USE OR DOWNLOADING MATERIAL FROM THE SERVICES.
</p>
<p>
  5. MINDS DOES NOT WARRANT OR MAKE ANY REPRESENTATION REGARDING USE OR THE
  RESULT OF USE OF THE CONTENT IN TERMS OF ACCURACY, RELIABILITY, OR OTHERWISE.
</p>
<p>
  6. YOUR USE OF THE SERVICES AND ITS CONTENT IS AT YOUR OWN RISK. EXCEPT TO THE
  EXTENT REQUIRED BY APPLICABLE LAW AND THEN ONLY TO THAT EXTENT, IN NO EVENT
  WILL MINDS, ITS EMPLOYEES, OFFICERS, DIRECTORS, AFFILIATES OR AGENTS (“THE
  MINDS PARTIES”) BE LIABLE TO YOU ON ANY LEGAL THEORY FOR ANY INCIDENTAL,
  DIRECT, INDIRECT, PUNITIVE, ACTUAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY OR OTHER
  DAMAGES, INCLUDING WITHOUT LIMITATION, LOSS OF REVENUE OR INCOME, LOST
  PROFITS, PAIN AND SUFFERING, EMOTIONAL DISTRESS, COST OF SUBSTITUTE GOODS OR
  SERVICES, OR SIMILAR DAMAGES SUFFERED OR INCURRED BY YOU OR ANY THIRD PARTY
  THAT ARISE IN CONNECTION WITH THE SERVICES (OR THE TERMINATION THEREOF FOR ANY
  REASON), EVEN IF THE MINDS PARTIES HAVE BEEN ADVISED OF THE POSSIBILITY OF
  SUCH DAMAGES.
</p>
<p>
  7. MINDS SHALL NOT BE RESPONSIBLE OR LIABLE WHATSOEVER IN ANY MANNER FOR ANY
  CLAIMS OF INFRINGEMENT RELATING TO THE SERVICES, FOR YOUR USE OF THE SERVICES,
  OR FOR THE CONDUCT OF THIRD PARTIES WHETHER ON THE SERVICES OR RELATING TO THE
  SERVICES.
</p>
<p>
  8. IN NO EVENT WILL THE AGGREGATE LIABILITY OF MINDS AND THE MINDS PARTIES
  (JOINTLY), IN ANY ACTION OR CLAIM, WHETHER IN CONTRACT, WARRANTY, TORT
  (INCLUDING NEGLIGENCE, WHETHER ACTIVE, PASSIVE OR IMPUTED), OR OTHER THEORY,
  ARISING OUT OF OR RELATING TO THE SERVICES, THESE TERMS, OR THE SALE OR USE
  OF, OR INABILITY TO USE, MINDS TOKENS IN CONNECTION WITH THE SERVICES, EXCEED
  THE AMOUNT YOU PAID TO US FOR MINDS TOKENS AND USE OF THE SERVICES WITHIN THE
  12-MONTH PERIOD PRECEDING THE EVENT GIVING RISE TO SUCH ACTION OR CLAIM.
</p>
<h2>24. Indemnification</h2>
<p>
  1. YOU AGREE TO INDEMNIFY AND HOLD HARMLESS THE MINDS PARTIES FROM AND AGAINST
  ANY AND ALL LOSS, EXPENSES, DAMAGES, AND COSTS, INCLUDING WITHOUT LIMITATION
  REASONABLE ATTORNEYS’ FEES, RESULTING, WHETHER DIRECTLY OR INDIRECTLY, FROM
  YOUR VIOLATION OF THESE TERMS. YOU ALSO AGREE TO INDEMNIFY AND HOLD HARMLESS
  THE MINDS PARTIES FROM AND AGAINST ANY AND ALL CLAIMS BROUGHT BY THIRD PARTIES
  ARISING OUT OF YOUR USE OF THE SERVICES.
</p>
<h2>25. Dispute Resolution, Arbitration; Jurisdiction</h2>
<p>
  1. PLEASE READ THE FOLLOWING SECTION CAREFULLY BECAUSE IT REQUIRES YOU TO
  ARBITRATE CERTAIN DISPUTES AND CLAIMS WITH MINDS AND LIMITS THE MANNER IN
  WHICH YOU CAN SEEK RELIEF FROM US.
</p>
<p>
  a. <b>Binding Arbitration</b>. Except for any disputes, claims, suits,
  actions, causes of action, demands or proceedings (collectively, “Disputes”)
  in which either Party seeks injunctive or other equitable relief for the
  alleged unlawful use of intellectual property, including, without limitation,
  copyrights, trademarks, trade names, logos, trade secrets or patents, you and
  Minds (i) waive your and Minds’ respective rights to have any and all Disputes
  arising from or related to these Terms resolved in a court, and (ii) waive
  your and Minds’ respective rights to a jury trial. Instead, you and Minds will
  arbitrate Disputes through binding arbitration pursuant to the Federal
  Arbitration Act, 9 U.S.C. § 1 et seq. (“FAA”), to the maximum extent permitted
  by applicable law. (This includes the referral of a Dispute to one or more
  persons charged with reviewing the Dispute and making a final and binding
  determination to resolve it instead of having the Dispute decided by a judge
  or jury in court).
</p>
<p>
  b. <b>No Class Arbitrations, Class Actions or Representative Actions</b>. Any
  Dispute arising out of or related to these Terms is personal to you and Minds
  and will be resolved solely through individual arbitration and will not be
  brought as a class arbitration, class action or any other type of
  representative proceeding. There will be no class arbitration or arbitration
  in which an individual attempts to resolve a Dispute as a representative of
  another individual or group of individuals. Further, a Dispute cannot be
  brought as a class or other type of representative action, whether within or
  outside of arbitration, or on behalf of any other individual or group of
  individuals.
</p>
<p>
  c. <b>Notice; Informal Dispute Resolution</b>. Each Party will notify the
  other Party in writing of any Dispute within thirty (30) calendar days of the
  date it arises, so that the Parties can attempt in good faith to resolve the
  Dispute informally. Notice to Minds shall be sent by email to Minds at
  <a href="mailto:info@minds.com">info@minds.com</a>. Notice to you shall be by
  email to the then-current email address in your Account. Your notice must
  include (i) your name, postal address, email address and telephone number,
  (ii) a description in reasonable detail of the nature or basis of the Dispute,
  and (iii) the specific relief that you are seeking. If you and Minds cannot
  agree how to resolve the Dispute within thirty (30) calendar days after the
  date notice is received by the applicable Party, then either you or Minds may,
  as appropriate and in accordance with these Terms, commence an arbitration
  proceeding or, to the extent specifically provided for in these Terms, file a
  claim in court.
</p>
<p>
  d. <b>Process</b>. Any arbitration will occur in the State of Connecticut.
  Arbitration will be conducted confidentially by a single arbitrator in
  accordance with the rules of the Judicial Arbitration and Mediation Services
  (“JAMS”), which are hereby incorporated by reference. The state and federal
  courts located in the State of Connecticut will have exclusive jurisdiction
  over (i) any appeals and the enforcement of an arbitration award, or (ii) any
  claim filed in court where permitted in these Terms.
</p>
<p>
  e. <b>Authority of Arbitrator.</b> As limited by the FAA, these Terms and the
  applicable JAMS rules, the arbitrator will have (i) the exclusive authority
  and jurisdiction to make all procedural and substantive decisions regarding a
  Dispute, including the determination of whether a Dispute is arbitrable, and
  (ii) the authority to grant any remedy that would otherwise be available in
  court; provided, however, that the arbitrator does not have the authority to
  conduct a class arbitration or a representative action, which is prohibited by
  these Terms. The arbitrator may only conduct an individual arbitration and may
  not consolidate more than one individual’s claims, preside over any type of
  class or representative proceeding or preside over any proceeding involving
  more than one individual.
</p>
<p>
  f. <b>Rules of JAMS.</b> The rules of JAMS and additional information about
  JAMS are available on the JAMS website. By agreeing to be bound by these
  Terms, you either (i) acknowledge and agree that you have read and understand
  the rules of JAMS, or (ii) waive your opportunity to read the rules of JAMS
  and any claim that the rules of JAMS are unfair or should not apply for any
  reason.
</p>
<p>
  g. <b>Injunctions and Court Proceedings.</b> With respect to any action or
  proceeding for which courts are an expressly permitted method of adjudication
  hereunder (set forth below), the exclusive jurisdiction and venue for all such
  actions or proceedings arising out of, or related to, these Terms will be in
  an appropriate state or federal court located in the State of Connecticut.
  (the “Designated Courts”), and the Parties hereby irrevocably consent to the
  personal and subject matter jurisdiction of such court, waive any claim that
  such courts do not constitute a convenient and appropriate venue for such
  actions or proceedings, and waive the right to a trial by jury. Each Party
  consents to service of process upon itself by means of any of the methods for
  delivery of notice that are specified in these Terms.
</p>
<p>
  h. To the extent that arbitration pursuant to the terms of this section is not
  permitted under applicable law, a Party may seek resolution of any dispute in
  the Designated Courts.
</p>
<p>
  i. To the extent the Parties mutually-agree to forego arbitration for a
  dispute, the Parties shall seek resolution of such dispute in the Designated
  Courts.
</p>
<p>
  j. Permitted appeals and/or enforcement of an arbitration award shall take
  place in the Designated Courts.
</p>
<p>
  k. Certain breaches of these Terms by a User may, by its gravity or nature,
  cause immediate and irreparable injury to Minds that cannot be adequately
  compensated for in damages, including, without limitation, infringement of
  Minds’ intellectual property rights. Accordingly, notwithstanding anything to
  the contrary in these Terms, in the event of any such breach and in addition
  to all other remedies available herein, Minds may seek solely injunctive
  relief from the Designated Courts without posting a bond or other security.
</p>
<h2>26. Governing Law</h2>
<p>
  1. These Terms will be governed by and construed and enforced in accordance
  with the laws of the State of Connecticut, without regard to conflict of law
  rules or principles (whether of the State of Connecticut or any other
  jurisdiction) that would cause the application of the laws of any other
  jurisdiction.
</p>
<h2>27. Waiver and Severability</h2>
<p>
  1. No waiver by Minds of any term or condition set out in these Terms shall be
  deemed a further or continuing waiver of such term or condition or a waiver of
  any other term or condition, and any failure of Minds to assert a right or
  provision under these Terms shall not constitute a waiver of such right or
  provision.
</p>
<p>
  2. If any provision of these Terms is held by a court or other tribunal of
  competent jurisdiction to be invalid, illegal or unenforceable for any reason,
  such provision shall be eliminated or limited to the minimum extent such that
  the remaining provisions of these Terms will continue in full force and
  effect.
</p>
<h2>28. Notice</h2>
<p>
  1. <b>To you: </b>We may provide any notice to you under these Terms by: (A)
  posting a notice on our website; or (B) publishing our changes on our Gitlab
  page; or (C) sending an email to the email address then associated with your
  account. Notices we provide by posting on our website will be effective upon
  posting and notices we provide by email will be effective when we send the
  email. It is your responsibility to keep your email address current. You will
  be deemed to have received any email sent to the email address then associated
  with your account when we send the email, whether or not you actually receive
  or read the email.
</p>
<p>
  2. <b>To us:</b> To give us notice under these Terms, you must contact Minds
  by email at <a href="mailto:info@minds.com">info@minds.com</a>. We may update
  this email address for notices to us by posting a notice on our website or
  sending an email to you. Notices to us will be effective when received by us.
</p>
<p>
  3. <b>Language: </b>All communications and notices to be made or given
  pursuant to these Terms must be in the English language.
</p>
<h2>29. Entire Agreement</h2>
<p>
  1. These Terms of Service and, as applicable, our Terms of Sale of Minds
  Tokens (all as posted at
  <a routerLink="/">https://www.minds.com</a>) constitute the sole and entire
  agreement between you and Minds regarding the Services and supersede all prior
  and contemporaneous understandings, agreements, representations, and
  warranties, both written and oral, regarding the Services.
</p>
<h2>30. Force Majeure</h2>
<p>
  1. Minds and its affiliates will not be liable for any delay or failure to
  perform any obligation under these Terms where the delay or failure results
  from any cause beyond our reasonable control, including acts of God, labor
  disputes or other industrial disturbances, electrical, telecommunications,
  hardware, software or other utility failures, earthquake, storms or other
  elements of nature, blockages, embargoes, riots, acts or orders of government,
  acts of terrorism, war, changes in blockchain technology, changes in the
  Ethereum or Minds protocols or any other force, event or condition outside of
  our control.
</p>
<h2>31. Your Comments and Concerns</h2>
<p>
  Please direct questions or concerns regarding these Terms or the Services to
  Minds at <a href="mailto:info@minds.com">info@minds.com</a>.
</p>
<p>
  Terms are provided by Minds, Inc. under Creative Commons Attribution -
  ShareAlike (CC BY-SA) based upon similar agreements which has been provided by
  <a target="_blank" href="https://wordpress.com">https://wordpress.com</a>.
</p>
<p class="m-aux__lastUpdated">Last Updated May 23, 2019 at 10:00:00 GMT</p>
