m-discovery__settingsButton {
  display: contents;
  @include m-theme() {
    color: themed($m-textColor--secondary);
  }
}

.m-discovery__settingsButton {
  align-self: center;
  width: 32px;
  text-align: center;
  i {
    font-size: 16px;
  }
}
