<div class="m-toolbar">
  <div class="m-topbar--row">
    <div class="m-topbar--navigation m-topbar--navigation--text-only">
      <a class="m-topbar--navigation--item"
        routerLink="/blog/top"
        routerLinkActive="m-topbar--navigation--item-active"
        >
          <span>Top</span>
          <m-tooltip icon="help" i18n="@@M__COMMON_TOPBAR_TOP_TOOLTIP">
            Top displays the top content on Minds
          </m-tooltip>
      </a>
      <a class="m-topbar--navigation--item"
        routerLink="/blog/network"
        routerLinkActive="m-topbar--navigation--item-active"
      >
        <span>Subscriptions</span>
        <m-tooltip icon="help" i18n="@@@@MINDS__BLOGS__TOPBAR__SUBSCRIPTIONS_TOOLTIP">
          Blogs from channels you are subscribed to
        </m-tooltip>
      </a>
      <a class="m-topbar--navigation--item"
        routerLink="/blog/my"
        routerLinkActive="m-topbar--navigation--item-active"
        *ngIf="session.isLoggedIn()"
        >
          <span>My Blogs</span>
          <m-tooltip icon="help" i18n="@@MINDS__BLOGS__TOPBAR__YOUR_BLOGS_TOOLTIP">
            Your blogs
          </m-tooltip>
      </a>
      <a class="m-topbar--navigation--item"
        routerLink="/blog/edit/new"
        routerLinkActive="m-topbar--navigation--item-active"
        *ngIf="session.isLoggedIn()"
        >
          <span>Write a new blog</span>
          <m-tooltip icon="help" i18n="@@MINDS__BLOGS__TOPBAR__WRITE_A_NEW_BLOG_TOOLTIP">
            Write a new Blog
          </m-tooltip>
      </a>

      <div class="m-layout--spacer"></div>

      <m-topbar--navigation--options
        (change)="onOptionsChange($event)" 
        [options]="filter == 'trending' ? [ 'rating' ] : []"
        *ngIf="filter === 'trending'"
        >
      </m-topbar--navigation--options>
    </div>
  </div>
</div>

<div class="m-blog--list">

  <div class="m-blog--list--column m-blog--list--column-0">
    <m-blog--tile *ngFor="let entity of entities_0" [entity]="entity">
    </m-blog--tile>
  </div>

  <div class="m-blog--list--column m-blog--list--column-1">
    <m-blog--tile *ngFor="let entity of entities_1" [entity]="entity">
    </m-blog--tile>
  </div>



  <infinite-scroll
      distance="25%"
      (load)="load()"
      [moreData]="moreData"
      [inProgress]="inProgress">
  </infinite-scroll>

</div>
