m-captcha {
  display: block;
  img {
    margin-bottom: $minds-margin;
  }
  .m-input {
    @include m-theme() {
      background-color: themed($m-white);
    }
  }
}

.m-captcha__refresh {
  cursor: pointer;
  position: absolute;
}
