@import 'defaults';

:host {
  width: min-content;
  img {
    margin-bottom: $minds-margin;
  }
  .m-input {
    @include m-theme() {
      background-color: themed($m-bgColor--primary) !important;
    }
    font-family: 'Jost', Helvetica, sans-serif;
    font-weight: 300;

    ::placeholder {
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }
  }
}

.m-captcha__refresh {
  cursor: pointer;
  position: absolute;
}
