<div class="m-affiliate--marketing">

  <div class="m-affiliate--marketing-header">
    <h1>Affiliate Program</h1>
    <h3>Earn 25% of the revenue your referrals generate</h3>

    <div class="m-affiliate--marketing-action-button">
      <button class="mdl-button mdl-button--colored mdl-color--green">Join Now</button>
    </div>
  </div>

  <div class="m-affiliate--marketing-contents mdl-grid mdl-grid--no-spacing">

    <div class="mdl-cell mdl-cell--4-col">
      <i class="material-icons mdl-color-text--blue-grey-700">assignment</i>
      <h2>Join</h2>
      <span>Get up and running todady. All you need to do is become a Merchant and accept the affiliate terms and conditions.</span>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <i class="material-icons mdl-color-text--blue-grey-700">share</i>
      <h2>Refer</h2>
      <span>Share your custom affiliate link on your website or social media posts.</span>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <i class="material-icons mdl-color-text--blue-grey-700">attach_money</i>
      <h2>Earn</h2>
      <span>When someone signs up with that link, we will share 25% of what they spend with you.</span>
    </div>

  </div>


</div>

<m-footer></m-footer>
