<ng-container [ngSwitch]="entity.type" *ngIf="entity">
  <ng-container *ngSwitchCase="'user'">
    <ng-template dynamic-host></ng-template>
  </ng-container>
  <ng-container *ngSwitchCase="'group'">
    <ng-template dynamic-host></ng-template>
  </ng-container>

  <ng-container *ngSwitchDefault>
    <m-activity
      [displayOptions]="displayOptions"
      [entity]="entity"
      (deleted)="delete($event)"
      [slot]="slot"
      [canDelete]="canDelete"
    >
    </m-activity>
  </ng-container>
</ng-container>
