.m-feeds-sorted__Filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  padding: 12px;

  m-sort-selector {
    flex-grow: 1;
  }

  m-topbar--navigation--options {
    padding-right: 0;
  }
}
