<div
  class="m-newsfeed__tiles"
  [class.m-border]="entities && entities.length"
  [class.m-newsfeed__tiles--has-elements]="entities && entities.length"
>
  <ng-container *ngFor="let entity$ of entities">
    <a
      *ngIf="entity$ | async as entity"
      class="m-newsfeed-tiles__Tile"
      [ngClass]="{
        'm-newsfeed-tiles__Tile--is-mature': attachment.shouldBeBlurred(entity)
      }"
      [routerLink]="['/newsfeed', entity.guid]"
    >
      <img
        [src]="getThumbnailSrc(entity$ | async)"
        (click)="clickedImage(entity, $event)"
      />
      <i
        *ngIf="attachment.shouldBeBlurred(entity)"
        class="material-icons mature-icon"
      >
        explicit
      </i>
      <i *ngIf="isUnlisted(entity)" class="material-icons unlisted-icon">
        visibility_off
      </i>
    </a>
  </ng-container>
</div>
