@import 'defaults.scss';

:host {
  display: flex;
  flex-flow: column nowrap;

  .m-networkAdminStripeCredentials__title {
    margin: 0 0 $spacing1 0;

    @include heading4Regular;
  }

  .m-networkAdminStripeCredentials__description {
    margin-bottom: $spacing6;

    @include body2Medium;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }

    a {
      text-decoration: none;

      @include body2Bold;
      @include m-theme() {
        color: themed($m-action);
      }
    }
  }

  .m-networkAdminStripeCredentials__subText {
    margin-bottom: $spacing4;

    @include body1Regular;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }

    a {
      text-decoration: none;

      @include body1Bold;
      @include m-theme() {
        color: themed($m-action);
      }
    }
  }

  .m-networkAdminStripeCredentials__credentialsForm {
    .m-networkAdminStripeCredentials__inputContainer {
      display: flex;
      flex-flow: column nowrap;
      margin-bottom: $spacing6;

      .m-networkAdminStripeCredentials__inputLabel {
        margin-bottom: $spacing1;

        @include body1Regular;
      }

      .m-networkAdminStripeCredentials__input {
        max-width: 478px;
        margin-bottom: $spacing2;
        padding: $spacing3 $spacing4;
        border-radius: 3px;

        @include body1Regular;
        @include m-theme() {
          background-color: themed($m-bgColor--primary);
          color: themed($m-textColor--primary);
          border: 1px solid themed($m-borderColor--primary);
        }
      }

      .m-networkAdminStripeCredentials__requiredText {
        margin-bottom: unset;

        @include body2Regular;

        strong {
          @include body2Bold;
        }
      }
    }
  }
}
