<p class="m-networkAdminStripeCredentials__description">
  <span i18n="@@NETWORK_ADMIN_MONETIZATION__CONFIGURE_YOUR_STRIPE_ACCOUNT"
    >Configure your Stripe account that will be connected to your Network to
    handle all transactions and payment details.</span
  >
  <br />
  <span i18n="@@NETWORK_ADMIN_MONETIZATION__FOR_USE_USEFUL_GUIDE"
    >For a useful guide on how to get your Stripe account set up and connected
    to your Network, click on this</span
  >
  <span>&nbsp;</span>
  <a
    href="https://stripe.com/docs/payments/account/activate"
    target="_blank"
    rel="noopener noreferrer"
    i18n="@@NETWORK_ADMIN_MONETIZATION__FULL_SETUP_GUIDE_LINK"
    >setup guide</a
  >.
</p>

<h4
  class="m-networkAdminStripeCredentials__title"
  i18n="@@NETWORK_ADMIN_MONETIZATION__CREDENTIALS_TITLE"
>
  Credentials
</h4>

<p class="m-networkAdminStripeCredentials__subText">
  <span i18n="@@NETWORK_ADMIN_MONETIZATION__ENTER_YOUR_STRIPE_CREDENTIALS"
    >Enter your Stripe credentials. You can find your credentials using
    this</span
  >
  <span>&nbsp;</span>
  <a
    href="https://support.stripe.com/questions/locate-api-keys-in-the-dashboard"
    target="_blank"
    rel="noopener noreferrer"
    i18n="@@NETWORK_ADMIN_MONETIZATION__SETUP_GUIDE_LINK"
    >guide</a
  >.
</p>

<form
  *ngIf="!(initializing$ | async); else loadingSpinnerTemplate"
  class="m-networkAdminStripeCredentials__credentialsForm"
  [formGroup]="formGroup"
>
  <div class="m-networkAdminStripeCredentials__inputContainer">
    <label
      class="m-networkAdminStripeCredentials__inputLabel"
      for="publicKey"
      i18n="@@NETWORK_ADMIN_MONETIZATION__PUBLIC_KEY"
      >Public Key</label
    >
    <input
      class="m-networkAdminStripeCredentials__input"
      type="text"
      id="publicKey"
      formControlName="publicKey"
      name="publicKey"
      placeholder="Stripe public key"
      autocomplete="off"
    />
    <ng-container *ngTemplateOutlet="requiredTextTemplate"></ng-container>
  </div>
  <div class="m-networkAdminStripeCredentials__inputContainer">
    <label
      class="m-networkAdminStripeCredentials__inputLabel"
      for="secretKey"
      i18n="@@NETWORK_ADMIN_MONETIZATION__SECRET_KEY"
      >Secret Key</label
    >
    <input
      class="m-networkAdminStripeCredentials__input"
      type="password"
      id="secretKey"
      name="secretKey"
      formControlName="secretKey"
      placeholder="Stripe secret key"
      autocomplete="off"
    />
    <ng-container *ngTemplateOutlet="requiredTextTemplate"></ng-container>
  </div>
  <m-button
    *ngIf="{
      submissionInProgress: submissionInProgress$ | async
    } as submitButtonVars"
    color="blue"
    size="xsmall"
    solid="true"
    [disabled]="
      submitButtonVars.submissionInProgress ||
      !formGroup.dirty ||
      !formGroup.valid
    "
    [saving]="submitButtonVars.submissionInProgress"
    (onAction)="onSubmit()"
  >
    <ng-container i18n="@@NETWORK_ADMIN_MONETIZATION__SAVE_CREDENTIALS"
      >Save credentials</ng-container
    >
  </m-button>
</form>

<ng-template #loadingSpinnerTemplate>
  <m-loadingSpinner [inProgress]="true"></m-loadingSpinner>
</ng-template>

<ng-template #requiredTextTemplate>
  <p class="m-networkAdminStripeCredentials__requiredText">
    (<strong>*</strong>)
    <span i18n="@@NETWORK_ADMIN_MONETIZATION__REQUIRED">Required</span>
  </p>
</ng-template>
