<div class="m-composerPopup__body m-composer__monetize">
  <div class="m-composerPopup__content">
    <h3 class="m-composerPopup__title" i18n="@@COMMON__MONETIZE">Monetize</h3>

    <div class="m-tabs__container">
      <div class="m-tabs__tab">
        <a
          [ngClass]="{ 'm-tabs__tab--selected': state.type === 'plus' }"
          (click)="state.type = 'plus'"
          >Plus</a
        >
      </div>
      <div class="m-tabs__tab">
        <a
          [ngClass]="{ 'm-tabs__tab--selected': state.type === 'membership' }"
          (click)="state.type = 'membership'"
          >Memberships</a
        >
      </div>
      <div class="m-tabs__tab">
        <a
          [ngClass]="{ 'm-tabs__tab--selected': state.type === 'custom' }"
          (click)="state.type = 'custom'"
          >Custom</a
        >
      </div>
    </div>
  </div>

  <m-composer__monetizeV2__plus
    (dismissIntent)="dismissIntent()"
    *ngIf="state.type === 'plus'"
  ></m-composer__monetizeV2__plus>
  <m-composer__monetizeV2__memberships
    (dismissIntent)="dismissIntent()"
    *ngIf="state.type === 'membership'"
  ></m-composer__monetizeV2__memberships>
  <m-composer__monetizeV2__custom
    (dismissIntent)="dismissIntent()"
    *ngIf="state.type === 'custom'"
  ></m-composer__monetizeV2__custom>
</div>
