m--blockchain--transaction-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.99);
  color: #333333;
  user-select: none;

  .m--blockchain--transaction-overlay--content {
    max-width: 1280px;
    width: 100%;

    font-weight: 500;
    font-size: 16px;

    .m--blockchain--transaction-overlay--logo {
      height: 68px;
      margin-bottom: 24px;
      margin-left: 4px;
    }

    .m--blockchain--transaction-overlay--title {
      font-size: 42px;
      margin: 0;
      margin-bottom: 16px;
      font-weight: bold;
      line-height: 42px;
      color: #444;    
    }
    .m--blockchain--transaction-overlay--subtitle {
      text-transform: uppercase;
      color: #444;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      font-size: 16px;
    }
    .m--blockchain--transaction-overlay--help {
      display: flex;
      align-items: center;
      min-height: 200px;
      color: #aaaaaa;
      text-transform: uppercase;
      a {
        cursor: pointer;
        text-decoration: none;
      }
    }
    .m--blockchain--transaction-overlay--note {
      color: #444;
      line-height: 20px;
      font-size: 16px;
    }
  }
}

.m--blockchain--transaction-overlay--field {
  margin: ($minds-padding * 2) 0;

  .mdl-checkbox {
    $cb-color: rgba(0, 0, 0, 0.15);

    .mdl-checkbox__label {
      font-size: inherit;
    }

    .mdl-checkbox__box-outline {
      border-color: $cb-color;
      background-color: $cb-color;
    }

    &.is-checked .mdl-checkbox__tick-outline {
      background-color: $cb-color;
      mask: none;
    }

    .mdl-checkbox__ripple-container .mdl-ripple {
      background-color: $cb-color;
    }
  }
}

.m--blockchain--transaction-overlay--warning,
.m--blockchain--transaction-overlay--info{
  max-width: 600px;
  //margin: ($minds-padding * 2) 0;
  letter-spacing: 0.25px;
}

.m--blockchain--transaction-overlay--info {
  color: #00c;
}

.m--blockchain--transaction-overlay--warning {
  color: #c00;
  font-size: 13px;
}

.m--blockchain--transaction-overlay--field-label {
  display: block;
  margin-bottom: $minds-padding;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  font-weight: 600;
}

.m--blockchain--transaction-overlay--checkbox-label {
  font-size: 14px;
  span {
    text-transform: uppercase;
    color: #444;
    letter-spacing: 0.25px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: 600;
    font-size: 14px;
  }
}

.m--blockchain--transaction-overlay--field-input-lg,
.m--blockchain--transaction-overlay--field-input {
  padding: $minds-padding * 2;
  -webkit-appearance: none;
  border: 1px solid #ececec;
  background: #FFF;
  border-radius: 4px;
  font-size: 18px;
  color: #444;

  &.m--blockchain--transaction-overlay--dropping {
    box-shadow: inset 0 0 10px #00c;
  }
}

.m--blockchain--transaction-overlay--field-input-lg {
  width: 600px;
  max-width: 90vw;
}

.m--blockchain--transaction-overlay--field-input {
  width: 300px;
  max-width: 90vw;
}

.m--blockchain--transaction-overlay--button {
  letter-spacing: 2.33px;
  appearance: none;
  padding: $minds-padding ($minds-padding * 4);
  background: none;
  border: 1px solid #555;
  border-radius: 3;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  color: #555;
  cursor: pointer;

  &[disabled] {
    cursor: default !important;
    opacity: 0.65;
  }
}
