<div class="m-discoveryCarousel__wrapper">
  <div class="m-discoveryCarousel__carousel" #carousel>
    <div
      class="m-discoveryCarousel__item"
      *ngFor="let entity of entities$ | async"
    >
      <div class="m-discoveryCarousel__entityBlock">
        <div
          class="m-discoveryCarousel__avatar"
          [ngStyle]="getStyle(entity.entity)"
          [routerLink]="getLink(entity.entity)"
        ></div>
        <span
          class="m-discoveryCarousel__name"
          [routerLink]="getLink(entity.entity)"
        >
          {{ getName(entity.entity) }}
        </span>
        <button
          class="m-discoveryCarousel__button"
          (click)="onButtonClick(entity.entity)"
        >
          {{ getButtonText(entity.entity) }}
        </button>
      </div>
    </div>
  </div>
  <button class="m-discoveryCarousel__nextButton" (click)="goCarousel('next')">
    <i class="material-icons">chevron_right</i>
  </button>
  <!-- <button class="m-discoveryCarousel__previousButton" (click)="goCarousel('previous')">
    <i class="material-icons">chevron_left</i>
  </button> -->
</div>
