m-safe-toggle {

  .m-safe-toggle {
    cursor: pointer;

    label {
      padding: 0 !important;
    }

    i.material-icons {
      color: #9E9E9E;

      &.m-safe-toggle--active {
        color: #4690DF;
      }
    }

  }
}
