<div
  class="m-paywall-button m-paywall-button-owner"
  (click)="checkout()"
  *ngIf="entity.ownerObj.guid == session.getLoggedInUser().guid"
>
  <button
    class="mdl-button mdl-button--colored mdl-color--green-500 mdl-color-text--white"
  >
    <i class="mdl-color-text--white material-icons">vpn_key</i>
    <ng-container i18n="@@M__FEATURE__EXCLUSIVE">Exclusive</ng-container>
  </button>
  <p
    class="mdl-color-text--grey-800"
    i18n="@@PAYMENTS__PAYWALL__EXCLUSIVE_DESC"
  >
    Only paid subscribers can see this post
  </p>
</div>

<div
  class="m-paywall-button"
  (click)="checkout()"
  *ngIf="entity.ownerObj.guid != session.getLoggedInUser().guid"
>
  <button
    class="mdl-button mdl-button--colored mdl-color--green-500 mdl-color-text--white"
    *ngIf="!showCheckout"
  >
    <i class="mdl-color-text--white material-icons">vpn_key</i>
    <ng-container i18n="@@PAYMENTS__PAYWALL__VIEW_ACTION">View</ng-container>
  </button>
  <p
    class="mdl-color-text--grey-800"
    *ngIf="entity.ownerObj.merchant?.exclusive?.intro"
  >
    <b>&ldquo;</b> {{ entity.ownerObj?.merchant?.exclusive?.intro }}
    <b>&rdquo;</b>
  </p>
  <p
    class="mdl-color-text--grey-800"
    *ngIf="!entity.ownerObj.merchant?.exclusive?.intro"
  >
    <b>&ldquo;</b>
    <ng-container i18n="@@PAYMENTS__PAYWALL__SUPPORTERS_ONLY"
      >This post is only available to supporters.</ng-container
    >
    <b>&rdquo;</b>
  </p>
</div>

<div class="mdl-color-text--red mdl-card__supporting-text" *ngIf="error">
  <p>{{ error }}</p>
</div>

<div
  [hidden]="!inProgress"
  style="width:100%; text-align:center;"
  *ngIf="entity.ownerObj.guid != session.getLoggedInUser().guid"
>
  <div
    class="mdl-spinner mdl-js-spinner is-active"
    [mdl]
    style="margin: 16px auto;"
  ></div>
</div>

<div
  class="m-paywall-amount mdl-color-text--green"
  *ngIf="showCheckout"
  i18n="@@PAYMENTS__PAYWALL__USD_PER_MONTH"
>
  $ {{ amount }} / month
</div>

<div class="m-paywall-card-input" *ngIf="showCheckout">
  <minds-payments-stripe-checkout
    (inputed)="subscribe($event)"
  ></minds-payments-stripe-checkout>
</div>

<div
  class="m-paywall-splash mdl-color--grey-800"
  *ngIf="entity.ownerObj.guid != session.getLoggedInUser().guid"
>
  <img
    [src]="
      cdnUrl +
      'fs/v1/paywall/preview/' +
      entity.ownerObj.guid +
      '/' +
      entity.guid
    "
  />

  <!--<p class="mdl-color-text--white" i18n>Access this exclusive content by becoming a paid monthly subscriber of <b>{{entity.ownerObj?.name}}</b>.</p>-->
</div>

<m-modal-signup-on-action
  [open]="showSignupModal"
  (closed)="showSignupModal = false"
  action="view exclusive content"
  *ngIf="!session.isLoggedIn()"
></m-modal-signup-on-action>
