.m-token--ledger {
  .minds-dropdown-menu {
    .mdl-menu__item.selected {
      background-color: #eee;
    }
  }
  .m-token--ledger--reward {
    background: #FFF;
    padding: 16px;
    margin-bottom: 8px;

    .m-token--ledger--reward-amount {
      font-size: 36px;
      line-height: 40px;
      font-weight: 800;

      .m-token--ledger--reward-amount--positive {
        color: green;
      }

      .m-token--ledger--reward-amount--negative {
        color: red;
      }
    }

    .m-token--ledger--avatar {
      border-radius: 100%;
      width: 20px;
      height: 20px;
    }

    .m-token--ledger--direction {
      font-size: 16px;
      line-height: 1;
      margin: 0 8px;
    }

    .m-token--ledger--other-username {
      font-size: 12px;
      text-decoration: none;
      margin-left: 8px;
    }

    .m-token--ledger--reward-details {
      display: flex;
      align-items: center;
      color: #444;

      .m-token--ledger--reward-details--meta {
        margin-right: 8px;
        padding-right: 8px;
        border-right: 1px solid #ececec;

        &.m-token--ledger--reward-details--meta-wrapper {
          display: inline-flex;
          align-items: center;
        }

        > * {
          color: #777;
          text-rendering: optimizeLegibility;
          -webkit-font-smoothing: antialiased;
        }
      }

      > div:last-of-type {
        border-right: 0 !important;
      }

      p {
        padding: 0;
        margin: 0;
      }

      .ts {
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        color: #444;
      }
    }
  }
}

.m-token--ledger-filters {
  display: flex;
  text-align: right;
  justify-content: flex-end;
  padding: 8px;
  margin-bottom: 8px;
  background: #FFF;

  label.m-token--ledger-filters--label {
    text-transform: uppercase;
    letter-spacing: 0.75px;
    align-self: center;
    font-size: 12px;
    color: #666;
  }

  .m-token--ledger-filters--check {
    font-size: 18px;
    vertical-align: middle;
    color: #eee;
  }

  input, select {
    border: 1px solid #DEDEDE;
  }

  m-date-selector {
    margin-left: 8px;
    display: flex;
  }

  .m-token--ledger-filters--addresses {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 10px;

    .m-dropdown--list{
      left:0;
    }
    
    & > label {
      cursor: pointer;

      i {
        font-size: 16px;
      }
    }

    .minds-dropdown-menu {
      width: auto;
      max-width: 300px;

      .mdl-menu__item {
        display: flex;
        align-items: center;
        overflow: visible;
        font-size: 12px;

        .mdl-checkbox {
          width: initial;
        }

        > label.mdl-switch {
          width: 36px;
        }

        .m-tooltip {
          i {
            font-size: 16px;
            margin: 0 8px;
            color:#888;
          }
          .m-tooltip--bubble {
            max-width: initial;
          }
        }

      }
    }
  }

  &.m-token--ledger-filters--preview {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #999;
  }
}
