<div class="m-grid m-marketing__asFeaturedInV2">
  <div class="m-grid__column-2 m-marketingAsFeaturedIn__title">
    <ng-container *ngIf="!inThePress" i18n="@@AS_FEATURED_IN"
      >As featured in</ng-container
    >
    <ng-container *ngIf="inThePress" i18n="@@MINDS_IN_THE_PRESS"
      >Minds in the press</ng-container
    >
  </div>

  <ul class="m-grid__column-10">
    <li>
      <a
        href="https://open.spotify.com/episode/06T2h6DzvdEKPubSvlDvaB"
        target="_blank"
      >
        <img
          ngSrc="assets/marketing/featured/logo-jre.png"
          disableOptimizedSrcset
          alt="The Joe Rogan Experience Logo"
          width="48"
          height="48"
        />
      </a>
    </li>

    <li>
      <a
        href="https://fortune.com/2021/09/16/minds-social-network-crypto-balance-sheet-ethereum-bitcoin-usd-coin/"
        target="_blank"
      >
        <img
          ngSrc="assets/marketing/featured/logo-fortune.svg"
          disableOptimizedSrcset
          alt="Fortune Logo"
          width="80"
          height="19"
        />
      </a>
    </li>

    <li>
      <a
        href="https://venturebeat.com/2021/06/17/minds-raises-10m-for-decentralized-and-encrypted-social-network-and-messaging-app/"
        target="_blank"
      >
        <img
          ngSrc="assets/marketing/featured/logo-venture-beat.svg"
          disableOptimizedSrcset
          alt="Venture Beat Logo"
          width="120"
          height="16"
        />
      </a>
    </li>

    <li>
      <a
        href="https://www.wired.com/story/minds-anti-facebook/"
        target="_blank"
      >
        <img
          ngSrc="assets/marketing/featured/logo-wired.svg"
          disableOptimizedSrcset
          alt="Wired Logo"
          width="90"
          height="36"
        />
      </a>
    </li>

    <li>
      <a
        href="https://techcrunch.com/2018/04/16/minds-aims-to-decentralize-the-social-network/"
        target="_blank"
      >
        <img
          ngSrc="assets/marketing/featured/logo-tc.svg"
          disableOptimizedSrcset
          alt="TechCrunch Logo"
          width="50"
          height="25"
        />
      </a>
    </li>

    <li>
      <a
        href="https://www.npr.org/2019/08/06/748810962/debate-over-policing-free-speech-intensifies-as-8chan-struggles-to-stay-online"
        target="_blank"
      >
        <img
          ngSrc="assets/marketing/featured/logo-npr.svg"
          disableOptimizedSrcset
          alt="NPR Logo"
          width="70"
          height="23"
        />
      </a>
    </li>

    <li>
      <a
        href="https://www.foxnews.com/tech/alternate-social-media-squash-extremist-content-without-violating-first-amendment"
        target="_blank"
      >
        <img
          ngSrc="assets/marketing/featured/logo-fox-news.svg"
          disableOptimizedSrcset
          alt="Fox News Logo"
          width="40"
          height="40"
        />
      </a>
    </li>

    <li>
      <a
        href="https://www.forbes.com/sites/janicegassam/2020/02/29/how-daryl-davis-inspired-more-than-200-white-supremacists-to-change-and-how-his-new-platform-will-help-spark-meaningful-dialogue/"
        target="_blank"
      >
        <img
          ngSrc="assets/marketing/featured/logo-forbes.svg"
          disableOptimizedSrcset
          alt="Forbes Logo"
          width="85"
          height="33"
        />
      </a>
    </li>
  </ul>
</div>
