<div class="m-grid m-marketing__asFeaturedInV2">
  <div class="m-grid__column-2 m-marketingAsFeaturedIn__title">
    <ng-container *ngIf="!inThePress" i18n="@@AS_FEATURED_IN"
      >As featured in</ng-container
    >
    <ng-container *ngIf="inThePress" i18n="@@MINDS_IN_THE_PRESS"
      >Minds in the press</ng-container
    >
  </div>

  <ul class="m-grid__column-10">
    <li>
      <a
        href="http://podcasts.joerogan.net/podcasts/bill-ottman"
        target="_blank"
      >
        <img
          [src]="cdnAssetsUrl + 'assets/marketing/featured/logo-jre.png'"
          alt="The Joe Rogan Experience Logo"
          width="48px"
          height="48px"
        />
      </a>
    </li>

    <li>
      <a
        href="https://www.wsj.com/articles/facebook-on-notice-as-vietnam-tightens-grip-on-social-media-11547036594"
        target="_blank"
      >
        <img
          [src]="cdnAssetsUrl + 'assets/marketing/featured/logo-fortune.svg'"
          alt="Fortune Logo"
          width="80px"
          height="18px"
        />
      </a>
    </li>

    <li>
      <a
        href="https://www.wired.com/story/minds-anti-facebook/"
        target="_blank"
      >
        <img
          [src]="
            cdnAssetsUrl + 'assets/marketing/featured/logo-venture-beat.svg'
          "
          alt="Venture Beat Logo"
          width="120px"
          height="15px"
        />
      </a>
    </li>

    <li>
      <a
        href="https://www.reuters.com/article/us-vietnam-cyber-usa/u-s-lawmakers-urge-google-facebook-to-resist-vietnam-cybersecurity-law-idUSKBN1K7147"
        target="_blank"
      >
        <img
          [src]="cdnAssetsUrl + 'assets/marketing/featured/logo-wired.svg'"
          alt="Wired Logo"
          width="90px"
          height="36px"
        />
      </a>
    </li>

    <li>
      <a
        href="https://techcrunch.com/2018/04/16/minds-aims-to-decentralize-the-social-network/"
        target="_blank"
      >
        <img
          [src]="cdnAssetsUrl + 'assets/marketing/featured/logo-tc.svg'"
          alt="TechCrunch Logo"
          width="50px"
          height="25px"
        />
      </a>
    </li>

    <li>
      <a
        href="https://www.npr.org/2019/08/06/748810962/debate-over-policing-free-speech-intensifies-as-8chan-struggles-to-stay-online"
        target="_blank"
      >
        <img
          [src]="cdnAssetsUrl + 'assets/marketing/featured/logo-npr.svg'"
          alt="NPR Logo"
          width="70px"
          height="22.5px"
        />
      </a>
    </li>

    <li>
      <a
        href="https://www.foxnews.com/tech/alternate-social-media-squash-extremist-content-without-violating-first-amendment"
        target="_blank"
      >
        <img
          [src]="cdnAssetsUrl + 'assets/marketing/featured/logo-fox-news.svg'"
          alt="Fox News Logo"
          width="40px"
          height="40px"
        />
      </a>
    </li>

    <li>
      <a
        href="https://www.independent.co.uk/news/business/indyventure/minds-facebook-alternative-deletefacebook-social-network-data-a8475841.html"
        target="_blank"
      >
        <img
          [src]="cdnAssetsUrl + 'assets/marketing/featured/logo-forbes.svg'"
          alt="Forbes Logo"
          width="85px"
          height="33px"
        />
      </a>
    </li>
  </ul>
</div>
