<li
  #item
  class="m-dropdownMenu__item"
  *ngIf="label"
  [ngClass]="{
    'm-dropdownMenu__item--hasIcon': icon,
    'm-dropdownMenu__item--persistent': persistent,
    'm-dropdownMenu__item--selected': persistent && selected,
    'm-dropdownMenu__item--red': red,
    'm-dropdownMenu__item--disabled': disabled,
    'm-dropdownMenu__item--hasSubmenu': hasSubmenu
  }"
>
  <i
    *ngIf="persistent && selected"
    class="material-icons m-dropdownMenuItem__text--icon--left"
    >check</i
  >
  <i *ngIf="icon" class="material-icons m-dropdownMenuItem__text--icon--left">{{
    icon
  }}</i>
  <span class="m-dropdownMenuItem__text--label" [i18n]="i18nId">{{
    label
  }}</span>
  <ng-container *ngIf="hasSubmenu">
    <i class="material-icons m-dropdownMenuItem__text--icon--right"
      >chevron_right</i
    >
  </ng-container>
</li>
