<div class="m-user-menu m-dropdown">
  <minds-avatar
    [object]="getCurrentUser()"
    [editMode]="false"
    (click)="toggleMenu()"
    data-ref="topnav-avatar"
    *ngIf="useAvatar && getCurrentUser(); else iconAnchor"
  ></minds-avatar>
  <ng-template #iconAnchor>
    <a
      class="m-user-menu__Anchor"
      (click)="toggleMenu()"
      data-ref="topnav-avatar-alt"
    >
      <i class="material-icons">more_vert</i>
    </a>
  </ng-template>

  <ul
    class="m-dropdown__list m-userMenu__dropdown"
    [class.m-userMenu__dropdown--loggedOut]="!getCurrentUser()"
    [hidden]="!(service.isOpen$ | async)"
  >
    <li
      class="
        m-dropdownList__item
        m-userMenuDropdown__item m-userMenuDropdown__username
      "
      *ngIf="getCurrentUser()"
      (click)="closeMenu()"
    >
      <a
        [routerLink]="['/', getCurrentUser().username]"
        data-ref="topnav-usermenu-channel"
      >
        @{{ getCurrentUser().username }}
      </a>
    </li>

    <li
      class="
        m-dropdownList__item
        m-userMenuDropdown__item
        m-userMenuDropdownItem__upgrade
      "
      *ngIf="getCurrentUser() && !getCurrentUser().pro"
      (click)="closeMenu()"
    >
      <a
        routerLink="/upgrades"
        i18n="@@COMMON__UPGRADE"
        data-ref="topnav-usermenu-upgrade"
      >
        Upgrade
      </a>
    </li>
    <li
      class="m-dropdownList__item m-userMenuDropdown__item"
      *ngIf="!getCurrentUser()"
      (click)="closeMenu()"
    >
      <a routerLink="/login" data-ref="topnav-usermenu-login">
        <span i18n="@@COMMON__LOGIN">Login</span>
      </a>
    </li>

    <li
      class="m-dropdownList__item m-userMenuDropdown__item"
      *ngIf="isAdmin()"
      (click)="closeMenu()"
    >
      <a routerLink="/admin/interactions" data-ref="topnav-usermenu-admin">
        <span i18n="@@COMMON__ADMIN">Admin</span>
      </a>
    </li>

    <li
      class="m-dropdownList__item m-userMenuDropdown__item"
      (click)="closeMenu()"
      *ngIf="getCurrentUser()"
    >
      <a routerLink="/boost/console" data-ref="topnav-usermenu-boostconsole">
        <span i18n="@@COMMON__BOOST_CONSOLE">Boost Console</span>
      </a>
    </li>

    <li
      class="m-dropdownList__item m-userMenuDropdown__item"
      (click)="closeMenu()"
      *ngIf="getCurrentUser()"
    >
      <a routerLink="/settings" data-ref="topnav-usermenu-settings">
        <span i18n="@@COMMON__SETTINGS">Settings</span>
      </a>
    </li>

    <li
      class="m-dropdownList__item m-userMenuDropdown__item"
      (click)="closeMenu()"
    >
      <a
        [href]="getHelpdeskRedirectUrl()"
        target="_blank"
        data-ref="topnav-usermenu-help-zendesk"
      >
        <span i18n="@@COMMON__HELP">Help</span>
      </a>
    </li>

    <li
      class="m-dropdownList__item m-userMenuDropdown__item"
      *ngIf="getCurrentUser()"
    >
      <a
        (click)="closeMenu()"
        routerLink="/logout"
        data-ref="topnav-usermenu-logout"
      >
        <span i18n="@@COMMON__LOGOUT">Logout</span>
      </a>
    </li>
  </ul>
</div>

<div
  class="minds-bg-overlay"
  (click)="closeMenu()"
  [hidden]="!(service.isOpen$ | async)"
></div>
