@import 'defaults.scss';

:host {
  // new stacking context
  position: relative;
  z-index: 2;

  display: inline-block;
  position: relative;

  ::ng-deep m-dropdownMenu {
    .minds-avatar {
      margin: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
      @include m-theme() {
        border: 1px solid themed($m-borderColor--primary);
      }
    }

    .m-dropdownMenu__menu {
      @media screen and (min-width: $max-mobile + 1) {
        width: 280px;
      }
    }
  }
  // Username is larger and has more padding
  // than the rest of the menu items
  ::ng-deep m-dropdownMenu__item {
    li {
      // Don't do the bg transition here
      // because the fadeout looks wonky
      transition: none !important;
    }
    &.m-userMenuDropdown__username {
      li {
        padding-top: $spacing3;
        padding-bottom: $spacing2;
        overflow-x: hidden;
        position: relative;

        span {
          font-size: 18px !important;
          font-weight: bold !important;
          line-height: 24px !important;
        }

        // Fade out long usernames
        &:not(:hover):after {
          position: absolute;
          display: block;
          content: '';
          top: 0;
          right: 0;
          width: 40px;
          height: 100%;
          @include m-theme() {
            background: linear-gradient(
              90deg,
              rgba(themed($m-bgColor--primary), 0) 0%,
              rgba(themed($m-bgColor--primary), 1) 80%,
              rgba(themed($m-bgColor--primary), 1) 100%
            );
          }
        }
      }
    }
  }
}
