<div class="m-modalV2__inner">
  <div class="m-modalV2__header">
    <h2 class="m-modalV2Header__title" i18n="@@DISCOVERY_FEEDS__FEED_SETTINGS">
      Feed Settings
    </h2>
  </div>

  <div class="m-modalV2__body">
    <form class="m-formWrapper" [formGroup]="form">
      <!-- <section
        class="m-discoveryTagSettings__section"
        data-ref="discovery-settings-section--selected"
        *ngIf="(filter$ | async) === 'trending'"
      >
        <h3>Trending Timespan</h3>
        <div class="m-form__fieldsContainer">
          <ng-container *ngFor="let periodOption of periodOptions">
            <label
              [for]="periodOption.id"
              class="m-form__customInputWrapper__radio"
              >{{ periodOption.label }}
              <input
                type="radio"
                [id]="periodOption.id"
                [value]="periodOption.id"
                formControlName="period"
                class="form-control"
              />
              <span class="m-form__customInput__radio"></span>
            </label>
          </ng-container>
        </div>
      </section> -->
      <section
        class="m-discoveryTagSettings__section"
        data-ref="discovery-settings-section--selected"
      >
        <h3 i18n="@@DISCOVERY_FEEDS__CONTENT_TYPES">Content Types</h3>
        <div class="m-form__fieldsContainer">
          <ng-container *ngFor="let contentType of contentTypes">
            <label
              [for]="contentType.id"
              class="m-form__customInputWrapper__radio"
              >{{ contentType.label }}
              <input
                type="radio"
                [id]="contentType.id"
                [value]="contentType.id"
                formControlName="contentType"
                class="form-control"
              />
              <span class="m-form__customInput__radio"></span>
            </label>
          </ng-container>
        </div>
      </section>
      <section
        class="m-discoveryTagSettings__section"
        data-ref="discovery-settings-section--selected"
      >
        <h3 i18n="@@COMMON__NSFW">NSFW</h3>
        <div class="m-form__fieldsContainer">
          <label
            for="showNsfwOptions"
            class="m-form__customInputWrapper__checkbox"
          >
            <ng-container i18n="@@DISCOVERY_SETTINGS__SHOW_NSFW_IN_RESULTS"
              >Show NSFW content in results</ng-container
            >
            <input
              type="checkbox"
              value="true"
              id="showNsfwOptions"
              formControlName="showNsfw"
            />
            <span class="m-form__customInput__checkbox"></span>
          </label>
          <ng-container *ngIf="hasNsfwSelections">
            <ng-container
              *ngFor="let nsfwOption of nsfwOptions; let i = index"
              formArrayName="nsfw"
            >
              <label
                [for]="nsfwOption.id"
                class="m-form__customInputWrapper__checkbox"
                >{{ nsfwOption.label }}
                <input
                  type="checkbox"
                  value="selected"
                  [id]="nsfwOption.id"
                  [formControlName]="i"
                  class="form-control"
                />
                <span class="m-form__customInput__checkbox"></span>
              </label>
            </ng-container>
          </ng-container>
        </div>
      </section>
    </form>
  </div>
  <div class="m-modalV2__toolbar">
    <div class="m-layout__spacer"></div>

    <m-button
      [saving]="saving$ | async"
      (onAction)="onSave($event)"
      data-ref="discovery-feeds-settings-save-button"
    >
      <ng-container i18n="@@COMMON__SAVE">Save</ng-container>
    </m-button>
  </div>
</div>

<m-modalCloseButton></m-modalCloseButton>
