@import 'defaults.scss';

:host {
  .m-productPageButton {
    width: 100%;
    padding: $spacing3 $spacing5;
    border-radius: 4px;
    line-height: 0;
    cursor: pointer;
    @include body1Bold;

    &--lightScheme {
      @include m-theme() {
        background-color: color-by-theme($m-bgColor--primary, 'dark');
        color: color-by-theme($m-textColor--primary, 'dark');
        border: 1px solid color-by-theme($m-bgColor--primary, 'dark');
      }

      &:not(.m-productPageButton--outline):hover {
        @include m-theme() {
          background-color: unset;
          color: color-by-theme($m-bgColor--primary, 'dark');
        }
      }

      &:hover {
        @include m-theme() {
          background-color: unset;
          color: color-by-theme($m-bgColor--primary, 'dark');
        }
      }

      &.m-productPageButton--outline {
        @include m-theme() {
          background-color: unset;
          color: color-by-theme($m-bgColor--primary, 'dark');
        }

        &:hover {
          @include m-theme() {
            background-color: color-by-theme($m-bgColor--primary, 'dark');
            color: color-by-theme($m-textColor--primary, 'dark');
          }
        }
      }
    }

    &--darkScheme {
      @include m-theme() {
        background-color: color-by-theme($m-textColor--primary, 'dark');
        color: color-by-theme($m-bgColor--primary, 'dark');
        border: 1px solid color-by-theme($m-textColor--primary, 'dark');
      }

      &:not(.m-productPageButton--outline):hover {
        @include m-theme() {
          background-color: unset;
          color: color-by-theme($m-textColor--primary, 'dark');
        }
      }

      &:hover {
        @include m-theme() {
          background-color: unset;
          color: color-by-theme($m-textColor--primary, 'dark');
        }
      }

      &.m-productPageButton--outline {
        @include m-theme() {
          background-color: unset;
          color: color-by-theme($m-textColor--primary, 'dark');
        }

        &:hover {
          @include m-theme() {
            background-color: color-by-theme($m-textColor--primary, 'dark');
            color: color-by-theme($m-bgColor--primary, 'dark');
          }
        }
      }
    }

    &--rounded {
      border-radius: 200px;
      padding: $spacing3 $spacing12;

      @media screen and (max-width: $min-tablet) {
        padding: $spacing2 $spacing4;
      }
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
