@import 'defaults.scss';
// Used in onboardingV5 and auth forms

$minLeftContainerWidth: 400px;
$minRightContainerWidth: 416px;
$mobileCollapseWidth: $minLeftContainerWidth + $minRightContainerWidth;

$leftContainerPaddingY: $spacing6;
$leftContainerPaddingX: $spacing12;

:host {
  .m-twoColumnLayout {
    display: flex;
    flex-flow: row nowrap;
    max-height: 100%;
    min-height: 100%;
    height: 100%;
    overflow-y: hidden;

    .m-twoColumnLayout__leftContainer {
      min-width: $minLeftContainerWidth;
      max-width: 35%;
      width: 35%;

      @include m-theme() {
        background-color: themed($m-bgColor--primary);
        color: themed($m-textColor--primary);
      }

      flex-grow: 1;
      padding-top: $leftContainerPaddingY;
      padding-bottom: $leftContainerPaddingY;

      @media screen and (max-width: $mobileCollapseWidth) {
        min-width: unset;
        max-width: 100%;
        width: 100%;
      }
    }

    .m-twoColumnLayout__rightContainer {
      width: 65%;
      min-width: $minRightContainerWidth;
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: $mobileCollapseWidth) {
        display: none;
      }

      &:not(&--tenant) {
        @include m-theme() {
          background-color: themed($m-action);
        }
      }

      &--tenant {
        @include m-theme() {
          border-left: 1px solid themed($m-borderColor--primary);
        }
      }
    }
  }

  .m-twoColumnLayout__contentContainer {
    margin-top: $leftContainerPaddingY;
    padding-left: $leftContainerPaddingX;
    padding-right: $leftContainerPaddingX;
    overflow-y: auto;
    @include vertical-scroll;

    @include vertical-scroll(
      $scrollbarContrastColor: '#{$m-bgColor--contrast}'
    );
  }

  .m-twoColumnLayout__title {
    margin-top: $spacing12;

    @include heading3Bold;
    @include m-theme() {
      color: themed($m-textColor--primary);
    }

    @media screen and (max-width: $max-mobile) {
      margin-top: $spacing6;
    }
  }

  .m-twoColumnLayout__description {
    margin-top: $spacing8;

    @include body1Regular;
    @include m-theme() {
      color: themed($m-textColor--primary);
    }
  }

  .m-twoColumnLayout__footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: $spacing6 $leftContainerPaddingX;

    @include m-theme() {
      border-top: 1px solid themed($m-borderColor--primary);
    }

    m-button {
      display: block;
      width: 100%;

      ::ng-deep button {
        width: 100%;
      }
    }
  }
}
