// USAGE --------------------
@use 'sass:math';


// .m-myComponent {
//   @include heading2Medium;
// }

// Format:
//{heading | body}{size#}{weight}


//Constants for dynamic metrics

$a: 0.012;
$b: 0.185;
$c: -0.1745;
$e: 2.7813; //euler's number. 

@function dynamic-letter-spacing($fontsize) {
  @return $a + $b * math.pow($e, $c * $fontsize)
}

//- BUTTONS

//- BOLD ---------------------

@mixin heading1Bold {
  @include _heading1;
  @include _fontWeightBold;
}
@mixin heading2Bold {
  @include _heading2;
  @include _fontWeightBold;
}
@mixin heading3Bold {
  @include _heading3;
  @include _fontWeightBold;
}
@mixin heading4Bold {
  @include _heading4;
  @include _fontWeightBold;
}
@mixin body1Bold {
  @include _body1;
  @include _fontWeightBold;
}
@mixin body2Bold {
  @include _body2;
  @include _fontWeightBold;
}
@mixin body3Bold {
  @include _body3;
  @include _fontWeightBold;
}
// - MEDIUM ---------------------
@mixin heading1Medium {
  @include _heading1;
  @include _fontWeightMedium;
}
@mixin heading2Medium {
  @include _heading2;
  @include _fontWeightMedium;
}
@mixin heading3Medium {
  @include _heading3;
  @include _fontWeightMedium;
}
@mixin heading4Medium {
  @include _heading4;
  @include _fontWeightMedium;
}
@mixin body1Medium {
  @include _body1;
  @include _fontWeightMedium;
}
@mixin body2Medium {
  @include _body2;
  @include _fontWeightMedium;
}
@mixin body3Medium {
  @include _body3;
  @include _fontWeightMedium;
}
//- REGULAR ---------------------
@mixin heading1Regular {
  @include _heading1;
  @include _fontWeightRegular;
}
@mixin heading2Regular {
  @include _heading2;
  @include _fontWeightRegular;
}
@mixin heading3Regular {
  @include _heading3;
  @include _fontWeightRegular;
}
@mixin heading4Regular {
  @include _heading4;
  @include _fontWeightRegular;
}
@mixin body1Regular {
  @include _body1;
  @include _fontWeightRegular;
}
@mixin body2Regular {
  @include _body2;
  @include _fontWeightRegular;
}
@mixin body3Regular {
  @include _body3;
  @include _fontWeightRegular;
}

//----------------------
// Internal use only
//
// DON'T use these in your
// component stylesheets

@mixin _fontWeightBold {
  font-weight: 700;
}
@mixin _fontWeightMedium {
  font-weight: 500;
}
@mixin _fontWeightRegular {
  font-weight: 400;
}
//----------------------
@mixin _heading1 {
  font-size: 2.125rem;//34px; 
  line-height: 3.000rem;//48px;
  letter-spacing: -0.012em;

}
@mixin _heading2 {
  font-size: 1.75rem; //28px; 
  line-height: 2.438rem; //39px;
  letter-spacing: -0.010em;

}

//reason for prettier is defnitely using px hard code instead of REM... 
@mixin _heading3 {
  font-size: 1.438rem; //23px;
  line-height: 2.000rem; //32px;
  letter-spacing: -0.008em;

}
@mixin _heading4 {
  font-size: 1.188rem; //19px; 
  line-height: 1.688rem; //27px;
  letter-spacing: -0.005em;

}
//----------------------
@mixin _body1 {
  font-size: 1.000rem; //16px
  line-height: 1.375rem; //22px;
  letter-spacing: -0.001em;

}
@mixin _body2 {
  font-size: 0.875rem; //14px; 
  line-height: 1.250rem; //20px;
  letter-spacing: 0.004em;

}
@mixin _body3 {
  font-size: 0.750rem; //12px;
  line-height: 1.063rem;  //17px;
  letter-spacing: 0.011em;

}
