<a
  class="m-chatRoomMessage__senderName"
  *ngIf="senderName && !isFromLoggedInUser && !isPreviousMessageFromSameSender"
  [routerLink]="['/' + senderUsername]"
  (mouseup)="$event.which == 2 ? openSenderChannelInNewTab() : null"
  >{{ senderName }}</a
>
<div class="m-chatMessage__contentRow">
  <ng-container *ngIf="isFromLoggedInUser && messageEdge">
    <ng-container *ngTemplateOutlet="dropdownEllipsisTemplate"></ng-container>
  </ng-container>
  <div *ngIf="!isFromLoggedInUser" class="m-chatRoomMessage__avatarContainer">
    <minds-avatar
      *ngIf="!isNextMessageFromSameSender"
      [object]="{ guid: senderGuid, type: 'user' }"
      [routerLink]="['/' + senderUsername]"
      (mouseup)="$event.which == 2 ? openSenderChannelInNewTab() : null"
      tabindex="0"
      [attr.aria-label]="senderName + 's channel'"
    ></minds-avatar>
  </div>
  <div
    class="m-chatRoomMessage__bubble"
    [ngClass]="{
      'm-chatRoomMessage__bubble--clickable': isNextMessageFromSameSender,
      'm-chatRoomMessage__bubble--hasRichEmbed': richEmbed,
      'm-chatRoomMessage__bubble--hasImage': !!image?.url
    }"
    throttledClick
    (throttledClick)="handleMessageClick()"
  >
    @if (image?.url) {
      <div
        class="m-chatRoomMessage__imageContainer"
        (click)="handleImageClick()"
      >
        <img
          [src]="image.url"
          class="m-chatRoomMessage__image"
          [ngStyle]="{
            aspectRatio:
              image?.height && image?.width ? image.width / image.height : 1
          }"
          [m-blurhash]="image.blurhash"
        />
      </div>
    } @else {
      <span
        *ngIf="plainText"
        class="m-chatRoomMessage__text"
        tabindex="0"
        (click)="handleMessageTextClick($event)"
        [innerHtml]="plainText | tags"
      ></span>
      <m-chatRoomMessage__richEmbed
        *ngIf="richEmbed"
        [thumbnailSrc]="richEmbed.thumbnailSrc"
        [title]="richEmbed.title"
        [url]="richEmbed.canonicalUrl ?? richEmbed.url"
        data-ref="data-minds-chat-room-message-rich-embed"
      ></m-chatRoomMessage__richEmbed>
    }
  </div>
  <ng-container *ngIf="!isFromLoggedInUser && messageEdge">
    <ng-container *ngTemplateOutlet="dropdownEllipsisTemplate"></ng-container>
  </ng-container>
</div>
<p
  *ngIf="
    timeCreatedUnix && (!isNextMessageFromSameSender || isManuallyExpanded)
  "
  class="m-chatRoomMessage__timestamp"
  [@.disabled]="!isNextMessageFromSameSender"
  [@growShrinkNoMarginShift]
>
  {{ timeCreatedUnix | chatDate: false }}
</p>

<ng-template #dropdownEllipsisTemplate>
  <m-chatRoomMessage__dropdown
    [messageEdge]="messageEdge"
    [hoverSourceElement]="elementRef"
    [isMessageOwner]="isFromLoggedInUser"
  ></m-chatRoomMessage__dropdown>
</ng-template>
