@import 'defaults';
@import 'themes';

.mdl-grid {
  padding-right: 48px;
  margin-bottom: -2px;
  margin-top: 16px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  @media screen and (max-width: $max-mobile) {
    padding-right: 24px;
  }
}

.m-governance--latest-row {
  display: flex;
  align-items: flex-start;
  flex: 1;
  height: 100%;
  width: 100%;
  position: relative;
  @media screen and (max-width: $max-mobile) {
    display: grid;
  }

  .m-pageLayout__pane--main {
    @media screen and (max-width: $max-mobile) {
      padding: 10px 20px 0px 20px;
    }
  }

  .m-governance-margins {
    flex: 1;
    @media screen and (max-width: $max-mobile) {
      margin-bottom: 15px;
    }
  }
}

.m-governance-button {
  border: 1px solid;
  padding: 8px 16px;
  margin-right: 22px;
  font-size: 16px;
  border-radius: 21px;
  min-width: 139px;
  text-align: center;
  cursor: pointer;
  @include m-theme() {
    border-color: themed($m-blue);
    background-color: themed($m-bgColor--primary);
    color: themed($m-textColor--primary);
  }
  &:not(:disabled) {
    &:hover {
      @include m-theme() {
        background-color: themed($m-bgColor--btnHover);
      }
    }
  }
  &:disabled {
    @include m-theme() {
      background-color: themed($m-bgColor--primary);
    }
    color: darkgray;
    cursor: default;
    @include m-theme() {
      border-color: themed($m-borderColor--primary);
    }
  }
}

.m-governance-button-icon {
  padding: 8px 16px;
  border: none;
  font-size: 16px;
  text-align: center;
  background: inherit;
  @include m-theme() {
    color: themed($m-textColor--primary);
  }
}

.m-governance--filter-type-title {
  @include m-theme() {
    color: themed($m-textColor--secondary);
  }
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.25px;
  margin-bottom: 14px;
  margin-top: 20px;
}
