@import "defaults";
@import "themes";

html, body {
  font-family: 'Roboto', Helvetica, sans-serif !important;
}

m-app {

  //width: 100%;
  //min-width: $min-mobile;
  //height: 100%;
  //display: flex;
  //flex-direction: column;
  //overflow: visible;
  //position: relative;

  .initial-loading{
    width:100%;
  }

  .m-initial-loading-centred {
    margin-top: 100px;
  }

  m-body {
    @include m-theme(){
      background-color: themed($m-body-bg);
    }
  //  display: inline-block;
  //  overflow:visible;
  //  flex-grow: 1;
  //  z-index: 1;
  //  margin-top: $layout-header-height;
  //  margin-left: $layout-sidebar-width;
  //  width: 100%;
  //
  // @media screen and (max-width: $min-tablet){
  //   margin-left:0;
  //  }
  }

  p {
    font-family: 'Roboto', Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  .mdl-card__title-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    overflow: visible;
    @include m-theme(){
      color: rgba(themed($m-black), 0.75);
    }

  }
  .mdl-card__supporting-text{
    font-family: 'Roboto';
  }
}

.m-page {
  display: flex;

  @media screen and (max-width: $max-mobile) {
    flex-direction: column;
    width: 100%;
    height: 100%;
    .m-page--main, .m-page__main {
      overflow: visible !important;
    }
    .m-page--sidebar, .m-page__sidebar {
      width: initial !important;
      min-width: 300px;
      padding: 16px !important;
      flex-grow: 0;
    }
  }

  &.m-page--wrapped {
    max-width: 1280px;
    margin: auto;
  }

  .m-page--main, .m-page__main {
    padding: 16px;
    flex: 1;
    overflow: auto;

    &.m-page--nested-main {
      padding: 8px;
    }
  }

  .m-page--sidebar, .m-page__sidebar {
    padding: 16px 0 16px 16px;
    width: 300px;
  }

  .m-page--sidebar--navigation--item {
    cursor: pointer;
    display: block;
    margin: 4px 0;
    border-radius: 3px;
    padding: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 13px;

    @include m-theme(){
      background-color: themed($m-white);
      border: 1px solid themed($m-grey-50);
    }

    &.m-page--sidebar--navigation--item-active {
      @include m-theme(){
        color: themed($m-blue);
      }
    }

    i, span {
      vertical-align: middle;
    }

    span {
      padding-left: 8px;
    }
  }

  .m-page--section {
    margin: 4px 8px 8px;
    padding: 16px 16px 24px;

    @include m-theme(){
      background-color: themed($m-white);
    }

    .m-page--section-button-bar {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 8px 0 24px;
      padding: 0 4px;

      h1 {
        flex-grow: 1;
        margin: 0;
        padding: 0;
        font-size: 24px;
        font-weight: 600;
        line-height: 1;
      }

      .m-page--section-button-bar--buttons {
        text-align: right;
      }
    }
  }
}

.m-table {
  border-radius: 6px;

  @include m-theme(){
    background-color: themed($m-white);
    border: 1px solid themed($m-grey-50);
  }

  thead {
    th {
      padding: 16px;
      text-align: left;
      font-size: 14px;
      font-weight: 600;

      @include m-theme(){
        color: themed($m-grey-800);
        border-bottom: 1px solid themed($m-grey-50);
      }

      &.m-table--numeric-cell {
        text-align: right;
      }

      i.material-icons {
        font-size: inherit;
        margin-left: 4px;
        vertical-align: middle;
        position: relative;
        top: -1px;
      }
    }
  }

  tbody {
    td {
      padding: 16px;
      text-align: left;
      font-size: 14px;
      font-weight: 600;

      @include m-theme(){
        color: themed($m-grey-600);
        border-bottom: 1px solid themed($m-grey-50);
      }

      &.m-table--numeric-cell {
        text-align: right;
      }

      &.m-table--link-cell {
        a {
          @include m-theme(){
            border-bottom: 1px dashed themed($m-grey-100);
          }
        }
      }
    }

    tr:last-child td {
      border-bottom: none;
    }
  }

  a {
    color: inherit !important;
    text-decoration: none;
  }
}

.m-form {
  margin: 0;
  padding: 0;

  > .m-form--field,
  > .m-form--fieldset {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  input[type=text],
  input[type=password],
  input[type=number],
  input[type=email],
  textarea {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
  }

  .m-form--field {
    .m-form--field-label {
      display: block;
      padding: 0 4px;
      margin-bottom: 8px;

      @include m-theme(){
        color: themed($m-grey-600);
      }

      span {
        text-align: left;
        font-size: 14px;
        font-weight: 600;
      }

      i.material-icons {
        font-size: inherit;
        margin-left: 4px;
        vertical-align: middle;
        position: relative;
        top: -1px;
      }
    }

    input[type=text],
    input[type=password],
    input[type=number],
    input[type=email] {
      appearance: none;
      width: calc(20em + 24px);
      max-width: 100%;
      padding: 8px 12px;
      border-radius: 16px;

      @include m-theme() {
        border: 1px solid themed($m-grey-50);
      }

      &:focus {
        outline: none;

        @include m-theme() {
          border-color: themed($m-blue);
          box-shadow: 0 0 3px 1px transparentize(themed($m-blue), 0.5);
        }
      }
    }

    .m-form--composite-input {
      input[type=text],
      input[type=password],
      input[type=number],
      input[type=email] {
        width: 10em;
        max-width: 100%;
      }

      span {
        margin-left: 8px;
        font-size: 12px;
        font-weight: 600;

        @include m-theme(){
          color: themed($m-grey-600);
        }
      }
    }

    .m-form--selector {
      display: inline-block;
      margin-right: 16px;
      height: auto;
      line-height: 1.2;
      text-transform: inherit;
      user-select: none;

      &:last-child {
        margin-right: 0;
      }

      input[type=radio],
      input[type=checkbox] {
        display: none;
      }
    }

    .m-form--read-only-value {
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      padding: 4px;
    }
  }

  .m-form--fieldset {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    > .m-form--field {
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }

      input[type=text],
      input[type=password],
      input[type=number],
      input[type=email] {
        width: 10em;
        max-width: 100%;
      }
    }
  }

  .m-form--spinner {
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
  }

  .m-form--error {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    font-weight: 300;

    @include m-theme(){
      color: themed($m-red);
    }
  }

  .m-date-selector--input {
    position: relative;

    i.material-icons {
      position: absolute;
      top: calc(50% + 1px);
      right: 5px;
      transform: translateY(-50%);

      @include m-theme(){
        color: themed($m-grey-600);
      }
    }
  }

  .m-form--edit-tag-badges {
    display: inline-block;
    min-width: 250px; // Tag selector width
  }

  .m-form--tag-badge {
    display: inline-block;
    margin-right: 0.35em;
    font-weight: 400;
  }
}

.m-error {
  margin: 8px;
  padding: 32px;
  font-weight: 300;

  @include m-theme(){
    color: themed($m-red);
    background-color: themed($m-white);
  }
}

.m-loader {
  width: 100% ;
  padding: 16px;
  text-align: center;
}
