@import 'defaults';
@import 'themes';
@import 'foundation/grid-values.scss';

html,
body {
  font-family: 'Jost', Helvetica, sans-serif !important;
}

m-app {
  //width: 100%;
  //min-width: $min-mobile;
  //height: 100%;
  //display: flex;
  //flex-direction: column;
  //overflow: visible;
  //position: relative;

  .initial-loading {
    width: 100%;
  }

  .m-initial-loading-centred {
    margin-top: 100px;
  }

  m-body {
    @include m-theme() {
      background-color: themed($m-bgColor--primary);
    }
  }

  p {
    font-family: 'Jost', Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  .mdl-card__title-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    overflow: visible;
    @include m-theme() {
      color: rgba(themed($m-black), 0.75);
    }
  }

  .mdl-card__supporting-text {
    font-family: 'Jost', Helvetica, sans-serif;
  }
}

.m-page {
  display: flex;

  @media screen and (max-width: $max-mobile) {
    flex-direction: column;
    width: 100%;
    height: 100%;
    .m-page--main,
    .m-page__main {
      overflow: visible !important;
    }
    .m-page--sidebar,
    .m-page__sidebar {
      width: initial !important;
      min-width: 300px;
      padding: 16px !important;
      flex-grow: 0;
    }
  }

  &.m-page--wrapped {
    max-width: 1280px;
    margin: auto;
  }

  .m-page--main,
  .m-page__main {
    padding: 16px;
    flex: 1;
    overflow: auto;
  }

  .m-page--sidebar,
  .m-page__sidebar {
    padding: 16px 0 16px 16px;
    width: 300px;
  }

  .m-page__goBack {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 8px;
    @include m-theme() {
      color: themed($m-grey-600);
    }
  }

  .m-page--sidebar--navigation--item {
    cursor: pointer;
    display: block;
    margin: 4px 0;
    border-radius: 3px;
    padding: 12px;
    text-transform: uppercase;
    letter-spacing: 0.011em;
    text-decoration: none;
    font-size: 13px;

    @include m-theme() {
      background-color: themed($m-bgColor--primary);
      border: 1px solid themed($m-borderColor--primary);
    }

    &.m-page--sidebar--navigation--item-active {
      @include m-theme() {
        color: themed($m-blue);
      }
    }

    i,
    span {
      vertical-align: middle;
    }

    span {
      padding-left: 8px;
    }
  }
}

.m-loader {
  width: 100%;
  padding: 16px;
  text-align: center;
}
