<div class="m-networkEnableBoost__toggleLabelContainer">
  <label
    class="m-networkEnableBoost__toggleLabel--primary"
    i18n="@@NETWORK_ADMIN__ENABLE_BOOST_TOGGLE__TITLE_LABEL"
    >Enable Boost</label
  >
  <label
    class="m-networkEnableBoost__toggleLabel--secondary"
    i18n="@@NETWORK_ADMIN__ENABLE_BOOST_TOGGLE__SUBTITLE_LABEL"
    >Enable people on your network to advertise and expand reach</label
  >
</div>
<m-toggle
  class="m-networkEnableBoost__toggle"
  [mModel]="enabledToggleState"
  (mModelChange)="onEnabledToggle($event)"
  leftValue="off"
  rightValue="on"
  offState="off"
></m-toggle>
