@import 'defaults.scss';

:host {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 490px;

  .m-networkEnableBoost__toggleLabelContainer {
    display: flex;
    flex-flow: column nowrap;
    gap: $spacing2;

    .m-networkEnableBoost__toggleLabel--primary {
      @include body3Bold;
    }

    .m-networkEnableBoost__toggleLabel--secondary {
      @include body3Medium;
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }
  }
}
