<h4
  class="m-networkAdminConsole__title"
  i18n="@@NETWORK_ADMIN_CONSOLE_MODERATION__MODERATION"
>
  Moderation
</h4>
<p
  class="m-networkAdminConsole__subtitle"
  i18n="@@NETWORK_ADMIN_CONSOLE_MODERATION__SUBTEXT"
>
  Use the moderation tab to keep an eye on content that people are posting on
  the network, update your community guidelines and control user bans.
</p>

<m-networkAdminConsole__nsfwToggle
  *ngIf="session.isAdmin()"
></m-networkAdminConsole__nsfwToggle>
<div class="m-tabs__container m-hideScrollbar">
  <div class="m-tabs__tab" *ngIf="permissions.canModerateContent()">
    <a
      [routerLink]="['./reports']"
      [routerLinkActive]="'m-tabs__tab--selected'"
      data-ref="network-admin-console-tab-reports"
      i18n="@@NETWORK_ADMIN_CONSOLE__TAB_REPORTS"
      >Reports</a
    >
  </div>
  <div
    class="m-tabs__tab"
    *ngIf="isBoostEnabled && permissions.canModerateContent()"
  >
    <a
      [routerLink]="['./boosts']"
      [routerLinkActive]="'m-tabs__tab--selected'"
      data-ref="network-admin-console-tab-boosts"
      i18n="@@NETWORK_ADMIN_CONSOLE__TAB_BOOSTS"
      >Boosts</a
    >
  </div>
  <div class="m-tabs__tab" *ngIf="permissions.canModerateContent()">
    <a
      [routerLink]="['./hashtags']"
      [routerLinkActive]="'m-tabs__tab--selected'"
      data-ref="network-admin-console-tab-hashtags"
      i18n="@@NETWORK_ADMIN_CONSOLE__TAB_HASHTAGS"
      >Hidden tags</a
    >
  </div>
  <div class="m-tabs__tab" *ngIf="session.isAdmin()">
    <a
      [routerLink]="['./community-guidelines']"
      [routerLinkActive]="'m-tabs__tab--selected'"
      data-ref="network-admin-console-tab-community-guidelines"
      i18n="@@NETWORK_ADMIN_CONSOLE__TAB_GUIDELINES"
      >Community guidelines</a
    >
  </div>
  <div class="m-tabs__tab" *ngIf="session.isAdmin()">
    <a
      [routerLink]="['./privacy-policy']"
      [routerLinkActive]="'m-tabs__tab--selected'"
      data-ref="network-admin-console-tab-privacy-policy"
      i18n="@@NETWORK_ADMIN_CONSOLE__TAB_PRIVACY_POLICY"
      >Privacy policy</a
    >
  </div>
  <div class="m-tabs__tab" *ngIf="session.isAdmin()">
    <a
      [routerLink]="['./terms-of-service']"
      [routerLinkActive]="'m-tabs__tab--selected'"
      data-ref="network-admin-console-tab-terms-of-service"
      i18n="@@NETWORK_ADMIN_CONSOLE__TAB_TERMS_OF_SERVICE"
      >Terms of service</a
    >
  </div>
</div>

<router-outlet></router-outlet>
