<div
  class="m-wire-channel--call-to-action"
  *ngIf="!channelV2Design && session.getLoggedInUser().guid != channel.guid"
>
  <button class="mdl-shadow--8dp" (click)="sendWire()">
    <i class="ion-icon ion-flash"></i>

    <span class="m-wire-channel--cta-label">
      <span i18n="@@WIRE__CHANNEL__WIRE_ME_ACTION">Wire me</span>
    </span>
  </button>
</div>

<div
  class="m-wire-channel--support"
  (click)="sendWire()"
  *ngIf="channelV2Design && session.getLoggedInUser().guid != channel.guid"
>
  <span i18n>Support {{ channel.username }}</span>
</div>

<m-wire-channel--overview
  [channel]="channel"
  *ngIf="!channelV2Design"
></m-wire-channel--overview>

<div *ngIf="shouldShow()" class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title" *ngIf="shouldShowTitle()">
    <h2 class="mdl-card__title-text" i18n="@@WIRE__CHANNEL__REWARDS_TITLE">
      Rewards
    </h2>

    <m-tooltip icon="help" i18n="@@WIRE__CHANNEL__REWARDS_TOOLTIP">
      You can configure rewards to give to your supporters in exchange for
      tokens
    </m-tooltip>

    <span
      *ngIf="session.getLoggedInUser().guid == channel.guid"
      class="m-wire-channel--edit-button"
      (click)="toggleEditing()"
    >
      <button class="material-icons" [hidden]="editing">edit</button>
      <button class="material-icons" [hidden]="!editing">done</button>
    </span>
  </div>

  <m-wire__subscriptionTiers
    [user]="channel"
    [editing]="editing"
  ></m-wire__subscriptionTiers>
</div>
