@import 'defaults.scss';

:host {
  z-index: 2;
  .m-activityModal__pager {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    position: absolute;
    margin-top: -22px;
    top: 50%;
    line-height: 1;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1) !important;

    @include m-theme() {
      color: rgba(themed($m-white-always), 0.7);
      text-shadow: 0 0 2px rgba(themed($m-black-always), 0.4);
    }

    &.m-activityModal__pager--previous {
      left: 0px;
    }

    &.m-activityModal__pager--next {
      right: 0px;
    }

    &:hover {
      transform: scale(1.2, 1.2);
      @include m-theme() {
        color: rgba(themed($m-white-always), 0.95);
      }
    }

    > i {
      transform: scale(1.3, 1.8);
    }
  }
}
