@import 'defaults.scss';

:host {
  padding: 0 !important;

  .m-networkAdminConsoleRolesUsers__editButton {
    margin: 0 $spacing4;
    .m-button.m-button--iconOnly i {
      font-size: $spacing4 !important;
    }
  }
}
