<div class="m-pageLayout__container">
  <div
    class="m-pageLayout__pane--main"
    m-pageLayout__pane="main"
    style="position: relative;"
  >
    <div class="m-groupsMemberships">
      <!-- ---------------  -->
      <!-- HEADER -->
      <!-- ---------------  -->
      <h2>Groups</h2>

      <ng-container *ngIf="!inProgress">
        <m-findGroupsButtons
          class="m-groupsMembershipsHeader__findGroupsButtons"
          *ngIf="hasGroups"
        ></m-findGroupsButtons>
        <m-feedNotice--noGroups *ngIf="!hasGroups"></m-feedNotice--noGroups>
      </ng-container>
      <!-- ---------------  -->
      <!-- BODY -->
      <!-- ---------------  -->
      <m-publisherRecommendations
        *ngIf="!inProgress"
        class="m-groupsMemberships__publisherRecommendations"
        location="groups-memberships"
        [dismissible]="false"
        publisherType="group"
        title="Recommended groups"
        [initialListSize]="recommendationsListSize"
      ></m-publisherRecommendations>
      <m-groupsMemberships__list
        listTitle="Groups you manage"
        [requestLimit]="managedGroupsLoaded ? 12 : 2"
        [useInfiniteScroll]="false"
        [membershipLevel]="groupMembershipLevel.MODERATOR"
        membershipLevelGte="true"
        (loaded)="managedGroupsLoaded = $event"
      ></m-groupsMemberships__list>
      <m-groupsMemberships__list
        listTitle="Groups you've joined"
        (hasGroups)="handleHasGroups($event)"
        (inProgress)="inProgress = $event"
      ></m-groupsMemberships__list>
      <!-- ---------------  -->
    </div>
  </div>
  <div class="m-groupsMemberships__sidebar" m-pageLayout__pane="right"></div>
</div>
