<m-boost-console-card
  *ngFor="let boost of boosts; let i = index"
  [boost]="boost"
  [ngClass]="{
    'm-border': activityV2Feature,
    'mdl-card': !activityV2Feature,
    'mdl-shadow--4dp': !activityV2Feature
  }"
></m-boost-console-card>

<div
  class="m-boost-console--empty"
  [hidden]="(boosts && boosts.length) || inProgress"
>
  <ng-container i18n="@@BOOST__CONSOLE__LIST__EMPTY_BOOSTS_PRE"
    >You have no boosted posts.</ng-container
  >
</div>

<infinite-scroll
  (load)="load()"
  [moreData]="moreData"
  [inProgress]="inProgress"
>
</infinite-scroll>
