@import 'defaults';

m-analytics {
  display: block;
  grid-area: content / span 2;
  min-width: 0;

  @include m-theme() {
    background-color: themed($m-white);
  }

  .m-analytics__content {
    max-width: 1280px;
    margin: 0 auto;
  }

  .m-analytics__list {
    display: flex;
    flex-direction: column;

    m-analytics__card {
      margin-bottom: 8px;
    }
  }
}

.m-grid m-analytics .m-analytics__content {
  margin: unset;
}
