<div class="m-skale__body">
  <div class="m-polygon__tabs">
    <div
      (click)="changeTab()"
      class="m-polygon__tab"
      [ngClass]="bridge ? 'm-polygon__active' : ''"
    >
      <span>Bridge</span>
    </div>
    <div
      (click)="changeTab()"
      class="m-polygon__tab"
      [ngClass]="!bridge ? 'm-polygon__active' : ''"
    >
      <span>Historic</span>
    </div>
  </div>

  <m-wallet__polygon-bridge *ngIf="bridge"></m-wallet__polygon-bridge>
  <m-wallet__polygon-historic *ngIf="!bridge"></m-wallet__polygon-historic>
</div>
