<m-topbar
  *ngIf="{
    isMinimalLightMode: isMinimalLightMode$ | async,
    isMinimalMode: isMinimalMode$ | async
  } as templateVars"
>
  <ng-container search>
    <m-search--bar
      [defaultSizes]="false"
      [borderedSuggestions]="
        templateVars.isMinimalLightMode || templateVars.isMinimalMode
      "
    ></m-search--bar>
  </ng-container>

  <ng-container icons *ngIf="session.isLoggedIn()">
    <ng-container *mIfTenant="false">
      <m-topbar__walletBalance
        *ngIf="!templateVars.isMinimalLightMode && !templateVars.isMinimalMode"
      ></m-topbar__walletBalance>
      <m-tooltip>
        <m-icon
          m-tooltip--anchor
          class="m-topbarWrapper__giftIcon"
          from="custom"
          iconId="gift"
          [sizeFactor]="1"
          rem="true"
          (click)="onGiftIconClick()"
        ></m-icon>
        Gifting
      </m-tooltip>
    </ng-container>
    <m-notifications--topbar-toggle></m-notifications--topbar-toggle>
  </ng-container>
</m-topbar>
