<m-modal
  [open]="open"
  [allowClose]="true"
  (closed)="onClose($event)"
  (click)="$event.stopPropagation()"
>
  <div class="m-modal-voters__wrapper">
    <h3 class="m-modal-voters__title">{{ title | titlecase }}</h3>

    <m-loadingSpinner
      [inProgress]="service.inProgress$ | async"
    ></m-loadingSpinner>
    <div class="m-modal-voters__list" *ngIf="voters.length > 0">
      <a
        [routerLink]="['/', voter.username]"
        (click)="close()"
        class="m-modal-voters__item"
        *ngFor="let voter of voters"
      >
        <img
          class="m-modal-voters__item__avatar"
          [src]="getAvatarUrl(voter.guid, voter.icontime)"
        />
        <div>{{ voter.username }}</div>
      </a>
    </div>

    <div class="m-modal-voters__plus-more">
      {{ moreCount }}
    </div>
  </div>
</m-modal>
