m-modal-voters {
  .m-modal-voters__wrapper {
    margin-top: 72px;
    overflow: auto;
    height: 500px;
  }

  .m-modal-voters__title {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 28px;
    padding: $minds-padding * 2 $minds-padding * 4;
    font-weight: bold;
    margin: 0;

    @include m-theme() {
      background-color: themed($m-bgColor--secondary);
    }
  }

  .m-modal-voters__list {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .m-modal-voters__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: $minds-padding $minds-padding * 4;
      text-decoration: none;

      @include m-theme() {
        border-top: 1px solid themed($m-borderColor--tertiary);
      }

      &:hover {
        @include m-theme() {
          background-color: themed($m-bgColor--primary);
        }
      }

      .m-modal-voters__item__avatar {
        border-radius: 100%;
        margin-right: $minds-margin * 2;
      }
    }
  }

  .m-modal-voters__plus-more {
    padding: $minds-padding * 2;
    text-align: center;

    @include m-theme() {
      color: themed($m-textColor--tertiary);
    }
  }
}
