<section class="m-homepage--hero">

  <div class="m-homepage--hero--video">
    <video autoplay muted loop *ngIf="!videoError; else fallback">
      <source [src]="minds.cdn_assets_url + 'assets/videos/what-1/what-1.mp4'" type="video/mp4" (error)="onSourceError()">
    </video>
    <ng-template #fallback>
      <img [src]="minds.cdn_assets_url + 'assets/videos/what-1/what-1.jpg'">
    </ng-template>
  </div>

  <div class="m-homepage--hero--inner">
  
    <div class="m-homepage--hero--overlay"></div>

    <div class="m-homepage--hero--slogans">
      <h1 i18n="@@M__SOCIAL_NETWORK_SLOGAN">The crypto social network</h1>
      <h3 i18n="@@MINDS__HOME__HOMEPAGE__LAUNCH_CTA">
        We are an open source and decentralized platform 
        for Internet freedom. Get paid in crypto for your contributions
        to the community.
      </h3>
    </div>

    <div class="m-homepage--signup" [hidden]="session.isLoggedIn()">
      <minds-form-register (done)="registered()"></minds-form-register>
    </div>

  </div>

</section>

<section class="m-homepage--section" style="background-color: #FFF">
  <h1 class="" i18n="@@MINDS__HOME__HOMEPAGE__ECONOMY_TITLE">How the economy works</h1>

  <div class="m-homepage--section--subsection m-homepage--section--subsection--first"> 
    <div class="m-homepage--section--subsection-container">
      <div class="m-homepage--section--subsection-left m-homepage--section--subsection-image">
        <img [src]="minds.cdn_assets_url + 'assets/screenshots/post.jpg'" />
      </div>
      <div class="m-homepage--section--subsection-right m-homepage--section--subsection-text">
        <h5>Newsfeed</h5>
        <h2>Contribute</h2>
        <p>
            Create popular original content that receives upvotes, comments and reminds.
            Gain new subscribers.
            Refer your friends.
            Check-in.
            Develop code.  
        </p>
      </div>
    </div>
  </div>

  <div class="m-homepage--section--subsection" style="background-color: #f8f8f8">
    <div class="m-homepage--section--subsection-container">
      <div class="m-homepage--section--subsection-left m-homepage--section--subsection-text">
        <h5>Rewards</h5>
        <h2>Earn Crypto</h2>
        <p>
            Each day we measure your contribution relative to the community.
            Your percentage determines your share of the Daily Reward Pool of tokens.
        </p>
      </div>
      <div class="m-homepage--section--subsection-right m-homepage--section--subsection-image">
        <img [src]="minds.cdn_assets_url + 'assets/screenshots/wallet.jpg'" />
      </div>
    </div>
  </div>

  <div class="m-homepage--section--subsection">
    <div class="m-homepage--section--subsection-container">
      <div class="m-homepage--section--subsection-left m-homepage--section--subsection-image">
        <img [src]="minds.cdn_assets_url + 'assets/screenshots/boost.jpg'" />
      </div>
      <div class="m-homepage--section--subsection-right m-homepage--section--subsection-text">
        <h5>Boost</h5>
        <h2>Get Views</h2>
        <p>
            Exchange your tokens for views on your content and increase your chances of earning rewards.
            The Boost ad network is fully transparent without any unwanted surveillance.
            No algorithms.
            100% organic reach.
        </p>
      </div>
    </div>
  </div>

  <div class="m-homepage--section--subsection" style="background-color: #f8f8f8">
    <div class="m-homepage--section--subsection-container">
      <div class="m-homepage--section--subsection-left m-homepage--section--subsection-text">
        <h5>Wire</h5>
        <h2>Sell Digital Services</h2>
        <p>
          Earn tokens by selling exclusive digital content with custom rewards to your supporters.
          The Wire peer-to-peer payment system is fully autonomous on the blockchain.
        </p>
      </div>
      <div class="m-homepage--section--subsection-right m-homepage--section--subsection-image">
        <img [src]="minds.cdn_assets_url + 'assets/screenshots/wire.jpg'" />
      </div>
    </div>
  </div>

  <div class="m-homepage--section--subsection">
    <div class="m-homepage--section--subsection-container">
      <div class="m-homepage--section--subsection-left m-homepage--section--subsection-image">
        <img [src]="minds.cdn_assets_url + 'assets/screenshots/wire-send.jpg'" />
      </div>
      <div class="m-homepage--section--subsection-right m-homepage--section--subsection-text">
        <h5>Wire</h5>
        <h2>Support Creators</h2>
        <p>
          Send your tokens to your favorite channels as a tip for quality content or to subscribe to their exclusive content and rewards.
        </p>
      </div>
    </div>
  </div>

</section>

<section class="m-homepage--section m-homepage" style="padding-top:0">
  
  <div class="m-homepage--section--grid">
    <h2 style="text-align: center; width: 100%" i18n="@@MINDS__HOME__HOMEPAGE__ECONOMY_TITLE">Our core principles</h2>
  </div>

  <div class="m-homepage--section--grid">
    <div class="m-homepage--section--grid-col">
      <i class="material-icons">language</i>
      <h4 class="">
        Nonpartisan (r)evolution of ideas and <b>global consciousness</b>
      </h4>
    </div>
    <div class="m-homepage--section--grid-col">
      <i class="material-icons">record_voice_over</i>
      <h4 class="">
        <b>Real world solutions</b> with free speech,
          co-ownership and open discourse
      </h4>
    </div>
    <div class="m-homepage--section--grid-col">
      <i class="material-icons">favorite</i>
      <h4 class="">
        Privacy and transparency with encryption and
        <b>open source software</b>
      </h4>
    </div>
  </div>

</section>

<span style="width: 100%; height: 1px; background: #DEDEDE; display: block;"></span>

<div class="mdl-grid mdl-grid--no-spacing m-homepage--stream">

    <h4 class="mdl-color-text--blue-grey-200 mdl-cell--12-col">Featured Posts</h4>
    <section class="mdl-cell mdl-cell--4-col">
      <minds-activity [object]="activity"  *ngFor="let activity of stream[1]"></minds-activity>
    </section>

    <section class="mdl-cell mdl-cell--4-col">
      <minds-activity [object]="activity"  *ngFor="let activity of stream[2]"></minds-activity>
    </section>

    <section class="mdl-cell mdl-cell--4-col">
      <minds-activity [object]="activity"  *ngFor="let activity of stream[3]"></minds-activity>
    </section>

    <div [hidden]="!inProgress" style="width:100%; text-align:center; ">
      <div class="mdl-spinner mdl-js-spinner is-active" [mdl] style="margin: 16px auto;"></div>
    </div>

    <div class="m-homepage--fader" [hidden]="inProgress" *ngIf="false">
      <div class="m-homepage--fader--load-more" (click)="loadStream()" i18n="@@MINDS__HOME__HOMEPAGE__SEE_MORE_ACTION">Click To See more</div>
    </div>
</div>


<div class="mdl-grid mdl-grid--no-spacing m-homepage--footer">

    <section class="mdl-cell mdl-cell--12-col m-footer">
      <img [src]="minds.cdn_assets_url + 'assets/logos/logo.svg'" />
      <ul class="m-footer-nav m-footer-nav-inline">
        <li *ngFor="let page of navigation.getItems('footer')" class="m-footer-nav-item ">
          <a *ngIf="page.path && page.path.indexOf('p/') > -1" [routerLink]="[page.path]">{{page.title}}</a>
          <a *ngIf="page.path.indexOf('p/') < 0" [href]="page.path" target="_blank">{{page.title}}</a>
        </li>
      </ul>
      <span class="copyright" i18n="@@M__COMMON__COPYRIGHT_2017">&#169; Minds 2018</span>
    </section>

</div>
