@import 'defaults';

m-homepage {
  m-marketing {
    margin-top: -52px;
    padding-top: 52px;
  }

  .m-marketing__main {
    &.m-marketing__section--style-2 {
      .m-marketing__wrapper {
        @media screen and (min-width: $max-mobile) and (max-width: $m-grid-min-vp) {
          padding: 72px 0 0;
        }
        @media screen and (max-width: $max-mobile) {
          padding: 0;
        }

        .m-marketing__body {
          &::before {
            transform: translate(311px, -123px);
            clip-path: polygon(57% 0, 100% 0, 100% 15%, 15% 90%);
            bottom: -80px;

            @include m-theme() {
              background: themed($m-amber-medium);
            }
          }

          .m-homepage__joinButton {
            margin: 60px 0;
            @include m-theme() {
              background: themed($m-aqua);
              border-color: themed($m-aqua) !important;
            }

            &.m-homepage__joinButton--first {
              margin: 0 0 175px;
            }
          }

          &::after {
            content: '';
            clip-path: polygon(0 46%, 100% 0, 100% 100%, 0 100%);
            background: #f5f6ff;

            position: absolute;
            bottom: -10px;
            left: -140px;
            height: 202px;
            right: -600px;

            z-index: -2;
          }

          @media screen and (max-width: $max-mobile) {
            &::before {
              transform: translate(153px, 212px);
              clip-path: polygon(69% 0, 100% 0, 100% 28%, 0 90%);
            }

            &::after {
              left: 0;
              right: 0;
              bottom: -626px;
              bottom: -698px;
            }
          }
        }
      }

      .m-homepage__registerForm {
        display: block;
        filter: drop-shadow(-1px 0px 8px rgba(50, 50, 0, 0.5));

        minds-form-register {
          display: block;
          background-color: #fcfcfc;

          padding: 50px 37px;

          clip-path: polygon(0 0, 100% 8px, 99.99% 99%, 0% 100%);

          h3 {
            font-size: 24px;
            line-height: 32px;
            font-weight: bold;
          }

          .mdl-cell {
            margin: 0;
            padding-bottom: 14px;
          }

          form {
            background: transparent !important;

            .mdl-card__supporting-text {
              overflow: visible;
            }

            input:not([type='checkbox']) {
              padding: 10px 15px;
              height: 37px;
              font-weight: normal;
            }
          }

          span,
          label {
            font-size: 14px;
            line-height: 19px;
          }

          label.mdl-checkbox {
            display: flex;
            align-items: center;
            padding-top: 0;
            margin-bottom: 33px;
          }

          .mdl-card__actions {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 14px;
            padding: 0;

            & > *:not(button) {
              color: #4a4a4a !important;
            }

            a {
              color: #4a90e2;
            }

            button {
              align-self: flex-end;
              @include m-theme() {
                background-color: themed($m-aqua);
              }
            }
          }
        }

        @media screen and (max-width: $max-mobile) {
          margin: 30px 26px 50px;
          &::before {
            content: '';
            display: block;
            position: absolute;
            width: 393px;
            height: 193px;
            top: -66px;
            //bottom: 190px;
            left: -144px;
            transform: translate(45px, 32px);
            background: url('<%= APP_CDN %>/assets/marketing/deco_2-straight.svg')
              no-repeat;
            z-index: -1;
          }

          minds-form-register {
            padding: 48px 25px;
          }
        }

        @media screen and (min-width: $max-mobile) and (max-width: 760px) {
          minds-form-register {
            padding: 40px 20px;
          }
        }
      }
    }

    .m-homepage__spacer {
      margin-bottom: 60px;
    }

    .m-marketing__image {
      margin: 0 auto;

      span {
        &::before {
          content: initial !important;
        }

        &.m-homepage__cellphone {
          filter: drop-shadow(-1px 0px 8px rgba(50, 50, 0, 0.5));
          clip-path: none;

          @media screen and (max-width: $max-mobile) {
            &::before {
              content: '' !important;
              display: block;
              position: absolute;
              width: 393px;
              height: 193px;
              top: -70px;
              //bottom: 190px;
              left: -144px;
              transform: translate(45px, 32px);
              background: url('<%= APP_CDN %>/assets/marketing/deco_2-straight.svg')
                no-repeat;
              z-index: -1;
            }
          }

          & > img {
            //box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
            height: auto !important;
            object-fit: initial !important;

            max-width: 333px;
            min-width: 250px;
            width: 100%;
            clip-path: none;

            @media screen and (min-width: $min-tablet) {
              transform: translateY(-25px);
            }
            @media screen and (max-width: $max-mobile) {
              min-width: 333px;
            }
          }
        }
      }
    }
  }

  .m-homepage__appButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    //width: 50%;

    margin-top: 50px;

    & > a:first-child {
      margin-right: 5%;
    }

    @media screen and(max-width: $max-mobile) {
      width: 100%;
      & > a:not(:first-child) {
        margin-left: 18px;
        justify-content: initial;
      }
    }

    & > a {
      width: 120px;
      height: 37px;

      img {
        width: 100%;
        min-width: 100px;
      }
    }
  }

  .m-homepage__yellowLine {
    display: inline-block;
    width: 55px;
    height: 5px;
    margin-bottom: 3px;
    @include m-theme() {
      background-color: themed($m-amber-medium);
    }
  }

  .m-homepage__joinMindsNow {
    max-width: 90%;

    @media screen and (max-width: $max-mobile) {
      max-width: 100%;
    }
  }

  .m-homepage__quotation {
    margin-top: 116px;
    margin-bottom: 161px;
  }

  .m-marketing__asFeaturedIn {
    margin-top: 45px;
  }

  h1,
  h2,
  h3:not(.m-marketingTitle__centered),
  .m-marketing__description {
    text-align: left !important;
  }

  @media screen and(max-width: $max-mobile) {
    display: block;
    margin-top: 55px;
    h1.m-homepage__minds {
      margin-top: 100px;
    }
  }
}
