<section class="m-homepage--hero">

  <div class="m-homepage--hero--inner">
  
    <div class="m-homepage--hero--overlay"></div>

    <div class="m-homepage--hero--slogans">
      <h1 i18n="@@M__SOCIAL_NETWORK_SLOGAN">Minds, the blockchain social network</h1>
      <h3 i18n="@@MINDS__HOME__HOMEPAGE__LAUNCH_CTA">
        We are an open source and decentralized platform 
        for Internet freedom. Get paid in crypto for your contributions
        to the community.
      </h3>
    </div>

    <div class="m-homepage--signup" [hidden]="session.isLoggedIn()">
      <minds-form-register (done)="registered()"></minds-form-register>
    </div>

  </div>

</section>

<section class="m-homepage--section  m-homepage--section-margin" style="padding-top:100px; text-align: left">
  <h2 class="mdl-color-text--blue-grey-800 m-hompeage--wide-letters" i18n="@@MINDS__HOME__HOMEPAGE__AUDIENCE">
    Artists. Musicians. Writers. Brands. 
    Comedians. Gamers. Academics. 
    Models. Activists. Technologists.
    Misfits. Athletes. Entertainers.
      Designers. Visionaries. Public Figures.  
    Thought Leaders. <b>YOU</b>.
  </h2>
</section>
 
<!--<section class="m-homepage--section" style="padding-top:36px">
  <div class="mdl-grid m-homepage--section--icons">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
      <a href="https://minds.org" target="_blank">
        <i class="material-icons mdl-color-text--blue-grey-800">code</i>
        <label i18n="@@MINDS__HOME__HOMEPAGE__OPEN_SOURCE_ITEM">Open Source</label>
      </a>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
      <a href="https://www.minds.com/blog/view/385014724078604288" target="_blank">
        <i class="material-icons mdl-color-text--blue-grey-800">enhanced_encryption</i>
        <label i18n="@@MINDS__HOME__HOMEPAGE__ENCRYPTION_ITEM">Encryption</label>
      </a>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
      <i class="material-icons mdl-color-text--blue-grey-800">speaker_notes</i>
      <label i18n="@@MINDS__HOME__HOMEPAGE__FREE_SPECH_ITEM">Free Speech</label>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
      <a href="https://wefunder.com/minds" target="_blank">
        <i class="material-icons mdl-color-text--blue-grey-800">people</i>
        <label i18n="@@MINDS__HOME__HOMEPAGE__COMMUNITY_OWNED_ITEM">Community Owned</label>
      </a>
    </div>
  </div>
</section>-->

<!--<section class="m-homepage--section m-homepage--features">
  <div class="mdl-grid mdl-color-text--blue-grey-300">
    <div class="mdl-cell mdl-cell--1-col">
      <i class="material-icons">timeline</i>
      <h3 i18n="@@M__FEATURE__NEWSFEED">Newsfeed</h3>
    </div>
    <div class="mdl-cell mdl-cell--1-col">
      <i class="material-icons">person_pin</i>
      <h3 i18n="@@M__FEATURE__CHANNEL__PLURAL">Channels</h3>
    </div>
    <div class="mdl-cell mdl-cell--1-col">
      <i class="material-icons">thumbs_up_down</i>
      <h3 i18n="@@MINDS__HOME__HOMEPAGE__VOTE_ITEM">Vote</h3>
    </div>
    <div class="mdl-cell mdl-cell--1-col">
      <i class="material-icons">comment</i>
      <h3 i18n="@@MINDS__HOME__HOMEPAGE__COMMENT_ITEM">Comment</h3>
    </div>
    <div class="mdl-cell mdl-cell--1-col">
      <i class="material-icons">file_upload</i>
      <h3 i18n="@@M__ACTION__UPLOAD">Upload</h3>
    </div>
    <div class="mdl-cell mdl-cell--1-col">
      <i class="material-icons">subject</i>
      <h3 i18n="@@MINDS__HOME__HOMEPAGE__BLOG_ITEM">Blog</h3>
    </div>
    <div class="mdl-cell mdl-cell--1-col">
      <i class="material-icons">chat_bubble</i>
      <h3 i18n="@@MINDS__HOME__HOMEPAGE__CHAT_ITEM">Chat</h3>
    </div>
    <div class="mdl-cell mdl-cell--1-col">
      <i class="material-icons">group_work</i>
      <h3 i18n="@@M__FEATURE__GROUP__PLURAL">Groups</h3>
    </div>
    <div class="mdl-cell mdl-cell--1-col">
      <i class="material-icons">account_balance</i>
      <h3 i18n="@@MINDS__HOME__HOMEPAGE__WALLET_ITEM">Wallet</h3>
    </div>
  </div>

</section>-->

<section class="m-homepage--section" style="background-color: #FFF">
  <h1 class="" i18n="@@MINDS__HOME__HOMEPAGE__ECONOMY_TITLE">How the economy works</h1>

  <div class="m-homepage--section--subsection"> 
    <div class="m-homepage--section--subsection-container">
      <div class="m-homepage--section--subsection-left m-homepage--section--subsection-image">
        <img src="/assets/screenshots/post.jpg" />
      </div>
      <div class="m-homepage--section--subsection-right m-homepage--section--subsection-text">
        <h2>Contribute</h2>
        <p>
            Create popular original content that receives upvotes, comments and reminds.
            Gain new subscribers.
            Refer your friends.
            Check-in.
            Develop code.  
        </p>
      </div>
    </div>
  </div>

  <div class="m-homepage--section--subsection">
    <div class="m-homepage--section--subsection-container">
      <div class="m-homepage--section--subsection-left m-homepage--section--subsection-text">
        <h2>Earn Crypto</h2>
        <p>
            Each day we measure your contribution relative to the community.
            Your percentage determines your share of the Daily Reward Pool of tokens.
        </p>
      </div>
      <div class="m-homepage--section--subsection-right m-homepage--section--subsection-image">
        <img src="/assets/screenshots/wallet.jpg" />
      </div>
    </div>
  </div>

  <div class="m-homepage--section--subsection">
    <div class="m-homepage--section--subsection-container">
      <div class="m-homepage--section--subsection-left m-homepage--section--subsection-image">
        <img src="/assets/screenshots/boost.jpg" />
      </div>
      <div class="m-homepage--section--subsection-right m-homepage--section--subsection-text">
        <h2>Get Views</h2>
        <p>
            Exchange your tokens for views on your content and increase your chances of earning rewards.
            The Boost ad network is fully transparent without any unwanted surveillance.
            No algorithms.
            100% organic reach.
        </p>
      </div>
    </div>
  </div>

  <div class="m-homepage--section--subsection" style="background-color: #f8f8f8">
    <div class="m-homepage--section--subsection-container">
      <div class="m-homepage--section--subsection-left m-homepage--section--subsection-text">
        <h2>Sell Digital Services</h2>
        <p>
            Earn tokens on a one-time or recurring basis from selling exclusive digital content or premium subscriptions with custom rewards to your supporters.
            The Wire peer-to-peer payment system is fully autonomous on the blockchain.
        </p>
      </div>
      <div class="m-homepage--section--subsection-right m-homepage--section--subsection-image">
        <img src="/assets/screenshots/wire.jpg" />
      </div>
    </div>
  </div>

  <div class="m-homepage--section--subsection">
    <div class="m-homepage--section--subsection-container">
      <div class="m-homepage--section--subsection-left m-homepage--section--subsection-image">
        <img src="/assets/screenshots/wire-send.jpg" />
      </div>
      <div class="m-homepage--section--subsection-right m-homepage--section--subsection-text">
        <h2>Support Creators</h2>
        <p>
          Send your tokens to your favorite channels as a tip for quality content or to subscribe to their exlclusive content and rewards.
          Help them continue to do what they love. 
        </p>
      </div>
    </div>
  </div>

</section>

<span style="width: 100%; height: 1px; background: #DEDEDE; display: block;"></span>

<section class="m-homepage--section m-homepage--section--with-video">
  <h2 class="mdl-color-text--blue-grey-800" i18n="@@MINDS__HOME__HOMEPAGE__ECONOMY_TITLE">What we are building</h2>

  <div class="m-homepage--section--video--overlay">
    <div class="m-homepage--section--grid">
      <div class="m-homepage--section--grid-col">
        <h4 class="mdl-color-text--blue-grey-800">
          A nonpartisan (r)evolution of ideas and <b>global consciousness.</b>
        </h4>
      </div>
      <div class="m-homepage--section--grid-col">
        <h4 class="mdl-color-text--blue-grey-800">
            Transparency.
            Privacy. <b>Free speech.</b>
            Real world solutions.           
        </h4>
      </div>
      <div class="m-homepage--section--grid-col">
        <h4 class="mdl-color-text--blue-grey-800">
          Cooperate. <b>Question.</b>
          Respect. Coexist.
        </h4>
      </div>
    </div>
  </div>

  <div class="m-homepage--section--video">
    <video src="assets/videos/crowd-1/crowd-1.mp4" autoplay loop></video>
  </div>
</section>

<span style="width: 100%; height: 1px; background: #DEDEDE; display: block;"></span>

<div class="mdl-grid mdl-grid--no-spacing m-homepage--stream">

    <h4 class="mdl-color-text--blue-grey-200 mdl-cell--12-col">Featured Posts</h4>
    <section class="mdl-cell mdl-cell--4-col">
      <minds-activity [object]="activity"  *ngFor="let activity of stream[1]"></minds-activity>
    </section>

    <section class="mdl-cell mdl-cell--4-col">
      <minds-activity [object]="activity"  *ngFor="let activity of stream[2]"></minds-activity>
    </section>

    <section class="mdl-cell mdl-cell--4-col">
      <minds-activity [object]="activity"  *ngFor="let activity of stream[3]"></minds-activity>
    </section>

    <div [hidden]="!inProgress" style="width:100%; text-align:center; ">
      <div class="mdl-spinner mdl-js-spinner is-active" [mdl] style="margin: 16px auto;"></div>
    </div>

    <div class="m-homepage--fader" [hidden]="inProgress" *ngIf="false">
      <div class="m-homepage--fader--load-more" (click)="loadStream()" i18n="@@MINDS__HOME__HOMEPAGE__SEE_MORE_ACTION">Click To See more</div>
    </div>
</div>


<div class="mdl-grid mdl-grid--no-spacing m-homepage--footer">

    <section class="mdl-cell mdl-cell--12-col m-footer mdl-color--blue-grey-900">
      <ul class="m-footer-nav m-footer-nav-inline">
        <li *ngFor="let page of navigation.getItems('footer')" class="m-footer-nav-item ">
          <a *ngIf="page.path && page.path.indexOf('p/') > -1" [routerLink]="[page.path]" class="mdl-color-text--blue-grey-100">{{page.title}}</a>
          <a *ngIf="page.path.indexOf('p/') < 0" [href]="page.path" target="_blank" class="mdl-color-text--blue-grey-100">{{page.title}}</a>
        </li>
      </ul>
      <span class="copyright mdl-color-text--blue-grey-700" i18n="@@M__COMMON__COPYRIGHT_2017">&#169; Minds 2017</span>
    </section>

</div>
