@import 'themes';

m-pro--channel {
  --m-pro--primary-color: #4690df;
  --m-pro--plain-background-color: #ffffff;
  --m-pro--transparent-background-color: #ffffffa0;
  --m-pro--more-transparent-background-color: #ffffff50;
  --m-pro--text-color: #000000;
  --m-pro--tile-ratio: 56.25%;

  display: block;
  background: none no-repeat center fixed;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: var(--m-pro--more-transparent-background-color) !important;
  grid-area: content / span 2;

  &.m-pro-channel--plainBackground {
    background-blend-mode: initial;
    background-color: var(--m-pro--plain-background-color) !important;
  }

  @media screen and (min-width: ($min-tablet + 1px)) {
    m-pro__hamburger-menu {
      display: none;
    }

    .m-proChannelList__title {
      display: none;
    }
  }

  minds-textarea {
    // background-color: var(--m-pro--transparent-background-color) !important;
  }

  .m-blog-view m-blog-view.m-blog {
    color: var(--m-pro--text-color);
    background-color: var(--m-pro--transparent-background-color) !important;

    .minds-blog-body > p,
    p,
    a,
    i.material-icons,
    span {
      color: var(--m-pro--text-color);
    }

    minds-button-boost > button {
      color: var(--m-pro--primary-color);
      border-color: var(--m-pro--primary-color);
    }

    .blogs-grid {
      background-color: transparent !important;
    }
  }

  &.m-overlay-modal--shown {
    m-overlay-modal {
      position: fixed;
      z-index: 9999990;
    }
  }

  minds-button-boost {
    display: none !important;
  }

  m-modal-signup {
    m-modal {
      z-index: 9999999;

      .m-modal-container .mdl-card {
        background-color: var(--m-pro--transparent-background-color);
        color: var(--m-pro--text-color);

        .m-modal-signup-apps {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: $max-mobile) {
  .m-pro__channel {
    .m-proChannelTopbar__searchBox {
      display: none;
    }

    .m-proChannel__body {
      margin-top: 10px;
    }
  }
}

.m-pro__channel {
  max-width: 1382px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: repeat(12, 1fr);
  //min-height: calc(100vh - 52px); /* 52px is the topbar height */
  min-height: 100%;

  .is-pro-domain & {
    min-height: 100vh;
  }

  .m-proChannel__topbar {
    width: 100%;
    box-sizing: border-box;

    grid-row: 1 / span 1;
    grid-column: 1 / span 12;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 32px;

    minds-avatar {
      width: 90px;
      height: 90px;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
    }

    .m-proChannelTopbar__logo {
      max-width: 200px;
      max-height: 100%;
      cursor: pointer;
      object-fit: contain;
    }

    .m-proChannelTopbar__logo:focus {
      outline: none;
    }

    & > * {
      padding: 0 16px 0 0;
    }

    .m-proChannelTopbar__searchBox {
      margin: 0 16px;

      @media screen and (max-width: 1081px) {
        flex-grow: 1;
        max-width: 300px;
      }
    }

    .m-btn:disabled {
      padding-left: 16px;
      color: gray !important;
      border: gray !important;
    }
  }

  a.m-proChannelTopbar__navItem {
    cursor: pointer;
    text-decoration: none;
    padding: 8px;
    font-size: 13px;

    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .m-proChannel__body {
    grid-row: 2 / span 1;
    grid-column: 1 / span 12;
    padding: 0 16px;

    @media screen and (max-width: $max-mobile) {
      grid-row: 2 / span 2;
      margin-bottom: 24px;
    }

    & > m-blog-view-infinite,
    m-blog-view {
      background-color: transparent !important;
    }

    .m-proChannel__error {
      width: 100%;
      display: inline-block;
      margin: 16px 0;
      padding: 17px 8px;
      font-size: 24px;
      text-align: center;
      text-transform: uppercase;
      background: var(--m-pro--transparent-background-color);

      @include m-theme() {
        color: themed($m-red);
      }
    }
  }

  .m-proChannel__footer {
    grid-row: 4 / span 1;
    grid-column: 2 / span 10;
    width: 80%;
    margin: 0 auto;

    @media screen and (max-width: $min-tablet) {
      display: none;
    }
  }

  m-pro--channel h1 {
    font-size: 70px;
    font-weight: bold;
  }

  .m-proChannel__topbar .minds-avatar {
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
  }

  // colors
  a.active,
  a:hover {
    color: var(--m-pro--primary-color) !important;
  }

  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: var(--m-pro--text-color) !important;
  }
}

.m-overlayModal--unsubscribe {
  width: 600px;

  @media screen and (max-width: 660px) {
    width: 400px;
  }

  @media screen and (max-width: 420px) {
    width: 250px;
  }

  .m-overlay-modal--close {
    display: none;
  }
}
