m-pro--channel {
  display: block;
  background: none no-repeat center fixed;
  background-size: cover;

  --primary-color: #4690D6;
  --plain-background-color: rgba(0, 0, 0, 0.7);
  --text-color: #fff;
}

.m-pro--channel {
  max-width: 1296px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(2, 100px) 1fr;
  grid-template-columns: repeat(12, 1fr);
  min-height: 100%;

  .m-proChannel__topbar {
    grid-row: 1 / span 1;
    grid-column: 1 / span 12;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 32px;

    .m-proChannelTopbar__logo {
      max-height: 100%;
      cursor: pointer;
    }

    & > * {
      padding: 0 16px 0 0;
    }

    .m-proChannelTopbar__SearchBox {
      margin: 0 16px;
    
      @media screen and (max-width: 1081px) {
        flex-grow: 1;
        max-width: 300px;
      }

      div.mdl-textfield.mdl-js-textfield {
        width: 100%;
        transition: width ease-in-out .2s;
        padding: 8px 0;

        i {
          position: absolute;
          margin: 6px;
          font-size: 20px;
          color: rgba(0,0,0,.87)!important;
        }
  
        input {
          height: 32px;
          border-radius: 18px;
          font-family: Roboto,sans-serif;
          font-size: 14px;
          letter-spacing: .5px;
          font-weight: 600;
          text-rendering: optimizeLegibility;
          -webkit-font-smoothing: antialiased;
          padding: 8px 8px 8px 32px;
          box-sizing: border-box;
        }

        label {
          display: none;
        }
      }

      
    }
  }

  a {
    text-decoration: none;
    padding: 16px;
    font-size: 18px;
  }

  .m-proChannel__body {
    grid-row: 3 / span 1;
    grid-column: 1 / span 12;
    padding: 0 32px;
  }

  m-pro--channel h1 {
    font-size: 70px;
    font-weight: bold;
  }

  .minds-avatar {
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
  }

  // colors
  a.active, a:hover {
    color: var(--primary-color) !important;
  }

  a, h1, h2, h3, h4, h5, p, i {
    color: var(--text-color) !important;
  }
}

@media screen and (max-width: 480px) {

  .m-proChannelTopbar__SearchBox {
    display: none;
  }

}

.m-proChannel__footer {
  background-color: var(--plain-background-color) !important;
  height: fit-content;
}
