m-pro--channel {
  --primary-color: #4690df;
  --plain-background-color: #ffffff;
  --transparent-background-color: #ffffffa0;
  --text-color: #000000;

  display: block;
  background: none no-repeat center fixed;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: var(--transparent-background-color);
}

@media screen and (max-width: 480px) {
  .m-pro--channel {

    .m-proChannelTopbar__SearchBox {
      display: none;
    }

    .m-proChannel__categories {
      justify-content: start;
    }

    .m-proChannel__body {
      margin-top: 10px;
    }
  }

}

.m-pro--channel {
  max-width: 1296px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(2, 100px) 1fr 100px;
  grid-template-columns: repeat(12, 1fr);
  //min-height: calc(100vh - 52px); /* 52px is the topbar height */
  min-height: 100%;

  .m-proChannel__topbar {
    grid-row: 1 / span 1;
    grid-column: 1 / span 12;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 32px;

    .m-proChannelTopbar__logo {
      max-height: 100%;
      cursor: pointer;
    }

    .m-proChannelTopbar__logo:focus {
      outline: none;
    }

    & > * {
      padding: 0 16px 0 0;
    }

    .m-proChannelTopbar__SearchBox {
      margin: 0 16px;

      @media screen and (max-width: 1081px) {
        flex-grow: 1;
        max-width: 300px;
      }

      div.mdl-textfield.mdl-js-textfield {
        width: 100%;
        transition: width ease-in-out .2s;
        padding: 8px 0;

        i.search {
          position: absolute;
          margin: 6px;
          font-size: 20px;

          @include m-theme() {
            color: themed($m-black);
          }
        }

        i.clear {
          font-size: 16px;

          border-radius: 20px;
          cursor: pointer;
          position: absolute;
          top: 16px;
          right: 10px;

          @include m-theme() {
            color: themed($m-black);
          }
        }

        input {
          height: 32px;
          border-radius: 18px;
          font-family: Roboto, sans-serif;
          font-size: 14px;
          letter-spacing: .5px;
          font-weight: 600;
          text-rendering: optimizeLegibility;
          -webkit-font-smoothing: antialiased;
          padding: 8px 8px 8px 32px;
          box-sizing: border-box;
        }

        label {
          display: none;
        }
      }


    }

    .m-proChannelTopbar_menu.m-dropdown {
      display: inline-block;
      position: relative;
      cursor: pointer;
    
      @media screen and (min-width: 1000px) {
        display: none;
      }
      
      .m-proChannelTopbarMenu__dropdown {
        list-style: none;
        margin: 34px 0 0;
        @include m-theme() {
          background-color: themed('m-white');
          color: themed('m-grey-700');
        }
      
        li.proChannelTopbarMenuDropdown__item {
          &:hover {
            @include m-theme() {
              background-color: rgba(themed('m-grey-50'), 0.5);
            }
          }
      
          a {
            color: #555 !important;
          }
      
          i {
            color: #555 !important;
          }
        }
      }
    }

    .m-proChannelTopbar_subscribe {
      font-size: 12px;
      letter-spacing: 1.25px;
      box-shadow: none;
      text-transform: uppercase;
      padding: 8px 16px;
      padding-left: 16px;
      font-family: 'Roboto', Helvetica, sans-serif;
      cursor: pointer;
      color: var(--text-color);
      border: none;
      background-color: var(--plain-background-color);
      border-radius: 4px;
      height: 36px;

      span {
        margin-left: 4px;
      }
    }

    .m-btn:disabled {
      padding-left: 16px;
      color: gray !important;
      border: gray !important;
    }

  }

  a.m-proChannelTopbar__navItem {
    text-decoration: none;
    padding: 16px;
    font-size: 18px;

    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .m-proChannel__categories {
    grid-row: 2 / span 1;
    grid-column: 2 / span 10;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    .m-proChannel__category {
      cursor: pointer;
      color: var(--text-color);
      padding: 16px 16px 0;

      text-transform: uppercase;
      letter-spacing: 0.1em;

      &.m-proChannel__selectedCategory {
        color: var(--primary-color);
      }
    }
  }

  .m-proChannel__body {
    grid-row: 3 / span 1;
    grid-column: 1 / span 12;
    padding: 0 32px;
  }

  .m-proChannel__footer {
    grid-row: 4 / span 1;
    grid-column: 2 / span 10;
    width: 80%;
    margin: 0 auto;
  }

  m-pro--channel h1 {
    font-size: 70px;
    font-weight: bold;
  }

  .minds-avatar {
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
  }

  // colors
  a.active, a:hover {
    color: var(--primary-color) !important;
  }

  a, h1, h2, h3, h4, h5, p {
    color: var(--text-color) !important;
  }
}


