<div
  *ngIf="channel"
  class="m-pro--channel"
  [ngStyle]="{ 'background-image': 'url(' + channel.pro_settings.background_image + ')' }"
>
  <div class="m-proChannel__topbar">
    <img
      class="m-proChannelTopbar__logo"
      [src]="channel.pro_settings.logo_image"
    >

    <input type="search" placeholder="Search..." i18n>

    <a [routerLink]="['/pro', channel.username, 'videos']" routerLinkActive="active" i18n>Videos</a>
    <a [routerLink]="['/pro', channel.username, 'images']" routerLinkActive="active" i18n>Images</a>
    <a [routerLink]="['/pro', channel.username, 'articles']" routerLinkActive="active" i18n>Articles</a>
    <a [routerLink]="['/pro', channel.username, 'groups']" routerLinkActive="active" i18n>Groups</a>
    <a [routerLink]="['/pro', channel.username, 'feed']" routerLinkActive="active" i18n>Feed</a>
<!--    <a [routerLink]="['/pro', username, 'donate']" routerLinkActive="active">Donate</a>-->
<!--    <a [routerLink]="['/pro', username, 'signup']" routerLinkActive="active">Signup | Login</a>-->
  </div>

  <div class="m-proChannel__body">
    <router-outlet></router-outlet>
  </div>
</div>
