<div
  *ngIf="channel"
  class="m-pro--channel"
>
  <div class="m-proChannel__topbar">
    <img
      class="m-proChannelTopbar__logo"
      [src]="channel.pro_settings.logo_image"
      [routerLink]="['/pro', channel.username]"
    >

    <div class="m-proChannelTopbar__SearchBox">
      <div class="mdl-textfield mdl-js-textfield">
        <i class="material-icons search">search</i>
        <input
          [(ngModel)]="searchedText"
          id="search"
          autocomplete="off"
          class="mdl-textfield__input ng-pristine ng-valid ng-touched"
          type="text"
          (keyup.enter)="search()"
        >
        <ng-container *ngIf="searchedText">
          <i class="material-icons clear" (click)="clearSearch()" >close</i>
        </ng-container>
        <label class="mdl-textfield__label" for="search"></label>
      </div>
    </div>

    <ng-container *ngIf="!collapseNavItems">
<!--      <a
        class="m-proChannelTopbar__navItem"
        [routerLink]="['/pro', channel.username, 'feed']"
        [queryParams]="{algorithm: 'pro'}"
        routerLinkActive="active"
        i18n
      >Feed</a>-->
      <a
        class="m-proChannelTopbar__navItem"
        [routerLink]="linkTo('videos', searchedText)"
        routerLinkActive="active"
        i18n
      >Videos</a>
      <a
        class="m-proChannelTopbar__navItem"
        [routerLink]="linkTo('images', searchedText)"
        routerLinkActive="active"
        i18n
      >Images</a>
      <a
        class="m-proChannelTopbar__navItem"
        [routerLink]="linkTo('articles', searchedText)"
        routerLinkActive="active"
        i18n
      >Articles</a>
      <a
        class="m-proChannelTopbar__navItem"
        [routerLink]="linkTo('groups', query)"
        routerLinkActive="active"
        i18n
      >Groups</a>
      <a
        class="m-proChannelTopbar__navItem"
        [routerLink]="['/pro', channel.username, 'donate']"
        routerLinkActive="active"
        i18n
      >Donate</a>
      <a
        class="m-proChannelTopbar__navItem"
        [routerLink]="['/pro', channel.username, 'signup']"
        routerLinkActive="active"
        *ngIf="!currentUser"
        i18n
      >Signup / Login</a>
    </ng-container>

    <ng-container *ngIf="currentUser">
      <a [routerLink]="['/', channel.username]" routerLinkActive="active">
        <minds-avatar [object]="currentUser" [editMode]="false"></minds-avatar>
      </a>
    </ng-container>

    <m-pro-user-menu [channelName]="channel.username" [showNavItems]="collapseNavItems" [query]="searchedText"></m-pro-user-menu>
  </div>

  <div class="m-proChannel__body">
    <router-outlet></router-outlet>
  </div>

  <div class="m-proChannel__footer">
    <m-pro--channel-footer></m-pro--channel-footer>
  </div>
</div>
