<div class="m-tabs__container">
  <ng-container *ngIf="(isPlusPage$ | async) === false; else plusTabs">
    <div class="m-tabs__tab">
      <a
        routerLink="/discovery/top"
        [class.m-tabs__tab--selected]="isLinkActive('/discovery/top')"
        data-ref="discovery-tab-link-top"
        i18n="@@DISCOVERY_TAGS__TOP"
        >Top</a
      >
    </div>
    <div class="m-tabs__tab">
      <a
        routerLink="/discovery/overview"
        [class.m-tabs__tab--selected]="isLinkActive('/discovery/overview')"
        [queryParams]="{ reload: false }"
        data-ref="discovery-tab-link-overview"
        i18n="@@DISCOVERY_TAGS__JUST_FOR_YOU"
        >Just for you</a
      >
    </div>
    <div class="m-tabs__tab">
      <a
        routerLink="/discovery/tags/your"
        routerLinkActive="m-tabs__tab--selected"
        data-ref="discovery-tab-link-tags"
        i18n="@@DISCOVERY_TAGS__YOUR_TAGS"
        >Your tags</a
      >
    </div>
    <div class="m-tabs__tab">
      <a
        routerLink="/discovery/tags/trending"
        routerLinkActive="m-tabs__tab--selected"
        data-ref="discovery-tab-link-trending"
        i18n="@@DISCOVERY_TAGS__TRENDING"
        >Trending</a
      >
    </div>
    <!-- <div class="m-tabs__tab">
      <a
        routerLink="/discovery/memberships/feed"
        routerLinkActive="m-tabs__tab--selected"
        data-ref="discovery-tab-link-memberships"
        i18n="@@DISCOVERY_TAGS__MEMBERSHIPS"
        >Memberships</a
      >
    </div> -->
    <div class="m-tabs__tab">
      <a
        routerLink="/discovery/boost/feed"
        routerLinkActive="m-tabs__tab--selected"
        data-ref="discovery-tab-link-boosted"
        i18n="@@DISCOVERY_TAGS__BOOSTED"
        >Boost</a
      >
    </div>
    <div class="m-tabs__tab" *ngIf="isSupermindFeedAvailable()">
      <a
        routerLink="/discovery/supermind"
        routerLinkActive="m-tabs__tab--selected"
        data-ref="discovery-tab-link-boosted"
        i18n="@@DISCOVERY_TABS__SUPERMINDS"
        >Supermind</a
      >
    </div>
  </ng-container>
  <!-- MINDS+ TABS -------------------------------->
  <ng-template #plusTabs>
    <div class="m-tabs__tab">
      <a
        routerLink="/discovery/plus/overview"
        routerLinkActive="m-tabs__tab--selected"
        data-ref="discovery-tab-link-plus-overview"
        i18n="@@DISCOVERY_TAGS__JUST_FOR_YOU"
        >Just for you</a
      >
    </div>
    <div class="m-tabs__tab" *ngIf="session.getLoggedInUser()">
      <a
        routerLink="/discovery/plus/tags/your"
        routerLinkActive="m-tabs__tab--selected"
        data-ref="discovery-tab-link-tags"
        i18n="@@DISCOVERY_TAGS__YOUR_TAGS"
        >Your tags</a
      >
    </div>
    <div class="m-tabs__tab" *ngIf="session.getLoggedInUser()">
      <a
        routerLink="/discovery/plus/tags/trending"
        routerLinkActive="m-tabs__tab--selected"
        data-ref="discovery-tab-link-trending"
        i18n="@@DISCOVERY_TAGS__TRENDING"
        >Trending</a
      >
    </div>
    <div class="m-tabs__tab">
      <a
        routerLink="/discovery/plus/latest/feed"
        routerLinkActive="m-tabs__tab--selected"
        data-ref="discovery-tab-link-plus-latest"
        i18n="@@DISCOVERY_TABS__LATEST"
        >Latest</a
      >
    </div>
  </ng-template>
  <!-- SETTINGS COG -------------------------------->
  <div class="m-layout__spacer"></div>
  <m-discovery__settingsButton modalType="tags"></m-discovery__settingsButton>
</div>
