@import 'defaults';
@import 'margin';

:host {
  margin: auto;
  width: 100%;
  text-align: center;

  .m-sizeableLoadingSpinner__wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .m-sizeableLoadingSpinner__container {
      border-radius: 50%;
      width: var(--spinner-width);
      height: var(--spinner-height);
      box-shadow: 0 $m-boxShadowOffset $m-boxShadowBlur rgba(0, 0, 0, 0.05);
      @include m-theme() {
        background-color: themed($m-bgColor--primary);
      }

      .m-sizeableLoadingSpinner__inner {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        animation: spin 0.75s linear infinite;

        @include m-theme() {
          border: 4px solid themed($m-borderColor--primary);
          border-top: 4px solid themed($m-blue);
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
