<div class="m-token--onboarding--slide m-border">
  <div class="m-token--onboarding--column">
    <h2>
      Let's setup your wallet
    </h2>

    <p class="m-token--onboarding--subtext">
      Tokens are the cryptocurrency used on Minds. Your total balance of tokens
      will be stored in two different types of addresses:
    </p>

    <ul>
      <li>
        <i class="material-icons"> </i>
        <h4>
          OnChain
        </h4>
        <p>
          OnChain payments will be published to the public blockchain and
          require a small ETH gas fee. You can setup your own private keys or
          use a client such as MetaMask.
        </p>
      </li>
      <li>
        <i class="material-icons">donut_large</i>
        <h4>
          OffChain
        </h4>
        <p>
          OffChain payments will not be published to the blockchain and have
          spending limits. You will receive rewards into this address.
        </p>
      </li>
    </ul>
  </div>

  <div class="m-token--onboarding--column">
    <div class="m-token--onboarding--video m-border">
      <m-token--onboarding--video
        [src]="cdnAssetsUrl + 'assets/tutorials/wallet.480.mp4'"
      >
      </m-token--onboarding--video>
    </div>

    <div class="m-layout--row">
      <div class="m-layout--spacer"></div>
      <button class="m-btn m-btn--slim m-btn--action" (click)="next.next()">
        Next
      </button>
    </div>
  </div>
</div>
