m-composer__topbarButton {
  display: block;

  i {
    font-size: 1.75em;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  m-icon .m-icon__assetsFile {
    background: url('<%= APP_CDN %>/assets/icons/compose.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .m-tooltip--bubble {
    @media screen and (min-width: $max-mobile) {
      width: max-content;
    }
  }
}
