m-youtubeMigration {
  .m-youtubeMigration__notice {
    display: flex;
    justify-content: center;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
    p {
      margin: 57px 0;
    }
  }
  .m-youtubeMigration__headerLabel {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    i.ion-icon {
      color: #ff0000;
      font-size: 42px;
      margin-right: 18px;
    }
    > span {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: calc(100% - 60px);
    }
  }
  .m-youtubeMigration__videosList {
    .m-youtubeMigration__video {
      display: flex;
      flex-flow: row nowrap;
      margin: 28px 15px 0 0;
      height: 76px;
      max-height: 76px;
      width: 100%;
      max-width: 100%;

      .m-youtubeMigration__videoThumb {
        position: relative;
        display: flex;
        box-sizing: border-box;
        height: 76px;
        width: 76px;
        min-height: 76px;
        min-width: 76px;
        padding: 20px;
        border-radius: 2px;
        margin-right: 20px;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @include m-theme() {
          background-color: themed($m-bgColor--tertiary);
        }

        .m-youtubeMigration__videoOverlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: 0.3s all cubic-bezier(0.23, 1, 0.32, 1);
          @include m-theme() {
            background-color: rgba(themed($m-black-always), 0.03);
            color: themed($m-white-always);
          }

          &:hover {
            cursor: pointer;
            @include m-theme() {
              background-color: rgba(themed($m-black-always), 0);
            }
            i {
              transition: inherit;
              transform: translate(-50%, -50%) scale(1.1);
              @include m-theme() {
                text-shadow: 0 0 6px rgba(themed($m-black-always), 0.7);
              }
            }
          }
          .m-youtubeMigration__videoDuration {
            font-size: 12px;
            line-height: 16px;
            font-weight: 300;
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 0 3px;
            margin: 4px;
            border-radius: 2px;
            color: #aeb0b8;
            @include m-theme() {
              background-color: themed($m-black-always);
            }
          }
          i {
            font-style: normal;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1);
            font-size: 34px;
            @include m-theme() {
              text-shadow: 0 0 8px rgba(themed($m-black-always), 0.5);
            }
          }
        }
      }
      .m-youtubeMigration__videoInfo {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-weight: 400;
        font-size: 15px;
        line-height: 17px;
        width: calc(100% - 96px);
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
        > div {
          &:last-child {
            justify-self: flex-end;
          }
        }
      }
      .m-youtubeMigration__videoTitle {
        font-weight: 500;
        margin-bottom: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        // width: calc(100% - 96px);
        cursor: pointer;
        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }
      .m-youtubeMigration__videoDetails {
        font-weight: 300;
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }
      .m-youtubeMigration__videoStatus {
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
        font-weight: 400;
        > * {
          font-weight: 400;
        }
        a {
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
        a:first-child {
          @include m-theme() {
            color: themed($m-link);
          }
        }
        span {
          font-style: italic;
          &.m-youtubeMigration__videoStatus--queued {
            @include m-theme() {
              color: themed($m-amber-dark);
            }
          }
          &.m-youtubeMigration__videoStatus--transcoding {
            @include m-theme() {
              color: themed($m-green);
            }
          }
        }
      }
    }
  }
}
