<div class="m-wallet-tabsContainer">
  <div class="m-wallet-tabsContainer-selectors">
    <button
      class="m-wallet-tabsContainer-tab"
      (click)="onOptionSelect('history')"
    >
      Balance History
    </button>
    <button
      class="m-wallet-tabsContainer-tab"
      (click)="onOptionSelect('activity')"
    >
      Activity
    </button>
    <button
      class="m-wallet-tabsContainer-tab"
      (click)="onOptionSelect('settings')"
    >
      Wallet Settings
    </button>
  </div>
  <div class="m-wallet-tabsContainer-content">
    <!-- <minds-wallet-history *ngIf="state.activeOption === 'history'"/> -->
    <!-- <minds-wallet-activity *ngIf="state.activeOption === 'activity'"/> -->
    <minds-wallet-settings
      *ngIf="state.activeOption === 'settings'"
    ></minds-wallet-settings>
  </div>
</div>
