.m-btc__wrapper {
  padding: $minds-padding * 4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  m-qr-code {
    width: 300px;
    height: 300px;
    display: block;
    position: relative;
  }
}
