@import 'defaults.scss';

:host {
  ::ng-deep float-ui-content {
    .ngxp__container {
      max-width: 350px;
      min-width: 350px;
      border-radius: $m-borderRadius;
      padding: 0;
      box-shadow: none;

      @include z-index(tooltip);

      @include m-theme() {
        color: themed($m-textColor--primary);
        background: themed($m-bgColor--primary);
        border: 1px solid themed($m-borderColor--primary);
      }
    }

    .ngxp__arrow {
      height: 15px !important;
      width: 15px !important;

      @include m-theme() {
        background: themed($m-bgColor--primary);
        border: 1px solid themed($m-borderColor--primary);
      }
    }

    .ngxp__inner {
      @include m-theme() {
        background: themed($m-bgColor--primary);
      }
    }
  }
}
