.m-pro--channel-home {
  m-pro--channel--categories {
    margin: 16px 0 32px;
  }

  .m-pro--channel-home--section {
    margin-bottom: 72px;

    &:last-child {
      margin-bottom: 0;
    }

    > h2 {
      margin: 0 0 24px;
      padding: 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 300;
      letter-spacing: 2px;
      line-height: 1.25;

      > a {
        font: inherit;
        text-decoration: none;
      }
    }
  }

  .m-pro--channel-home--loader {
    text-align: center;
    margin: 32px auto;
  }

  .m-pro--channel-home--featured-content,
  .m-pro--channel-home--category-content {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-gap: 24px;

    @media screen and (max-width: $max-mobile) {
      width: 100%;
    }
  }

  .m-pro--channel-home--featured-content {
    grid-template-columns: repeat(2, 1fr);

    *:nth-child(1) {
      grid-column: span 2;
    }

    @media screen and (max-width: $max-mobile) {
      grid-template-columns: repeat(1, 1fr);

      *:nth-child(1) {
        grid-column: initial;
      }
    }
  }

  .m-pro--channel-home--category-content {
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: $max-mobile) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
