.m-wallet-token--addresses--receiver-address {
  h4 {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
  }
  strong {
    font-size: 32px;
    display: block;
    line-height: 36px;
  }
  a {
    text-transform: uppercase;
    font-size: 10px;
    cursor: pointer;
  }
}