<ng-template #noticesBody>
  <span *ngIf="!inProgress && !notices.length" class="m-noticesSidebar__empty">
    There are no notices
  </span>
  <ul class="m-noticesSidebar__list m-border" *ngIf="notices.length">
    <li
      *ngFor="let notice of notices.slice(0, displayLimit)"
      class="m-noticesSidebarList__item"
    >
      <a
        [routerLink]="notice.cta.routerLink"
        class="m-notices__notice"
        [class.m-notices__notice--recent]="isRecent(notice)"
      >
        <h3>{{ notice.timestamp | date: 'mediumDate' }}</h3>
        <span class="m-noticesNotice__cta">{{ notice.cta.label }}</span>
        <p>{{ notice.description }}</p>
      </a>
    </li>
  </ul>
  <div
    class="mdl-spinner mdl-js-spinner is-active"
    [mdl]
    [hidden]="!inProgress"
  ></div>
</ng-template>

<!-- Outlets -->

<ng-container *ngIf="!hidden">
  <ng-container>
    <m-sidebarWidget title="Notices">
      <div class="m-sidebarWidget__body m-sidebarWidget__body--noPadding">
        <ng-container *ngTemplateOutlet="noticesBody"></ng-container>
      </div>
      <a
        class="m-sidebarWidget__seeMore"
        (click)="showAll()"
        *ngIf="displayLimit === 3"
      >
        See more
      </a>
    </m-sidebarWidget>
  </ng-container>
</ng-container>
