@import 'defaults.scss';

:host {
  ::ng-deep float-ui-content {
    .float-ui-container {
      border-radius: $m-borderRadius;
      padding: 0;

      @include z-index(tooltip);

      @include m-theme() {
        box-shadow: 0 0 5px 0 rgba(themed($m-black-always), 0.3);
        border: 1px solid themed($m-borderColor--primary);
        background-color: themed($m-bgColor--primary);
      }
    }

    .float-ui-arrow {
      display: none;
    }

    .ngxp__inner {
      @include m-theme() {
        background: themed($m-bgColor--primary);
      }
    }
  }
}
