.m-theme__2020 .m-channel__feed {
  [class*='m-pageLayout__pane'] {
    padding: 20px 40px;

    @media screen and (max-width: $layoutMin3ColWidth) {
      padding: 20px;
    }
  }

  .m-pageLayout__pane--right {
    padding-right: 0;
  }
}

.m-channel__feed {
  .m-channelFeedList__filter {
    display: block;
    padding: 0 0 20px;
  }

  m-newsfeed__entity {
    display: block;
    margin: 0 0 20px;
  }
}
