// .m-theme__2020 .m-channel__feed {

// }

.m-channel__feed {
  min-height: 100vh;

  [class*='m-pageLayout__pane'] {
    padding: 20px 40px;

    @media screen and (max-width: $layoutMin3ColWidth) {
      padding: 20px;
    }
  }

  .m-pageLayout__pane--right {
    padding-top: 20px * 3;
  }

  .m-channelFeedList__filter {
    display: block;
    padding: 0 0 20px;
  }

  .m-channelFeedListFilter__scheduled {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    text-decoration: none;

    @include m-theme() {
      color: themed($m-textColor--secondary);
    }

    strong {
      font-weight: normal;

      @include m-theme() {
        color: themed($m-textColor--primary);
      }
    }
  }

  m-newsfeed__entity {
    display: block;
    margin: 0 0 20px;
  }

  .m-channelFeed__sidebar {
    > * + * {
      margin-top: 30px;
    }
  }
}
