m-moderation__strikes h2 {
  font-weight: 600;
}

.m-moderationStrike__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.m-moderation__strike {
  @include m-theme() {
    background-color: themed($m-bgColor--primary);
  }
  padding: 16px;
  margin-bottom: 16px;
}

.m-moderationStrike__info {
  margin-bottom: 16px;
  > * {
    display: block;
  }
}
