<div class="m-youtubeMigration__video">
  <a (click)="playRequested()">
    <div
      class="m-youtubeMigration__videoThumb"
      [ngStyle]="{ 'background-image': 'url(' + video.display.thumb + ')' }"
    >
      <div class="m-youtubeMigration__videoOverlay">
        <i class="material-icons">play_arrow</i>
        <div
          *ngIf="video.display.duration"
          class="m-youtubeMigration__videoDuration"
        >
          {{ video.display.duration }}
        </div>
      </div>
    </div>
  </a>
  <div class="m-youtubeMigration__videoInfo">
    <div>
      <a (click)="playRequested()"
        ><div class="m-youtubeMigration__videoTitle">
          {{ video.display.title }}
        </div></a
      >
      <div class="m-youtubeMigration__videoDetails">
        <span>{{ video.display.date }}</span>
        <ng-container *ngIf="video.status !== 'completed'">
          · <span>{{ video.views | abbr }} views</span></ng-container
        >
      </div>
    </div>
    <ng-container *ngIf="!video.ownerObj">
      <div class="m-youtubeMigration__videoStatus">
        <ng-container *ngIf="video.status">
          <ng-container *ngIf="video.status !== 'completed'">
            <a (click)="cancel()">Cancel</a>
            ·
          </ng-container>
          <span
            *ngIf="video.status === 'completed'"
            class="m-youtubeMigration__videoStatus--completed"
            >Completed</span
          >
          <span
            *ngIf="video.status === 'transcoding'"
            class="m-youtubeMigration__videoStatus--transcoding"
            >Transferring</span
          >
          <span
            *ngIf="video.status === 'queued'"
            class="m-youtubeMigration__videoStatus--queued"
            >Queued</span
          >
        </ng-container>
        <a *ngIf="!video.status" (click)="import()">Transfer</a>
      </div>
    </ng-container>
  </div>
</div>
