<ng-container
  ><p class="m-settingsV2__desc">
    Your YouTube channel is now connected. Do you want your new YouTube videos
    to be automatically posted to Minds?
  </p>
  <div class="m-youtubeMigration__setupModal__buttonsContainer">
    <m-shadowboxSubmitButton
      color="grey"
      (click)="submit(false)"
      [disabled]="inProgress"
      [saving]="inProgress"
      >I'll do it manually</m-shadowboxSubmitButton
    >
    <m-shadowboxSubmitButton
      color="green"
      (click)="submit(true)"
      [disabled]="inProgress"
      [saving]="inProgress"
      >Auto-post new YouTube videos</m-shadowboxSubmitButton
    >
  </div>
</ng-container>
