<div class="m-toolbar">
  <div class="m-topbar--row">
    <div class="m-topbar--navigation m-topbar--navigation--text-only">
      <!--<a class="m-topbar&#45;&#45;navigation&#45;&#45;item"-->
        <!--routerLink="/channels/suggested"-->
        <!--routerLinkActive="m-topbar&#45;&#45;navigation&#45;&#45;item-active"-->
        <!--*ngIf="session.isLoggedIn()"-->
        <!--&gt;-->
        <!--<span i18n="@@M__COMMON_TOPBAR_SUGGESTED">-->
          <!--Suggested-->
        <!--</span>-->
        <!--<m-tooltip icon="help" i18n="@@M__COMMON_TOPBAR_SUGGESTED_TOOLTIP">-->
          <!--Suggested displays the suggested content on Minds-->
        <!--</m-tooltip>-->
      <!--</a>-->
      <a class="m-topbar--navigation--item"
        routerLink="/channels/top"
        routerLinkActive="m-topbar--navigation--item-active"
        *ngIf="session.isLoggedIn()"
      >
        <span i18n="@@M__COMMON_TOPBAR_TOP">
          Top
        </span>
        <m-tooltip icon="help" i18n="@@M__COMMON_TOPBAR_TOP_TOOLTIP">
          Top displays the top content on Minds
        </m-tooltip>
      </a>
      <a class="m-topbar--navigation--item"
        routerLink="/channels/subscriptions"
        *ngIf="session.isLoggedIn()"
        routerLinkActive="m-topbar--navigation--item-active"
        >
        <span i18n="@@M__COMMON_TOPBAR_SUBSCRIPTIONS">Subscriptions</span>
        <m-tooltip icon="help" i18n="@@MINDS__CHANNELS__TOPBAR__SUBSCRIPTIONS_TOOLTIP">
          Channels you are subscribed to
        </m-tooltip>
      </a>
      <a class="m-topbar--navigation--item"
        routerLink="/channels/subscribers"
        *ngIf="session.isLoggedIn()"
        routerLinkActive="m-topbar--navigation--item-active"
        >
        <span i18n="@@M__COMMON_TOPBAR_SUBSCRIBERS">Subscribers</span>
        <m-tooltip icon="help" i18n="@@MINDS__CHANNELS__TOPBAR__SUBSCRIBERS_TOOLTIP">
          Channels who are subscribed to you
        </m-tooltip>
      </a>
      <a class="m-topbar--navigation--item"
        routerLink="/channels/founders"
        routerLinkActive="m-topbar--navigation--item-active"
        >
        <span i18n="@@M__COMMON_TOPBAR_FOUNDERS">Founders</span>
        <m-tooltip icon="help" i18n="@@MINDS__CHANNELS__TOPBAR__FOUNDERS_TOOLTIP">
          Channels who invested in the Minds Reg-CF Crowfunding campaign
        </m-tooltip>
      </a>

      <div class="m-layout--spacer"></div>

      <m-topbar--hashtags
        (selectionChange)="reloadTags($event)"
        [enabled]="filter == 'trending'"
        *ngIf="!preventHashtagOverflow"
      >
      </m-topbar--hashtags>

    </div>
  </div>
  <div class="m-topbar--row" *ngIf="preventHashtagOverflow">
    <div class="m-topbar--navigation m-topbar--navigation--text-only">
      <div class="m-layout--spacer"></div>

      <m-topbar--hashtags
        (selectionChange)="reloadTags($event)"
        [enabled]="filter == 'trending'"
      ></m-topbar--hashtags>
    </div>
  </div>
</div>

<div class="m-channels--list">
  <m-channels--tile *ngFor="let entity of entities" [entity]="entity"></m-channels--tile>
  <infinite-scroll
    distance="25%"
    (load)="load()"
    [moreData]="moreData"
    [inProgress]="inProgress">
  </infinite-scroll>
</div>
