@import 'defaults';
@import 'padding';
@import 'margin';

:host {
  .m-accountQualityScore__container {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    > li {
      padding-left: $spacing2;
    }

    .m-accountQualityScore__badge {
      color: var(--score-color);
      border: 1px solid var(--score-color);
      border-radius: 3px;
      box-sizing: border-box;
      font-size: 13px;
      line-height: $spacing4;
    }
  }
}
