<div class="mdl-textfield mdl-js-textfield" [mdl]>
  <i class="material-icons m-searchBar__searchIcon" (click)="setFocus()"
    >search</i
  >

  <input
    [(ngModel)]="q"
    (focus)="focus()"
    (blur)="blur()"
    name="q"
    class="mdl-textfield__input"
    type="text"
    id="search"
    autocomplete="off"
    [placeholder]="placeholder"
    i18n-placeholder="@@COMMON__SEARCH"
    #searchInput
  />
  <label class="mdl-textfield__label" for="search"></label>
  <i
    class="material-icons m-searchBar__cleanIcon"
    (click)="clean()"
    *ngIf="showCleanIcon && q"
  >
    close
  </i>

  <m-searchBar__suggestions
    (click)="unsetFocus()"
    [q]="q"
    [active]="active"
    [disabled]="suggestionsDisabled"
  ></m-searchBar__suggestions>
</div>

<!-- Hack because $localize doesn't work in ts files -->
<ng-container *ngIf="false">
  <ng-container i18n="@@COMMON__SEARCH">Search Minds</ng-container>
  <ng-container i18n="@@COMMON__SEARCH__SHORT">Search</ng-container>
</ng-container>
