.m-confirm-password--modal--header {
  h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 600;
  }
}

.m-confirm-password--modal .m-form {
  margin-top: 16px; 

  .m-layout--row {
    padding: 8px 0;
  }
}
