@import 'defaults.scss';

:host {
  display: contents;

  .m-networkSwapBox__container {
    padding: 24px 0;
    display: grid;
    justify-content: center;

    @media (min-width: 480px) and (max-width: 839px) {
      padding-top: 0px !important;
    }

    .m-networkSwapBox__container-title {
      font-size: 18px;
      line-height: 28px;
      font-weight: 500;
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
      cursor: default;
    }

    .m-networkSwapBox__container-box {
      min-width: 510px;
      min-height: 103px;
      @include m-theme() {
        border: 1px solid themed($m-grey-790);
      }
      box-sizing: border-box;
      margin-top: 23px;
      padding: 13px 39px 0 39px;
      display: inline-table;
      border-radius: 3px 3px 0 0;
      height: 103px;
    }

    .m-networkSwapBox__container-box-bottom {
      min-width: 510px;
      max-height: 109px;
      @include m-theme() {
        border: 1px solid themed($m-grey-790);
      }
      box-sizing: border-box;
      padding: 24px 39px;
      display: inline-table;
      border-top: 0;
      border-radius: 0 0 3px 3px;
      height: 103px;
    }

    .m-networkSwapBox__container-box-input {
      outline: none;
      border: none;
      width: 100px;
      height: 20px;
      font-size: 20px;
      line-height: 28px;
      font-weight: 500;
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
      padding: 0;
      margin: 7px 0 0;
      cursor: default;
    }

    .m-networkSwapBox__container-box-chain {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
      margin: 0;
      cursor: default;
    }

    .m-networkSwapBox__container-box-subtitle {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
      height: 20px;
      cursor: default;
    }

    .m-networkSwapBox__container-row {
      display: flex;
      justify-content: space-between;
      margin-top: 0;
    }

    .m-networkSwapBox__container-row-max {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
    }

    .m-networkSwapBox__container-max {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
      cursor: pointer;
    }

    .m-networkSwapBox__swapButton--container {
      position: relative;

      .m-networkSwapBox__swapButton {
        position: absolute;
        left: 50%;
        top: 0;
        border-radius: 50%;
        padding: 8px;
        cursor: pointer;
        transform: translate(-50%, -50%);
        user-select: none;

        @include m-theme() {
          color: themed($m-bgColor--secondary);
          background-color: themed($m-textColor--primary);
        }
      }
    }

    .m-networkSwapBox__container-transfer-row {
      display: flex;
      justify-content: flex-end;
      margin-top: 30px;
    }
  }
}
