<div class="m-networkSwapBox__container">
  <div class="mdl-grid">
    <span class="m-networkSwapBox__container-title">New Transfer</span>
  </div>

  <div [formGroup]="form">
    <!-- FROM box -->
    <div class="mdl-grid m-networkSwapBox__container-box">
      <span
        class="m-networkSwapBox__container-box-subtitle mdl-cell mdl-cell--12-col "
        >From</span
      >
      <div class="mdl-cell mdl-cell--12-col m-networkSwapBox__container-row">
        <span
          class="m-networkSwapBox__container-box-chain mdl-cell mdl-cell--4-col"
          >Goerli Chain</span
        >
        <span class="m-networkSwapBox__container-box-subtitle"
          >Balance: 5,000 Minds</span
        >
      </div>
      <div
        class="mdl-cell mdl-cell--12-col  m-networkSwapBox__container-row-max"
      >
        <input
          type="text"
          class="m-networkSwapBox__container-box-input mdl-cell mdl-cell--12-col "
          formControlName="amount"
          [(ngModel)]="amount"
        />
        <span class="m-networkSwapBox__container-max">MAX</span>
      </div>
    </div>

    <div class="m-networkSwapBox__swapButton--container">
      <span class="material-icons m-networkSwapBox__swapButton">
        swap_vert
      </span>
    </div>

    <!-- TO box -->
    <div class="mdl-grid m-networkSwapBox__container-box-bottom">
      <span
        class="m-networkSwapBox__container-box-subtitle mdl-cell mdl-cell--12-col "
        >To</span
      >
      <div class="mdl-cell mdl-cell--12-col m-networkSwapBox__container-row">
        <span
          class="m-networkSwapBox__container-box-chain mdl-cell mdl-cell--4-col"
          >Mumbai Chain</span
        >
        <span class="m-networkSwapBox__container-box-subtitle"
          >Balance: 900 Minds</span
        >
      </div>
    </div>

    <!-- Transfer button -->
    <div class="m-networkSwapBox__container-transfer-row">
      <m-button color="blue" [disabled]="amount < 0.001">
        <ng-container i18n="verb|@@M__ACTION__CANCEL">Transfer</ng-container>
      </m-button>
    </div>
  </div>
</div>
