<h2 class="m-analyticsCard__title" *ngIf="title">
  {{ title }}
</h2>

<m-dropdown *ngIf="options && options.length > 0" #dropdown>
  <label>
    <ng-container [ngSwitch]="selectedOption">
      <span *ngSwitchCase="'hourly'">Hourly</span>

      <span *ngSwitchCase="'daily'">Daily</span>

      <span *ngSwitchCase="'monthly'">Monthly</span>
      <ng-container *ngIf="!dropdown.toggled; else caretUp">
        <i class="material-icons">keyboard_arrow_down</i>
      </ng-container>
      <ng-template #caretUp>
        <i class="material-icons">keyboard_arrow_up</i>
      </ng-template>
    </ng-container>
  </label>

  <ul class="m-dropdown__list">
    <li
      class="m-dropdownList__item"
      *ngIf="options.indexOf('hourly') !== -1"
      (click)="selectOption('hourly'); dropdown.toggle()"
    >
      Hourly
    </li>
    <li
      class="m-dropdownList__item"
      *ngIf="options.indexOf('daily') !== -1"
      (click)="selectOption('daily'); dropdown.toggle()"
    >
      Daily
    </li>
    <li
      class="m-dropdownList__item"
      *ngIf="options.indexOf('monthly') !== -1"
      (click)="selectOption('monthly'); dropdown.toggle()"
    >
      Monthly
    </li>
  </ul>
</m-dropdown>

<ng-content></ng-content>
