@import 'defaults';

m-analytics__card {
  display: block;
  position: relative;
  padding: $minds-padding * 2;

  @include m-theme() {
    background-color: themed($m-white);
    border: 1px solid themed($m-grey-50);
  }

  h2.m-analyticsCard__title {
    @include m-theme() {
      color: themed($m-grey-950);
    }
    text-align: left;
    line-height: 24px;
    font-size: 24px;
    margin: 0;
    margin-bottom: $minds-margin * 2;
    font-weight: 600;
  }

  m-dropdown {
    position: absolute;
    right: 24px;
    top: 24px;

    label > * {
      cursor: pointer;
      vertical-align: middle;
    }
  }

  .m-analyticsCard__charts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
