<article *ngIf="connection || (topFeedService.feed | async)?.length">
  <header>
    <h3 class="m-topHighlights__title">Highlights</h3>

    <m-dropdownMenu
      [menu]="dropdown"
      [anchorPosition]="{ top: '0', right: '0' }"
    >
      <m-icon iconId="more_horiz" sizeFactor="1.5" rem="true"></m-icon>
    </m-dropdownMenu>
  </header>

  <section *ngIf="connection?.edges?.length; else legacyHighlights">
    <ul>
      <li
        *ngFor="let edge of connection.edges; let i = index; trackBy: trackByFn"
      >
        <m-activity
          [entity]="edge.node.legacy | parseJson"
          [displayOptions]="{
            showOnlyCommentsInput: true,
            isFeed: true
          }"
          [slot]="i + 1"
        ></m-activity>
      </li>
    </ul>
  </section>

  <ng-template #legacyHighlights>
    <ul>
      <li *ngFor="let activity$ of topFeedService.feed | async; let i = index">
        <m-activity
          *ngIf="activity$ | async as activity"
          [entity]="activity"
          [displayOptions]="{
            showOnlyCommentsInput: true,
            isFeed: true
          }"
          [slot]="i + 1"
        ></m-activity>
      </li>
    </ul>
  </ng-template>

  <footer class="m-topHighlights__showMore__container">
    <a
      role="navigation"
      i18n="@@MINDS__NEWSFEED__TOP_FEED__SHOW_MORE"
      class="m-topHighlights__showMore__link"
      (click)="onSeeMore.emit()"
      data-ref="top-feed-highlights-more"
      >See more top posts</a
    >
  </footer>
</article>

<ng-template #dropdown>
  <ul>
    <m-dropdownMenu__item (click)="dismiss()" icon="close">
      <span i18n="@@COMMON__REMOVE_FROM_FEED">Remove from feed</span>
    </m-dropdownMenu__item>
  </ul>
</ng-template>
