m-topHighlights {
  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
    }

    li:last-child m-activity {
      margin-bottom: $minds-margin !important;
    }
  }

  .m-topHighlights__title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 26px;
    margin-bottom: 8px;
  }

  .m-topHighlights__showMore__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: $minds-padding 0 $minds-padding * 2;

    m-loadingSpinner {
      width: unset;
      margin: unset;

      .m-loadingSpinner__wrapper {
        padding: 0;
        top: -1px;

        .m-loadingSpinner__container {
          width: 25px;
          height: 25px;
        }
      }
    }

    .m-topHighlights__showMore__link {
      padding: $minds-padding;
      text-decoration: none;
      cursor: pointer;
      border-radius: $m-borderRadius;
      transition: color 0.3s;
      font-size: 16px;

      @include m-theme() {
        color: themed($m-link) !important;
      }

      &:hover {
        @include m-theme() {
          color: themed($m-link--hover) !important;
        }
      }
    }
  }
}
