<m-feedNotice
  icon="group"
  [dismissible]="dismissible"
  (dismissClick)="dismiss()"
  dataRefId="no-groups"
>
  <span
    class="m-feedNotice__title"
    data-ref="feed-notice-title-no-groups"
    i18n="@@FEED_NOTICE__NO_GROUPS__TITLE"
    >You are not in any groups at the moment</span
  >
  <p class="m-feedNotice__body" i18n="@@FEED_NOTICE__NO_GROUPS__DONT_MISS_OUT">
    Don’t miss out on the discourse. Discover your community.
  </p>
  <m-findGroupsButtons></m-findGroupsButtons>
</m-feedNotice>
