<div
  class="m-activityFlag__mutualSubscriptions"
  [@slowFade]="(inProgress$ | async) ? 'out' : 'in'"
>
  <ng-container *ngIf="(totalCount$ | async) > 0">
    <i class="material-icons">group</i>
    <m-userAggregator
      [users]="users$ | async"
      [totalCount]="totalCount$ | async"
      [usernameAmount]="2"
      [avatarAmount]="0"
      [clickable]="true"
      (onClick)="onClick()"
    >
      <span
        suffix-text
        class="m-userAggregator__suffixText"
        i18n="@@M__ACTIVITY_FLAG__MUTUAL_SUBSCRIPTIONS__FOLLOWS"
        >{ (totalCount$ | async), plural, =1 {follows} other {follow} }
        {{ _user.name }}</span
      >
    </m-userAggregator>
  </ng-container>
</div>
