<m-loadingSpinner [inProgress]="!init"></m-loadingSpinner>
<ng-container *ngIf="init">
  <div class="m-composerPopup__content m-formWrapper">
    <p
      class="m-composerPopup__text m-composerPopup__monetizeTitle"
      i18n="@@COMPOSER__MONETIZE_CUSTOM__DESC"
    >
      Add a custom paywall to this post.
    </p>
    <form *ngIf="form" [formGroup]="form">
      <!-- ENABLE PAYWALL CHECKBOX ---------------------------- -->
      <div class="m-form__row--label">
        <span i18n="@@COMPOSER__MONETIZE_CUSTOM__PAYWALL_STATUS">
          Paywall status</span
        >
      </div>
      <div class="m-form__field--checkbox">
        <div class="m-composerPopup__checkbox">
          <m-formInput__checkbox
            formControlName="enabled"
            data-cy="monetize-membership-enable-paywall-checkbox"
          >
            <span i18n="@@COMPOSER__MONETIZE_CUSTOM__ENABLE_PAYWALL"
              >Enable Paywall</span
            >
          </m-formInput__checkbox>
        </div>
      </div>
      <div
        class="m-composerPopup__inlineFormFieldsContainer"
        *ngIf="enabled.value"
      >
        <!-- MIN USD INPUT ---------------------------- -->
        <div class="m-form__field--text">
          <div class="m-form__row--label">
            <span i18n="@@COMPOSER__MONETIZE_CUSTOM__MIN_USD">
              Min USD per month</span
            >
          </div>
          <input
            type="number"
            name="usd"
            id="usd"
            formControlName="usd"
            class="form-control"
            min="0.01"
            data-cy="monetize-membership-paywall-amount-input"
          />
        </div>
        <!--ALLOW TOKENS CHECKBOX ---------------------------- -->
        <div class="m-form__field--checkbox">
          <div
            class="
              m-composerPopup__checkbox m-composerPopup__checkbox--allowTokens
            "
          >
            <m-formInput__checkbox formControlName="has_tokens">
              <span i18n="@@COMPOSER__MONETIZE_CUSTOM__ALLOW_TOKENS"
                >Allow tokens</span
              >
            </m-formInput__checkbox>
            <m-tooltip>
              <span m-tooltip--anchor>𝒊</span>
              <ng-container
                i18n="@@COMPOSER__MONETIZE_CUSTOM__ALLOW_TOKENS_TOOLTIP"
              >
                Allow users to purchase your membership with Minds Tokens. Token
                amounts are converted at a rate of ${{
                  tokenExchangeRate
                }}/token.
              </ng-container>
            </m-tooltip>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="m-composerPopup__action">
    <m-button
      [disabled]="!canSave"
      [saving]="inProgress"
      type="button"
      (onAction)="save()"
      i18n="@@COMMON__SAVE"
    >
      Save
    </m-button>
  </div>
</ng-container>
