m-blockchain--wallet-selector {
  display: block;
}

.m-blockchain--wallet-selector--info {
  padding: $minds-padding * 2;
  font-size: 14px;
  @include m-theme() {
    border: 1px solid themed($m-grey-50);
  }
}

.m-blockchain--wallet-selector--list {
  list-style: none;
  padding: 0;

  .m-blockchain--wallet-selector--item {
    padding: $minds-padding * 2;
    cursor: pointer;
    @include m-theme() {
      border: 1px solid themed($m-grey-50);
    }
    &.m-blockchain--wallet-selector--item-active {
      cursor: default;
      @include m-theme() {
        color: themed($m-grey-100);
      }
    }

    .material-icons {
      vertical-align: text-top;
      font-size: 1em;
      position: relative;
      top: 0.15em;
    }
  }
}
