@import 'defaults.scss';
@import '../../layout/layout.scss';

:host {
  .m-feedFilter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    .m-feedFilter__menu {
      margin-right: 30px;
    }

    .m-feedFilterMenu__trigger {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 14px;
      line-height: 19px;

      > span {
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }

        &.m-feedFilterMenuTrigger__selectionLabel {
          @include m-theme() {
            color: themed($m-textColor--primary);
          }
        }
      }

      > span:first-child {
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }

      > * + * {
        margin-left: 9px;
      }
    }
    .m-feedFilter__dropdownWrapper {
      display: flex;
    }
  }
}
