.m-feedFilter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  .m-feedFilter__spacer {
    flex: 1;
  }

  .m-FeedFilterMenu__trigger {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    line-height: 19px;

    @include m-theme() {
      color: themed($m-textColor--primary);
    }

    m-icon {
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }

    > * + * {
      margin-left: 9px;
    }
  }
}
