<div class="m-feedFilter">
  <div class="m-feedFilter__dropdownWrapper">
    <div *ngIf="options.indexOf('type') > -1" class="m-feedFilter__menu">
      <m-dropdownMenu [menu]="typeMenu">
        <div class="m-feedFilterMenu__trigger">
          <span>Type: </span
          ><span class="m-feedFilterMenuTrigger__selectionLabel">{{
            typeLabel
          }}</span
          ><span>▾</span>
        </div>
      </m-dropdownMenu>
    </div>
    <div *ngIf="options.indexOf('dateRange') > -1" class="m-feedFilter__menu">
      <m-dropdownMenu [menu]="dateRangeMenu">
        <div class="m-feedFilterMenu__trigger">
          <span>Date: </span>
          <ng-container *ngIf="service.dateRangeEnabled$ | async"
            ><span *ngIf="service.dateRange$ | async as dateRange">
              {{ dateRange.fromDate | date: 'mediumDate' }} -
              {{ dateRange.toDate | date: 'mediumDate' }}</span
            ></ng-container
          >
          <ng-container *ngIf="!(service.dateRangeEnabled$ | async)">
            <span class="m-feedFilterMenuTrigger__selectionLabel">{{
              dateRangeLabel
            }}</span> </ng-container
          ><span>▾</span>
        </div>
      </m-dropdownMenu>
    </div>
  </div>
  <div class="m-feedFilter__content">
    <ng-content></ng-content>
  </div>
</div>

<ng-template #typeMenu>
  <ul>
    <m-dropdownMenu__item
      *ngFor="let typeEntry of types"
      (click)="typeChangeEmitter.emit(typeEntry.value)"
      [label]="typeEntry.label"
      persistent="true"
      [selected]="type === typeEntry.value"
    ></m-dropdownMenu__item>
  </ul>
</ng-template>

<ng-template #dateRangeMenu>
  <ul>
    <m-dropdownMenu__item
      *ngFor="let dateRangeEntry of dateRangeTypes"
      (click)="onDateRangeChange(dateRangeEntry.value)"
      [label]="dateRangeEntry.menuLabel"
      persistent="true"
      [selected]="dateRangeType === dateRangeEntry.value"
    ></m-dropdownMenu__item>
  </ul>
</ng-template>
