<m-analytics__card [title]="'Activity'">
  <div class="m-analyticsCard__charts">
    <m-analyticscharts__posts
      [user]="session.getLoggedInUser()"
    ></m-analyticscharts__posts>
    <m-analyticscharts__votes
      [user]="session.getLoggedInUser()"
    ></m-analyticscharts__votes>
    <m-analyticscharts__comments
      [user]="session.getLoggedInUser()"
    ></m-analyticscharts__comments>
    <m-analyticscharts__reminds
      [user]="session.getLoggedInUser()"
    ></m-analyticscharts__reminds>
  </div>
</m-analytics__card>
