<article>
  <header>
    <h2>Recommended Channels</h2>
    <a href="#">See more</a>
  </header>
  <ul>
    <li
      *ngFor="
        let channel of (channelRecommendations.result$ | async)?.suggestions
      "
    >
      <section>
        <div class="avatarContainer">
          <minds-avatar
            [object]="channel.entity"
            [editMode]="false"
          ></minds-avatar>
        </div>
        <div class="contentContainer">
          <h3 class="title">{{ channel.entity.name }}</h3>
          <span class="description">{{ channel.entity.briefdescription }}</span>
          <!-- <span>@ottman and @jack are subscribed</span> -->
        </div>
        <div class="subscribeContainer">
          <m-subscribeButton
            [user]="channel.entity"
            [enableRecheck]="true"
            [sized]="true"
            [iconOnly]="true"
          ></m-subscribeButton>
        </div>
      </section>
    </li>
  </ul>
</article>
