<m-settingsV2__header>
  <div
    class="m-settingsV2__headerLabel"
    i18n="@@SETTINGS__OTHER__PAIDCONTENT__SUBSCRIPTIONS__LABEL"
  >
    Subscription Tier Management
  </div>
  <div
    class="m-settingsV2__desc"
    i18n="@@SETTINGS__OTHER__PAIDCONTENT__SUBSCRIPTIONS__DESCRIPTION"
  >
    Define incentives for users to support your channel. These tiers will be
    displayed on your channel's sidebar and shop page.
  </div>
</m-settingsV2__header>

<div class="m-formLayout--buttonRight">
  <div class="m-form__fieldsContainer">
    <m-wireV2__subscriptionTiers
      [user]="session.getLoggedInUser()"
      [editing]="true"
      (isSaving)="isSaving = $event"
      (isSaved)="isSaved = $event"
      [saveEventListener]="triggerSave"
    >
    </m-wireV2__subscriptionTiers>

    <div class="m-form__row--validation" *ngIf="error">
      <p>{{ error }}</p>
    </div>
  </div>
  <div class="m-form__buttonsContainer">
    <m-shadowboxSubmitButton
      [disabled]="isSaving"
      [saving]="isSaving"
      (click)="save()"
      i18n="@@MINDS__SETTINGSV2__SUB_TIERS__SAVE_SUBSCRIPTION_TIERS"
    >
      Save Subscription Tiers
    </m-shadowboxSubmitButton>
  </div>
</div>
