@import 'defaults.scss';
@import '../../../../stylesheets/console.component.ng.scss';

:host {
  display: flex;
  flex-flow: row nowrap !important;
  justify-content: space-between;
  padding-top: $spacing4;
  padding-bottom: $spacing4;

  @include horizontalPadding;
  @include m-theme() {
    border-bottom: 1px solid themed($m-borderColor--primary);
  }

  .m-featuredEntityRow__infoContainer {
    display: flex;
    flex-flow: row nowrap;
    margin-right: $spacing4;
    cursor: pointer;

    ::ng-deep .minds-avatar {
      margin: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
      margin-right: $spacing2;
    }

    .m-featuredEntityRow__infoContainerRight {
      display: flex;
      flex-flow: column nowrap;

      .m-featuredEntityRow__infoContainerName {
        @include body1Bold;
        word-wrap: anywhere;
      }

      .m-featuredEntityRow__infoContainerSubtext {
        @include body2Regular;
        word-wrap: anywhere;
      }
    }
  }

  .m-featuredEntityRow__chipBadge {
    display: flex;
    align-items: center;
    gap: $spacing2;
    box-sizing: border-box;
    padding: $spacing2 $spacing2 $spacing2 $spacing4;
    border-radius: 24px;
    max-height: 36px;

    @include m-theme() {
      border: 1px solid themed($m-borderColor--primary);
    }
    .m-featuredEntityRow__chipBadgeText {
      @include body2Regular;
    }

    .m-featuredEntityRow__deleteIcon {
      display: flex;
      width: 16px;
      height: 16px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;

      @include body3Medium;

      @include m-theme() {
        background-color: themed($m-borderColor--primary);
        color: themed($m-textColor--primary);
      }

      &:hover {
        @include m-theme() {
          background-color: themed($m-alert);
        }

        @include m-on-theme(light) {
          color: color-by-theme($m-white-always, 'light');
        }

        @include m-on-theme(dark) {
          color: color-by-theme($m-black-always, 'dark');
        }
      }
    }
  }
}
