@import 'defaults.scss';

:host {
  .m-twoFactor_passwordConfirmationForm {
    display: flex;
    flex-flow: column nowrap;

    label {
      font-size: 15px;
      font-weight: 400;
      margin-bottom: 20px;

      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }

    input {
      width: 100%;
      border-radius: 2px;

      @include m-theme() {
        color: themed($m-textColor--primary);
      }
    }

    m-button {
      margin: 20px 0 0 0;
      justify-content: flex-end;
      display: flex;
    }
  }
}
