<div class="m-marketing m-mobile--marketing">

  <div class="m-marketing--hero">
    <div class="m-marketing--hero--video">
        <img [src]="minds.cdn_assets_url + 'assets/photos/circles.png'">
    </div>

    <div class="m-marketing--hero--inner">

      <div class="m-marketing--hero--slogans">

        <h2>
          Minds Android App
        </h2>

      </div>

      <div class="m-marketing--hero--actions">
        <i class="material-icons m-mobile__giantDroid">android</i>
      </div>

    </div>

  </div>

  <section class="m-marketing--section" style="background-color: #fff; padding-bottom: 0; padding-top: 0">

    <div class="m-marketing--section--subsection m-marketing--section--subsection--first">
      <div class="m-marketing--section--subsection-container">
        <div class="m-marketing--section--subsection-left m-marketing--section--subsection-text">
          <div class = "mdl-grid">
            <div class = "mdl-cell mdl-cell--12-col ">
              <h2>Latest - 3.1.2</h2>
              <p>Released: 28th January 2019 -
                <a href="https://cdn-assets.minds.com/android/minds-3_1_2.apk?ref=com" target="_blank">
                  Download
                </a>
              </p>
              <ul class="m-mobile--marketing--list">
                <li>Bug fixes</li>
              </ul>
              <ul class="m-mobile--marketing--list m-mobile--marketing--list--hashes">
                <li>MD5: 1a7c3ced78e957460e475473b265f100</li>
                <li>SHA256: 9f262c97b822884e1f19150d994b8edca425b5de8a8c9b1e9f0d3d230499e7f0</li>
                <li>SHA512: 8413a6c6ec7ec2292bc8adbc6d1e720047d9d071be03cd28ac65eadff3939993d9b9982330db9decabedc5122d76f4f1ed41d601c97c93c575347c4402d6cfaa</li>
              </ul>
            </div>
            <div class = "mdl-cell mdl-cell--12-col ">
              <h2>Latest - 3.1.1</h2>
              <p>Released: 22th January 2019 -
                <a href="https://cdn-assets.minds.com/android/minds-3_1_1.apk?ref=com" target="_blank">
                  Download
                </a>
              </p>
              <ul class="m-mobile--marketing--list">
                <li>Group gatherings</li>
                <li>Hashtags for blogs and groups</li>
                <li>Bug fixes</li>
              </ul>
              <ul class="m-mobile--marketing--list m-mobile--marketing--list--hashes">
                <li>MD5: f58a5bb0b67c5cac9d674fece66c514e</li>
                <li>SHA256: 0ead96c1a9c31fd686767d4a45fa46f0ec1635fd16938035b111f6341dc572dc</li>
                <li>SHA512: 649d067417cd9bb7ba5ae30b2ffe20d6683bfba8362de676f747586a7e5ba6c85e5b159e3237b9187ccc289668179c51002230c1fa86c4cbcc680ec8dad1f60f</li>
              </ul>
            </div>
          </div>

        </div>
        <div class="m-marketing--section--subsection-right m-marketing--section--subsection-image" style="text-align: center">
          <img [src]="minds.cdn_assets_url + 'assets/logos/bulb.jpg'" />
        </div>
      </div>
    </div>

  </section>



</div>

<m-footer></m-footer>
