@import 'defaults.scss';
@import 'spacing.scss';

:host {
  padding: 0 $spacing5;

  .m-aux__hero {
    background-image: url('../../../../assets/product-pages/nodes/nodes-1.jpg');
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
  }
  .m-aux__mobile__downloadPlatform {
    h2 {
      margin-top: 40px;
    }
  }
  .m-aux__mobile__downloadOption {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 45px;
    }
    img {
      max-width: 200px;
      min-width: 175px;
    }

    li {
      margin-bottom: 6px;
    }

    [class*='m-aux__mobile__downloadButton'] {
      margin-bottom: 20px;
      &:not(.m-aux__mobile__downloadButton--iOS) {
        margin-left: -12px;
      }
      &[class*='--iOS'] {
        margin-top: 22px;
        margin-bottom: 30px;
      }
      &[class*='--playStore'] {
        margin-top: -4px;
      }
    }
  }
  .m-aux__mobile__showMobile {
    margin-top: 8px;
    @media screen and (min-width: $max-mobile + 1) {
      display: none;
    }
  }
  h2 {
    line-height: 1.3em;
  }
  h3 {
    margin-bottom: 0px;
  }
  .m-aux__mobile__changes {
    li {
      margin-bottom: 4px;
    }
  }
  .m-aux__mobile__hashes {
    list-style-type: circle;

    li {
      font-size: 12px;
      margin-bottom: 0px;
      font-style: italic;
      word-break: break-all;
    }
  }
  .m-aux__mobile__canaryNote {
    font-size: 12px;
    line-height: 13px;
  }

  // revised styling

  .m-marketing {
    padding: 0 45px;

    @include mobile-only {
      padding: 0 23px;
    }

    @include tablet-only {
      padding: 0 23px;
    }

    &__header {
      h1 {
        font-weight: bold;
        font-size: 32px;

        @include mobile-only {
          margin-bottom: 10px;
        }

        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }

      p {
        line-height: 1.4em;

        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }
    }

    &__group {
      h2 {
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 0;

        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }

      p {
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }
    }

    &__grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__gridItem {
      @include mobile-only {
        width: calc(100% - 10px);
        margin-bottom: 25px;
      }

      width: calc(50% - 10px);
      @include m-theme() {
        background: themed($m-bgColor--primary);
      }
      border-radius: 5px;
      @include m-theme() {
        border: 1px solid themed($m-borderColor--primary);
      }
      margin-bottom: 20px;

      @include m-theme() {
        color: themed($m-textColor--secondary);
      }

      display: flex;
      flex-direction: column;
      align-items: center;

      &Title {
        text-align: left;
        width: calc(100% - 40px);
        padding: 20px 20px 10px 20px;
        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }

      &Image {
        padding: 25px 10px;
        text-align: center;

        @include mobile-only {
          img {
            width: 80%;
            height: inherit;
          }
        }

        @include tablet-only {
          img {
            width: 80%;
            height: inherit;
          }
        }
      }

      &Actions {
        width: 100%;
        padding: 13px 0;
        text-align: center;
        @include m-theme() {
          border-top: 1px solid themed($m-borderColor--primary);
        }
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile-only {
          flex-direction: column;
        }

        @include tablet-only {
          flex-direction: column;
        }

        a {
          @include m-theme() {
            color: themed($m-textColor--secondary);
          }
          text-decoration: none;
          padding: 0 7px;
          align-self: center;

          @include mobile-only {
            padding: 7px 0;
          }

          @include tablet-only {
            padding: 7px 0;
          }

          &:hover {
            text-decoration: underline;
          }
        }

        i {
          @include m-theme() {
            color: themed($m-textColor--secondary);
          }
          font-size: 22px;
          padding-right: 1px;
          height: 100%;
          vertical-align: middle;
          padding-top: 1px;
        }
      }
    }
  }
}
