:host {
  font-weight: 400;
  font-size: 13px;

  .m-grid__row {
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;

    & span {
      margin-left: 10px !important;
    }
  }

  .m-progress__title {
    font-size: 14px;
    font-weight: 600;
  }

  .m-progress__container {
    display: table;
    justify-content: center;
    margin-top: 10px;
    border-top: 1px solid #414c57;
    padding-top: 12px;
    width: 100%;

    .m-progress__container-row {
      display: flex;
      width: 100%;
      padding-left: 16px;
      padding-right: 16px;
      box-sizing: border-box;
    }

    .m-progress__container-row-center {
      justify-content: center;
    }

    .m-progress__container-row-between {
      justify-content: space-between;
      margin-top: 18px;
    }

    img {
      width: 15px;
      border-radius: 50%;
      background: white;
      padding: 4px;
      height: 17px;
    }

    .m-progress-amount {
      min-width: 86px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}
