@import 'defaults.scss';

:host {
  .m-tabs__container {
    padding: 0 $spacing4;
  }

  h3 {
    @include heading1Bold;
    margin-top: $spacing9;
    padding-left: $spacing4;
  }

  .m-pageLayout__pane--main {
    width: 100%;
  }

  ::ng-deep .m-supermindConsole__settingsButtonIcon {
    @include heading3Regular;
  }
}
