@import 'defaults.scss';

:host {
  .m-tabs__container {
    padding: 0 $spacing4;
  }

  h3 {
    @include heading1Bold;
    margin-top: $spacing9;
    padding-left: $spacing4;
  }

  .m-pageLayout__pane--main {
    width: 100%;
  }

  .m-supermindConsole__singleSupermindGoBack {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
    padding: $spacing4;

    @include body2Regular;

    @include m-theme() {
      border-top: 1px solid themed($m-borderColor--primary);
      border-bottom: 1px solid themed($m-borderColor--primary);

      &:hover {
        background-color: themed($m-bgColor--primaryAlt);
      }
    }

    i {
      @include _heading4;
      margin-right: $spacing2;
    }
  }

  ::ng-deep .m-supermindConsole__settingsButtonIcon {
    @include heading3Regular;
  }
}
