@import 'defaults.scss';

:host {
  .m-groups--tile__avatar {
    width: 150px;
    height: 150px;
    margin: auto;

    .m-groups--tile__avatarImg {
      background-position: center;
      background-size: cover;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      box-sizing: border-box;

      @include m-theme() {
        border: 1px solid themed($m-borderColor--primary);
      }
    }
  }
}
