@import 'defaults.scss';

:host {
  .m-groups--tile__avatar {
    width: 150px;
    height: 150px;
    margin: auto;

    .m-groups--tile__avatarImg {
      background-position: center;
      background-size: cover;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      box-sizing: border-box;

      @include m-theme() {
        border: 1px solid themed($m-borderColor--primary);
      }
    }
  }

  .m-groups--tile-block {
    margin-top: 75px;
    position: relative;
    z-index: 2;
    display: block;
    text-align: center;
    text-decoration: none;

    h3.m-groups--tile__groupName {
      @include heading3Bold;
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
      margin: $spacing4 0 $spacing2 0;
      padding: 0 $spacing4;
    }

    span {
      font-family: 'Jost', Helvetica, sans-serif;
      text-transform: capitalize;
      letter-spacing: 0.25px;
      @include m-theme() {
        color: themed($m-grey-600);
      }
    }
  }
}
