<div class="m-networkBridgeTxHistoryItem-container">
  <div class="mdl-cell mdl-cell--1-col" *ngIf="isSuccess(item)">
    <i
      class="material-icons m-networkBridgeTxHistoryItem-container-img m-networkBridgeTxHistoryItem-container-img-success"
      >done</i
    >
  </div>
  <div class="mdl-cell mdl-cell--1-col" *ngIf="isPendingAction(item)">
    <i
      class="material-icons m-networkBridgeTxHistoryItem-container-img m-networkBridgeTxHistoryItem-container-img-pending"
      >hourglass_empty</i
    >
  </div>
  <div class="mdl-cell mdl-cell--1-col" *ngIf="isActionRequired(item)">
    <i
      class="material-icons m-networkBridgeTxHistoryItem-container-img m-networkBridgeTxHistoryItem-container-img-action_required"
      >priority_high</i
    >
  </div>
  <div
    class="mdl-cell mdl-cell--7-col m-networkBridgeTxHistoryItem-container-text "
  >
    <div>
      <span class="m-networkBridgeTxHistoryItem-container-text-bold">{{
        isDeposit(item) ? 'Deposit' : 'Withdraw'
      }}</span>
      <span class="m-networkBridgeTxHistoryItem-container-text-light">
        · {{ formatDate(item.timestamp) }}
      </span>
    </div>
    <span class="m-networkBridgeTxHistoryItem-container-text-light">
      {{ item.status | titlecase }} ·
      {{
        isDeposit(item) ? 'From Mainnet to Polygon' : 'From Polygon to Mainnet'
      }}
    </span>
  </div>
  <div class="mdl-cell mdl-cell--2-col">
    <span class="m-networkBridgeTxHistoryItem-container-amount"
      >{{ formatAmount(item.amount) }} Minds</span
    >
  </div>
  <div
    class="mdl-cell mdl-cell--2-col m-networkBridgeTxHistoryItem-container-arrow"
    *ngIf="isSuccess(item)"
  >
    <a
      *ngIf="getExplorerUrl(item)"
      [href]="getExplorerUrl(item)"
      target="_blank"
    >
      <i
        (click)="getExplorerUrl(item)"
        class="material-icons m-networkBridgeTxHistoryItem-container-arrow-color "
        >call_made</i
      >
    </a>
  </div>
  <div
    class="mdl-cell mdl-cell--2-col m-networkBridgeTxHistoryItem-container-arrow"
    *ngIf="isPendingAction(item)"
  >
    <i class="material-icons m-networkBridgeTxHistoryItem-container-arrow-color"
      >chevron_right</i
    >
  </div>
</div>
