@import 'defaults.scss';


.m-channel--action-buttons minds-button-user-dropdown button {
  border: 0 !important;
}

.m-channel-bio-field {
  div > i {
    vertical-align: middle;
  }

  div > span {
    vertical-align: middle;
    font-size: 11px;
    padding: 4px 7px;
    margin: 2px 2px;
    border-radius: 3px;
    display: inline-block;
    @include m-theme(){
       border: 1px solid themed($m-grey-50);
    }
  }
  .m-channel-bio-field__tags-container {
    text-align: center;

    i {
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
      font-size: 11px;
      padding: 4px 7px;
      margin: 2px 2px;
      border-radius: 3px;
      display: inline-block;
      @include m-theme(){
         border: 1px solid themed($m-grey-50);
      }
    }
  }
}
.m-channel--action-buttons {
  // @media screen and (max-width: $min-desktop) and (min-width: $min-tablet){
  //   m-messenger--channel-button {
  //     span {
  //       display:none;
  //     }
  //   }
  // }


  @media screen and (max-width: $max-mobile * 1.25) {
    m-messenger--channel-button {
      display: none;
    }
  }
}