@import 'themes';
@import 'defaults';

.m-pulsating--small {
  box-shadow: 0 0 0 red;
  animation: pulse--small 1.5s infinite;
}

.m-pulsating--big {
  box-shadow: 0 0 0 red;
  animation: pulse--big 2s infinite;
}

@keyframes pulse--small {
  20% {
    box-shadow: 0 0 0 0 rgba(244, 67, 54, 0.6);
  }
  99% {
    box-shadow: 0 0 0 7px rgba(244, 67, 54, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(244, 67, 54, 0);
  }
}

// ***************************************

@keyframes pulse--big {
  0% {
    box-shadow: 0 0 0 0 rgba(244, 67, 54, 0.4);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(244, 67, 54, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(244, 67, 54, 0);
  }
}

// ***************************************

@keyframes blinkingEllipsis {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
    transform: scale(1.02);
  }
  100% {
    opacity: 0.2;
    transform: scale(0.95);
  }
}

.m-blinkingEllipsis__container {
  span {
    display: inline-block;
    height: 8px;
    width: 8px;
    margin: 0 6px;
    border-radius: 50%;
    animation-name: blinkingEllipsis;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    @include m-theme() {
      background-color: themed($m-textColor--tertiary);
    }
    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}
