@import "defaults";

.m-layout__hero, .m-layout__section {
    width: 100%;
}

.m-layout__inner {
  padding: 115px 52px;
  margin: auto;
  max-width: 1280px;

  @media screen and (max-width: 1000px){
    padding: 120px 16px;
  }
  @media screen and (max-width: $max-mobile) {
    padding: 62px 12px;
  }
}

.m-layout--row, .m-layout__row {
  display: flex;
  flex-direction: row;
}

.m-layout--wrap, .m-layout__wrap {
  flex-wrap: wrap;
}

.m-layout--cell, .m-layout__cell {
  flex: 1;
}

.m-layout--column, .m-layout__column {
  display: flex;
  flex-direction: column;
}

.m-layout--spacer, .m-layout__spacer{
  flex: 1;
}
