@import "defaults";

.m-layout--row {
  display: flex;
  flex-direction: row;
}

.m-layout--wrap {
  flex-wrap: wrap;
}

.m-layout--cell {
  flex: 1;
}

.m-layout--column {
  display: flex;
  flex-direction: column;
}

.m-layout--spacer{
  flex: 1;
}
