@import "../defaults.scss";

.m-content-sidebar-nav{

  .m-content-sidebar-nav-item{

    list-style:none;

    > a{
      display:block;
      text-decoration:none;
      text-transform:uppercase;
      padding:$minds-padding;
      cursor:pointer;

      &.is-active{
        border-left: 3px solid #ffca28;
      }

    }
  }
}


.m-footer-nav{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
  margin:0;
  padding:0;

  .m-footer-nav-item{

    list-style:none;

    > a{
      display:block;
      text-decoration:none;
      text-transform:uppercase;
      cursor:pointer;
      font-size:11px;
      padding:0 $minds-padding;
      color: #888;
    }
  }
}
