@import 'defaults.scss';

:host {
  .m-onboardingWidget__container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    border-radius: 2px;
    margin-bottom: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    @include m-theme() {
      background-color: themed($m-bgColor--primary);
      border: 1px solid themed($m-blue);
    }

    .m-onboardingWidget__header {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 20px;
      align-items: center;

      @include m-theme() {
        border-bottom: 1px solid themed($m-borderColor--primary);
      }

      .m-onboardingWidget__title {
        font-size: 16px;
        font-weight: 700;
      }
    }

    .m-onboardingWidget__body {
      padding: 15px 20px;

      .m-onboardingWidget__progressBarContainer {
        width: 100%;
        border-radius: 25px;
        height: 8px;
        margin-bottom: 16px;

        @include m-theme() {
          background-color: themed($m-bgColor--contrast);
        }

        .m-onboardingWidget__progressBar {
          height: 100%;
          border-radius: 25px;

          @include m-theme() {
            background-color: themed($m-blue);
          }
        }
      }

      .m-onboardingWidget__stepsContainer {
        display: flex;
        flex-direction: column;

        > * + * {
          margin-top: 16px;
        }

        .m-onboardingWidget__step {
          font-size: 15px;
          font-weight: 500;
          cursor: pointer;

          &.completed {
            text-decoration: line-through;

            @include m-theme() {
              color: themed($m-textColor--secondary);
            }
          }
        }
      }
    }
  }
}
