<div class="m-networkAdminConsolePolicyForm__wrapper">
  <h4
    class="m-networkAdminConsole__title"
    i18n="@@NETWORK_ADMIN_CONSOLE__MODERATION__COMMUNITY_GUIDELINES__TITLE"
  >
    Community guidelines
  </h4>
  <p class="m-networkAdminConsole__subtitle">
    <span
      i18n="
         @@NETWORK_ADMIN_CONSOLE__MODERATION__COMMUNITY_GUIDELINES__DESCRIPTION
      "
      >You have the flexibility to go with our default community guidelines,
      tailor it to suit your specific preferences, or even link to an external
      community guidelines of your own. Choose the option that aligns best with
      your user expectations and take control of the rules that users on your
      network must follow.
    </span>
  </p>
  <m-customPage__form
    [pageType]="CustomPageType.COMMUNITY_GUIDELINES"
  ></m-customPage__form>
</div>
