<div class="m-auth__modal m-modalV2__inner">
  <div class="m-modalV2__header">
    <img
      [src]="cdnAssetsUrl + 'assets/logos/bulb.svg'"
      class="m-modalV2__headerLogoBulb"
    />
    <h2 class="m-modalV2Header__title">
      {{ formDisplay == 'register' ? 'Join Minds' : 'Login' }}
    </h2>
  </div>

  <div class="m-modalV2__body">
    <ng-container *ngIf="formDisplay === 'register'">
      <minds-form-register
        [showTitle]="false"
        [showBigButton]="true"
        [showPromotions]="false"
        [showLabels]="true"
        [showInlineErrors]="true"
        [source]="'auth-modal'"
        (done)="onRegisterDone($event)"
      >
      </minds-form-register>
    </ng-container>
    <ng-container *ngIf="formDisplay === 'login'">
      <minds-form-login
        [showBigButton]="true"
        [showInlineErrors]="true"
        [showLabels]="true"
        [showTitle]="false"
        [source]="'auth-modal'"
        (done)="onLoginDone($event)"
        (doneRegistered)="onRegisterDone($event)"
      >
      </minds-form-login>
    </ng-container>
  </div>
</div>

<m-modalCloseButton [color]="'grey'"></m-modalCloseButton>
