<div class="m-auth__modal m-modalV2__inner">
  <div class="m-modalV2__header">
    <img
      [src]="cdnAssetsUrl + 'assets/logos/bulb.svg'"
      class="m-modalV2__headerLogoBulb"
    />
    <h2 class="m-modalV2Header__title">
      {{ formDisplay == 'register' ? 'Join Minds' : 'Login' }}
    </h2>
  </div>

  <div class="m-modalV2__body">
    <ng-container *ngIf="formDisplay === 'register'">
      <m-registerForm
        [showTitle]="false"
        [showBigButton]="true"
        [showPromotions]="false"
        [showLabels]="true"
        [showInlineErrors]="true"
        [source]="'auth-modal'"
        (done)="onRegisterDone($event)"
        (showLoginForm)="showLoginForm($event)"
      >
      </m-registerForm>
    </ng-container>
    <ng-container *ngIf="formDisplay === 'login'">
      <m-loginForm
        [showBigButton]="true"
        [showInlineErrors]="true"
        [showLabels]="true"
        [showTitle]="false"
        [source]="'auth-modal'"
        (done)="onLoginDone($event)"
        (doneRegistered)="onRegisterDone($event)"
        (showRegisterForm)="showRegisterForm($event)"
      >
      </m-loginForm>
    </ng-container>
  </div>
</div>

<m-modalCloseButton [color]="'grey'"></m-modalCloseButton>
