<m-photoBannerModal title="Order Received">
  <div class="m-modalV2__body">
    <div class="m-orderReceived__body">
      <div class="m-orderReceivedBody__gratitudeBlock">
        <span class="m-orderReceivedGratitudeBlock__text">
          Thank you. We've received your order.
        </span>
      </div>
      <p class="m-orderReceivedBody__estimate">
        It normally takes a few minutes for your order to be delivered. You will
        receive a confirmation email once your order is processed.
      </p>
    </div>
  </div>
</m-photoBannerModal>
