@import 'defaults.scss';

:host {
  .m-modalV2__body {
    overflow: auto !important;
    padding-top: 0px !important;
  }

  .m-orderReceived__body {
    margin: 35px 0;
  }

  .m-orderReceivedBody__footer {
    display: flex;
    flex-wrap: wrap;
    padding: 35px 0 25px 0;

    @include m-theme() {
      border-top: 1px solid themed($m-borderColor--primary);
    }
  }

  .m-orderReceivedBody__gratitudeBlock {
    margin-bottom: 15px;
  }

  .m-orderReceivedGratitudeBlock__text {
    font-weight: 500;
    font-size: 16px;

    @include m-theme() {
      color: themed($m-textColor--primary);
    }
  }

  .m-orderReceivedBody__estimate {
    display: block;
    margin-top: 25px;
    font-size: 16px;
    font-weight: 500;

    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  .m-orderReceivedFooter__infoBlock {
    margin: 0 45px 25px 0;
  }

  .m-orderReceivedInfoBlock__label {
    font-size: 15px;
    font-weight: 500;
    display: block;

    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  .m-orderReceivedInfoBlock__value {
    font-weight: 500;
    font-size: 18px;
    display: block;

    @include m-theme() {
      color: themed($m-textColor--primary);
    }
  }
}
