<m-concertColors__modal title="Order Received">
  <div class="m-modalV2__body">
    <div class="m-orderReceived__body">
      <div class="m-orderReceivedBody__gratitudeBlock">
        <span class="m-orderReceivedGratitudeBlock__text">
          Thank you. We've received your order.
        </span>
      </div>
      <p class="m-orderReceivedBody__estimate">
        It normally takes a few minutes for your order to be delivered. You will
        receive a confirmation email once your order is processed.
      </p>
    </div>
    <!-- <div class="m-orderReceivedBody__footer">
      <div class="m-orderReceivedFooter__infoBlock">
        <span class="m-orderReceivedInfoBlock__label">Payment Method</span>
        <span class="m-orderReceivedInfoBlock__value">{{
          orderData.paymentMethod === 'Bank' ? 'Bank' : 'Credit Card'
        }}</span>
      </div>
      <div class="m-orderReceivedFooter__infoBlock">
        <span class="m-orderReceivedInfoBlock__label">Token Amount</span>
        <span class="m-orderReceivedInfoBlock__value">{{
          orderData.tokenAmount | number: '1.1-3'
        }}</span>
      </div>
      <div class="m-orderReceivedFooter__infoBlock">
        <span class="m-orderReceivedInfoBlock__label">Total Payment</span>
        <span class="m-orderReceivedInfoBlock__value"
          >{{ orderData.paymentAmount | currency }}
          {{ orderData.currency }}</span
        >
      </div>
    </div> -->
  </div>
</m-concertColors__modal>
