<div class="m-token--onboarding" *ngIf="!session.getLoggedInUser().rewards">
  <m-token--onboarding--rewards
    skippable="false"
  ></m-token--onboarding--rewards>
</div>

<div
  class="m-border mdl-color--white m-token-withdraw"
  *ngIf="session.getLoggedInUser().rewards"
>
  <p i18n>
    You can request to withdraw up to {available, plural, =1
    {{{available | number}} token} other {{{available | number}} tokens}} from
    your rewards to your <b>OnChain</b> wallet below.
  </p>

  <p *ngIf="withholding" i18n>
    {withholding, plural, =1
    {{{withholding | number}} token} other {{{withholding | number}} tokens}}
    are unavailable due to credit card payment. They will be released after 30
    days the payment occurred.
  </p>

  <p class="m-token-withdraw__note" i18n>
    Note: a small amount of ETH will be charged to cover the transaction fee.
    Withdrawals <b>go through an approval process</b>
    and may take up to 72 hours to complete.
  </p>

  <div class="m-token-withdraw--form">
    <input
      type="text"
      class="m-token-withdraw--input"
      [disabled]="inProgress"
      [ngModel]="amount | number"
      (ngModelChange)="setAmount($event)"
    />

    <button
      class="m-token-withdraw--submit-button"
      [disabled]="!canWithdraw()"
      (click)="withdraw()"
      i18n="@@WALLET__TOKENS__WITHDRAW__WITHDRAW_ACTION"
    >
      Withdraw
    </button>

    <div
      *ngIf="inProgress"
      class="mdl-spinner mdl-js-spinner is-active"
      [mdl]
    ></div>
  </div>

  <p class="m-token-withdraw--error" *ngIf="!!error">
    {{ error }}
  </p>
</div>

<m-wallet-token--withdraw-ledger
  [preview]="true"
></m-wallet-token--withdraw-ledger>
