m-pro--channel--categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 16px 0 32px;

  @media screen and (max-width: $max-mobile) {
    display: none;
  }

  .m-proChannel__category {
    cursor: pointer;
    color: var(--m-pro--text-color);
    background: var(--m-pro--transparent-background-color);

    padding: 4px 8px;
    margin: 0 12px 8px;
    border-radius: 4px;

    text-transform: uppercase;
    letter-spacing: 0.1em;

    &.m-proChannel__selectedCategory {
      color: var(--m-pro--primary-color);
    }
  }
}
