<div class="m-composerPopup__body">
  <div class="m-composerPopup__content">
    <h3 class="m-composerPopup__title" i18n="@@COMMON__MEMBERSHIP_POST">
      Membership Post
    </h3>

    <p
      class="m-composerPopup__text"
      i18n="@@COMPOSER_POPUP__MEMBERSHIP_POST_DESC"
    >
      Make this post available exclusively to paid members. Non-members will see
      the post in a locked paywall form that encourages them to upgrade.
    </p>

    <form [formGroup]="membershipsForm" (ngSubmit)="onSubmit()" *ngIf="init">
      <div formArrayName="memberships">
        <ng-container
          *ngFor="
            let membership of siteMembershipsService.allMemberships$ | async;
            let i = index
          "
        >
          <m-formInput__checkbox
            [formControlName]="i"
            [customId]="'membership-' + i"
          >
            {{ membership.membershipName }}
            {{ membership.membershipPriceInCents / 100 | currency }}
          </m-formInput__checkbox>
        </ng-container>
      </div>

      <m-formInput__checkbox
        formControlName="selectAllMemberships"
        customId="selectAllMemberships"
      >
        All Memberships
      </m-formInput__checkbox>
    </form>
  </div>

  <div class="m-composerPopup__action">
    <m-button
      class="m-composerPopup__save"
      (onAction)="onSubmit()"
      data-ref="tags-save-button"
      i18n="@@COMMON__SAVE"
      size="small"
      color="blue"
    >
      Save
    </m-button>
  </div>
</div>
