@import 'defaults.scss';

:host {
  z-index: 1;

  .m-contentSettings {
    height: 80vh;
    display: flex;
    flex-flow: column;

    @include m-theme() {
      background-color: themed($m-bgColor--primary);
    }

    @media screen and (max-width: $min-tablet) {
      height: 90vh;
    }

    @media screen and (max-width: $max-mobile) {
      height: 100vh;
    }

    &--isOnboarding {
      .m-contentSettings__main {
        height: auto;
        flex-grow: 2;
        @media screen and (max-width: $min-tablet) {
          height: 70%;
        }
      }
      .m-contentSettings__section--subtitle {
        text-align: center;
      }
      .m-contentSettings__section--toolbar {
        @media screen and (max-width: $min-tablet) {
          ::ng-deep m-button {
            margin-right: 0;
            width: 100%;
            .m-button {
              width: 100%;
            }
          }
        }
      }
    }
  }

  span {
    display: block;
  }

  [class*='m-contentSettings__section'],
  ::ng-deep .m-tagSettings__section {
    padding-left: 45px;
    padding-right: 45px;

    @media screen and (max-width: $max-mobile) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .m-contentSettings__section--title {
    padding-top: 45px;
    padding-bottom: 20px;

    @media screen and (max-width: $max-mobile) {
      padding-top: 0;
    }

    .m-contentSettings__title {
      font-size: 24px;
      font-weight: 500;
      @include m-theme() {
        color: themed($m-textColor--primary);
      }

      @media screen and (max-width: $max-mobile) {
        margin-top: 30px;
      }
    }
  }
  .m-contentSettings__section--tabs {
    padding: 30px 0 0 0;

    .m-tabs__container {
      padding: 0 45px;

      @media screen and (max-width: $max-mobile) {
        padding: 0 20px;
      }
    }
  }
  .m-contentSettings__main {
    height: 60%;

    overflow: scroll;
    overflow-x: hidden;
    padding-top: 10px;
    padding-bottom: 30px;

    @media screen and (max-width: $min-tablet) {
      height: 70%;
    }

    .m-contentSettings__section--subtitle {
      margin-bottom: 30px;
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
      @media screen and (max-width: $max-mobile) {
        padding-top: $spacing5;
      }
    }

    .m-contentSettings__formWrapper {
      margin-bottom: $spacing10;
    }
  }
  .m-contentSettings__section--toolbar {
    display: flex;
    justify-content: flex-end;
    padding-top: 25px;
    padding-bottom: 25px;
    @include m-theme() {
      border-top: 1px solid themed($m-borderColor--primary);
    }

    @media screen and (max-width: $max-mobile) {
      padding: $spacing5;
      margin-bottom: $spacing4;
    }
  }
}
