.m-ledger-entry {
  width: auto;
  min-height: 0;
  margin-bottom: $minds-padding * 2;

  .m-ledger-amount {
    font-size: 30px;

    &.positive{
      color: green;
    }

    &.negative{
      color: red;
    }
  }

  .m-ledger-details {
    display: flex;

    p {
      margin: 0;
    }

    .ts {
      font-size: 11px;
      padding-left: $minds-padding;
    }
  }
}
