<m-button
  [solid]="true"
  [borderless]="true"
  color="blue"
  [size]="size"
  (onAction)="onClick($event)"
>
  <ng-container *ngIf="iconOnly; else btnText">
    <m-icon
      from="md"
      iconId="tips_and_updates"
      [sizeFactor]="1.25"
      [rem]="true"
    ></m-icon>
  </ng-container>
  <ng-template #btnText>
    <span #projectedContent><ng-content></ng-content></span>
    <!-- Default text displays only if projected content is empty -->
    <span *ngIf="!projectedContent.children.length">Supermind</span>
  </ng-template>
</m-button>
