<ng-container *ngIf="boost && boost.entity; else postUnavailable">
  <div class="m-boost__listItem__topBar">
    <div class="m-boostConsole__listItem__topBarLeft">
      <m-chipBadge>{{ amountBadgeText }}</m-chipBadge>
      <m-boostConsole__stateLabel [boost]="boost"></m-boostConsole__stateLabel>
    </div>
    <a
      *ngIf="boost.payment_txid"
      class="m-boostConsole__listItem__topBarHref"
      [href]="receiptUrl"
      target="_blank"
      >View Receipt</a
    >
  </div>
  <m-activity
    [entity]="boost.entity"
    [canDelete]="false"
    [displayOptions]="displayOptions"
    [autoplayVideo]="false"
    [canRecordAnalytics]="false"
  ></m-activity>
  <div class="m-boostConsole__listItem__bottomBar">
    <div class="m-boostListItem__offerInformation">
      <span
        *ngIf="context === 'outbox' && boost.receiver_entity"
        class="m-boostListItem__targetInformation"
      >
        <span i18n="@@BOOST_CONSOLE_LIST_ITEM__OFFER_TARGET">Target: </span>
        <a [href]="'/' + boost.receiver_entity.username" target="_blank"
          >@{{ boost.receiver_entity.username }}</a
        >
        <span class="m-boostListItem__targetInformation--separator"
          >&ensp;·&ensp;</span
        >
      </span>
      <span class="m-boostListItem__requirementsLabel">
        <span i18n="@@BOOST_CONSOLE_LIST_ITEM__REQUIREMENTS"
          >Requirements:
        </span>
        <span class="m-boostListItem__requirementsText">{{
          requirementsText
        }}</span>
      </span>
    </div>
    <m-boostConsole__actionButtons
      [boost]="boost"
    ></m-boostConsole__actionButtons>
  </div>
</ng-container>
<ng-template #postUnavailable>
  <div
    class="m-boostConsole__listItem__postUnavailable"
    data-ref="boost-list-item-unavailable"
  >
    <span>Boosted post unavailable</span>
  </div>
</ng-template>
