<ng-container *ngIf="!(loading$ | async); else loadingSpinnerTemplate">
  <div
    class="m-walletCreditsTransactionHistory__header"
    *ngIf="giftCard$ | async as giftCard"
  >
    <i
      [routerLink]="['..']"
      class="material-icons m-walletCreditsTransactionHistory__backArrow"
      data-ref="gift-card-transaction-history-back-button"
      >arrow_back</i
    >
    <div class="m-walletCreditsTransactionHistory__cardSummary">
      <p class="m-walletCreditsHistory__summaryProductName">
        {{ getProductNameByProductId(giftCard.productId) }}
      </p>
      <p class="m-walletCreditsHistory__summaryExpiryDate">
        <span>{{ isExpired(giftCard) ? 'Expired' : 'Expires' }}&nbsp;</span>
        <span>{{ giftCard.expiresAt * 1000 | date: mediumDate }}</span>
      </p>
    </div>
  </div>

  <p
    class="m-walletCreditsHistory__description"
    i18n="@@WALLET__GIFT_CARD_TX_HISTORY__VIEW_ALL_TXS_MADE"
  >
    You can view all your transactions made with this gift.
  </p>

  <m-walletTransactionsTable
    [currency]="'credits'"
    [transactions]="formattedTransactions$ | async"
  ></m-walletTransactionsTable>

  <infinite-scroll
    *ngIf="hasNextPage$ | async as hasNextPage"
    (load)="fetchMore()"
    [moreData]="hasNextPage"
    [inProgress]="fetchMoreInProgress$ | async"
  ></infinite-scroll>
</ng-container>
<ng-template #loadingSpinnerTemplate>
  <m-loadingSpinner [inProgress]="true"></m-loadingSpinner>
</ng-template>
