m-topbar--navigation--options {
  padding-right: 16px;
}

m-topbar--navigation--options m-dropdown {
  .m-dropdown--label-icon {
    font-size: 18px;
    cursor: pointer;
    @include m-theme() {
      color: themed($m-grey-800);
    }
  }

  m-tooltip i.material-icons {
    font-size: 16px;
    margin: 0 8px;
    @include m-theme() {
      color: themed($m-grey-400);
    }
  }

  .mdl-switch {
    width: 38px;
  }
}
