.m-commentsEntityOutlet__expand {
  font-weight: 600;
  padding: 0 20px;
  @include m-theme() {
    color: themed($m-textColor--tertiary);
  }
  cursor: pointer;
}

m-comments__entityOutlet {
  .m-comment--poster {
    padding-bottom: 0;
  }
}
