.m-commentsEntityOutlet__expand,
.m-commentsEntityOutlet__expand--hide {
  font-weight: 400;
  padding: 0 20px 6px;
  @include m-theme() {
    color: themed($m-blue);
  }
  cursor: pointer;

  &.m-commentsEntityOutlet__expand--hide {
    @include m-theme() {
      color: themed($m-textColor--tertiary);
    }
  }
}

m-comments__entityOutlet {
  .m-comment--poster {
    padding-bottom: 0;
  }
}
