@import 'defaults.scss';

:host {
  display: block;

  .m-commentsEntityOutlet__expand {
    @include m-theme() {
      color: themed($m-link-text);
    }
  }
  .m-commentsEntityOutlet__expand--hide {
    @include m-theme() {
      color: themed($m-textColor--tertiary);
    }
  }

  .m-commentsEntityOutlet__expand,
  .m-commentsEntityOutlet__expand--hide {
    @include m-theme() {
      color: themed($m-link-text) !important;
    }
    font-weight: 500;
    padding: 0 20px 6px;
    cursor: pointer;
  }
  .m-commentsEntityOutlet__topBar {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 15px 20px;
  }
  .m-commentsEntityOutlet__header {
    display: flex;
    align-items: baseline;

    span {
      cursor: pointer;
      font-weight: 500;
      font-size: 16px;

      @include m-theme() {
        color: themed($m-textColor--secondary);
      }

      &:not(.m-commentsEntityOutlet__title) {
        &::before {
          content: '·';
          margin: 0 5px;
          @include m-theme() {
            color: themed($m-textColor--secondary);
          }
        }
      }

      &.m-commentsEntityOutlet__title {
        font-size: 20px;
        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }
      &.m-commentsEntityOutlet__addComment {
        @include m-theme() {
          color: themed($m-blue);
        }
      }
    }
  }
  .m-commentsEntityOutlet__filter {
    cursor: pointer;
    i {
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }
  }

  .m-comments__startConversation {
    display: flex;
    justify-content: space-around;
    margin: 40px auto 50px;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }
}
