<ng-container *mIfFeature="'matrix'">
  <m-sidebarWidget title="Canary Update" dismissibleId="matrix">
    <div class="m-sidebarWidget__body">
      <p class="m-chatSidebarPrompt__text" i18n="@@CHAT_SIDEBAR__PROMPT">
        Our new encrypted chat is now live in Canary! Click <b>Chat</b> in the
        main navigation to test it and give us feedback. The old messenger can
        be turned back on in
        <a routerLink="/settings/account/messenger">settings</a>.
      </p>
    </div>
  </m-sidebarWidget>
</ng-container>
