m-homepage__registerForm {
  display: block;
  filter: drop-shadow(-1px 0px 8px rgba(50, 50, 0, 0.5));

  .m-homepage__registerForm {
    display: block;
    background-color: #fcfcfc;
    padding: 50px 37px;

    clip-path: polygon(0 0, 100% 10px, 100% 95%, 0% 100%);

    h3 {
      font-size: 24px;
      line-height: 32px;
      font-weight: bold;
    }

    form.mdl-card {
      background: transparent !important;
    }

    span,
    label {
      font-size: 14px;
      line-height: 19px;
    }

    label.mdl-checkbox {
      display: flex;
      align-items: center;
    }

    .m-homepage__joinButtonContainer {
      display: flex;
      justify-content: flex-end;

      padding-top: 30px;
    }
  }
}
