<div
  class="m-composer__base"
  [class.m-composer__base--withPreview]="
    (attachmentPreviews$ | async)?.length > 0 || (richEmbedPreview$ | async)
  "
  [class.m-composer__base--withAudioPreview]="
    (attachmentPreviews$ | async)?.[0]?.sourceType === 'audio'
  "
  [class.m-composer__base--membershipPreviewPane]="
    showMembershipPreviewPane$ | async
  "
  [class.m-composer__base--small]="isCompactMode$ | async"
  m-clientMeta
>
  <div
    class="m-composerBase__container"
    *ngIf="
      !(showMembershipPreviewPane$ | async);
      else siteMembershipPostPreview
    "
    m-dragAndDrop
    (onFileDropped)="onAttachmentPaste($event)"
    [disabled]="(remind$ | async) ? true : false"
  >
    <m-composer__titleBar
      [inputId]="textareaId"
      (onCreateBlog)="createBlog()"
    ></m-composer__titleBar>

    <div class="m-composerBase__topActionRow">
      <m-composer__audienceSelectorButton
        *ngIf="isModal && !(isEditing$ | async)"
      ></m-composer__audienceSelectorButton>
      <m-composer__boostToggle
        *ngIf="shouldShowBoostToggle$ | async"
      ></m-composer__boostToggle>
    </div>

    <div class="m-composerBase__scrollableArea">
      <m-composer__textArea
        [inputId]="textareaId"
        [isModal]="isModal"
        (filePaste)="onAttachmentPaste($event)"
        [compactMode]="isCompactMode$ | async"
        #textAreaComponent
      ></m-composer__textArea>

      <m-composer__previewWrapper></m-composer__previewWrapper>
      <m-composer__livestream></m-composer__livestream>
      <m-composerPreview--quote
        *ngIf="remind$ | async"
      ></m-composerPreview--quote>
    </div>
    <m-composer__toolbar
      (onPost)="onPost($event)"
      [isModal]="isModal"
    ></m-composer__toolbar>
  </div>

  <ng-template #siteMembershipPostPreview>
    <div class="m-composerBase__container">
      <m-composer__siteMembershipPostPreview
        (onPost)="onPost($event)"
        [isModal]="isModal"
      ></m-composer__siteMembershipPostPreview>
    </div>
  </ng-template>

  <m-composer__popup #popupComponent></m-composer__popup>
</div>

<ng-template #scrollableArea> </ng-template>
