@import 'defaults.scss';

// Not using color themes mix-in because everything
// is the same in both light mode and dark mode
:host {
  display: block;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 522px;
  width: 60%;

  @include z-index(popover--modal);

  .m-toaster__toastsContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
  }
  .m-toasterContainer__spacer {
    height: 24px;
  }
  .m-toaster__wrapper {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    border-radius: 2px;
    transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1) !important;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
    overflow: hidden;
    max-height: 500px;

    @include m-theme() {
      color: themed($m-textColor--primary);
    }

    @include m-on-theme(light) {
      background-color: #fff;
    }
    @include m-on-theme(dark) {
      background-color: #1e242a;
    }

    p {
      font-size: 14px;
      line-height: 17px;
      flex-grow: 1;
      margin: 20px 18px 20px 0;
      word-wrap: break-word;
      overflow: hidden;
      font-weight: 500;
    }
  }
  .m-toaster__spacer {
    height: 16px;
  }

  [class*='m-toaster__iconWrapper--'] {
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 24px;
    }
    &:not(.m-toaster__iconWrapper--close) {
      align-self: stretch;
      min-width: 58px;
    }
  }
  .m-toaster__iconWrapper--success i {
    color: #59a05e;
  }
  .m-toaster__iconWrapper--error i {
    color: #ca4a34;
  }
  .m-toaster__iconWrapper--warning i {
    color: #d49538;
  }
  .m-toaster__iconWrapper--info i {
    color: #5a91bb;
  }
  .m-toaster__iconWrapper--close {
    cursor: pointer;
    align-self: start;
    margin: 16px 19px 0 0;
    transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
    &:hover {
      transform: scale(1.1);
    }
    i {
      opacity: 0.8;
      font-size: 24px;
    }
  }

  @media screen and (max-width: $max-mobile) {
    m-toaster {
      width: 100%;
      bottom: 0;
    }
    .m-toaster__wrapper {
      border-radius: 0;
    }
    .m-toaster__spacer {
      height: 8;
    }

    .m-toasterContainer__spacer {
      height: 0px;
    }
  }
}
