@import 'defaults.scss';

:host {
  ::ng-deep m-dropdownMenu {
    &.m-postMenu__button {
      padding: 0 6px;
      i {
        font-size: 24px;
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }

        transition: 0.15s color ease-out;

        &:hover {
          @include m-theme() {
            color: themed($m-textColor--primary);
          }
        }
      }
    }
  }
}
