<m-dropdownMenu
  [menu]="dropdownMenu"
  [anchorPosition]="{ top: '-20%', right: '0' }"
  class="m-postMenu__button"
  ><i (click)="onButtonClick($event)" class="material-icons">{{
    icon
  }}</i></m-dropdownMenu
>

<ng-template #dropdownMenu>
  <ul>
    <m-dropdownMenu__item
      *ngIf="options.indexOf('view') !== -1"
      (click)="onSelectedOption('view')"
    >
      <span i18n="@@M__ACTION__VIEW">
        View
      </span>
    </m-dropdownMenu__item>
    <m-dropdownMenu__item
      *ngIf="shouldShowEdit()"
      (click)="onSelectedOption('edit')"
    >
      <span i18n="@@M__ACTION__EDIT_POST">
        Edit Post
      </span>
    </m-dropdownMenu__item>
    <m-dropdownMenu__item
      *ngIf="options.indexOf('share') !== -1"
      (click)="onSelectedOption('share')"
    >
      <span i18n="@@M__ACTION__SHARE">
        Share
      </span>
    </m-dropdownMenu__item>
    <m-dropdownMenu__item
      *ngIf="shouldShowDownload()"
      (click)="onSelectedOption('download')"
    >
      <span i18n="@@COMMON__POST_MENU__DOWNLOAD">
        Download
      </span>
    </m-dropdownMenu__item>

    <ng-container *ngIf="service.canPin$ | async">
      <m-dropdownMenu__item
        *ngIf="
          options.indexOf('pin') !== -1 && (service.isPinned$ | async) === false
        "
        (click)="onSelectedOption('pin')"
      >
        <span i18n="@@M__ACTION__PIN">
          Pin
        </span>
      </m-dropdownMenu__item>
      <m-dropdownMenu__item
        *ngIf="
          options.indexOf('pin') !== -1 && (service.isPinned$ | async) === true
        "
        (click)="onSelectedOption('pin')"
      >
        <span i18n="@@M__ACTION__REMOVE_PIN">
          Remove pin
        </span>
      </m-dropdownMenu__item>
    </ng-container>
    <m-dropdownMenu__item
      *ngIf="options.indexOf('translate') !== -1 && isTranslatable"
      (click)="onSelectedOption('translate')"
    >
      <span i18n="@@M__ACTION__TRANSLATE">Translate</span>
    </m-dropdownMenu__item>
    <!-- SUBSCRIBE -->
    <ng-container *ngIf="options.indexOf('subscribe') !== -1">
      <m-dropdownMenu__item
        *ngIf="service.showSubscribe$ | async"
        (click)="onSelectedOption('subscribe')"
      >
        <span i18n="@@M__ACTION__SUBSCRIBE">Subscribe</span>
      </m-dropdownMenu__item>
      <m-dropdownMenu__item
        *ngIf="service.showUnSubscribe$ | async"
        (click)="onSelectedOption('unsubscribe')"
      >
        <span i18n="@@COMMON__POST_MENU__UNSUBSCRIBE">
          Unsubscribe
        </span>
      </m-dropdownMenu__item>
    </ng-container>

    <!-- NOTIFICATIONS -->
    <ng-container *ngIf="options.indexOf('follow') !== -1">
      <m-dropdownMenu__item
        *ngIf="(service.isFollowing$ | async) === null"
        disabled
      >
        <span i18n="@@COMMON__POST_MENU__FOLLOW_NOTIFICATIONS">
          Follow post
        </span>
      </m-dropdownMenu__item>
      <m-dropdownMenu__item
        *ngIf="(service.isFollowing$ | async) === true"
        (click)="onSelectedOption('unfollow')"
      >
        <span i18n="@@COMMON__POST_MENU__UNFOLLOW_NOTIFICATIONS">
          Un-follow post
        </span>
      </m-dropdownMenu__item>
      <m-dropdownMenu__item
        *ngIf="(service.isFollowing$ | async) === false"
        (click)="onSelectedOption('follow')"
      >
        <span i18n="@@COMMON__POST_MENU__FOLLOW_NOTIFICATIONS">
          Follow post
        </span>
      </m-dropdownMenu__item>
    </ng-container>

    <!-- BLOCK -->
    <ng-container
      *ngIf="
        options.indexOf('block') !== -1 &&
        entity.ownerObj.guid != session.getLoggedInUser().guid
      "
    >
      <m-dropdownMenu__item
        *ngIf="(service.isBlocked$ | async) === null"
        disabled
      >
        <span i18n="@@COMMON__POST_MENU__BLOCK_AND_UNBLOCK">
          Block/Unblock
        </span>
      </m-dropdownMenu__item>
      <m-dropdownMenu__item
        *ngIf="(service.isBlocked$ | async) === false"
        (click)="onSelectedOption('block')"
      >
        <span i18n="@@COMMON__POST_MENU__BLOCK">
          Block user
        </span>
      </m-dropdownMenu__item>
      <m-dropdownMenu__item
        *ngIf="(service.isBlocked$ | async) === true"
        (click)="onSelectedOption('unblock')"
      >
        <span i18n="@@COMMON__POST_MENU__UNBLOCK">
          Unblock user
        </span>
      </m-dropdownMenu__item>
    </ng-container>

    <!-- ADMIN EDIT FLAGS -->
    <ng-container *ngIf="options.indexOf('set-explicit') !== -1 && canEdit">
      <m-dropdownMenu__item class="m-postMenu__item--nsfw">
        <m-nsfw-selector
          service="editing"
          [selected]="entity.nsfw"
          (selectedChange)="setNSFWSelected($event)"
        ></m-nsfw-selector>
      </m-dropdownMenu__item>
    </ng-container>

    <!-- INJECTED POST ACTIONS -->
    <div>
      <ng-content select="[post-menu]"></ng-content>
    </div>

    <!-- UNDO REMIND -->
    <m-dropdownMenu__item
      *ngIf="shouldShowUndoRemind()"
      (click)="onSelectedOption('undo-remind')"
    >
      <span i18n="@@M__ACTION__UNDO_REMIND">
        Undo Remind
      </span>
    </m-dropdownMenu__item>
    <!-- DELETE -->
    <m-dropdownMenu__item
      *ngIf="shouldShowDelete()"
      (click)="onSelectedOption('delete')"
      red="true"
    >
      <span i18n="@@M__ACTION__DELETE_POST">
        Delete Post
      </span>
    </m-dropdownMenu__item>
    <!-- REPORT -->
    <m-dropdownMenu__item
      *ngIf="
        options.indexOf('report') !== -1 &&
        entity.owner_guid != session.getLoggedInUser().guid
      "
      (click)="onSelectedOption('report')"
      red="true"
    >
      <span i18n="Report as notify something@@M__ACTION__REPORT_POST">
        Report Post
      </span>
    </m-dropdownMenu__item>
  </ul>
</ng-template>
