<div class="list tutorial-items">

  <div class="item item-icon-left item-text-wrap">
    <i class="icon ion-compass"></i>
    <p>Find people in cities around the world with geo-discovery.</p>
  </div>

  <div class="item item-icon-left item-text-wrap">
    <i class="icon ion-person-add"></i>
    <p>Swipe right to subscribe, swipe left to pass.</p>
  </div>

  <div class="item item-icon-left item-text-wrap">
   <i class="icon ion-chatboxes"></i>
   <p>If you subscribe to each other, you can chat.</p>
  </div>

  <div class="item item-icon-left item-text-wrap">
   <i class="icon ion-compose"></i>
   <p>Share photos, videos and news.</p>
  </div>

  <div class="item item-icon-left item-text-wrap">
   <i class="icon ion-search"></i>
   <p>Discover great videos, images, blogs and statuses.</p>
  </div>

  <div class="item item-icon-left item-text-wrap">
   <i class="icon icon-bank"></i>
   <p>Earn points for using the app.</p>
  </div>

  <div class="item item-icon-left item-text-wrap">
   <i class="icon ion-arrow-graph-up-right"></i>
   <p>Exchange your points to boost your subscribers and content.</p>
  </div>


  <div class="item item-divider">
    Rewards
  </div>

  <div class="item item-icon-left item-icon-right item-text-wrap">
    <i class="icon ion-thumbsup"></i>
    <p>Vote</p>
    <i class="icon icon-green">+1</i>
  </div>

  <div class="item item-icon-left item-icon-right item-text-wrap">
    <i class="icon ion-thumbsup"></i>
    <p>Receive a vote</p>
    <i class="icon icon-green">+1</i>
  </div>

  <div class="item item-icon-left item-icon-right item-text-wrap">
    <i class="icon ion-chatbox"></i>
    <p>Comment</p>
    <i class="icon icon-green">+1</i>
  </div>

  <div class="item item-icon-left item-icon-right item-text-wrap">
    <i class="icon ion-person-add"></i>
    <p>Subscribe</p>
    <i class="icon icon-green">+1</i>
  </div>

  <div class="item item-icon-left item-icon-right item-text-wrap">
    <i class="icon ion-reply"></i>
    <p>Pass</p>
    <i class="icon icon-green">+1</i>
  </div>

  <div class="item item-icon-left item-icon-right item-text-wrap">
    <i class="icon ion-compose"></i>
    <p>Status update</p>
    <i class="icon icon-green">+10</i>
  </div>

  <div class="item item-icon-left item-icon-right item-text-wrap">
    <i class="icon ion-key"></i>
    <p>Daily login</p>
    <i class="icon icon-green">+10</i>
  </div>

</div>
