<div class="m-suggestions__sidebar">
  <h3 class="m-newsfeedSidebar__header">Suggested groups</h3>
  <ul class="m-suggestionsSidebar__list m-border">
    <li *ngFor="let entity of entities" class="m-suggestionsSidebarList__item">
      <a [routerLink]="['/', entity.username]">
        <div
          class="m-suggestionsSidebarListItem__avatar"
          [style.background-image]="
            'url(' + cdnUrl + '/icon/' + entity.guid + ')'
          "
        ></div>
        <div class="m-suggestionsSidebarListItem__body">
          <div [title]="entity.briefdescription">
            <h4>{{ entity.username }}</h4>
            <span>{{ entity.briefdescription }}</span>
          </div>
          <div class="m-layout__spacer"></div>
          <i
            class="material-icons m-suggestionsSidebarListItem__passBtn"
            (click)="remove(entity)"
            >close</i
          >

          <button
            class="m-btn m-btn--slim m-btn--join-group"
            *ngIf="
              !entity['is:banned'] &&
              !entity['is:awaiting'] &&
              !entity['is:invited'] &&
              !entity['is:member']
            "
            (click)="join(entity)"
            i18n="@@GROUPS__JOIN_BUTTON__JOIN_ACTION"
          >
            <ng-container *ngIf="!inProgress">Join</ng-container>
            <ng-container *ngIf="inProgress">Joining</ng-container>
          </button>
          <button
            class="m-btn m-btn--slim subscribed "
            *ngIf="entity['is:member']"
            (click)="leave(entity)"
            i18n="@@GROUPS__JOIN_BUTTON__LEAVE_ACTION"
          >
            Leave
          </button>
          <button
            class="m-btn m-btn--slim awaiting"
            *ngIf="entity['is:awaiting']"
            (click)="cancelRequest(entity)"
            i18n="@@GROUPS__JOIN_BUTTON__CANCEL_REQ_ACTION"
          >
            Cancel request
          </button>
        </div>
      </a>
    </li>
  </ul>
</div>
