<div class="m-suggestions__sidebar">
  <h3 class="m-newsfeedSidebar__header">Suggested groups</h3>
  <ul class="m-suggestionsSidebar__list m-border">
    <li *ngFor="let entity of entities" class="m-suggestionsSidebarList__item">
      <a [routerLink]="['/', entity.username]">
        <div
          class="m-suggestionsSidebarListItem__avatar"
          [style.background-image]="
            'url(' + cdnUrl + '/icon/' + entity.guid + ')'
          "
        ></div>
        <div class="m-suggestionsSidebarListItem__body">
          <div [title]="entity.briefdescription">
            <h4>{{ entity.username }}</h4>
            <span>{{ entity.briefdescription }}</span>
          </div>
          <div class="m-layout__spacer"></div>
          <i
            class="material-icons m-suggestionsSidebarListItem__passBtn"
            (click)="remove(entity)"
            >close</i
          >

          <m-button
            class="m-btn--join-group"
            size="xsmall"
            *ngIf="
              !entity['is:banned'] &&
              !entity['is:awaiting'] &&
              !entity['is:invited'] &&
              !entity['is:member']
            "
            (onAction)="join(entity)"
            [saving]="inProgress"
          >
            <ng-container i18n="@@COMMON__JOIN">Join</ng-container>
          </m-button>
          <m-button
            class="subscribed"
            size="xsmall"
            *ngIf="entity['is:member']"
            (onAction)="leave(entity)"
            i18n="@@GROUPS__JOIN_BUTTON__LEAVE_ACTION"
            >Leave</m-button
          >
          <m-button
            size="xsmall"
            class="awaiting"
            *ngIf="entity['is:awaiting']"
            (onAction)="cancelRequest(entity)"
            i18n="@@GROUPS__JOIN_BUTTON__CANCEL_REQ_ACTION"
            >Cancel request</m-button
          >
        </div>
      </a>
    </li>
  </ul>
</div>
