<m-settingsV2__header>
  <div class="m-settingsV2__headerLabel">
    <span i18n="@@SETTINGS__PRO__ASSETS__LABEL">Assets</span>
  </div>
  <div class="m-settingsV2__desc" i18n="@@SETTINGS__PRO__ASSETS__DESCRIPTION">
    Upload custom logo and background images.
    <a class="m-form__upgradeLink" routerLink="/pro" *ngIf="!isActive"
      >Upgrade to Pro</a
    >
  </div>
</m-settingsV2__header>

<div *ngIf="init" class="m-formLayout--buttonRight">
  <div class="m-form__fieldsContainer">
    <div class="m-form__field--asset">
      <div class="m-form__row--label">
        <label for="logo" i18n="@@COMMON__LOGO">Logo</label>
        <m-tooltip
          ><span m-tooltip--anchor>𝒊</span
          ><ng-container i18n="@@SETTINGS__PRO__ASSETS__LOGO_TOOLTIP"
            >This will be displayed on the top left of your site</ng-container
          ></m-tooltip
        >
      </div>

      <div class="m-form__row--input">
        <label
          for="logo"
          class="m-form__filePreview--logo"
          [ngStyle]="{
            backgroundColor: settings.plain_background_color
          }"
        >
          <input
            class="form-control"
            type="file"
            id="logo"
            name="logo"
            accept="image/*"
            (change)="onAssetFileSelect('logo', logoField.files)"
            #logoField
            data-ref="m-settingsProAssets__logo"
          />

          <img
            *ngIf="getPreviewAssetSrc('logo')"
            [src]="getPreviewAssetSrc('logo')"
          />

          <span class="m-form__filePreviewOverlay">
            <i class="material-icons">cloud_upload</i>
          </span>
        </label>
      </div>
    </div>

    <div class="m-form__field--asset">
      <div class="m-form__row--label">
        <label for="background" i18n="@@COMMON__BACKGROUND_IMAGE"
          >Background Image</label
        >
        <m-tooltip
          ><span m-tooltip--anchor>𝒊</span
          ><ng-container i18n="@@SETTINGS__PRO__ASSETS__BACKGROUND_TOOLTIP"
            >This will be displayed as the background of your site</ng-container
          ></m-tooltip
        >
      </div>

      <div class="m-form__row--input">
        <label for="background" class="m-form__filePreview--background">
          <input
            class="form-control"
            type="file"
            id="background"
            name="background"
            accept="image/*"
            (change)="onAssetFileSelect('background', backgroundField.files)"
            #backgroundField
            data-ref="m-settingsProAssets__background"
          />
          <img
            *ngIf="getPreviewAssetSrc('background')"
            [src]="getPreviewAssetSrc('background')"
          />
          <span
            class="m-form__filePreviewOverlay"
            [ngClass]="{
              'm-form__filePreviewOverlay--show': showFilePreviewOverlay()
            }"
          >
            <i class="material-icons">cloud_upload</i>
          </span>
        </label>
      </div>
    </div>
  </div>
  <div class="m-form__buttonsContainer">
    <m-button
      color="blue"
      [disabled]="!canSubmit()"
      [saving]="inProgress"
      (onAction)="submit()"
      i18n="@@SETTINGS__PRO__ASSETS__SAVE_ASSETS"
    >
      Save Assets
    </m-button>
  </div>
</div>
