<div class="m-activity__ownerBlock m-legible">
  <!-- ---------------------------- -->
  <!-- AVATAR: MINIMAL MODE / SIDEBAR BOOSTS / MODALS ONLY  -->
  <div
    class="m-activityOwnerBlock__avatar"
    *ngIf="minimalMode || isSidebarBoost"
  >
    <m-hovercard [publisher]="owner" [offset]="[0, 15]">
      <a [routerLink]="['/', username]">
        <img [src]="avatarUrl" class="m-border" />
      </a>
    </m-hovercard>

    <div
      *ngIf="minimalMode"
      class="m-activityOwnerBlock__remindIcon--minimalMode"
    >
      <i class="material-icons">repeat</i>
    </div>
  </div>
  <!-- ---------------------------- -->

  <div class="m-activityOwnerBlock__body">
    <a class="m-activityOwnerBlock__displayName" [routerLink]="['/', username]">
      <span [title]="displayName">{{ displayName | truncate: 15 }}</span>

      <m-channel--badges
        class="m-channel--badges-activity m-activityOwnerBlockDisplayName__badges"
        [user]="owner"
        badges="[ 'admin', 'verified' ]"
      ></m-channel--badges>
    </a>
    <ng-container *ngIf="group">
      <!-- Show group name-->
      <a
        [routerLink]="['/groups/profile', group.guid]"
        class="m-activityOwnerBlock__groupName"
      >
        <span [title]="group.name">({{ group.name }})</span>
      </a>
    </ng-container>
    <ng-container *ngIf="!group && !isSidebarBoost">
      <!-- @username -->
      <a [routerLink]="['/', username]" class="m-activityOwnerBlock__username">
        <span [title]="username">@{{ username }}</span>
      </a>
    </ng-container>

    <span *ngIf="!isSidebarBoost && !isModal" class="m-activityOwnerBlock__dot"
      >·</span
    >
    <m-activityV2__permalink
      *ngIf="!isModal && !minimalMode && !isSingle"
    ></m-activityV2__permalink>
  </div>

  <div class="m-activityOwnerBlock__right">
    <m-activityV2__metrics
      *ngIf="session.getLoggedInUser().guid == entity.ownerObj.guid"
    ></m-activityV2__metrics>
    <m-activityV2__badges></m-activityV2__badges>
    <m-activityV2__menu
      (deleted)="deleted.emit()"
      *ngIf="
        service.displayOptions.showPostMenu && (service.isLoggedIn$ | async)
      "
    ></m-activityV2__menu>
  </div>
</div>
