@import 'defaults.scss';

:host {
  display: block;

  // *********************************
  // ** FEED **
  // *********************************

  .m-activity--isFeed & {
    .m-activity__ownerBlock {
      width: 103%;
    }
  }

  // *********************************
  // ** GUEST MODE **
  // *********************************

  .m-activity--guestMode & {
    .m-activity__ownerBlock {
      width: 100% !important;
    }
  }

  // *********************************
  // ** MINIMAL MODE **
  // *********************************

  &.m-activity__ownerBlock--minimalMode {
    .m-activity__ownerBlock {
      width: 100%;
    }
    &.m-activity__ownerBlock--groupPost {
      .m-activityOwnerBlock__body {
        display: flex;
        flex-direction: column;
      }
    }

    padding-left: $spacing4;
    padding-right: $spacing2;

    .m-activityOwnerBlock__avatar {
      ::ng-deep m-hovercard {
        img {
          height: 35px;
          width: 35px;
          @include border;
        }
      }
      .m-activityOwnerBlock__remindIcon--minimalMode {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        height: 17px;
        width: 17px;
        @include m-theme() {
          background-color: themed($m-bgColor--contrast);
        }
        i {
          font-weight: 700;
          font-size: 11px;
          @include m-theme() {
            color: themed($m-link);
          }
        }
      }
    }
    .m-activityOwnerBlock__displayName,
    .m-activityOwnerBlock__groupName {
      margin-left: $spacing2;
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }

    .m-activityOwnerBlock__right {
      display: none;
    }
  }

  // *********************************
  // ** MODAL **
  // *********************************
  m-activityV2__modal & {
    .m-activity__ownerBlock {
      padding: 20px $activitySpacing--modal 0;
    }

    a.m-activityOwnerBlock__groupName {
      margin-left: 0;
      span {
        @include body2Regular;
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }
    }
  }

  // *********************************
  // ** SIDEBAR BOOST **
  // *********************************

  m-ads-boost & {
    .m-activity__ownerBlock {
      padding: $activitySpacing--minimalMode;
    }
    .m-activityOwnerBlock__body {
      display: flex;
      flex-direction: column;
      overflow: visible;
    }
    .m-activityOwnerBlockPermalink__text {
      padding: 0;
    }

    .m-activityOwnerBlock__dot {
      display: none;
    }
  }

  // *********************************
  // ** SINGLE **
  // *********************************

  m-newsfeed--single & {
    .m-activity__ownerBlock {
      width: 105%;
    }
    ::ng-deep m-activityV2__views {
      display: none;
    }
  }

  // *********************************
  // *********************************
  // *********************************
  // ** DEFAULT **
  // *********************************
  // *********************************
  // *********************************

  .m-activity__ownerBlock {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: $spacing2;
    box-sizing: border-box;
  }

  ::ng-deep {
    .m-activityOwnerBlock__avatar {
      align-self: center;
      padding-right: $spacing2;
      position: relative;
      img {
        border-radius: 50%;
        width: $activityAvatarWidth;
        height: $activityAvatarWidth;
        object-fit: cover;
      }
    }
  }

  .m-activityOwnerBlock__body {
    flex: 1;
    align-self: center;
    overflow: hidden;

    > a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .m-activityOwnerBlock__right {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
  }

  a.m-activityOwnerBlock__displayName,
  a.m-activityOwnerBlock__groupName {
    display: inline-flex;

    @include m-theme() {
      color: themed($m-textColor--primary);
    }

    span {
      @include body1Bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    > * {
      display: inline-flex;
      vertical-align: middle;
      max-width: 100%;
      text-overflow: ellipsis;
    }

    &:hover {
      .m-activityOwnerBlock__remindIcon {
        text-decoration: none;
      }
    }
  }

  a.m-activityOwnerBlock__groupName {
    margin-left: $spacing1;
  }

  a.m-activityOwnerBlock__username span,
  .m-activityOwnerBlock__dot {
    @include body2Regular;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  .m-activityOwnerBlock__username {
    padding-left: $spacing1;
    @media screen and (max-width: $max-mobile) {
      display: none;
    }
  }

  .m-activityOwnerBlock__dot {
    padding: 0 $spacing1;
  }

  .m-activityOwnerBlock__groupName {
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }

  .m-activityOwnerBlock__remindIcon {
    font-size: 18px;
    vertical-align: middle;
    @include m-theme() {
      color: themed($m-link);
    }
  }

  ::ng-deep m-activityV2__views {
    @media screen and (max-width: $max-mobile) {
      display: none;
    }
  }
}
