m-wallet--balance-money, m-wallet--balance-reward, m-wallet--balance-tokens {
  display: block;
}

.m-wallet--balance {
  width: auto;
  min-height: 0;
  padding: ($minds-padding * 4) $minds-padding;
  text-align: center;
  background: #FFF;

  h3 {
    font-weight: 600;
    color: #444;
  }
  i {
    color: #444 !important;
  }

  i {
    width: 100%;
    font-size: 100px;
    text-align: center;
  }

  h2 {
    text-align: center;
    font-weight: 600;
    color: #4690DF;
  }
}

.m-wallet--balance--addresses {
  padding: 0 8px;
  .m-wallet--balance--addresses-address {
    display: flex;
    flex-direction: row;
    align-items: center;

    .m-wallet--balance--addresses-address-label {
      font-weight: 600;
      font-family: 'Roboto';
      letter-spacing: 0.25px;
      color: #444;
    }
    .m-wallet--balance--addresses-address-address {
      font-size: 10px;
      color: #888;
      font-weight: 300;
    }
    * {
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
    }
    .m-wallet--balance--addresses-address-balance: {
      font-size: 16px;
      font-weight: 600;
      color: #4690DF;
    }
  }
  .m-wallet--balance--addresses-address-col {
    text-align: left;
  }
}
