m-walletSettings--eth {
  .m-walletSettings--eth__balanceWrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 260px;
    margin-top: 56px;
    & > div {
      margin-right: 24px;
    }

    @media screen and (max-width: $max-mobile) {
      margin-top: 34px;
    }
  }

  .m-walletSettings--eth__balanceLabel {
    font-size: 16px;
    line-height: 21px;
    margin: 0 0 3px 0;
  }
  .m-walletSettings--eth__balanceVal {
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    @include m-theme() {
      color: themed($m-textColor--primary);
    }
  }
}
