<div class="m-walletSettings" *ngIf="wallet">
  <h2>Ether Address</h2>
  <p>
    Your Ether address is the same as your on-chain address.<m-tooltip
      icon="help"
    >
      Why? On-chain tokens run on the Ethereum network and require Ether to
      send.
    </m-tooltip>
  </p>
  <p>
    To view or change your address, go to
    <a (click)="scrollToTokenSettings.emit()">token settings</a>.
  </p>
  <div *ngIf="wallet.onchain.address">
    <div>
      <p class="m-walletForm__row--label">Ether total</p>
      <p>{{ wallet.eth.balance }}</p>
    </div>
    <m-shadowboxSubmitButton [routerLink]="['/token', { purchaseEth: 'open' }]">
      Buy Ether
    </m-shadowboxSubmitButton>
  </div>
</div>
