<div class="m-walletSettings">
  <h2>Ether Address</h2>
  <p>
    🚧 WIP! See
    <a href="https://gitlab.com/minds/ux-design/ux/issues/26" target="_blank"
      >UX issue #26</a
    >
    🚧
  </p>
  <p>
    Your Ether address is the same as your on-chain address.<m-tooltip
      icon="help"
    >
      <ng-container i18n
        >🚧 Placeholder: Why? On-chain tokens run on the Ethereum network and
        require Ether to send 🚧</ng-container
      >
    </m-tooltip>
  </p>
  <p></p>

  <p>
    To view or change your address, go to
    <a click="scrollToTokenSettings())">token settings</a>.
  </p>
</div>
