@import 'defaults.scss';

:host .m-wireCreator__toolbar {
  padding: 30px 40px;
  margin: 26px 0 0;
  border-top: 1px solid;

  @media screen and (max-width: $max-mobile) {
    padding: 30px 20px;
  }

  @include m-theme() {
    border-color: themed($m-borderColor--primary);
  }

  @media screen and (max-width: $min-desktop) {
    flex-flow: column;
    align-items: start;

    > * + * {
      margin-top: $spacing4;
    }
  }

  .m-wireCreatorToolbar__message {
    flex: 1;
    font-size: 14px;
    line-height: 19px;
    text-align: right;

    .m-wireCreatorToolbarMessage__error {
      padding: 0 20px 0 40px;

      @include m-theme() {
        color: themed($m-alert);
      }
    }

    @media screen and (max-width: $min-desktop) {
      text-align: left;

      .m-wireCreatorToolbarMessage__error {
        padding: unset;
      }
    }
  }

  m-button {
    @media screen and (max-width: $min-desktop) {
      min-width: initial;
      width: 100%;

      ::ng-deep button {
        width: 100%;
      }
    }
  }
}
