m--crypto-token-symbol {
  display: inline-block;
  font-size: 1em;

  &.m--crypto-token-symbol--thin {
    .m--crypto-token-symbol--stroke {
      stroke-width: 8px;
    }
  }

  .m--crypto-token-symbol--stroke {
    @include m-theme() {
      stroke: themed($m-white);
    }
  }

  .m--crypto-token-symbol--fill {
    @include m-theme() {
      fill: themed($m-white);
    }
  }
}
