<!-- START: Actions -->
<div class="m-settings--section m-layout--row m-border m-settings--action">
  <div
    class="minds-error mdl-color--red mdl-color-text--white"
    [hidden]="!error"
  >
    {{ error }}
  </div>
  <div class="m-layout--spacer"></div>

  <button
    class="m-btn m-btn--slim m-btn--action"
    [disabled]="!canSubmit()"
    [hidden]="saved || inProgress"
    (click)="save()"
  >
    <ng-container i18n="@@M__ACTION__SAVE">Save</ng-container>
  </button>
  <button class="m-btn m-btn--slim" [hidden]="!saved">
    <ng-container i18n="@@M__COMMON__SAVED">Saved</ng-container>
  </button>
  <div
    id="p2"
    class="mdl-spinner mdl-js-spinner is-active"
    [mdl]
    [hidden]="!inProgress"
  ></div>
</div>

<!-- START: NAME -->
<div class="m-settings--section m-border m-settings--name">
  <h4 i18n="@@MINDS__SETTINGS__DISPLAY_NAME_TITLE">Display Name</h4>
  <div class="mdl-card__supporting-text">
    <input
      class="m-input"
      type="name"
      id="name"
      name="name"
      [(ngModel)]="name"
      (keyup)="change()"
    />
  </div>
</div>
<!-- END: NAME -->

<!-- START: PASSWORD -->
<div class="m-settings--section m-border m-settings--password">
  <h4 i18n="@@MINDS__SETTINGS__ACCOUNT_PASSWORD_TITLE">Account Password</h4>

  <div class="mdl-card__supporting-text">
    <div
      class="mdl-textfield mdl-js-textfield mdl-textfitexteld--floating-label"
      [mdlTextfield]
    >
      <input
        class="mdl-textfield__input"
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        (keyup)="change()"
      />
      <label
        class="mdl-textfield__label"
        for="password"
        i18n="@@MINDS__SETTINGS__CURRENT_PASSWORD_LABEL"
        >Current password</label
      >
    </div>

    <div
      class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
      [mdlTextfield]
    >
      <input
        class="mdl-textfield__input"
        type="password"
        id="password1"
        name="password1"
        [(ngModel)]="password1"
        [disabled]="!password"
        (keyup)="change()"
      />
      <label
        class="mdl-textfield__label"
        for="password1"
        i18n="@@MINDS__SETTINGS__NEW_PASSWORD_LABEL"
        >Your new password</label
      >
    </div>

    <div
      class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
      [mdlTextfield]
    >
      <input
        class="mdl-textfield__input"
        type="password"
        id="password2"
        name="password2"
        [(ngModel)]="password2"
        [disabled]="!password"
        (keyup)="change()"
      />
      <label
        class="mdl-textfield__label"
        for="password2"
        i18n="@@MINDS__SETTINGS__NEW_PASSWORD_AGAIN_LABEL"
        >Your new password again</label
      >
    </div>
  </div>
</div>
<!-- END: PASSWORD -->

<!-- START: MATURE CONTENT -->
<div class="m-settings--section m-border m-settings--mature">
  <h4 i18n="@@MINDS__SETTINGS__MATURE_CONTENT_TITLE">Mature Content</h4>
  <div class="mdl-card__supporting-text">
    <input
      type="checkbox"
      id="flag_mature"
      (click)="change()"
      name="mature"
      [(ngModel)]="mature"
    />
    <i class="material-icons m-material-icons-inline mdl-color-text--red-500"
      >explicit</i
    >
    <label for="flag_mature">
      <ng-container i18n="@@MINDS__SETTINGS__MATURE_CONTENT_LABEL"
        >Always show mature content (18+)</ng-container
      >
    </label>
  </div>
</div>
<!-- END: MATURE CONTENT -->

<!-- START: TOASTER NOTIFICATIONS -->
<div class="m-settings--section m-border m-settings--toaster">
  <h4 i18n="@@MINDS__SETTINGS__TOASTER_TITLE">Notifications</h4>
  <div class="mdl-card__supporting-text">
    <input
      type="checkbox"
      id="flag_toaster"
      (click)="change()"
      name="toaster_notifications"
      [(ngModel)]="toaster_notifications"
    />
    <label for="flag_toaster">
      <ng-container i18n="@@MINDS__SETTINGS__TOASTER_LABEL"
        >Enable toaster notifications</ng-container
      >
    </label>
  </div>
</div>
<!-- END: TOASTER NOTIFICATIONS -->

<!-- START: LANGUAGE  -->
<div class="m-settings--section m-border m-settings--language">
  <h4 i18n="@@MINDS__SETTINGS__LANGUAGE_SETTINGS_TITLE">Language Settings</h4>
  <div class="mdl-card__supporting-text">
    <ng-container i18n="@@MINDS__SETTINGS__SITE_LANGUAGE_LABEL"
      >Site language:</ng-container
    >
    <select
      name="language"
      [ngModel]="language"
      (ngModelChange)="language = $event; change()"
    >
      <option *ngFor="let language of languages" [value]="language.code">{{
        language.name
      }}</option>
    </select>
  </div>
</div>

<!-- END: LANGUAGE -->

<!-- START: SHARE BUTTONS  -->
<div class="m-settings--section m-border m-settings--share-buttons">
  <h4 i18n="@@MINDS__SETTINGS__SHARE_BUTTONS_TITLE">Share Buttons</h4>
  <div class="mdl-card__supporting-text">
    <input
      type="checkbox"
      id="show_share_buttons"
      (click)="change()"
      name="show_share_buttons"
      [(ngModel)]="show_share_buttons"
    />
    <label for="show_share_buttons">
      <ng-container i18n="@@MINDS__SETTINGS__SHOW_SHARE_BUTTONS_LABEL">
        Show share buttons
      </ng-container>
    </label>
  </div>
</div>

<!-- END: SHARE BUTTONS -->

<!-- START: SESSIONS -->
<div class="m-settings--section m-border m-settings--close-all-sessions">
  <h4 i18n="@@MINDS__SETTINGS__SESSIONS">Sessions</h4>

  <p i18n="@@MINDS__SETTINGS__YOU_CURRENTLY_HAVE_X_OPENED">
    You currently have {{ openSessions }} opened
    <span *ngIf="openSessions > 1; then sessionsBlock; else sessionBlock"></span
    >.
  </p>
  <ng-template #sessionsBlock i18n="@@MINDS__SETTINGS__SESSIONS"
    >sessions</ng-template
  >
  <ng-template #sessionBlock i18n="@@MINDS__SETTINGS__SESSION"
    >session</ng-template
  >
  <button
    class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-color--red"
    (click)="closeAllSessions()"
  >
    <ng-container i18n="@@MINDS__SETTINGS__CLOSE_ALL_SESSIONS_CONFIRM"
      >Close All Sessions</ng-container
    >
  </button>
</div>
<!-- END: SESSIONS -->
