m-governance--filter-selector {
  margin-right: 7px;
    label {
      cursor: pointer;
      font-size: 16px;
      text-transform: capitalize;
      span {
        text-transform: none;
      }
  }
  .m-governance-filter-container {
    margin-top: 20px;
  }
}
