<div class="m-governance-filter-container">
  <m-dropdown #dropdown>
    <label i18n="@@HELPDESK__EDIT__CATEGORIES__TITLE">
      {{ filter === '' ? 'All' : filter }} 
      <span>outcomes</span>
      <m-icon
        class="
          material-icons
          m-dropdown--label-icon m-dropdown--label-icon-inactive
        "
        iconId="arrow_drop_down"
      ></m-icon>

      <m-icon
        class="
          material-icons
          m-dropdown--label-icon m-dropdown--label-icon-active
        "
        iconId="arrow_drop_up"
      ></m-icon>
    </label>

    <ul class="m-dropdown--list">
      <li
        class="m-dropdown--list--item"
        [class.m-dropdown--list--item--selected]="filter === ''"
        (click)="dropdown.toggle(); selectCategory('')"
      >
        All outcomes
      </li>

      <li
        class="m-dropdown--list--item"
        [class.m-dropdown--list--item--selected]="filter === 'active'"
        (click)="dropdown.toggle(); selectCategory('active')"
      >
        Active outcomes
      </li>

      <li
        class="m-dropdown--list--item"
        [class.m-dropdown--list--item--selected]="filter === 'pending'"
        (click)="dropdown.toggle(); selectCategory('pending')"
      >
        Pending outcomes
      </li>

      <li
        class="m-dropdown--list--item"
        [class.m-dropdown--list--item--selected]="filter === 'closed'"
        (click)="dropdown.toggle(); selectCategory('closed')"
      >
        Enacted outcomes
      </li>
    </ul>
  </m-dropdown>
</div>
