m-governance--filter-selector {
  margin-right: 7px;
  .mdl-cell {
    label {
      cursor: pointer;
      font-size: 16px;
      text-transform: capitalize;
      span {
        text-transform: none;
      }
    }
  }
}
