<!--<div class="m-proChannelList__algorithm">-->
<!--  <a [routerLink]="['/pro', channelUsername, getTypeForRoute(type), 'hot']" routerLinkActive="active" i18n>-->
<!--    <i class="material-icons">whatshot</i>-->
<!--    <span i18n>HOT</span>-->
<!--  </a>-->

<!--  <a [routerLink]="['/pro', channelUsername, getTypeForRoute(type), 'top']" routerLinkActive="active" i18n>-->
<!--    <i class="material-icons">trending_up</i>-->
<!--    <span i18n>TOP</span>-->
<!--  </a>-->

<!--  <a [routerLink]="['/pro', channelUsername, getTypeForRoute(type), 'latest']" routerLinkActive="active" i18n>-->
<!--    <i class="material-icons">timelapse</i>-->
<!--    <span i18n>LATEST</span>-->
<!--  </a>-->
<!--</div>-->

<div class="m-proChannelList__content">
  <ul class="m-proChannelListContent__list" [class.m-proChannelListContent__normalList]="type === 'activities'">
    <li *ngFor="let entity of entities">
      <ng-container *ngIf="type === 'images' || type === 'videos' || type === 'blogs'">
        <m-pro--channel-tile
          [entity]="entity"
        ></m-pro--channel-tile>
      </ng-container>
      <ng-container *ngIf="type === 'groups'">
        <m-newsfeed__entity
          [entity]="entity">

        </m-newsfeed__entity>
      </ng-container>

      <ng-container *ngIf="type === 'activities'">
        <minds-activity
          [object]="entity">

        </minds-activity>
      </ng-container>
    <li
      class="m-proChannelListContentList__seeMore"
      *ngIf="entities.length != 0"
      [routerLink]="seeMoreRoute"
      i18n
  >
      See more
    </li>
  </ul>
  <ng-container *ngIf="entities.length == 0">
    <div class="m-proChannelListContent__noContent" i18n>There's nothing to show</div>
  </ng-container>
  <ng-container *ngIf="type === 'activities'">
    <pre *ngFor="let entity of entities"></pre>
    <!-- talk to Emi about this -->
  </ng-container>
</div>
