m-pro--channel-list {
  h1 {
    font-size: 72px;
    font-weight: 600;
    margin: 0 0 0.4em;
  }

  m-pro--channel--categories {
    margin: 16px 0 32px;

    @media screen and (max-width: 480px) {
      margin: 8px;
    }
  }

  .m-proChannelList__tools {
    height: 70px;
    border-radius: 20px;
    opacity: 0.9;
    font-size: 16px;
    font-family: Roboto, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;

    .m-proChannelListTools__algorithm {
      width: fit-content;

      a {
        margin-right: 10px;
        text-decoration: none;
      }

      i {
        vertical-align: middle;
        margin-right: 8px;
        font-size: 18px;
        color: #444 !important;
      }
    }

    .m-proChannelListTools__searchResult {
      font-weight: 300;
      color: var(--m-pro--text-color);
      font-size: 20px;
    }
  }

  .m-proChannelList__content {
    width: 85%;
    margin: 0 auto;
    justify-content: center;

    & > i.material-icons {
      font-size: 100px;
      margin-top: 100px;
      height: fit-content;
    }
  }

  .m-proChannelListContent__noContent {
    max-width: 200px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    padding: 8px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--m-pro--transparent-background-color);
    color: var(--m-pro--text-color);
  }

  .m-proChannelListContentList__seeMore {
    color: var(--m-pro--text-color);
    background-color: var(--m-pro--transparent-background-color);

    font-size: 30px;
    text-align: center;
    vertical-align: middle;

    cursor: pointer;

    min-height: 220px;

    > span {
      display: block;
      width: 100%;
    }
  }

  ul.m-proChannelListContent__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
    padding: 0;

    &.m-proChannelListContent__normalList {
      grid-template-columns: 1fr;

      & > li {
        max-width: 500px;
        justify-self: center;

        &.m-proChannelListContentList__seeMore {
          width: 500px;
        }

        minds-activity {
          min-width: 100%;
        }
      }
    }

    & > li {
      display: flex;
      justify-content: center;
      align-items: center;

      m-newsfeed__entity {
        width: 100%;
        height: 100%;

        .m-groups--tile {
          width: 100%;
          height: 100%;

          h3, i {
            color: #444 !important;
          }

          .m-groups--tile-block {
            margin-top: 0;
          }

          .m-groups--tile-buttons {
            padding: 0 $minds-padding * 2;
          }
        }
      }

      & > video {
        width: 250px;
        max-width: 100%;
      }
    }
  }

  .m-proChannelList__loader {
    text-align: center;
    margin: 16px 0;
  }
}
