<div class="m-modalV2__inner">
  <div class="m-modalV2__mobileTopBar" *ngIf="contextText">
    <h4 class="m-connectTwitterModal__mobileTopBar">
      {{ contextText }}
    </h4>
  </div>
  <div class="m-modalV2__header">
    <h4 class="m-connectTwitterModal__header">
      {{ titleText }}
    </h4>
  </div>
  <div class="m-modalV2__body">
    <p class="m-connectTwitterModal__body">{{ bodyText }}</p>
  </div>
  <div class="m-modalV2__footer">
    <m-button
      size="small"
      color="blue"
      solid="true"
      (onAction)="onConnectClick($event)"
      [saving]="false"
      i18n="connect to twitter|@@CONNECT_TWITTER_MODAL__CONNECT_TWITTER"
      >Connect Twitter</m-button
    >
  </div>
</div>

<m-modalCloseButton [color]="'grey'"></m-modalCloseButton>
