@import 'defaults.scss';

:host {
  .m-modalV2__inner {
    .m-modalV2__header {
      .m-connectTwitterModal__header {
        margin-top: 0;

        @include heading2Bold;
        @include m-theme() {
          color: themed($m-textColor--primary);
        }

        @media screen and (max-width: $max-mobile) {
          @include heading4Bold;
        }
      }
    }
    .m-modalV2__body {
      .m-connectTwitterModal__body {
        @include body2Regular;
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }
    }

    .m-modalV2__footer {
      display: flex;
      justify-content: end;
      margin-bottom: $spacing3;
      margin: 0 $spacing11 $spacing8 $spacing11;
    }
  }

  // ojm temp!!!
  // ALL of this should be on modal-v3.component.scss

  .m-modalV2__mobileTopBar {
    display: none;
  }
  @media screen and (max-width: $max-mobile) {
    // .modal-dialog {
    //   margin: 0;
    //   min-height: 100% !important;
    // }
    // .modal-content {
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   bottom: 0;
    //   left: 0;
    // }

    // .m-modalV2__inner {
    //   display: flex;
    //   flex-direction: column;
    //   height: 100%;
    // }
    .m-modalV2__mobileTopBar {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 100px;
      @include m-theme() {
        border-bottom: 1px solid themed($m-borderColor--primary);
      }

      h4 {
        @include heading2Bold;
        margin: 0;
        padding: $spacing5 0;
      }
    }
    .m-modalV2__header {
      padding: $spacing8 $spacing9 0 $spacing5;
      h4 {
        @include heading4Bold;
        margin-bottom: $spacing2;
      }
    }

    .m-modalV2__body {
      padding: 0 $spacing9 $spacing5 $spacing5;
    }

    .m-modalV2__footer {
      margin: 0 $spacing5 $spacing19 !important;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      ::ng-deep m-button {
        width: 100%;
        .m-button {
          width: 100%;
        }
      }
    }

    ::ng-deep m-modalCloseButton {
      &:not(.noAbsolutePosition) {
        a {
          top: $spacing10 !important;
          left: $spacing3;
          right: auto !important;
          @include m-theme() {
            background-color: transparent !important;
            color: themed($m-textColor--secondary);
          }
        }
        i {
          font-size: 28px;
        }
      }
    }
  }
}
