@import 'defaults.scss';

:host {
  .m-modalV2__inner {
    .m-modalV2__header {
      .m-connectTwitterModal__header {
        margin-top: 0;

        @include heading2Bold;
        @include m-theme() {
          color: themed($m-textColor--primary);
        }

        @media screen and (max-width: $max-mobile) {
          @include heading4Bold;
        }
      }
    }
    .m-modalV2__body {
      .m-connectTwitterModal__body {
        @include body2Regular;
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }
    }

    .m-modalV2__footer {
      display: flex;
      justify-content: end;
      margin-bottom: $spacing3;
      margin: 0 $spacing11 $spacing8 $spacing11;
    }
  }
}
