.m-ad-block{
  display:block;
  width:100%;
  margin-left: -16px;

  &.m-ad-block-boosts{
    margin-left:0;

    .m-ad-boost-entity{
      padding:8px 0;
    }
  }
}
.m-ad-boost-heading{
  font-size: 12px;
  text-transform: uppercase;
  vertical-align: middle;
  margin: 8px 0;
  text-align: center;

  > i{
    vertical-align: middle;
  }
}
