@import 'defaults.scss';

m-composer__modal {
  position: relative;
  display: block;
  width: 100%;
  max-width: 585px;
  padding: $spacing8 0 $spacing4;
  border-radius: 5px;
  box-sizing: border-box;

  @include m-theme() {
    background: themed($m-bgColor--primary);
  }

  @media screen and (max-width: $max-mobile) {
    height: calc(var(--mobileVH) - $spacing4);
    border-radius: 0;

    // flex: 1;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // border-radius: 0;
    // margin: 0;
  }

  m-composer__base {
    display: block;

    @media screen and (max-width: $max-mobile) {
      padding-bottom: 0;
      height: 100%;

      .m-composer__base,
      .m-composer__base.m-composer__base--withPreview {
        height: auto;

        @media screen and (max-width: $max-mobile) {
          height: inherit;
        }
      }
    }
  }

  @media screen and (min-width: $max-mobile) {
    m-modalCloseButton {
      display: none;
    }
  }
}
