<div *ngIf="shouldShow()"
  class="mdl-card mdl-shadow--2dp"
>
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Rewards</h2>

    <span *ngIf="session.getLoggedInUser().guid == channel.guid"
      class="m-wire-channel--edit-button"
      (click)="toggleEditing()"
    >
      <button class="material-icons" [hidden]="editing">edit</button>
      <button class="material-icons" [hidden]="!editing">done</button>
    </span>

    <div class="mdl-color-text--grey-600 m-wire-channel--totals" *ngIf="sums.money > 0 || sums.points > 0">
      <div class="m-wire-channel--totals-total m-wire-channel--totals-money" *ngIf="sums.money > 0">
        <span class="m-wire-channel--totals-number">{{sums.money | currency:'USD':true:'1.0-0'}}</span>
        <span class="m-wire-channel--totals-period">in the last 30 days</span>
      </div>
      <div class="m-wire-channel--totals-total m-wire-channel--totals-points" *ngIf="sums.points > 0 && !(sums.money > 0)">
        <span class="m-wire-channel--totals-number">{{sums.points}} points</span>
        <span class="m-wire-channel--totals-period">in the last 30 days</span>
      </div>
    </div>
  </div>

  <div class="mdl-card__supporting-text mdl-color-text--grey-600 m-wire-channel--rewards">
    <p *ngIf="!editing && rewards.description"
      class="m-wire-channel--description"
      [innerText]="rewards.description"
    ></p>

    <textarea *ngIf="editing"
      class="m-wire-channel--description-editor"
      [(ngModel)]="rewards.description"
      [autoGrow]
      placeholder="Describe what your supporters will get…"
    ></textarea>

    <m-wire-channel-table type="money"
      *ngIf="shouldShow('money')"
      [(rewards)]="rewards.rewards.money"
      [editing]="editing"
    ></m-wire-channel-table>

    <m-wire-channel-table type="points"
      *ngIf="shouldShow('points')"
      [(rewards)]="rewards.rewards.points"
      [editing]="editing"
    ></m-wire-channel-table>
  </div>
</div>

<div class="m-wire-channel--call-to-action"
  *ngIf="session.getLoggedInUser().guid != channel.guid"
>
  <button class="mdl-color--green mdl-color-text--white mdl-shadow--8dp"
    (click)="sendWire()"
  >
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      width="1em" height="1em" viewBox="100 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"
    >
      <path d="M302.7,64L143,288h95.8l-29.5,160L369,224h-95.8L302.7,64L302.7,64z"/>
    </svg>

    <span>Wire me</span>
  </button>
</div>
