@import 'defaults.scss';

:host {
  .m-walletTokenEarnings__dateSelector {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-size: 17px;
    font-weight: 400;
    padding: 10px 15px;
    margin-bottom: 20px;
    border: 2px;
    cursor: pointer;

    @include m-theme() {
      color: themed($m-textColor--primary);
      border: 1px solid themed($m-borderColor--primary);
    }

    .m-walletTokenEarningsDateSelector__label {
      margin-right: 60px;
    }
  }

  .m-walletTokenEarnings__estimates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
    max-width: 600px;

    .m-walletTokenEarningsEstimatesItem__label {
      font-size: 16px;
      font-weight: 400;
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }
    .m-walletTokenEarningsEstimatesItem__amount {
      font-size: 17px;
      font-weight: 700;
      padding: 10px 0;
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
    }
  }

  .m-walletTokenEarnings__multiplierBarWrapper {
    display: inline-flex;
    align-items: center;

    .m-walletTokenEarnings__multiplierBar {
      margin-left: 20px;
    }
  }

  .m-walletTokenEarnings__multiplierBar {
    width: 120px;
    height: 15px;
    border-radius: 2px;
    @include m-theme() {
      background-color: themed($m-bgColor--primary);
    }

    .m-walletTokenEarningsMultiplierBar__progress {
      height: 100%;
      @include m-theme() {
        background-color: themed($m-blue);
      }
    }
  }

  .m-walletTokenEarnings__supportingValues {
    font-weight: 400;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  .m-walletTokenEarnings__comparative {
    ::ng-deep {
      m-icon {
        vertical-align: middle;
        width: 24px;

        @include m-theme() {
          color: themed($m-green);
        }
      }
      m-wallet__currencyValue {
        font-weight: 400;
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }
    }

    &.m-walletTokenEarnings__comparative--negative ::ng-deep m-icon {
      @include m-theme() {
        color: themed($m-alert);
      }
    }
  }

  .m-walletTokenEarnings__cta {
    font-size: 16px;
    font-weight: 500;
    margin-left: 15px;
    cursor: pointer;
    @include m-theme() {
      color: themed($m-link);
    }
  }

  m-tooltip {
    vertical-align: middle;
  }
}
