m-channel__socialLinks {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  > * + * {
    margin-left: 8px;
  }

  .m-channelSocialLinks__link {
    display: inline-block;

    > a {
      color: inherit !important;
    }
  }

  .m-custom-icon.m-custom-icon-minds:before {
    background-position-y: calc(50% - 0.1em);
  }
}
