<form class="m-chatRoom__bottomBar" [formGroup]="formGroup">
  <m-emojiPicker
    floatUiPlacement="top"
    iconName="mood"
    (emojiSelect)="onEmojiAdd($event)"
    data-ref="data-minds-chat-emoji-picker"
  ></m-emojiPicker>
  <textarea
    #textArea
    class="m-chatRoomBottom__textArea"
    name="message"
    id="message"
    formControlName="message"
    placeholder="Message"
    rows="1"
    [autoGrow]
    (keydown.enter)="onEnterPress($event)"
    data-ref="data-minds-chat-message-input"
  ></textarea>
  <i
    *ngIf="!(sendInProgress$ | async); else messageInProgressSpinnerTemplate"
    class="material-icons m-chatRoomBottom__sendButton"
    (click)="onSubmit()"
    data-ref="data-minds-chat-send-message-button"
    >send</i
  >
</form>

<ng-template #messageInProgressSpinnerTemplate>
  <m-sizeableLoadingSpinner
    [spinnerWidth]="'1.5rem'"
    [spinnerHeight]="'1.5rem'"
    [inProgress]="true"
  >
  </m-sizeableLoadingSpinner>
</ng-template>
