<div
  [floatUi]="dropdownMenuContent"
  [showOnStart]="false"
  [showTrigger]="'click'"
  [hideOnClickOutside]="true"
  [hideOnScroll]="false"
  [preventOverflow]="true"
  [placement]="'left'"
  (onShown)="onFloatUiShown()"
  (onHidden)="onFloatUiHidden()"
  #dropdownMenu
>
  <i
    *ngIf="!(actionInProgress$ | async); else menuLoadingSpinnerTemplate"
    class="material-icons m-chatRoomMemberDropdown__icon"
    [ngClass]="{
      'm-chatRoomMemberDropdown__icon--menuShown': dropdownMenuShown
    }"
    >more_horiz</i
  >
</div>

<float-ui-content #dropdownMenuContent>
  <ul class="m-chatRoomMemberDropdown__dropdownList">
    <li
      class="m-chatRoomMemberDropdown__dropdownListItem"
      (click)="onViewProfileClick()"
      data-ref="data-minds-chat-member-list-view-profile-button"
    >
      <span i18n="@@CHAT_ROOM__MESSAGE_DROPDOWN__VIEW_PROFILE"
        >View profile</span
      >
    </li>
    <li
      *ngIf="showRemoveFromChatOption$ | async"
      class="m-chatRoomMemberDropdown__dropdownListItem"
      (click)="onRemoveMemberClick()"
      data-ref="data-minds-chat-member-list-remove-from-chat-button"
    >
      <span i18n="@@CHAT_ROOM__MESSAGE_DROPDOWN__REMOVE_FROM_CHAT"
        >Remove from chat</span
      >
    </li>
  </ul>
</float-ui-content>

<ng-template #menuLoadingSpinnerTemplate>
  <m-sizeableLoadingSpinner
    [inProgress]="true"
    spinnerHeight="20px"
    spinnerWidth="20px"
  ></m-sizeableLoadingSpinner>
</ng-template>
