<div class="m-group__actions" *ngIf="service.group$ | async as group">
  <m-group__settingsButton
    class="m-groupActions__button--settings"
  ></m-group__settingsButton>

  <m-group__chatButton
    *ngIf="shouldShowChatButton$ | async"
    [groupGuid]="group?.guid"
  ></m-group__chatButton>

  <m-group__editButton
    *ngIf="service.isOwner$ | async"
    class="m-groupActions__button--edit"
  ></m-group__editButton>

  <m-group__membershipButton
    class="m-groupActions__button--membership"
    [group]="group"
    customColor="grey"
    size="xsmall"
    overlay="true"
    verbose="true"
    labelType="verboseAction"
    (onMembershipChange)="onMembershipChange($event)"
  ></m-group__membershipButton>
</div>
