<ng-container *ngIf="service.channel$ | async as channel">
  <div
    *ngIf="wireRewards$ | async as wireRewards"
    class="m-channelShop__brief"
    [hidden]="wireRewards.length === 0"
  >
    <div class="m-channelShopBrief__title">
      <span
        class="m-channelShopBriefTitle__text"
        i18n="CHANNEL_V2__BRIEF_WIRE_REWARD__SHOP"
        >Shop</span
      >
    </div>

    <div
      *ngFor="let wireReward of wireRewards"
      class="m-channelShopBrief__row"
      (click)="onEntryClick(channel, wireReward)"
    >
      <span class="m-channelShopBriefRow__description">{{
        wireReward.description
      }}</span>
      <span class="m-channelShopBriefRow__amount" [ngSwitch]="wireReward.type">
        <ng-container
          *ngSwitchCase="'tokens'"
          i18n="@@CHANNEL_V2__BRIEF_WIRE_REWARD__TOKENS_PER_MONTH"
          >{wireReward.amount, plural, =1
          {{{wireReward.amount | number}} token/month} other
          {{{wireReward.amount | number}} tokens/month}}</ng-container
        >
        <ng-container
          *ngSwitchCase="'money'"
          i18n="@@CHANNEL_V2__BRIEF_WIRE_REWARD__USD_PER_MONTH"
          >${{ wireReward.amount | number }}/month</ng-container
        >
      </span>
    </div>
  </div>
</ng-container>
