<form *ngIf="form" [formGroup]="form" class="m-formLayout--buttonRight">
  <div class="m-form__fieldsContainer">
    <div class="m-form__field--text stretchedField">
      <div class="m-form__row--label">
        <label for="email" i18n>Email Address</label>
      </div>
      <div
        class="m-form__row--input"
        [ngClass]="{
          invalid: form.invalid
        }"
      >
        <input
          type="text"
          id="email"
          name="email"
          formControlName="email"
          class="form-control"
          email
          [readonly]="inProgress"
        />
      </div>
      <div class="m-form__row--validation">
        <p *ngIf="form.invalid">
          Invalid email address.
        </p>
        <p *ngIf="email.hasError('required')">
          Invalid email address
        </p>
      </div>
    </div>
  </div>
  <div class="m-form__buttonsContainer">
    <m-shadowboxSubmitButton
      [disabled]="!canSubmit()"
      [saving]="inProgress"
      (click)="update()"
    >
      Save Email Address
    </m-shadowboxSubmitButton>
  </div>
</form>
