<div class="mdl-card">
  <div class="mdl-card__title">
    <h2
      class="mdl-card__title-text"
      i18n="@@MINDS__SETTINGS__PAID_SUBSCRIPTIONS_TITLE"
    >
      Paid Subscriptions
    </h2>
  </div>

  <div class="mdl-card__supporting-text m-settings-subscriptions-list">
    <div
      class="mdl-card"
      *ngFor="let subscription of subscriptions; let i = index"
    >
      <div class="mdl-card__title">
        <div class="minds-avatar">
          <a [routerLink]="['/', subscription.username]">
            <img
              src="{{ cdnUrl }}icon/{{ subscription.guid }}/small"
              class="mdl-shadow--2dp"
            />
          </a>
        </div>
        <div class="minds-body">
          <a
            [routerLink]="['/', subscription.username]"
            class="mdl-color-text--blue-grey-500"
            >{{ subscription.name }}</a
          >
          <span>@{{ subscription.username }}</span>
        </div>
      </div>

      <div class="mdl-card__actions">
        <minds-paywall-cancel-button
          [target]="subscription.guid"
          (completed)="deleteRow(i)"
        ></minds-paywall-cancel-button>
      </div>
    </div>

    <infinite-scroll
      distance="25%"
      (load)="load()"
      [moreData]="moreData"
      [inProgress]="inProgress"
    >
    </infinite-scroll>
  </div>
</div>
