<m-settingsV2__header>
  <div class="m-settingsV2__headerLabel">
    <span
      ><ng-container i18n="@@SETTINGS__PRO__GENERAL__LABEL"
        >General</ng-container
      >
      <ng-container i18n="@@COMMON__SETTINGS">Settings</ng-container></span
    >
  </div>
  <div class="m-settingsV2__desc" i18n="@@SETTINGS__PRO__GENERAL__DESCRIPTION">
    Customize your title and headline.
    <a class="m-form__upgradeLink" routerLink="/pro" *ngIf="!isActive"
      >Upgrade to Pro</a
    >
  </div>
</m-settingsV2__header>

<form *ngIf="form" [formGroup]="form" class="m-formLayout--buttonRight">
  <div class="m-form__fieldsContainer">
    <div class="m-form__field--text stretchedField">
      <div class="m-form__row--label">
        <label for="title" i18n="@@PRO_GENERAL__PAGE_TITLE">Page Title</label>
        <m-tooltip
          ><span m-tooltip--anchor>𝒊</span>
          <ng-container i18n="@@PRO_GENERAL__NAME_OF_SITE_INFO"
            >The name of your pro site. This will be used in browser tab titles
            and your SEO tags.</ng-container
          >
        </m-tooltip>
      </div>
      <div class="m-form__row--input">
        <input
          type="text"
          id="title"
          name="title"
          formControlName="title"
          class="form-control"
          [readonly]="inProgress || !init"
          data-ref="m-settingsProGeneral__input--title"
        />
      </div>
    </div>

    <div class="m-form__field--text stretchedField">
      <div class="m-form__row--label">
        <label for="headline" i18n="@@PRO_GENERAL__HEADLINE">Headline</label>
        <m-tooltip
          ><span m-tooltip--anchor>𝒊</span>
          <ng-container i18n="@@PRO_GENERAL__HEADLINE_INFO"
            >A short description about your site. This will be used in your SEO
            tags as well.</ng-container
          >
        </m-tooltip>
      </div>
      <div class="m-form__row--input">
        <textarea
          id="headline"
          name="headline"
          formControlName="headline"
          class="form-control"
          data-ref="m-settingsProGeneral__input--headline"
          [readonly]="inProgress || !init"
        ></textarea>
      </div>
    </div>

    <div class="m-form__field--checkbox">
      <div class="m-form__row--input">
        <label for="splash" class="m-form__customInputWrapper__checkbox">
          <ng-container i18n="@@PRO_GENERAL__ENABLE_SPLASH_PAGE"
            >Enable splash page</ng-container
          >
          <m-tooltip>
            <span m-tooltip--anchor>𝒊</span>
            <ng-container i18n="@@PRO_GENERAL__ENABLE_SPLASH_PAGE_INFO"
              >Enable full screen landing page to prompt logged out users to
              sign up or join your membership when they visit your Pro
              site</ng-container
            >
          </m-tooltip>
          <input
            type="checkbox"
            id="splash"
            name="splash"
            formControlName="splash"
            class="form-control"
            data-ref="m-settingsProGeneral__input--splash"
            [readonly]="inProgress || !init"
          />
          <span class="m-form__customInput__checkbox"></span>
        </label>
      </div>
    </div>

    <!-- Disabled for https://gitlab.com/minds/front/-/issues/4379 -->
    <!-- <div class="m-form__field--checkbox">
      <div class="m-form__row--input">
        <label
          for="publish"
          class="m-form__customInputWrapper__checkbox"
          (click)="onEnableProThemeClick($event)"
        >
          <ng-container i18n="@@PRO_GENERAL__ENABLE_PRO_THEME"
            >Enable Pro theme</ng-container
          >
          <m-tooltip>
            <span m-tooltip--anchor>𝒊</span>
            <ng-container i18n="@@PRO_GENERAL__ENABLE_PRO_THEME_INFO"
              >When enabled, your channel on minds.com will have your Pro site
              theme applied</ng-container
            >
          </m-tooltip>
          <input
            type="checkbox"
            id="publish"
            name="publish"
            formControlName="published"
            class="form-control"
            data-ref="m-settingsProGeneral__input--publish"
            [readonly]="inProgress || !init"
          />
          <span class="m-form__customInput__checkbox"></span>
        </label>
      </div>
    </div> -->
  </div>
  <div class="m-form__buttonsContainer">
    <m-button
      color="blue"
      [disabled]="!canSubmit()"
      [saving]="inProgress"
      (onAction)="submit()"
      i18n="@@PRO_GENERAL__SAVE_PERSONAL_DETAILS"
    >
      Save Personal Details
    </m-button>
  </div>
</form>
