.m-blogMeta__container {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  @media screen and (max-width: $max-mobile) {
    padding: 0 50px;
  }

  .m-blogMeta__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    .m-blogMeta__labelContainer {
      display: flex;
      flex-direction: row;
      font-size: 12pt;
      padding-bottom: 4px;

      .m-blogMeta__label {
        margin-right: 16px;
      }

      span {
        em {
          font-size: 10pt;
        }
      }
    }

    .m-blogMeta__input {
      background-color: unset;
      border-radius: 10px;
      padding: 8px;
      @include m-theme() {
        border: 1px solid themed($m-borderColor--primary);
        color: themed($m-textColor--primary);
      }
    }

    .m-blogMeta__textArea {
      background-color: unset;
      border-radius: 10px;
      padding: 8px;
      @include m-theme() {
        border: 1px solid themed($m-borderColor--primary);
        color: themed($m-textColor--primary);
      }
    }
  }
}
