<div class="m-chatRoomTop__leftContainer">
  <div class="m-chatRoomTop__avatarsList">
    <minds-avatar
      *ngFor="let avatar of avatars"
      [object]="avatar"
      [routerLink]="avatar.navigationPath"
      (mouseup)="
        $event.which == 2 ? openChannelInNewTab(avatar.navigationPath) : null
      "
    ></minds-avatar>
  </div>
  <span class="m-chatRoomTop__roomName" tabindex="0">{{ roomName }}</span>
</div>
<div class="m-chatRoomTop__rightContainer" *ngIf="!requestMode">
  <m-tooltip
    *ngIf="showEditRoomButton"
    class="m-chatRoomTop__addIconTooltip"
    [iconClass]="{
      'm-chatRoomTop__icon': true
    }"
    [tooltipBubbleStyle]="{
      'max-width': 'max-content',
      'box-shadow': '1px 1px 1px'
    }"
    anchor="right"
    icon="edit"
    i18n="@@CHAT_ROOM_TOPBAR__EDIT_CHAT_ROOM"
    tabindex="0"
    (click)="onEditChatNameClick()"
    (keyup.enter)="onEditChatNameClick()"
  >
    Edit chat room
  </m-tooltip>
  <!-- <m-tooltip
    *ngIf="showAddUsersButton" 
    class="m-chatRoomTop__addIconTooltip"
    [iconClass]="{
      'm-chatRoomTop__addIcon': true,
      'm-chatRoomTop__icon': true
    }"
    [tooltipBubbleStyle]="{
      'max-width': 'max-content'
    }"
    anchor="right"
    icon="add"
    i18n="@@CHAT_ROOM_TOPBAR__ADD_A_MEMBER"
    (click)="handleAddToChatClick()"
  >
    Add a member
  </m-tooltip> -->
  <i
    class="material-icons m-chatRoomTop__icon"
    aria-label="Chat details panel"
    tabindex="0"
    (click)="detailsIconClickEmitter.emit()"
    (keyup.enter)="detailsIconClickEmitter.emit()"
    data-ref="data-minds-chat-room-settings-button"
    >info</i
  >
</div>
