<ng-container *ngIf="members && members.length > 0">
  <div class="m-group__memberPreviews" [@slowFade]="inProgress ? 'out' : 'in'">
    <ng-container *ngIf="totalCount > 0 && members.length > 0">
      <m-userAggregator
        [users]="members"
        [totalCount]="totalCount"
        [usernameAmount]="maxMembersCount"
        [avatarAmount]="maxMembersCount"
        clickable="true"
        (onClick)="onAggregatorClick($event)"
      >
        <span suffix-text i18n="@@M__GROUP__MEMBER_PREVIEWS__ARE_MEMBERS"
          >{ totalCount, plural, =1 {is a member} other {are members} }</span
        >
      </m-userAggregator>
    </ng-container>
  </div>
</ng-container>
