m-pro--channel-donate {
  .m-pro--channel-donate {
    font-weight: 400;
    max-width: 900px;
    margin: auto;
    position: relative;
    padding:32px;
    border-radius:6px;
    background-color: var(--m-pro--plain-background-color);
  }
}
