minds-activity-v2.mdl-card,
minds-activity-v2 {
  width: auto;
  min-height: 0;
  max-height: 720px;
  margin-bottom: 16px;
  border-radius: 6px;
  overflow: visible;

  &.minds-activity-v2__allowOverflow {
  }

  .mdl-card__supporting-text {
    width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    @include m-theme() {
      color: rgba(themed($m-black), 0.8);
    }

    a {
      text-decoration: none;
    }
  }

  .mdl-card__supporting-text.message {
    margin-top: 26px;
    white-space: pre-line;
    word-wrap: break-word;
    padding-top: 0;
    word-break: break-word;
  }

  textarea.mdl-card__supporting-text.message {
    white-space: pre-wrap;
  }

  .m-owner-block {
    position: relative;
  }

  .m-owner-block--remind {
    overflow: visible;

    i {
      font-size: 18px;
      margin-right: 12px;
    }

    .avatar img {
      width: 24px;
      height: 24px;
      object-fit: cover;
    }

    .body {
      margin-left: 12px;

      a {
        font-size: 12px;
        letter-spacing: 1px;
      }
    }
  }

  .m-activity--message-remind {
    padding-top: 0;
    padding-bottom: 8px;
  }

  .m-translate-button i {
    font-size: 18px;
  }

  .m-edited-text {
    text-transform: uppercase;
    padding-right: 8px;
    font-weight: bold;
    letter-spacing: 0.5px;
  }

  .m-translation-label {
    padding-top: 0;
    font-size: 0.75em;

    i {
      vertical-align: bottom;
      vertical-align: text-bottom;
    }

    a {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  minds-comments {
    margin-top: 0;

    .m-translation-label {
      font-size: 1em;
    }

    .m-comment-carrot.m-comment-carrot-collapsed {
      display: none;

      @media screen and (max-width: $max-mobile) {
        display: inline-block;
      }
    }

    .mdl-card__menu {
      @include m-theme() {
        background-color: themed($m-white);
      }
    }

    minds-card-comment:hover {
      .m-comment-carrot {
        display: inline-block;
      }
    }

    .minds-block .minds-body a {
      //span {
      //  vertical-align: middle;
      //  font-family: 'Roboto', Helvetica, sans-serif;
      //  text-rendering: optimizeLegibility;
      //  letter-spacing: 0.75px;
      //  -webkit-font-smoothing: antialiased;
      //  font-weight: 800;
      //}
      //.minds-comment-span {
      //  top: 0;
      //  font-weight: 400;
      //  text-transform: uppercase;
      //}
    }
  }

  .minds-more {
    i {
      font-size: 30px;
      transform: translate(-16px, -12px);
      font-weight: 100;
    }
  }

  /**
   * Rich embeds
   */
  .m-rich-embed {
    a {
      width: 100%;
    }

    img {
      width: 100%;
    }

    .meta {
      padding: $minds-padding * 2 $minds-padding * 2 0;
      display: block;
      text-decoration: none;
      width: calc(100% - 32px);

      p {
        font-size: 13px;
        text-overflow: ellipsis;
        text-rendering: auto;
        white-space: pre-wrap;
        overflow: hidden;
        max-height: 48px;
        margin: 8px 0;
        padding: 0;
        line-height: 1.25;
      }

      p.m-url {
        white-space: nowrap;
        max-width: 240px;
      }
    }
  }

  .item-image-video {
    video {
      width: 100%;
      height: auto;
    }
  }

  .item-image {
    img {
      width: 100%;
      max-height: 1500px;
      object-fit: contain;
    }
  }

  .is-boosted {
    display: inline-block;
    width: auto;
    font-size: 11px;
    padding: 0;
    padding-right: 8px;
    line-height: 1;
    vertical-align: middle;
    @include m-theme() {
      color: themed($m-grey-400);
    }

    i {
      font-size: 18px;
      position: relative;
      vertical-align: middle;

      &.unlisted {
        font-size: 16px;
        margin-right: 4px;
      }
    }

    a {
      font-weight: bold;
      vertical-align: middle;
      @include m-theme() {
        color: themed($m-grey-400);
      }
    }
  }

  .is-boosted.is-onchain {
    @include m-theme() {
      color: themed($m-blue);
    }

    a {
      @include m-theme() {
        color: themed($m-blue);
      }
    }
  }

  /**
   * Remind
   */
  minds-remind {
    margin: 0;
    width: auto;
    min-height: 0;
    overflow: visible;

    .m-owner-block {
      padding-top: 0;
    }
  }

  .m-activity--pending {
    padding: $minds-padding ($minds-padding * 2);
    font-size: 12px;
    font-weight: 400;
    @include m-theme() {
      color: themed($m-warn-fg);
      background-color: themed($m-warn-bg);
    }
  }
}
