.m-channel--explicit-overlay--container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  position: fixed;
  top: 53px;
  left: 0;
  width: 100%;
  height: calc(100% - 53px);
  @include m-theme() {
    color: themed($m-grey-900);
    background-color: rgba(themed($m-white), 0.99);
  }
  user-select: none;

  .m-channel--explicit-overlay--content {
    max-width: 1280px;
    width: 100%;
    text-align: center;

    font-weight: 300;
    font-size: 24px;
    line-height: 1.5em;

    h3 {
      letter-spacing: 0.75px;
      font-weight: 600;
      @include m-theme() {
        color: themed($m-grey-800);
      }
    }

    .m-channel--explicit-overlay--action {
      text-transform: uppercase;
      letter-spacing: 2.5px;
      width: 100px;
      margin: auto;
      /* font-size: 22px; */
      margin-top: 16px;
      font-weight: 600;
    }
  }
}
