m-walletChart {
  display: block;
  height: 44vh;
  margin-top: 12px;
  margin: 12px 0 60px 0;

  m-chartV2 {
    @media screen and (max-width: $max-mobile) {
      margin-left: 0;
    }
  }
  .m-walletChart__headerRow {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    h2 {
      font-size: 21px;
      margin: 0 18px 12px 0;
    }
    m-timespanFilter {
      margin-left: auto;
      align-self: flex-end;
      margin-bottom: 12px;
    }
  }
}
