<ng-container *ngIf="(init && hasPaywall) || isSupermind">
  <div
    class="m-paywallBadge"
    [ngClass]="{
      isSupermind: isSupermind,
      isPlus: hasPaywall && paywallType === 'plus',
      iconOnly:
        hasPaywall &&
        (paywallType === 'custom' || (paywallType === 'tier' && !showTierName)),
      topRightPosition: topRightPosition,
      'm-activityV2__badge m-activityV2__badge--paywall m-paywallBadge--activityV2': activityV2Feature
    }"
  >
    <!-- ------------------------ -->
    <!-- PAYWALL BADGES -->
    <!-- ------------------------ -->
    <ng-container *ngIf="hasPaywall && !isSupermind">
      <i *ngIf="paywallType !== 'plus'" class="material-icons">lock</i>

      <span
        class="m-paywallBadge__tierName"
        *ngIf="paywallType === 'tier' && showTierName"
        >{{ tierName }} Members Only</span
      >
      <span class="m-paywallBadge__tierName" *ngIf="paywallType === 'plus'"
        >MINDS+</span
      >
    </ng-container>
    <!-- ------------------------ -->
    <!-- SUPERMIND BADGE -->
    <!-- ------------------------ -->
    <span class="m-paywallBadge__tierName" *ngIf="isSupermind">Supermind</span>
  </div>
</ng-container>
