<ng-container *ngIf="(init && hasPaywall) || isSupermind">
  <div
    class="m-paywallBadge"
    [ngClass]="{
      isSupermindReply: isSupermind && isSupermindReply,
      isSupermindRequest: isSupermind && !isSupermindReply,
      isPlus: hasPaywall && paywallType === 'plus',
      iconOnly:
        hasPaywall &&
        (paywallType === 'custom' || (paywallType === 'tier' && !showTierName)),
      topRightPosition: topRightPosition,
      'm-activityV2__badge m-activityV2__badge--paywall m-paywallBadge--activityV2': activityV2Feature
    }"
  >
    <!-- ------------------------ -->
    <!-- PAYWALL BADGES -->
    <!-- ------------------------ -->
    <ng-container *ngIf="hasPaywall && !isSupermind">
      <i *ngIf="paywallType !== 'plus'" class="material-icons">lock</i>

      <span
        class="m-paywallBadge__tierName"
        *ngIf="paywallType === 'tier' && showTierName"
        >{{ tierName }} Members Only</span
      >
      <span class="m-paywallBadge__tierName" *ngIf="paywallType === 'plus'"
        >MINDS+</span
      >
    </ng-container>

    <ng-container *ngIf="isSupermind">
      <!-- ------------------------ -->
      <!-- SUPERMIND REQUEST (grey) -->
      <!-- ------------------------ -->
      <span
        *ngIf="!isSupermindReply"
        data-ref="paywall-badge-supermind-request"
        class="m-paywallBadge__tierName"
        >Supermind Offer</span
      >
      <!-- ------------------------ -->
      <!-- SUPERMIND REPLY (gradient) -->
      <!-- ------------------------ -->
      <span
        *ngIf="isSupermindReply"
        data-ref="paywall-badge-supermind-reply"
        class="m-paywallBadge__tierName"
        >Supermind</span
      >
    </ng-container>
  </div>
</ng-container>
