.m-media--images--tile{
  position: relative;

  //padding: 4px;

  a {
    background-color:#444;
    background-position: center center; 
    background-size:cover;

    display: block;

    //1:1 ratio (square)
    height: 320px;
    width: 100%;
  }

  m-safe-toggle {
    position: absolute;
    right: 12px;
    top: 12px;
  }

}
