<span class="m-topbarAlert__message">
  <ng-container
    *ngIf="isExpired; else activeTrialTextTemplate"
    i18n
    ngPreserveWhitespace
  >
    This
    <a [href]="externalNetworksUrl" target="_blank">Minds Network</a> is expired
    and will be deleted
    <span>{{
      trialDeletionTimestamp && !isPastDeletionThreshold
        ? (trialDeletionTimestamp | friendlytime: true)
        : 'soon'
    }}</span
    >. <a routerLink="network/admin/billing">Upgrade now</a>.
  </ng-container>
  <ng-template #activeTrialTextTemplate i18n>
    This trial of
    <a [href]="externalNetworksUrl" target="_blank" ngPreserveWhitespace
      >Minds Networks</a
    >
    expires
    <span>{{
      trialEndTimestamp ? (trialEndTimestamp | friendlytime: true) : 'soon'
    }}</span
    >. <a routerLink="network/admin/billing">Upgrade now</a>.
  </ng-template>
</span>
