<div class="m-walletSettings" id="tokenSettings">
  <div class="m-walletSettingsView--setup" *ngIf="!display">
    <h4>
      On-chain address
    </h4>
    <ng-container *ngTemplateOutlet="onchainDesc"></ng-container>
    <div class="m-walletSettings__setupOptions__recommendation">
      <i class="material-icons">thumb_up</i><span>RECOMMENDED</span>
    </div>
    <ul class="m-walletSettingsView__setupOptions__container">
      <li class="m-walletSettingsView__setupOption--metamask">
        <div>
          <img
            class="metamask"
            [src]="minds.cdn_assets_url + 'assets/ext/metamask.png'"
          />
          <h2>
            MetaMask
          </h2>
        </div>

        <p *ngIf="!hasExternal">
          <a (click)="downloadMetamask()">Install MetaMask</a>
          for the most seamless user experience.
        </p>
        <ng-container *ngIf="hasExternal && !linkingMetamask">
          <p *ngIf="hasExternal">
            Minds recommends using MetaMask for the most seamless user
            experience.
          </p>
          <m-shadowboxSubmitButton
            [disabled]="inProgress"
            [saving]="inProgress"
            (click)="useExternal()"
          >
            Link MetaMask
          </m-shadowboxSubmitButton>
        </ng-container>
        <ng-container *ngIf="linkingMetamask">
          <p>Please ensure you select the "Main Ethereum Network".</p>

          <p *ngIf="downloadingMetamask">
            Note: You might need to reload Minds after installing and setting up
            MetaMask.
          </p>

          <ng-container *ngIf="hasExternal">
            <p class="m-walletSettings--tokens--buttons-input">
              <ng-container *ngIf="providedAddress; else noProvidedAddress">
                {{ providedAddress }} </ng-container
              >]

              <ng-template #noProvidedAddress>
                MetaMask is either locked or connected to another network.
              </ng-template>
            </p>
          </ng-container>
        </ng-container>
      </li>

      <li class="m-walletSettingsView__setupOption--custom">
        <h2>
          Custom
        </h2>
        <p>
          You don’t need to use MetaMask. You can alternatively manage your own
          address.
        </p>
        <div>
          <a (click)="display = Views.CreateAddress; createAddress()"
            >Create a new address</a
          >
          <span>or</span>
          <a (click)="display = Views.ProvideAddress">Use your private key</a>
        </div>
      </li>
      <p *ngIf="currentAddress">
        <a
          class="m-walletSettings__backButton"
          (click)="display = Views.CurrentAddress"
          ><i class="material-icons">❮</i
          ><span>Back to current address</span></a
        >
      </p>
    </ul>
  </div>

  <ul *ngIf="display">
    <!---CUSTOM - CREATE ADDRESS----------------------------------------->
    <li
      class="m-walletSettingsView--addressCreate"
      *ngIf="display === Views.CreateAddress"
    >
      <h2>
        Create Address
      </h2>
      <p *ngIf="!generatedAccount">
        Generating address ...<span
          *ngIf="inProgress && !generatedAccount"
          class="mdl-spinner mdl-js-spinner is-active"
          [mdl]
        ></span>
      </p>

      <p *ngIf="generatedAccount">
        The address
        <span class="m-walletSettings__address--emphasis">{{
          generatedAccount.address
        }}</span>
        was successully saved as your on-chain address. Clicking the button
        below will download its private key. Ensure you safely store the private
        key file.
      </p>

      <m-shadowboxSubmitButton
        [disabled]="!generatedAccount"
        [saving]="inProgress && generatedAccount"
        (click)="downloadPrivateKey()"
      >
        Download Private Key
      </m-shadowboxSubmitButton>
      <a class="m-walletSettings__backButton" (click)="display = null"
        ><i class="material-icons">❮</i><span>Back to settings</span></a
      >
    </li>

    <!---CUSTOM - PROVIDE ADDRESS---------------------------->
    <li
      class="m-walletSettingsView--addressProvide"
      *ngIf="display === Views.ProvideAddress"
    >
      <h2>
        Provide Address
      </h2>
      <p>
        Enter the address that will be stored as your wallet for Minds on-chain
        tokens and Ether payments. Remember that you will need your wallet's
        private key to conduct transactions.
      </p>

      <div class="m-walletForm__field--text stretchedField">
        <div class="m-walletForm__row--label">
          <label for="providedAddress" i18n>On-chain Address</label>
          <m-tooltip icon="help">
            <ng-container i18n
              >This address is where you will receive on-chain Minds tokens and
              Ether payments</ng-container
            >
          </m-tooltip>
        </div>
        <div class="m-walletForm__row--input">
          <input
            type="text"
            id="providedAddress"
            name="providedAddress"
            class="form-control"
            [readonly]="inProgress"
            [(ngModel)]="providedAddress"
          />
        </div>
      </div>
      <m-shadowboxSubmitButton
        [disabled]="inProgress || !providedAddress"
        [saving]="inProgress"
        (click)="provideAddress()"
      >
        Update on-chain address
      </m-shadowboxSubmitButton>
      <a class="m-walletSettings__backButton" (click)="display = null"
        ><i class="material-icons">❮</i><span>Back to settings</span></a
      >
    </li>

    <!---USE EXTERNAL ADDRESS----------------------------------------------->
    <!-- <li
      class="m-walletSettingsView--addressExternal"
      *ngIf="display === Views.UseExternal"
    >
      <div class="m-walletSettings--tokens--buttons" *ngIf="hasExternal">
        <span class="m-walletSettings--tokens--buttons-input">
          <ng-container *ngIf="providedAddress; else noProvidedAddress">
            {{ providedAddress }}
          </ng-container>

          <ng-template #noProvidedAddress>
            MetaMask is either locked or connected to another network.
          </ng-template>
        </span>
      </div>
      <a class="m-walletSettings__backButton" (click)="display = null"
        ><i class="material-icons">❮</i><span>Back to ...?</span></a
      >
    </li> -->

    <!---CURRENT ADDRESS ----------------------------------------------->
    <li
      class="m-walletSettingsView--addressCurrent"
      *ngIf="display === Views.CurrentAddress"
    >
      <h2>
        On-chain Address
      </h2>
      <ng-container *ngTemplateOutlet="onchainDesc"></ng-container>

      <p class="m-walletSettingsView--addressCurrent__title">
        Current address
      </p>
      <div class="m-walletSettingsView--addressCurrent__addressContainer">
        <div>{{ currentAddress }}</div>
        <div><a (click)="display = null">Change Address</a></div>
      </div>
    </li>
  </ul>
</div>

<ng-template #onchainDesc>
  <p>
    To receive on-chain payments from other channels (e.g. from a Wire or a
    Boost), you will need an on-chain address. You can change it here at any
    time. Note: your on-chain address is the same as your Ether address.
    <m-tooltip icon="help">
      Why? On-chain tokens run on the Ethereum network and require Ether to
      send.
    </m-tooltip>
  </p>
</ng-template>
