<a
  (click)="toggle($event)"
  title="Notifications"
  class="m-notifications--topbar-toggle--icon"
  [class.m-notifications--topbar-toggle--icon--active]="service.count > 0"
>
  <i class="material-icons">notifications</i>
  <span *ngIf="newNavigation && service.count > 0">{{ service.count }}</span>
</a>

<div
  class="m-notifications--topbar-toggle-overlay"
  (click)="toggle($event)"
  *ngIf="toggled"
></div>
<m-notifications--flyout
  #notificationsFlyout
  (close)="toggle($event)"
  [hidden]="!toggled"
  [visible]="toggled"
  *ngIf="session.isLoggedIn()"
>
</m-notifications--flyout>
