<div class="m-tabs__container" *ngIf="showTabs">
  <div class="m-tabs__tab">
    <a routerLink="../subscribers" routerLinkActive="m-tabs__tab--selected"
      >Subscribers</a
    >
  </div>
  <div class="m-tabs__tab">
    <a routerLink="../subscriptions" routerLinkActive="m-tabs__tab--selected"
      >Subscriptions</a
    >
  </div>
</div>

<div class="m-pageLayout__container m-channel__list">
  <div class="m-channelList__list" m-pageLayout__pane="main">
    <div *ngIf="canSearch" class="m-channelListList__searchBox">
      <input
        type="text"
        placeholder="Filter..."
        [(ngModel)]="query"
        (keyup)="search()"
        i18n-placeholder="@@COMMON__CHANNEL_LIST__FILTER_ELLIPSIS"
      />
    </div>

    <div class="m-channelListList__entities">
      <m-discovery__feedItem
        *ngFor="let entity$ of feedsService.feed | async"
        [entity]="entity$ | async"
      ></m-discovery__feedItem>

      <!-- <m-discovery__feedItem
        *ngFor="let entity$ of feedsService.feed | async"
        [entity]="entity$ | async"
      ></m-discovery__feedItem> -->

      <infinite-scroll
        (load)="loadNext()"
        [moreData]="feedsService.hasMore | async"
        [inProgress]="feedsService.inProgress | async"
      ></infinite-scroll>
    </div>
  </div>

  <div class="m-channelList__sidebar" m-pageLayout__pane="right">
    <m-channelAbout__extraInfo></m-channelAbout__extraInfo>
  </div>
</div>
