@import '../../foundation/grid-values';

m-plus__marketing {
  grid-area: content / span 2;

  .m-plus__marketing {
    .m-plusMarketing__verify {
      margin-top: 50px;

      @include m-theme() {
        color: themed($m-black);
      }

      @media screen and (max-width: $m-grid-min-vp) {
        margin-top: 30px;
        text-align: center;
      }

      > * {
        vertical-align: middle;
        color: inherit;
      }

      > i.material-icons {
        margin-right: 0.35em;

        &.m-plusMarketingVerify__verifiedIcon {
          @include m-theme() {
            color: themed($m-blue);
          }
        }

        &.m-plusMarketingVerify__unverifiedIcon {
          opacity: 0.2;
        }
      }

      > a {
        border-bottom: 1px solid;
        cursor: pointer;

        @include m-theme() {
          border-color: themed($m-grey-400);
        }
      }
    }
  }
}
