<m-marketing class="m-plus__marketing" pageTitle="Minds Plus" i18n-pageTitle>
  <div class="m-marketing__main m-marketing__section--style-2">
    <div class="m-grid m-marketing__wrapper">
      <div class="m-grid__column-7 m-grid__column-12--mobile m-marketing__body">
        <h1 i18n>
          Minds Plus
        </h1>

        <h2 ngPreserveWhitespaces i18n>
          Upgrade your channel and <em>unlock premium features</em>
        </h2>

        <p class="m-marketing__description" i18n>
          Support Minds and unlock features such as hiding ads, accessing
          exclusive content, receiving a badge and verifying your channel.
        </p>

        <div class="m-plusMarketing__subscription">
          <m-plus--subscription
            (onEnable)="detectChanges()"
            (onDisable)="detectChanges()"
          ></m-plus--subscription>
        </div>

        <div class="m-plusMarketing__verify" *ngIf="isPlus">
          <i
            class="material-icons"
            [class.m-plusMarketingVerify__verifiedIcon]="isVerified"
            [class.m-plusMarketingVerify__unverifiedIcon]="!isVerified"
            >verified_user</i
          >

          <ng-container *ngIf="!isVerified; else alreadyVerifiedView">
            <a (click)="openVerifyModal()" i18n
              >Click here to request to be verified</a
            >
          </ng-container>

          <ng-template #alreadyVerifiedView>
            <span i18n>You are verified!</span>
          </ng-template>
        </div>
      </div>

      <div
        class="m-grid__column-5 m-grid__column-12--mobile m-marketing__image"
      >
        <span>
          <img
            [src]="
              cdnAssetsUrl + 'assets/photos/browsing-mobileapp-discovery.jpg'
            "
          />
        </span>
      </div>
    </div>
  </div>

  <m-marketing__asFeaturedIn slot="2"></m-marketing__asFeaturedIn>
</m-marketing>

<m-plus--verify
  *ngIf="showVerifyModal"
  (closed)="closeVerifyModal()"
></m-plus--verify>
