
<button class="mdl-button mdl-button--colored mdl-color--green" *ngIf="user && !isPlus()" (click)="purchase(20, 'month')" [hidden]="active">Upgrade - 20 Tokens/month</button>
<button class="mdl-button mdl-button--colored mdl-color--green" *ngIf="user && !isPlus() && false" (click)="purchase(200, 'year')" [hidden]="active">Upgrade - 200 Tokens/year</button>
<button class="mdl-button mdl-button--colored mdl-color--green" *ngIf="user && isPlus()" (click)="cancel()" i18n="@@PLUS__MKT__CANCEL_ACTION">Cancel Plus</button>
<button class="mdl-button mdl-button--colored mdl-color--green" *ngIf="!user" routerLink="/login">Upgrade - 200 Tokens/year</button>


<div class="m-plus--subscription mdl-card mdl-shadow--4dp" *ngIf="active">

  <p class="mdl-card__supporting-text" i18n="@@PLUS__SUBSCRIPTION__CURRENTLY_MEMBER">
    You are a currently a Plus member.
  </p>

  <button
    (click)="cancel()"
    class="mdl-button mdl-button--colored mdl-button--raised"
    style="width:200px; margin: 0 16px 16px;"
    i18n="@@PLUS__SUBSCRIPTION__CANCEL_PLUS_ACTION"
  >
    Cancel Plus
  </button>

</div>


<div class="m-plus--subscription mdl-card mdl-shadow--4dp" *ngIf="completed && isPlus()">
  <p class="mdl-card__supporting-text" i18n="@@PLUS__SUBSCRIPTION__CONGRATULATE_PLUS">
    Congratulations, you are now a Minds Plus member!
  </p>

</div>

<div class="m-plus--subscription mdl-card mdl-shadow--4dp" *ngIf="completed && !isPlus()">
  <p class="mdl-card__supporting-text" i18n="@@PLUS__SUBSCRIPTION__REMOVED_PLUS">
    You have stopped being a Minds Plus Member.
  </p>

</div>

