m-modal__remindComposer {
  cursor: default;

  //.m-modal-container {
  //  width: 520px;
  //  max-width: 90%;
  //  min-width: 0;
  //}

  .m-modalRemindComposer__title {
    font-weight: bold;
    text-align: center;
    margin: 8px 0;
    font-size: 21px;
  }

  .m-modal__remindComposer {
    position: relative;
    padding: 0 $minds-padding * 2 $minds-padding * 2;
    //margin-top: 36px + ($minds-padding * 2);
    text-align: left;

    textarea {
      display: block;
      width: calc(100% - 40px);
      height: 4em;
      max-height: 150px;
      box-sizing: content-box;
      padding: $minds-padding (24px + $minds-padding) $minds-padding
        $minds-padding;
      font-size: 16px;
      @include m-theme() {
        border: 1px solid themed($m-grey-100);
      }
    }

    .m-modalRemindComposer__buttons {
      position: absolute;
      right: $minds-padding * 3;
      bottom: $minds-padding * 3;

      a {
        cursor: pointer;
      }

      a:hover {
        @include m-theme() {
          color: themed($m-blue-grey-700);
        }
      }

      .m-modalRemindComposer__send.disabled {
        @include m-theme() {
          color: themed($m-grey-300);
        }
      }
    }
  }

  minds-activity-preview {
    display: block;
    max-width: 100%;
    margin: 0 ($minds-padding * 2) ($minds-padding * 2);
    text-align: left;
    box-sizing: border-box;
    cursor: default;
    overflow: auto !important;
    max-height: 40vh;
    //
    //  > * {
    //    pointer-events: none;
    //  }
    //
    .m-owner-block {
      position: relative !important;
      //padding: ($minds-padding * 2) !important;
    }

    //
    //  .m-mature-overlay {
    //    display: none !important;
    //  }
    //
    //  .mdl-card__supporting-text {
    //    padding: ($minds-padding * 2) !important;
    //  }
    //
    //  .m-rich-embed {
    //    padding: 0 ($minds-padding * 2) ($minds-padding * 2);
    //  }
    //
    //  .item-image {
    //    padding: 0 ($minds-padding * 2) ($minds-padding * 2);
    //  }
    //
    //  .item-image-video {
    //    minds-video {
    //      background: transparent !important;
    //
    //      .minds-video-bar-full {
    //        display: none !important;
    //      }
    //    }
    //  }
  }

  .mdl-card__menu {
    i:hover {
      @include m-theme() {
        color: themed($m-blue-grey-500) !important;
      }
    }
  }
}
