@import '../../../../../stylesheets/defaults.scss';

m-dynamic-form {
  .select-label {
    padding-right: 10px;
  }
  .m-date-selector--label,
  .m-dynamicForm__label {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    align-self: center;
    font-size: 12px;
    @include m-theme() {
      color: themed($m-grey-600);
    }
  }

  .m-date-selector--input {
    display: flex;
    align-items: center;
    @include m-theme() {
      color: themed($m-grey-600);
      background-color: themed($m-bgColor--primary);
      border: 1px solid themed($m-borderColor--primary);
    }

    input {
      font-size: 12px;
      text-transform: uppercase;
      background-color: transparent;
      padding: 8px 0;
      border: none;
      text-align: center;
      width: auto;
      height: auto;
      align-self: center;
      @include m-theme() {
        color: rgba(themed($m-black), 0.54);
      }
    }

    i {
      vertical-align: middle;
      cursor: pointer;
      margin-right: 8px;
    }
  }

  .m-dynamicForm__input,
  .m-dynamicForm__textarea {
    border-radius: 24px;
    margin: 8px 0;
    outline: none;
    @include m-theme() {
      border-color: themed($m-borderColor--primary);
    }
  }
}
