@import 'defaults.scss';

:host {
  .m-modalV2__body {
    padding: $spacing6 $spacing10;
  }

  .m-walletPhoneVerification__disclaimer {
    @include body2Regular;
  }

  .m-walletModal__footnote {
    margin-top: $spacing5;

    p {
      @include body2Regular;
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }

      &:first-child {
        margin-bottom: 18px;
        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }
    }
    a {
      cursor: pointer;
    }
  }

  .m-walletPhoneVerification__privacyNote {
    margin-top: $spacing5;

    @include body2Regular;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  .m-formWrapper {
    margin-bottom: 0;
  }

  .m-form__field--text {
    margin-bottom: 0;
  }

  .m-form__row--label {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;

    > * {
      vertical-align: middle;
    }

    ::ng-deep m-tooltip {
      margin-left: 10px;
      i {
        font-size: 15px;
      }
      .m-tooltip--bubble {
        max-width: 350px;
      }
    }
  }

  .m-form__row--input {
    align-items: center;

    @media screen and (max-width: $max-mobile) {
      flex-flow: column nowrap;
    }

    input {
      min-width: 200px;

      @media screen and (max-width: $max-mobile) {
        width: 100%;
      }
    }
  }

  .m-walletPhoneVerification__codeInput,
  m-phoneInput {
    @media screen and (min-width: $max-mobile) {
      margin-right: $spacing5;
    }
  }

  ::ng-deep m-phoneInput {
    .m-phoneInput__countryList {
      max-height: 84px;
    }
    .m-phoneInput__wrapper {
      @media screen and (max-width: $max-mobile) {
        min-width: 200px;
      }
    }
  }

  @media screen and (max-width: 771px) {
    .stretchedField {
      .m-form__row--label m-tooltip {
        .m-tooltip--bubble {
          right: 12px;
          width: 174px;
        }
      }
      [class*='m-form__row'] {
        &:not(.m-phoneInput__wrapper) {
          flex-flow: row wrap;
          label,
          input {
            flex: 1 1 100%;
            max-width: 100%;
            &:not(.m-phoneInput__input) {
              min-width: 100%;
            }
          }
        }
      }
    }
  }

  m-button {
    // make button full width for mobile only.
    @media screen and (max-width: $max-mobile) {
      width: 100%;
      margin-top: $spacing4;

      ::ng-deep button {
        width: 100%;
      }
    }
  }
}
