@import 'defaults.scss';
@import '../shared.scss';

:host {
  // ******************************************************
  // ** FEED (inside owner block) **
  // ******************************************************

  .m-activity--isFeed & {
    .m-activityPermalink__text {
      padding-left: $spacing2;
    }
  }

  // ******************************************************
  // ** MINIMAL MODE **
  // ******************************************************

  .m-activityPermalink--minimalMode {
    padding: 0 $minimalModeSpacing $minimalModeSpacing;
    .addTopSpacing {
      padding-top: $minimalModeSpacing !important;
    }
  }

  // ******************************************************
  // ** MODAL **
  // ******************************************************

  m-activityV2__modal & {
    .m-activityPermalink__text {
      padding-top: $spacing2;
    }
  }

  // ******************************************************
  // ** SINGLE **
  // ******************************************************

  m-newsfeed--single & {
    .m-activityPermalink__text {
      padding-top: $spacing4;
    }
  }

  // ******************************************************
  // ******************************************************
  // ******************************************************
  // ** DEFAULT **
  // ******************************************************
  // ******************************************************
  // ******************************************************
  .m-activityPermalink {
    text-decoration: none;

    .m-activityPermalink__text {
      display: inline-block;
      @include body2Medium;
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }

      &:not(.m-activityPermalink__text--views) {
        &:hover {
          text-decoration: underline;
        }
      }

      .material-icons {
        font-size: initial;
        vertical-align: text-top;
      }
    }
  }
}
