<!-- TODO: Make this into a different component -->
<!-- <m-chart [buckets]="(vm$.thecurrentvisualisation" | async)></m-chart> -->

<!-- TODO: then all this becomes m-plotlyChart -->
<!-- <div *ngIf="vm$ | async as vm"> -->
<div>
  <!-- <div id="graphDiv"></div> -->
  <plotly-plot
    id="graphDiv"
    [divId]="graphDiv"
    [data]="data"
    [layout]="layout"
    [config]="config"
    [useResizeHandler]="true"
    [style]="{ position: 'relative' }"
    (hover)="onHover($event)"
    (unhover)="onUnhover($event)"
  >
  </plotly-plot>
  <!-- (afterPlot)="afterPlot()" -->

  <div id="hoverInfo" class="hoverInfo">
    <div id="hoverInfo__x" class="hoverInfo__row">
      Wed 2 October 2019
    </div>
    <div id="hoverInfo__y" class="hoverInfo__row--primary">789012</div>
    <div id="hoverInfo__comparisonXy" class="hoverInfo__row">
      vs 567890 on Tues 1 October
    </div>
  </div>
</div>
