m-analytics__chart {
  position: relative;
  .js-plotly-plot,
  .plot-container {
    height: 44vh;
  }
}
#graphDiv {
  position: relative;
  g,
  g > * {
    cursor: default;
  }
}

.hoverInfo {
  width: 160px;
  padding: 16px;
  position: absolute;
  pointer-events: none;
  border-radius: 3px;
  font-size: 12px;
  z-index: 9999999999; // TODO fix
  opacity: 0;
  transition: opacity 0.2s ease-in;
  @include m-theme() {
    background-color: themed($m-white);
    box-shadow: 0 0 4px rgba(themed($m-black), 0.3);
    color: themed($m-grey-200);
  }

  .hoverInfo__row--primary {
    font-size: 14px;
    font-weight: bold;
    @include m-theme() {
      color: themed($m-grey-500);
    }
  }
}
