minds-button {
  display: inline-block;
}
.m-button.m-button--text {
  -webkit-appearance: none;
  border: 1px solid #EEE;
  color: #777;
  background: transparent;
  padding: 12px 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 14px;
  font-family: 'Lato';
}
