@import 'defaults.scss';

:host {
  .m-register__error,
  .m-register__formError {
    font-size: 14px;
    line-height: 20px;

    @include m-theme() {
      color: themed($m-red) !important;
    }
  }

  .ng-invalid.ng-dirty {
    &:not(:focus) {
      @include m-theme() {
        border-color: themed($m-red) !important;
      }
    }
  }
}
