<form *ngIf="form" [formGroup]="form" class="m-formLayout--buttonRight">
  <div class="m-form__fieldsContainer">
    <div class="m-form__field--text stretchedField hasValidationRow">
      <div class="m-form__row--label">
        <label for="name" i18n>Existing Password</label>
      </div>
      <div
        class="m-form__row--input"
        [ngClass]="{
          invalid: passwordIncorrect
        }"
      >
        <input
          type="password"
          id="password"
          name="password"
          formControlName="password"
          class="form-control"
          readonly
          onfocus="this.removeAttribute('readonly');"
        />
      </div>
      <div class="m-form__row--validation">
        <p *ngIf="passwordIncorrect">
          Incorrect password.
        </p>
      </div>
    </div>
    <div class="m-form__field--text stretchedField hasValidationRow">
      <div class="m-form__row--label">
        <label for="name" i18n>New Password</label>
      </div>
      <div
        class="m-form__row--input"
        [ngClass]="{
          invalid:
            newPassword.dirty &&
            !newPassword.hasError('required') &&
            !newPasswordValid
        }"
      >
        <m-popover (change)="onPopoverChange($event)" #popover>
          <input
            type="password"
            id="newPassword"
            name="newPassword"
            formControlName="newPassword"
            class="form-control"
            readonly
            onfocus="this.removeAttribute('readonly');"
            (focus)="onNewPasswordFocus()"
            (blur)="onNewPasswordBlur()"
          />
        </m-popover>
      </div>
      <div class="m-form__row--validation">
        <p
          *ngIf="
            newPassword.dirty &&
            !newPassword.hasError('required') &&
            !newPasswordValid
          "
        >
          Invalid password format.
        </p>
      </div>
    </div>
    <div class="m-form__field--text stretchedField hasValidationRow">
      <div class="m-form__row--label">
        <label for="name" i18n>Confirm New Password</label>
      </div>
      <div
        class="m-form__row--input"
        [ngClass]="{
          invalid:
            (confirmNewPassword.touched || confirmNewPassword.dirty) &&
            confirmNewPassword.invalid
        }"
      >
        <input
          type="password"
          id="confirmNewPassword"
          name="confirmNewPassword"
          formControlName="confirmNewPassword"
          class="form-control"
          readonly
          onfocus="this.removeAttribute('readonly');"
        />
      </div>
      <div class="m-form__row--validation">
        <p
          *ngIf="
            (confirmNewPassword.touched || confirmNewPassword.dirty) &&
            confirmNewPassword.hasError('passwordMatch')
          "
        >
          Passwords must match.
        </p>
      </div>
    </div>
  </div>
  <div class="m-form__buttonsContainer">
    <m-shadowboxSubmitButton
      [disabled]="!canSubmit()"
      [saving]="inProgress"
      (click)="submit()"
    >
      Update Password
    </m-shadowboxSubmitButton>
  </div>
</form>
