.m-pro--settings {
  max-width: 1280px;
  margin: auto;

  .m-toolbar {
    padding-top: 4px;
  }
}

.m-pro--settings--page {
  padding-bottom: 24px;

  @include m-theme() {
    background-color: themed($m-white);
  }

  h4 {
    margin: 0 0 8px;
  }

  form {
    margin: 0;
    padding: 0;
  }

  .m-pro--settings--field {
    margin: 0 0 24px;

    &:last-child {
      margin: 0;
    }

    label {
      display: block;
      font-weight: 300;
      margin-bottom: 4px;

      @include m-theme() {
        color: themed($m-grey-800);
      }

      &.m-pro--settings--inline-label {
        display: inline-block;
        padding: 0;
        margin: 0 0.35em;
      }
    }

    input[type=text],
    input[type=password],
    input[type=search],
    input[type=date] {
      appearance: none;
      border: 1px solid;
      border-radius: 6px;
      width: 100%;
      padding: 8px;
      font-size: 16px;
      max-width: 40em;

      @media screen and (max-width: 768px) {
        max-width: 100%;
      }

      @include m-theme() {
        border-color: themed($m-grey-50);
      }
    }

    &.m-pro--settings--field-actions {
      display: flex;
      flex-direction: row;

      > *:last-child {
        margin-left: auto;
      }
    }
  }

  .m-pro--settings--preview-btn {
    margin-left: 0.35em;

    @include m-theme() {
      color: themed($m-grey-600);
      border-color: themed($m-grey-600);
    }
  }

  .m-pro--settings--note {
    @include m-theme() {
      color: themed($m-grey-400);
    }
  }

  .m-pro--settings--flex-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 40em;

    @media screen and (max-width: 768px) {
      max-width: 100%;
    }

    > input {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .m-pro--settings--field-spinner {
    margin-left: 0.65em
  }
}
