m-proSettings {
  display: block;
  @include m-theme() {
    background-color: themed($m-white);
  }
  form {
    margin: 0;
    padding: 0;
  }

  .m-proSettings__upgradeLink {
    display: inline;
    font-weight: bold;
    color: #4690df;
    text-decoration: none;
    margin-bottom: 8px;
  }

  m-tooltip {
    margin-left: 10px;
    .m-tooltip {
      margin: 0;
    }
    .m-tooltip--bubble {
      bottom: 18px;
      margin-left: 12px;
    }
  }

  [class*='m-proSettings__field'] {
    position: relative;
    margin-bottom: 28px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    @include m-theme() {
      color: themed($m-grey-800);
    }
    &:last-child {
      margin-bottom: 42px;
    }
    &.hasValidationRow {
      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }

    &.m-proSettings__field--checkbox,
    &.m-proSettings__field--radio {
      align-items: center;
      flex-flow: row wrap;
    }
    &.m-proSettings__field--radio {
      .m-proSettings__row--label {
        margin-bottom: 21px;
      }
    }
  }

  [class*='m-proSettings__row'] {
    display: flex;
    flex-flow: row wrap;

    &[class*='--label'] {
      margin: 0 0 12px 0;
      align-items: center;
      flex-flow: row nowrap;
      position: relative;
    }
    &[class*='--validation'] {
      margin-top: 3px;
      min-height: 22px;
      p {
        font-size: 14px;
        line-height: 19px;
        margin: 0 8px 0 0;
        font-weight: 300;
        @include m-theme() {
          color: themed($m-red-dark);
        }
      }
    }
  }
  .stretchedField {
    .m-proSettings__row--label m-tooltip {
      margin-left: -12px;
    }
    .m-proSettings__row--input {
      flex-flow: row nowrap;
    }
    .m-proSettings__row--validation {
      justify-content: flex-end;
    }
    label,
    input,
    textarea {
      flex: 1 1 calc(100% - 160px);
      max-width: calc(100% - 160px);
    }
  }

  .m-proSettings__field--color {
    .m-proSettings__row--input {
      input {
        width: 120px;
        box-sizing: border-box;
      }
    }
  }

  label {
    @include m-theme() {
      color: themed($m-grey-800);
    }
  }

  input {
    outline: 0;
  }

  input[type='radio'] {
    margin: 0 24px 12px 0;
    &:last-child {
      margin-right: 0;
    }
  }

  input[type='file'] {
    position: absolute;
    -webkit-appearance: none;
    width: 0.1px;
    height: 0.1px;
    z-index: -1;
    opacity: 0.01;
    top: -1px;
    left: -1px;
  }

  input[type='text'] {
    max-height: 42px;
  }

  input[type='text'],
  textarea {
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    width: 0;
    min-width: 0;
    @include m-theme() {
      color: themed($m-grey-800);
    }
    &:not(.m-draggableList__cell) {
      padding: 10px 20px;
      border-radius: 2px;
      @include m-theme() {
        box-shadow: 0 1px 4px 0 rgba(themed($m-black), 0.1);
        border: 1px solid themed($m-grey-50);
      }
      &:focus {
        &:not(:read-only) {
          @include m-theme() {
            border-color: themed($m-blue);
          }
        }
      }
    }
  }

  input,
  textarea {
    &:not(:read-only):not(:-moz-read-only) {
      cursor: default;
    }
    &:not(.m-draggableList__cell) {
      &.ng-invalid.form-control {
        @include m-theme() {
          border-color: themed($m-red-dark) !important;
        }
      }
    }
  }

  textarea {
    appearance: none;
    height: 6em;
    resize: none;
    outline: 0;

    &.m-proSettings__codeTextarea {
      cursor: default;
      font-family: monospace;
      font-weight: 300;
      height: 12em;
      @include m-theme() {
        color: themed($m-grey-300);
      }
    }
  }
  .m-proSettings__field--grid {
    .m-proSettings__row--label {
      button {
        cursor: pointer;
        font-size: 14px;
        line-height: 19px;
        font-weight: 300;
        border-radius: 2px;
        padding: 4px 12px;
        transition: all 0.3s ease;
        margin-left: auto;
        @include m-theme() {
          color: themed($m-grey-800);
          border: 1px solid themed($m-grey-50);
          background-color: themed($m-white);
        }
        &:hover {
          transform: scale(1.04);
          @include m-theme() {
            box-shadow: 0 3px 2px -5px rgba(themed($m-black), 0.1),
              0 2px 2px 0 rgba(themed($m-black), 0.04),
              0 1px 4px 0 rgba(themed($m-black), 0.05);
          }
        }
        &:active {
          transform: scale(0.98);
          @include m-theme() {
            box-shadow: 0 3px 1px -6px rgba(themed($m-black), 0.12),
              0 0px 1px 0 rgba(themed($m-black), 0.07),
              0 1px 2px 0 rgba(themed($m-black), 0.08);
          }
        }

        &:disabled,
        &[disabled] {
          cursor: default;
          @include m-theme() {
            color: themed($m-grey-100);
          }
          &:hover {
            @include m-theme() {
              border-color: themed($m-grey-50);
            }
          }
        }
      }
    }
  }

  .m-proSettings__colorPreview {
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin-left: 15px;
    border-radius: 2px;
    transition: background-color 0.2s ease;
    @include m-theme() {
      box-shadow: 0 1px 4px 0 rgba(themed($m-black), 0.1);
      border: 1px solid themed($m-grey-50);
    }
    input {
      visibility: hidden;
    }
  }

  [class*='m-proSettings__filePreview'] {
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
    margin: 0;
    @include m-theme() {
      box-shadow: 0 1px 4px 0 rgba(themed($m-black), 0.1);
    }

    &[class*='--logo'] {
      padding: 16px;
      > img {
        max-width: 100%;
        max-height: 100px;
        object-fit: contain;
      }
    }

    &[class*='--background'] {
      width: 480px;
      height: 270px;

      @include m-theme() {
        background: rgba(themed($m-black-always), 0.3);
      }
      > img {
        width: 480px;
        height: 270px;
        object-fit: cover;
      }
    }
    &[class*='Overlay'] {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background 0.5s cubic-bezier(0.23, 1, 0.32, 1);
      @include m-theme() {
        background: rgba(themed($m-black-always), 0.4);
      }
      &:hover {
        // .m-proSettings__filePreviewOverlay {
        opacity: 1;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // }
      }
    }

    > i.material-icons {
      font-size: 3em;
      @include m-theme() {
        color: themed($m-white-always);
      }
    }
  }
  .m-proSettingsDomain__validIcon {
    position: relative;
    top: -1px;
    margin-left: 4px;

    i.material-icons {
      font-size: 18px;
      line-height: 18px;
      vertical-align: middle;
    }

    .m-tooltip--bubble {
      width: 150px;
      left: auto;
      right: 0;
    }

    &.m-proSettingsDomain__validIcon--true i.material-icons {
      @include m-theme() {
        color: themed($m-green);
      }
    }

    &.m-proSettingsDomain__validIcon--false i.material-icons {
      @include m-theme() {
        color: themed($m-red-dark);
      }
    }
  }

  m-formDescriptor {
    box-sizing: border-box;
    flex: 1 0 160px;
    min-width: 160px;
    .m-formDescriptor {
      margin-left: 33px;
      padding-left: 14px;
      font-size: 15px;
      line-height: 20px;
    }
  }

  [class*='m-proSettings__customInputContainer'] {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &[class*='--radio'] {
      margin: 0 24px 12px 0;
      padding-left: 30px;
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked ~ [class*='m-proSettings__customInput'] {
        &[class*='--checkbox'] {
          @include m-theme() {
            background-color: themed($m-blue);
          }
        }
        &:after {
          display: block;
        }
      }
    }
    [class*='m-proSettings__customInput--'] {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      transition: all 0.3s ease;
      @include m-theme() {
        background-color: themed($m-white);
        border: 1px solid themed($m-grey-100);
      }
      &[class*='--checkbox'] {
        border-radius: 2px;
        @include m-theme() {
          background-color: themed($m-white);
        }
        &:after {
          left: 7px;
          top: 2px;
          width: 5px;
          height: 12px;
          @include m-theme() {
            border: 1px solid themed($m-white);
            border-top: none;
            border-left: none;
          }
        }
      }
      &[class*='--radio'] {
        border-radius: 50%;
        @include m-theme() {
          background-color: themed($m-grey-50);
        }
        &:after {
          border-radius: 50%;
          left: 3px;
          top: 3px;
          width: 0px;
          height: 0px;
          @include m-theme() {
            border: 7px solid themed($m-blue);
          }
        }
      }

      &:after {
        content: '';
        position: absolute;
        display: none;

        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  m-proSettings {
    .stretchedField {
      .m-proSettings__row--label m-tooltip {
        .m-tooltip--bubble {
          right: 12px;
        }
      }

      [class*='m-proSettings__row'] {
        flex-flow: row wrap;
        label,
        input,
        textarea,
        m-formDescriptor {
          flex: 1 1 100%;
          min-width: 100%;
          max-width: 100%;
        }

        m-formDescriptor {
          .m-formDescriptor {
            margin: 16px 0 0 0;
            font-size: 14px;
          }
        }
      }
    }
  }
}
