<m-pageLayout menuId="pro_settings" [isForm]="true">
  <ng-container m-pageLayout__main *ngIf="settings">
    <m-shadowboxLayout
      [scrollableHeader]="false"
      [isForm]="true"
      [headerTitle]="activeTab.title"
      [headerSubtitle]="activeTab.subtitle"
    >
      <div class="m-shadowboxLayout__body">
        <div *ngIf="inProgress && !settings">
          <div class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
        </div>

        <ng-container *ngIf="settings && activeTab">
          <form (ngSubmit)="save()">
            <ng-container [ngSwitch]="activeTab.id">
              <!-- General -->

              <ng-template ngSwitchCase="general">
                <button (click)="tempToast()">toastme</button>
                <div class="m-proSettings__tab--general">
                  <div class="m-proSettings__field--text stretchedField">
                    <div class="m-proSettings__row--label">
                      <label for="title" i18n>Page Title (HTML)</label>
                      <m-tooltip icon="help">
                        <ng-container i18n>tbd</ng-container>
                      </m-tooltip>
                    </div>
                    <div class="m-proSettings__row--input">
                      <input
                        type="text"
                        id="title"
                        name="title"
                        [(ngModel)]="settings.title"
                      /><m-formDescriptor>A short descriptor</m-formDescriptor>
                    </div>
                  </div>

                  <div class="m-proSettings__field--text stretchedField">
                    <div class="m-proSettings__row--label">
                      <label for="headline" i18n>Headline</label>
                      <m-tooltip icon="help">
                        <ng-container i18n>tbd</ng-container>
                      </m-tooltip>
                    </div>
                    <div class="m-proSettings__row--input">
                      <textarea
                        id="headline"
                        name="headline"
                        [(ngModel)]="settings.headline"
                      ></textarea>
                      <m-formDescriptor
                        >This will also be used in your SEO
                        tags</m-formDescriptor
                      >
                    </div>
                  </div>

                  <div class="m-proSettings__field--checkbox compactField">
                    <div class="m-proSettings__row--input">
                      <label
                        for="publish"
                        class="m-proSettings__customInputContainer--checkbox"
                        i18n
                        >Enable Pro theme
                        <input
                          type="checkbox"
                          checked="checked"
                          id="publish"
                          name="publish"
                          [(ngModel)]="settings.published"
                        />
                        <span
                          class="m-proSettings__customInput--checkbox"
                        ></span>
                      </label>
                      <m-tooltip icon="help">
                        <ng-container i18n>tbd</ng-container>
                      </m-tooltip>
                    </div>
                  </div>
                </div>
              </ng-template>

              <!-- Theme -->

              <ng-template ngSwitchCase="theme">
                <div class="m-proSettings__tab--theme">
                  <div class="m-proSettings__field--color compactField">
                    <div class="m-proSettings__row--label">
                      <label for="text_color" i18n>Text Color</label>
                      <m-tooltip icon="help">
                        <ng-container i18n>tbd</ng-container>
                      </m-tooltip>
                    </div>
                    <div class="m-proSettings__row--input">
                      <input
                        type="text"
                        id="text_color"
                        name="text_color"
                        [(ngModel)]="settings.text_color"
                      />

                      <div
                        class="m-proSettings__colorPreview"
                        [ngStyle]="{
                          backgroundColor: settings.text_color
                        }"
                      ></div>
                      <div
                        *ngIf="
                          settings.text_color.invalid &&
                          (settings.text_color.dirty ||
                            settings.text_color.touched)
                        "
                      >
                        some warning
                      </div>
                    </div>
                  </div>

                  <div class="m-proSettings__field--color compactField">
                    <div class="m-proSettings__row--label">
                      <label for="primary_color" i18n>Primary Color</label
                      ><m-tooltip icon="help">
                        <ng-container i18n>tbd</ng-container>
                      </m-tooltip>
                    </div>
                    <div class="m-proSettings__row--input">
                      <input
                        type="text"
                        id="primary_color"
                        name="primary_color"
                        [(ngModel)]="settings.primary_color"
                      />

                      <div
                        class="m-proSettings__colorPreview"
                        [ngStyle]="{
                          backgroundColor: settings.primary_color
                        }"
                      ></div>
                      <div
                        *ngIf="
                          settings.primary_color.invalid &&
                          (settings.primary_color.dirty ||
                            settings.primary_color.touched)
                        "
                      >
                        some warning
                      </div>
                    </div>
                  </div>

                  <div class="m-proSettings__field--color compactField">
                    <div class="m-proSettings__row--label">
                      <label for="plain_background_color" i18n>
                        Plain Background Color </label
                      ><m-tooltip icon="help">
                        <ng-container i18n>tbd</ng-container>
                      </m-tooltip>
                    </div>
                    <div class="m-proSettings__row--input">
                      <input
                        type="text"
                        id="plain_background_color"
                        name="plain_background_color"
                        [(ngModel)]="settings.plain_background_color"
                      />

                      <div
                        class="m-proSettings__colorPreview"
                        [ngStyle]="{
                          backgroundColor: settings.plain_background_color
                        }"
                      ></div>
                      <div
                        *ngIf="
                          settings.plain_background_color.invalid &&
                          (settings.plain_background_color.dirty ||
                            settings.plain_background_color.touched)
                        "
                      >
                        some warning
                      </div>
                    </div>
                  </div>

                  <div class="m-proSettings__field--radio compactField">
                    <div class="m-proSettings__row--label">
                      <label i18n> Color Schema </label
                      ><m-tooltip icon="help">
                        <ng-container i18n>tbd</ng-container>
                      </m-tooltip>
                    </div>
                    <div class="m-proSettings__row--input">
                      <label
                        for="scheme_light"
                        class="m-proSettings__customInputContainer--radio"
                        i18n
                        >Light
                        <input
                          type="radio"
                          id="scheme_light"
                          name="scheme"
                          value="light"
                          [(ngModel)]="settings.scheme"
                        />
                        <span class="m-proSettings__customInput--radio"></span>
                      </label>
                      <label
                        for="scheme_dark"
                        class="m-proSettings__customInputContainer--radio"
                        i18n
                        >Dark
                        <input
                          type="radio"
                          id="scheme_dark"
                          name="scheme"
                          value="dark"
                          [(ngModel)]="settings.scheme"
                        />
                        <span class="m-proSettings__customInput--radio"></span>
                      </label>
                    </div>
                  </div>

                  <div class="m-proSettings__field--radio compactField">
                    <div class="m-proSettings__row--label">
                      <label i18n>Tiles Aspect Ratio</label
                      ><m-tooltip icon="help"
                        ><ng-container i18n>tbd</ng-container></m-tooltip
                      >
                    </div>
                    <div class="m-proSettings__row--input">
                      <ng-container *ngFor="let ratio of ratios">
                        <label
                          [for]="'tile_ratio_' + ratio"
                          class="m-proSettings__customInputContainer--radio"
                          >{{ ratio }}
                          <input
                            type="radio"
                            [id]="'tile_ratio_' + ratio"
                            name="scheme"
                            [value]="ratio"
                            [(ngModel)]="settings.tile_ratio"
                          />
                          <span
                            class="m-proSettings__customInput--radio"
                          ></span>
                        </label>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </ng-template>

              <!-- Assets -->

              <ng-template ngSwitchCase="assets">
                <div class="m-proSettings__tab--assets">
                  <div class="m-proSettings__field--asset compactField">
                    <div class="m-proSettings__row--label">
                      <label for="logo" i18n>Logo</label>
                      <m-tooltip icon="help"
                        ><ng-container i18n>tbd</ng-container></m-tooltip
                      >
                    </div>

                    <div class="m-proSettings__row--input">
                      <label
                        for="logo"
                        class="m-proSettings__filePreview--logo"
                        [ngStyle]="{
                          backgroundColor: settings.plain_background_color
                        }"
                      >
                        <input
                          type="file"
                          id="logo"
                          name="logo"
                          accept="image/*"
                          (change)="onAssetFileSelect('logo', logoField.files)"
                          #logoField
                        />

                        <img
                          *ngIf="getPreviewAssetSrc('logo')"
                          [src]="getPreviewAssetSrc('logo')"
                        />

                        <span class="m-proSettings__filePreviewOverlay">
                          <i class="material-icons">cloud_upload</i>
                        </span>
                      </label>
                    </div>
                  </div>

                  <div class="m-proSettings__field--asset compactField">
                    <div class="m-proSettings__row--label">
                      <label for="background" i18n>Background</label
                      ><m-tooltip icon="help"
                        ><ng-container i18n>tbd</ng-container></m-tooltip
                      >
                    </div>

                    <div class="m-proSettings__row--input">
                      <label
                        for="background"
                        class="m-proSettings__filePreview--background"
                      >
                        <input
                          type="file"
                          id="background"
                          name="background"
                          accept="image/*"
                          (change)="
                            onAssetFileSelect(
                              'background',
                              backgroundField.files
                            )
                          "
                          #backgroundField
                        />
                        <img
                          *ngIf="getPreviewAssetSrc('background')"
                          [src]="getPreviewAssetSrc('background')"
                        />
                        <span class="m-proSettingsFilePreview__overlay">
                          <i class="material-icons">cloud_upload</i>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
              </ng-template>

              <!-- Tags -->

              <ng-template ngSwitchCase="hashtags">
                <div class="m-proSettings__tab--tags containsDragDrop">
                  <div class="m-proSettings__field--grid fullWidthField">
                    <div class="m-proSettings__row--label">
                      <label i18n>Hashtags</label>
                      <m-tooltip icon="help">
                        <ng-container i18n>tbd</ng-container></m-tooltip
                      ><button type="button" (click)="addBlankTag()" i18n>
                        Add
                      </button>
                    </div>
                    <div class="m-proSettings__row--input">
                      <m-draggableList
                        [headers]="['Label', '#Hashtag']"
                        [data]="settings.tag_list"
                        [id]="'tag'"
                        (emptyListHeaderRowClicked)="addBlankTag()"
                      >
                        <ng-template let-tag="item" let-i="i">
                          <input
                            class="m-draggableList__cell"
                            type="text"
                            [id]="'tag-label-' + i"
                            [name]="'tag[' + i + '][label]'"
                            [(ngModel)]="tag.label"
                          />
                          <input
                            class="m-draggableList__cell"
                            type="text"
                            [id]="'tag-tag-' + i"
                            [name]="'tag[' + i + '][tag]'"
                            [(ngModel)]="tag.tag"
                          />
                        </ng-template>
                      </m-draggableList>
                    </div>
                  </div>
                </div>
              </ng-template>

              <!-- Footer -->

              <ng-template ngSwitchCase="footer">
                <div class="m-proSettings__tab--footer containsDragDrop">
                  <div class="m-proSettings__field--text compactField">
                    <div class="m-proSettings__row--label">
                      <label for="footer_text" i18n>Title</label
                      ><m-tooltip icon="help"
                        ><ng-container i18n>tbd</ng-container></m-tooltip
                      >
                    </div>
                    <div class="m-proSettings__row--input">
                      <input
                        type="text"
                        id="footer_text"
                        name="footer_text"
                        [(ngModel)]="settings.footer_text"
                      />
                    </div>
                  </div>
                  <div class="m-proSettings__field--grid fullWidthField">
                    <div class="m-proSettings__row--label">
                      <label i18n>Links</label>
                      <m-tooltip icon="help">
                        <ng-container i18n>tbd</ng-container> </m-tooltip
                      ><button
                        type="button"
                        (click)="addBlankFooterLink()"
                        i18n
                      >
                        Add
                      </button>
                    </div>
                    <div class="m-proSettings__row--input">
                      <m-draggableList
                        [headers]="['Label', 'Url']"
                        [data]="settings.footer_links"
                        [id]="'title'"
                        (emptyListHeaderRowClicked)="addBlankFooterLink()"
                      >
                        <ng-template let-link="item" let-i="i">
                          <input
                            class="m-draggableList__cell"
                            type="text"
                            [id]="'footer_link-title-' + i"
                            [name]="'footer_link[' + i + '][title]'"
                            [(ngModel)]="link.title"
                          />

                          <input
                            class="m-draggableList__cell"
                            type="text"
                            [id]="'footer_link-href-' + i"
                            [name]="'footer_link[' + i + '][href]'"
                            [(ngModel)]="link.href"
                          />
                        </ng-template>
                      </m-draggableList>
                    </div>
                  </div>
                </div>
              </ng-template>

              <!-- Domain -->

              <ng-template ngSwitchCase="domain">
                <div class="m-proSettings__tab--domain">
                  <div class="m-proSettings__field--text stretchedField">
                    <div class="m-proSettings__row--label">
                      <label for="domain" i18n>Domain</label>
                      <m-tooltip icon="help"
                        ><ng-container i18n>tbd</ng-container></m-tooltip
                      >
                    </div>
                    <div class="m-proSettings__row--input">
                      <input
                        class="m-proSettings__input--hasIcon"
                        type="text"
                        id="domain"
                        name="domain"
                        [(ngModel)]="settings.domain"
                        (keydown)="domainValidationSubject.next($event)"
                      />

                      <m-tooltip
                        *ngIf="isDomainValid !== null"
                        [icon]="isDomainValid ? 'check' : 'close'"
                        class="m-proSettingsDomain__validIcon"
                        [class.m-proSettingsDomain__validIcon--true]="
                          isDomainValid
                        "
                        [class.m-proSettingsDomain__validIcon--false]="
                          !isDomainValid
                        "
                      >
                        <ng-container
                          *ngIf="isDomainValid; else notValidDomain"
                          i18n
                        >
                          This domain is available
                        </ng-container>
                        <ng-template #notValidDomain>
                          <ng-container i18n>
                            This domain is taken
                          </ng-container>
                        </ng-template>
                      </m-tooltip>
                    </div>
                  </div>

                  <div class="m-proSettings__field--text stretchedField">
                    <div class="m-proSettings__row--label">
                      <label for="custom_head" i18n
                        >Custom &lt;head&gt; Code</label
                      ><m-tooltip icon="help"
                        ><ng-container i18n>tbd</ng-container></m-tooltip
                      >
                    </div>
                    <div class="m-proSettings__row--input">
                      <textarea
                        class="m-proSettings__codeTextarea"
                        id="custom_head"
                        name="custom_head"
                        [(ngModel)]="settings.custom_head"
                        [readOnly]="!isAdmin"
                      ></textarea>
                      <m-formDescriptor *ngIf="!isAdmin"
                        >Please contact a Minds admin or email info@minds.com to
                        customize this field</m-formDescriptor
                      >
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </form>
        </ng-container>
      </div>
      <div class="m-shadowboxLayout__footer">
        <!-- <div class="m-proSettings__fieldSpinner" *ngIf="inProgress">
          <div class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
        </div> -->
        <button
          class="m-shadowboxLayout__button"
          type="submit"
          [disabled]="inProgress"
          i18n
        >
          Save
          {{
            activeTab.id === 'general' ? 'Personal Details' : activeTab.title
          }}
        </button>
      </div>
    </m-shadowboxLayout>
    <m-formToast></m-formToast>
  </ng-container>
</m-pageLayout>
