<m-pageLayout [menuObj]="menuObj" [isForm]="true">
  <ng-container m-pageLayout__main *ngIf="settings">
    <m-shadowboxLayout
      [scrollableHeader]="false"
      [isForm]="true"
      [headerTitle]="activeTab.title"
      [headerSubtitle]="activeTab.subtitle"
    >
      <div class="m-shadowboxLayout__bottom">
        <div *ngIf="inProgress && !settings">
          <div class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
        </div>
        <ng-container *ngIf="settings && activeTab">
          <form [formGroup]="form" (ngSubmit)="onSubmit()" #f="ngForm">
            <ng-container [ngSwitch]="activeTab.id">
              <!-- General -->
              <ng-template ngSwitchCase="general">
                <div class="m-shadowboxLayout__body">
                  <div class="m-proSettings__tab--general">
                    <div class="m-proSettings__field--text stretchedField">
                      <div class="m-proSettings__row--label">
                        <label for="title" i18n>Page Title (HTML)</label>
                        <m-tooltip icon="help">
                          <ng-container i18n
                            >The name of your pro site</ng-container
                          >
                        </m-tooltip>
                      </div>
                      <div class="m-proSettings__row--input">
                        <input
                          type="text"
                          id="title"
                          name="title"
                          formControlName="title"
                          class="form-control"
                        /><m-formDescriptor
                          >A short descriptor</m-formDescriptor
                        >
                      </div>
                    </div>

                    <div class="m-proSettings__field--text stretchedField">
                      <div class="m-proSettings__row--label">
                        <label for="headline" i18n>Headline</label>
                        <m-tooltip icon="help">
                          <ng-container i18n
                            >A short description about what your pro site
                            is</ng-container
                          >
                        </m-tooltip>
                      </div>
                      <div class="m-proSettings__row--input">
                        <textarea
                          id="headline"
                          name="headline"
                          formControlName="headline"
                          class="form-control"
                        ></textarea>
                        <m-formDescriptor
                          >This will be used in your SEO tags as
                          well</m-formDescriptor
                        >
                      </div>
                    </div>

                    <div class="m-proSettings__field--checkbox">
                      <div class="m-proSettings__row--input">
                        <label
                          for="publish"
                          class="m-proSettings__customInputContainer--checkbox"
                          i18n
                          >Enable Pro theme
                          <input
                            type="checkbox"
                            id="publish"
                            name="publish"
                            formControlName="published"
                            class="form-control"
                          />
                          <span
                            class="m-proSettings__customInput--checkbox"
                          ></span>
                        </label>
                        <m-tooltip icon="help">
                          <ng-container i18n
                            >When enabled, your channel on minds.com will have
                            your pro site theme.</ng-container
                          >
                        </m-tooltip>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>

              <!-- Theme -->

              <ng-template ngSwitchCase="theme">
                <div class="m-shadowboxLayout__body">
                  <div class="m-proSettings__tab--theme" formGroupName="theme">
                    <div class="m-proSettings__field--color hasValidationRow">
                      <div class="m-proSettings__row--label">
                        <label for="text_color" i18n>Text Color</label>
                        <m-tooltip icon="help">
                          <ng-container i18n
                            >The color of text on your pro site</ng-container
                          >
                        </m-tooltip>
                      </div>
                      <div class="m-proSettings__row--input">
                        <input
                          type="text"
                          id="text_color"
                          name="text_color"
                          formControlName="text_color"
                          #textColor
                          [pattern]="hexPattern"
                          class="form-control"
                          required
                        />

                        <div
                          class="m-proSettings__colorPreview"
                          [ngStyle]="{
                            backgroundColor: textColor.value
                          }"
                        ></div>
                      </div>
                      <div class="m-proSettings__row--validation">
                        <p
                          *ngIf="
                            form
                              .get('theme')
                              .get('text_color')
                              .hasError('pattern')
                          "
                        >
                          Invalid hex code
                        </p>
                        <p
                          *ngIf="
                            form
                              .get('theme')
                              .get('text_color')
                              .hasError('required')
                          "
                        >
                          Text color is required
                        </p>
                      </div>
                    </div>

                    <div class="m-proSettings__field--color hasValidationRow">
                      <div class="m-proSettings__row--label">
                        <label for="primary_color" i18n>Primary Color</label
                        ><m-tooltip icon="help">
                          <ng-container i18n>The color of links</ng-container>
                        </m-tooltip>
                      </div>
                      <div class="m-proSettings__row--input">
                        <input
                          type="text"
                          id="primary_color"
                          name="primary_color"
                          #primaryColor
                          formControlName="primary_color"
                          [pattern]="hexPattern"
                          class="form-control"
                          required
                        />

                        <div
                          class="m-proSettings__colorPreview"
                          [ngStyle]="{
                            backgroundColor: primaryColor.value
                          }"
                        ></div>
                      </div>
                      <div class="m-proSettings__row--validation">
                        <p
                          *ngIf="
                            form
                              .get('theme')
                              .get('primary_color')
                              .hasError('pattern')
                          "
                        >
                          Invalid hex code
                        </p>
                        <p
                          *ngIf="
                            form
                              .get('theme')
                              .get('primary_color')
                              .hasError('required')
                          "
                        >
                          Primary color is required
                        </p>
                      </div>
                    </div>

                    <div class="m-proSettings__field--color hasValidationRow">
                      <div class="m-proSettings__row--label">
                        <label for="plain_background_color" i18n>
                          Plain Background Color </label
                        ><m-tooltip icon="help">
                          <ng-container i18n
                            >The color of your background</ng-container
                          >
                        </m-tooltip>
                      </div>
                      <div class="m-proSettings__row--input">
                        <input
                          type="text"
                          id="plain_background_color"
                          name="plain_background_color"
                          #plainBg
                          formControlName="plain_background_color"
                          [pattern]="hexPattern"
                          class="form-control"
                          required
                        />

                        <div
                          class="m-proSettings__colorPreview"
                          [ngStyle]="{
                            backgroundColor: plainBg.value
                          }"
                        ></div>
                      </div>
                      <div class="m-proSettings__row--validation">
                        <p
                          *ngIf="
                            form
                              .get('theme')
                              .get('plain_background_color')
                              .hasError('pattern')
                          "
                        >
                          Invalid hex code
                        </p>
                        <p
                          *ngIf="
                            form
                              .get('theme')
                              .get('plain_background_color')
                              .hasError('required')
                          "
                        >
                          Plain background color is required
                        </p>
                      </div>
                    </div>

                    <div class="m-proSettings__field--radio">
                      <div class="m-proSettings__row--label">
                        <label i18n> Color Schema </label
                        ><m-tooltip icon="help">
                          <ng-container i18n
                            >Do you want to use the light or dark
                            theme?</ng-container
                          >
                        </m-tooltip>
                      </div>
                      <div class="m-proSettings__row--input">
                        <label
                          for="scheme_light"
                          class="m-proSettings__customInputContainer--radio"
                          i18n
                          >Light
                          <input
                            type="radio"
                            id="scheme_light"
                            name="scheme"
                            value="light"
                            formControlName="scheme"
                            class="form-control"
                          />
                          <span
                            class="m-proSettings__customInput--radio"
                          ></span>
                        </label>
                        <label
                          for="scheme_dark"
                          class="m-proSettings__customInputContainer--radio"
                          i18n
                          >Dark
                          <input
                            type="radio"
                            id="scheme_dark"
                            name="scheme"
                            value="dark"
                            formControlName="scheme"
                            class="form-control"
                          />
                          <span
                            class="m-proSettings__customInput--radio"
                          ></span>
                        </label>
                      </div>
                    </div>

                    <div class="m-proSettings__field--radio">
                      <div class="m-proSettings__row--label">
                        <label i18n>Tiles Aspect Ratio</label
                        ><m-tooltip icon="help"
                          ><ng-container i18n
                            >The size of the tiles on your pro site can be
                            changed</ng-container
                          ></m-tooltip
                        >
                      </div>
                      <div class="m-proSettings__row--input">
                        <ng-container *ngFor="let ratio of ratios">
                          <label
                            [for]="'tile_ratio_' + ratio"
                            class="m-proSettings__customInputContainer--radio"
                            >{{ ratio }}
                            <input
                              type="radio"
                              [id]="'tile_ratio_' + ratio"
                              name="tile_ratio"
                              [value]="ratio"
                              formControlName="tile_ratio"
                              class="form-control"
                            />
                            <span
                              class="m-proSettings__customInput--radio"
                            ></span>
                          </label>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>

              <!-- Assets -->
              <ng-template ngSwitchCase="assets">
                <div class="m-shadowboxLayout__body">
                  <div
                    class="m-proSettings__tab--assets"
                    formGroupName="assets"
                  >
                    <div class="m-proSettings__field--asset">
                      <div class="m-proSettings__row--label">
                        <label for="logo" i18n>Logo</label>
                        <m-tooltip icon="help"
                          ><ng-container i18n
                            >This will be displayed on the top left of your
                            site</ng-container
                          ></m-tooltip
                        >
                      </div>

                      <div class="m-proSettings__row--input">
                        <label
                          for="logo"
                          class="m-proSettings__filePreview--logo"
                          [ngStyle]="{
                            backgroundColor: settings.plain_background_color
                          }"
                        >
                          <input
                            class="form-control"
                            type="file"
                            id="logo"
                            name="logo"
                            accept="image/*"
                            (change)="
                              onAssetFileSelect('logo', logoField.files)
                            "
                            #logoField
                          />

                          <img
                            *ngIf="getPreviewAssetSrc('logo')"
                            [src]="getPreviewAssetSrc('logo')"
                          />

                          <span class="m-proSettings__filePreviewOverlay">
                            <i class="material-icons">cloud_upload</i>
                          </span>
                        </label>
                      </div>
                    </div>

                    <div class="m-proSettings__field--asset">
                      <div class="m-proSettings__row--label">
                        <label for="background" i18n>Background</label
                        ><m-tooltip icon="help"
                          ><ng-container i18n
                            >This will be displayed on your site</ng-container
                          ></m-tooltip
                        >
                      </div>

                      <div class="m-proSettings__row--input">
                        <label
                          for="background"
                          class="m-proSettings__filePreview--background"
                        >
                          <input
                            class="form-control"
                            type="file"
                            id="background"
                            name="background"
                            accept="image/*"
                            (change)="
                              onAssetFileSelect(
                                'background',
                                backgroundField.files
                              )
                            "
                            #backgroundField
                          />
                          <img
                            *ngIf="getPreviewAssetSrc('background')"
                            [src]="getPreviewAssetSrc('background')"
                          />
                          <span class="m-proSettings__filePreviewOverlay">
                            <i class="material-icons">cloud_upload</i>
                          </span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>

              <!-- Tags -->

              <ng-template ngSwitchCase="hashtags">
                <div class="m-shadowboxLayout__body">
                  <div
                    class="m-proSettings__tab--tags containsDragDrop"
                    formArrayName="hashtags"
                  >
                    <div class="m-proSettings__field--grid">
                      <div class="m-proSettings__row--label">
                        <label i18n>Hashtags</label>
                        <m-tooltip icon="help">
                          <ng-container i18n
                            >You can group hashtags into top level
                            categories</ng-container
                          ></m-tooltip
                        ><button type="button" (click)="addBlankTag()" i18n>
                          Add
                        </button>
                      </div>
                      <div class="m-proSettings__row--input">
                        <m-draggableList
                          [headers]="['Label', '#Hashtag']"
                          [data]="form.value.hashtags"
                          [id]="'tag'"
                          (emptyListHeaderRowClicked)="addBlankTag()"
                          (arrayChanged)="resetArray('hashtags', $event)"
                        >
                          <ng-template let-tag="item" let-i="i">
                            <ng-container [formGroupName]="i">
                              <input
                                class="m-draggableList__cell form-control"
                                type="text"
                                [id]="'tag-label-' + i"
                                [name]="'tag[' + i + '][label]'"
                                formControlName="label"
                                autofocus
                              />
                              <input
                                class="m-draggableList__cell form-control"
                                type="text"
                                [id]="'tag-tag-' + i"
                                [name]="'tag[' + i + '][tag]'"
                                formControlName="tag"
                              />
                            </ng-container>
                          </ng-template>
                        </m-draggableList>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>

              <!-- Footer -->

              <ng-template ngSwitchCase="footer">
                <div class="m-shadowboxLayout__body">
                  <div
                    class="m-proSettings__tab--footer containsDragDrop"
                    formGroupName="footer"
                  >
                    <div class="m-proSettings__field--text stretchedField">
                      <div class="m-proSettings__row--label">
                        <label for="footer_text" i18n>Title</label
                        ><m-tooltip icon="help"
                          ><ng-container i18n
                            >This will be displayed on your footer</ng-container
                          ></m-tooltip
                        >
                      </div>
                      <div class="m-proSettings__row--input">
                        <input
                          type="text"
                          id="footer_text"
                          name="footer_text"
                          formControlName="title"
                          class="form-control"
                        />
                      </div>
                    </div>
                    <div
                      class="m-proSettings__field--grid"
                      formArrayName="links"
                    >
                      <div class="m-proSettings__row--label">
                        <label i18n>Links</label>
                        <m-tooltip icon="help">
                          <ng-container i18n
                            >You can post external links below</ng-container
                          > </m-tooltip
                        ><button
                          type="button"
                          (click)="addBlankFooterLink()"
                          i18n
                        >
                          Add
                        </button>
                      </div>
                      <div class="m-proSettings__row--input">
                        <m-draggableList
                          [headers]="['Label', 'Url']"
                          [data]="form.value.footer.links"
                          [id]="'title'"
                          (emptyListHeaderRowClicked)="addBlankFooterLink()"
                          (arrayChanged)="resetArray('footer.links', $event)"
                        >
                          <ng-template let-link="item" let-i="i">
                            <ng-container [formGroupName]="i">
                              <input
                                class="m-draggableList__cell form-control"
                                type="text"
                                [id]="'footer_link-title-' + i"
                                [name]="'footer_link[' + i + '][title]'"
                                formControlName="title"
                                autofocus
                              />

                              <input
                                class="m-draggableList__cell form-control"
                                type="text"
                                [id]="'footer_link-href-' + i"
                                [name]="'footer_link[' + i + '][href]'"
                                formControlName="href"
                              />
                            </ng-container>
                          </ng-template>
                        </m-draggableList>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>

              <!-- Domain -->

              <ng-template ngSwitchCase="domain">
                <div class="m-shadowboxLayout__body">
                  <div
                    class="m-proSettings__tab--domain"
                    formGroupName="domain"
                  >
                    <div
                      class="m-proSettings__field--text stretchedField hasValidationRow"
                    >
                      <div class="m-proSettings__row--label">
                        <label for="domain" i18n>Domain</label>
                        <m-tooltip icon="help"
                          ><ng-container i18n
                            >Currently on subdomains are supported. Custom
                            domains are coming soon.</ng-container
                          ></m-tooltip
                        >
                      </div>
                      <div class="m-proSettings__row--input">
                        <input
                          class="m-proSettings__input form-control"
                          type="text"
                          id="domain"
                          name="domain"
                          formControlName="domain"
                          required
                        />
                      </div>
                      <div class="m-proSettings__row--validation">
                        <p
                          *ngIf="
                            form
                              .get('domain')
                              .get('domain')
                              .hasError('invalidDomain')
                          "
                        >
                          Domain not available
                        </p>
                        <p
                          *ngIf="
                            form
                              .get('domain')
                              .get('domain')
                              .hasError('required')
                          "
                        >
                          Domain is required
                        </p>
                      </div>
                    </div>

                    <div class="m-proSettings__field--text stretchedField">
                      <div class="m-proSettings__row--label">
                        <label for="custom_head" i18n
                          >Custom &lt;head&gt; Code</label
                        ><m-tooltip icon="help"
                          ><ng-container i18n
                            >You can place ad blocks or other JS head codes
                            here. Ask an admin.</ng-container
                          ></m-tooltip
                        >
                      </div>
                      <div class="m-proSettings__row--input">
                        <textarea
                          class="m-proSettings__codeTextarea"
                          id="custom_head"
                          name="custom_head"
                          formControlName="custom_head"
                          [readOnly]="!isAdmin"
                          class="form-control"
                        ></textarea>
                        <m-formDescriptor *ngIf="!isAdmin"
                          >Please contact a Minds admin or email info@minds.com
                          to customize this field</m-formDescriptor
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-container>
            <ng-container *ngTemplateOutlet="submitButton"></ng-container>
          </form>
        </ng-container>
      </div>
    </m-shadowboxLayout>
    <m-formToast></m-formToast>
  </ng-container>
</m-pageLayout>

<ng-template #submitButton>
  <m-shadowboxSubmitButton [disabled]="!form.valid">
    <ng-container *ngIf="saveStatus !== 'saving'">
      <div
        *ngIf="form.dirty || form.touched"
        class="m-shadowboxSubmitButton__status--unsaved"
      >
        Save
        {{ activeTab.id === 'general' ? 'Personal Details' : activeTab.title }}
      </div>

      <div
        *ngIf="!form.dirty && !form.touched && saveStatus !== 'unsaved'"
        class="m-shadowboxSubmitButton__status--saved"
      >
        Saved
      </div>
    </ng-container>
    <div
      *ngIf="saveStatus === 'saving'"
      class="m-shadowboxSubmitButton__status--saving"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>
  </m-shadowboxSubmitButton>
</ng-template>
