m-channelActions__menu {
  m-nsfwSelector {
    border: 0;
    width: 100%;
    padding: 0;

    .m-nsfwSelector__label {
      m-tooltip {
        display: none;
      }
    }
  }

  m-modal .mdl-card__supporting-text {
    user-select: text;
  }
}
