<m-feedNotice icon="info" (dismissClick)="dismiss()" dataRefId="bya">
  <span
    class="m-feedNotice__title"
    i18n="@@FEED_NOTICE__BUILD_YOUR_ALGORITHM_TITLE"
    >Build your algorithm</span
  >
  <p class="m-feedNotice__body" i18n="@@FEED_NOTICE__BUILD_YOUR_ALGORITHM_BODY">
    Take control of your social media. Your preferences will improve your
    Discovery and similar feeds. But don't worry, it won't impact your default
    newsfeed.
  </p>
  <m-button
    class="m-feedNotice__buttonPrimary"
    color="blue"
    solid="true"
    size="small"
    (onAction)="onPrimaryOptionClick($event)"
    data-ref="feed-notice-bya-primary-click"
  >
    <ng-container
      i18n="@@FEED_NOTICE__BUILD_YOUR_ALGORITHM__COMPLETE_QUESTIONNAIRE"
    >
      Complete Questionnaire
    </ng-container>
  </m-button>
  <m-button
    class="m-feedNotice__buttonSecondary"
    size="small"
    (onAction)="onSecondaryOptionClick($event)"
    data-ref="feed-notice-bya-secondary-click"
  >
    <ng-container i18n="@@FEED_NOTICE__BUILD_YOUR_ALGORITHM__LEARN_MORE">
      Learn more
    </ng-container>
  </m-button>
</m-feedNotice>
