@import 'defaults.scss';

.m-social-icons {
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom: 0;
  left: calc(50% - 100px);
  z-index: 100;

  @media screen and (max-width: $max-mobile) {
    flex-direction: row;
    top: auto;
    right: auto;
    bottom: 50px;
    left: 50%;
    margin-left: -100px;
    align-items: center;
  }

  .m-social-icons-icon-inline {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    @include m-theme() {
      fill: themed($m-white);
      background-color: themed($m-grey-500);
    }
  }
}

m-social-icons {
  .m-modal-container {
    min-height: 0;

    .mdl-card {
      min-height: 0;
      padding-bottom: 16px;
    }
  }
}
