@import 'defaults';

m-analyticscharts__posts,
m-analyticscharts__comments,
m-analyticscharts__reminds,
m-analyticscharts__votes,
m-analyticscharts__channelboosts,
m-analyticscharts__channelinteractions,
m-analyticscharts__activeusers,
m-analyticscharts__offchainboosts,
m-analyticscharts__onchainboosts,
m-analyticscharts__offchainplus,
m-analyticscharts__onchainplus,
m-analyticscharts__offchainwire,
m-analyticscharts__onchainwire,
m-analyticscharts__usersegments,
m-analyticscharts__pageviews,
m-analyticscharts__withdraw,
m-analyticscharts__tokensales,
m-analyticscharts__rewards {
  width: auto;

  .m-chart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;

    ngx-charts-legend-entry {
      & > span {
        span.legend-label-text {
          color: black;
        }

        &.active {
          span.legend-label-text {
            @include m-theme() {
              color: themed($m-blue);
            }
          }
        }
      }
    }
  }
}

.m-analytics__averages {
  display: flex;
  flex-direction: row;
  padding: 8px 0 16px;
  position: relative;

  .m-analytics__average {
    flex: auto;

    h6 {
      font-size: 12px;
      line-height: 1;
      margin: 0 0 8px;
      font-weight: normal;
    }

    h5 {
      margin: 0;
      font-weight: bold;
    }
  }
}

m-chart {
  display: block;
}
