.notifications-grid{


  .mdl-card{
    width:100%;
    min-height:0;
    padding:$minds-padding * 2;
    margin-bottom:$minds-margin*2;

    display: flex;
    flex-direction: row;

    .avatar{
      display: flex;
      flex-direction: column;

      img{
        border-radius: 3px;
        max-height:50px;
      }
    }

    .body{
      padding:0 $minds-padding*2;

      a{
        color:#333;
        text-decoration: none;
      }

      .pseudo-link{
        font-weight:bold;
      }

      p{
        padding:0;
        margin:0;
      }

      .ts{
        font-size:11px;
      }
    }
  }
}
