minds-notification.mdl-card {
  width:100%;
  min-height:0;
  padding:$minds-padding * 2;
  margin-bottom:$minds-margin*2;

  @include flex-display();
  @include flex-direction(row);

  .avatar{
    @include flex-display();
    @include flex-direction(column);

    img{
      border-radius: 3px;
      max-height:50px;
    }
  }

  .body{
    padding:0 $minds-padding*2;

    a{
      color:#333;
      text-decoration: none;
    }

    .pseudo-link{
      font-weight:bold;
    }

    p{
      padding:0;
      margin:0;
    }

    .ts{
      font-size:11px;
    }
  }
}

minds-notifications {
  .mdl-tabs__tab {
    .m-full-label {
      display: inline-block;
    }

    .m-icon {
      line-height: 2em;
      margin-left: 0.35em;
      vertical-align: middle;
      opacity: 0.45;
    }

    @media only screen and (max-width: $min-desktop) {
      padding: 0 $minds-padding * 2;

      .m-full-label {
        display: none;
      }

      .m-icon {
        margin-left: 0;
        opacity: 1;
      }
    }

    @media only screen and (max-width: $max-mobile) {
      padding: 0 $minds-padding * 1.5;
    }

    @media only screen and (max-width: $min-mobile) {
      padding: 0 ($minds-padding / 1.333);
    }
  }

  .notifications-grid{
    // Styles for notifications page list
  }
}
