.m-blockchainEthModal__form {
  margin: 36px 0;

  &.m-layout__row {
    @media screen and (max-width: 900px) {
      flex-wrap: wrap;
      align-items: center;
      flex-direction: column;
    }
  }

  .m-input {
    padding: 16px;
    font-size: 24px;
    border-radius: 24px;
    letter-spacing: 2px;
    text-align: center;
  }

  .m-layout__cell {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
  }

  label {
    padding: 16px;
    font-weight: 600;
  }

  .m-blockchainEthModal__eq {
    flex: 0;
    padding: 0 16px;
  }
}

.m-blockchain__ethModal {
  .m-btn.m-btn--slim {
    height: auto;
  }
  .m-blockchainEthModal__ethPrice {
    @media screen and (max-width: 500px) {
      display: none;
    }
  }
}
