m-boost--creator-p2p-search {
  .m-boost--creator-wide-input {
    font-size: 32px;
    width: 60%;
    max-width: 100%;

    .m-boost--creator-wide-input--edit {
      width: 100%;
      max-width: 100%!important;
    }
  }
}  
