m-boost--creator-p2p-search {
  .m-boost--creator-wide-input {
    font-size: 32px;
    width: 60%;
    max-width: 100%;

    @media screen and (max-width: $max-mobile) {
      width: 70%;
    }

    .m-boost--creator-wide-input--edit.m-boost--creator--target {
      max-width: initial !important;
    }
  }
}  
