<div class="m-boost--creator-wide-input m-boost--creator--target m-boost--creator--target-avatar">
  <img *ngIf="boost.target" class="m-boost--creator-autocomplete--suggestion-avatar" src="icon/{{boost.target.guid}}/small"/>
  <input type="text"
    class="m-boost--creator-wide-input--edit m-boost--creator--target"
    [(ngModel)]="query"
    (blur)="onBlur()"
    (keydown.esc)="onBlur()"
    (keyup)="search()"
    placeholder="@channel"
    i18n-placeholder="@@BOOST__CREATOR__TARGET_INPUT_PLACEHOLDER"
    #input
  />
</div>

<div *ngIf="results.length > 0"
  class="m-boost--creator-autocomplete--results"
>
  <div *ngFor="let target of results"
    class="m-boost--creator-autocomplete--result"
    (mousedown)="setTarget(target, $event); onBlur()"
  >
    <div class="m-boost--creator-autocomplete--result-content">
      <img class="m-boost--creator-autocomplete--suggestion-avatar" src="icon/{{target.guid}}/small"/>
      <span class="m-boost--creator-autocomplete--suggestion-username"> @{{ target.username }} </span>
      <ng-container *ngIf="target.eth_wallet"><i class="material-icons">check_circle</i></ng-container>
      <ng-container *ngIf="target.rewards"><i class="material-icons">donut_large</i></ng-container>
    </div>

    <div class="m-boost--creator-autocomplete--result-label">
      <ng-container *ngIf="target.subscribers_count">{{ target.subscribers_count | abbr }} <i class="material-icons">people</i></ng-container>
      <ng-container *ngIf="target.impressions">{{ target.impressions | abbr }} <i class="material-icons">remove_red_eye</i></ng-container>
    </div>
  </div>
</div>

<div *ngIf="boost.target && boost.target.boostProPlus"
  class="m-boost--creator--target-facebook"
>
  <div class="m-boost--creator-toggle m-boost--creator-toggle--target-facebook"
    [class.m-boost--creator-toggle--highlight]="boost.postToFacebook"
    (click)="togglePostToFacebook()"
  >
    <span class="m-boost--creator-toggle--select" i18n="@@M__ACTION__SELECT">Select</span>
    <span class="m-boost--creator-toggle--selected" i18n="@@M__COMMON__SELECTED">Selected</span>

    <span i18n="Post to [page]@@BOOST__CREATOR__POST_TO_FACEBOOK_LABEL">Post to {{ boost.target.fb.name }}</span>
    <img [src]="'https://graph.facebook.com/' + boost.target.fb.uuid + '/picture'" />
  </div>

  <div [hidden]="!boost.postToFacebook"
    class="m-boost--creator--target-facebook-scheduler"
  >
    <m-scheduler (ts)="boost.scheduledTs = ($event / 1000)"></m-scheduler>
  </div>
</div>
