@import 'defaults.scss';

$avatarWidth: 220px;

:host {
  .m-tenantFeaturedGroupCards__title {
    text-align: center;
    font-family: Inter;
    font-size: 54px;
    font-style: normal;
    font-weight: 900;
    line-height: 58.8px;
    letter-spacing: -1.08px;
    margin: $spacing24 0 $spacing10 0;

    @media screen and (max-width: $max-mobile) {
      font-size: 40px;
    }

    @include m-theme() {
      color: themed($m-bgColor--primaryInverted);
    }
  }

  .m-tenantFeaturedGroupCards__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: $spacing6 $spacing3;
    margin: $spacing20 $spacing30;

    @media screen and (max-width: $max-mobile) {
      margin: $spacing5 $spacing8;
    }

    .m-tenantFeaturedGroupCard {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      min-width: 380px;
      max-width: 380px;
      border-radius: 15px;
      padding: $spacing10;
      box-sizing: border-box;

      @include m-theme() {
        background-color: themed($m-bgColor--secondary);
      }

      @media screen and (max-width: $max-mobile) {
        min-width: unset;
        width: 100%;
        flex: unset;
      }

      ::ng-deep minds-avatar {
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }

        .minds-avatar {
          border-radius: 50%;
          height: $avatarWidth;
          width: $avatarWidth;
          min-height: $avatarWidth;
          min-width: $avatarWidth;
          background-size: cover;
          margin: 0;

          @media screen and (max-width: $max-mobile) {
            height: 160px;
            width: 160px;
            min-height: 160px;
            min-width: 160px;
          }

          @include m-theme() {
            border: 1px solid themed($m-borderColor--primary);
          }
        }
      }

      .m-tenantFeaturedGroupCard__name {
        word-break: break-word;
        text-align: center;
        margin: $spacing9 0 $spacing2 0;

        @include heading4Bold;
        @include m-theme() {
          color: themed($m-bgColor--primaryInverted);
        }
      }

      .m-tenantFeaturedGroupCard__description {
        word-break: break-word;
        text-align: center;
        margin: $spacing6 0 $spacing4;

        @include heading4Regular;
        @include m-theme() {
          color: themed($m-bgColor--primaryInverted);
        }
      }
    }
  }
}
