<a [routerLink]="['/wallet']">
  <i class="material-icons">account_balance</i>
  <span class="mdl-color--blue-grey-500 mdl-color-text--white m-wallet-pop"
    [hidden]="!walletPopContent"
    [@foolishIn]="walletPopState"
    (@foolishIn.done)="walletPopContent = ''"
    #walletPop
    >{{ walletPopContent }}
  </span>
</a>

<!--<div class="m-wallet&#45;&#45;topbar-toggle-overlay" (click)="toggle()" *ngIf="toggled"></div>-->
<!--<m-wallet&#45;&#45;flyout (close)="toggle()" *ngIf="toggled"></m-wallet&#45;&#45;flyout>-->

