<div class="m-toolbar">
  <div class="m-topbar--row">
    <div class="m-topbar--navigation m-topbar--navigation--text-only">
      <a class="m-topbar--navigation--item"
        routerLink="/wallet/overview"
        routerLinkActive="m-topbar--navigation--item-active"
      >
        <span i18n="@@WALLET__OVERVIEW_NAV">Overview</span>
      </a>

      <a class="m-topbar--navigation--item"
        routerLink="/wallet/tokens"
        routerLinkActive="m-topbar--navigation--item-active"
      >
        <span i18n="@@WALLET__TOKENS_NAV">Tokens & Rewards</span>
      </a>

      <a class="m-topbar--navigation--item"
        routerLink="/wallet/usd"
        routerLinkActive="m-topbar--navigation--item-active"
      >
        <span i18n="@@WALLET_USD">USD</span>
      </a>

      <a class="m-topbar--navigation--item"
        routerLink="/wallet/wire"
        routerLinkActive="m-topbar--navigation--item-active"
      >
        <span i18n="@@M__FEATURE__WIRE">Wire</span>
      </a>

      <a class="m-topbar--navigation--item"
        routerLink="/plus"
        routerLinkActive="m-topbar--navigation--item-active"
      >
        <span i18n="@@M__FEATURE__MINDS_PLUS ">Minds Plus</span>
      </a>

    </div>
  </div>
</div>


<div class="m-wallet--wrapper">
  <router-outlet></router-outlet>
</div>
