<div class="m-toolbar">
  <div class="m-topbar--row">
    <div class="m-topbar--navigation">
      <a class="m-topbar--navigation--item"
        routerLink="/wallet/overview"
        routerLinkActive="m-topbar--navigation--item-active"
      >
        <span i18n="@@WALLET__OVERVIEW_NAV">Overview</span>
      </a>
      <a class="m-topbar--navigation--item"
        routerLink="/wallet/points"
        routerLinkActive="m-topbar--navigation--item-active"
      >
        <span i18n="@@WALLET__POINTS_NAV">Points</span>
      </a>
      <a class="m-topbar--navigation--item"
        routerLink="/wallet/tokens"
        routerLinkActive="m-topbar--navigation--item-active"
      >
        <span i18n="@@WALLET__TOKENS_NAV">Tokens</span>
      </a>
      <a class="m-topbar--navigation--item"
        routerLink="/wallet/revenue"
        routerLinkActive="m-topbar--navigation--item-active"
      >
        <span i18n="@@WALLET__REVENUE_CONSOLE_NAV">Payouts</span>
      </a>

      <a class="m-topbar--navigation--item"
        routerLink="/wallet/points/purchase"
        routerLinkActive="m-topbar--navigation--item-active"
      >
        <span i18n="@@M__ACTION__BUY_POINTS">Buy Points</span>
      </a>

      <a class="m-topbar--navigation--item"
        routerLink="/wallet/boost"
        routerLinkActive="m-topbar--navigation--item-active"
      >
        <span i18n="@@M__FEATURE__BOOST">Boost</span>
      </a>

      <a class="m-topbar--navigation--item"
        routerLink="/wallet/wire"
        routerLinkActive="m-topbar--navigation--item-active"
      >
        <span i18n="@@M__FEATURE__WIRE">Wire</span>
      </a>

      <a class="m-topbar--navigation--item"
        routerLink="/plus"
        routerLinkActive="m-topbar--navigation--item-active"
      >
        <span i18n="@@M__FEATURE__MINDS_PLUS ">Minds Plus</span>
      </a>

    </div>
  </div>
</div>


<div class="m-wallet--wrapper">
  <router-outlet></router-outlet>
</div>
