<m-dropdown
  *ngIf="shouldShowAlgorithms()"
  class="m-sort-selector--algorithm-dropdown"
  [expanded]="expandedAlgorithmDropdown"
  #algorithmDropdown
>
  <label [ngClass]="[labelClass]">
    <i
      *ngIf="getCurrentAlgorithmProp('icon')"
      class="material-icons m-dropdown--label-icon m-sort-selector--item-label-icon"
      >{{ getCurrentAlgorithmProp('icon') }}</i
    >

    <span>{{ getCurrentAlgorithmProp('label') }}</span>

    <i class="material-icons m-dropdown--label-icon">keyboard_arrow_down</i>
  </label>

  <ul class="m-dropdown--list">
    <li
      *ngFor="let item of getAlgorithms()"
      class="m-dropdown--list--item"
      [class.m-dropdown--list--item--selected]="item.id === algorithm"
      [class.m-dropdown--list--item--disabled]="isDisabled(item.id)"
      (click)="setAlgorithm(item.id); closeDropdowns()"
    >
      <i
        class="material-icons m-dropdown--label-icon m-sort-selector--item-label-icon"
        *ngIf="item.icon"
        >{{ item.icon }}</i
      >

      <span [className]="labelClass">{{ item.label }}</span>
    </li>
  </ul>
</m-dropdown>

<m-dropdown
  *ngIf="shouldShowPeriods() && hasCurrentAlgorithmPeriod()"
  class="m-sort-selector--period-dropdown"
  #periodDropdown
>
  <label [ngClass]="[labelClass]">
    <span>{{ getCurrentPeriodLabel() }}</span>

    <i class="material-icons m-dropdown--label-icon">keyboard_arrow_down</i>
  </label>

  <ul class="m-dropdown--list">
    <li
      class="m-dropdown--list--item"
      *ngFor="let item of getPeriods()"
      [class.m-dropdown--list--item--selected]="item.id === period"
      (click)="setPeriod(item.id); closeDropdowns()"
    >
      <span [className]="labelClass">{{ item.label }}</span>
    </li>
  </ul>
</m-dropdown>

<m-dropdown
  *ngIf="shouldShowCustomTypes()"
  class="m-sort-selector--custom-type-dropdown"
  [expanded]="expandedCustomTypeDropdown"
  #customTypeDropdown
>
  <label [ngClass]="[labelClass]">
    <i
      *ngIf="getCurrentCustomTypeProp('icon')"
      class="material-icons m-dropdown--label-icon m-sort-selector--item-label-icon"
      >{{ getCurrentCustomTypeProp('icon') }}</i
    >

    <span>{{ getCurrentCustomTypeProp('label') }}</span>

    <i class="material-icons m-dropdown--label-icon">keyboard_arrow_down</i>
  </label>

  <ul class="m-dropdown--list">
    <li
      *ngFor="let item of getCustomTypes()"
      class="m-dropdown--list--item"
      [class.m-dropdown--list--item--selected]="item.id === customType"
      (click)="setCustomType(item.id); closeDropdowns()"
    >
      <i
        class="material-icons m-dropdown--label-icon m-sort-selector--item-label-icon"
        [title]="item.label"
        *ngIf="item.icon"
        >{{ item.icon }}</i
      >

      <span
        [className]="labelClass"
        *ngIf="!expandedCustomTypeDropdown || item.id === customType"
        >{{ item.label }}</span
      >
    </li>
  </ul>
</m-dropdown>

<m-dropdown
  expanded="true"
  *ngIf="showPlusFilter"
  class="m-sort-selector--plus-filter-dropdown"
>
  <label [ngClass]="[labelClass]">
    <i
      class="material-icons m-dropdown--label-icon m-sort-selector--item-label-icon"
      >add_to_queue</i
    >
    <span>Minds+</span>
    <i class="material-icons m-dropdown--label-icon">keyboard_arrow_down</i>
  </label>
  <ul class="m-dropdown--list">
    <li
      class="m-dropdown--list--item"
      [class.m-dropdown--list--item--selected]="plusFilterApplied"
      (click)="setPlus()"
    >
      <i
        class="material-icons m-dropdown--label-icon m-sort-selector--item-label-icon"
        >add_to_queue</i
      >
      <span [className]="labelClass">Minds+</span>
    </li>
  </ul>
</m-dropdown>
