m-sort-selector {
  .m-dropdown--list--item {
    cursor: pointer;
  }

  .m-topbar--navigation--item {
    padding-right: 0;

    span {
      display: inline-block !important;
    }
  }

  .m-sort-selector--algorithm-dropdown .m-dropdown--list {
    width: 170px;
  }

  .m-dropdown--list--item {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1.25px;
    padding-left: 4px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  .m-topbar--navigation--item i.m-sort-selector--algorithm-icon {
    font-size: 1em;
    padding-right: 2px;
  }

  .m-dropdown--list--item i.m-sort-selector--item-algorithm-icon {
    font-size: 24px;
    padding-right: 2px;
  }

  m-tooltip i.material-icons {
    font-size: 11px;
    color: #777;
  }

  .m-tooltip--bubble {
    min-width: 150px;
  }
}
