<m-dropdownMenu
  [menu]="dropdownMenu"
  *ngIf="
    group['is:owner'] ||
    (group['is:moderator'] && !(user['is:owner'] || user['is:moderator']))
  "
  [anchorPosition]="{ top: '-4px', right: '24px' }"
>
  <i class="material-icons">more_vert</i>
</m-dropdownMenu>

<ng-template #dropdownMenu>
  <ul>
    <m-dropdownMenu__item
      *ngIf="
        (group['is:owner'] || group['is:moderator']) &&
        !(user['is:owner'] || user['is:moderator']) &&
        user['is:member']
      "
      (click)="removePrompt()"
    >
      <span i18n="@@GROUPS__PROFILE__CARD_USER_ACTIONS__REMOVE_FROM_GROUP"
        >Remove from group</span
      >
    </m-dropdownMenu__item>
    <m-dropdownMenu__item
      *ngIf="
        (group['is:owner'] || group['is:moderator']) &&
        !user['is:member'] &&
        !wasReInvited
      "
      (click)="reInvite()"
    >
      <span i18n="@@GROUPS__PROFILE__CARD_USER_ACTIONS__REINVITE"
        >Re-invite to group</span
      >
    </m-dropdownMenu__item>
    <m-dropdownMenu__item
      *ngIf="(group['is:owner'] || group['is:moderator']) && wasReInvited"
    >
      <span i18n="@@GROUPS__PROFILE__CARD_USER_ACTIONS__INVITED">Invited</span>
    </m-dropdownMenu__item>
    <m-dropdownMenu__item
      *ngIf="
        group['is:owner'] &&
        !(user['is:owner'] || user['is:moderator']) &&
        user['is:member']
      "
      (click)="grantOwnership()"
    >
      <span i18n="@@GROUPS__PROFILE__CARD_USER_ACTIONS__MAKE_ADMIN">
        Make owner</span
      >
    </m-dropdownMenu__item>
    <m-dropdownMenu__item
      *ngIf="group['is:owner'] && user['is:owner'] && user['is:member']"
      (click)="revokeOwnership()"
    >
      <span i18n="@@GROUPS__PROFILE__CARD_USER_ACTIONS__REMOVE_AS_ADMIN">
        Remove as owner</span
      >
    </m-dropdownMenu__item>
    <m-dropdownMenu__item
      *ngIf="
        group['is:owner'] &&
        !(user['is:owner'] || user['is:moderator']) &&
        user['is:member']
      "
      (click)="grantModerator()"
    >
      <span i18n="@@GROUPS__PROFILE__CARD_USER_ACTIONS__MAKE_MODERATOR">
        Make moderator</span
      >
    </m-dropdownMenu__item>
    <m-dropdownMenu__item
      *ngIf="
        group['is:owner'] &&
        user['is:moderator'] &&
        !user['is:owner'] &&
        user['is:member']
      "
      (click)="revokeModerator()"
    >
      <span i18n="@@GROUPS__PROFILE__CARD_USER_ACTIONS__REMOVE_AS_MODERATOR">
        Remove as moderator</span
      >
    </m-dropdownMenu__item>
  </ul>
</ng-template>

<m-modal [open]="kickPrompt">
  <div class="m-groupMemberActionsModal__textWrapper">
    <p i18n="@@GROUPS__REMOVE_X_FROM_Y_CONFIRM">
      Are you sure you want to remove {{ user.username }} from {{ group.name }}?
    </p>
    <p>
      <input type="checkbox" #ban />
      <ng-container i18n="@@M__COMMON__BAN_PERMANENTLY"
        >Ban permanently</ng-container
      >
    </p>
  </div>
  <div class="m-groupMemberActionsModal__buttonsWrapper">
    <m-button
      (onAction)="cancelRemove()"
      size="small"
      data-ref="data-minds-group-kick-modal-cancel"
    >
      <ng-container i18n="@@M__ACTION__CANCEL">Cancel</ng-container>
    </m-button>
    <m-button
      (click)="kick(ban.checked)"
      color="blue"
      size="small"
      data-ref="data-minds-group-kick-modal-confirm"
    >
      <ng-container i18n="@@M__ACTION__CONFIRM">Confirm</ng-container>
    </m-button>
  </div>
</m-modal>
