@import 'defaults.scss';

:host {
  display: block;
  ::ng-deep {
    .m-comment__repliesToggle + & {
      margin-top: 35px;
    }
  }

  .m-comments__thread--nested {
    @media screen and (max-width: $max-mobile) {
      margin-left: 53px;
    }
  }

  .m-commentsThread__blockedComment {
    display: block;
    font-size: 12px;
    padding: 10px 20px;
    margin: 0;
    font-weight: 400;
    font-style: italic;
    opacity: 0.75;
    text-align: center;
  }

  .m-commentsThread__connectionLost {
    display: block;
    text-align: center;
    padding: 4px 8px;
    margin: 4px 0;
    font-size: 9pt;
    cursor: pointer;

    @include m-theme() {
      color: themed($m-blue-grey-500);
    }
  }
}
