@import 'defaults.scss';

:host {
  // ******************************************
  // ** ACTIVITY V2 DEFAULT **
  // ******************************************

  m-activityV2 &,
  m-activityV2__modal & {
    .m-comments__thread {
      margin: 0;
    }
    .m-comments__thread--nested {
      ::ng-deep m-comment {
        .m-comment {
          padding-left: 0 !important;
        }
      }
    }
    .m-comments__thread--topLevel {
      ::ng-deep {
        > m-comment {
          .m-comment {
            padding-left: 0px;
          }
        }
      }
    }
  }

  // ******************************************
  // ** MODAL **
  // ******************************************

  m-activityV2__modal & {
    .m-comments__viewMore {
      margin-top: 0;
    }
  }

  // ******************************************
  // ******************************************
  // ******************************************
  // ** DEFAULT **
  // ******************************************
  // ******************************************
  // ******************************************

  display: block;
  ::ng-deep {
    .m-comment__repliesToggle + & {
      margin-top: 20px;
    }
  }

  .m-comments__spinner {
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 20px;
  }

  .m-comments__thread--topLevel {
    ::ng-deep {
      > m-comment {
        .m-comment {
          padding-left: 16px;
        }
      }
    }
  }

  .m-comments__thread--nested {
    margin-left: -8px;
    @media screen and (max-width: $max-mobile) {
      margin-left: 43px;
    }

    ::ng-deep {
      .m-comment__toolbar {
        margin-bottom: 4px;
      }
      .m-comment {
        padding: 8px 0 8px 8px !important;
        .minds-avatar {
          min-width: 25px !important;
          min-height: 25px !important;
          img {
            width: 24px !important;
            height: 24px !important;
          }
        }
        .m-comment--compact .minds-avatar {
          margin-top: -9px;
        }
      }
    }
  }

  .m-commentsThread__blockedComment {
    display: block;
    font-size: 12px;
    padding: 10px 20px;
    margin: 0;
    font-weight: 400;
    font-style: italic;
    opacity: 0.75;
    text-align: center;
  }

  .m-commentsThread__connectionLost {
    display: block;
    text-align: center;
    padding: 4px 8px;
    margin: 4px 0;
    font-size: 9pt;
    cursor: pointer;

    @include m-theme() {
      color: themed($m-blue-grey-500);
    }
  }

  ::ng-deep .m-commentsThreadComment--first {
    > .m-comment {
      margin-top: 25px;
    }
  }
}
