.m-commentsThread__blockedComment {
  display: block;
  font-size: 12px;
  padding: 8px 12px;
  margin: 0;
  font-weight: 400;
  font-style: italic;
  opacity: 0.75;
  text-align: center;
}

a.m-commentsThread__seeComments {
  padding-left: 64px;
  text-decoration: underline;
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;

  margin-bottom: 15px;

  @include m-theme() {
    color: themed($m-blue);
  }
}
