m-dropdownMenu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    font: inherit;
    color: inherit;
  }

  .m-dropdownMenu__trigger {
    flex: 1;

    &.m-dropdownMenuTrigger--clickable {
      cursor: pointer;
    }
  }

  .m-dropdownMenu__menu {
    display: none;

    &:not(.m-dropdownMenu__menu) {
      overflow: hidden;
    }

    @include z-index(modal);

    @media screen and (min-width: $max-mobile + 1) {
      display: block;
      position: absolute;
    }

    @media screen and (max-width: $max-mobile) {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 2vh !important; // Override component's dynamic values
      right: 2vw !important; // Override component's dynamic values
      bottom: 2vh !important; // Override component's dynamic values
      left: 2vw !important; // Override component's dynamic values
    }

    ul {
      list-style: none;
      width: 100%;
      margin: 0;
      padding: $spacing2 0;
      min-width: 222px;
      border-radius: $m-borderRadius;
      box-sizing: border-box;

      @include m-theme() {
        border: 1px solid themed($m-borderColor--primary);
        background: themed($m-bgColor--primary);
      }

      > li {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        white-space: nowrap;

        @include body2Medium;
        cursor: pointer;
        background: transparent;

        @include m-theme() {
          color: themed($m-textColor--primary);

          &:hover,
          &:active {
            background: themed($m-borderColor--primary);
          }

          transition: 150ms background ease-in-out;
        }

        > * {
          flex: 1;
          margin: 0;
          padding: $spacing3 $spacing4;

          // ojm except icons should have no spacing right
          &:m-icon {
            padding-right: 0;
          }
        }

        .m-dropdownMenu__item {
          display: flex;
          align-items: center;
          justify-content: space-between;

          m-icon + span,
          span + m-icon {
            margin-left: $spacing3;
            //ojm this is unlikely
          }

          span {
            flex: 1;
          }
        }
      }
    }
  }

  > m-overlay {
    @media screen and (max-width: $max-mobile) {
      @include m-on-theme(light) {
        background: rgba(255, 255, 255, 0.85);
      }

      @include m-on-theme(dark) {
        background: rgba(0, 0, 0, 0.65);
      }
    }
  }
}
