m-groupActions__edit {
  ul.m-dropdown__list {
    margin: 34px 0 0;
    top: 15px;
    right: -20px;

    @include m-theme() {
      background-color: themed($m-bgColor--secondary);
      color: themed($m-textColor--primary);
      box-shadow: none;
    }

    li.m-dropdownList__item {
      padding: 0;
      font-size: 15px;
      line-height: 20px;
      border: 0 !important;

      @include m-theme() {
        color: themed($m-grey-700);
      }
    }
  }
}
