<div class="m-token-contributions--chart m-border">
  <div class="m-token-contributions--chart--contribution">
    <i class="material-icons">thumb_up</i>
    <div class="m-token-contributions--chart--contribution-text">
      <span>Votes</span>
      <span>+1</span>
    </div>
  </div>
  <div class="m-token-contributions--chart--contribution">
    <i class="material-icons" style="width:60px;">mode_comments</i>
    <div class="m-token-contributions--chart--contribution-text">
      <span>Comments</span>
      <span>+2</span>
    </div>
  </div>
  <div class="m-token-contributions--chart--contribution">
    <i class="material-icons">person_add</i>
    <div class="m-token-contributions--chart--contribution-text">
      <span>Subscribers</span>
      <span>+4</span>
    </div>
  </div>
  <div class="m-token-contributions--chart--contribution">
    <i class="material-icons">repeat</i>
    <div class="m-token-contributions--chart--contribution-text">
      <span>Reminds</span>
      <span>+4</span>
    </div>
  </div>
  <div class="m-token-contributions--chart--contribution">
    <i class="material-icons">people</i>
    <div class="m-token-contributions--chart--contribution-text">
      <span>Referrals</span>
      <span>+1</span>
    </div>
  </div>
  <div class="m-token-contributions--chart--contribution">
    <i class="material-icons">link</i>
    <div class="m-token-contributions--chart--contribution-text">
      <span>OnChain Transactions</span>
      <span>+10 (receiver)</span>
    </div>
  </div>
  <div class="m-token-contributions--chart--contribution">
    <i class="material-icons">gavel</i>
    <div class="m-token-contributions--chart--contribution-text">
      <span>Jury Duty</span>
      <span>+25</span>
    </div>
  </div>
  <div class="m-token-contributions--chart--contribution">
    <i class="material-icons">check_circle</i>
    <div class="m-token-contributions--chart--contribution-text">
      <span>Check-ins</span>
      <span>+2</span>
    </div>
  </div>
  <div class="m-token-contributions--chart--contribution">
    <i class="material-icons">code</i>
    <div class="m-token-contributions--chart--contribution-text">
      <span>Development</span>
      <span>Manually reviewed</span>
    </div>
  </div>
</div>
