.m-token-contributions--ledger{
  table {
    width: 100%;

    tbody > tr {
      cursor: pointer;
    }
  }
}

.m-token-contributions--ledger-filters {
  display: flex;
  text-align: right;
  justify-content: flex-end;
  padding: 8px;
  margin-bottom: 8px;
  background: #FFF;

  m-date-selector {
    margin-left: 8px;
    display: flex;
  }
}

.m-token-contributions--ledger-row-notice {
  text-align: center !important;
}

.m-token-contributions--ledger-category-detail {
  background: #666;
  color: #FFF;
  text-transform: capitalize;
}

.m-token-contribution--selected {
  font-weight: bold;
  background: #444;
  color: #FFF;
}
