<div class="m-token-join m-border">

  <h2>Welcome to Rewards</h2>

  <p class="m-token-join--overview">
    Rewards Tokens enable creators to earn from interactions on their content. 
    You earn tokens based on a daily contributions pool. 
    At the end of each day, your contributions score will be calculated and you will receive a share of the daily reward pool.
    In order to verify you are a unique users, we require a phone number to be provided. 
    Your phone number will be securely hashed and sent alongside all interactions to protect against fraud and gaming.
  </p>

  <div class="m-token-join--form" *ngIf="!confirming">
    <div class="m-token-join--form--input-wrapper">
      <m-phone-input [(ngModel)]="number"></m-phone-input>
      <m-tooltip icon="help">Please enter your phone number in order to join the rewards program</m-tooltip>
    </div>
    <button class="m-btn m-btn--action" (click)="verify()" [disabled]="inProgress">Join</button>

    <div *ngIf="inProgress" class="m-token-join--form--inprogress mdl-spinner mdl-js-spinner is-active" [mdl]></div>
  
    <p class="m-token-join--form--error" *ngIf="error">
      {{error}}
    </p>
  </div>

  <div class="m-token-join--form" *ngIf="confirming">
    <div class="m-token-join--form--input-wrapper">
      <input 
        type="number"
        [(ngModel)]="code"
        placeholder="eg. 198349" 
        class="m-token-join--form--input-input m-border"
        />
      <m-tooltip icon="help">Please enter the code we just sent you, to verify that your number is correct</m-tooltip>
    </div>
    
    <button class="m-btn" (click)="cancel()">Go Back</button>
    <button class="m-btn m-btn--action" (click)="confirm()" [disabled]="inProgress">Confirm</button>

    <div *ngIf="inProgress" class="m-token-join--form--inprogress mdl-spinner mdl-js-spinner is-active" [mdl]></div>

    <p class="m-token-join--form--error" *ngIf="error">
      {{error}}
    </p>
  </div>

</div>