@import 'defaults.scss';

:host {
  display: flex;
  flex-flow: row nowrap;
  gap: $spacing3;
  cursor: default;

  .m-networksCheckoutSummary__stepperItem {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    align-items: center;
    gap: $spacing2;

    .m-networksCheckoutSummary__stepperItemNumber {
      width: $spacing6;
      height: $spacing6;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;

      @include unselectable;
      @include body3Medium;
      @include m-theme() {
        background-color: themed($m-bgColor--secondary);
        color: themed($m-textColor--primary);
      }
    }

    .m-networksCheckoutSummary__stepperItemText {
      @include body2Medium;
    }

    &:not(&--active) {
      opacity: 0.5;
    }
  }
}
