<div class="m-toolbar">
  <div class="m-topbar--row">
    <div class="m-topbar--navigation">
      <a class="m-topbar--navigation--item"
        routerLink="/channels/top"
        routerLinkActive="m-topbar--navigation--item-active"
        >
        <span>Top</span>
      </a>
      <a class="m-topbar--navigation--item"
        routerLink="/channels/subscriptions"
        routerLinkActive="m-topbar--navigation--item-active"
        >
        <span>Subcriptions</span>
      </a>
      <a class="m-topbar--navigation--item"
        routerLink="/channels/subscribers"
        routerLinkActive="m-topbar--navigation--item-active"
        >
        <span>Subcribers</span>
      </a>
    </div>
  </div>
</div>

<div class="m-channels--list">
  <m-channels--tile *ngFor="let entity of entities" [entity]="entity"></m-channels--tile>
  <infinite-scroll
    distance="25%"
    (load)="load()"
    [moreData]="moreData"
    [inProgress]="inProgress">
  </infinite-scroll>
</div>
