<div class="m-marketing m-branding">
  <div class="m-marketing--header">
    <div class="m-marketing--header-inner">
      <h1 i18n="@@BRANDING__TITLE">Branding</h1>
      <h3 i18n="@@BRANDING__SUBTITLE">Logos, assets and styling guides</h3>
    </div>
  </div>

  <div class="m-marketing--contents m-layout--row m-layout--wrap">
    <div class="m-layout--cell">
      <img
        [src]="configs.get('cdn_assets_url') + 'assets/logos/logo.svg'"
        download
      />
      <label i18n="@@BRANDING__FULL_LOGO_LABEL">Full Logo</label>
    </div>

    <div class="m-layout--cell">
      <img
        [src]="configs.get('cdn_assets_url') + 'assets/logos/bulb.svg'"
        download
      />
      <label i18n="@@BRANDING__BULB_LABEL">Bulb</label>
    </div>
  </div>
</div>

<m-footer></m-footer>
