<m-feedNotice
  icon="add_to_queue"
  dataRefId="plus-upgrade"
  [dismissible]="dismissible"
  (dismissClick)="onDismissClick()"
>
  <span
    class="m-feedNotice__title"
    i18n="@@FEED_NOTICE__PLUS_UPGRADE__UPGRADE_TO_PLUS"
    >Upgrade to Minds+</span
  >
  <p
    class="m-feedNotice__body"
    i18n="@@FEED_NOTICE__PLUS_UPGRADE__SUPPORT_MINDS_UNLOCK_FEATURES"
  >
    Support Minds and unlock features such as earning revenue for your content,
    hiding ads, accessing exclusive content, receiving a badge and verifying
    your channel.
  </p>
  <m-button
    class="m-feedNotice__buttonPrimary"
    color="blue"
    solid="true"
    size="small"
    (onAction)="onPrimaryOptionClick()"
    data-ref="feed-notice-plus-upgrade-primary-click"
  >
    <ng-container i18n="@@FEED_NOTICE__PLUS_UPGRADE__UPGRADE">
      Upgrade
    </ng-container>
  </m-button>
  <m-button
    class="m-feedNotice__buttonSecondary"
    size="small"
    (onAction)="onSecondaryOptionClick()"
    data-ref="feed-notice-plus-upgrade-secondary-click"
  >
    <ng-container i18n="@@FEED_NOTICE__PLUS_UPGRADE__LEARN_MORE">
      Learn More
    </ng-container>
  </m-button>
</m-feedNotice>
