@import 'defaults.scss';

:host {
  .m-modalV2__header {
    padding: $spacing8 $spacing4 $spacing4;

    @media screen and (max-width: $max-mobile) {
      padding: $spacing4;
    }
  }

  .m-modalV2__body {
    min-height: 300px;

    padding: $spacing4 0;

    @media screen and (min-width: $max-mobile + 1) {
      min-width: 460px;
    }

    @include hide-scrollbar;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-top: 0;

    li {
      &:not(:nth-of-type(1)) {
        @include m-theme() {
          border-top: 1px solid themed($m-borderColor--primary);
        }
      }

      ::ng-deep m-publisherCard {
        .m-publisherCard {
          padding: $spacing4;

          @media screen and (max-width: $max-mobile) {
            padding: 0 $spacing4;
          }

          @include m-theme() {
            border: 0;
          }
        }
      }

      ::ng-deep m-newsfeed__entity m-activity {
        .m-activityContent__quote {
          display: none;
        }
      }
    }
  }
}
