@import 'defaults.scss';

:host {
  .m-modalV2__header {
    padding: 40px 40px 20px;

    @media screen and (max-width: $max-mobile) {
      padding: 20px;
    }
  }

  .m-modalV2__body {
    min-height: 300px;

    padding: 20px 0;

    @media screen and (min-width: $max-mobile + 1) {
      min-width: 460px;
    }

    @include hide-scrollbar;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-top: 0;

    li {
      margin-bottom: 20px;

      &:not(:nth-of-type(1)) {
        padding-top: 20px;
        @include m-theme() {
          border-top: 1px solid themed($m-borderColor--primary);
        }
      }

      ::ng-deep m-publisherCard {
        .m-publisherCard {
          padding: 0 40px;

          @media screen and (max-width: $max-mobile) {
            padding: 0 20px;
          }

          @include m-theme() {
            border: 0;
          }
        }
      }

      ::ng-deep m-newsfeed__entity m-activity {
        margin: 0 40px;
        .m-activityContent__quote {
          display: none;
        }
      }
    }
  }
}
