<div class="m-wire--lock-screen--button m-wire--lock-screen--button-owner" *ngIf="!preview && (entity.ownerObj.guid == session.getLoggedInUser().guid)">
  <div class="m-wire--lock-screen-introduction">
    <p class="mdl-color-text--grey-800">
      Only supporters who wire you over

      <ng-container *ngIf="entity?.wire_threshold?.type == 'money'">
        {{ entity.wire_threshold.min | currency:'USD':true:'1.0-0' }}/month
      </ng-container>

      <ng-container *ngIf="entity?.wire_threshold?.type == 'points'">
        {{ entity.wire_threshold.min | number }} points/month
      </ng-container>

      will see this post.
    </p>
  </div>
  <button class="mdl-button mdl-button--colored mdl-color--green-500 mdl-color-text--white">
    <i class="mdl-color-text--white ion-icon ion-flash"></i>
    <span><!-- i18n -->Locked<!-- /i18n --></span>
  </button>
</div>


<div class="m-wire--lock-screen--button" *ngIf="preview || (entity.ownerObj.guid != session.getLoggedInUser().guid)">
  <div class="m-wire--lock-screen-introduction">
    <p class="mdl-color-text--grey-800">
      <b>&ldquo;</b>

      <ng-container *ngIf="entity.ownerObj?.merchant?.exclusive?.intro; else notHasIntro">
        {{entity.ownerObj?.merchant?.exclusive?.intro}}
      </ng-container>

      <ng-template #notHasIntro>
        Wire me over

        <ng-container *ngIf="entity?.wire_threshold?.type == 'money'">
          {{ entity.wire_threshold.min | currency:'USD':true:'1.0-0' }}/month
        </ng-container>

        <ng-container *ngIf="entity?.wire_threshold?.type == 'points'">
          {{ entity.wire_threshold.min | number }} points/month
        </ng-container>

        to see this post.
      </ng-template>

      <b>&rdquo;</b>
    </p>
  </div>
  <button class="mdl-button mdl-button--colored mdl-color--green-500 mdl-color-text--white" (click)="unlock()">
    <i class="mdl-color-text--white ion-icon ion-flash"></i>
    <span><!-- i18n -->Unlock<!-- /i18n --></span>
    <div [hidden]="!inProgress" class="m-spinner">
      <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active" [mdl]></div>
    </div>
  </button>
</div>

<div class="m-wire--lock-screen" *ngIf="entity.wire_threshold && (preview || (entity.ownerObj.guid != session.getLoggedInUser().guid))"
  [style.backgroundImage]="getBackground()"
>
  <div class="m-wire--lock-screen-overlay"></div>

  <i class="ion-icon ion-flash"></i>

  <h2 class="m-wire--lock-screen-amount">
    <span>
      <ng-container *ngIf="entity?.wire_threshold?.type == 'money'">
        {{ entity.wire_threshold.min | currency:'USD':true:'1.0-0' }}/month
      </ng-container>

      <ng-container *ngIf="entity?.wire_threshold?.type == 'points'">
        {{ entity.wire_threshold.min | number }} points/month
      </ng-container>
    </span>
  </h2>

  <h5 class="m-wire--lock-screen--message">
    This post can only be seen by supporters who wire

    <ng-container *ngIf="entity?.wire_threshold?.type == 'money'">
        over {{ entity.wire_threshold.min | currency:'USD':true:'1.0-0' }}/month
    </ng-container>

    <ng-container *ngIf="entity?.wire_threshold?.type == 'points'">
      over {{ entity.wire_threshold.min | number }} points/month
    </ng-container>

    <ng-container *ngIf="entity?.ownerObj?.username">
      to @{{ entity.ownerObj.username }}
    </ng-container>
  </h5>
</div>
