<m-sidebarWidget
  title="Minds is a public neutral platform"
  dismissibleId="discovery-disclaimer-2020"
>
  <div class="m-sidebarWidget__body">
    <p class="m-discoveryDisclaimer__text">
      Our
      <a href="https://change.minds.com" target="_blank">research-based</a>
      approach in handling misinformation and other types of controversial
      lawful content is to facilitate civil disource through free speech, which
      is the only way to change someone’s mind. It is your choice to engage with
      someone, keep scrolling, report or block.
    </p>
  </div>
</m-sidebarWidget>
