<ng-container *mIfTenant="false">
  <m-sidebarWidget
    titleText="Take back control of your social media"
    [dismissibleId]="dismissibleId"
    borderColor="primary"
  >
    <div class="m-sidebarWidget__body">
      <ul class="m-discoveryDisclaimer__list">
        <li class="m-discoveryDisclaimer__listItem">
          <a
            href="https://www.minds.com/content-policy"
            target="_blank"
            data-ref="discovery-disclaimer-speak-your-mind"
          >
            <span i18n="@@DISCOVERY_DISCLAIMER__SPEAK_YOUR_MIND"
              >Speak your mind</span
            >
            <i class="material-icons">chevron_right</i>
          </a>
        </li>
        <li class="m-discoveryDisclaimer__listItem">
          <a
            href="https://www.minds.com/boost"
            target="_blank"
            data-ref="discovery-disclaimer-grow-your-audience"
          >
            <span i18n="@@DISCOVERY_DISCLAIMER__GROW_YOUR_AUDIENCE"
              >Grow your audience</span
            >
            <i class="material-icons">chevron_right</i>
          </a>
        </li>
        <li class="m-discoveryDisclaimer__listItem">
          <a
            href="https://www.minds.com/upgrades"
            target="_blank"
            data-ref="discovery-disclaimer-get-paid-to-create"
          >
            <span i18n="@@DISCOVERY_DISCLAIMER__GET_PAID_TO_CREATE"
              >Get paid to create</span
            ><i class="material-icons">chevron_right</i>
          </a>
        </li>
        <li class="m-discoveryDisclaimer__listItem">
          <a
            href="https://www.minds.com/token"
            target="_blank"
            data-ref="discovery-disclaimer-earn-daily-rewards"
          >
            <span i18n="@@DISCOVERY_DISCLAIMER__EARN_DAILY_REWARDS"
              >Earn daily rewards</span
            ><i class="material-icons">chevron_right</i>
          </a>
        </li>
        <li class="m-discoveryDisclaimer__listItem">
          <a
            href="https://developers.minds.com/"
            target="_blank"
            data-ref="discovery-disclaimer-open-source-decentralized"
          >
            <span i18n="@@DISCOVERY_DISCLAIMER__OPEN_SOURCE_DECENTRALIZED"
              >Open source & decentralized</span
            ><i class="material-icons">chevron_right</i>
          </a>
        </li>
      </ul>
    </div>
  </m-sidebarWidget>
</ng-container>
