@import 'defaults.scss';
@import '../../../common/layout/layout.scss';

:host {
  ::ng-deep .m-sidebarWidget {
    padding-bottom: 0 !important;
  }

  ::ng-deep .m-sidebarWidget__title {
    padding-right: $spacing7 !important;
    padding-top: $spacing4 !important;
  }

  ::ng-deep .m-sidebarWidget__dismiss {
    position: absolute;
    top: 10px;
    right: 10px;

    i {
      font-size: 22px;

      @include m-theme() {
        color: themed($m-textColor--secondary);
      }

      &:hover {
        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }
    }
  }

  .m-sidebarWidget__body {
    padding: 0;
    .m-discoveryDisclaimer__list {
      margin: 0;
      padding: 0;
      list-style: none;

      .m-discoveryDisclaimer__listItem {
        @include m-theme() {
          color: themed($m-textColor--primary);
        }

        &:hover {
          @include m-theme() {
            background-color: themed($m-bgColor--primary);
          }
        }

        &:last-child {
          border-bottom-left-radius: $m-borderRadius--curvy;
          border-bottom-right-radius: $m-borderRadius--curvy;
        }

        a {
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-decoration: none;
          padding: $spacing4;
          @include body1Medium;
          @include m-theme() {
            color: themed($m-textColor--primary);
          }

          i {
            font-size: $spacing5;
          }
        }
      }
    }
  }
}
