@import 'defaults';
@import '../../../common/layout/layout.scss';

:host {
  ::ng-deep .m-sidebarWidget__title {
    @include heading4Bold;
    margin-bottom: $spacing1;
    padding-right: $spacing7;
    padding-top: $spacing4;
  }

  ::ng-deep .m-sidebarWidget__dismiss {
    position: absolute;
    top: 10px;
    right: 10px;

    i {
      font-size: 22px;

      @include m-theme() {
        color: themed($m-textColor--secondary);
      }

      &:hover {
        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }
    }
  }

  .m-sidebarWidget__body {
    .m-discoveryDisclaimer__list {
      margin: 0;
      padding: 0;
      list-style: none;

      > * + * {
        padding-top: $spacing4;
      }

      .m-discoveryDisclaimer__listItem {
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }

        a {
          text-decoration: none;
          @include body2Regular;

          &:hover {
            text-decoration: underline;

            @include body2Medium;
            @include m-theme() {
              color: themed($m-textColor--primary);
            }
          }
        }
      }
    }
  }
}
