<div *ngIf="inProgress" class="m-wallet__spinner">
  <div class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
</div>
<div class="m-walletCashBankForm" *ngIf="form">
  <!-- -------------------------------------------- -->
  <!--- FORM - BANK ACCOUNT IS NOT YET SET UP -------->
  <!--- OR IS BEING UPDATED-------- ------------------>
  <!-- -------------------------------------------- -->
  <!-- <ng-container *ngIf="!leftMonetization"> -->
  <form
    [formGroup]="form"
    class="m-walletButtonLayout--buttonOffsetRight"
    *ngIf="!hasBank || editing"
  >
    <p
      class="m-walletSecondaryText--desc"
      i18n="@@WALLET_V2__CASH_BANK_FORM__FINISH_ADDING_RECEIVE_CASH"
    >
      Finish adding your bank details to start receiving cash payouts.
    </p>
    <div class="m-walletForm__fieldsContainer">
      <!-- -------------------------------------------- -->
      <!--- INPUT - COUNTRY DROPDOWN---------------------->
      <!-- -------------------------------------------- -->
      <div class="m-walletForm__field--text stretchedField">
        <div class="m-walletForm__row--label">
          <label
            for="country"
            i18n="@@CASH_BANK_FORM__COUNTRY"
            i18n="@@COMMON__COUNTRY"
            >Country</label
          >
        </div>
        <div class="m-walletForm__row--input">
          <minds-country-input
            type="text"
            id="country"
            name="country"
            class="form-control"
            data-ref="m-walletFormCashBankSettings__input--country"
            [allowed]="allowedCountries"
            [country]="country.value"
            (countryChange)="countryChange($event)"
          ></minds-country-input>
        </div>
      </div>
      <!-- -------------------------------------------- -->
      <!--- INPUT - ACCOUNT NUMBER  ---------------------->
      <!-- -------------------------------------------- -->
      <div class="m-walletForm__field--text stretchedField">
        <div class="m-walletForm__row--label">
          <label for="accountNumber" i18n="@@CASH_BANK_FORM__BANK_IBAN_NUMBER"
            >Bank Account Number / IBAN</label
          >
        </div>
        <div class="m-walletForm__row--input">
          <input
            type="text"
            id="accountNumber"
            name="accountNumber"
            formControlName="accountNumber"
            class="form-control"
            data-ref="m-walletFormCashBankSettings__input--accountNumber"
          />
        </div>
      </div>
      <!-- -------------------------------------------- -->
      <!--- INPUT - ROUTING NUMBER  ---------------------->
      <!-- -------------------------------------------- -->
      <div class="m-walletForm__field--text stretchedField">
        <div class="m-walletForm__row--label">
          <label for="routingNumber" i18n="@@CASH_BANK_FORM__ROUTING_SORT_CODE"
            >Routing Number / Sort Code</label
          >
        </div>
        <div class="m-walletForm__row--input">
          <input
            type="text"
            id="routingNumber"
            name="routingNumber"
            formControlName="routingNumber"
            class="form-control"
            data-ref="m-walletFormCashBankSettings__input--routingNumber"
          />
        </div>
      </div>
      <!-- -------------------------------------------- -->
      <!--- ERROR ---------------------------------------->
      <!-- -------------------------------------------- -->
      <p class="m-walletSecondaryText--error">
        {{ error }}
      </p>
    </div>
    <!-- -------------------------------------------- -->
    <!--- FORM BUTTONS --------------------------------->
    <!-- -------------------------------------------- -->
    <div class="m-walletForm__buttonsContainer">
      <m-button
        (onAction)="cancelEdits()"
        [disabled]="inProgress"
        color="grey"
        i18n="@@CASH_BANK_FORM__CANCEL"
        >Cancel</m-button
      >
      <m-button
        (onAction)="addBank()"
        [disabled]="inProgress || form.invalid"
        [saving]="inProgress"
        i18n="@@CASH_BANK_FORM__ADD_BANK_ACCOUNT"
        color="blue"
        >Add Bank Account</m-button
      >
    </div>
  </form>
  <!-- -------------------------------------------- -->
  <!--- BANK ACCOUNT ALREADY SET UP ------------------>
  <!-- -------------------------------------------- -->
  <ng-container *ngIf="hasBank && !editing">
    <div class="m-walletSettingsView--hasAccount__accountSummary">
      <p
        class="m-walletSecondaryText--desc"
        i18n="@@CASH_BANK_FORM__YOUR_BANK_CASH_REWARDS_DEPOSITED"
      >
        Your bank account where cash rewards are deposited.
      </p>
      <div class="m-walletSettingsView--hasAccount__detailsWrapper">
        <div class="m-walletSettingsView--hasAccount__bankWrapper">
          <span>
            {{ account.bankAccount.bank_name }}
          </span>
          <span>****{{ account.bankAccount.last4 }}</span>
        </div>
        <div class="m-walletSettingsView--hasAccount__linksContainer">
          <a><span (click)="enterEditMode()">Update</span></a>
          <!-- <a
            ><span (click)="showModal = true; modalContent = 'removeBank'"
              >Remove</span
            ></a
          > -->
        </div>
      </div>
    </div>
    <!-- -------------------------------------------- -->
    <!--- LEAVE MONETIZATION BUTTON  ------------------->
    <!-- -------------------------------------------- -->
    <!-- <div class="m-walletSettingsView--hasAccount__leaveMonetization">
        <h2>Leave Monetization Program</h2>
        <p>
          For security reasons, you won't be able to rejoin the monetization
          program.
        </p>
        <m-button
          color="red"
          (onAction)="showModal = true; modalContent = 'leaveMonetization'"
          >Leave Monetization Program</m-button
        >
      </div> -->
  </ng-container>
  <!-- -------------------------------------------- -->
  <!--- CONFIRMATION MODAL: LEAVE EDIT MODE ---------->
  <!-- -------------------------------------------- -->
  <m-walletModal
    class="m-walletModal--confirmation"
    [showModal]="showModal && modalContent === 'leaveEditMode'"
    (closeModal)="showModal = false"
  >
    <p
      class="m-walletSecondaryText--desc"
      i18n="@@CASH_BANK_FORM__ARE_YOU_SURE_STOP"
    >
      Are you sure you want to stop? Any bank information you've entered will be
      lost.
    </p>

    <div class="m-walletForm__buttonsContainer">
      <m-button
        color="grey"
        (onAction)="showModal = false"
        i18n="@@COMMON__GO_BACK"
        >Go back</m-button
      >
      <m-button
        color="red"
        (onAction)="leaveEditMode()"
        [disabled]="inProgress"
        [saving]="inProgress"
        i18n="@@COMMON__IM_SURE"
        >I'm sure</m-button
      >
    </div>
  </m-walletModal>
  <!-- -------------------------------------------- -->
  <!--- CONFIRMATION MODAL: REMOVE BANK -------------->
  <!-- -------------------------------------------- -->
  <!-- <m-walletModal
    class="m-walletModal--confirmation"
    [showModal]="showModal && modalContent === 'removeBank'"
    (closeModal)="showModal = false"
  >
    <p class="m-walletSecondaryText--desc">
      Are you sure you want to remove your bank account information? You won't
      be able to receive payments until you add another one.
    </p>
    <div class="m-walletForm__buttonsContainer">
      <m-button color="grey" (onAction)="showModal = false"
        >Cancel</m-button
      >
      <m-button
        color="red"
        (onAction)="removeBank()"
        [disabled]="inProgress"
        [saving]="inProgress"
        >I'm sure</m-button
      >
    </div>
  </m-walletModal> -->
  <!-- -------------------------------------------- -->
  <!--- CONFIRMATION MODAL: LEAVE MONETIZATION ---------->
  <!-- -------------------------------------------- -->
  <!-- <m-walletModal
      class="m-walletModal--confirmation"
      [showModal]="showModal && modalContent === 'leaveMonetization'"
      (closeModal)="showModal = false"
    >
      <p class="m-walletSecondaryText--desc">
        Are you sure you want to leave the monetization program? You won't be
        able to rejoin again.
      </p>
      <div class="m-walletForm__buttonsContainer">
        <m-button color="grey" (onAction)="showModal = false"
          >Cancel</m-button
        >
        <m-button
          color="red"
          (onAction)="leaveMonetization()"
          [disabled]="inProgress"
          [saving]="inProgress"
          >I'm sure</m-button
        >
      </div>
    </m-walletModal> -->
  <!-- </ng-container>
  <ng-container *ngIf="leftMonetization">
    <p class="m-walletSecondaryText--desc">
      You have left the monetization program.
    </p>
  </ng-container> -->
</div>
