<ng-template #body>
  <m-analytics__tabs></m-analytics__tabs>
  <ng-template #headerFilters>
    <div class="m-analyticsDashboard__headerFilters" *ngIf="layout === 'chart'">
      <div class="m-analyticsDashboard__timespanFilter">
        <m-dropdownSelector
          [filter]="timespanFilter"
          [showLabel]="false"
          (selectionMade)="filterSelectionMade($event)"
        ></m-dropdownSelector>
      </div>
    </div>
  </ng-template>

  <m-loadingSpinner [inProgress]="loading$ | async"></m-loadingSpinner>

  <div class="m-analyticsDashboard" *ngIf="ready$ | async">
    <m-dashboardLayout>
      <ng-container m-dashboardLayout__header> </ng-container>
      <p
        m-dashboardLayout__body
        class="m-analyticsDashboard__description"
        *ngIf="description$ | async as description"
      >
        <ng-container *ngIf="(category$ | async) === 'earnings'">
          <span *ngIf="!session.getLoggedInUser().pro">
            To start earning more, upgrade to
            <a routerLink="/plus"> Minds+ </a> or
            <a routerLink="/pro">Pro</a>.</span
          >
          <a
            *ngIf="
              session.getLoggedInUser().pro &&
              !(
                session.getLoggedInUser().merchant &&
                session.getLoggedInUser().merchant['id']
              )
            "
            routerLink="/wallet/usd"
            >Enable payouts</a
          >
        </ng-container>
        {{ description }}
      </p>
      <m-analytics__layout--chart
        m-dashboardLayout__body
        *ngIf="layout === 'chart'"
        class="m-analytics__layout"
      ></m-analytics__layout--chart>
      <m-analytics__layout--summary
        m-dashboardLayout__body
        *ngIf="layout === 'summary'"
        class="m-analytics__layout"
      ></m-analytics__layout--summary>
    </m-dashboardLayout>
  </div>
</ng-template>

<ng-container *ngTemplateOutlet="body"></ng-container>
