@import 'defaults.scss';

:host {
  .m-topbar__walletBalance {
    display: flex;
    cursor: pointer;
    transition: all 0.07s ease-in;
    text-decoration: none;
    line-height: 22px;

    @include m-theme() {
      background: themed($m-bgColor--primary);
      color: themed($m-textColor--secondary);
    }

    border-radius: 20px;
    font-size: 13px;
    padding: 2px;

    m-icon {
      line-height: 22px;
    }

    &.m-topbarWrapper__giftIcon--isConnected {
      @include m-theme() {
        border: 1px solid themed($m-borderColor--primary);
      }
    }

    &__tokens {
      display: flex;
      align-items: center;
      border-radius: 20px;
      padding: 0 7px;
      padding: calc($spacing1 / 2) $spacing2;

      @include m-on-theme(light) {
        background: color-by-theme($m-borderColor--primary, 'light');
      }

      @include m-on-theme(dark) {
        background: color-by-theme($m-bgColor--secondary, 'dark');
      }

      m-icon {
        margin-right: $spacing1;
      }

      span {
        font-size: 12px;
        padding-left: 3px;

        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }

      ::ng-deep {
        .m-icon__custom svg {
          margin: 1px 4px 1px 1px;
          width: 16px;
        }
      }
    }

    &__connect {
      padding: 0 5px 0 3px;
      display: flex;
      align-items: center;

      span {
        padding-left: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 130px;
      }
    }
  }
}
