@import 'defaults.scss';

:host {
  margin: 0 40px;
  display: flex;
  flex-flow: column nowrap;

  @media screen and (max-width: 710px) {
    width: unset;
  }

  .m-onboardingUniqueness__headerSpan {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;

    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  .m-onboardingUniqueness__optionContainer {
    display: flex;
    flex-flow: row wrap;

    /**
     * TODO: remove when adding other 2 options
     * to panel.
     */
    justify-content: center;

    @media screen and (max-width: $max-mobile) {
      min-width: 100%;
    }

    @media screen and (min-width: $max-mobile) {
      * + div {
        margin-left: 20px;
      }
    }

    &:first-child {
      @include m-theme() {
        border-color: themed($m-blue);
      }
    }

    .m-onboardingUniqueness__optionContainer {
      display: flex;
      justify-content: center;
      position: relative;
      flex-grow: 1;
      border: 1px solid #d3dbe3;
      flex-direction: column;
      align-items: center;
      padding: 45px 0;
      margin-bottom: 40px;
      cursor: pointer;

      /**
       * TODO: remove when adding other 2 options
       */
      max-width: 33%;

      .m-onboardingUniqueness__tooltip {
        position: absolute;
        left: calc(100% - 32px);
        top: 8px;

        ::ng-deep {
          .m-tooltip--bubble {
            width: 300px;
          }
        }
      }
    }

    .m-onboardingUniqueness__optionIcon {
      font-size: 32px;
      margin-bottom: 8px;
    }

    ::ng-deep {
      .m-icon__custom svg {
        margin-bottom: 4px;
      }
    }

    .m-onboardingUniqueness__optionSpan {
      font-size: 16px;
      font-weight: 500;
    }
  }

  .m-onboardingUniqueness__divider {
    position: relative;
    display: flex;
    justify-content: center;

    .m-onboardingUniqueness__midDividerSpan {
      font-size: 16px;
      font-weight: 500;
      padding: 0 16px;
      position: absolute;
      top: -11px;

      @include m-theme() {
        color: themed($m-textColor--primary);
        background-color: themed($m-bgColor--secondary);
      }
    }

    .m-onboardingUniqueness__dividerBar {
      display: block;
      width: 100%;

      @include m-theme() {
        border-bottom: 1px solid themed($m-borderColor--primary);
      }
    }
  }

  .m-onboardingUniqueness__otherOptionsContainer {
    display: flex;
    flex-flow: row wrap;
    margin: 50px 0;

    .m-onboardingUniqueness__otherOption {
      display: block;
      text-align: center;
      flex-grow: 1;
      font-size: 16px;
      font-weight: 500;
      max-width: 33.3%;
      cursor: pointer;
      text-decoration: none;
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }
  }
}
