<div class="m-pro--channel-list-modal">
  <div
    class="m-pro--channel-list-modal--grid"
    [class.m-pro--channel-list-modal--activities-grid]="type === 'activities'"
  >
    <ng-container *ngFor="let entity$ of (entities$ | async); let i = index">
      <ng-container *ngIf="entity$ | async as entity">
        <ng-container *ngIf="type === 'images' || type === 'videos' || type === 'blogs'">
          <m-pro--channel-tile
            [entity]="entity"
            (click)="expand(entity)"
          ></m-pro--channel-tile>
        </ng-container>

        <ng-container *ngIf="type === 'activities'">
          <minds-activity
            [object]="entity"
          ></minds-activity>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>

  <infinite-scroll
    distance="25%"
    (load)="loadMore()"
    [moreData]="hasMore$ | async"
    [inProgress]="inProgress$ | async"
    [scrollSource]="this.parent"
  ></infinite-scroll>
</div>

<m-overlay-modal #overlayModal></m-overlay-modal>
