@import 'defaults.scss';

:host {
  display: contents;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  .m-modalV2__header {
    height: 150px;
    background-size: cover;
    box-sizing: border-box;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: $max-mobile) {
      margin-top: 70px;
    }

    .m-modalV2Header__title {
      font-size: 30px;
      font-weight: 700;

      @include m-theme() {
        color: themed($m-textColor--primary);
      }
    }
  }

  .m-modalV2__footer {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 40px 60px 40px;
    align-items: center;

    @media screen and (max-width: $max-mobile) {
      flex-flow: column nowrap;
      margin: 20px 0 20px 0;
      overflow-x: hidden; // positioning of modal means border will go out of modal

      .m-boostModal__boostButtonContainer {
        margin-top: 20px;
        width: 100%;
        padding-top: 20px;
        display: flex;
        justify-content: flex-end;
        padding-right: 40px;

        @include m-theme() {
          border-top: 1px solid themed($m-borderColor--primary);
        }
      }
    }

    .m-boostModal__footerText {
      display: block;
      margin-bottom: 10px;
      font-size: 15px;
      font-weight: 400;

      @media screen and (max-width: $max-mobile) {
        margin: 0 20px;
      }

      @include m-theme() {
        color: themed($m-textColor--secondary);
      }

      &.m-boostModal__footerText--primary {
        margin-top: 10px;

        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }
    }
  }
}
