<ng-container *ngIf="!inProgress; else inProgressSpinner">
  <div
    *ngIf="
      !active || userIsPro || (active && !hasSubscription);
      else cancelButton
    "
  >
    <div class="m-plusSubscriptionPlan__toggleContainer">
      <div class="m-plusSubscriptionPlan__toggle">
        <span i18n="@@PLUS_SUBSCRIPTION_OPTION__USD">USD</span>
        <span
          ><m-toggle
            [mModel]="currency"
            (mModelChange)="setCurrency($event)"
            leftValue="usd"
            rightValue="tokens"
          ></m-toggle
        ></span>
        <span i18n="@@PLUS_SUBSCRIPTION_OPTION__TOKENS">Tokens</span>
      </div>
      <div
        class="m-plusSubscriptionPlan__toggle"
        [ngClass]="{
          'm-plusSubscriptionPlan__toggle--hidden': currency !== 'usd'
        }"
      >
        <span i18n="@@PLUS_SUBSCRIPTION_OPTION__YEARLY">Yearly</span>
        <span
          ><m-toggle
            [mModel]="interval"
            (mModelChange)="setInterval($event)"
            leftValue="yearly"
            rightValue="monthly"
          ></m-toggle
        ></span>
        <span i18n="@@PLUS_SUBSCRIPTION_OPTION__MONTHLY">Monthly</span>
      </div>
    </div>

    <div class="m-plusSubscriptionPlan__trial" *ngIf="canHaveTrial">
      <h4>Start your free trial for 7 days</h4>
    </div>

    <div class="m-plusSubscriptionPlan__pricing">
      <ng-container *ngIf="currency === 'usd'">
        <div>
          <span
            class="m-plusSubscriptionPlanPricing__amount"
            i18n="@@PLUS_SUBSCRIPTION__PER_MONTH"
          >
            <span>{{ pricing.amount }}</span> per month
          </span>

          <span
            class="m-plusSubscriptionPlanPricing__offer"
            *ngIf="pricing.offerFrom"
            i18n="@@PLUS_SUBSCRIPTION__PER_MONTH"
          >
            <span>{{ pricing.offerFrom }}</span> per month
          </span>
        </div>
        <div
          class="m-plusSubscriptionPlanPricing__intervalDesc"
          *ngIf="interval === 'yearly'"
        >
          <span i18n="@@PLUS_SUBSCRIPTION__BILLED_ANNUALLY">
            Billed annually at {{ pricing.annualAmount }}
          </span>
        </div>
      </ng-container>
      <ng-container *ngIf="currency === 'tokens'">
        <div>
          <span
            class="m-plusSubscriptionPlanPricing__amount"
            i18n="@@PLUS_SUBSCRIPTION__MINDS_AMOUNT"
          >
            <span>{{ pricing.amount | number }}</span> MINDS
          </span>
        </div>
        <div class="m-plusSubscriptionPlanPricing__intervalDesc">
          <span i18n="@@PLUS_SUBSCRIPTION__LIFETIME_MEMBERSHIP">
            Lifetime membership!
          </span>
        </div>
      </ng-container>
    </div>

    <div class="m-plusSubscription__button">
      <m-button
        color="blue"
        [disabled]="upgradeButtonDisabled || inProgress || criticalError"
        (onAction)="enable()"
        i18n="@@PLUS_SUBSCRIPTION__UPGRADE_TO_PLUS"
      >
        <ng-container *ngIf="!canHaveTrial; else startTrialTxt">
          Upgrade to Minds+
        </ng-container>
        <ng-template #startTrialTxt>
          Start free trial
        </ng-template>
      </m-button>
      <div
        class="m-plusSubscriptionButton__notice"
        *ngIf="upgradeButtonDisabled"
      >
        <ng-container
          i18n="@@PLUS_SUBSCRIPTION__DISABLED_BECAUSE_PRO_MESSAGE"
          *ngIf="userIsPro; else cancelledButNotExpired"
          >Minds+ is already included with your subscription to Minds
          Pro</ng-container
        ><ng-template #cancelledButNotExpired
          ><ng-container
            *ngIf="expiryString"
            i18n="@@PLUS_SUBSCRIPTION__DISABLED_BECAUSE_CANCELLED"
            >You still have Minds+ until {{ expiryString }}.</ng-container
          ></ng-template
        >
      </div>
    </div>
  </div>

  <ng-template #cancelButton>
    <div class="m-plusSubscription__button">
      <m-button
        color="red"
        [disabled]="inProgress || criticalError"
        (onAction)="disable()"
        i18n="@@PLUS_SUBSCRIPTION__CANCEL_PLUS"
      >
        Cancel Minds+
      </m-button>
    </div>
  </ng-template>
</ng-container>

<ng-template #inProgressSpinner>
  <div class="m-plusSubscription__inProgress">
    <div class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
  </div>
</ng-template>
