.m-admin-withdrawals {
  .mdl-data-table {
    width: 100%;
  }

  .m-admin--withdrawals--ledger-tx {
    font-size: 12px;
  }

  .m-admin-withdrawals--user {
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding: 8px 8px 32px;
  }
}
